<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml" lang="en-us"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">


<title>Dashboard</title>
<link rel="stylesheet" href="/media/coco/bootstrap/docs/assets/css/bootstrap.css">
<link rel="stylesheet"  href="/media/coco/bootstrap/docs/assets/css/bootstrap-responsive.css">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>-->

<script type="text/javascript" src="/media/coco/bootstrap/docs/assets/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/backbone/json2.js"></script>
<script type="text/javascript" src="/media/js/backbone/underscore-min.js"></script>
<script type="text/javascript" src="/media/js/backbone/backbone-min.js"></script>
<script type="text/javascript" src="/media/coco/js/indexeddb-backbonejs-adapter/backbone-indexeddb.js"></script>
<!-- <script type="text/javascript" src="/media/coco/js/dashboard_offline.js"></script> -->
<script type="text/javascript" src="/media/coco/js/backbone_views.js"></script>
<script type="text/javascript" src="/media/coco/js/backbone_models.js"></script>
<script type="text/javascript" src="/media/coco/bootstrap/docs/assets/js/bootstrap.min.js"></script>

<meta name="robots" content="NONE,NOARCHIVE">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/template" id="header">
    <h1 class="page-header"><%= header_name %></h1>
</script>
    
<script type="text/template" id="dashboard">
    <div class="span4 well" style="margin-left:20px;">
        <table class="table table-bordered" style="background:white;">
        <tr>
        <td><a href="#village" class="village">Village</a></td>
        </tr>
        <tr>
        <td><a href="#video" class="video">Video</a></td>
        </tr>
        <tr>
        <td><a href="#group" class="persongroup">Group</a></td>
        </tr>
        <tr>
        <td><a href="#screening" class="screening">Screening</a></td>
        </tr>
        <tr>
        <td><a href="#person" class="person">Person</a></td>
        </tr>
		<tr>
        <td><a href="#personadoptvideo" class="personadoptvideo">Person Adopt Video</a></td>
        </tr>
		<tr>
        <td><a href="#animator" class="animator">Animator</a></td>
        </tr>
        </table>
   </div>
            
    <div class="span8" style="margin-left:20px;">
        <button id="connectivity" class="btn btn-large btn-block" style="margin-left:200px;margin-top:80px;width:400px;">Go <%= toggle_connectivity %></button>
            
        <button id="upload" class="btn btn-large btn-primary" style="margin-left:300px;margin-top:10px;">Upload</button>
        
        <button id="download" class="btn btn-large btn-primary" style="margin-left:20px;margin-top:10px;">Download</button>
    </div>
        
</script>
    
    
<script type="text/template" id="tpl-country-item">
    <td><%= id %></td>
    <td><%= country_name %></td>
    <td> <%= start_date %></td>
    <td>
    <a href="#" class="edit" title="Edit this entry"><i class="icon-pencil"></i></a>
    <a href="#" class="destroy" title="Delete this entry"><i class="icon-remove"></i></a>
    </td>
</script>
    

    
<script type="text/template" id="countries_table">
       <table class="table table-striped">
       <thead>
       <tr>
       <th>Id</th>
       <th>Country name</th>
       <th>Start Date</th>
       </tr>
       </thead>
       <tbody>
           
       </tbody>
</script>

<script type="text/template" id="village_table_template">
       <table class="table table-striped">
       <thead>
       <tr>
       <th>Id</th>
       <th>Village name</th>
       <th>Block</th>
	   <th>District</th>
	   <th>State</th>
	   <th>Country</th>
       </tr>
       </thead>
       <tbody>
           
       </tbody>
</script>
<script type="text/template" id="village_list_item_template">
    <td><%= id %></td>
    <td><%= village_name %></td>
    <td><%= block_name %></td>
    <td><%= district_name %></td>
    <td> <%= state_name %></td>
    <td><%= country_name %></td>
    <td>
    <a href="#" class="edit" title="Edit this entry"><i class="icon-pencil"></i></a>
    <a href="#" class="destroy" title="Delete this entry"><i class="icon-remove"></i></a>
    </td>
</script>

<script type="text/template" id="video_table_template">
       <table class="table table-striped">
       <thead>
       <tr>
       <th>Id</th>
       <th>Title</th>
	   <th>Village</th>
       <th>Youtube ID</th>
	   <th>Prod. Start Date </th>
	   <th>Prod. End Date</th>
	   </tr>
       </thead>
       <tbody>
           
       </tbody>
</script>
<script type="text/template" id="video_list_item_template">
    <td><%= id %></td>
    <td> <%= title %></td>
	<td><%= village.village_name %></td>
    <td> <%= youtubeid %></td>
    <td> <%= video_production_start_date %></td>
    <td> <%= video_production_end_date %></td>
    <td>
	<a href="#" class="edit" title="Edit this entry"><i class="icon-pencil"></i></a>
    <a href="#" class="destroy" title="Delete this entry"><i class="icon-remove"></i></a>
    </td>
</script>

<script type="text/template" id="persongroup_table_template">
       <table class="table table-striped">
       <thead>
       <tr>
       <th>Id</th>
       <th>Name</th>
       <th>Village</th>
	   </tr>
       </thead>
       <tbody>
           
       </tbody>
</script>
<script type="text/template" id="persongroup_list_item_template">
    <td><%= id %></td>
    <td><%= group_name %></td>
    <td> <%= village.village_name %></td>
    <td>
    <a href="#" class="edit" title="Edit this entry"><i class="icon-pencil"></i></a>
    <a href="#" class="destroy" title="Delete this entry"><i class="icon-remove"></i></a>
    </td>
</script>

<script type="text/template" id="screening_table_template">
       <table class="table table-striped">
       <thead>
       <tr>
       <th>Id</th>
       <th>Village</th>
       <th>Groups</th>
	   <th>Videos</th>
	   </tr>
       </thead>
       <tbody>
           
       </tbody>
</script>
<script type="text/template" id="screening_list_item_template">
    <td><%= id %></td>
    <td><%= village.village_name %></td>
    <% 	var vids_screened=""; 
		for (var i = 0; i < videos_screened.length; i++) 
		{
		    vids_screened = (i==(videos_screened.length-1))?vids_screened.concat(videos_screened[i].title):vids_screened.concat(videos_screened[i].title+", ");
			
		}
		
		var groups="";
		for (var i = 0; i < person_groups.length; i++) 
		{
		    groups = (i==(person_groups.length-1))?groups.concat(person_groups[i].group_name):groups.concat(person_groups[i].group_name+", ");
			
		} 
	%>
	<td> <%= groups %></td>
	<td><%= vids_screened %> </td>
    <td>
    <a href="#" class="edit" title="Edit this entry"><i class="icon-pencil"></i></a>
    <a href="#" class="destroy" title="Delete this entry"><i class="icon-remove"></i></a>
    </td>
</script>

<script type="text/template" id="person_table_template">
       <table class="table table-striped">
       <thead>
       <tr>
       <th>Id</th>
	   <th>Name</th>
	   <th>Father Name</th>
       <th>Village</th>
       <th>Group</th>
	   </tr>
       </thead>
       <tbody>
           
       </tbody>
</script>
<script type="text/template" id="person_list_item_template">
    <td><%= id %></td>
    <td><%= person_name %></td>
    <td> <%= father_name %></td>
    <td> <%= village.village_name %></td>
    <td> <%= person_group.group_name %></td>
    <td>
	<a href="#" class="edit" title="Edit this entry"><i class="icon-pencil"></i></a>
    <a href="#" class="destroy" title="Delete this entry"><i class="icon-remove"></i></a>
    </td>
</script>

<script type="text/template" id="personadoptvideo_table_template">
       <table class="table table-striped">
       <thead>
       <tr>
       <th>Id</th>
       <th>Village</th>
       <th>Groups</th>
	   <th>Videos</th>
	   </tr>
       </thead>
       <tbody>
           
       </tbody>
</script>
<script type="text/template" id="personadoptvideo_list_item_template">
    <td><%= id %></td>
    <td><%= country_name %></td>
    <td> <%= start_date %></td>
    <td>
    <a href="#" class="edit" title="Edit this entry"><i class="icon-pencil"></i></a>
    <a href="#" class="destroy" title="Delete this entry"><i class="icon-remove"></i></a>
    </td>
</script>

<script type="text/template" id="animator_table_template">
       <table class="table table-striped">
       <thead>
       <tr>
       <th>Id</th>
       <th>Village</th>
       <th>Groups</th>
	   <th>Videos</th>
	   </tr>
       </thead>
       <tbody>
           
       </tbody>
</script>
<script type="text/template" id="animator_list_item_template">
    <td><%= id %></td>
    <td><%= country_name %></td>
    <td> <%= start_date %></td>
    <td>
    <a href="#" class="edit" title="Edit this entry"><i class="icon-pencil"></i></a>
    <a href="#" class="destroy" title="Delete this entry"><i class="icon-remove"></i></a>
    </td>
</script>

<script  type="text/template" id="list_view_template">
    <div class="well">
    <div style= "float:left;">
    <input id ="search_box" style="margin:0px;" type="text" name="q" alt="Search" value="" maxlength="256" size="32" />
    <button id="search_button" class="btn" style="margin-left:10px;">Search</button>
    </div>
    <button id="add" class="btn" style="float:right;margin-right:10px;">Add</button>
    </div>
</script>

	
<script type="text/template" id="options_template">
    <option value='<%=id%>'><%=name%></option> 
</script>

<script type="text/template" id="person_add_edit_template">

<link rel='stylesheet' type='text/css' href='/media/css/forms.css' />  
								<div id='content' class='colM'> 
									<div id='content-main'> 
										
												<fieldset class='module aligned '> 
													<div class='form-row person_name  '> 
														<div> 
															<label for='id_person_name' class='required'>Person name:</label><input id='id_person_name' type='text' class='vTextField' name='person_name' maxlength='100' /> 
														</div> 
													</div> 
													<div class='form-row father_name  '> 
														<div> 
															<label for='id_father_name'>Father name:</label><input id='id_father_name' type='text' class='vTextField' name='father_name' maxlength='100' /> 
														</div> 
													</div> 
													<div class='form-row age  '> 
														<div> 
															<label for='id_age'>Age:</label><input id='id_age' type='text' class='vIntegerField' name='age' /> 
														</div> 
													</div> 
													<div class='form-row gender  '> 
														<div> 
															<label for='id_gender' class='required'>Gender:</label><select name='gender' id='id_gender'> 
																<option value='' selected='selected'>---------</option> 
																<option value='M'>Male</option> 
																<option value='F'>Female</option> 
															</select> 
														</div> 
													</div> 
													<div class='form-row phone_no  '> 
														<div> 
															<label for='id_phone_no'>Phone no:</label><input id='id_phone_no' type='text' class='vTextField' name='phone_no' maxlength='100' /> 
														</div> 
													</div> 
													<div class='form-row address  '> 
														<div> 
															<label for='id_address'>Address:</label><input id='id_address' type='text' class='vTextField' name='address' maxlength='500' /> 
														</div> 
													</div> 
													<div class='form-row land_holdings  '> 
														<div> 
															<label for='id_land_holdings'>Land holdings(in acres):</label><input id='id_land_holdings' type='text' class='vIntegerField' name='land_holdings' /> 
														</div> 
													</div> 
													<div class='form-row village  '> 
													<div> 
														<label for='id_village' class='required'>Village:</label> 
														<select name='village' id='id_village'>
														<option value='' selected='selected'>---------</option>
														</select>  
    												    </div> 
    											    </div> 
    													<div class='form-row group  '> 
    														<div> 
    															<label for='id_group'>Group:</label><select name='group' id='id_group'> 
    																<option value='' selected='selected'>---------</option> 
    															</select> 
    														</div> 
    													</div> 
    												</fieldset> 
    												<div class='submit-row' > 
    												<input id='save' type='button' value='Save' class='default' name='_save' /> 
    												</div> 
    												
    												
    									</div> 
    									<br class='clear' /> 
    								</div>
                                                    
                                                        </script>
                                                        
                                                        
<script type="text/template" id="screening_add_edit_template">
    
 <link rel='stylesheet' type='text/css' href='/media/css/forms.css' /> 
 <link href='/media/css/screening_page.css' type='text/css' media='all' rel='stylesheet' /> 
							<div id='content' class='colM'> 
							<div id='content-main'> 
								<fieldset class='module aligned '> 
									<div class='form-row date  '> 
										<div> 
											<label for='id_date' class='required'>Date:</label> 
											<input id='id_date' type='text' class='vDateField' name='date' size='10' /> 
										</div> 
									</div> 
									<div class='form-row start_time  '> 
										<div> 
											<label for='id_start_time' class='required'>Start time:</label> 
											<input id='id_start_time' type='text' class='vTimeField' name='start_time' size='8' /> 
										</div> 
									</div> 
									<div class='form-row end_time  '> 
										<div> 
											<label for='id_end_time' class='required'>End time:</label> 
											<input id='id_end_time' type='text' class='vTimeField' name='end_time' size='8' /> 
										</div> 
									</div> 
									<div class='form-row location  '> 
										<div> 
											<label for='id_location'>Location:</label> 
											<input id='id_location' type='text' class='vTextField' name='location' maxlength='200' /> 
										</div> 
									</div> 
									<div class='form-row village  '> 
										<div> 
											<label for='id_village' class='required'>Village:</label>
											<select name='village' id='id_village'> 
												<option value='' selected='selected'>---------</option> 

											</select> 
				
										</div> 
									</div> 
									<div class='form-row animator  '> 
										<div> 
											<label for='id_animator' class='required'>Animator:</label> 
											<select name='animator' id='id_animator'> 
												<option value='' selected='selected'>---------</option> 
                                               
											</select> 
										</div> 
									</div> 
									<div class='form-row videoes_screened  '> 
										<div> 
											<label for='id_videoes_screened' class='required'>Videoes screened:</label> 
											<select multiple='multiple' name='videoes_screened' id='id_videoes_screened'> 
											</select> 
										
											</a> 
											<p class='help'> Hold down 'Control', or 'Command' on a Mac, to select more than one.</p> 
										</div> 
									</div> 
									<div class='form-row fieldofficer  '> 
										<div> 
											<label for='id_fieldofficer'>Fieldofficer:</label> 
											<select name='fieldofficer' id='id_fieldofficer'> 
												<option value='' selected='selected'>---------</option> 
											</select> 
											</a> 
										</div> 
									</div> 
									<div class='form-row farmer_groups_targeted  '> 
										<div> 
											<label for='id_farmer_groups_targeted' class='required'>Groups targeted:</label> 
											
											<select id='id_farmer_groups_targeted' name='farmer_groups_targeted' multiple='multiple'> 
											</select> 
										</div> 
									</div> 
								</fieldset> 
								<div class='inline-group'> 
									<div class='tabular inline-related last-related'> 
										<input type='hidden' name='personmeetingattendance_set-TOTAL_FORMS' value='0' id='id_personmeetingattendance_set-TOTAL_FORMS' /> 
										<input type='hidden' name='personmeetingattendance_set-INITIAL_FORMS' value='0' id='id_personmeetingattendance_set-INITIAL_FORMS' /> 
										<fieldset class='module'> 
											<h2>Person meeting attendances</h2> 
											<table> 
												<thead> 
													<tr> 
														<th>Delete?</th> 
														<th>Sr No.</th> 
														<th >Person</th> 
														<th >Expressed Adopted Video</th> 
														<th >Question Asked</th> 
														<th >Interested?</th> 
													</tr> 
												</thead> 
											</table> 
										</fieldset> 
									</div> 
								</div> 
								<div class='submit-row' > 
									<input id='save' type='button' value='Save' class='default' name='_save' /> 
								</div> 
                              
							</div> 
							<br class='clear' /> 
						</div>
    
    
</script>

</head>
<body id ="app">
   
</body>
</html>
