<html>
<head></head>
<body>

	<div class="modal-body"
		style="padding: 3px; border: 5px solid #666666;">
<div id="content" style="width: 710px;">
<div class='vil_left_panel' style="margin-left: 0px; height: 550px;">
<div class="left_panel_top">
<div id="district_label" >{{left_panel_stats.partner_details.0.2 }}</div>
	<div id="name_label">
		<center>{{ left_panel_stats.partner_details.0.1 }}</center>
	</div>
	<div id="district_label" ><center>
	{% for v in left_panel_stats.assigned_districts %}
						{{v|lower|capfirst}}{% if not forloop.last %}|  {% endif%}
						{% endfor %}</center>
						</div>
	
	<center><img id="img_container" src={{left_panel_stats.photo_link}}></center>
	{% if  left_panel_stats.partner_details.0.4 %}
	<div class="group_label" > <center> Started: {{ left_panel_stats.partner_details.0.4 }}</center></div>
	{% endif %}
						<div id="progress_bar_label" style="margin-right:5px;"><center>Screenings per Month</center></div>
						<div class="progress progress-striped">
							  <div class="bar "  style="width: {{left_panel_stats.pbar_width|floatformat:1 }}% ;"><p> {{ left_panel_stats.rate|floatformat:1 }}</p></div>
							</div>
						

	
</div>
{% load humanize %}
<div class="left_panel_bottom" style="padding-top: 0px;">
<div class='horizontal_line'></div>
<div class='statsLabel'>Villages</div>
<div class='statsValue'>{{left_panel_stats.number_villages|intcomma  }}</div>
<div class='horizontal_line'></div>
<div class='statsLabel'>Farmers</div>
<div class='statsValue'>{{left_panel_stats.farmers|intcomma  }}</div>
<div class='horizontal_line'></div>
<div class='statsLabel'>Screenings</div>
<div class='statsValue'>{{ left_panel_stats.Screenings|intcomma  }}</div>
<div class='horizontal_line'></div>
<div class='statsLabel'>Adoptions</div>
<div class='statsValue'>{{ left_panel_stats.total_adoptions|intcomma  }}</div>
<div class='horizontal_line'></div>

			


	
	

		
</div>
</div>

<div class='content_top' style="margin-left: 255px; height: auto;">
<div id="closeButton"
	style="float: right; margin-top: -5px; margin-left: 5px;">
	<a class="close" data-dismiss="modal">x</a>
</div>
<div style="height: 1px;"></div>
	<div class='related_farmer'>
			<div class="section_title"> <span style="font-size:90%; margin-left:-5px;margin-top:-20px; color:#6D9D30">Other Partners</span> </div>
			<div style='border-bottom:3px solid #009E0F;'></div>
			<div style='border: 1px solid #009E0F;height:311px;'>
<div class="carousel slide span8" id="lbCarousel"
	style="width: 710px;">
	<div class="carousel-inner" style="height: 300px;">
		{% for partner in partner_stats %} {% if forloop.counter0|divisibleby:"3" %}
		<div class="item{% if forloop.first %} active{%endif%}">
			<ul class="thumbnails" style="margin-left: 24px; margin-top: 1px; height: 310px;">
				{% endif%}
				<li style="margin-left: 2px; margin-top: -9px;">
					<div class='farmer_details_container'>
					<center><img src={{partner.1.7}}>
						<div class='csp_name'>
							<a href="javascript:void(0);"
								onclick="partnerClick({{ partner.1.0 }})">{{ partner.1.1 }}</a>
						</div></center>

						<div  style="margin-top: 0px;font-weight:bold;font-color:green"><center>{{partner.1.2|intcomma  }} Screenings</center></div>
						<div id="progress_bar_label" style="margin-right:5px;"><center>Screenings per Month</center></div>
						<div class="progress progress-striped">
							  <div class="bar "  style="width: {{partner.1.5|floatformat:1 }}% ;"><p> {{ partner.1.4|floatformat:1 }}</p></div>
							</div>
						
		<table width="200">		
			<tr>
				<td align="left">{{ partner.1.3|date:"M Y" }}</td>
				<td align="center"> {{ partner.1.2|intcomma}}</td>
				<td align="right"> {{ partner.1.6|intcomma}}</td>
			</tr>
			<tr>
				<td align="left"><b> Started</b></td>
				<td align="center"><b> Screenings</b></td>
				<td align="right"><b>Adoptions</b></td>
			</tr>
		</table>		
		
						
						
						

					</div>
				</li> {% if forloop.counter|divisibleby:"3" and not forloop.first or forloop.last %}
		</div>
		</ul>
		{% endif%} 
		{% endfor %}
	</div>
	<a data-slide="prev" href="#lbCarousel" class="left carousel-control" style="margin-left: -34px;"><</a>
	<a data-slide="next" href="#lbCarousel" class="carousel-control" style="margin-left: 650px !important">></a>
			</div>

		</div>



</div>


	</div>
</div>






<script type="text/javascript">
var videos_watched_html;
function person_click(person_id) {
	$("#myModal").html("");
	$("#myModal").load('/getpersonpage?person_id='+person_id, function(response, status, xhr) {
		  if (status == "error") {
			var msg = "Sorry but there was an error: ";
			alert(msg + xhr.status + " " + xhr.statusText);
		  }
		  //alert('Load was performed.');
		 // alert($("div#content").html());
		  mixpanel.track("Person Page Loaded")
		  });
}

function groupClick(group_id) {
	$("#myModal").html("");
	$("#myModal").load('/getgrouppage?group_id='+group_id, function(response, status, xhr) {
		  if (status == "error") {
			var msg = "Sorry but there was an error: ";
			alert(msg + xhr.status + " " + xhr.statusText);
		  }
		  //alert('Load was performed.');
		 // alert($("div#content").html());
		  mixpanel.track("Group Page Loaded")
		  });
}







function ajax_tab_click(clicked, village_id) {    
    if(clicked=="videos_produced") {
		videos_watched_html = $("div#top_tabcontent").html();
		//alert(videos_watched_html);
		$("div#top_tabcontent").html("");
		//alert('here in ajax tab click');
		$("div#top_tabcontent").load('/getvideosproduced?village_id='+village_id, function(response, status, xhr) {
		  if (status == "error") {
			var msg = "Sorry but there was an error: ";
			alert(msg + xhr.status + " " + xhr.statusText);
		  }
		  //alert('Load was performed.');
		  //alert($("div#top_tabcontent").html());
		});
		$("li").removeClass("tabsliselect");
		//$("#tabsli a").css("color","#330000");
		//$(".produced a").css("color","#ffffff");
		$(".giftsli").addClass("tabsliselect");
		$(".giftsli").removeAttr('href');
		 mixpanel.track("Videos Produced page Loaded")
	} else if (clicked=="videos_watched") {
		$("div#top_tabcontent").html("");
		$("div#top_tabcontent").html(videos_watched_html);
		//alert(videos_watched_html);
		$("li").removeClass("tabsliselect");
		//$("#tabsli a").css("color","#330000");
		//$(".produced a").css("color","#ffffff");
		$(".playli").addClass("tabsliselect");
		$(".playli").removeAttr('href');
		
	}
	//alert($("div#top_tabcontent").html());
	//$("li").removeClass("active");	
	//$("#home").addClass("active");
	

			
			
}

	var show_per_page = 4; 
			//getting the amount of elements inside pag_content div
			var number_of_items = $('#pag_content').children().size();
			//calculate the number of pages we are going to have
			var number_of_pages = Math.ceil(number_of_items/show_per_page);
			
			//set the value of our hidden input fields
			$('#current_page').val(0);
			$('#show_per_page').val(show_per_page);
			
			//now when we got all we need for the navigation let's make it '
			
			/* 
			what are we going to have in the navigation?
				- link to previous page
				- links to specific pages
				- link to next page
			*/
			var navigation_html='' ;//= '<a class="previous_link" href="javascript:previous();">Prev</a>';
			var current_link = 0;
			while(number_of_pages > current_link){
				navigation_html += '<a class="normalSlide" href="javascript:go_to_page(' + current_link +')" title="Jump to page ' + (current_link + 1) +'" longdesc="' + current_link +'">'+ (current_link + 1) +'</a>';
				current_link++;
			}
			//navigation_html += '<a class="next_link" href="javascript:next();">Next</a>';
			
			$('#page_navigation').html(navigation_html);
			
			//add active_page class to the first page link
			$('#page_navigation .normalSlide:first').addClass('activeSlide');
			
			//hide all the elements inside pag_content div
			$('#pag_content').children().css('display', 'none');
			
			//and show the first n (show_per_page) elements
			$('#pag_content').children().slice(0, show_per_page).css('display', 'block');
</script>
		</div>
</body>
</html>



