<div class="carousel slide span8" id="myCarousel" style="width:710px;height:170px;">
	<div class="carousel-inner">				
	{% for vid in videos_produced_stats %}
			{% if forloop.counter0|divisibleby:"5" %}
					<div class="item{% if forloop.first %} active{%endif%}">							
					<ul class="thumbnails" style="margin-left:28px; margin-top:5px;">										
			{% endif%}
			<li class="vidsWatchedItem">
				<div class="thumbnail">
					<img src="http://img.youtube.com/vi/{{ vid.youtubeid }}/2.jpg" alt="">
				</div>
				<div class="video_title" title="Produced On :{{ vid.productiondate }}" style="margin-top:0px;" ><a href="" >{{ vid.title }}</a> </div>
				{% if vid.adopters %}
					<div class="question" style="margin-top:0px;">{{ vid.adopters }} adopters </div>
				{% endif %}
				{% if vid.viewers %}
					<div class="question" style="margin-top:0px;">{{ vid.viewers }} viewers </div>
				{% endif %}
				</li>
			{% if forloop.counter|divisibleby:"5" and not forloop.first or forloop.last %}						    
				</div>							
				</ul>										
			{% endif%}							
	{% endfor %}					
	</div>
	<a data-slide="prev" href="#myCarousel" class="left carousel-control" style="margin-left:-40px;"><</a>
	<a data-slide="next" href="#myCarousel" class="carousel-control" style="margin-left:650px !important">></a>
</div>
    	