<html>
<head>
	<link type='text/css' rel='stylesheet' href='/media/farmerbook/css/farmer_page.css'/>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script type='text/javascript'>
		$(document).ready(function() {
		$("#progress_bar_1").progressbar({ value: 37 });
		$("#progress_bar_2").progressbar({ value: 70 });
		$("#progress_bar_3").progressbar({ value: 37 });
		$("#progress_bar_4").progressbar({ value: 50 });
		//$('#content').hide();
		
		});
	</script>
</head>
<body style="font-family: Calibri; font-weight: normal;">
<div id="content">
<div class='vil_left_panel'>
	<div class="left_panel_top">
		<div id="district_label" >Dindori | MadhyaPradesh</div>
			<img id="img_container" src='/media/farmerbook/images/vil1.jpg'>
		<div id="name_label" > Neemkheda</div>
		<div class="group_label" > Mandla </div>
		<div class="group_label" > Started: Dec 21, 2010</div>		
		
	</div>
	<div class="left_panel_bottom">
		<div class='horizontal_line'> </div>
		<div class= 'statsLabel'> Active Farmers</div>
		<div class = 'statsValue'> 400 </div>
		<div class='horizontal_line'> </div>
		<div class= 'statsLabel'> Videos Watched</div>
		<div class = 'statsValue'> 120 </div>
		<div class='horizontal_line'> </div>
		<div class= 'statsLabel'> Questions Asked</div>
		<div class = 'statsValue'> 109 </div>
		<div class='horizontal_line'> </div>
		<div class= 'statsLabel'> Adoptions</div>
		<div class = 'statsValue'> 200 </div>
		<div class='horizontal_line'> </div>
		<div class='group_members'>
			<div class='section_title'> Groups(12) </div>
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<img class="group_image" src="/media/farmerbook/images/vil1.jpg" id="nap257">
			<div style="font-size:16px;margin-left:150px;margin-right:10px;float:left;"> <a href="#" >1</a> </div>
			<div style="font-size:16px;margin-right:10px; float:left;"> <a href="#" >2</a> </div>
			<div style="font-size:16px;"> <a href="#" >3</a> </div>
		</div>
		<div class='horizontal_line'> </div>
		<div class = "imgContainerLabel">Partner</div>
		<div class= 'statsLabel'> 
			<img  style='float:left;' src='http://digitalgreen.org/media/Output/Images/partner/access_logo1.PNG'>	
		</div>	
		<div class = "imgLabel" > ACCESS </div>
		<div style="clear:both;"></div>
		<div class='horizontal_line'> </div>
		<div class = "imgContainerLabel">Service Provider</div>
		<img  style= "float:left; width:150px; height:100px; margin-left: 5px;"src=''>		
		<div class = "imgLabel"> Ravi Kumar </div>
		<div style='clear:both;'></div>
	</div>
</div>
<div class='content_top'>
	<div id="tabs">
		<div id='toptabs'> 
			<ul>
				<li id='tabsli' class='playli'> <span>Videos Watched (20)</span></a> </li>
				<li id='tabsli' class='giftsli'> <span>Videos Produced (5)</span></a> </li>				
			</ul>
		</div>
		<div class='vil_tabcontent' id="tabcontent" height="auto" style='width:100%; margin:0px;'>
			<img class="pagination_left" src="/media/farmerbook/images/LeftFillTriangleIcon.png">
			<img class="imagecontainer" src="/media/farmerbook/images/img31.jpg">
			<img class="imagecontainer" src="/media/farmerbook/images/img2.jpg">
			<img class="imagecontainer" src="/media/farmerbook/images/img40.jpg">
			<img class="imagecontainer" src="/media/farmerbook/images/img56.jpg">
			<img class="imagecontainer" src="/media/farmerbook/images/img50.jpg">
			<img class="pagination_right" src="/media/farmerbook/images/RightFillTriangleIcon.png">
			<div class="video_title first">Vermi Compost production in FYM pit</div>
			<div class="video_title">Mulching System for Plant Basin</div>
			<div class="video_title">Dehorning for cross breed calves</div>
			<div class="video_title">Basin preparation for Horticulture</div>
			<div class="video_title">Staking for plant protection</div>
			<div style="clear:both;"></div>
			<div class="last_seen first">Last seen 18 minutes ago</div>
			<div class="last_seen">Last seen 1 day ago</div>
			<div class="last_seen">Last seen 2 days ago</div>
			<div class="last_seen">Last seen 1 month ago</div>
			<div class="last_seen">Last seen 1 year ago</div>
			<div style="clear:both;"></div>
			<div class="question first">10 adopters </br>10 interested </br>5 questioners</div>
			<div class="question">9 adopters</br> 5 questioners</div>
			<div class="question" style="margin-left:128px;">1 adopter </br>1 interested</br> 5 questioners</div>
			<div class="question">3 adopters</br> 5 questioners</div>			
    	</div>
		<div style="height:5px;"> </div>
		<div id='toptabs'> 
			<ul>
				<li id='tabsli' class='playli'> <span>Farmers</span></a> </li>
				<li id='tabsli' class='giftsli'> <span>Groups</span></a> </li>				
			</ul>
		</div>
		<div class='vil_tabcontent' id="tabcontent" style='width:100%; margin:0px; height:673px;'>
			<div class='related_farmer'>
				<div class='vil_section_title'> Top Adopters </div>
				<div style='border-bottom:1px solid #009E0F;'></div>
				<div >
				<img class="pagination_left" src="/media/farmerbook/images/LeftFillTriangleIcon.png">			
				<div  class= 'farmer_details_container'>
					<img  src="/media/farmerbook/images/10000000010181_tn.jpg">
					<div class='farmer_name'> <a href="" >Gauravva Channappa</a> </div>
					<div class='last_adopted'> Last adopted: Seed Treatment on Mar 10, 2011 </div>
					<div id="progress_bar_label" style="margin-right:5px;"> Adoption Rate </div>
					<div class= "progress_bar" id = "progress_bar_2" style="font-size:60%;"> </div>
					<div id = 'progress_bar_content'>
						<div style="margin-right:20px; float:left; font-weight:bold"> Dec 12, 2012 </div>
						<div style="margin-right:45px; float:left; font-weight:bold"> 57 </div>
						<div style="margin-right:0px; float:left; font-weight:bold"> 40	</div>
						<div style="clear:both;"></div>
						<div style="margin-right:57px; float:left;"> Joined </div>
						<div style="margin-right:25px; float:left;"> Views	</div>
						<div style="margin-right:0px; float:left;"> Adopted </div>		
					</div>
				</div>
				
				<div  class= 'farmer_details_container'>
					<img  src="/media/farmerbook/images/10000000015678_thumbnail.jpg">
					<div class='farmer_name'> <a href="" >Lakshmi Bai</a> </div>
					<div class='last_adopted'> Last adopted: Seed Treatment on Mar 10, 2011 </div>
					<div id="progress_bar_label" style="margin-right:5px;"> Adoption Rate </div>
					<div class= "progress_bar" id = "progress_bar_3" style="font-size:60%;"> </div>
					<div id = 'progress_bar_content'>
						<div style="margin-right:20px; float:left; font-weight:bold"> Dec 12, 2012 </div>
						<div style="margin-right:45px; float:left; font-weight:bold"> 57 </div>
						<div style="margin-right:0px; float:left; font-weight:bold"> 40	</div>
						<div style="clear:both;"></div>
						<div style="margin-right:57px; float:left;"> Joined </div>
						<div style="margin-right:25px; float:left;"> Views	</div>
						<div style="margin-right:0px; float:left;"> Adopted </div>		
					</div>
				</div>
				
				<div  class= 'farmer_details_container'>
					<img  src="/media/farmerbook/images/10000000015646_tn.jpg">
					<div class='farmer_name'> <a href="" >Kalavati Devi</a> </div>
					<div class='last_adopted'> Last adopted: Seed Treatment on Mar 10, 2011 </div>
					<div id="progress_bar_label" style="margin-right:5px;"> Adoption Rate </div>
					<div class= "progress_bar" id = "progress_bar_4" style="font-size:60%;"> </div>
					<div id = 'progress_bar_content'>
						<div style="margin-right:20px; float:left; font-weight:bold"> Dec 12, 2012 </div>
						<div style="margin-right:45px; float:left; font-weight:bold"> 57 </div>
						<div style="margin-right:0px; float:left; font-weight:bold"> 40	</div>
						<div style="clear:both;"></div>
						<div style="margin-right:57px; float:left;"> Joined </div>
						<div style="margin-right:25px; float:left;"> Views	</div>
						<div style="margin-right:0px; float:left;"> Adopted </div>		
					</div>
				</div>
				<div style='text-align:right;'>
				<img class="pagination_right" src="/media/farmerbook/images/RightFillTriangleIcon.png">
				<div style='clear:both;'></div>
				</div>
				</div>
			</div>
			
			<div class='related_farmer'>
				<div class='vil_section_title'> Top Viewers </div>
				<div style='border-bottom:1px solid #009E0F;'></div>
				<div >
				<img class="pagination_left" src="/media/farmerbook/images/LeftFillTriangleIcon.png">			
				<div  class= 'farmer_details_container'>
					<img  src="/media/farmerbook/images/10000000010181_tn.jpg">
					<div class='farmer_name'> <a href="" >Gauravva Channappa</a> </div>
					<div class='last_adopted'> Last adopted: Seed Treatment on Mar 10, 2011 </div>
					<div id="progress_bar_label" style="margin-right:5px;"> Adoption Rate </div>
					<div class= "progress_bar" id = "progress_bar_2" style="font-size:60%;"> </div>
					<div id = 'progress_bar_content'>
						<div style="margin-right:20px; float:left; font-weight:bold"> Dec 12, 2012 </div>
						<div style="margin-right:45px; float:left; font-weight:bold"> 57 </div>
						<div style="margin-right:0px; float:left; font-weight:bold"> 40	</div>
						<div style="clear:both;"></div>
						<div style="margin-right:57px; float:left;"> Joined </div>
						<div style="margin-right:25px; float:left;"> Views	</div>
						<div style="margin-right:0px; float:left;"> Adopted </div>		
					</div>
				</div>
				
				<div  class= 'farmer_details_container'>
					<img  src="/media/farmerbook/images/10000000015678_thumbnail.jpg">
					<div class='farmer_name'> <a href="" >Lakshmi Bai</a> </div>
					<div class='last_adopted'> Last adopted: Seed Treatment on Mar 10, 2011 </div>
					<div id="progress_bar_label" style="margin-right:5px;"> Adoption Rate </div>
					<div class= "progress_bar" id = "progress_bar_3" style="font-size:60%;"> </div>
					<div id = 'progress_bar_content'>
						<div style="margin-right:20px; float:left; font-weight:bold"> Dec 12, 2012 </div>
						<div style="margin-right:45px; float:left; font-weight:bold"> 57 </div>
						<div style="margin-right:0px; float:left; font-weight:bold"> 40	</div>
						<div style="clear:both;"></div>
						<div style="margin-right:57px; float:left;"> Joined </div>
						<div style="margin-right:25px; float:left;"> Views	</div>
						<div style="margin-right:0px; float:left;"> Adopted </div>		
					</div>
				</div>
				
				<div  class= 'farmer_details_container'>
					<img  src="/media/farmerbook/images/10000000015646_tn.jpg">
					<div class='farmer_name'> <a href="" >Kalavati Devi</a> </div>
					<div class='last_adopted'> Last adopted: Seed Treatment on Mar 10, 2011 </div>
					<div id="progress_bar_label" style="margin-right:5px;"> Adoption Rate </div>
					<div class= "progress_bar" id = "progress_bar_4" style="font-size:60%;"> </div>
					<div id = 'progress_bar_content'>
						<div style="margin-right:20px; float:left; font-weight:bold"> Dec 12, 2012 </div>
						<div style="margin-right:45px; float:left; font-weight:bold"> 57 </div>
						<div style="margin-right:0px; float:left; font-weight:bold"> 40	</div>
						<div style="clear:both;"></div>
						<div style="margin-right:57px; float:left;"> Joined </div>
						<div style="margin-right:25px; float:left;"> Views	</div>
						<div style="margin-right:0px; float:left;"> Adopted </div>		
					</div>
				</div>
				<div style='text-align:right;'>
				<img class="pagination_right" src="/media/farmerbook/images/RightFillTriangleIcon.png">
				</div>
				</div>
			</div>
    	</div>			
		
  </div>
</div>
</div>
</body>
</html>