django==1.3.1
mysql-python==1.2.3
south==0.7.6
django-ajax-filtered-fields==0.5
django-debug-toolbar==0.8.5
gdata==2.0.15
python-cjson==1.0.5
wadofstuff-django-serializers==1.1.0
wsgiref==0.1.2
yolk==0.4.1
oauth2==1.5.211
twython==3.0.0