{% extends "base_video.html" %}

{% block title %} DigitalGreen - Search Videos{% endblock title%}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/searchvideo.css'/>
	<link href="/media/css/jquery.loadmask.css" rel="stylesheet" type="text/css" />       
{% endblock cssfile %}

{% block videobreadcrums %}	 
{% endblock videobreadcrums %}	  

{% block jsfile %}
	<script type="text/javascript" src="/media/js/jquery.loadmask.min.js"></script>
    <script>
    function init_box_params() {
    var video_suitable_for = {%if search_box_params.video_suitable_for %}{{search_box_params.video_suitable_for}}{%else%} null{%endif%};
    var uploaded = {%if search_box_params.video_uploaded %}{{search_box_params.video_uploaded}}{%else%} null{%endif%};
    var partners = {%if search_box_params.sel_partners %}["{{search_box_params.sel_partners|join:'", "'}}"]{%else%} null{%endif%};
    var lang = {%if search_box_params.sel_lang %}{{search_box_params.sel_lang}}{%else%} null{%endif%};
    var pracs = {%if search_box_params.prac %}["{{search_box_params.prac|join:'", "'}}"]{%else%} null{%endif%};
    var sort = {%if search_box_params.sort %}"{{search_box_params.sort}}"{%else%} null{%endif%};
    var sort_order = {%if search_box_params.sort_order %}"{{search_box_params.sort_order}}"{%else%} null{%endif%};
    if(video_suitable_for != null) $("#videosuitable").val(video_suitable_for);
    if(uploaded != null) $("#uploads").val(uploaded);
    if(partners != null) $("#partners").val(partners);
    if(lang != null) $("#lang").val(lang);
    if(pracs!=null) $("#practice").val(pracs);
    if(sort!=null) $("#sortfilter").val(sort);
    if(sort_order == "asc") {
    	$("div#sort_order").addClass("arrow_down");
    }
    else if(sort != null) {
    	$("div#sort_order").addClass("arrow_up");
    }
    
    //alert(""+video_suitable_for+uploaded+partners+lang+season+pracs);
    }   

    function doPracchange(sec,subsec,top,subtop,sub) {
    	$("#searchcontentleft").mask("Loading...");
        $.ajax({ type: "GET", 
                url: "/analytics/practice_change/",
                data: {"sec":sec,"subsec":subsec,"top":top,"subtop":subtop,"sub":sub},
                success: function(json) {
                var arr=JSON.parse(json)
               $("#"+"sec").html(arr[0]);
               $("#"+"subsec").html(arr[1]);
               $("#"+"top").html(arr[2]);
               $("#"+"subtop").html(arr[3]);
               $("#"+"sub").html(arr[4]);
               $("#searchcontentleft").unmask();
                
          }
     });
    }
    </script>

    {{ block.super }}
{% endblock jsfile %}


{% block videobodycontent%}
			
	<div id='searchcontentleft'>	
		
						
			<div class='searchleftdiv'>
			<div class='searchtitle'>
				Select Practice
			</div>
			<div class='searchbody'>
				<div id='selectbody'>				
					<div class='searchbody1' id='searchbody1_1'>
				   		<select class='select prac' name='sec_n 'id='sec' onChange="doPracchange(this.value,document.getElementById('subsec').value,getElementById('top').value,getElementById('subtop').value,getElementById('sub').value)">
					  		<option value='-1'>Any Sector</option>
								{% for key, item in search_box_params.prac_level.0 %}
											<option value='{{key}}' {% if item.1 %}selected="selected"{% endif %}>{{item.0}}</option>
								{%endfor%}
				    	</select>				
					</div>							
				</div>				
			</div>
			<div class='searchbody'>
				<div id='selectbody'>				
					<div class='searchbody1' id='searchbody1_2'>
				   		<select class='select prac' name='subsec_n' id='subsec' onChange="doPracchange(document.getElementById('sec').value,this.value,getElementById('top').value,getElementById('subtop').value,getElementById('sub').value)">
					  		<option value='-1'>Any Subsector</option>
								{% for key, item in search_box_params.prac_level.1 %}
											<option value='{{key}}' {% if item.1 %}selected="selected"{% endif %}>{{item.0}}</option>
								{%endfor%}
				    	</select>				
					</div>							
				</div>				
			</div>
			<div class='searchbody'>
				<div id='selectbody'>				
					<div class='searchbody1' id='searchbody1_3'>
				   		<select class='select prac' name='sec_n' id='top' onChange="doPracchange(document.getElementById('sec').value,getElementById('subsec').value,this.value,getElementById('subtop').value,getElementById('sub').value)">
					  		<option value='-1'>Any Topic</option>
								{% for key, item in search_box_params.prac_level.2 %}
											<option value='{{key}}' {% if item.1 %}selected="selected"{% endif %}>{{item.0}}</option>
								{%endfor%}
				    	</select>				
					</div>							
				</div>				
			</div>
			<div class='searchbody'>
				<div id='selectbody'>				
					<div class='searchbody1' id='searchbody1_4'>
				   		<select class='select prac' name='sec_n' id='subtop' onChange="doPracchange(document.getElementById('sec').value,getElementById('subsec').value,getElementById('top').value,this.value,getElementById('sub').value)">
					  		<option value='-1'>Any Subtopic</option>
								{% for key, item in search_box_params.prac_level.3 %}
											<option value='{{key}}' {% if item.1 %}selected="selected"{% endif %}>{{item.0}}</option>
								{%endfor%}
				    	</select>				
					</div>							
				</div>				
			</div>
			<div class='searchbody'>
				<div id='selectbody'>				
					<div class='searchbody1' id='searchbody1_5'>
				   		<select class='select prac' name='sec_n' id='sub' onChange="doPracchange(document.getElementById('sec').value,getElementById('subsec').value,getElementById('top').value,getElementById('subtop').value,this.value)">
					  		<option value='-1'>Any Subject</option>
								{% for key, item in search_box_params.prac_level.4 %}
											<option value='{{key}}' {% if item.1 %}selected="selected"{% endif %}>{{item.0}}</option>
								{%endfor%}
				    	</select>				
					</div>							
				</div>				
			</div>
			</div>
		
		
		<div id='regionsearchdiv' class='searchleftdiv'>
			<div class='searchtitle'>
				Select Geography
			</div>
			<div class='searchbody'>
				<div id='selectbody'>
							<div class='searchbody1' id='country'>
				   				<select class='select geog' name='country' id = 'countryId' onChange="dochange('state', this.value)">
					    			<option value='-1'>Select Country</option>
										{% for key,item in search_box_params.geog_val.0.items %}
											<option value='{{key}}' {% if item.1 %}selected="selected"{% endif %}>{{item.0}}</option>
										{%endfor%}
				    			</select>				
							</div>			
							<div class='searchbody1' id='state'>
				   				<select class='select geog' name='state' id = 'stateId' onChange="dochange('district', this.value)" {% if not search_box_params.geog_val.1 %}disabled='disabled' {% endif %}>
					    			<option value='-1'>Select State</option>
					    			{%if search_box_params.geog_val.1 %}
										{% for key,item in search_box_params.geog_val.1.items %}
											<option value='{{key}}' {% if item.2 %}selected="selected"{% endif %}>{{item.0}}</option>
										{%endfor%}
									{%endif%}										
				    			</select>				
							</div>
							<div class='searchbody1' id='district'>
				    			<select class='select geog' name='district' id = 'districtId' onChange="dochange('block', this.value)" {% if not search_box_params.geog_val.2 %}disabled='disabled' {% endif %}>
					    			<option value='-1'>Select District</option>
					    			{%if search_box_params.geog_val.2 %}
										{% for key,item in search_box_params.geog_val.2.items %}
											<option value='{{key}}' {% if item.2 %}selected="selected"{% endif %}>{{item.0}}</option>
										{%endfor%}
									{%endif%}						
				    			</select>	
							</div>
							<div class='searchbody1' id='block'>
				    			<select class='select geog' name='block' id = 'blockId' onChange="dochange('village', this.value)"  {% if not search_box_params.geog_val.3 %}disabled='disabled' {% endif %}>
					   		 		<option value='-1'>Select Block</option>
					   		 		{%if search_box_params.geog_val.3 %}
										{% for key,item in search_box_params.geog_val.3.items %}
											<option value='{{key}}' {% if item.2 %}selected="selected"{% endif %}>{{item.0}}</option>
										{%endfor%}
									{%endif%}						
				    			</select>				
							</div>			
							<div class='searchbody1' id='village'>
				   	 			<select class='select geog' name='village' id = 'villageId'  {% if not search_box_params.geog_val.4 %}disabled='disabled' {% endif %}>
					    			<option value='-1'>Select Village</option>	
										{%if search_box_params.geog_val.4 %}
											{% for key,item in search_box_params.geog_val.4.items %}
												<option value='{{key}}' {% if item.2 %}selected="selected"{% endif %}>{{item.0}}</option>
											{%endfor%}
										{%endif%}					    								
				    			</select>					
							</div>
				</div>				
			</div>			
		</div>
		
		
		<div class='searchleftdiv'>
			<div class='searchtitle'>
				Select Language
			</div>
			<div class='searchbody'>
				<div id='selectbody'>				
					<div class='searchbody1' id='language'>
				   		<select class='select' id='lang'>
					  		<option value='-1'>Select Language</option>
								{% for lang in search_box_params.langs %}
									<option value='{{lang.id}}'>{{lang.language_name}}</option>
								{%endfor%}
				    	</select>				
					</div>							
				</div>				
			</div>				
		</div>
		<div class='searchleftdiv' style='background-color:white;'>
			<div class='searchtitle'>
				Select Production Date
			</div>
			<div class='searchbody'>
				<div class='datepickcalendertext' style='background-color:white;'>From: </div>
				<div id='inlinedatepicker1' class='datepickcalender' style='background-color:white;'>{{search_box_params.from_date}}</div>				
			</div>
			<div class='searchbody'>
				<div class='datepickcalendertext' style='background-color:white;'>To: </div>
				<div id='inlinedatepicker2' class='datepickcalender' style='background-color:white;'>{{search_box_params.to_date}}</div>				
			</div>
		</div>			
		<br><br><br>			
		<div class='advancedsearchdiv' >
			<table class='advancedsearchtable' cellspacing='0' cellpadding='0'>
				<tr>
					<td class='advancedsearchtext'>
						Advanced Search
					</td>
					<td id='advancedsearchopenbtn'>
						<img src='/media/Output/Images/arrowdown3.png' alt=''>
					</td>
					<td id='advancedsearchclosebtn'>
						<img src='/media/Output/Images/arrowhead3.png' alt=''>
					</td>
				</tr>		
			</table>
			
			<div class='advancedsearchtitle'>
					Video Suitable for:
				</div>
				<div class='advancedsearchbody'>
					<div id='selectbody'>				
						<div class='searchbody2' id='language'>
							<select class='select' id='videosuitable'>
								<option value="1">Disseminations</option>
								<option value="-1">Any</option>
  								<option value="2">Video Production Training</option>
  								<option value="3">Dissemination Training</option>
  								<option value="5">Pending for Approval</option>
  								<option value="4">None</option>
							</select>				
						</div>							
					</div>
				</div>
				<div class='advancedsearchtitle'>
					Video has been:
				</div>
				<div class='advancedsearchbody'>
					<div id='selectbody'>				
						<div class='searchbody2'>
							<select class='select' id='uploads'>
								<option value="-1">All Videos</option>
								<option value="0">Not Uploaded</option>
								<option value="1">Uploaded</option>
							</select>				
						</div>							
					</div>
				</div>
				<div class='advancedsearchtitle'>
					Partners:
				</div>
				<div class='advancedsearchbody'>
					<div id='selectbody'>				
						<div class='searchbody2' id='Partners'>
							<select class='select' id='partners' multiple='multiple' size='3'>
							<option value='-1' selected="selected">All Partners</option>
							{% for partner in search_box_params.all_partners %}						
								<option value='{{partner.id}}'>{{partner.partner_name}}</option>
							{% endfor %}
							</select>				
						</div>							
					</div>
				</div>
				</div>
					
		
		<div id='submitdiv'>										
			<table id='submittable' cellspacing='0' cellpadding='0' style='background-color:white;'>						
				<tr>
					<td class='resetbtn'> <input id='Reset1' type='reset' onclick="window.location.href = './'"  value="Reset"> </td>
					<td class='submitbtn'>  <input id='Submit1' type='submit' onclick="go(null)" value="Go"> </td>
				</tr>
			</table>

		</div>	
		<br/><br/><br/><br/>			
	</div>
	
	
	<div id='searchcontentright'>
		{% block searchbodycontentright%}
				
		{% endblock searchbodycontentright%}
	</div>			
			
{% endblock videobodycontent%}