<section class='about-bg' id="registration">
    <div class="wrapper">
        <div class="inner-wrapper">
            <h2 class="hdg-a hdg-source-lt layout-vr-md">Registration</h2>
            <div class="grid layout-vr-md">
                <ul class="form-tabs h-list h-list-sm">
                    <li><a href="#" class="js-form-tab active">Within Delhi</a></li>
                    <li><a href="#" class="js-form-tab">Rest of India</a></li>
                    <li><a href="#" class="js-form-tab">International</a></li>
                </ul>
                <div class="form-box grid-lt grid-pad-lt-sm">
                    <div class='layout-vr-xlg js-form'>
                        <form name="form1" id="form1" method="post" enctype="multipart/form-data" >
                            <div class="layout-vr-md grid-lt grid-size2of3">
                                <div id="result_area" class="form-result"></div><br/>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Prefix:</p></div><input type="text" id="Prefix" name="Prefix" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Name:</p></div>
                                    <input type="text" id="Name" name="Name"  />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Organization:</p></div>
                                    <input type="text" id="Organization" name="Organization" required />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Designation:</p></div>
                                    <input type="text" id="Designation" name="Designation"  />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Phone:</p></div>
                                    <input type="text" id="Business_Phone" name="Business_Phone"  />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Mobile Number:</p></div>
                                    <input type="text" id="Mobile_Number" name="Mobile_Number"  />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Address:</p></div>
                                    <input type="text" id="Business_Address" name="Business_Address"  />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Email Address:</p></div>
                                    <input type="text" id="email" name="email"  />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>RSVP:</p></div>
                                    <input type="text" id="Rsvp" name="Rsvp"  />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>&nbsp;</p></div>
                                    
                                    <input type="button" value="Submit" class="btn js-submit-registration" />
                                    
                                    <input type="reset" class="btn" />
                                </div>
						  
                            </div>	
                        </form>
                    </div>
					
					
                    <div class='layout-vr-xlg js-form hide'>
                        <form name="form2" id="form2" method="post" enctype="multipart/form-data" >
                            <div class="layout-vr-md grid-lt grid-size3of3">
                                <div id="result_area1" class="form-result"></div><br/>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Prefix:</p></div><input type="text" name="Prefix" id="Prefix"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Name:</p></div><input type="text" name="Name" id="Name"/>
						
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Organization:</p></div><input type="text" name="Organization" id="Organization"/>
						
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Designation:</p></div><input type="text" name="Designation" id="Designation"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Phone:</p></div><input type="text" name="Business_Phone" id="Business_Phone"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Mobile Number:</p></div><input type="text" name="Mobile_Number" id="Mobile_Number"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Address:</p></div><input type="text" name="Business_Address" id="Business_Address"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Email Address:</p></div><input type="text" name="email" id="email"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>RSVP:</p></div><input type="text" name="Rsvp" id="Rsvp"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Hotel:</p></div><input type="text" name="Hotel" id="Hotel"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Check in:</p></div><input type="text" name="Check_in" id="Check_in"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Check out:</p></div><input type="text" name="Check_out" id="Check_out"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Flight Information:</p></div><input type="text" name="Flight_Information" id="Flight_Information"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>First Name:</p></div><input type="text" name="First_Name" id="First_Name"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Middle Name:</p></div><input type="text" name="Middle_Name" id="Middle_Name"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Last Name:</p></div><input type="text" name="Last_Name" id="Last_Name"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Gender:</p></div><input type="text" name="Gender" id="Gender"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Day of Birth (Example 21):</p></div><input type="text" name="Day_of_Birth" id="Day_of_Birth"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Month of Birth (Example January):</p></div><input type="text" name="Month_of_Birth" id="Month_of_Birth"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Year of Birth (Example 1971):</p></div><input type="text" name="Year_of_Birth" id="Year_of_Birth" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Home Airport:</p></div><input type="text" name="Home_Airport" id="Home_Airport"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Departing Date Preference:</p></div><input type="text" name="Departing_Date_Preference" id="Departing_Date_Preference"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Departing Time Preference:</p></div><input type="text" name="Departing_Time_Preference" id="Departing_Time_Preference"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Return Date Preference:</p></div><input type="text" name="Special_Meal" id="Special_Meal"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Return Time Preference:</p></div><input type="text" name="Return_Time_Preference" id="Return_Time_Preference"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Seat Preference:</p></div><input type="text" name="Seat_Preference" id="Seat_Preference"/>
                                </div>
                                <div class="form-row">

                                    <div class="form-label grid-lt"><p>Special Meal:</p></div><input type="text" name="Special_Meal" id="Special_Meal"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Airline Comments/Requirements:</p></div><input type="text" name="Airline_Comments_Requirements" id="Airline_Comments_Requirements"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>&nbsp;</p></div>
                                    <input type="button" value="Submit"  class="btn js-submit-registration"/>
                                    <input type="reset" class="btn" />
                                </div>
                      
                            </div>   
                        </form>
                    </div>
					
                    <div class='layout-vr-xlg js-form hide'>
                        <form name="form3" id="form3" method="post" enctype="multipart/form-data" >
                            <div class="layout-vr-md grid-lt grid-size3of3">
                                <div id="result_area2" class="form-result"></div><br/>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Prefix:</p></div>
                                    <input type="text" name="Prefix" id="Prefix"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Name:</p></div>
                                    <input type="text" name="Name" id="Name"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Email Address:</p></div>
                                    <input type="text" name="email" id="email"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Organization:</p></div>
                                    <input type="text" name="Organization" id="Organization"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Address:</p></div>
                                    <input type="text" name="Business_Address" id="Business_Address"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Phone:</p></div>
                                    <input type="text" name="Business_Phone" id="Business_Phone"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Mobile Phone:</p></div>
                                    <input type="text" name="Mobile_Phone" id="Mobile_Phone"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Emergency Contact:</p></div>
                                    <input type="text" name=">Emergency_Contact" id=">Emergency_Contact"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Assistant Contact Name &amp; Email Address:</p></div>
                                    <input type="text" name="Assistant_Contact_Name" id="Assistant_Contact_Name" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Personal Needs: Dietary Needs:</p></div>
                                    <input type="text" name="Personal_Needs" id="Personal_Needs"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Any other personal needs or special assistance required? </p></div><input type="text" name="other_personal_needs" id="other_personal_needs"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Hotel:</p></div>
                                    <input type="text" name="Hotel" id="Hotel" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Check in:</p></div>
                                    <input type="text" name="Check_in" id="Check_in"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Check out:</p></div>
                                    <input type="text" name="Check_out" id="Check_out"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Hotel Notes:</p></div>
                                    <input type="text" name="Hotel_Notes" id="Hotel_Notes"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Travel Information:</p></div>
                                    <input type="text" name="Travel_Information" id="Travel_Information"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>International Travel:</p></div>
                                    <input type="text" name="International_Travel" id="International_Travel"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Passport:</p></div>
                                    <input type="text" name="Passport" id="Passport"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Exp Date:</p></div>
                                    <input type="text" name="Exp_Date" id="Exp_Date"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Country of Issuance:</p></div>
                                    <input type="text" name="Country_of_Issuance" id="Country_of_Issuance"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Flight Information:</p></div>
                                    <input type="text" name="Flight_Information" id="Flight_Information"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>First Name:</p></div>
                                    <input type="text" name="First_Name" id="First_Name"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Middle Name:</p></div>
                                    <input type="text" name="Middle_Name" id="Middle_Name"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Last Name:</p></div>
                                    <input type="text" name="Last_Name" id="Last_Name"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Country of Citizenship:</p></div>
                                    <input type="text" name="Country_of_Citizenship" id="Country_of_Citizenship"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Gender:</p></div>
                                    <input type="text" name="Gender" id="Gender" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Day of Birth (Example 21):</p></div>
                                    <input type="text"   name="Day_of_Birth" id="Day_of_Birth"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Month of Birth (Example January):</p></div>
                                    <input type="text"  name="Month_of_Birth" id="Month_of_Birth" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Year of Birth (Example 1971):</p></div>
                                    <input type="text"  name="Year_of_Birth" id="Year_of_Birth"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Home Airport:</p></div>
                                    <input type="text"   name="Home_Airport" id="Home_Airport"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Departing Date Preference:</p></div>
                                    <input type="text"   name="Departing_Date_Preference" id="Departing_Date_Preference"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Departing Time Preference:</p></div>
                                    <input type="text"   name="Departing_Time_Preference" id="Departing_Time_Preference"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Return Date Preference:</p></div>
                                    <input type="text"  name="Return_Date_Preference" id="Return_Date_Preference"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Return Time Preference:</p></div>
                                    <input type="text"  name="Return_Time_Preference" id="Return_Time_Preference"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Seat Preference:</p></div>
                                    <input type="text"  name="Seat_Preference" id="Seat_Preference"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Special Meal:</p></div>
                                    <input type="text" name="Special_Meal" id="Special_Meal"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Airline Comments/Requirements:</p></div>
                                    <input type="text"  name="Airline_Comments_Requirements" id="Airline_Comments_Requirements"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>&nbsp;</p></div>
                                    <input type="button" value="Submit" class="btn js-submit-registration" />
                                    <input type="reset" class="btn" />
                                </div>
                            </div> 
                        </form>
                    </div-->
                </div>
            </div>
        </div> <!-- end of inner wrapper -->
    </div> <!-- end of wrapper -->
</section>