<section class='about-bg' id="registration">
    <div class="wrapper">
        <div class="inner-wrapper">
            <h2 class="hdg-a hdg-source-lt layout-vr-md">Registration</h2>
            <div class="grid layout-vr-md">
                <ul class="form-tabs h-list h-list-sm">
                    <li><a href="#" class="js-form-tab active">Within Delhi</a></li>
                    <li><a href="#" class="js-form-tab">Rest of India</a></li>
                    <li><a href="#" class="js-form-tab">International</a></li>
                </ul>
                <div class="form-box grid-lt grid-pad-lt-sm">
                    <div class='layout-vr-xlg js-form'>
                        <form name="form_delhi" method="post" enctype="multipart/form-data" >
                            <input type="hidden" name="Form" value="Delhi Registration">
                            <div class="layout-vr-md grid-lt grid-size2of3">
                                <div class="form-result js-form-result"></div><br/>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Prefix:</p></div>
                                    <input type="text" name="Prefix" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Name (required):</p></div>
                                    <input type="text" name="Name" class="js-required" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Email Address (required):</p></div>
                                    <input type="text" name="Email" class="js-required js-email" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Organization (required):</p></div>
                                    <input type="text" name="Organization" class="js-required" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Designation:</p></div>
                                    <input type="text" name="Designation" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Mobile Number (required):</p></div>
                                    <input type="text" name="Mobile Number" class="js-required" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Phone:</p></div>
                                    <input type="text" name="Business Phone" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Address:</p></div>
                                    <input type="text" name="Business Address" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>RSVP:</p></div>
                                    <input type="text" name="RSVP" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>&nbsp;</p></div>
                                    <input type="button" value="Submit" class="btn js-submit-registration" />
                                    <input type="reset" class="btn" />
                                </div>
						  
                            </div>	
                        </form>
                    </div>
					
					
                    <div class='layout-vr-xlg js-form hide'>
                        <form name="form_india" method="post" enctype="multipart/form-data" >
                            <input type="hidden" name="Form" value="India Registration">
                            <div class="layout-vr-md grid-lt grid-size3of3">
                                <div class="form-result js-form-result"></div><br/>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Prefix:</p></div>
                                    <input type="text" name="Prefix" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Name (required):</p></div>
                                    <input type="text" name="Name" class="js-required" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Email Address (required):</p></div>
                                    <input type="text" name="Email" class="js-required js-email" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Organization (required):</p></div>
                                    <input type="text" name="Organization" class="js-required" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Designation:</p></div>
                                    <input type="text" name="Designation" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Mobile Number (required):</p></div>
                                    <input type="text" name="Mobile Number" class="js-required" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Phone:</p></div>
                                    <input type="text" name="Business Phone" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Address:</p></div>
                                    <input type="text" name="Business Address" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>RSVP:</p></div>
                                    <input type="text" name="RSVP" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Hotel:</p></div>
                                    <input type="text" name="Hotel" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Check in:</p></div>
                                    <input type="text" name="Check in" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Check out:</p></div>
                                    <input type="text" name="Check out" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Flight Information:</p></div>
                                    <input type="text" name="Flight Information" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>First Name:</p></div>
                                    <input type="text" name="First Name" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Middle Name:</p></div>
                                    <input type="text" name="Middle Name" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Last Name:</p></div>
                                    <input type="text" name="Last Name" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Gender:</p></div>
                                    <input type="text" name="Gender" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Day of Birth (Example 21):</p></div>
                                    <input type="text" name="Day of Birth" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Month of Birth (Example January):</p></div>
                                    <input type="text" name="Month of Birth" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Year of Birth (Example 1971):</p></div>
                                    <input type="text" name="Year of Birth" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Home Airport:</p></div>
                                    <input type="text" name="Home Airport"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Departing Date Preference:</p></div>
                                    <input type="text" name="Departing Date Preference" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Departing Time Preference:</p></div>
                                    <input type="text" name="Departing Time Preference" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Return Date Preference:</p></div>
                                    <input type="text" name="Special Meal" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Return Time Preference:</p></div>
                                    <input type="text" name="Return Time Preference" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Seat Preference:</p></div>
                                    <input type="text" name="Seat Preference" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Special Meal:</p></div>
                                    <input type="text" name="Special Meal" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Airline Comments/Requirements:</p></div>
                                    <input type="text" name="Airline Comments Requirements" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>&nbsp;</p></div>
                                    <input type="button" value="Submit"  class="btn js-submit-registration"/>
                                    <input type="reset" class="btn" />
                                </div>
                      
                            </div>   
                        </form>
                    </div>
					
                    <div class='layout-vr-xlg js-form hide'>
                        <form name="form_international" id="form3" method="post" enctype="multipart/form-data" >
                            <input type="hidden" name="Form" value="International Registration">
                            <div class="layout-vr-md grid-lt grid-size3of3">
                                <div class="form-result js-form-result"></div><br/>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Prefix:</p></div>
                                    <input type="text" name="Prefix" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Name (required):</p></div>
                                    <input type="text" name="Name" class="js-required" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Email Address (required):</p></div>
                                    <input type="text" name="Email" class="js-required js-email" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Organization (required):</p></div>
                                    <input type="text" name="Organization" class="js-required" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Address:</p></div>
                                    <input type="text" name="Business Address" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Business Phone:</p></div>
                                    <input type="text" name="Business Phone" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p class="copy-bold">Mobile Phone (required):</p></div>
                                    <input type="text" name="Mobile Phone" class="js-required" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Emergency Contact:</p></div>
                                    <input type="text" name="Emergency Contact" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Assistant Contact Name &amp; Email Address:</p></div>
                                    <input type="text" name="Assistant Contact Name" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Personal Needs: Dietary Needs:</p></div>
                                    <input type="text" name="Personal Needs" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Any other special assistance required?</p></div>
                                    <input type="text" name="Other Special Needs" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Hotel:</p></div>
                                    <input type="text" name="Hotel" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Check in:</p></div>
                                    <input type="text" name="Check in" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Check out:</p></div>
                                    <input type="text" name="Check out" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Hotel Notes:</p></div>
                                    <input type="text" name="Hotel Notes" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Travel Information:</p></div>
                                    <input type="text" name="Travel Information" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>International Travel:</p></div>
                                    <input type="text" name="International Travel" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Passport:</p></div>
                                    <input type="text" name="Passport" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Passport Expiry Date:</p></div>
                                    <input type="text" name="Passport Expiry Date" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Country of Issuance:</p></div>
                                    <input type="text" name="Country of Issuance" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Flight Information:</p></div>
                                    <input type="text" name="Flight Information" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>First Name:</p></div>
                                    <input type="text" name="First Name" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Middle Name:</p></div>
                                    <input type="text" name="Middle Name" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Last Name:</p></div>
                                    <input type="text" name="Last Name" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Country of Citizenship:</p></div>
                                    <input type="text" name="Country of Citizenship" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Gender:</p></div>
                                    <input type="text" name="Gender" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Day of Birth (Example 21):</p></div>
                                    <input type="text"   name="Day of Birth" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Month of Birth (Example January):</p></div>
                                    <input type="text"  name="Month of Birth" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Year of Birth (Example 1971):</p></div>
                                    <input type="text"  name="Year of Birth" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Home Airport:</p></div>
                                    <input type="text"   name="Home Airport" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Departing Date Preference:</p></div>
                                    <input type="text"   name="Departing Date Preference" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Departing Time Preference:</p></div>
                                    <input type="text"   name="Departing Time Preference" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Return Date Preference:</p></div>
                                    <input type="text"  name="Return Date Preference" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Return Time Preference:</p></div>
                                    <input type="text"  name="Return Time Preference" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Seat Preference:</p></div>
                                    <input type="text"  name="Seat Preference" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Special Meal:</p></div>
                                    <input type="text" name="Special Meal" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>Airline Comments/Requirements:</p></div>
                                    <input type="text"  name="Airline Comments Requirements" />
                                </div>
                                <div class="form-row">
                                    <div class="form-label grid-lt"><p>&nbsp;</p></div>
                                    <input type="button" value="Submit" class="btn js-submit-registration" />
                                    <input type="reset" class="btn" />
                                </div>
                            </div>
                        </form>
                    </div-->
                </div>
            </div>
        </div> <!-- end of inner wrapper -->
    </div> <!-- end of wrapper -->
</section>