/** Add css rules here for your application. */
.logoutClass {
	margin-top: -3px;
}

.messageSpinnerClass {
	background-color: #F4F379;
	float: left;
	height: 20px;
	margin-left: 45%;
	padding-left: 4px;
	padding-top: 2px;
	width: 20px;
}

.messageSpinnerDivClass {
	background-color: #F4F379;
	float: left;
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	padding: 1px 3px 1px 0;
}

.messageStringClass {
	background:url("media/img/admin/icon_success.gif") no-repeat scroll 5px 0.3em #FFFFCC;
	border-bottom:1px solid #DDDDDD;
	color:#666666;
	display:block;
	font-size:12px;
	margin:0 0 3px;
	padding:4px 5px 4px 25px;
}

.controlPanelClass {
	border: solid 1px #CCCCCC;
	margin-top:20px;
}

.mainControlPanelArea {
	float: left;
	margin-top: -6px;
	margin-left: 30px;
}

.buttonHideClass {
	opacity: 0.15;
	filter:alpha(opacity=15);
}

.buttonShowClass {
	cursor: pointer;
}

.onlineOfflineButtonClass {
	cursor: pointer;
}

.modeTextClass {
	color: #5B80B2; 
	font-size: 18px; 
	margin-left: 0px;
	padding-top: 12px;
	padding-left: 12px;
	float: left;
}

.dotsClass {
	padding-top: 9px; 
	padding-left: 2px;
}

.bulletsClass {
	float: left;
	margin-top: -3px;
	margin-left: 30px;
	width: 375px;
}

.textClass {
	float: right;
	color: #767676;
	margin-top: 5px;
	padding-left: 15px;
	width: 330px;
	font-size: 16px;
}

.bulletPointClass {
	height: 145px;
}

.instructionsClass {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
	
}

#box { 
	padding:10px; 
	background: #FFF; 
	border: 3px solid #5B80B2; 
	font-weight: bold; 
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; 
	text-align: center; 
	position: fixed; 
	margin-left: -75px; 
	margin-top: -75px; 
	left: 50%; 
	top: 50%; 
	z-index: 20; 
	display: none;
}

#screen { 
	position: absolute; 
	left: 0; 
	top: 0; 
	background: #000; 
}

.dashboard #content {
	width: 350px;
}

#container {
	min-width:1180px;
	padding:0;
	position:relative;
	width:100%;
}