/** Add css rules here for your application. */

/** Sets the style on the left panel listing */
.panelListing {
  float: left; 
  margin-left: 20px; 
  margin-right: 20px;
  font-size: 18px; 
  font-family: Calibri;
}

.login-form-row {
    overflow: hidden;
    padding: 8px 12px;
    font-size: 11px;
    border-bottom: 1px solid #eee;
	width: 175px;
}


#division {
  width:  100%;
  margin-top: 10px;
}

#content-body {
  width:  85%;
  float: left;
}

