.container {
  box-shadow: 0 0 8px grey;
  padding: 15px 15px 15px 15px;
}
.container-fluid {
  width: 90%;
  /* box-shadow: 0 0 8px grey; */
  padding: 0px 15px 40px 15px;
}

.overall-bg {
  background-color:  #7C287D;
}

.recent-bg {
  background-color: #656566;
}