.container {
  box-shadow: 0 0 4px grey;
  padding: 15px 15px 15px 15px;
}

.container-fluid {
  width: 100%;
  box-shadow: 0 0 4px grey;
  padding: 15px 10px 15px 10px;
}

.highcharts-yaxis-grid .highcharts-grid-line {
  display: none;
}

.dropdown-button {
  background: #F37B55;
}

.overall-bg {
  background-color:  #7C287D;
}

.recent-bg {
  background-color: #656566;
}
