                            <li>
                            	<a target="_blank" href="http://www.facebook.com/digitalgreenorg">
                            		<h4 title="Facebook" class="social-icon icon-footer-facebook">Facebook</h4>
                            	</a>
                            </li>
                            <li>
                            	<a target="_blank" href="https://twitter.com/digitalgreenorg">
                            		<h4 title="Twitter" class="social-icon icon-footer-twitter">Twitter</h4>
                            	</a>
                            </li>
                            <li>
                            	<a target="_blank" href="http://www.youtube.com/user/digitalgreenorg">
                            		<h4 title="YouTube" class="social-icon icon-footer-youtube">YouTube</h4> 
                            	</a>
                            </li>
                            <li>
                            	<a target="_blank" href="http://www.linkedin.com/company/619071">
                            		<h4 title="LinkedIn" class="social-icon icon-footer-linkedin">LinkedIn</h4>
                            	</a>
                            </li>
                            <li>
                            	<a target="_blank" href="https://plus.google.com/102360151388546073924/posts">
                            		<h4 title="Google Plus" class="social-icon icon-footer-gplus">GooglePlus</h4>
                            	</a>
                            </li>
                            <li>
                            	<a target="_blank" href="https://www.flickr.com/photos/digitalgreenorg">
                            		<h4 title="Flickr" class="social-icon icon-footer-flickr">Flickr</h4>
                            	</a>
                            </li>
