                    <ul class="filterOptions hdg-upper copy clearfix js-most-filters">
                        <li><a href="#" class="js-most-filter" data-filter-id="-likes"><span><span class="filterOptions-like"><span class="icon"></span>Most Liked</span></span></a></li>
                        <li><a href="#" class="js-most-filter" data-filter-id="-views"><span><span class="filterOptions-view"><span class="icon"></span>Most Viewed</span></span></a></li>
                        <li><a href="#" class="js-most-filter" data-filter-id="-adoptions"><span><span class="filterOptions-adopt"><span class="icon"></span>Most Adopted</span></span></a></li>
                    </ul>