                    {% for group in user.groups.all %}
                        {% if group.name == 'Collection Czars' %}
                        <ul class="filterOptions hdg-upper copy clearfix js-most-filters">
                            <li><a href="{% url 'create_collection' %}" class="icon-coll-add icon-addedit mrg-lt filterOptions" title="Create a Collection"></a></li>
                            <!-- <li><a href="{% url 'about' %}" class="icon-video-add icon-addedit filterOptions" title="Add a Video"></a></li> -->
                        </ul>
                        {% endif %}
                    {% endfor %}
                    <ul class="filterOptions hdg-upper copy clearfix js-most-filters">
                        <li><a href="#" class="js-most-filter" data-filter-id="-featured"><span><span class="filterOptions-star"><span class="icon"></span>Featured</span></span></a></li>
                        <li><a href="#" class="js-most-filter" data-filter-id="-likes"><span><span class="filterOptions-like"><span class="icon"></span>Most Liked</span></span></a></li>
                        <li><a href="#" class="js-most-filter" data-filter-id="-views"><span><span class="filterOptions-view"><span class="icon"></span>Most Viewed</span></span></a></li>
                        <li><a href="#" class="js-most-filter" data-filter-id="-adoptions"><span><span class="filterOptions-adopt"><span class="icon"></span>Most Adopted</span></span></a></li>
                    </ul>