<!DOCTYPE html>
<html lang="en">
    <head>

        <script type="text/javascript"  src="{{STATIC_URL}}social_website/scripts/libs/external/jquery-1.12.4.min.js"></script>
        <script type="text/javascript"  src="{{STATIC_URL}}social_website/scripts/libs/external/jquery-ui12.js"></script>
        

        <meta property="og:title" content="Digital Green"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="DigitalGreen"/>
        <meta property="og:description" content="Digital Green is a knowledge platform to amplify development around the world. Watch, Learn, Share."/>
        <meta property="fb:app_id" content="149405231925556" />
        <!-- META DATA -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta http-equiv="imagetoolbar" content="no" />
        <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

        <!-- SEO -->
        <title>Digital Green- Broadcast</title>
        <meta name="description" content=" Digital Green is an international non-profit development organization that supports rural communities across South Asia and Sub-Saharan Africa to produce and share videos on sustainable agricultural and health practices" />
        <meta name="author" content="" />

        <!-- HTML5 SHIV -->
        <!--[if lt IE 9]><script type="text/javascript" src="{{STATIC_URL}}assets/scripts/html5shiv.js"></script><![endif]-->

        <!-- ICONS -->
        <link rel="shortcut icon" type="image/ico" href="{{STATIC_URL}}assets/images/favicon.ico" />

        <!-- STYLESHEETS -->
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/jquery-ui.css" />
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/screen.css" />
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/NCarousel.css" />
        <link rel="stylesheet" media="print" href="{{STATIC_URL}}assets/styles/print.css" />
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/jquery.dataTables.css" />
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/dataTables.tableTools.css" />
        <link rel="stylesheet" media="screen" href="{{STATIC_URL}}assets/styles/select2.css" />
         <!--[if IE 9]><link rel="stylesheet" type="text/css" media="screen, projection" href="{{STATIC_URL}}assets/styles/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" type="text/css" media="screen, projection" href="{{STATIC_URL}}assets/styles/ie8.css" /><![endif]-->
        <!--[if lte IE 7]><link rel="stylesheet" type="text/css" media="screen, projection" href="{{STATIC_URL}}assets/styles/ie7.css" /><![endif]-->
    </head>
    <!--
        =======================
        | Implementation Note |
        =======================

        The body needs to have this "data-controller" attribute 
        on it to control which JS controller is loaded.

        Current list includes:
            Home
            About
            Collections
            ViewCollections
            Profile
    -->
    <!-- Implementation Note: the user-id data attribute on the body below must be present on page load for like functionality to work -->
    <body data-controller="{% if header.jsController %}{{header.jsController}}{% else %}DigitalGreenPage{% endif %}" data-user-id={{request.user.id}}>
        <!-- Begin Main Wrapper -->
        <div class="wrapper-main wrapper">
            <div class="user-dropdown-div">
                <div class="user-dropdown js-user-dropdown">
                    <ul>
                        <li class="user-dropdown-option"><a class="hdg-black">{{request.user.username}}</a></li>
                        {% if not request.user.social_auth.all.0 %}
                            <li class="user-dropdown-option">
                                <a href="{% url 'change_password' %}">Change Password</a>
                            </li>
                        {% endif %}
                        <li class="user-dropdown-option"><a href="{% url 'logout' %}">Sign Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-fixed">
                <div class="header-wrapper clearfix">
                    <header class="global-nav">
                        <a class="skip-to-content" href="#main">Skip to content</a>
                        <div class="wrapper">
                            <nav class="inner-nav" role="navigation">
                                <ul class="nav">
                                    <!-- Indicate the current active nav item by adding the "selected" class to a li element below -->
                                    <li class="logo"><a href="{% url 'home' %}">Green Digital</a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'About' %} selected {% endif %}"><a href="{% url 'about' %}">About Us <span class="nav-sub hdg-f menu-subitem">and our approach</span></a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'Discover' %} selected {% endif %}"><a href="{% url 'discover' %}">Discover <span class="nav-sub hdg-f menu-subitem">great videos</span></a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'Connect' %} selected {% endif %}" ><a href="{% url 'connect' %}">Connect <span class="nav-sub hdg-f menu-subitem">with our community</span></a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'Tools' %} selected {% endif %}"><a href="{% url 'tools' %}">Tools <span class="nav-sub hdg-f menu-subitem">to catalyze change</span></a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'Careers' %} selected {% endif %}"><a href="{% url 'career' %}">Work<span class="nav-sub hdg-f menu-subitem">with us</span></a></li>
                                    
                                    {% if not request.user.is_authenticated %}
                                        <li class="nav-pipe"><a class="btn-sign-in" href="/login/?next={{request.path}}">Sign in</a></li>
                                    {% else %}
                                        <li class="grid-rt nav-pipe" style="padding-left:51px; padding-bottom:0px;">
                                            <div class="media grid-rt">
                                                <div class="img">
                                                    {% if "facebook" == request.user.social_auth.all.0.provider %}
                                                    <div class="img-effects">
                                                        <img src="https://graph.facebook.com/{{request.user.social_auth.all.0.uid}}/picture" class="user-image js-user-image">
                                                    </div>
                                                    {% elif "google-oauth2" == request.user.social_auth.all.0.provider %}
                                                    <div class="img-effects">
                                                        <img src=" {{request.user.social_auth.all.0.extra_data.picture}}?sz=40" class="user-image js-user-image">
                                                    </div>
                                                    {% else %}
                                                    <div class="img-effects">
                                                        <img src="{{STATIC_URL}}social_website/content/default.png" class="user-image js-user-image">
                                                    </div>
                                                    {% endif %}
                                                    <img src="{{STATIC_URL}}social_website/content/dropdown.png" class="user-dropdown-arrow js-user-dropdown-arrow">
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav> <!-- End .inner-nav -->
                        </div>  <!-- End .wrapper -->
                    </header> <!-- End .global-nav -->
                </div>
            </div>
            <div class="header-margin"></div>
<!-- ######################################################################################################-->

{% if acknowledge == 1 %}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <center>
        <h2 class="hdg-a hdg-source-lt layout-vr-md">Broadcast has been started successfully</h2>
    </center>
    <br/>
    <br/>
    <br/>
    <br/>

{% else %}

    <div id="broadcast_menu">
        <br/>
        <ul style="border: 1px solid #EEEEEE;background: #f3f2eb;color: #047D0A;font-weight: bold;margin: 0;padding: .2em 1.2em 0;">
            <li><a href="#broadcast_test" ><span>Test Broadcast on one number</span></a></li>
            <li><a href="#broadcast"><span>Broadcast Message</span></a></li>
        </ul>
        <!-- Tab 1 -->
        <div id="broadcast_test">
            <form id="broadcast_test_form" class="form-box" method="POST" action="." enctype="multipart/form-data" >
                <br/>
                <br/>
                <div style="padding-left: 15px;">
                    {% csrf_token %}
                    {{ broadcast_test_form.as_p }}
                    <br/>
                    <br/>
                    <input type="submit" class="btn" name="broadcast_test_submit" value="Test Broadcast" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" class="btn" value="Reset">
                </div>
                <br/>
                <br/>
            </form>
        </div>
        <!-- Tab 2 -->
        <div id="broadcast">
            <form id="broadcast_form" class="form-box" method="POST" action="." enctype="multipart/form-data" >
                <div style="padding-left: 15px; content: '\a'; white-space: pre;">
                    {% csrf_token %}
                    {{ broadcast_form.as_p }}
                </div>
                <div style="padding-left: 15px;">
                    <input type="submit" class="btn" name="submit" value="Broadcast" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" class="btn" value="Reset">
                </div>
                <br/>
                <br/>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#broadcast_menu").tabs({active: {{ active_tab }} });
        });
    </script>

{% endif %}

<!-- ######################################################################################################-->

		 
		<div class="follow">	
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <div class="hdg-follow">
                            <h3 class="hdg-a hdg-source-lt">Follow Us</h3>
                        </div>
                        <ul class="social" role="navigation">
						{% include "includes/partials/footer_social_media.html" %}
                        </ul>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
            </div> <!-- End .follow -->
            
            <footer>
                <div class="footer" role="contentinfo">
                    <div class="wrapper">
                        <div class="inner-wrapper">
                            <nav role="navigation">
                                <ul class="copy-lt hdg-upper copy footer-links">
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="{% url 'press' %}">Press</a></li>
                                    <li><a href="{% url 'events' %}">Events</a></li>
                                    <li><a href="{% url 'career' %}">Careers</a></li>
                                    <li><a href="{% url 'donate' %}">Donate</a></li>
                                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    <li><a href="{% url 'sitemap' %}">Site Map</a></li>
                                </ul>
                            </nav>
                            <a class="footer-btn" href="/coco/" target="_blank">Coco</a>
                        </div>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <div class="copyright copy">
                            <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/in/"> (cc) 2013 Digital Green</a>
                        </div>
                    </div>
                </div>  <!-- End .wrapper -->
            </footer>
        </div>

        <!-- End Main Wrapper -->
        <!-- JAVASCRIPT -->
        
        <!-- For Debugging -->
        <!--script data-main="{{STATIC_URL}}social_website/scripts/main" src="{{STATIC_URL}}social_website/scripts/libs/external/requirejs/require.js"></script-->
        <!-- Also change build to scripts in main.js -->
        
        <!-- For Production -->
        
        <!-- Enabling Google Analytics -->
        <script type="text/javascript">
    		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    	</script>
    	<script type="text/javascript">
    		try {
    			var pageTracker = _gat._getTracker("UA-16211208-1");
    			pageTracker._trackPageview();
    			} 
    	catch(err) {}
    	</script>

        <!-- Quantcast Tag -->
        <script type="text/javascript">
            var _qevents = _qevents || [];

            (function () {
                var elem = document.createElement('script');
                elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
                elem.async = true;
                elem.type = "text/javascript";
                var scpt = document.getElementsByTagName('script')[0];
                scpt.parentNode.insertBefore(elem, scpt);
            })();

            _qevents.push({
                qacct: "p-v8ZfLRLAahkeW"
            });
        </script>

        <noscript>
            <div style="display:none;">
                <img src="//pixel.quantserve.com/pixel/p-v8ZfLRLAahkeW.gif" border="0" height="1" width="1"
                     alt="Quantcast"/>
            </div>
        </noscript>
        <!-- End Quantcast tag -->

    </body>
</html>

