{% include "includes/header.html" %}

<script type="text/javascript"  src="{{STATIC_URL}}social_website/scripts/libs/external/jquery-1.12.4.min.js"></script>
<script type="text/javascript"  src="{{STATIC_URL}}social_website/scripts/libs/external/jquery-ui12.js"></script>
<script src="/media/assets/scripts/chosen.jquery.min.js"></script>
<script type="text/javascript"  src="{{STATIC_URL}}loop/broadcast.js"></script>

<link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/jquery-ui.css" />
<link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/screen.css" />

<!-- Broadcast template start -->

{% if acknowledge == 1 %}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <center>
        <h2 class="hdg-a hdg-source-lt layout-vr-md">Broadcast has been started successfully</h2>
        <a href="." style="font-size:18px; text-decoration: underline;">Click here to go back</a>
    </center>
    <br/>
    <br/>
    <br/>
    <br/>

{% else %}

    <div id="broadcast_menu">
        <br/>
        <ul style="border: 1px solid #EEEEEE;background: #f3f2eb;color: #047D0A;font-weight: bold;margin: 0;padding: .2em 1.2em 0;">
            <li><a href="#broadcast_test" ><span>Test Broadcast on one number</span></a></li>
            <li><a href="#broadcast"><span>Broadcast Message</span></a></li>
        </ul>
        <!-- Tab 1 -->
        <div id="broadcast_test">
            <form id="broadcast_test_form" class="form-box" method="POST" action="." enctype="multipart/form-data" >
                <br/>
                <br/>
                <div style="padding-left: 15px;">
                    {% csrf_token %}
                    {{ broadcast_test_form.as_p }}
                    <br/>
                    <br/>
                    <input type="submit" class="btn" name="broadcast_test_submit" value="Test Broadcast" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" class="btn" value="Reset">
                </div>
                <br/>
                <br/>
            </form>
        </div>
        <!-- Tab 2 -->
        <div id="broadcast">
            <form id="broadcast_form" class="form-box" method="POST" action="." enctype="multipart/form-data" >
                <div style="padding-left: 15px; content: '\a'; white-space: pre;">
                    {% csrf_token %}
                    {{ broadcast_form.as_p }}
                </div>
                <div style="padding-left: 15px;">
                    <input type="submit" class="btn" name="submit" value="Broadcast" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" class="btn" value="Reset">
                </div>
                <br/>
                <br/>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(function ($) {  //on document.ready
            $("#broadcast_menu").tabs({active: {{ active_tab }} });  
        });
        $(".chosen-select").chosen({width: "34%"});
    </script>

{% endif %}

<!-- Broadcast template end -->

{% include "includes/footer.html" %}
