<p>
  top-bar-data works!
  {{title}}
</p>
  <br>
  <!--<li class="list-inline-item" *ngFor='let key of myData | keys'>
    <div class="card" style="width: 20rem; background-color: #009688">
      <div class="card-block">
        <h4 class="card-title text-white">{{key.key}}</h4>
        <h6 class="card-text text-white small"><em><strong>{{key.value}}</strong></em></h6>
      </div>
    </div>
  </li>
  <li class="list-inline-item" *ngFor='let key of myData1 | keys'>
    <div class="card" style="width: 20rem; background-color: #009688">
      <div class="card-block">
        <h4 class="card-title text-white">{{key.key}}</h4>
        <h6 class="card-text text-white small"><em><strong>{{key.value}}</strong></em></h6>
      </div>
    </div>
  </li>-->

  <p>
    <li  class="list-inline-item" *ngFor='let key of myApiData'>
        <div class="card" style="width: 20rem; background-color: #009688">
          <div class="card-block">
            <h4 class="card-title text-white">{{key.data.overall.tagName}}</h4>
            <h6 class="card-text text-white small"><em><strong>{{key.data.overall.value}}</strong></em></h6>
          </div>
      </div>
    </li>
  </p>
