{% include "internal-tools/header.html" %}

	<section id="Static Data Upload" class="about-bg">
    	<div class="wrapper">
    		<div class="inner-wrapper">
    			<h2 class="hdg-a hdg-source-lt layout-vr-md">Raw Data Analytics - Result</h2>
    			<div class="media layout-vr-xlg">
					<center>
    				<div class="bd">
    					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">{{error}}</h3>
    				</div></center>
				</div>
			</div>
		</div>
	</section>

{% include "internal-tools/footer.html" %}