{% extends "dataexport/base.html" %}

{% block title %}
<title>Raw Data Analytics</title>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}

<link rel="stylesheet" media="screen" href="{{STATIC_URL}}assets/styles/chosen.css" />
        
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/jquery.dataTables.css" />
        <!-- <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/dataTables.tableTools.css" /> -->
        <link rel="stylesheet" media="screen" href="{{STATIC_URL}}assets/styles/select2.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="/media/assets/scripts/jquery.min.js"></script>
<script src="/media/assets/scripts/chosen.jquery.min.js"></script>
<script src="/media/raw_data_analytics/raw_data_analytics.js"></script>


<section id="Raw Data Analytics" class="about-bg">
    <div class="wrapper" style="margin-top: 2%;">
        <div class="inner-wrapper">
            <!-- <h2 class="hdg-a hdg-source-lt layout-vr-md" style="margin-bottom: 0">Raw Data Analytics</h2> -->

            <div class="media layout-vr-xlg">

                <form target="_blank" class="data-filter-form m-t-30" action="/coco/rda/execute/" id="formId" method="POST"  autocomplete="off"
                      enctype="multipart/form-data"  style="margin-top: -5%">
                    {% csrf_token %}
                    <br><br><br>
            
            


            <div class="filter" style="width:55%;float: left;margin-bottom: 27%;border-right: 2px ridge #6c757d59;">
            <div id="Filters"
                             style=' float:left; margin-top: 15px;'>
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Filters:</h3>
                            <div class="hdg-source-semibold hdg-f hdg-black layout-vr-sm">

                                <!-- date filter -->
                    <div id="date" name="Date">
                        <p class="copy">
                        <div  id="date" name="Date">
                            <label style="width: 110px;">Date Range</label>
                        <input  style=" width: 450px;" type="text" name="daterange" value="01/01/2017 - 01/06/2018" />
                        </div>
                        </p>
                    </div>
                            
                                <hr style="background:#CECECE; border:0; height:1px" />
                                <br>
                                <div name='country' id='countryID' style="">
                                    <label style="width: 110px;">Country</label>
                                    <select class='select' multiple name='country' id='countryId'
                                            style=" width: 450px; " >

                                        {% if countries %}
                                            {% for country in countries %}
                                                <option value="{{ country }}"> {{ country }} </option>{% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <br>

                                <div name='state' id='stateID' style="">
                                    <label style="width: 110px;">State</label>
                                    <select class='State' multiple name='state' id='stateId' disabled="true"

                                            style="width: 450px;">

                                    </select>
                                </div>
                                <br>

                                <div name='district' id='districtID' style=" ">
                                    <label style="width: 110px;">District</label>
                                    <select class='select' multiple="multiple" name='district' id='districtId'

                                            disabled="true" style="width: 450px;"
                                    >

                                    </select>
                                </div>
                                <br>

                                <div name='block' id='blockID'
                                     style="">
                                    <label style="width: 110px;">Block</label>
                                    <select class='select' multiple="multiple" name='block' id='blockId'

                                            style="  width: 450px; " disabled="true"
                                    >


                                    </select>
                                </div>

                                <br>
                                <div name='village' id='villageID'
                                     style=" ">
                                    <label style="width: 110px;">Village</label>
                                    <select class='select' multiple="multiple" name='village' id='villageId'
                                            style="width: 450px;" disabled="true">

                                    </select>
                                </div>
                                <br>
                                <hr style="background:#CECECE; border:0; height: 1px" />
                                <br>
                                <!-- partner -->
                                <div name='partner' id='partnerID' style="">
                                    <label style="width: 110px;">Partner</label>

                                    <select class="select" multiple name='partner' id='partnerId'
                                            style=" width: 450px; ">
                                        {% if partners %}
                                            {% for partner in partners %}
                                                <option value="{{ partner }}"> {{ partner }} </option>{% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <br>
                                <hr style="background:#CECECE; border:0; height:1px" />
                            
                                <br>
                                <!-- video -->
                                <div name="video" id=" videoID"
                                     style="">
                                    <label style="width: 110px;">Video</label>
                                    <select class="select" multiple="multiple" name='video' id="videoId"
                                            style="width: 450px;height: auto">
                                    </select>
                                </div>
                              
                                 <br>
                                <hr style="background:#CECECE; border:0; height:1px" />
                            
                                <br>
                                <!-- category -->
                                
                                 <div name='category' id='categoryID' style="">
                                    <label style="width: 110px;">Category</label>

                                    <select class="select" multiple name='category' id='categoryId'
                                            style=" width: 450px; height: auto;">
                                    </select>
                                </div>
                                <br>
                                <!-- subcategory -->
                                 <div name='subcategory' id='subcategoryID' style="">
                                    <label style="width: 110px;">Subcatgeory</label>

                                    <select class="select" multiple name='subcategory' id='subcategoryId'
                                            style=" width: 450px; ">
                                        
                                    </select>
                                </div>
                                <br>
                                <!-- video practice -->
                                 <div name='videop' id='videopID' style="">
                                    <label style="width: 110px;">Video Practice</label>

                                    <select class="select" multiple name='videop' id='videopId'
                                            style=" width: 450px; ">
                                       
                                    </select>
                                </div>
                                <br>
                                <!-- tags -->
                                 <div name='tag' id='tagID' style="">
                                    <label style="width: 110px;">Tags</label>

                                    <select class="select" multiple name='tag' id='tagId'
                                            style=" width: 450px; ">
                                        
                                    </select>
                                </div>
                                
                                

                            </div>

                        </div>
                    </div>
                    <div id="leftdiv" style="width:40% ; float:left; padding-left: 80px; margin-top: 15px;">
                        <div name="Partition"
                             style=' padding-right:10px; display:inline-block; float:left;margin-left: 5%;margin-top:0%;'>
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Partitions:</h3>
                            <div class="hdg-source-semibold hdg-f hdg-black layout-vr-sm">

                                <ul style='list-style-type: none; padding-left: 0px;'>
                                    <li><input type="checkbox" id="partner" name="partner_chk" value="partner">Partner
                                    <li><input type="checkbox" id="country" name="country_chk" value="country">Country
                                    <li><input type="checkbox" id="state" name="state_chk" value="state">State
                                    <li><input type="checkbox" id="district" name="district_chk" value="district">District
                                    <li><input type="checkbox" id="block" name="block_chk" value="block">Block
                                    <li><input type="checkbox" id="village" name="village_chk" value="village">Village
                                    <li><input type="checkbox" id="animator" name="animator_chk" value="animator">Animator(Mediator)
                                    <li><input type="checkbox" id="people" name="people_chk" value="animator">Registered
                                        Viewers
                                    <li><input type="checkbox" id="group" name="group_chk" value="animator">SHG
                                    
                                    <li><input type="checkbox" id="video" name="video_chk" value="videos" onchange="dropdown_control($('#video').parent().parent().parent().parent().parent().children('[name='+ 'Values'+']').children().children().children().children('input[type=' + 'checkbox' + ']:checked').attr('id'));">Videos
                                </ul>
                            </div>
                        </div>

                        <div name="Values"
                             style='float:left; display: inline-block; padding-top: 13%;margin-left: 5%;margin-top:1%'>
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Values:</h3>
                            <div class="hdg-source-semibold hdg-f hdg-black layout-vr-sm">
                                <ul style='list-style-type: none; padding-left: 0px;'>
                                    <li><input type="checkbox" id="screening" name="screening_chk" value="screening">Number
                                        of Screenings
                                    <li><input type="checkbox" id="adoption" name="adoption_chk" value="adoption">Number
                                        of
                                        Adoptions
                                    <li><input type="checkbox" id="animator_no" name="no_animator_chk"
                                               value="numAnimators">Number
                                        of Animators(Mediators)
                                    <li><input type="checkbox" id="attendance" name="attendance_chk" value="attendance">Number
                                        of Viewers
                                    <li><input type="checkbox" id="video_screened_no" name="no_video_screened_chk"
                                               value="numVideoScreened">Number
                                        of Videos Screened
                                    <li><input type="checkbox" id="video_produced_no" name="no_video_produced_chk"
                                               value="numVideoProduced">Number
                                        of Videos Produced
                                    <li><input type="checkbox" id="blocknum" name="blocknum" value="numBlock" onchange="dropdown_control($(this).attr('id'))">Number
                                        of Blocks
                                    <li><input type="checkbox" id="villagenum" name="villagenum" value="numVillage" onchange="dropdown_control($(this).attr('id'))">Number
                                        of Villages
                                    <li><input type="checkbox" id="list" name="list" value="list" onchange="dropdown_control($(this).attr('id'))">List
                                </ul>
                                <div>
                                <div id="blocknumberoptions" name='blocknumberoptions' style='visibility:hidden;position: absolute;' >
                                    <select class='select' name='blocknumber_video' id='blocknumber_video' style='width:200px;'>
                                        <option value='0'>------Number related to------</option>
                                        <option value='numBlockAdoption'>Adoption</option>
                                        <option value='numBlockScreening'>Screening</option>
                                    </select>
                                </div>
                                <div id="villagenumberoptions" name='villagenumberoptions' style='visibility:hidden; position:absolute;'>
                                    <select class='select' name='villagenumber_video' id='villagenumber_video' style='width:200px;'>
                                        <option value='0'>------Number related to------</option>
                                        <option value='numVillageAdoption'>Adoption</option>
                                        <option value='numVillageScreening'>Screening</option>
                                    </select>
                                </div>
                                <div id="listoptions" name='listoptions' style='visibility:hidden; position:absolute;'>
                                    <select class='select' name='list_video' id='list_video' style='width:200px;'>
                                        <option value='0'>------------List of-------------</option>
                                        <option value='listVideoProduced'>Produced Videos</option>
                                        <option value='listVideoScreened'>Screened Videos</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div name="Buttons" class="centered layout-vr-lg"
                             style="padding-top:13%; float:left;margin-bottom: 20%;margin-left: 5%;margin-right:15%;">
                            <input class="btn btn-secondary" type="submit" value="Submit" onclick="validation_check(this)"> &nbsp;&nbsp;
                            <input class="btn btn-secondary" type="button" id="resetId" value="Reset">
                        </div>
                    </div>

                    <!-- <div id="rdaext" name="rda-ext" class="row">
                        <div class="col-sm-12">
                            Extract & Upload:
                        </div>
                        <div class="col-sm-12">
                                <a href="/coco/export/" target="_blank" class="btn btn-secondary">Extract Screening & Adoption</a>
                                &nbsp; <a href="/coco/uploaddata/" target="_blank" class="btn btn-secondary">Upload Data</a>
                        </div>
                           
                    </div> -->

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
