<HTML>
	<center>
		<head>
			<h1>Raw Data Analytics</h1>
		</head>
		<body>
			<script src="{{STATIC_URL}}coco/app/scripts/libs/jquery.min.js"></script>
			<script type ='text/javascript'>

			function statechange(src, val) {
				//alert(val)

			$.get( "/raw_data_analytics/dropdown1/", { selected : val })
               .done(function( data ) {
                   data_json = JSON.parse(data);
                   //alert(data_json)
                   $('#stateID ').find('option:gt(0)').remove();
                   $('#districtID ').find('option:gt(0)').remove();
                   $('#blockID ').find('option:gt(0)').remove();
                   $('#villageID ').find('option:gt(0)').remove();
                    for (i in data_json){
                   	//alert(data_json[i]);
                   	$('#stateId').append("<option>"+data_json[i]+"</option>");
                   }
               });



            }

            function districtchange(src, val) {
				//alert(val)
			$.get( "/raw_data_analytics/dropdown2/", { selected : val })
               .done(function( data ) {
                   data_json = JSON.parse(data);
                   $('#districtID ').find('option:gt(0)').remove();
                   $('#blockID ').find('option:gt(0)').remove();
                   $('#villageID ').find('option:gt(0)').remove();
                   
                   //alert(data_json)
                   for (i in data_json){
                   	//alert(data_json[i]);
                   	$('#districtId').append("<option>"+data_json[i]+"</option>");
                   }
               });
            }

            function blockchange(src, val) {
				//alert(val)
			$.get( "/raw_data_analytics/dropdown3/", { selected : val })
               .done(function( data ) {
                   data_json = JSON.parse(data);
                   //alert(data_json)
                   $('#blockID ').find('option:gt(0)').remove();
                   $('#villageID ').find('option:gt(0)').remove();
                   
                   for (i in data_json){
                   	//alert(data_json[i]);
                   	$('#blockId').append("<option>"+data_json[i]+"</option>");
                   }
               });

            }
            function villagechange(src, val) {
				//alert(val)
			$.get( "/raw_data_analytics/dropdown4/", { selected : val })
               .done(function( data ) {
                   data_json = JSON.parse(data);
                   //alert(data_json)
                   $('#villageID ').find('option:gt(0)').remove();
                   for (i in data_json){
                   	//alert(data_json[i]);
                   	$('#villageId').append("<option>"+data_json[i]+"</option>");
                   }
               });
		}


			</script>

			<form action="/raw_data_analytics/execute/" method="POST" enctype="multipart/form-data" >
				{% csrf_token %}
				<div name="Filters">
					
					<h3>Filters:</h3>
					

					<div class='searchbody1' id='partner'>
				   				<select class='select' name='partner' id = 'partner'>
					    			<option value='-1'>Select Partner</option>
										{% if partners %}
										{% for partner in partners %}
											<option > {{partner}} </option>{% endfor %}
										{%endif%}
				    			</select>				
					</div></br>
					<div class='searchbody1' id='country'>
				   				<select class='select' name='country' id = 'countryId' onChange="statechange('state', this.value)">
					    			<option value='-1'>Select Country</option>
										{% if countries %}
										{% for country in countries %}
											<option > {{country}} </option>{% endfor %}
										{%endif%}
				    			</select>				
							</div></br>

					<div class='searchbody1' id='state'>
				   				<select class='select' name='state' id = 'stateId' onChange="districtchange('district', this.value)">
					    			<option value='-1'>Select State</option>
										
				    			</select>				
					</div></br>
					<div class='searchbody1' id='district'>
				   				<select class='select' name='district' id = 'districtId' onChange="blockchange('block', this.value)">
					    			<option value='-1'>Select District</option>
										
				    			</select>				
					</div></br>

					<div class='searchbody1' id='block'>
				   				<select class='select' name='block' id = 'blockId' onChange="villagechange('village', this.value)">
					    			<option value='-1'>Select Block</option>
										
				    			</select>				
					</div></br>

					<div class='searchbody1' id='villageID'>
				   				<select class='select' name='village' id = 'villageId'>
					    			<option value='-1'>Select Village</option>
										
				    			</select>				
					</div></br>		


					
				</div>
				<div name="Partition">
					<h3>Columns required in excel output</h3>
					<input type="checkbox" name="partner_chk" value"partner">Partner &nbsp;
					<input type="checkbox" name="country_chk" value"country">Country &nbsp;
					<input type="checkbox" name="state_chk" value"state">State &nbsp;
					<input type="checkbox" name="district_chk" value"district">District &nbsp;
					<input type="checkbox" name="block_chk" value"block">Block &nbsp;
					<input type="checkbox" name="village_chk" value"village">Village &nbsp;
					<input type="checkbox" name="animator_chk" value"animator">Animator &nbsp;
				</div><br>
				<div name="Values">
					<h3> Statistics Required:</h3>
					<input type="checkbox" name="screening_chk" value"screening">Number of Screenings &nbsp;
					<input type="checkbox" name="adoption_chk" value"adoption">Number of Adoptions &nbsp;
				</div><br>
				<div name="Date">
					<h3> Date: </h3>
					<p><h5>From: &nbsp;<input type="date" name="from_date">&nbsp; &nbsp;                                To: &nbsp; <input type="date" name="to_date">
					</h5></p>
				</div>
				<div name="Buttons">
					<input type="submit" value="Submit">
					<input type="reset" value="Reset">
				</div>
			</form>	
		</body>
	</center>
</html>