{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Base Page{% endblock %}</title>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet" href="{% static 'app_dashboards/css/materialize.min.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'app_dashboards/datatablejs_media/css/jquery.dataTables.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'app_dashboards/datatablejs_media/css/jquery.dataTables_themeroller.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'app_dashboards/css/dataTables.tableTools.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'app_dashboards/css/loopdashboard.css'%}" media="screen, projection"/>
{% block extracss %}{% endblock %}

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<div id="navbar">
		{% block navbar %}{% endblock %}
	</div>
	<main>
		<div id="content" class="container">
			{% block content %}{% endblock %}
		</div>
	</main>
</body>

<!-- Scripts here -->
<!-- Placed at the end of file for loading faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script src="{% static 'app_dashboards/js/jquery.min.js' %}"></script> -->
<script src="{% static 'app_dashboards/js/materialize.js' %}"></script>
<script src="{% static 'app_dashboards/js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'app_dashboards/datatablejs_media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'app_dashboards/js/dataTables.tableTools.js' %}"></script>
<script src="{% static 'app_dashboards/js/tableExporter.min.js' %}"></script>

{% block script %} {%endblock%}
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/drilldown.js"></script>
<script src="http://code.highcharts.com/modules/boost.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!-- <script src="{% static 'app_dashboards/js/highstocks.js' %}"></script>
<script src="{% static 'app_dashboards/js/highcharts/highcharts-more.js' %}" ></script>
<script src="{% static 'app_dashboards/js/highcharts/modules/data.js' %}"></script>
<script src="{% static 'app_dashboards/js/highcharts/modules/solid-gauge.js' %}"></script>
<script src="{% static 'app_dashboards/js/highcharts/modules/drilldown.js' %}"></script>
<script src="{% static 'app_dashboards/js/highcharts/modules/boost.js' %}"></script>
<script src="{% static 'app_dashboards/js/highcharts/modules/exporting.js' %}"></script> -->
</html>
