{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Base Page{% endblock %}</title>
<link rel="icon" type="image/png" href="/media/Output/Images/new_fav_icon.ico">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<!--Import materialize.css-->
<link rel="stylesheet" href="{% static 'app_dashboards/css/materialize.min.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'app_dashboards/datatablejs_media/css/jquery.dataTables.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'app_dashboards/datatablejs_media/css/jquery.dataTables_themeroller.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'app_dashboards/css/dataTables.tableTools.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'app_dashboards/css/loopdashboard.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" media="screen, projection"/>
{% block extracss %}{% endblock %}

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="keywords" content="loop, dg, dashboard, digitalgreen">
<meta name="description" content="Loop Dashboard">
</head>

<body>
	<div id="navbar">
		{% block navbar %}{% endblock %}
	</div>
	<main>
		<div id="content" class="container">
			{% block content %}{% endblock %}
		</div>
	</main>
	<div class="new_footer">
	  <p style="text-align:center">&#169; 2017 Digital Green. All rights reserved. <b><a class="privacy" href="{{PRIVACY_POLICY}}" target="_blank">Privacy Policy.</a> <a class="terms-service" href="{{TERMS_SERVICE}}" target="_blank">Terms of Service</a></b>
	  </p>
	</div>
</body>

<!-- Scripts here -->
<!-- Placed at the end of file for loading faster -->
<!-- <script src="{% static 'social_website/scripts/libs/external/jquery-1.12.4.min.js' %}"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'app_dashboards/js/materialize.min.js' %}"></script>
<script src="{% static 'app_dashboards/js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'app_dashboards/datatablejs_media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'social_website/scripts/libs/external/dataTables.tableTools.js' %}"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/highcharts-more.js"></script>

<!-- <script src="https://code.highcharts.com/highcharts-more.js" ></script> -->
<!-- <script src="{% static 'app_dashboards/js/highcharts/modules/data.js' %}"></script> -->
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
{% block script %} {%endblock%}
</html>
