{% extends "app_dashboards/loop_base.html" %} {% load static %} {% block title %}Home {% endblock %} {% block extracss %}

<link rel="stylesheet" media="screen, projection" href="{% static 'app_dashboards/css/materialize.min.css'%}" />
<link rel="stylesheet" media="screen, projection" href="{% static 'app_dashboards/css/loopdashboard.css'%}" />

<style>
	li.not-hoverable:hover,
	li.not-hoverable:active {
		background-color: transparent;
	}

	ul.collapsible> li.active {
		background-color: transparent;
	}

	.no-margin {
		margin: 0px;
	}
</style>
{% endblock %} {% block navbar %}
<header>
	<nav class="top-nav">

		<div class="nav-wrapper grey lighten-3">
			<a href="#" class="brand-logo center black-text">LOOP</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li class="active"><a class="blue-text" href="/loop/dashboard/">Home</a></li>
				<li><a class="blue-text" href="/loop/second_loop_page/">Analytics</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li class="active"><a href="/loop/dashboard/">Home</a></li>
				<li><a href="/loop/second_loop_page/">Analytics</a></li>
			</ul>

		</div>
	</nav>
</header>



{% endblock %} {% block content %}


<div class="row card white darken-1">
	<h5>Overall</h5>
	<hr/>
	<div class="row">
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Clusters</span>
				<h5 id="cluster_card"></h5>
				<span id="cluster_bullet"></span>
			</div>
		</div>
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Farmers</span>
				<h5 id="total_farmers_card"></h5>
				<span id="total_farmers_bullet"></span>
			</div>
		</div>
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Volume</span>
				<h5 id="total_volume_card"></h5>
				<span id="total_volume_bullet"></span>
			</div>
		</div>
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Revenue</span>
				<h5 id="revenue_card"></h5>
				<span id="revenue_bullet"></span>
			</div>
		</div>
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">CPK</span>
				<h5 id="total_expenditure_card"></h5>
				<span id="total_expenditure_bullet"></span>
			</div>
		</div>
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Sustainability</span>
				<h5 id="sustainability_card"></h5>
				<span id="sustainability_bullet"></span>
			</div>
		</div>



	</div>
</div>

<div class="row card white darken-1">
	<div id="recent_main" class="row">
		<div class="col s10">
			<h5>Recent</h5>
		</div>
		<div class="col s2">
			<select id="mFrequency" class="initialized">
					<option value="7">7</option>
					<option value="15" selected>15</option>
					<option value="30">30</option>
					<option value="60">60</option>
			</select>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Clusters</span>
				<h5 id="recent_cluster_card"></h5>
				<span id="recent_cluster_sparkline"></span>
			</div>
		</div>

		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Farmers</span>
				<h5 id="recent_active_farmers_card"></h5>
				<span id="recent_active_farmers_sparkline"></span>
			</div>
		</div>
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Volume</span>
				<h5 id="recent_volume_card"></h5>
				<span id="recent_volume_sparkline"></span>
			</div>
		</div>
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Revenue</span>
				<h5 id="recent_revenue_card"></h5>
				<span id="recent_revenue_sparkline"></span>
			</div>
		</div>
		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">CPK</span>
				<h5 id="cpk_card"></h5>
				<span id="cpk_sparkline"></span>
			</div>
		</div>

		<div class="col s6 m4 l2">
			<div class="card-content white darken-1">
				<span class="card-title">Sustainability</span>
				<h5 id="recent_sustainability_card"></h5>
				<span id="recent_sustainability_sparkline"></span>
			</div>
		</div>

	</div>
</div>


<div id="container2" style="position:relative;padding-top:30px">
	<div id="detail-container"></div>
		<div id="master-container" style="position:absolute;top:330px;height:100px;width:100%"></div>
</div>

{% endblock %}

{% block script %}
	<script src="{% static 'app_dashboards/js/loop_dashboard1.js' %}"></script>
{% endblock %}
