{% extends "app_dashboards/loop_base.html" %} {% load static %} {% block title %}Second Page {% endblock %} {% block extracss %}

<link rel="stylesheet" media="screen, projection" href="{% static 'app_dashboards/css/materialize.min.css'%}" />
<link rel="stylesheet" media="screen, projection" href="{% static 'app_dashboards/css/loopdashboard.css'%}" />

<style>
	li.not-hoverable:hover,
	li.not-hoverable:active {
		background-color: transparent;
	}

	ul.collapsible> li.active {
		background-color: transparent;
	}

	.no-margin {
		margin: 0px;
	}
</style>
{% endblock %} {% block navbar %}

<div class="navbar-fixed" >
	<nav>
		<div class="nav-wrapper">
			<a href="#" data-activates="mobile-demo1" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="hide-on-med-and-down">
				<ul class="left">
					<li><a href="#" data-activates="mobile-demo" class="button-collapse1">Filters</a></li>
			        <li><a class="active" onclick="change_tab('aggregator')">Agregators</a></li>
			        <li><a onclick="change_tab('mandi')">Mandi</a></li>
			        <li><a onclick="change_tab('crop')">Crop</a></li>
			    </ul>
		    
			    <ul class="right"><a id="get_data" class="waves-effect waves-light black lighten-2 white-text btn modal-trigger" href="#modal1">GET DATA</a></ul>
			    <ul class="right">
			    	<div class="row">
						<div class="input-field col s6">
							<i class="material-icons black-text text-lighten-2 prefix">today</i>
							<input id="from_date" placeholder="Start Date" type="text" class="datepicker">
						</div>
						<div class="input-field col s6">
							<i class="material-icons black-text text-lighten-2 prefix">today</i>
							<input id="to_date" placeholder="End Date" type="text" class="datepicker">
						</div>
					</div>
			    </ul>
			</ul>
			<ul class="side-nav" id="mobile-demo1">
				<ul class="left">
					<li><a href="#" data-activates="mobile-demo" class="button-collapse1">Filters</a></li>
			        <li><a class="active" onclick="change_tab('aggregator')">Agregators</a></li>
			        <li><a class="" onclick="change_tab('mandi')">Mandi</a></li>
			        <li><a class="" onclick="change_tab('crop')">Crop</a></li>
			        <div class="input-field">
						<i class="material-icons black-text text-lighten-2 prefix">today</i>
						<input id="from_date" placeholder="Start Date" type="text" class="datepicker">
					</div>
					<div class="input-field">
						<i class="material-icons black-text text-lighten-2 prefix">today</i>
						<input id="to_date" placeholder="End Date" type="text" class="datepicker">
					</div>
					<ul class="right"><a id="get_data" class="waves-effect waves-light black lighten-2 white-text btn modal-trigger" href="#modal1">GET DATA</a></ul>
			    </ul>
			</ul>
		</div>
	</nav>
</div>


<ul class="side-nav" id="mobile-demo">
	<!-- <ul id="nav-mobile" class="side-nav fixed"> -->
		<li class="no-padding not-hoverable">
			<ul class="collapsible collapsible-accordion">

				<li class="bold not-hoverable"><a class="collapsible-header  waves-effect waves-black">Aggregators</a>
					<div class="collapsible-body container" style="display: none;">
						<table class="filter-table centered">
							<thead>
								<tr>
									<th class="center grey-text text-lighten-1">Select/Unselect</th>
									<th>
										<input type="checkbox" class="black" id="aggregator_all" checked="checked" />
										<label for="aggregator_all"></label>
									</th>
								</tr>
							</thead>
							<tbody id="aggregators">
							</tbody>
						</table>
					</div>
				</li>
				<li class="bold not-hoverable"><a class="collapsible-header waves-effect waves-black">Crops</a>
					<div class="collapsible-body container" style="display: none;">
						<table class="filter-table centered">
							<thead>
								<tr>
									<th class="center grey-text text-lighten-1">Select/Unselect</th>
									<th>
										<input type="checkbox" class="black" id="crop_all" checked="checked" />
										<label for="crop_all"></label>
									</th>
								</tr>
							</thead>
							<tbody id="crops">
							</tbody>
						</table>
					</div>
				</li>
				<li class="bold not-hoverable"><a class="collapsible-header waves-effect waves-black">Mandi</a>
					<div class="collapsible-body container" style="display: none;">
						<table class="filter-table centered">
							<thead>
								<tr>
									<th class="center grey-text text-lighten-1">Select/Unselect</th>
									<th>
										<input type="checkbox" class="black" id="mandi_all" checked="checked" />
										<label for="mandi_all"></label>
									</th>
								</tr>
							</thead>
							<tbody id="mandis">
							</tbody>
						</table>
					</div>
				</li>
				<li class="bold not-hoverable"><a class="collapsible-header waves-effect waves-black">Gaddidar</a>
					<div class="collapsible-body container" style="display: none;">
						<table class="filter-table centered">
							<thead>
								<tr>
									<th class="center grey-text text-lighten-1">Select/Unselect</th>
									<th>
										<input type="checkbox" class="black" id="gaddidar_all" checked="checked" />
										<label for="gaddidar_all"></label>
									</th>
								</tr>
							</thead>
							<tbody id="gaddidars">
							</tbody>
						</table>
					</div>
				</li>
			</ul>
		</li>
	</ul>






{% endblock %} {% block content %}



<div class="center">

	<div id="modal1" class="modal">
		<div class="modal-content">
			<p>Invalid Date Range</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-black btn-flat">OK</a>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="input-field col s6 offset-s3 ">

		<select id="table_option" class="initialized">
			<option value="" disabled >Choose your option</option>
			<option value="1" selected>Village</option>
			<option value="2">Aggregator</option>
		</select>

		<label>Change the Table</label>
	</div>
	
	</div>
</div>

<div id="village_table">
	<div id="village_label">
		<h5 class="center-align">Village Wise Data</h5>
	</div>
	<table id="table1" class="highlight bordered centered ">

		<thead>
			<tr>
				<th data-field="name">Village</th>
				<th data-field="float">Volume</th>
				<th data-field="price">Pay Amount</th>
				<th data-field="integer">Total Farmers</th>
				<th data-field="float">
					<div>Average Farmers</div> Per Day</th>
			</tr>
		</thead>

		<tbody id="table1_tbody">
			<tr>

			</tr>
		</tbody>
	</table>
	<br>
	<div class="row">
		<div class="col s6" id="village_vol_label">
			<h5 class="center-align">Volume Variation of Different Villages</h5>
			<div id="pie_vol"></div>
		</div>
		<div class="col s6" id="village_price_label">
			<h5 class="center-align">Price Variation of Different Villages</h5>
			<div id="pie_amount"></div>
		</div>
	</div>
</div>

<div id="aggregator_table">
	<div id="aggregator_label">
		<h5 class="center-align">Aggregator Wise Data</h5>
	</div>
	<table id="table2" class="highlight bordered centered">

		<thead>
			<tr>
				<th data-field="name">Aggregator</th>
				<th data-field="float">Volume</th>
				<th data-field="price">Pay Amount</th>
				<th data-field="integer">Total Farmers</th>
				<th data-field="float">
					<div>Average </div> Farmers Per Day</th>
			</tr>
		</thead>

		<tbody id="table2_tbody">
			<tr>

			</tr>
		</tbody>
	</table>
	<br>
	<div class="row">
		<div class="col s6" id="aggregator_vol_label">
			<h5 class="center-align">Volume Variation of Different Aggregators</h5>
			<div id="pie_vol2"></div>
		</div>
		<div class="col s6" id="aggregator_price_label">
			<h5 class="center-align">Price Variation of Different Aggregators</h5>
			<div id="pie_amount2"></div>
		</div>
	</div>
</div> -->

<div class="container">
	<div class="row ">
		
		<!-- <select id="m_g_c_a" class="initialized">
			<option value="" disabled >Choose your option</option>
			<option value="1" selected>mandi</option>
			<option value="2">gaddidar</option>
			<option value="3">crop</option>
		</select> -->


		<div class=" col s12 m12 l6">			
			<div class="row">
				<ul class="tabs">
				<li class="tab col s4" id="sof"><a class="center active blue-text" id="aggregator_volume" onclick="change_graph('volume')"> Volume</a></li>
				<li class="tab col s4"><a class="center blue-text" id="aggregator_amount" onclick="change_graph('amount')" > Amount</a></li>
				<li class="tab col s4"><a class="center blue-text" id="aggregator_visits" onclick="change_graph('visits')"> Visits</a></li>
				</ul>
			</div>
			<hr>
			<h5 class="center-align" id="1stgraph"></h5>
			<div id="aggregator_mandi" class="col s12"></div>
		</div>
		<!-- <div class="col s12 m6">
			<h5 class="center-align">Aggregator Gaddidar wise</h5>
			<div id="aggregator_gaddidar" class="col s12"></div>
		</div>
		</div>
		<div class="row">
		<div class="col s12 m6">
			<h5 class="center-align">Aggregator Crop wise</h5>
			<div id="aggregator_crop" class="col s12"></div>
		</div> -->
		<div class="col s12 m12 l6">
			<div class="row">
				<ul class="tabs">
				<li class="tab col s6"><a class="center active" id="aggregator_cpk" onclick="change_graph('cpk_spk')">Cpk_Spk</a></li>
				<li class="tab col s6"><a class="center" id="aggregator_cost" onclick="change_graph('cost_recovered')" >Total Cost and Recoverd</a></li>
			</div>
			<hr>
			<h5 class="center-align" id="2ndgraph"></h5>
			<div id="mandi_cost" class="col s12"></div>
		</div>

		<div class="col s12 m12 l6" id="aggregator_farmer_count">
			<h5 class="center-align" id="3rdgraph">Farmers Count</h5>
			<div id="farmers_count" class="col s12"></div>
		</div>

		<!-- <div class="col s12 m6">
			<h5 class="center-align" id="4thgraph"></h5>
			<div id="mandi_cost" class="col s12"></div>
		</div> -->


		<!-- Graphs for gaddidar in market page -->
		<div class="col s12 m6" id="gaddidar_aggregator_graph">
			<div class="row">
				<a class="center col s6" id="aggregator_volume" onclick="update_graphs_gaddidar_wise('volume')"> Volume</a>
				<a class="center col s6" id="aggregator_amount" onclick="update_graphs_gaddidar_wise('amount')" > Amount</a>
			</div>
			<hr>
			<h5 class="center-align" id="gaddidar_graph"></h5>
			<div id="aggregator_gaddidar" class="col s12"></div>
		</div>


		<!-- <div class="col s12 m6">
			<h5 class="center-align">CPK</h5>
			<div id="cpk" class="col s12"></div>
		</div>
		<div class="col s12 m6">
			<h5 class="center-align">SPK</h5>
			<div id="spk" class="col s12"></div>
		</div> -->
	</div>
</div>



<div id="container2" style="height: 400px; margin: 0 auto"></div>
<div id="container3" style="height: 400px; margin: 0 auto"></div>
<div id="container4"></div>
<div id="container5"></div>
<div id="container6"></div>


<div id="aggregator_label">
		<h5 class="center-align">Aggregator Wise Data</h5>
	</div>
	<table id="table2" class="highlight bordered centered">

		<thead>
			<tr>
				<th data-field="integer">S.No</th>
				<th data-field="date">Date</th>
				<th data-field="name">Mandi</th>
				<th data-field="integer">Total Volume</th>
				<th data-field="integer"> Total Farmers</th>
				<th data-field="integer"> Net Payment</th>
			</tr>
		</thead>

		<tbody id="table2_tbody">
			<tr>

			</tr>
		</tbody>
	</table>


{% endblock %}


{% block script %}
	<script src="{% static 'app_dashboards/js/loop_dashboard2.js' %}"></script>
{% endblock %}
