{% extends "app_dashboards/training_base.html" %}
{% load static %}

{% block title %}Dashboard | Home {% endblock %}

{% block extracss %}

<link rel="stylesheet" media="screen, projection" href="{% static 'app_dashboards/css/materialize.min.css'%}"/>
<link rel="stylesheet" media="screen, projection" href="{% static 'app_dashboards/css/trainingdashboard.css'%}"/>

<style>
li.not-hoverable:hover,
li.not-hoverable:active {
	background-color: transparent;
}
ul.collapsible > li.active {
	background-color: transparent;
}
.no-margin {
	margin: 0px;
}
</style>
{% endblock %}


{% block navbar %}
<header>
	<div id="progress_bar" class="progress no-margin teal lighten-4">
		<div class="indeterminate teal"></div>
	</div>
	<nav class="top-nav">
		<div class="nav-wrapper teal lighten-2">
			<div class="container">
				<a href="#" class="page-title">Training Dashboard</a>
				{# <ul id="nav-mobile" class="right hide-on-med-and-down"> #}
					{# 	<li><a href="index.html">Sass</a></li> #}
					{# 	<li><a href="badges.html">Components</a></li> #}
					{# 	<li><a href="collapsible.html">JavaScript</a></li> #}
					{# </ul> #}
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			</div>
		</div>
	</nav>
</header>

<ul id="nav-mobile" class="side-nav fixed">
	<li class="no-padding not-hoverable">
	<ul class="collapsible collapsible-accordion">
		<li class="bold not-hoverable"><a class="collapsible-header  waves-effect waves-teal">Place</a>
		<div class="collapsible-body container" style="display: none;">
			<table class="filter-table centered">
				<thead>
					<tr>
						<th class="center grey-text text-lighten-1">Select/Unselect</th>
						<th>
							<input type="checkbox" class="teal" id="place_all" checked="checked"/>
							<label for="place_all"></label>
						</th>
					</tr>
				</thead>
				<tbody id="places">
				</tbody>
			</table>
		</div>
		</li>
		<li class="bold not-hoverable"><a class="collapsible-header  waves-effect waves-teal">Trainers</a>
		<div class="collapsible-body container" style="display: none;">
			<table class="filter-table centered">
				<thead>
					<tr>
						<th class="center grey-text text-lighten-1">Select/Unselect</th>
						<th>
							<input type="checkbox" class="teal" id="trainer_all" checked="checked"/>
							<label for="trainer_all"></label>
						</th>
					</tr>
				</thead>
				<tbody id="trainers">
				</tbody>
			</table>
		</div>
		</li>
		<li class="bold not-hoverable"><a class="collapsible-header waves-effect waves-teal">Questions</a>
		<div class="collapsible-body container" style="display: none;">
			<table class="filter-table centered">
				<thead>
					<tr>
						<th class="center grey-text text-lighten-1">Select/Unselect</th>
						<th>
							<input type="checkbox" class="teal" id="question_all" checked="checked"/>
							<label for="question_all"></label>
						</th>
					</tr>
				</thead>
				<tbody id="questions">
				</tbody>
			</table>
		</div>
		</li>
		<li class="no-padding not-hoverable">
			<br>
			<div class="container">
				<a id="apply_filter" class="waves-effect waves-light teal lighten-2 white-text btn">APPLY FILTERS</a>
			</div>
		</li>

	</ul>
</ul>
{% endblock %}


{% block content %}
<br>
<div class="row">
	<div class="col s12 m6 l3">
		<div class="card teal darken-1">
			<div class="">
			<div class="card-content teal white-text">
				<div class="card-stats-title">
					<i class="mdi-action-subject"></i> No. of Trainings:
					<i class="">120</i>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="card teal darken-1">
			<div class="card-content teal white-text">
				<div class="card-stats-title">
					<i class="mdi-social-group"></i> Mediators Trained:
					<i class="">1896</i>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="card teal darken-1">
			<div class="card-content teal white-text">
				<div class="card-stats-title">
					<i class="mdi-action-spellcheck"></i> Pass Percentage:
					<i class="">82%</i>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l3">
		<div class="card teal darken-1">
			<div class="card-content teal white-text">
				<div class="card-stats-title">
					<i class="mdi-social-group-add"></i> Farmers Reached:
					<i class="">10391</i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row valign-wrapper" >
		<div class="input-field col s6">
			<i class="material-icons teal-text text-lighten-2 prefix">today</i>
			<input id="from_date" placeholder="Start Date" type="text" class="datepicker">
			<label for="from_date">Start Date:</label>

		</div>
		<div class="input-field col s6">
			<i class="material-icons teal-text text-lighten-2 prefix">today</i>
			<input id="to_date" placeholder="End Date" type="text" class="datepicker">
			<label for="to_date" class="active">End Date:</label>
		</div>
</div>

<div class="center">
	<a id="get_data" class="waves-effect waves-light teal lighten-2 white-text btn modal-trigger" href="#modal1">GET DATA</a>
	<div id="modal1" class="modal">
		<div class="modal-content">
			<p>Invalid Date Range</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-teal btn-flat">OK</a>
		</div>
	</div>
</div>
<div>
<br>
</div>

<div class="row">
	<div class="input-field col s6 offset-s3 ">
			<select id="table_option" class="initialized">
				<!-- <option value="" disabled >Choose your option</option> -->
				<option value="1" selected>Pico Seekho Assessment</option>
			</select>
		<label>Change the Assessment</label>
	</div>
</div>

<div class="container">
	<br>
	<div class="row">
		<h5 class="center-align">Trainer-Wise Mediator Scores</h5>
		<div id ="trainer_mediator_score"></div>
	</div>
	<div class="divider"></div>
	<br>
	<div class="row">
		<h5 class="center-align">Question-Wise Mediator Scores</h5>
		<div id ="question_mediator_score"></div>
	</div>
	<div class="divider"></div>
	<br>
	<div class="row">
		<h5 class="center-align">Mediator-Wise Disseminations and Adoptions</h5>
		<div id ="mediator_activity"></div>
	</div>
	<div class="divider"></div>
</div>

<div id="training_table">
	<div id="training_label">
		<h5 class="center-align">Training Data</h5>
	</div>
	<table id="table1" class="highlight bordered centered" >
		<thead>
			<tr>
				<th data-field="name">Place</th>
				<th data-field="name">Trainer</th>
				<th data-field="name">Language</th>
				<th data-field="integer">Total Participants</th>
			</tr>
		</thead>
		<tbody id ="table1_tbody">
			<tr>

			</tr>
		</tbody>
	</table>
	<br>
</div>

{% endblock %}
