{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}Base Page{% endblock %}</title>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link rel="stylesheet" href="{% static 'app_dashboards/css/materialize.min.css'%}" media="screen, projection"/>
<link rel="stylesheet" href="{% static 'app_dashboards/css/trainingdashboard.css'%}" media="screen, projection"/>
{% block extracss %}{% endblock %}

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<div id="navbar">
		{% block navbar %}{% endblock %}
	</div>
	<main>
		<div id="content" class="container" style="margin-top:-1%;">
			{% block content %}{% endblock %}
		</div>
	</main>
</body>

<!-- Scripts here -->
<!-- Placed at the end of file for loading faster -->
<script src="{% static 'app_dashboards/js/jquery.min.js' %}"></script>
<script src="{% static 'app_dashboards/js/materialize.min.js' %}"></script>
<script src="{% static 'app_dashboards/js/training_dashboard.js' %}"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

</html>
