
{% extends "app_dashboards/training_base.html" %}
	{% load static %}

	{% block title %}
		Dashboard | Home 
	{% endblock %}

	{% block extracss %}
		<link rel="stylesheet" media="screen, projection" href="{% static 'app_dashboards/css/materialize.min.css'%}"/>
		<link rel="stylesheet" media="screen, projection" href="{% static 'app_dashboards/css/trainingdashboard.css'%}"/>

		<style>
			li.not-hoverable:hover,
			li.not-hoverable:active {
				background-color: transparent;
			}
			ul.collapsible > li.active {
				background-color: transparent;
			}
			.no-margin {
				margin: 0px;
			}
		</style>
	{% endblock %}

	{% block navbar %}
		<header>
			<div id="progress_bar" class="progress no-margin teal lighten-4">
				<div class="indeterminate teal"></div>
			</div>
			<div class="navbar-fixed">
				<nav class="top-nav">
						<div class="nav-wrapper grey darken-3">
							 <a href="#" class="brand-logo center" style="font-size:175%;">Training Dashboard</a>
							<a id = "nav_menu" href="#" data-activates="mobile-demo" class="button-collapse" style="display:block;margin-left:3%;"><i class="material-icons">menu</i></a>
						</div>
				</nav>
			</div>
		</header>

	{% endblock %}

	{% block content %}
		<br>
		<ul id="mobile-demo" class="side-nav">

			<ul class="collapsible collapsible-accordion">

				<li class="bold not-hoverable" style="line-height:130%; padding-top:10%;">
					<a id="nav_assessments" class="collapsible-header waves-effect waves-teal">Assessments</a>
					<div class="collapsible-body container" style="display: none;">
						<table class="filter-table centered">
							<tbody id="assessments">
							</tbody>
						</table>
					</div>
				</li>

				<li class="bold not-hoverable" style="line-height:130%;padding-top:5%; max-height:60vh;overflow-y:auto;">
					<a id="nav_trainers" class="collapsible-header waves-effect waves-teal">Trainers</a>
					<div class="collapsible-body container" style="display: none;">
						<table class="filter-table centered">
							<thead>
								<tr>
									<th><input placeholder="Search" id="search_trainers" type="text" class="validate"></th>
									<th>
										<input type="checkbox" class="teal" id="trainer_all" checked="checked"/>
										<label for="trainer_all"></label>
									</th>
								</tr>
							</thead>
						</table>
						
						<table class="filter-table centered" id="trainers_table">
							<thead>
							</thead>
							<tbody id="trainers">
							</tbody>
						</table>
					</div>
				</li>

				<li class="bold not-hoverable" style="line-height:130%;padding-top:4%;max-height:60vh;overflow-y:auto;">
					<a id="nav_states" class="collapsible-header waves-effect waves-teal">States</a>
					<div class="collapsible-body container" style="display: none;">

						<table class="filter-table centered">
							<thead>
								<tr>
									<th><input placeholder="Search" id="search_states" type="text" class="validate"></th>
									<th>
										<input type="checkbox" class="teal" id="state_all" checked="checked"/>
										<label for="state_all"></label>
									</th>
								</tr>
							</thead>
						</table>

						<table class="filter-table centered" id="states_table">
							<thead>
							</thead>
							<tbody id="states">
							</tbody>
						</table>
					</div>
				</li>

				<li class="no-padding not-hoverable">
					
					<div class="container" style="padding-top:6%;">
						<a id="apply_filter" class="waves-effect waves-light teal lighten-2 white-text btn">APPLY FILTERS</a>
					</div>
				</li>

			</ul>

		</ul>

		<div id = "top_box" class="row col s12 m12" style="margin-left:-22%;margin-right:-22%;padding-top:2.5;padding-bottom:2.5%; padding-left:4%;padding-right:4%;">
			<div class="col s10 m4 l3 offset-s1 offset-m1" >
				<div class="card teal darken-1">
					<div class="">
					<div class="card-content teal white-text">
						<div class="card-stats-title" style="font-size:80%;">
							<i class="mdi-social-school"></i> No. of Trainings:<br/>
							<i id="num_trainings" class = "bold_large_font"> </i>
						</div>
					</div>
				</div>
				</div>
			</div>
			<div class="col s10 m4 l3 offset-s1 offset-m1" >
				<div class="card teal darken-1">
					<div class="card-content teal white-text">
						<div class="card-stats-title" style="font-size:80%;">
							<i class="mdi-social-group"></i> Mediators Trained: <br/>
							<i id="mediators_trained" class = "bold_large_font"> </i>
						</div>
					</div>
				</div>
			</div>
			<div class="col s10 m4 l3 offset-s1 offset-m1" >
				<div class="card teal darken-1">
					<div class="card-content teal white-text">
						<div class="card-stats-title" style="font-size:80%;">
							<i class="mdi-action-subject"></i> Average Score (out of 15):<br/>
							<i id="average_score" class = "bold_large_font"> </i>
						</div>
					</div>
				</div>
			</div>
			<div class="col s10 m4 l3 offset-s1 offset-m1" >
				<div class="card teal darken-1">
					<div class="card-content teal white-text">
						<div class="card-stats-title" style="font-size:80%;">
							<i class="mdi-action-spellcheck"></i> Pass Percentage:<br/>
							<i id="pass_percent" class = "bold_large_font"> </i>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id = "bottom_box" class="row" style = "background-color: #EFEFEF; margin-top:4%;" >

			<div class="input-field col s12 m6 l2">
				<input id="from_date" placeholder="Start Date" type="text" class="datepicker" style="font-size:90%;font-weight:bold;"> 
				<label for="from_date">From:</label>
			</div>

			<div class="input-field col s12 m6 l2 ">			
				<input id="to_date" placeholder="End Date" type="text" class="datepicker" style="font-size:90%; font-weight:bold;">
				<label for="to_date" class="active">To:</label>
			</div>

			<div class = "col s3 m3 l1 offset-s5 offset-m5">
					<a id="get_data" href="#invalid_date_modal" class="waves-effect waves-teal btn modal-trigger" style="font-size:100%; margin-top:40%;margin-bottom:40%; background-color:rgba(0,0,0,0.7);">GET</a>

					<div id="invalid_date_modal" class="modal" style = "width:20%; height:15%;">
						<div class="modal-content" style = "text-align : center;">
							<h5>Invalid Date Range</h5>
						</div>
					</div>
			</div>

			<div class="col s4 m4 l1 offset-l2 offset-s3 offset-m2" style="font-size:80%;">
				 No. of<br/> Trainings:<br/>
				<i id="filtered_num_trainings" class = "bold_medium_font"> </i>
			</div>

			<div class="col s4 m4 l1" style="font-size:80%;">
				Mediators<br/> Trained:<br/>
				<i id="filtered_mediators_trained" class = "bold_medium_font"> </i>
			</div>

			<div class="col s4 m4 l1 offset-s3 offset-m2" style="font-size:80%;">
				Average<br/> Score:<br/>
				<i id="filtered_average_score" class = "bold_medium_font"> </i>
			</div>

			<div class="col s4 m4 l1" style="font-size:80%;">
				Pass<br/> Percentage:<br/>
				<i id="filtered_pass_percent" class = "bold_medium_font"> </i>
			</div>

		</div>


	<!-- End  of Code for filtered data -->
	<div  class="container col s12 m12 l12" style="margin-top:-0.5%;width:100%;">
		<div class="row" style="">
			
			  <ul class="tabs" style="overflow-x: hidden;">
			    <li class="tab col s12"><a id="state_tab_link" class="active" href="#state_tab" >State</a></li>
			    <li class="tab col s12"><a id="trainer_tab_link" href="#trainer_tab">Trainer</a></li>
			    <li class="tab col s12"><a id="question_tab_link" href="#question_tab">Question</a></li>
			    <li class="tab col s12"><a id="month_tab_link" href="#month_tab">Month</a></li>
			    
			  </ul>

			<div id="state_tab" class="tab col s12">
				<div  id="state_training_data" style="margin-top:2%"></div>
				<br>
				<div id="state_mediator_data" style="padding-top:7%" ></div>
			</div>

			<div id="trainer_tab" class="tab col s12">
				<div id="trainer_training_data" style="margin-top:2%"></div>
				<br>
				<div id="trainer_mediator_data" style="padding-top:7%"></div>
			</div>

			<div id="question_tab" class="tab col s12">
				<div id="question_mediator_data" style="margin-top:2%"></div>
			</div>

			<div id="month_tab" class="tab col s12">
				
				<div id="month_training_data" style="margin-top:2%"></div>
			</div>
			
		</div>
	</div>

	{% endblock %}
