.categorylabelunselected {
    background: #f3f2eb;
    color: #757575;
    font-size: 14px;
    padding: 9px 13px;
    border: 1px solid #e6e5e0;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.categorylabelselected {
    background: #c2c1bc;
    color: #757575;
    font-size: 14px;
    padding: 9px 13px;
    border: 1px solid #e6e5e0;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.leftrelative {
	position:relative; 
	float:left;
}

.fleft {
	float:left;
}

#databox
{
	clear:both;
	border: 1px solid #c2c1bc;
	border-width: 3px;
	float: left;
	margin: 10px;
	padding: 10PX;
}