<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="/media/Output/JS/jsapi.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
    function update()
    {
    	jQuery.ajax({ 
    		url: "/path/update",
    		dataType: "json",
    		success: function(data){
    				$("#message").html(data.message);
    			}
    	});
    }
    </script>
    
 </head>
	<body>
		<p id="message" style="font-weight: bold; font-size:12px;"></p>
  	
  		<a href="https://docs.google.com/a/digitalgreen.org/spreadsheet/ccc?key=0AppSOog12ma-dEZCRnl2ZDRyVHJyZ0tJTFh6TW1ITkE&pli=1#gid=0" target="_blank"> Spreadsheet</a>
  
  		<button type="button" onclick="update()">Update</button>
  </body>
</html>
