    <div class="wrapper slideshow">
        <div class="slide" id="video-img">
            <div class="slide-img delete" >
				<img height=424 width=1024 src="/media/assets/images/home_carousel_image_crop.jpg" alt="">	
				<div class="play_button" style="position:absolute;z-index:1000;top:50%;left:50%;height:39px;width:28px;"; onclick=hide_this('{{header.currentPage}}');> </div>
            </div>

				<div id="main-carousel" class="main-carousel carousel-wrapper delete">
                <div class="carousel-container js-carousel-container">
                    <ul class="carousel-list">
                        <li>
                            <div class="slide-text">
                                <h1 class="hdg-source-reg hdg-super hdg-white hdg-textShadow"><span class="hdg-source-semibold">Digital Green</span> is a knowledge platform to amplify development around the world.</h1>
                                <a href="#" class="hdg-white hdg-source-reg hdg-c hdg-textShadow">Watch, Learn, Share</a>
                            </div>
                        </li>
                        <li>
                            <div class="slide-text">
                                <h1 class="hdg-source-reg hdg-super hdg-white hdg-textShadow">We work with rural communities to produce videos to transform livelihoods.</h1>
                                <a href="#" class="hdg-white hdg-source-reg hdg-c hdg-textShadow">Connect with your community</a>
                            </div>
                        </li>
                        <li>
                            <div class="slide-text">
                                <h1 class="hdg-source-reg hdg-super hdg-white hdg-textShadow"><span class="hdg-source-semibold">Digital Green</span> helps farmers share best practices within their communities.</h1>
                                <a href="#" class="hdg-white hdg-source-reg hdg-c hdg-textShadow">Discover best practices</a>
                            </div>
                        </li>
                        <li>
                            <div class="slide-text">
                                <h1 class="hdg-source-reg hdg-super hdg-white hdg-textShadow"><span class="hdg-source-semibold">Digital Green</span> Slide Four</h1>
                                <a href="#" class="hdg-white hdg-source-reg hdg-c hdg-textShadow">Watch, Learn, Share</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="carousel-nav js-carousel-nav">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>