{% include "includes/header.html" %}
        {% include "includes/partials/mainCarousel.html" %}
<section id="main" role="main" class="about-bg">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">About the Model</h2>
			<div class="media layout-vr-xlg">
				<div class="imgExt img-marginLg-lt img-effects">
					<img src="http://placehold.it/463x283" alt="" />
				</div>
				<div class="bd">
					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Digital Green is dedicated to improving the social, economic, and environmental sustainability of 
									small farmer livelihoods.</h3>
					<p class="copy">We aim to raise the livelihoods of smallholder farmers across the developing
									world through the targeted production and dissemination of agricultural information via participatory video and 
									mediated instruction through grassroots-level partnerships.
									This work begins by disseminating targeted agricultural information to small and marginal farmers using a cost-realistic
									media exchange that is supported by existing, people-based extension systems and local facilitators.
					</p>
					<a href="/social/about/model">Learn More ...</a>
				</div>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>
        
<section class="about-bg about-bg-white">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">About Us</h2>
			<div class="media layout-vr-xlg">
				<div class="img img-marginLg-rt img-effects">
					<img src="http://placehold.it/463x283" alt="" />
				</div>
				<div class="bd">
					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Browse these links to learn more about the organization.</h3>
					<ul class="link-list">
						<li><a href="#keyfacts">Key Facts</a></li>
						<li><a href="#values">Our Values</a></li>
						<li><a href="\social\board\">Our Board</a></li>
						<li><a href="\social\team\">Meet Our Team</a></li>
						<li><a href="\social\press\">Digital Green in the Press</a></li>
						<li><a href="\social\contact\">Contact Us</a></li>
						<li><a href="\social\careers\">Join Us</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>

<section id="keyfacts" class="about-bg ">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Key Facts</h2>
			<div class="media layout-vr-xlg">
				<iframe src="http://www.scribd.com/embeds/79825081/content?start_page=1&view_mode=list&access_key=key-2ar3evhh0h53iyxgz6of" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_23203" width="944" height="500" frameborder="0" seamless></iframe>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>

<section id="values" class="about-bg about-bg-white">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Values</h2>
			<div class="media layout-vr-xlg">
				
				<div class="bd">
					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Our goals are to extend the Digital Green system for agriculture extension</h3>
					<p class="copy copy-margin"> Through research- and community-level partners by bootstrapping on existing institutional capacity
									 and targeting investments in operational tools and processes, monitoring and evaluating progress with
									 feedback and refinement support, providing a platform to share content amongst partners, and enabling
									 partners and farming communities to sustain and expand the program on their own.
					</p>				 
					
					<ul class="copy bullet-list">
					
						<li class="copy">
							Obsession for improving the sustainability of farmer livelihoods: We start with the farmer and work backwards.
						</li>
						
						<li class="copy">
							Innovation: If you don't listen to farmers you will fail. But if you only listen to farmers you will also fail. We seek to improve not only the livelihoods of farmers or the efficacy of our partners, but also ourselves.
						</li>
						
						<li class="copy">
							Bias for Action: We live in a time of unheralded challenges and insurmountable opportunity, provided we make every minute count.
					
						</li>
						
						<li class="copy">
							Ownership: Ownership matters when you're building a great organization. Owners think long-term, plead passionately for their ideas, and are empowered to respectfully challenge decisions.
							
						</li>
						
						<<li class="copy">
							
							High Hiring Bar: When making a hiring decision we ask ourselves: "Will I admire this person? Will I learn from this person? Is this person a superstar?"
							
						</li>
						
						<li class="copy">
							
							Frugality: We spend money on things that really matter and believe that frugality breeds resourcefulness, sustainability, and invention!
							
						</li>
						

					</ul>
				</div>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>

<section class="about-bg">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Annual Report</h2>
			<div class="media layout-vr-xlg">
				<div class="imgExt img-marginLg-lt img-effects">
					<img src="http://placehold.it/463x283" alt="" />
				</div>
				<div class="bd">
					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Read our annual reports</h3>
					<ul class="link-list">
						<li><a href="/social/reports/2">Annual Report 2010-2011</a></li>
						<li><a href="/social/reports/1">Annual Report 2009-2010</a></li>
					</ul>
					
				</div>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>
        
{% include "includes/footer.html" %}