{% include "includes/header.html" %}
<section id="main" role="main" class="about-bg">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Our Mission</h2>
			<div class="media layout-vr-xlg">
				<div class="imgExt img-marginLg-lt img-effects">
					<img src="http://placehold.it/463x283" alt="" />
				</div>
				<div class="bd">
					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Lorem ipsum dolor sit amet consectetur volutpat euismod adipiscing elit.</h3>
					<p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat euismod nibh id venenatis. Mauris auctor vehicula tellus at commodo. Vestibulum non odio dui. In eget elit ut eros aliquet eleifend. Nunc porttitor vehicula cursus. Duis tempor erat a risus accumsan eu pellentesque felis mattis. </p>
				</div>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>

<section class="about-bg about-bg-white">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">The Challenge</h2>
			<div class="media layout-vr-xlg">
				<div class="img img-marginLg-rt img-effects">
					<img src="http://placehold.it/463x283" alt="" />
				</div>
				<div class="bd">
					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Lorem ipsum dolor sit amet consectetur volutpat euismod adipiscing elit.</h3>
					<p class="copy copy-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat euismod nibh id venenatis. Mauris auctor vehicula tellus at commodo. Vestibulum non odio dui. In eget elit ut eros aliquet eleifend. Nunc porttitor vehicula cursus. Duis tempor erat a risus accumsan eu pellentesque felis mattis. </p>
					<ul class="link-list">
					<li><a href="#">Link Lorem ipsum</a></li>
					<li><a href="#">Link Lorem ipsum</a></li>
					<li><a href="#">Link Lorem ipsum</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>

<section class="about-bg">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Our Impact and Partnerships</h2>
			<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Lorem ipsum dolor sit amet consectetur volutpat euismod adipiscing elit.</h3>
			<p class="copy layout-vr-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat euismod nibh id venenatis. Mauris auctor vehicula tellus at commodo. Vestibulum non odio dui. In eget elit ut eros aliquet eleifend. Nunc porttitor vehicula cursus. Duis tempor erat a risus accumsan eu pellentesque felis mattis. Nullam non ligula dolor, elementum pellentesque dui. Vestibulum scelerisque arcu eu tellus sodales at adipiscing metus dictum. Sed metus neque, dignissim tincidunt lobortis ultrices, semper a purus. Vestibulum bibendum tristique orci eget suscipit. Cras vel nibh in erat pellentesque rutrum vel eu massa. </p>
			<ul class="h-list layout-vr-lg">
				<li class="img-effects">
					<img src="http://placehold.it/220x155" alt="" />
				</li>
				<li class="img-effects">
					<img src="http://placehold.it/220x155" alt="" />
				</li>
				<li class="img-effects">
					<img src="http://placehold.it/220x155" alt="" />
				</li>
				<li class="img-effects">
					<img src="http://placehold.it/220x155" alt="" />
				</li>	
			</ul>
			<div class="centered layout-vr-lg">
				<a href="#" class="btn">See Our Partners</a>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>

<section class="about-bg about-bg-white">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Testimonials</h2>
			<div class="media layout-vr-xlg">
				<div class="imgExt img-marginLg-lt">
					<div class="grid layout-vr-lg">
						<div class="grid-col grid-size2of4">
							<div class="grid-margin-rt-md img-effects">
								<img src="http://placehold.it/220x155" alt="" />
							</div>
						</div>
						<div class="grid-col grid-size2of4 img-effects">
							<img src="http://placehold.it/220x155" alt="" />
						</div>
					</div>
					<div class="grid">
						<div class="grid-col grid-size2of4">
							<div class="grid-margin-rt-md img-effects">
								<img src="http://placehold.it/220x155" alt="" />
							</div>
						</div>
						<div class="grid-col grid-size2of4 img-effects">
							<img src="http://placehold.it/220x155" alt="" />
						</div>
					</div>
				</div>
				<div class="bd">
					<h3 class="hdg-source-semibold hdg-c layout-vr-sm">Lorem ipsum dolor sit amet consectetur volutpat euismod adipiscing elit.</h3>
					<p class="copy-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat euismod nibh id venenatis. Mauris auctor vehicula tellus at commodo. Vestibulum non odio dui. In eget elit ut eros aliquet eleifend. Nunc porttitor vehicula cursus. Duis tempor erat a risus accumsan eu pellentesque felis mattis. </p>
					<p>Nullam non ligula dolor, elementum pellentesque dui. Vestibulum scelerisque arcu eu tellus sodales at adipiscing metus dictum. Sed metus neque, dignissim tincidunt lobortis ultrices, semper a purus. Vestibulum bibendum tristique orci eget suscipit.</p>
				</div>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>

<section id="values" class="about-bg">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Values</h2>
			<div class="media layout-vr-xlg">
				
				<div class="bd">
					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Our goals are to extend the Digital Green system for agriculture extension</h3>
					<p class="copy copy-margin"> Through research- and community-level partners by bootstrapping on existing institutional capacity
									 and targeting investments in operational tools and processes, monitoring and evaluating progress with
									 feedback and refinement support, providing a platform to share content amongst partners, and enabling
									 partners and farming communities to sustain and expand the program on their own.
					</p>				 
					
					<ul class="bullet-list grid-pad-lt-sm"> <!-- created css class for bullet points. Named as bullet-list-->
					
						<li>Obsession for improving the sustainability of farmer livelihoods: We start with the farmer and work backwards.</li>                                
						<li>Innovation: If you don't listen to farmers you will fail. But if you only listen to farmers you will also fail. We seek to improve not only the livelihoods of farmers or the efficacy of our partners, but also ourselves.</li>                                
						<li>Bias for Action: We live in a time of unheralded challenges and insurmountable opportunity, provided we make every minute count.</li>
						<li>Ownership: Ownership matters when you're building a great organization. Owners think long-term, plead passionately for their ideas, and are empowered to respectfully challenge decisions.</li>
						<li>High Hiring Bar: When making a hiring decision we ask ourselves: "Will I admire this person? Will I learn from this person? Is this person a superstar?"</li>
						<li>Frugality: We spend money on things that really matter and believe that frugality breeds resourcefulness, sustainability, and invention!</li>
					
					</ul>
				</div>
			</div>
		</div> <!-- End .inner-wrapper -->
	</div> <!-- End .wrapper -->
</section>

<section id="keyfacts" class="about-bg about-bg-white">
    <div class="wrapper">
        <div class="inner-wrapper">
            <h2 class="hdg-a hdg-source-lt layout-vr-md">Key Facts</h2>
            <div class="media layout-vr-xlg">
                <iframe src="http://www.scribd.com/embeds/79825081/content?start_page=1&view_mode=list&access_key=key-2ar3evhh0h53iyxgz6of" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_23203" width="944" height="500" frameborder="0" seamless></iframe>
            </div>
        </div> <!-- End .inner-wrapper -->
    </div> <!-- End .wrapper -->
</section>

<!-- following can be used for reports where we can show up the report in 2 columns -->
<section class="about-bg">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Loren Ipsum Dolor</h2>
			<div class="grid layout-vr-lg">
                <div class="grid-col grid-size2of4">
                    <div class="grid-pad-rt">
                        <h3 class="hdg-c hdg-source-semibold hdg-black layout-vr-sm">Consectetur Volutpat Euismod</h3>
                        <p class="copy">Aenean tempor mattis quam, id vulputate augue ultrices ac. Sed eleifend quam sem, sit amet lacinia dolor facilisis id. Sed ut dolor et urna accumsan dignissim ac id velit. Integer tristique erat sed nisi lobortis, in aliquet felis euismod. Integer vitae erat sed mauris pretium semper id et massa. Curabitur felis metus, feugiat sit amet mi eu, luctus lobortis metus. In quis euismod est. Sed elit sem, tincidunt vel urna eu, malesuada volutpat sem. Cras non semper augue. Etiam nec scelerisque enim. Cras dui magna, tincidunt id dictum ac, sollicitudin quis lacus. Nunc placerat, ante in mattis feugiat, magna mi porta nisi, id vehicula magna neque sit amet quam. Ut et elementum urna, ut vehicula nulla. Nulla non lectus nulla. Etiam eu risus quam. Donec ut tellus volutpat, commodo tellus sit amet, vestibulum libero.
                        </p>
                    </div>
                </div>
                <div class="grid-col grid-size2of4">
                    <div class="grid-pad-lt">
                        <h3 class="hdg-c hdg-source-semibold hdg-black layout-vr-sm">Consectetur Volutpat Euismod</h3>
                        <p class="copy">Cras vitae nulla nisl. Donec dictum mauris vel volutpat sodales. Sed id massa non nulla tincidunt lobortis quis non purus. Nunc egestas odio sed nisi mattis lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus ullamcorper neque vulputate, auctor felis et, commodo metus. Nullam ut nunc vulputate nibh porttitor convallis. Proin congue iaculis porta. Nullam lacinia ultricies tellus quis convallis. Integer vel ligula id sem varius vehicula dapibus ut magna. Nunc mattis, nisi rhoncus lobortis dapibus, leo augue molestie turpis, nec eleifend dui velit sit amet urna. Phasellus lorem enim, mattis sit amet lacinia sit amet, interdum eget libero. Vivamus pellentesque ante vel sem lacinia, ut pretium ante tincidunt. Proin dignissim adipiscing lectus, eget dignissim sapien condimentum at.
                        </p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

<!-- following can be used for team members page -->
<!--
<section class="about-bg about-bg-white">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Example1</h2>
			<div class="media layout-vr-lg">
				<div class="grid-col grid-size1of4">
					<div class="img img-marginLg-rt img-effects">
						<img src="http://placehold.it/220x155" alt="" />
					</div>
				</div>
				<div class="bd">
					<p class="copy"> Content </p>
				</div>
			</div>
		</div>
	</div>
</section>
-->
<!-- following can be used for financials in reports -->
<section class="about-bg">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Financials</h2>
			<div class="media layout-vr-xlg">
				<div class="bd">
					<p class="copy copy-margin"> Digital Green's chartered accountants and auditors in the U.S. and India have developed a robust financial management system that defines how we maintain and administer our accounts within and between the countries in which Digital Green operates. Digital Green, as an organization, has transitioned from an embedded approach in which our team operated from the field offices of our partners to a hub-and-spoke model in which our team operates from regional offices and provides training and backstopping support to our partners through regular field visits
					</p>
				</div>
				<div class="grid layout-vr-lg">
					<div class="grid-col grid-size2of4">
						<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Budget</h3>
						<table class="copy simple-table">
				    		<tr>
				    			<td>Budget Line Items</td>
				    			<td>Actual Spent (US$)</td>    		 
				    		</tr>
				    		<tr>
								<td>Total Personal</td>
								<td>392,153</td>    		 
				    		</tr>
				    		<tr>
								<td>Total Travel</td>
								<td>32,388</td>    		 
				    		</tr>
				    		<tr>
								<td>Total Consultants</td>
								<td>17,734</td>    		 
				    		</tr>
				    		<tr>
				    			<td>Supplies</td>
								<td>194</td>    		 
				    		</tr>
				    		<tr>
								<td>Total Contracted Services</td>
								<td>14,383</td>    		 
				    		</tr>
				    		<tr>
				    			<td>Total Sub-grants to Other Organizations</td>
								<td>328,703</td>    		 
				    		</tr>
				    		<tr>
				    			<td>Total Equipment</td>
								<td>36,952</td>
				    		</tr>
				    		<tr>  
				    			<td>Total Direct Costs</td>
				    		    <td>801,386</td>
				    		</tr>
				    		<tr>
				    			<td>Total Indirect Costs</td>
				    		    <td>67,771</td>
				    		</tr>
				    	</table>
					</div>
					<div class="grid-col grid-size2of4 img-effects">
						<div class="grid-pad-lt">
							<img src="http://placehold.it/463x283" alt=""/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- following can be used board members-->
<section class="about-bg about-bg-white">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">Meet our board</h2>
			<div class="grid layout-vr-lg">
				<div class="grid-col grid-size2of5">
					<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Our board comprises of:</h3>
					<ul class="link-list">
					<li><a href="#">Melissa Ho</a></li>
					<li><a href="#">Srikant Vasan</a></li>
					<li><a href="#">Eric Walker</a></li>
					<li><a href="#">Kentaro Toyama</a></li>
					<li><a href="#">Rajesh Veeraraghavan</a></li>
					<li><a href="#">Soumen Biswas</a></li>
					</ul>
				</div>
				<div class="grid-col grid-size3of5">
					<ul class="h-list layout-vr-sm">
						<li class="img-effects">
							<img src="http://placehold.it/147x123" alt="" title="Melissa Ho"/>
						</li>
						<li class="img-effects">
							<img src="http://placehold.it/147x123" alt="" title="Srikant Vasan"/>
						</li>
						<li class="img-effects">
							<img src="http://placehold.it/147x123" alt="" title="Eric Walker"/>
						</li>
					</ul>
					<ul class="h-list layout-vr-lg">
						<li class="img-effects">
							<img src="http://placehold.it/147x123" alt="" title="Kentaro Toyama"/>
						</li>
						<li class="img-effects">
							<img src="http://placehold.it/147x123" alt="" title="Rajesh Veeraraghavan"/>
						</li>
						<li class="img-effects">
							<img src="http://placehold.it/147x123" alt="" title="Soumen Biswas"/>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- following can be used for tools/coco i.e., for HD image on top and content below (divided into two columns)-->
<section class="about-bg">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">COCO</h2>
			<div class="grid layout-vr-md">
				<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Connect Online Connect Offline</h3>
				<div class="grid-col grid-size2of4">
					<p class="copy copy-margin grid-pad-rt-sm">COCO is a highly sophisticated data input system that forms the base of Digital Green's software stack. The creation of this system was inspired by persistent and at times debilitating issues at the field level, specifically technical issues in gathering and storing information. To alleviate these problems, Digital Green's software team conceived of a highly flexible and robust alternative that sought to make information gathering and input at Digital Green less error prone, fast, and resilient to persistent data connectivity issues in remote locations.</p>
					<p class="copy copy-margin grid-pad-rt-sm">Most applicable to NGOs with a sizeable field operation, COCO's singular unique selling proposition is the ability to take the application offline in low and limited bandwidth locations, with uninterrupted usage in the browser. COCO is designed to support up to 100,000 users located anywhere in the world and only requires internet connectivity whenever a user is ready to synchronize their data with our global repository. Built as a robust standalone application in the Internet browser, COCO requires no additional software installation or maintenance. The system is designed in an open-source, customizable framework that can be deployed without the need of IT/engineering staff.</p>
					<p class="copy copy-margin grid-pad-lt-sm">COCO is architected as a Java web-framework, similar to and in proximate feature parity with popular frameworks such as Django or Ruby on Rails. The core of COCO's framework comprises of a variety of open source technologies. In light of achieving maximum speed as a browser application, COCO is developed using the GWT 2.0 (Google Web Toolkit) Java-Javascript framework. To enable offline mode, COCO employs the use of Google Gears, a browser plug-in that provides a persistent Sqlite database to store data relationally and a local cache to access all requisite static content. For deployment in offline mode, a compiled Javascript file is generated and made available in Google Gear's local cache for access by the browser; COCO in online mode operates as any other web application. More details on our architecture will be available later.</p>
				</div>
				<div class="grid-col grid-size2of4">
					<div class="media layout-vr-sm grid-pad-lt-sm">
						<img src="http://placehold.it/463x283" alt="" />
					</div>
					<p class="copy copy-margin grid-pad-lt-sm">Our paper on COCO, published in ACM-DEV: Saureen Shah, Apurva Joshi, COCO: A Web-Based Data Tracking Architecture for Challenged Network Environments. Accepted at the ACM DEV 2010 Conference, Royal Holloway, University of London, December 17-18, 2010 </p>
					<p class="copy copy-margin grid-pad-lt-sm">Our database, as described in schema documentation, is available for download.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- following can be used for tools/coco i.e., for HD image on top and content below (divided into two columns)-->
<!--
<section class="about-bg about-bg-white">
	<div class="wrapper">
		<div class="inner-wrapper">
			<h2 class="hdg-a hdg-source-lt layout-vr-md">COCO</h2>
			<div class="media">
				<div class="img-effects centered">
					<img src="http://placehold.it/940x300" alt="" />
				</div>				
			</div>
			<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Connect Online Connect Offline</h3>
			<div class="grid layout-vr-md">
				<div class="grid-col grid-size2of4">
					<p class="copy copy-margin grid-pad-rt-sm">COCO is a highly sophisticated data input system that forms the base of Digital Green's software stack. The creation of this system was inspired by persistent and at times debilitating issues at the field level, specifically technical issues in gathering and storing information. To alleviate these problems, Digital Green's software team conceived of a highly flexible and robust alternative that sought to make information gathering and input at Digital Green less error prone, fast, and resilient to persistent data connectivity issues in remote locations.</p>
					<p class="copy copy-margin grid-pad-rt-sm">Most applicable to NGOs with a sizeable field operation, COCO's singular unique selling proposition is the ability to take the application offline in low and limited bandwidth locations, with uninterrupted usage in the browser. COCO is designed to support up to 100,000 users located anywhere in the world and only requires internet connectivity whenever a user is ready to synchronize their data with our global repository. Built as a robust standalone application in the Internet browser, COCO requires no additional software installation or maintenance. The system is designed in an open-source, customizable framework that can be deployed without the need of IT/engineering staff.</p>
				</div>
				<div class="grid-col grid-size2of4">
					<p class="copy copy-margin grid-pad-lt-sm">COCO is architected as a Java web-framework, similar to and in proximate feature parity with popular frameworks such as Django or Ruby on Rails. The core of COCO's framework comprises of a variety of open source technologies. In light of achieving maximum speed as a browser application, COCO is developed using the GWT 2.0 (Google Web Toolkit) Java-Javascript framework. To enable offline mode, COCO employs the use of Google Gears, a browser plug-in that provides a persistent Sqlite database to store data relationally and a local cache to access all requisite static content. For deployment in offline mode, a compiled Javascript file is generated and made available in Google Gear's local cache for access by the browser; COCO in online mode operates as any other web application. More details on our architecture will be available later.</p>
					<p class="copy copy-margin grid-pad-lt-sm">Our paper on COCO, published in ACM-DEV: Saureen Shah, Apurva Joshi, COCO: A Web-Based Data Tracking Architecture for Challenged Network Environments. Accepted at the ACM DEV 2010 Conference, Royal Holloway, University of London, December 17-18, 2010 </p>
					<p class="copy copy-margin grid-pad-lt-sm">Our database, as described in schema documentation, is available for download.</p>
				</div>
			</div>
		</div>
	</div>
</section>
-->
{% include "includes/footer.html" %}