{% include "includes/header.html" %}
        
        
        <section id="main" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">The Model</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects">
                            <img src="http://placehold.it/463x283" alt="" />
                        </div>
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">The unique components of Digital Green are </h3>
                            <ul class="v-list">
                            	<li class="copy">A participatory process for content production,</li>
                            	<li class="copy">A locally generated digital video database,</li>
                            	<li class="copy">Human-mediated instruction for dissemination and training,</li>
                            	<li class="copy">Regimented sequencing to initiate a new community</li>
                            </ul>
                            	
                            <p class="copy copy-margin">Unlike some systems that expect information or communication technology alone to deliver useful knowledge to marginal farmers,
                            				Digital Green works with existing, people-based extension systems and aims to amplify their effectiveness.
                            </p>
                            
                            <p class="copy">While video provides a point of focus, it is people and social dynamics that ultimately make Digital Green work. Local social networks are tapped to connect farmers with experts; the thrill of appearing "on TV" motivates farmers; and homophily is exploited to minimize the distance between teacher and learner. The Digital Green system still requires the support of a grassroots-level extension system, but it magnifies its effectiveness by using relevant content and a local presence to connect with farmers on a sustained basis. Indeed, Digital Green was shown to be ten times more effective per dollar spent. 
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Our work rests on a number of key principles</h3>
                            <ul class="v-list">
                            
                            	<li>
                                	Digital video: Digital Green is enabled by recent advances in digital video technology, including low cost camcorders and PC solutions for editing digital video. These advances greatly lower the cost of the system, and also allow local development of video content.

                                </li>
                                
                                <li>
                                	Mediation: Videotaped demonstrations are not a complete extension solution because they lack the interactivity that is the hallmark of good extension. Digital Green relies on a local facilitator, whose role is to occasionally pause or repeat video in order to engage the audience with discussion and capture farmers feedback.
								</li>
                                
                                <li>
                                	Gender: Participants in Digital Green include facilitators, trainers, video and computing technicians, and support staff. Targets for female participation, such as local facilitators, are determined and tracked. Particular attention is paid to the gender balance in recruiting women for video productions. Topics of relevance to women are included in the content, especially topics related to crops that are grown by women.
                            
                                </li>
                                
                                <li>
                                	Target multiple levels of content production and consumption: Digital Green includes instruction between institutional researchers and community-level organizations, community-level organizations and farmers, farmers and other farmers. A strength of the multi-level approach is that it links smallholder issues into broader agricultural education, research, and policy.
                                	
                                </li>
                                
                                <li>
                                	
                                	Training: It is not sufficient to simply produce materials. It is also necessary to help researchers, extension staff, and village facilitators to develop skills in the social aspects of Digital Green to deliver the materials.

                                </li>
                                
                                <li>
                                	
                                	Content localization: It is important that Digital Green content is relevant to local conditions (crops, climates, soils, farming practices). The use of video provides opportunities for customization of materials.
	
                                </li>
                                
                                <li>
                                	Partnerships: The emphasis of Digital Green is on the development and delivery of digital content to improve the cost-effectiveness of organizations involved in agricultural research and/or extension. The goal is to strengthen existing institutions and groups; not to create new ones.
                                </li>
                                
                                <li>
                                	Community based content: Digital Green has an open model for dissemination of content so that they are freely available, by everyone, for use.
                                </li>
                                
                                <li>
                                	Cost realism: To be successful and sustainable, Digital Green operates in environments with limited infrastructure and financial resources. This means paying attention to costs at all levels, and limiting the investment in expensive equipment. High bandwidth internet connections are not necessary, since one option for receiving the video content is by DVD.
                                </li>
                                
                                <li>
                                	Feedback: By enabling anyone to be a content producer and consumer, Digital Green empowers first-kilometer communities to have a voice. Other types of audio and video-based mechanisms are used to support reporting and to build trust among virtual communities of participants.			
                                </li>
      
                            </ul>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg ">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Farmers</h2>
                    <div class="media layout-vr-xlg">
                        
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">India is primarily an agricultural country.</h3>
                            <p class="copy copy-margin">Over 60% of the population relies on agriculture for its livelihood. Though a generational vocation, farming has been unable to maintain its traditional heritage because of social, economic, and environmental change.
                            </p>
                            <p class="copy copy-margin">
                             The livelihoods of small and marginal farmers are in jeopardy in fragmented agricultural systems such as the one in India. Increasing debt and declining returns have led many to make desperate choices, which include selling their land below market rates and sometimes even taking their own lives. Farmers perceive that their options are limited because agricultural knowledge is often protected by the interests of chemical and seed manufacturers and market access is restricted by middle-men. Government extension officers are usually unable to visit with farmers for various reasons and agricultural broadcast programs lack relevancy. 
                            </p>
                            <p class="copy">Farmers tend to find refuge in their own intuition and the hearsay of fellow villagers, which sometimes results in a downward spiral of poor decision-making. NGOs have attempted to fill this information gap with extension staffs that train farmers and visit fields to promote better practices. A farmer's "conventional" operations may be transformed to into sustainable agriculture.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Database</h2>
                    <div class="media layout-vr-xlg">
                    	
                        <div class="bd">
                        	<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Our goals are to extend the Digital Green system for agriculture extension</h3>
                            <p class="copy copy-margin"> The Digital Green content repository is video-centric. This is important for a developing and predominantly rural country like India, which, by optimistic estimates, has an adult literacy rate of less than 60%. In farming communities, the literacy rate is substantially lower. The video based approach has several important advantages to traditional forms of agricultural content, which is typically not in the local language, intended for a literate audience, uses expert terminology, lacks grassroots level practicalities, and remains inaccessible in a sea of scattered media. Farmers, by the nature of their occupation, rely on their auditory and visual senses and video, though not perfect, comes closest to capturing the scene in detail. Video creation tends to be faster and less expensive than other types of media, as advanced preparation in "lesson"-planning can minimize post-production editing.
                            </p>				 
                            <p class="copy copy-margin"> Farmers are most receptive to adopt new practices through demonstrative exhibition. That is, farmers must see the additional benefits of a new method in relation to the control results of the conventional approach. Fertilizer companies have used this strategy by covertly visiting a farmer's field in the night, applying a dosage of their product on a small patch of land, and returning in the day to highlight the change. 
                            </p>
                            
                            <p class="copy"> Sustainable agricultural practices require a longer term cost-benefit analysis; however, video can compress the time needed to reveal the change. Visiting every farmer's plot to demonstrate a particular method requires unattainable human resources and transporting every farmer to a demonstration plot at a collectively acceptable place and time is culturally and logistically impractical. Video provides a means of bringing relevant demonstrations into the homes of farmers.
                            </p>
                            
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Production</h2>
                    <div class="media layout-vr-xlg">
                    	<div class="bd">
                        	<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Video recordings encourage the coalescence of scattered information into a systematic and comprehensive format with a localized context.</h3>
                            <p class="copy copy-margin"> For example, demonstrations of a particular agriculture technique typically follow the structure of: 
                            </p>
                            
                            <ul class="v-list copy copy-margin">
                            	<li>A brief verbal overview of the entire process</li>
                            	<li>An itemization of the required resources and associated costs</li>
                            	<li>Step-by-step instructions in the field</li>
                            	<li>A showcase of the uses and benefits</li>
                            	<li>Interactions with farmers to address common questions and concerns</li>
                            </ul>
                            					 
                            <p class="copy copy-margin">The recordings in the Digital Green database are made by teachers of agriculture at the grassroots level. This includes scientists from government institutions, NGO experts, field staff, progressive farmers, and other enthusiastic volunteers from inside and outside the local community. Expert reviewers ensure the accuracy, clarity, and completeness of the content, and guide the construction of a time- and location-sensitive video-based curriculum. 
                            </p>
                            
                            <p class="copy"> To ensure this goal, through research is conducted to formulate a cost-benefit analysis that ensures the sustainability of promoted agricultural methods given local conditions. Since local agronomic and environmental resources may vary from farmer to farmer and from season to season, content producers tend to focus on techniques that are robust to change or present possible alternatives.
                            </p>
                            
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Dissemination</h2>
                    <div class="media layout-vr-xlg">
                    	
                        <div class="bd">
                        	<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">The principal means of disseminating content from the Digital Green database is shipping DVDs to a village.</h3>
                            <p class="copy copy-margin"> Villages are provided a minimum of a TV and DVD player that is operated by NGO field staff and managed by local farmers. Villages usually do not have a public place in which farmers regularly gather, so the TV and DVD player must circulated around different areas of a village, which include bus stands, temples, schoolhouses, panchayat offices, storefronts, individual homes, and streets.
                            </p>				 
                            
                            <p class="copy copy-margin"> Farming is a physically demanding occupation that starts early in the morning when power cycles allow irrigation wells to start filling and ends late in the evening after one's family and animals have been fed. Most are willing to take only a short diversion from this daily routine between the hours of 7 to 9 pm. In addition, political and socioeconomic differences within village communities are prohibitive to gathering all the farmers together in one place at one time. The night showings usually involve small groups of about 10 to 20 farmers that are willing to come together at a common place within short distance of their homes.
                            </p>
                            
                            <p class="copy"> These groups serve as informal farmer training schools in the evenings and are complemented by field programs in daylight hours. Several small groups are formed within a single village to show content on a regular basis, based on the availability and interests of the group. Since the screening locations preferred by each small group may differ, though, multiple screenings are scheduled each week on a rotational basis. 
                            </p>
                            
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Sequencing</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects">
                            <img src="http://placehold.it/463x283" alt="" />
                        </div>
                        <div class="bd">
                            
                            <p class="copy copy-margin"> Introducing a village to new practices does not occur over a single night screening. The screening of content should follow a sequence that prompts interest and leads to adoption. Several sequences were attempted with focus audiences. The following approach works well when entering a new village:
                            </p>
                            <ul class="v-list copy copy-margin">
                                <li>
                                	Entertaining clippings, such as a women group singing folk songs, to attract an audience
                                </li>
                                <li>
                                	Testimonials and interviews with progressive farmers that disclose the concepts and experiences associated with the practices
                                </li>
                                <li>
                                	3-5 minute highlights of a broad spectrum of the practices that will be promoted
                                </li>
                                <li>
                                	Comparative demonstrations with progressive farmers that visibly (perhaps, to a humorous extent) show the benefits of the practices
                                </li>
                                <li>
                                	Familiar farmers from the local vicinity (preferably, the same village) attempting the practices
                                </li>
                                <li>
                                	Experts detailing concepts and step-by-step instructions for the practices
                                </li>
                                <li>
                                	As farmers increase in exposure to the practices being promoted, greater concentration can be placed on the content of types later in the sequence.
                                </li>
                            </ul>
                            
                            <p class="copy">
                            	Small groups that will regularly participate in the recording and screening of Digital Green content may be founded within formal structures of local farmer cooperatives and federations or can be initiated by the Digital Green system itself. For instance, communities may be approached in the following manner: (1) organize a village gathering in a central location to showcase highlights of the services that will be provided, (2) identify interested farmers, (3) record extension staff introducing a particular practice to these farmers on the field, (4) informally screen content of peer farmers and experts demonstrating practices to various areas of a village, (5) establish small groups of interested farmers with a regular schedule of content screenings, and (6) motivate community participation by generating a local competition to learn, adopt, and innovate better agricultural processes.
                            </p>	
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Diffusion</h2>
                    <div class="media layout-vr-xlg">
                    	
                        <div class="bd">
                        	<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">In an outdoors screening environment, villagers decide whether to remain in the audience with their feet.</h3>
                            <p class="copy copy-margin"> Extension staff monitors the dynamics of an audience, sometimes by directly posing questions, to maintain a farmer's engagement. Extension workers use the programming as a tool to disseminate content to a larger audience while maintaining personalized support. That is, extension workers will typically reiterate concepts between each clipping, pose questions to gauge interest, and announce follow-up visits and subsequent screenings. Extension workers encourage farmers to attempt processes on their own, and announce their availability to individually visit farmer plots as required. Extension workers sometimes provide farmers with the required ingredients or tools during the screenings of certain processes.	
                            </p>				 
                            
                            <p class="copy copy-margin"> Farmers may choose to avoid a practice if they need to purchase its ingredients from a distant store. During one screening, 16 farmers were introduced to a simple method of cultivating Azola. Twelve of the farmers expressed interest and were provided plastic sheets and culture to attempt the method on their own. The remaining 4 claimed the technique was either not applicable or not understandable to them. Of the 12 interested farmers, 6 farmers required the full-time supervision of extension staff, 3 farmers began the process on their own but requested follow-up support to validate their work, and 3 farmers successfully completed the process without any field support. Interestingly, the farmers requested the same content to be shown 5 times during a single screening to build sufficient confidence to embark on attempting the procedure. </p>
                            
                            <p class="copy"> The opportunity to repeat an expert demonstration multiple times in such a manner would be infeasible without video. Digital Green content can motivate farmers to adopt relevant new techniques with clarity and completeness, particularly when they observe their peers benefiting from them. Still, the availability of extension staff is crucial to ensure that the farmers are able to participate in the content generation process, are engaged during TV screenings, and are provided follow-up support in the field. 
                            </p>
                            
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Scalability</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects">
                            <img src="http://www.digitalgreen.org/media/Output/Images/scalabilityimg1.jpg" alt="" />
                        </div>
                        <div class="bd">
                            
                            <p class="copy copy-margin"> The Digital Green database is not intended to be a physically centralized system. Instead, Digital Green is designed to work as a decentralized network of hubs and spokes. Each hub is a demonstration village, which is transformed into a center of excellence through the concerted efforts of NGOs and experts, and the hubs themselves are "networked" together. The spokes are typically neighboring villages that also need help, but which are difficult to reach because of a lack in expert resources. Each hub is responsible for expert content production for the local region, content distribution in its local neighborhood, teacher training, and interactions with other hubs. Recording hubs in which field extension activities are concentrated provide a sequential stream of new content that can be screened to surrounding hubs and spokes.
                            </p>
                                                        
                            <p class="copy">
                            	The hubs-and-spokes model is how we may effectively scale up the Digital Green system. The applicability horizon of localized content depends on its type. Whereas an expert demonstration may be relevant to a wide geographical area (e.g., radius of around 20 km) beyond a hub, the motivation afforded by a farmer testimonial may be restricted to the immediate vicinity of where the farmer and village are known personally by the audience (e.g., radius of around 2 km). Spoke villages also participate in the content generation process for both internal and external consumption; however, the principal beneficiaries of the content will be the immediate peers of those farmers that are recorded. Content generated in spoke villages tends to be of lesser quality because experts are unavailable to support its production; however, worthy indigenous or innovative practices may be circulated for wider distribution as appropriate. 
                            </p>	
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Standard Operating Procedures</h2>
                    <div class="media layout-vr-xlg">
                    	<object id="doc_98872" name="doc_98872" height="600" width="100%" type="application/x-shockwave-flash" data="http://d1.scribdassets.com/ScribdViewer.swf" style="outline:none;" >            <param name="movie" value="http://d1.scribdassets.com/ScribdViewer.swf">             <param name="wmode" value="opaque">             <param name="bgcolor" value="#ffffff">             <param name="allowFullScreen" value="true">             <param name="allowScriptAccess" value="always">             <param name="FlashVars" value="document_id=77226898&access_key=key-1mwfczx5dthstdcu14k0&page=1&viewMode=list">             <embed id="doc_98872" name="doc_98872" src="http://d1.scribdassets.com/ScribdViewer.swf?document_id=77226898&access_key=key-1mwfczx5dthstdcu14k0&page=1&viewMode=list" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" height="500" width="100%" wmode="opaque" bgcolor="#ffffff"></embed>         </object>
                        
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Quality Assurance Framework</h2>
                    <div class="media layout-vr-xlg">
                        <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/77227319/content?start_page=1&view_mode=list&access_key=key-1vvdkztjcuy5zv44q65n" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_23203" width="944" height="500" frameborder="0"></iframe>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
{% include "includes/footer.html" %}