<div class="container-fluid">
  <tabset [justified]="true">
    <tab *ngFor="let tab of tabs" [heading]="tab.heading" [id]="tab.id" customClass="customClass">
      <br>
      <div class="row">
        <div *ngFor="let div of tab.showDivs" [class]="div.class">
          <div [id]="div.id"></div>
          <br><br>
        </div>
      </div>
    </tab>
  </tabset>

  <div *ngFor="let chart of charts">
    <chart [options]="chart.options" (load)="saveInstance($event.context, chart)"></chart>
  </div>

</div>
