
.subheaders							{ color:#CDBF5E; font-size:1.2em; font-family:Arial,Helvetica,Sans-Serif; font-weight:bold; }
#careernavpanel						{ margin-left:5%; margin-top:0%; width:100%; background-color:none; height:100% }
#careertitleimg						{ margin-left:0%; top:10px; width:95%; height:5%; text-align:right }
#careertitledesc					{ margin-left:0%; margin-top:10px; width:95%; font-size:0.9em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }
.careertitledesca					{ border-bottom-width:0px; border-bottom-style:solid; border-bottom-color:#e8f7ba;  }
.careertitledesca	a				{ text-decoration:none; font-size:1em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }	
.careertitledesca	a:hover			{ color:Black; }	 

#careerbody							{ width:100%; margin:0%; padding:0%; }
#careerbodydiv1						{ float:left; width:0%; min-height:1000px; margin:0%; padding:0%; border-right-width:0px; border-right-style:solid; border-right-color:#bbd569; text-align:top}
#careerbodydiv2						{ float:left; width:1024px; margin-top:10px; padding:0%; }
#careerbodydiv3						{ float:left; width:0%; margin:0%; padding:0%; }

#contentheader						{ width:100%; margin-top:10px; text-align:center; margin-left:0%; margin-right:0%; }
#contentheadertable					{ width:100%; margin-top:5px; background-color:none; }
.contentheadertitlediv				{ width:100%; font-size:1em; font-family:Calibri; font-weight:normal; color:Gray; align:center; padding-bottom:2px; }
.contentheadertitlediv1				{ font-size:1.2em; font-family:Calibri; font-weight:bold; color:Gray;}

.mainbodycontentleftimg				{ margin-top:3px; width:620px; }
#presscontent						{ width:100%; margin-top:0px; text-align:center; margin-left:0; margin-right:0%; }

#annualreporttable					{ border-top:1px solid #6e5a0c; border-bottom:1px solid #6e5a0c; align:center; clear:both; margin-top:20px; background-color:#E7F7CF; width:900px; }

.annualreporttd						{ padding:10px;  vertical-align:top; width:225px; }
.annualreportdiv					{ width:205px; height:280px; background-color:#62980C; }	
.annualreportdiv img				{ margin:5px; width:195px; height:145px; }
.annualreportdesc					{ text-align:left; width:195px; margin-left:5px; color:White; font-size:0.8em; font-family:Arial,Helvetica,Sanserif; font-weight:normal; }
.annualreporttitlelink				{ margin-bottom:3px; font-family:Arial,Helvetica,Sanserif; color:#E7F7CF; font-weight:bold; display:block; text-decoration:none; }
.annualreporttitlelink:hover		{ text-decoration:underline; }

#annualreporttable1					{ padding-top:10px; border-top:1px solid #6e5a0c; border-bottom:1px solid #6e5a0c; align:center; clear:both; margin-top:20px; width:900px; }
.annualreporttable1td				{ width:100%; }


#explorediv3						{ clear:both; width:264px; margin-top:20px; }
#explorediv3 img					{ margin:0px; padding:0px; width:262px; height:90px; border:1px solid #abd268; }	

#contentdiv2body					{ color:#333333; border-top:0px solid #E7F7CF; width:99%; margin-top:5px; background-color:none; padding:2px; }

#contentdiv1						{  }
#contentdiv2						{ width:99%; margin-bottom:10px; text-align:left; font-family:Sans-Serif; font-size:0.8em; font-weight:normal; color:Black; }


.highlighttext						{ font-weight:bold; }

.blockhighlight						{ margin-top:5px; margin-bottom:5px; display:block; vertical-align:top; width:612px; padding:2px; background-color:#62980C; font-family:Arial,Helvetica,Sanserif;  color:#E7F7CF; font-weight:bold; }

/* Press Articles */
#spotlighttable						{ margin-left:10px; margin-right:10px; width:97.2%; margin-bottom:10px; }
.spotlighttd						{ width:100%; }
.spotlightdivtitle					{ margin-top:2px; clear:both; margin-bottom:3px; width:100%; text-align:left; }
.spotlightdivdesc					{ text-align:left; margin-left:0%; clear:both; padding-bottom:15px; width:98%; font-size:0.8em; font-family:Arial,Helvetica,Sans-Serif; color:Black; }
.spotlightdivtitle a				{ font-size:1.0em; font-family:Georgia,'Times New Roman',Serif; font-weight:normal; color:#C7A048; text-decoration:none; }
.spotlightdivtitle a:hover			{ color:#fbae0c; }	

.titlediv							{ vertical-align:top; margin:5px 5px 0px 10px; width:97.2%; padding:2px; background-color:#62980C; font-size:0.8em; font-family:Arial,Helvetica,Sanserif;  color:#E7F7CF; font-weight:bold; }    

.viewmore							{ text-decoration:none; font-size:0.8em; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Gray; }
.viewmore:hover						{ color:#fbae0c; }
.viewmorediv						{ margin-top:0px; margin-left:0px; text-align:left; width:433px; }

				