body										{ background-color:none; font-size:100%;}
img											{ border-style:none; }
/* Navigation for logo and help/search*/

#fullbody									{ width:99.92%; left:0%; top:0%; margin:0%; padding:0%; position:absolute; z-index:100;  border-bottom-width:0px; border-bottom-style:solid; border-bottom-color:Green; }
#toplinks									{ float:none; width:100%; margin:0%; padding-top:3px; z-index:100; }	
#toprightlinks								{ width:100%; font-size:0.8em; font-family:Calibri; font-weight:normal; padding-top:0px }
.toprightlinks1								{ width:50%;}
.toprightlinks2								{ margin-left:0px; }
.topheadermenu								{ float:right; margin-left:2px; margin-right:2px; }
.topheadermenu a							{ text-decoration:none; font-size:1em; font-family:Calibri; font-weight:normal; color:#5b6e1d; }
.topheadermenu a:hover						{ text-decoration:underline; color:Black; }

#navclass									{ width:100%; margin:0%; padding:0%; z-index:100;  border-bottom-width:0px; border-bottom-style:solid; border-bottom-color:Green; height:70px; background-color:#d1f26f; }	
#navclass1									{ margin-top:0px; float:none; width:100% }
#navheaderleft								{ float:left; margin-top:0px; margin-left:5px; font-size:1.8em; font-family:Cambria; font-weight:bold; color:White;}
#navheaderright								{ float:right; width:220px; margin-top:15px; margin-right:10px}
#navhelp									{ margin-top:1px; float:left; width:20px; height:20px; margin-right:20px}
#navsearch									{ margin-top:0px; float:left; font-size:1em; font-family:Calibri; font-weight:normal;}
#navsearchinput								{ background-color:White; border-width:1px; border-style:solid; border-color:#59AF04; font-size:0.8em; font-family:Calibri; font-weight:normal; height:16px; color:#5b6e1d}
#navsearchbtn								{ margin-top:0px; float:left; border-top-width:1px; border-top-style:solid; border-top-color:#59AF04; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#59AF04; border-right-width:1px; border-right-style:solid; border-right-color:#59AF04;  }


/* header Navigation */

#navpanel									{ margin-top:0px; width:100%; float:none; background-color:#59af04; height:30px; margin-top:0px}
#headermenulist								{ float:none; margin-right:0px; margin-left:13%; text-align:center}
.headermenu									{ float:left; }
#headermenutitle							{ margin-left:5px; margin-top:2px; margin-right:50px; z-index:500 }
#headermenutitlename						{ padding-top:0px; font-size:1.4em; z-index:500; font-family:Calibri; font-weight:bold; color:White; border-bottom-width:0px; border-bottom-style:solid; border-bottom-color:White; background-color:none }
#subheadmenutop a							{ font-family:Calibri; font-weight:bold; color:#59af04; text-decoration:none; }	

#subheadmenutop								{ position:absolute; background-color:White; margin-top:-30px; margin-left:-5px; z-index:+1; font-size:1.0em; z-index:500; font-family:Calibri; font-weight:bold; color:#59af04; padding-top:2px; padding-left:5px; padding-bottom:0px; padding-right:10px; border-top-width:1px; border-top-style:solid; border-top-color:Green; border-right-width:1px; border-right-style:solid; border-right-color:Green; border-left-width:1px; border-left-style:solid; border-left-color:Green; display:none  }
#subheadmenu								{ position:absolute; background-color:White; margin-top:-1px; margin-left:-5px; z-index:+0; width:250px; min-height:60px; border-width:1px; border-style:solid; border-color:Green; display:none }
#subheadmenulist							{ list-tyle-type:none; margin-top:5px; margin-bottom:5px}
#subheadmenulist li							{ float:none; display:block; width:250px; list-tyle-type:none; margin-left:-40px; }
#subheadmenulist li  a					    { float:none; display:block; background-color:none; color:Black; width:98%; text-align:left; font-size:0.7em; font-family:Calibri; font-weight:normal; padding-left:5px; margin-top:5px; text-decoration:none}

/* Main body Content*/

#contentdiv									{ margin-top:0px; background-color:none; width:100%; left:0%; }
#mainbodytable								{ margin-top:0px; background-color:none; width:100%; left:0%; border:0;}
.mainbodytd1								{ margin-top:0px; width:100%; margin-left:0%; padding-top:0px; }
.mainbodytd									{ padding-top:0px; margin-top:0px; width:100%; margin-left:0%; padding-top:0px; }
#content									{ margin-top:0px; padding:0; top:0px; left:0%; width:100%; margin-bottom:0px; background-color:White;  }
#contentdesc								{ float:none; margin-top:50px; margin-bottom:0px; width:100%; }

/* footer section */

#contentfoot1								{ float:none; margin-left:0px; margin-bottom:0px; width:90%; height:60px; background-color:none; }
#contentfoot								{ float:none; margin-left:0%; margin-bottom:0px; width:90%; height:60px; background-color:none; }
#footertable								{ margin-top:70px; margin-left:5%; width:90%; height:40px; background-color:none; position:absolute }
#footertd1									{ width:30%; height:50px; margin-top:70px;}
#footertd21									{ background-color:none; width:15%; padding-left:5px; padding-top:1px; height:30px; margin-top:5px; border-top-width:1px; border-top-style:solid; border-top-color:Gray; font-size:0.8em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }
#footertd22									{ background-color:none; width:85%; height:30px; margin-top:5px; border-top-width:1px; border-top-style:solid; border-top-color:Gray; text-align:right; padding-right:5px }
#footernavlist								{ float:right}
.footermenu									{ float:left; text-align:right; margin-left:10px; padding-top:0px; margin-top:2px; font-size:0.9em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }
.footermenu a								{ text-decoration:none; font-size:0.9em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }
.footermenu a:hover							{ text-decoration:underline; }

#footertd31									{ width:15%; padding-left:5px; padding-top:1px; height:30px; margin-top:5px; font-size:0.8em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }
#footertd32									{ width:85%; height:30px; margin-top:5px; text-align:right; padding-right:5px }
#footercopyright							{ float:none; text-align:left; padding-left:10px; margin-left:30%; height:30px; margin-top:0px; font-size:0.8em; font-family:Calibri; font-weight:bold; color:#c9c9c9; }
