body										{ background-color:none; font-size:100%;}
img											{ border-style:none; }
/* Navigation for logo and help/search*/

#fullbody									{ width:99.92%; left:0%; top:0%; margin:0%; padding:0%; position:absolute; z-index:100;  border-bottom-width:0px; border-bottom-style:solid; border-bottom-color:Green; }
#toplinks									{ float:none; width:100%; margin:0%; padding-top:3px; z-index:100; }	
#toprightlinks								{ width:100%; font-size:0.8em; font-family:Calibri; font-weight:normal; padding-top:0px }
.toprightlinks1								{ width:50%;}
.toprightlinks2								{ margin-left:0px; }
.topheadermenu								{ float:right; margin-left:2px; margin-right:2px; }
.topheadermenu a							{ text-decoration:none; font-size:1em; font-family:Calibri; font-weight:normal; color:#5b6e1d; }
.topheadermenu a:hover						{ text-decoration:underline; color:Black; }

#navclass									{ width:100%; margin:0%; padding:0%; z-index:100;  border-bottom-width:0px; border-bottom-style:solid; border-bottom-color:Green; height:70px; background-color:#d1f26f; min-width:1024px; }	
#navclass1									{ margin-top:0px; float:none; width:100% }


/* header Navigation */

#navpanel									{ background-color:#6d9d30; margin-top:0px; width:900px; float:none; background-color:none; height:30px; border-top-width:0px; border-top-style:solid; border-top-color:#64970c; border-bottom-width:2px; border-bottom-style:solid; border-bottom-color:#64970c;}
#headermenulist								{ margin-right:0px; margin-left:110px; text-align:center; }
.headermenu									{ float:left; text-align:center; }
#headermenugap								{ float:left; margin-top:6px; width:1px; height:20px; background-color:#91c348; margin-right:30px; margin-left:30px; }
#headermenutitle							{ margin-left:0px; margin-top:6px; }
#headermenutitlename						{ padding-top:0px; font-size:1.1em; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:White; border-bottom-width:0px; border-bottom-style:solid; border-bottom-color:White; background-color:none; cursor:pointer; }
#subheadmenutop a							{ font-family:Arial,Helvetica,Sans-Serif; font-weight:bold; color:#6c9108; text-decoration:none; }	

#subheadmenutop								{ filter: alpha(opacity = 95); opacity:0.95; padding-bottom:10px; position:absolute; background-color:#ecf3c9; margin-top:-25px; margin-left:-10px; z-index:+20; font-size:1.0em; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:#6c9108; padding-top:1px; padding-left:10px; padding-bottom:0px; padding-right:10px; border-top-width:2px; border-top-style:solid; border-top-color:#93d83c; border-right-width:0px; border-right-style:solid; border-right-color:#64970c; border-left-width:0px; border-left-style:solid; border-left-color:#64970c; display:none  }
#subheadmenu								{ filter: alpha(opacity = 95); opacity:0.95; position:absolute; background-color:#ecf3c9; margin-top:-2px; margin-left:-10px; z-index:+10; width:250px; min-height:40px; border-bottom-width:2px; border-bottom-style:solid; border-bottom-color:#93d83c; display:none; cursor:pointer; }
#subheadmenulist							{ list-tyle-type:none; margin-top:9px; margin-bottom:5px}
#subheadmenulist li							{ float:none; display:block; width:245px; list-tyle-type:none; margin-left:-40px; }
#subheadmenulist li  a					    { float:none; display:block; background-color:#ecf3c9; color:Black; width:98%; text-align:left; font-size:12px; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; padding-left:10px; margin-top:2px; text-decoration:none}

/* Dg logo and the Search bar   */

#logosearchdiv								{ margin-top:10px; width:900px; }
#navheaderleft								{ float:left; margin-top:0px; margin-left:0px; font-size:1.8em; font-family:Cambria; font-weight:bold; color:White;}
#navheaderright								{ float:right; margin-top:5px; margin-right:4px; cursor:pointer; }
#navsearch									{ margin-top:0px; float:left; font-size:1em; font-family:Calibri; font-weight:normal;}
#navsearchinput								{ background-color:White; border-width:1px; border-style:solid; border-color:#64970c; font-size:0.8em; font-family:Calibri; font-weight:normal; height:16px; color:#5b6e1d}
#navsearchbtn								{ margin-top:0px; float:left; border-top-width:1px; border-top-style:solid; border-top-color:#59AF04; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#59AF04; border-right-width:1px; border-right-style:solid; border-right-color:#59AF04;  }



/* Main body Content*/

#contentdiv									{ margin-top:0px; background-color:none; width:100%; left:0%; }
#mainbodytable								{ margin-top:0px; background-color:none; width:100%; left:0%; border:0; min-width:1024px; }
.mainbodytd1								{ margin-top:0px; width:100%; margin-left:0%; padding-top:0px; }
.mainbodytd									{ padding-top:0px; margin-top:0px; width:100%; margin-left:0%; padding-top:0px; }
#content									{ margin-top:10px; padding:0; margin-left:0%; width:1024px; margin-bottom:0px; background-color:White;  }
#contentdesc								{ float:none; margin-top:0px; margin-bottom:0px; width:100%; }


/* for Analytics content */
#analyticscontent							{ margin-top:10px; padding:0; margin-left:0%; width:100%; margin-bottom:0px; background-color:White;  }
#analyticscontentdesc						{ float:none; margin-top:0px; margin-bottom:0px; width:100%; }


/* footer section */

#contentfoot1								{ float:none; margin-left:0px; margin-bottom:0px; width:90%; height:60px; background-color:none; }
#contentfoot								{ float:none; margin-left:0%; margin-bottom:0px; width:90%; height:60px; background-color:none; }
#footertable								{ margin-top:70px; margin-left:5%; width:90%; height:40px; background-color:none; position:absolute }
#footertd1									{ width:30%; height:50px; margin-top:70px;}
#footertd21									{ background-color:none; width:15%; padding-left:5px; padding-top:1px; height:30px; margin-top:5px; border-top-width:1px; border-top-style:solid; border-top-color:Gray; font-size:0.8em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }
#footertd22									{ background-color:none; width:85%; height:30px; margin-top:5px; border-top-width:1px; border-top-style:solid; border-top-color:Gray; text-align:right; padding-right:5px }
#footernavlist								{ float:right}
.footermenu									{ float:left; text-align:right; margin-left:10px; padding-top:0px; margin-top:2px; font-size:0.9em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }
.footermenu a								{ text-decoration:none; font-size:0.9em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }
.footermenu a:hover							{ text-decoration:underline; }

#footertd31									{ width:15%; padding-left:5px; padding-top:1px; height:30px; margin-top:5px; font-size:0.8em; font-family:Calibri; font-weight:bold; color:#5b6e1d; }
#footertd32									{ width:85%; height:30px; margin-top:5px; text-align:right; padding-right:5px }
#footercopyright							{ float:none; text-align:left; padding-left:10px; margin-left:30%; height:30px; margin-top:0px; font-size:0.8em; font-family:Calibri; font-weight:bold; color:#c9c9c9; }
