/* CSS Document */

/* Video Thumbnail Image */
.videothumbnail							    { width:90px; height:70px; }					

/* Body Content */
#contentdiv									{ clear:both; width:960px; align:center; margin-bottom:20px; }

/* BODY CONTENT RIGHT   */
#contentdivrighttable						{ width:100%; margin-left:0px; }
#contentdivrighttd							{ width:30px; height: 80px; border-bottom:1px solid #E2E2E2; }	
#contentdivrighttddiv1						{ margin-top:6px; float:left; width:90px; background-color:none; height:70px; margin-bottom:10px; }
#contentdivrighttddiv2						{ margin-top:3px; float:left; margin-left:5px; width:155px; margin-bottom:10px; text-align:left; }
#contentdivrighttddiv21						{ padding-bottom:2px; margin-top:0px; clear:both; width:100%; background-color:none; }
#contentdivrighttddiv22						{ padding-top:2px; padding-bottom:2px; margin-top:0px; clear:both; width:100%; background-color:none; color:#3F3E3E; font-weight:normal; font-size:0.8em; font-family:Arial,Helvetica,Sans-Serif; }

/* View More links */
.videotitlelinks							{ text-decoration:none; font-size:0.8em; font-family:Arial,Helvetica,Sans-Serif; font-weight:bold; color:#3F3E3E; }
.videotitlelinks:hover						{ }

/*list of videoes styling*/
#content				{ margin-top:20px; float:left; margin-left:5px; width:620px; min-height:600px; margin-bottom:50px; }
#contentdiv				{ clear:both; margin-top:6px; width:620px; }

#contentdivrighttable		{ clear:both; width:100%; margin-top:8px; }
#contentdivrighttddiv1		{ float:left; width:90px; background-color:none; height:70px; margin-bottom:10px; padding-top:5px; }
#contentdivrighttddiv2		{ float:left; margin-left:10px; width:83.5%; margin-bottom:10px; text-align:left; }
.contentdivrighttddiv21	{ margin-top:0px; clear:both; padding-top:2px; padding-bottom:2px; width:100%; background-color:none; color:#3F3E3E; font-weight:bold; font-family:Arial,Helvetica,Sans-Serif; }
.contentdivrighttddiv22	{ margin-top:0px; clear:both; padding-top:2px; padding-bottom:2px; width:100%; background-color:none; color:#3F3E3E; font-weight:normal; font-size:0.8em; font-family:Arial,Helvetica,Sans-Serif; }