/* CSS Document */

/* Search Navigation Control */

#searchcontentleft				{ padding-top:50px; margin-top:20px; float:left; width:200px; min-height:620px; background-color:none; border-right:1px solid Gray; }
#searchcontentright				{ margin-top:20px; float:left; margin-left:5px; width:750px; min-height:600px; margin-bottom:50px; }
#searchdiv						{ clear:both; margin-left:0px; width:748px; height:40px; background-color:#78bd26; border:1px solid Gray; }
#searchinput					{ float:left; margin-left:5px; margin-top:5px; background-color:#ffffff; width:670px; height:28px; border:none; font-family:Arial,Helvitica,Sans-Serif; font-size:0.8em; color:#3f3e3e; }
#searchbtn						{ float:left; margin-left:0px; width:68px; margin-top:4px; height:32px; border:1px solid Gray; background-color:#f3f3f3; color:#3F3E3E; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; font-size:0.9em; }
.searchleftdiv					{ margin-top:10px; width:100%; margin-bottom:20px; }
.searchtitle					{ clear:both; width:100%; text-align:left; border-bottom:3px solid #E2E2E2; color:Gray; font-family:Arial,Helvetica,Sans-Serif; font-weight:bold; font-size:0.8em; }
.searchbody						{ margin-top:5px; width:100%; }	

#selectbody						{ clear:both; margin-top:0px; width:100%; background-color:none; }
.searchbody1					{ margin-top:0px; width:100%; padding-left:0px; padding-top:5px; padding-bottom:5px; }
select							{ margin-bottom:1px; padding:2px; width:96%; border-style:solid; size:1px; border:1px solid Gray; font-size:0.8em; font-family:Arial,Helvitica,Sans-Serif; font-weight:normal; color:#3f3e3e; }
.datepickcalender				{ margin-top:5px; float:left; margin-left:0px; margin-bottom:5px; text-align:center; padding-top:2px; width:75%; height:20px; background-color:#f0f0f0; border-right:1px solid Gray;  border-top:1px solid Gray;  border-bottom:1px solid Gray; font-size:0.8em; font-family:Arial,Helvitica,Sans-Serif; font-weight:normal; color:#3f3e3e; }
.datepickcalendertext			{ margin-top:5px; margin-left:2%; text-align:center; padding-top:2px; float:left; width:20%; height:20px; background-color:#f0f0f0; font-size:0.8em; font-family:Arial,Helvitica,Sans-Serif; font-weight:normal; color:#3f3e3e; border-left:1px solid Gray;  border-top:1px solid Gray;  border-bottom:1px solid Gray; }
.advancedsearchtable			{ width:200px; background-color:#f4f4f4; padding-top:2px; padding-bottom:2px; border-bottom:3px solid #E2E2E2; }
.advancedsearchtext				{ padding-left:2px; color:Gray; font-family:Arial,Helvetica,Sans-Serif; font-weight:bold; font-size:0.8em; text-align:left; }
#advancedsearchopenbtn			{ cursor:pointer; }	
#advancedsearchclosebtn			{ display:none; cursor:pointer; }	
#videosuitable					{ margin-left:0px; }	
.advancedsearchdiv				{ width:100%; padding-top:5px; padding-bottom:5px; background-color:#f4f4f4; display:none; }

#advancedsearchbody				{ display:none; width:100%; }
.advancedsearchtitle			{ margin-top:10px; padding-left:2%; text-align:left; clear:both; width:100%; color:Gray; font-family:Arial,Helvetica,Sans-Serif; font-weight:bold; font-size:0.8em; }
.searchbody2					{ margin-left:0px; width:100%; }


/* Submit and Reset Button */
#submitdiv						{ clear:both; margin-top:20px; width:100%; }
#submittable					{ margin-top:10px; width:100%; padding:5px; background-color:#ededed; }
.submitbtn						{ text-align:right;  margin-top:0px; width:50%;}
.resetbtn						{ margin-top:0px; width:50%;}
#Reset1							{ min-width:60%; font-size:0.8em; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Black; }
#Submit1						{ min-width:50%; font-size:0.8em; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Black; }


/* Searchdiv Right Hand Panel  */
#searchcount					{ margin-top:5px; width:748px; text-align:right; font-size:0.8em; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Gray; }
#searchresultdiv				{ margin-top:6px; width:748px; }

#searchresultdivrighttable		{ width:100%; margin-top:8px; }
#searchresultdivrighttddiv1		{ float:left; width:90px; background-color:none; height:70px; margin-bottom:10px; padding-top:5px; }
#searchresultdivrighttddiv2		{ float:left; margin-left:5px; width:87%; margin-bottom:10px; text-align:left; }
.searchresultdivrighttddiv21	{ margin-top:0px; clear:both; padding-top:2px; padding-bottom:2px; width:100%; background-color:none; color:#3F3E3E; font-weight:bold; font-family:Arial,Helvetica,Sans-Serif; }
.searchresultdivrighttddiv22	{ margin-top:0px; clear:both; padding-top:2px; padding-bottom:2px; width:100%; background-color:none; color:#3F3E3E; font-weight:normal; font-size:0.8em; font-family:Arial,Helvetica,Sans-Serif; }



/* Pagination */
#pagingdiv						{ clear:both; margin-top:10px; margin-left:2px; border-top:0px solid Gray; width:746px; background-color:none; }
#pagingdivul					{ margin-left:-45px; margin-top:2px; }
#pagingdivlitotalcount			{ float:left; margin-top:3px; margin-bottom:3px; margin-left:5px; margin-right:5px; display:block; padding:1px 3px; font-size:0.7em; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:#3F270B; border:1px solid Gray; }
#pagingdivli					{ float:left; margin-top:3px; margin-bottom:3px; margin-left:5px; margin-right:5px; display:block; padding:1px 3px; font-size:0.7em; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:#3F270B; border:1px solid Gray; cursor:pointer; }
.select_page					{ background-color:#edf0f4; } 
.selected_page					{ background-color:#e2e2e2; }

/* No Video Result Case */
#nonvideoembed					{ margin:5px 0px; width:100%; background-color:Gray; }
#nonvideoembeddesc				{ clear:both; margin:5px; height:50px; background-color:#f3f3f3; vertical-align:center; }
#nonvideoembeddesc img			{ margin-left:165px; margin-right:5px; margin-top:12px; }
#nonvideoembeddesc div			{ margin-top:15px; float:left; color:#3F3E3E; font-family:Arial,Helvetica,Sans-Serif; font-size:1.0em; font-weight:bold; }
