.contacttitledesca					{ font-size:90%; font-weight:normal; color:#5B6E1D; padding-top:5px; padding-bottom:5px; border-bottom-width:3px; border-bottom-style:solid; border-bottom-color:#e8f7ba;  }
	 
.wonderteamtable					{ padding:5px; width:100%; margin:10px 0px; }

.wondertitle						{ background-color:#666666; color:White; font-family: Arial,Helvetica,Sans-Serif; font-size:1.2em; font-weight:bold; }
.wondername							{ padding-left:5px; vertical-align:middle; text-align:left; color: #5B6E1D; font-family: Georgia,'Times New Roman',Serif; font-size:1.4em; background-color:#eeeeee; }
.wonderimg                          { width:123px; height:130px; overflow:hidden; }
	