.contacttitledesca					{ font-size:90%; font-weight:normal; color:#5B6E1D; padding-top:5px; padding-bottom:5px; border-bottom-width:3px; border-bottom-style:solid; border-bottom-color:#e8f7ba;  }
	 
.wonderteamtable					{ padding:5px; width:100%; margin:2px 0px; }

.wondertitle						{ padding-left: 5px; text-align:left; background-color:none; color:#330000; font-family: Arial,Helvetica,Sans-Serif; font-size:1.2em; font-weight:bold; }
.wondername							{ margin-top:5px; padding-left:5px; vertical-align:middle; text-align:left; color: #5B6E1D; font-family: Georgia,'Times New Roman',Serif; font-size:1.0em; background-color:#f1cb72; }
.wonderimg                          { width:90px; height:89px; }
	