 {% extends "base_team.html" %} {% block title %}Digital Green - Team -
ICC Members {% endblock %} {% block breadcrumsmore %}
<a href='/team'> Team </a>
/
<span style='font-size: 0.9em; font-weight: bold;'> ICC Members
</span>
{% endblock breadcrumsmore %} {% block mainbodycontentleft %}
<div id="mainbodycontentleft">

	<div class="pagetitle">ICC Members</div>

	<div id="contentdiv1">
		<table id="table1" cellspacing="0px" cellpadding="0">
			<tbody>
				
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0">


						<div class="pagetitle">ICC Members</div>
						<div style="border: solid 1px #ECECEC"></div> </br>
						<div class="boardtd1div1">

							<div class="boardtd1div1name">Gurmeet Bindra</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>External member & employment lawyer</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Susan Thomas</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Chairperson, Core Team</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Abhinav Kumar</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Core Team</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Erica Arya</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Core Team</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Savita Khurrana</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Delhi</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Shristi Jaiswal</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Delhi</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Shams Tarique</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Bihar, Jharkhand, Chhattisgarh & Uttarakhand</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>

				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Anila Hritu Samuel</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Bihar, Jharkhand, Chhattisgarh & Uttarakhand</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>

				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Sudha Narayanan</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>AP/TS & Odisha</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>

				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Satyapriya Sahu</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>AP/TS & Odisha</li>
									
								</ul>
							</div>
						</div>
					</td>
				</tr>

			
				
			</tbody>
		</table>
	</div>
	<br> <br>

</div>

{% endblock mainbodycontentleft %}
