{% extends "base_career.html" %}

{% block title %} Digital Green - Careers - Program Managers{% endblock %}

{% block partnerbreadcrums %} 	 
	 <a href='/career'>Careers</a> /
	 <span style='font-size:0.9em; font-weight:bold;'> Program Managers - Bihar, Orissa </span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		Program Managers - Bihar, Orissa
	</div>
	
	<div id='content2descdiv'>
									
		Digital Green (DG) is an international, non-profit development organization that builds and deploys information and communication technology to amplify the effectiveness of development efforts to affect sustained, social change.  The Digital Green system combines technology and social organization to improve the cost-effectiveness and broaden the community participation in existing best practices. It is supported by Bill and Melinda Gates Foundation, Ford Foundation, and Government of India. Digital Green's India country office is located in New Delhi with state offices in Bhopal, Bhubaneswar and Bengaluru. It currently works in collaboration with local partners in seven states in India (Andhra Pradesh, Bihar, Jharkhand, Karnataka, Orissa, Madhya Pradesh, and Uttar Pradesh), and is currently extending its operations in Ethiopia, Ghana, and other parts of Sub-Saharan Africa. 
		<br/>
		<br/>
		DG is inviting applications from suitable candidates for the position of Program Managers to be based in state capitals and will report to the State Managers.
		<br/>
		<br/>
		Key Responsibilities:
		<ul>
			<li> Working with the state teams and partner organizations, develop annual work plans and quarterly activity plans and ensure their timely execution </li>
   			<li> Using Digital Green project management system, monitor project activities and report on activities, milestones and accomplishments in a timely fashion  </li>
   			<li> Nurture and strengthen partnership with area specific NGOs and community groups </li>								
			<li> Using ICT, disseminate good practices among target rural populations  and motivate them to adopt new practices  </li>
			<li> Identify concerns, issues and problems promptly, address and report them to the State Managers </li>
			<li> Liaise with partners and technical advisors, Identify suitable farming practices, livelihood practices and develop content for video production </li>
			<li> Process necessary project approval and contractual documentation</li>
			<li> Familiarity with the region an asset</li>
			<li> Perform other related duties as required </li>
		</ul>
						
		Qualification and Skills:
		<ul>
			<li> A university degree preferably in Rural Development, Social Sciences or Information Technology</li>		
			<li> Two to three years of relevant  experience in project/ programme formulation and implementation at national and international levels   </li>
   			<li> Previous project/ programme management experience </li>
   			<li> Excellent writing, communication and negotiation skills; ability to prepare clear and concise reports  </li>								
			<li> Strong strategic and creative thinking; Excellent leadership, coordination and information management skills  </li>
			<li> Demonstrated analytical skills applied on a wide range of factors, parameters, policies and priorities for the assessment and resolution of complex situations </li>
			<li> Personal commitment, drive for results, efficiency and flexibility </li>
		</ul>
		
		All positions carry competitive salaries with fringe benefits comparable to leading national level development sector organizations. Desirous candidates should apply with a cover note that highlights their motivation to apply and suitability for the position applied, current CVs and three references to <a class='maillinks' href="mailto:jobs@digitalgreen.org">jobs@digitalgreen.org</a>		 
	</div>
	
{% endblock mainbodycontentleft %}