

{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Distribution {% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Distribution </span>	
{% endblock breadcrumsmore %}

{% block overviewrightlink %}{% endblock overviewrightlink %}

{% block pagetitle %} &nbsp; Distribution {% endblock pagetitle %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/overviewdistributionimg1.jpg" alt='A woman trying her hand to start the movie'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Distribution 
	</div>
	
	<div id='contentdiv1'>		
		The principal means of disseminating content from the Digital Green database is shipping DVDs to a village. 
		Villages are provided a minimum of a TV and DVD player that is operated by NGO field staff and managed by local farmers. 
		Villages usually do not have a public place in which farmers regularly gather, so the TV and DVD player must circulated 
		around different areas of a village, which include bus stands, temples, schoolhouses, panchayat offices, storefronts, individual homes, and streets.
		<br/> <br/>
		Farming is a physically demanding occupation that starts early in the morning when power cycles allow irrigation wells to start filling and 
		ends late in the evening after one's family and animals have been fed. Most are willing to take only a short diversion from this daily routine between the hours of 7 to 9 pm. 
		In addition, political and socioeconomic differences within village communities are prohibitive to gathering all the farmers together in one place at one time. 
		The night showings usually involve small groups of about 10 to 20 farmers that are willing to come together at a common place within short distance of their homes. 
		<br/> <br/>
		These groups serve as informal farmer training schools in the evenings and are complemented by field programs in daylight hours. 
		Several small groups are formed within a single village to show content on a regular basis, based on the availability and interests of the group. 
		Since the screening locations preferred by each small group may differ, though, multiple screenings are scheduled each week on a rotational basis. 
		<br/> <br/>
	</div>
{% endblock mainbodycontentleft %}	

