{% extends "base_career.html" %}

{% block title %} Digital Green - Careers - National Project Coordinator, India Livelihood Project{% endblock %}

{% block partnerbreadcrums %} 	 
	 <a href='/career'>Careers</a> /
	 <span style='font-size:0.9em; font-weight:bold;'> National Project Coordinator, India Livelihood Project </span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		National Project Coordinator, India Livelihood Project
	</div>
	
	<div id='content2descdiv'>
									
		Digital Green is an international, non-profit development organization that builds and deploys information and communication technology to amplify the effectiveness of development efforts to affect sustained, social change.  The organization is supported by Bill and Melinda Gates Foundation, Ford Foundation, and Government of India.  Digital Green's India headquarters is located in New Delhi with state offices in Bhopal, Bhubaneswar, Bangalore, Hyderabad, and Patna.  Over the next 3.5 years, Digital Green plans to scale its operations to over 10,000 villages across India and extend its work to Africa.
		<br/>
		<br/>
		Digital Green's India Livelihood Project (ILP) initiative aims to improve the livelihood of the smallholder farmers in Andhra Pradesh and Bihar in partnership with the Government of India's National Rural Livelihood Mission (NRLM) and its state-level counterparts.  The National Project Coordinator, ILP will oversee the design and implementation of a set of livelihood-related program working with NRLM, its state counterparts and other organizations. Reporting to the Chief Operating Officer, s/he will coordinate closely with regional directors and programmatic leads on the initiation, operationalization, and sustainability of the Digital Green system and the ultimate adoption of new agricultural and allied practices by rural communities.
		<br/>
		<br/>
		Key Responsibilities:
		<ul>
			<li>Provide strategic direction, management, and coordination of the development, successful implementation, and monitoring of Digital Green's livelihood-related activities in India</li>
			<li>Coordinate stakeholder workshops and training activities</li> 
			<li>Identify, evaluate and seize new opportunities to better engage NRLM and other stakeholders to drive project activities</li> 
			<li>Drive the establishment of partnerships between relevant institutions to define project objectives, work plans, budgets, and institutional arrangements.</li> 
			<li>Develop (engage collaborators, structure roles, make decisions) and manage (provide intellectual and management counsel to NRLM and its state-level counterparts, hold team members and other stakeholders accountable against rigorous performance standards) a portfolio of complex partnerships requiring high-level management skills, and monitoring and evaluation.</li>
			<li>Manage partnerships with government, research, and other stakeholders at a national-level</li> 
			<li>Communicate strategies internally and externally to manage progress, respond to midcourse corrections, and deliver on key milestones, outputs, and outcomes on a timely basis</li> 
			<li>Integrate inputs of programmatic leads (e.g., quality assurance, training) and regional managers to effectively and efficiency manage project activities</li> 
			<li>Manage primary and secondary milestones, timelines, and budgets across internal and external stakeholders</li> 
			<li>Lead the development of standard operating procedures, training curricula, and other protocols for trainers, community agents, supervisors, and local authority representatives.</li> 
			<li>Lead livelihood technical assistance and capacity building efforts in collaboration with relevant partners.</li> 
			<li>Liaison with quality assurance directorate to apply and refine tools to evaluate and support integrity of process and data and successful outcomes and outputs.</li> <li>Liaison with monitoring and evaluation directorate to design and apply framework for impact assessment </li> 
			<li>Supervise, monitor and coordinate the work of ILP-related staff and consultants.</li> 
			<li>Support and help manage organizational learnings and communication for the NRLM project.  Write and produce informative briefings and other materials in the forms of reports, publications, and presentations on key issues and progress for the team on a regular basis.</li> 
			<li>Compile, analyze, and draft project findings and reports for donors and other stakeholders</li>
		</ul>
						
		Qualification and Skills:
		<ul>
			<li>Master's Degree in rural management, development, and/or communications</li> 
			<li>10-12 years of experience in program development, implementation, and management of livelihood and rural development activities in India</li> 
			<li>Knowledge of India's Ministry of Rural Development, National Rural Livelihood Mission structure, agriculture extension policies, protocols and guidelines. </li> 
			<li>The capacity to think through, evaluate, justify, and make major decisions in managing project implementation</li> 
			<li>Ability to think/work at scale as well as "work in white space", create new ideas, strategize with passionate commitment to achieve successful outcomes</li> 
			<li>Established skills in guiding and providing technical assistance to government and NGO partnerships working on livelihood related programs, particularly in the area of behavior change communication.</li> 
			<li>Selfless dedication to the mission, flexibility, and willingness to learn</li> 
			<li>Ability to represent organization in high-level meetings with donors, partners, and other stakeholders</li> 
			<li>Demonstrated competence in assessing priorities and in managing a variety of activities in a time-sensitive environment, and in meeting deadlines with attention to detail and quality</li> 
			<li>Experience developing, managing, and implementing project strategies and the negotiation, execution, conduct, and managing of performance-based contracts</li> 
			<li>Experience with grants or cooperative agreements</li> <li>Experience working with global, regional, and country partners</li> 
			<li>Track record of working well with others in teams; sense of humor and humility</li> 
			<li>Demonstrated excellent written and oral communication skills in positions requiring communications with a broad and diverse audience</li> 
			<li>Ability to travel frequently across project locations in India </li>
		</ul>
		
		All positions carry competitive salaries with fringe benefits comparable to leading national level development sector organizations. Desirous candidates should apply with a cover note that highlights their motivation to apply and suitability for the position applied, current CVs and three references to <a class='maillinks' href="mailto:jobs@digitalgreen.org">jobs@digitalgreen.org</a>		 
	</div>
	
{% endblock mainbodycontentleft %}