
{% extends "base_all.html" %}

{% block title %} Digital Green - Software {% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/press.css' />       
{% endblock cssfile %}

{% block jsfile %}       
{% endblock jsfile %}

{% block pagetitle %} {{ block.super }}Software {% endblock pagetitle %}

{% block breadcrums %}  
	{{ block.super }}	
	{% block partnerbreadcrums %} 	 
	 <span style='font-size:0.9em; font-weight:bold;'> Software </span>
	{% endblock partnerbreadcrums %}	  
{% endblock breadcrums %}


{% block mainbodycontentleft %}
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/technologyimg5.png" alt='Dr. Nagagouda giving Lessons'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Software 
	</div>
	
    <div id='contentdiv2'>
    	<span class='subheaders'>COCO, Connect Online | Connect Offline </span><br/> 
    	COCO is a highly sophisticated data input system that forms the base of Digital Green's software stack. 
    	The creation of this system was inspired by persistent and at times debilitating issues at the field level, specifically technical issues in gathering and storing information. 
    	To alleviate these problems, Digital Green's software team conceived of a highly flexible and robust alternative that sought to make information gathering and input at 
    	Digital Green less error prone, fast, and resilient to persistent data connectivity issues in remote locations.
    	<br> <br/>
    	Most applicable to NGOs with a sizeable field operation, COCO's singular unique selling proposition is the ability to take the application offline in low and limited bandwidth locations, with uninterrupted usage in the browser. 
    	COCO is designed to support up to 100,000 users located anywhere in the world and only requires internet connectivity whenever a user is ready to synchronize their data with our global repository. 
    	Built as a robust standalone application in the Internet browser, COCO requires no additional software installation or maintenance. The system is designed in an open-source, customizable 
    	framework that can be deployed without the need of IT/engineering staff. 
    	<br> <br/>
    	COCO is architected as a Java web-framework, similar to and in proximate feature parity with popular frameworks such as Django or Ruby on Rails. The core of COCO's framework comprises of a variety of open source technologies.
    	In light of achieving maximum speed as a browser application, COCO is developed using the GWT 2.0 (Google Web Toolkit) Java-Javascript framework. To enable offline mode, COCO employs the use of Google Gears, 
    	a browser plug-in that provides a persistent Sqlite database to store data relationally and a local cache to access all requisite static content. For deployment in offline mode, a compiled Javascript file is generated and 
    	made available in Google Gear's local cache for access by the browser; COCO in online mode operates as any other web application. More details on our architecture will be available later. 
    	<br> <br/>
    	Our paper on COCO, published in ACM-DEV:
    	<br/>
    	<a class="footerquicklink" style='margin-left:0px' href='/media/paperdev2010.pdf' target='_blank'>Saureen Shah, Apurva Joshi, <span style="font-style:italic">COCO: A Web-Based Data Tracking Architecture for Challenged Network Environments.</span>
		Accepted at the ACM DEV 2010 Conference, Royal Holloway, University of London, December 17-18, 2010
		</a>
		<br/>
		<br/>
		Our database, as described in <a class="footerquicklink" style='margin-left:0px' href='/media/dg_database_schema.pdf' target='_blank'>schema documentation</a>, is available for <a class="footerquicklink" style='margin-left:0px' href='https://www.dropbox.com/s/7pxv2r1dy0fscju/dg_database.gz' target='_blank'>download</a>.
    	<br/> 
		<br/>
		<br/>
		<span class='subheaders'>Analytics System</span><br/>
		Analytics System forms the second layer on Digital Green software stack. Built on the COCO foundation, the Analytics System provides day-to-day business intelligence on field operations, performance targets, and basic 
		ROI (return on investment) metrics relevant to the organization. The system is freely available and accessible online -- by clicking on the Analytics dropdown in the menu bar -- without the need of onerous technical 
		infrastructure and expensive commerical licenses. We welcome NGOs willing to reuse and repurpose this system as per their requirements.     
    </div>
     
{% endblock mainbodycontentleft %}


{% block mainbodycontentright %}		
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp; Software </div>
			<div class='exploredescmain'> 
				<a class="exploredescmainlink" href="mailto:labs@digitalgreen.org"><img src="/media/Output/Images/linkimg2.png" alt="">Contact Technology Team</a>
				<a class="exploredescmainlink" href="/analytics/overview_module?geog=country&id=1" title='Progress Dashboard'><img src="/media/Output/Images/linkimg2.png" alt="">Analytics Dashboard</a>
			</div> 
		</div>			
	</div>
	
	<div id="explorediv1">		
		<div class="exploredescdiv">			
			<div class="exploredescmain"> 
				<a href="https://github.com/digitalgreenorg/" target='_blank' class="exploredescmainlink"><span style='font-weight:bold;'>Open-Source Technology </span><br/>Github Repository</a>						
			</div> 			
		</div>			
	</div>
	
	<div style="" class="imagelink">					
		<a href="/wondervillagegame">
			<img src="/media/Output/Images/wondergamelinkimg1.png">
		</a>		
	</div>	
		
	<div class='cocotrial'>
		<div class='cocotrialdesc'>
			 <a href='http://sandbox.digitalgreen.org/coco/home.html' target='_blank'><img src="/media/Output/Images/cocotrialimg3.jpg" alt=""></a>		 
			
		</div>			
	</div>		
	
	<div class='cocotrial'>
		<div class='cocotrialdesc'>
			 <a href='/media/paperdev2010.pdf' target='_blank'><img src="/media/Output/Images/paperdev20101.jpg" alt="COCO Paper Selection at the ACM Dev2010"></a>		 
			
		</div>			
	</div>
	
	<div class='imagelink'>
		<a href='/annualreport'> <img src="/media/Output/Images/annualreportlinkimg2.jpg" alt='Digital Green Annual Report'> </a>
	</div>
	
	
	
{% endblock mainbodycontentright %}	