/* ---------- header -----------*/

.global-header {
    border-bottom: 1px solid #999;
    padding : 15px 0 10px 0;
}
.big-logo{

}
.small-logo{
    display : none;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.coco-brand {
    color: #047d0a;
    font-size: 28px;
    margin-top: -8px;
}

.img-user {
    display: inline;
    width: 35px;
    margin-top: -5px;
    cursor: pointer;
}

/* ----------- Margins and Paddings-------- */

.mrg-lt-5 {
    margin-left: 5%;
}

.mrg-btm-sm {
    margin-bottom: 20px;
}

.mrg-top-nav-50 {
    margin-top: 50px;
}

.mrg-top-nav-30 {
    margin-top: 30px;
}

.pdg-0 {
    padding: 0px;
}

.mrg-lt-auto {
    margin-left: auto !important;
}

.mrg-top-0 {
    margin-top: 0;
}

/* ----------- Sidebar for Navigation -------*/

.white-bgd {
    background-color: white;
    border-color: white;
}

.flt-lt {
    float:left;
}

.flt-rt-nav {
    
}

#coco_sync {
	margin: -7px 0 0 15%;
}

/* ----------- Rest ------------*/

.pointer-hand {
    cursor: pointer
}

.coco_form .control-label {
    font-weight:bold;
}

.alert {
  margin-bottom: 3px;
}

.affix{
	position:fixed;
}

.inline_table{
	display:none;
}

.dis-block {
    display: block;
}

.notbold{
	font-weight: normal !important;
}

.bold-helptext{
	font-size:12px;
	color:grey;
	font-style: italic;
}

#coco_content {
    padding-top: 20px;
}

#online{
	width: 10px;
	margin-left: 15px;
	position: relative;
	display: none;
}

#offline{
	width: 10px;
	margin-left: 15px;
	position:relative;
	display: none;
}

#coco_userinfo {
	width: 10em;
    font-size: 11px;
	margin-left: 5px;
	word-wrap: break-word;
}

#coco_nav_add {
    width:10%;
}

#helptext{
	font-size:11px;
	color:red;
	margin-left:15px;
	display:none;
}

#loaderimg{
	left: 50%;
	top: 55%;
	position: fixed;
}

#content{
	padding: 20px 50px 20px 10px;
}

#change_user{
	font-size: 12px;
	cursor: pointer;
	margin-top:10px;
}

#faq{
	clear: both;
	padding-top: 40px;
	font-size: 11px;
}

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

legend{
	font-size: 26px;
	font-family: source_sans_prolight, arial, helvetica, sans-serif;
	color: #8f8e8d;
}

h1 small{
	font-size: 18px;
}

.chzn-container{
    float:left;
    margin-bottom:20px;
}

.control-group{
    clear:both;
}

.media-heading{
	color: #0088cc;
}

.form_error{
    color:red;
    width: 100%;
}

#incremental_download_back {
    position:fixed;
    bottom:0px;
    z-index:10000;
}
/*---------------- User Dropdown --------------- */

.user-dropdown-div {
    position: relative;
    right: 0;
}

.user-dropdown {
    position: absolute;
    display: none;
    right: 0;
    top: 35px;
    background-color: white;
    z-index: 1000;
    border: 1px solid #dbdad5;
    border-top: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.user-dropdown:before {
  position: absolute;
  top: -7px;
  right: 17px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.user-dropdown-option {
    text-align: right;
    padding: 15px 25px !important;
    border-top: 1px solid #dbdad5;
    font-size: 12px;
    list-style-type: none;
}

/*----------- Media Queries -----------*/

@media(min-width:767px)
{
    #notifications{
        width: 400px;
        max-height: auto;
        position:fixed;
        right: 10px;
        font-size:12px;
        top: 50px;
    }  
}

@media(max-width:767px){
    #notifications{
        font-size: 12px;
        position: fixed;
        top:50px;
    }
    .big-logo{
        display: none;
    }
    
    .small-logo{
        display: block;
        height: 33px;
        width: auto;
    }
    .flt-rt-nav {
        float: right;
    }
    
    .mrg-top-nav-30 {
        margin-top: 0px;
    }
    
    .mrg-top-nav-50 {
        margin-top: 0px;
    }    
    
    .DTTT_container {
        display: none;
    }
    
    #list_table_length, #list_table_filter {
        float: none;
        width: 50%;
        margin: 0 auto;
    }
}

@media(max-width:992px){

    .hide-header {
        display: none;
    }

    tr:nth-of-type(odd) { 
        background: #eee; 
    }
    
    #content{
        padding: 20px 10px;
    }
    
    .global-header {
        padding: 10px 0 5px 0;
    }

    .stack-table table, 
    .stack-table thead,
    .stack-table tbody,
    .stack-table th,
    .stack-table td,
    .stack-table tr { 
		display: block; 
	}
	
	.stack-table td {
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40% !important; 
	}
	
	.stack-table td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.groupadd td:nth-of-type(1):before { content: "Person Name"; }
	.groupadd td:nth-of-type(2):before { content: "Father Name"; }
	.groupadd td:nth-of-type(3):before { content: "Age"; }
	.groupadd td:nth-of-type(4):before { content: "Gender"; }
	.groupadd td:nth-of-type(5):before { content: "Phone No."; }
    
	.screeningadd td:nth-of-type(1):before { content: "Delete?"; }
	.screeningadd td:nth-of-type(2):before { content: "No"; }
	.screeningadd td:nth-of-type(3):before { content: "Person"; }
	.screeningadd td:nth-of-type(4):before { content: "Expressed Adopted Video"; }
	.screeningadd td:nth-of-type(5):before { content: "Question Asked"; }
    .screeningadd td:nth-of-type(6):before { content: "Interested?"; }
    .screeningadd td:nth-child(2) {display: none;}
    
    .adoptionadd td:nth-of-type(1):before { content: "Delete?"; }
	.adoptionadd td:nth-of-type(2):before { content: "No"; }
	.adoptionadd td:nth-of-type(3):before { content: "Person"; }
	.adoptionadd td:nth-of-type(4):before { content: "Video"; }
	.adoptionadd td:nth-of-type(5):before { content: "Date of Adoption"; }
    .adoptionadd td:nth-child(2) {display: none;}
}

@media(max-width:1200px){

}
