/* ---------- header -----------*/

.global-header {
    border-bottom: 4px solid #047d0a;
    padding-top : 1%;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.coco-brand {
    color: #047d0a;
    font-size: 28px;
    margin-top: -8px;
}

.img-user {
    display: inline;
    width: 35px;
    margin-top: -8px;
}

/* ----------- Margins and Paddings-------- */

.mrg-lt-5 {
    margin-left: 5%;
}

.mrg-top-nav-50 {
    margin-top: 50px;
}

.mrg-top-nav-30 {
    margin-top: 30px;
}

.pdg-0 {
    padding: 0px;
}

/* ----------- Sidebar for Navigation -------*/

.white-bgd {
    background-color: white;
    border-color: white;
}

.flt-lt {
    float:left;
}

#coco_sync {
	margin: 0 0 0 15%;
}

/* ----------- Rest ------------*/
.coco_form .control-label {
    font-weight:bold;
}

.alert {
  margin-bottom: 3px;
}

.affix{
	position:fixed;
}

.inline_table{
	display:none;
}

.notbold{
	font-weight: normal !important;
}

.bold-helptext{
	font-size:12px;
	color:grey;
	font-style: italic;
}

#coco_content {
    padding-top: 20px;
}

#online{
	width: 10px;
	margin-left: 15px;
	position: relative;
	display: none;
}

#offline{
	width: 10px;
	margin-left: 15px;
	position:relative;
	display: none;
}

#coco_userinfo {
	width: 10em;
    font-size: 11px;
	margin-left: 5px;
	word-wrap: break-word;
}

#coco_nav_add {
    width:10%;
}

#helptext{
	font-size:11px;
	color:red;
	margin-left:15px;
	display:none;
}

#notifications{
	width: 400px;
	position:fixed;
	right: 10px;
	font-size:12px;
}

#loaderimg{
	left: 50%;
	top: 50%;
	position: fixed;
}

#content{
	padding: 20px;
}

#change_user{
	font-size: 12px;
	cursor: pointer;
	margin-top:10px;
}

#faq{
	clear: both;
	padding-top: 40px;
	font-size: 11px;
}

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

legend{
	font-size: 26px;
	font-family: source_sans_prolight, arial, helvetica, sans-serif;
	color: #8f8e8d;
}

h1 small{
	font-size: 18px;
}

.alert {
  margin-bottom: 3px;
}

.chzn-container{
    float:left;
    margin-bottom:20px;
}

.control-group{
    clear:both;
}

.media-heading{
	color: #0088cc;
}

.form_error{
    color:red;
    width: 100%;
}

/*----------- Media Queries -----------*/

@media(max-width:767px){
    .flt-rt {
        float: right;
    }
    
    .mrg-top-nav-30 {
        margin-top: 0px;
    }
    
    .mrg-top-nav-50 {
        margin-top: 0px;
    }
}

@media(min-width:768px){
    .
}

@media(min-width:992px){

}

@media(min-width:1200px){

}
