.coco_form .control-label {
    font-weight:bold;
}

.alert {
  margin-bottom: 3px;
}

.affix{
	position:fixed;
}

.inline_table{
	display:none;
}

.notbold{
	font-weight: normal !important;
}

.bold-helptext{
	font-size:12px;
	color:grey;
	font-style: italic;
}

#coco_content {
    padding-top: 20px;
}

#online{
	width: 10px;
	margin-left: 15px;
	position: relative;
	display: none;
}

#offline{
	width: 10px;
	margin-left: 15px;
	position:relative;
	display: none;
}

#coco_brand {
    font-size:32px;
    height: 50px;
    width: 100px;
    padding-top: 20px;
	margin-left:22%;
}

#coco_userinfo {
	width: 10em;
    font-size: 11px;
	margin-left: 5px;
	word-wrap: break-word;
}

#coco_sync {
    margin-bottom:50px;
	margin-left:22%;
	width: 150px;
}

#coco_nav_add {
    width:10%;
	padding-right:15%;
}

#helptext{
	font-size:11px;
	color:red;
	margin-left:15px;
	display:none;
}

#notifications{
	width: 400px;
	position:fixed;
	right: 10px;
	font-size:12px;
}

#loaderimg{
	left: 50%;
	top: 50%;
	position: fixed;
}

#content{
	padding-top:20px;
	padding-bottom:20px;
	padding-right:50px;
	padding-left:230px;
}

#change_user{
	font-size: 12px;
	cursor: pointer;
	margin-top:10px;
}

#faq{
	clear: both;
	padding-top: 40px;
	font-size: 11px;
}

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

legend{
	font-size: 26px;
	font-family: source_sans_prolight, arial, helvetica, sans-serif;
	color: #8f8e8d;
}

h1 small{
	font-size: 18px;
}

.alert {
  margin-bottom: 3px;
}

.chzn-container{
    float:left;
    margin-bottom:20px;
}

.control-group{
    clear:both;
}

.media-heading{
	color: #0088cc;
}

.form_error{
    color:red;
    width: 100%;
}


@media (min-width: 1200px) and (max-width: 1240px) {
	  .span10 {
	    width:900px;
	  }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
