body {
  position: relative;
}

.affix{
  position: relative;

}
.affix-top{
  position: relative;
}

#coco_faq{
  text-align: left;
  padding-top: 10px;
  font-size: 18px;
}
ul li{
  padding-left: 10px;
  list-style: none;
}
ol li{
  list-style: decimal;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid gray;
}
td, th{
  padding: 5px;
}
tr:nth-child(even) {background: #f8f8f8}



@media (min-width: 769px) {
 .faq-sidebar.affix-top {
    position: static;
    margin-top: 80px;

  }

  .nav-collapse, .nav-collapse.collapse {
    overflow: visible;
} 
  
  .faq-sidebar.affix {
    position: fixed;
    top:80px;

  }
  #coco_faq{
    text-align: center;
    padding-top: 0px;
  }
}
