#heading{
	font-size: 32px;
	margin-left: 10%;
}

#sidepanel{
	width:18%;
	margin-left:5%;
	margin-top:2%;
}

#coco_faq{
	margin-bottom:10%;
	margin-top:10%;
}

.affix{
	position:fixed;
}

.faq-wrap{
	width: 85%;
	word-wrap: normal;
}

.topic{
	color:#0088cc;
	margin-left:2.4%;
}

ul{
    list-style-type: none;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}