#heading{
	font-size: 32px;
}
.faq-navbar{
padding-left: 0px;
padding-right: 0px;
}

#coco_faq{
	margin-bottom:10%;
	margin-top:10%;
    text-align: center;
}

.affix{
	position:fixed;
}

.faq-wrap{
	width: 85%;
	word-wrap: normal;
}
.coco-brand{
    margin-top:0px;
    margin-bottom:0px;
    text-align: center;
}

.topic{
	color:#047d0a;
	margin-left:2.4%;
}
#sidebar{
    background-color: #f3f2eb;
}

ul{
    list-style-type: none;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

@media(max-width:768px) {
    #heading {
        font-size: 26px;
    }
    
    #coco_faq {
        margin-bottom: 1%;
        margin-top : 1%;
        text-align: left;
    }
}