<!--<div id="{{cardId}}" class="card" style="background-color: #009688" *ngIf="cardId === cardData.placeHolder">
  <div #cardTitle id={{cardId}} (mouseover)="showId($event)" class="card-block">
    <h6 class="card-title text-white">{{cardData.tagName}}</h6>
    <h6 class="card-text text-white small"><em><strong>{{cardData.value}}</strong></em></h6>
  </div>
</div>-->

<div id="{{cardId}}" class="col-md-12" style="background-color: #009688" *ngIf="cardId === cardData.placeHolder">
  <div #cardTitle id={{cardId}} (mouseover)="showId($event)" class="text-center">
    <h5 class="text-white">{{cardData.tagName}}</h5>
    <h5 class="text-white"><em><strong>{{cardData.value}}</strong></em></h5>
  </div>
</div>
