<div class="container-fluid header-bg" style="height: 45px;">
  <div class="row row-title">
    <div class="col-md-1 text-center">
      <a href="http://www.digitalgreen.org" target="_blank"><img src="/media/Output/Images/dg_logo.png" alt="DigitalGreen" style="height:40px;"></a>
    </div>
    <div class="col-md-10 text-center">
      <img src="/media/analytics/dist/training/assets/Training_Logo_White.png" alt="Training Courseware" style="height:18px;">
    </div>
    <div class="col-md-1">
      <app-filters></app-filters>
    </div>
  </div>
</div>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-cards></app-cards>
    </div>
  </div>
  <br>
  <graphs></graphs>
</div>
<div class="new_footer">
  <p style="text-align:center">&#169; 2017 Digital Green. All rights reserved. <b><a class="privacy" href="http://www.digitalgreen.org/privacy-policy/" target="_blank">Privacy Policy.</a> <a class="terms-service" href="http://www.digitalgreen.org/terms-of-service/" target="_blank">Terms of Service</a></b>
  </p>
</div>
