            <div class="follow">	
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <div class="grid">
                            <div class="hdg-follow grid-col grid-size3of4">
                                <div class="grid-col grid-size1of4">
                                    <h3 class="hdg-f hdg-source-semibold">Who We Are</h3>
                                    <ul class="hdg-source-reg">
                                        <li><a href="{% url 'team' %}">Our Team</a></li>
                                        <li><a href="{% url 'board' %}">Our Board</a></li>
                                        <li><a href="{% url 'ourwork' %}">Our Work</a></li>
                                        <li><a href="{% url 'connect' %}">Our Partners</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="grid-col grid-size1of4">
                                    <h3 class="hdg-f hdg-source-semibold">What We Do</h3>
                                    <ul class="hdg-source-reg">
                                        <li><a href="{% url 'our_programs' %}">Our Programs</a></li>
                                        <li><a href="{% url 'resources' %}">Our Operations</a></li>
                                        <li><a href="{% url 'events' %}">Events</a></li>
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="{% url 'press' %}">In the News</a></li>
                                    </ul>
                                </div>
                                <div class="grid-col grid-size1of4">
                                    <h3 class="hdg-f hdg-source-semibold">Technology We Use</h3>
                                    <ul class="hdg-source-reg">
                                        <li><a href="{% url 'tools' %}">Tools</a></li>
                                        <li><a href="{% url 'discover' %}">Video Library</a></li>
                                        <li><a href="{% url 'picoseekho' %}">Pico Seekho</a></li>
                                    </ul>
                                </div>
                                <div class="grid-col grid-size1of4">
                                    <h3 class="hdg-f hdg-source-semibold">Work With Us</h3>
                                    <ul class="hdg-source-reg">
                                        <li><a href="{% url 'career' %}">Careers</a></li>
                                        <li><a href="{% url 'donate' %}">Donate</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of4">
                                <h3 class="hdg-f hdg-source-semibold">Follow Us On</h3>
                                <ul class="social" role="navigation">
        						    {% include "includes/partials/footer_social_media.html" %}
                                </ul>
                            </div>
                        </div>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
            </div> <!-- End .follow -->
            
            <footer>
                <div class="footer" role="contentinfo">
                    <div class="wrapper">
                        <div class="inner-wrapper">
                            <nav role="navigation">
                                <ul class="copy-lt hdg-upper copy footer-links">
                                    <li><a target="_blank" href="http://creativecommons.org/licenses/by-nc-sa/2.5/in/"> (cc) 2013 Digital Green</a></li>
                                    <li><a href="{% url 'sitemap' %}" target="_blank">Sitemap</a></li>
                                </ul>
                            </nav>
                            <a class="footer-btn" href="/coco/" target="_blank">Coco</a>
                        </div>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
            </footer>
        </div>
        <!-- End Main Wrapper -->
        <!-- JAVASCRIPT -->
        
        <!-- For Debugging -->
        <!--script data-main="{{STATIC_URL}}social_website/scripts/main" src="{{STATIC_URL}}social_website/scripts/libs/external/requirejs/require.js"></script-->
        <!-- Also change build to scripts in main.js -->
        
        <!-- For Production -->
        <script type="text/javascript" src="{{STATIC_URL}}social_website/build/libs/external/requirejs/require.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}social_website/build/main.js"></script>

        <!-- Enabling Google Analytics -->
        <script type="text/javascript">
    		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    	</script>
    	<script type="text/javascript">
    		try {
    			var pageTracker = _gat._getTracker("UA-16211208-1");
    			pageTracker._trackPageview();
    			} 
    	catch(err) {}
    	</script>
    	
    	<!-- Universal Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-16211208-3', 'auto');  // Replace with your property ID.
        ga('send', 'pageview');

        </script>
        <!-- End Universal Google Analytics -->
        
        <!-- Begin Inspectlet Embed Code -->
	    <script type="text/javascript" id="inspectletjs">
	    window.__insp = window.__insp || [];
	    __insp.push(['wid', 1500693903]);
	    (function() {
	        function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
	        if (window.attachEvent) window.attachEvent('onload', __ldinsp);
	        else window.addEventListener('load', __ldinsp, false);
	        })();
	    </script>
	    <!-- End Inspectlet Embed Code -->

    </body>
</html>
