            <div class="follow">	
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <div class="hdg-follow">
                            <h3 class="hdg-a hdg-source-lt">Follow Us</h3>
                        </div>
                        <ul class="social" role="navigation">
						{% include "includes/partials/footer_social_media.html" %}
                        </ul>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
            </div> <!-- End .follow -->
            
            <footer>
                <div class="footer" role="contentinfo">
                    <div class="wrapper">
                        <div class="inner-wrapper">
                            <nav role="navigation">
                                <ul class="copy-lt hdg-upper copy footer-links">
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="{% url 'career' %}">Careers</a></li>
                                    <li><a href="{% url 'press' %}">Press</a></li>
                                    <li><a href="{% url 'donate' %}">Donate</a></li>
                                    <li><a href="{% url 'events' %}">Events</a></li>
                                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                </ul>
                            </nav>
                            <a class="footer-btn" href="/coco/" target="_blank">Coco</a>
                        </div>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <div class="copyright copy">
                            <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/in/"> (cc) 2013 Digital Green</a>
                        </div>
                    </div>
                </div>  <!-- End .wrapper -->
            </footer>
        </div>
        <!-- End Main Wrapper -->
        <!-- JAVASCRIPT -->
        
        <!-- For Debugging -->
        <script data-main="{{STATIC_URL}}social_website/scripts/main" src="{{STATIC_URL}}social_website/scripts/libs/external/requirejs/require.js"></script>
        <!-- Also change build to scripts in main.js -->
        
        <!-- For Production -->
<!--       <script type="text/javascript" src="{{STATIC_URL}}social_website/build/libs/external/requirejs/require.js"></script>
       <script type="text/javascript" src="{{STATIC_URL}}social_website/build/main.js"></script>
-->
        <!-- Enabling Google Analytics -->
        <script type="text/javascript">
    		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    	</script>
    	<script type="text/javascript">
    		try {
    			var pageTracker = _gat._getTracker("UA-16211208-1");
    			pageTracker._trackPageview();
    			} 
    	catch(err) {}
    	</script>
    </body>
</html>