.coco_form .control-label {
    font-weight:bold;
}

.alert {
  margin-bottom: 3px;
}

.affix{
	position:fixed;
}

legend{
	font-size: 24px;
	font-family: source_sans_prolight, arial, helvetica, sans-serif;
	color: #8f8e8d;
}

#coco_content {
    padding-top: 20px;
}

#online{
	width: 10px;
	margin-right: 3px;
	margin-left: 15px;
	position: relative;
	display: none;
}

#offline{
	width: 10px;
	margin-right: 3px;
	margin-left: 15px;
	position:relative;
	display: none;
}

#coco_brand {
    font-size:32px;
    height: 50px;
    width: 100px;
    padding-top: 20px;
	margin-left:25%;
}

#coco_userinfo {
    font-size: 11px;
	margin-left: 5px;
}

#coco_sync {
    margin-bottom:50px;
	margin-left:4px;
}

#coco_nav_add {
    width:18px;
}

#notifications{
	width: 400px;
	position:fixed;
	right: 10px;
	font-size:12px;
}

#loaderimg{
	left: 50%;
	top: 50%;
	position: fixed;
}

#content{
	padding-top:20px;
	padding-bottom:20px;
	padding-right:50px;
	padding-left:230px;
}

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

.alert {
  margin-bottom: 3px;
}

@media (min-width: 1200px) and (max-width: 1240px) {
	  .span10 {
	    width:900px;
	  }
}	
