#heading{
	font-size: 32px;
	margin-left: 30px;
}

#sidepanel{
	width:250px;
	margin-left:70px;
	margin-top:25px;
}

#coco_faq{
	margin-bottom:40px;
	margin-top:20px;
}

.affix{
	position:fixed;
}

.faq-wrap{
	width: 850px;
	word-wrap: normal;
}

.topic{
	color:#0088cc;
	margin-left:23px;
}

ul{
    list-style-type: none;
}

hr{
	width:850px;
}