<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Video Kheti</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}videokheti/css/bootstrap_black.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}videokheti/css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="form-inline">
                
                <a class="navbar-brand audio-click" href="#" data-id="-1" style="padding-top: 2px">
                        <button type="button" class="btn btn-success btn-sm" style="font-size: 22px; border-radius: 50%">
                            <span class="glyphicon bigger glyphicon-volume-up" style="vertical-align: -2px;" aria-hidden="true"></span>
                         </button>
                </a>
                <a class="navbar-brand" href="/agri">digitalGREEN</a>
                <audio preload="auto" id="-1">
                    <source src="{{STATIC_URL}}videokheti/content/audio/what-information-prompt.wav" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                </div>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>
    
    
    <!-- Page Content -->
    <div class="container">
        {% if breadcrumb %}
        <ul class="breadcrumb">
            {% for obj in breadcrumb %}
                <li>
                    <a href="{{obj.link}}" style="background-color:black; border: 0px;">
                        <button type="button" class="btn btn-default btn-xs">
                            <img class="media-object" src="{{STATIC_URL}}videokheti/content/images/{{obj.image}}" alt="..." style="width:40px; height:40px !important;">
                        </button>
                    </a>
                </li>
            {% endfor%}
        </ul>
        {% endif %}
        <!-- Title -->
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-lg-12">
                <form class="form-inline">
                    {% if title_audio %}
                    <a href="#" data-id="0" class="audio-click">
                        <button type="button" class="btn btn-success btn-sm" style="margin-right: 10px; font-size: 22px; border-radius: 50%">
                            <span class="glyphicon bigger glyphicon-volume-up" style="vertical-align: -2px;" aria-hidden="true"></span>
                         </button>
                     </a>
                     {% endif %}
                    <label style="font-size: 20px; color: #ffffff;">{{title}}</label>
                    
                </form>
                {% if title_audio %}
                <audio preload="auto" id="0">
                            <source src="{{STATIC_URL}}videokheti/content/audio/{{title_audio}}" type="audio/wav">
                            Your browser does not support the audio element.
                </audio>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->

        
        <!-- Page Features -->
        {% if crop %}
        <div class="row">
            {% for obj in crop %}
                {% cycle 1 0 0 0 as new_row silent %}
                    {% if forloop.counter > 4 and new_row %}
                        </div>
                        <div class="row">
                    {% endif %}
                    <div class="col-md-3 col-sm-6 hero-feature">
                        <div class="thumbnail">
                            <a href="{{obj.link}}">
                                <img src="{% if video %}{{obj.image}}{% else %}{{STATIC_URL}}videokheti/content/images/{{obj.image}} {% endif %}" alt="" style="width:253px; height:158px !important;"> </img>
                            </a>
                            <div class="caption">
                                <form class="form-inline">
                                    <a href="#" data-id="{{obj.id}}" class="audio-click">
                                        <button type="button" class="btn btn-success btn-sm" style="margin-right: 18px; font-size: 22px; border-radius: 50%; text-align: center;">
                                            <span class="glyphicon bigger glyphicon-volume-up" style="vertical-align: -2px;" aria-hidden="true"></span>
                                        </button>
                                    </a>
                                    <a href="{{obj.link}}">
                                    <label style="font-size: 16px; color: #ffffff;">{{obj.name|upper}}</label>
                                    </a>
                                </form>
                            </div>
                        </div>
                
                        <audio preload="auto" id="{{obj.id}}">
                            <source src="{% if video %}{{obj.audio}}{% else %}{{STATIC_URL}}videokheti/content/audio/{{obj.audio}} {% endif %}" type="audio/wav">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="well text-center">
                <h5> Sorry no videos found !!!</h5>
                <h5> Please go back and choose something else </h5>
            </div>
        {% endif %}
            
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{STATIC_URL}}videokheti/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}videokheti/js/bootstrap.min.js"></script>
    
    <!-- Enabling Google Analytics -->
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-16211208-1");
            pageTracker._trackPageview();
            } 
        catch(err) {}
    </script>
    
    <script>
    $(".audio-click").click(function(event) {
        event.preventDefault();
        //alert($(this).data('id'));
        var button = $(this).find('.btn');
        button.removeClass('btn-success').addClass('btn-info');
        button.attr('disabled','disabled');
        var audio = $("#"+$(this).data('id'))[0];
        audio.play();
        audio.addEventListener('ended', function(){
            button.removeClass('btn-info').addClass('btn-success');
            button.removeAttr('disabled');
        });
    });
</script>

</body>

</html>
