<div id="wrapper">
  
  <div id="sidebar-wrapper" class="toggled">
    <div class="text-left">
        <h4>Select Filters</h4>
    </div>

    <form name="form-filters" class="data-filter-form m-t-30" id="data-extract" action="">
      {% csrf_token %}
            <label for="date_period" class="col-sm-12 col-form-label">Select Date</label>
            <div class="form-group row ml-30">
              <div {% if form.date_period.errors %} class="col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.date_period }}
              </div>
              <label class="col-sm-12">{% if form.date_period.errors %}{{ form.date_period.errors}}{% endif %}</label>
            </div>


            <label for="data_category" class="col-sm-12 col-form-label">Data Category</label>
            <div class="form-group row ml-30">
              
              <div {% if form.data_category.errors %} class="error errorlist col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.data_category }}
              </div>
              <label class="col-sm-12">{% if form.data_category.errors %}{{ form.data_category.errors}}{% endif %}</label>
            </div>

            <label for="data" class="col-sm-12 col-form-label">Data</label>
            <div class="form-group row ml-30">
              
              <div {% if form.data.errors %} class="col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.data }}
              </div>
              <label class="col-sm-12">{% if form.data.errors %}{{ form.data.errors}}{% endif %}</label>
            </div>

            <label for="data" class="col-sm-12 col-form-label">Country</label>
            <div class="form-group row ml-30">
              <div {% if form.data.errors %} class="col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.country }}
              </div>
              <label class="col-sm-12">{% if form.data.errors %}{{ form.country.errors}}{% endif %}</label>
            </div>

            <label for="data" class="col-sm-12 col-form-label">State</label>
            <div class="form-group row ml-30">
              
              <div {% if form.data.errors %} class="col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.state }}
              </div>
              <label class="col-sm-12">{% if form.state.errors %}{{ form.state.errors}}{% endif %}</label>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" id="extract" class="col-sm-8 btn btn-primary float-right">Submit</button>
              </div>
            </div>

    </form>
  </div>


  <div id="page-content-wrapper">
    <div class="container-fluid">

      
      <div class="row">
        <div class="col-sm-12 p-l-0">
          <h4>Key Statistics</h4>
        </div>
      </div>

      <div class="row">
        <!-- Pickup Rate -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main_statistics">
          <div class="tile-stats white-bg border-1">
                            <span class="icon-help icon-question" data-html="true" data-toggle="popover" data-placement="bottom" data-content="The percentage of the total number of farmers who picked up the call out of all farmers that was attempted across platform. <br><br><i>Note: The total number of groundnut sowing farmers are 330.<i>" data-trigger="hover" data-original-title="" title=""></span>

            <div class="row">
              <div class="col-sm-3">
                <div class="dashboard-icon">
                  <i class="icon-call-end"></i>
                </div>
              </div>
              <div class="col-sm-9 stats-text ">
                <h5> 81 %</h5>
                <h6>Pickup Rate</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- Average Listen Duration -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main_statistics">
          <div class="tile-stats white-bg border-1">
                            <span class="icon-help icon-question" data-toggle="popover" data-placement="bottom" data-content="This is the average listen duration across platform for reinforcement messages." data-trigger="hover" data-original-title="" title=""></span>

            <div class="row">
              <div class="col-sm-3">
                <div class="dashboard-icon">
                  <i class="icon-feed"></i>
                </div>
              </div>
              <div class="col-sm-9 stats-text">
                <h5> 87 seconds</h5>
                <h6>Average Listen Duration</h6>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Average Supplementary Messages heard per Farmer -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main_statistics">
          <div class="tile-stats white-bg border-1">
                            <span class="icon-help icon-question" data-toggle="popover" data-placement="bottom" data-content="This depicts, on average how many supplementary messages were heard per farmer. Supplementary messages are quick flash information messages which carries key points from reinforcement messages to be conveyed to farmers." data-trigger="hover" data-original-title="" title=""></span>

            <div class="row">
              <div class="col-sm-2">
                <div class="dashboard-icon">
                  <i class="icon-user"></i>
                </div>
              </div>
              <div class="col-sm-10 stats-text">
                <h5> 7 Messages</h5>
                <h6>Average Supplementary Messages Heard Per Farmer</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- Average Reinforcement Messages heard per Farmer -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 main_statistics">
          <div class="tile-stats white-bg border-1">
                            <span class="icon-help icon-question" data-toggle="popover" data-placement="bottom" data-content="This depicts, on average how many reinforcement messages were heard per farmer. Reinforcement messages are the messages of the different practices of which are being screened on ground via video dissemination." data-trigger="hover" data-original-title="" title=""></span>

            <div class="row">
              <div class="col-sm-3">
                <div class="dashboard-icon">
                  <i class="icon-user"></i>
                </div>
              </div>
              <div class="col-sm-9 stats-text">
                <h5> 3 Messages</h5>
                <h6>Average Reinforcement Messages Heard Per Farmer</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="wrapper-demo" class="row" style="overflow-x: auto;">
      </div>
    

    </div>
  </div>

  


    