  
  <div id="sidebar-wrapper" class="toggled">
    <div class="text-left">
        <h4>Select Filters</h4>
    </div>

    <form name="form-filters" class="data-filter-form m-t-30" id="data-extract" action="">
      {% csrf_token %}
            <label for="date_period" class="col-sm-12 col-form-label">Select Date</label>
            <div class="form-group row ml-30">
              <div {% if form.date_period.errors %} class="col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.date_period }}
              </div>
              <label class="col-sm-12">{% if form.date_period.errors %}{{ form.date_period.errors}}{% endif %}</label>
            </div>


            <label for="data_category" class="col-sm-12 col-form-label">Data Category</label>
            <div class="form-group row ml-30">
              
              <div {% if form.data_category.errors %} class="error errorlist col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.data_category }}
              </div>
              <label class="col-sm-12">{% if form.data_category.errors %}{{ form.data_category.errors}}{% endif %}</label>
            </div>

            <label for="data" class="col-sm-12 col-form-label">Data</label>
            <div class="form-group row ml-30">
              
              <div {% if form.data.errors %} class="col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.data }}
              </div>
              <label class="col-sm-12">{% if form.data.errors %}{{ form.data.errors}}{% endif %}</label>
            </div>

            <label for="data" class="col-sm-12 col-form-label">Country</label>
            <div class="form-group row ml-30">
              <div {% if form.data.errors %} class="col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.country }}
              </div>
              <label class="col-sm-12">{% if form.data.errors %}{{ form.country.errors}}{% endif %}</label>
            </div>

            <label for="data" class="col-sm-12 col-form-label">State</label>
            <div class="form-group row ml-30">
              
              <div {% if form.data.errors %} class="col-sm-12" {% else %} class="col-sm-12" {% endif %}>
                {{ form.state }}
              </div>
              <label class="col-sm-12">{% if form.state.errors %}{{ form.state.errors}}{% endif %}</label>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" id="extract" class="col-sm-8 btn btn-secondary float-right">Submit</button>
              </div>
            </div>

    </form>
  </div>

  


    