{% include "internal-tools/header.html" %}

 <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/jquery.dataTables.min.css" />
 <link rel="stylesheet" href="{{STATIC_URL}}assets/styles/buttons.dataTables.min.css">

 

<style type="text/css">
  .errorlist{
    color: red;
  }
  .error{
    color: red;
  }
</style>

<section id="upload-data" class="about-bg">

  <div class="wrapper">
    <div class="inner-wrapper">
      <div class="row">
        <div class="col-sm-12" style="overflow-x: auto">
          {{ data_list | safe}}
        </div>
        <br>
      </div>
    </div> <!-- End .inner-wrapper -->
  </div> <!-- End .wrapper -->
</section>

<!-- <script type="text/javascript" src="{{STATIC_URL}}social_website/scripts/libs/external/jquery.dataTables.js"></script> -->
<script  src="{{STATIC_URL}}social_website/scripts/libs/external/jquery-1.11.1.min.js"></script>
<script  src="{{STATIC_URL}}social_website/scripts/libs/external/jquery.dataTables.min.js"></script>
<script src="{{STATIC_URL}}social_website/scripts/libs/external/dataTables.buttons.min.js"></script>
<script src="{{STATIC_URL}}social_website/scripts/libs/external/jszip.min.js"></script>
<script src="{{STATIC_URL}}social_website/scripts/libs/external/buttons.html5.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.dataframe').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copy', 'excel', 'pdf'
    ]
    });
  });
</script>

