<div id="mySidenav" #mySidenav class="sidenav sideNav-font">
  <perfect-scrollbar class="parent-scrollbar">
    <div #sideNavContent class="container">
      <div class="row white-text">
        <div class="col-8">
          <label class="text-left no-margin sideNav-font">Filters</label>
        </div>
        <div class="col-4">
          <button type="button" class="close" aria-label="Close" (click)="closeNav()"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr class="bg-white" style="margin-top:4%">
        </div>
      </div>
      <div *ngIf="showDateFilter">
        <div class="row">
          <label class="col-3 text-white sideNav-font">From</label>
          <div class="col-7">
            <form #myForm="ngForm" novalidate style="margin-top:5%;">
              <my-date-picker class="datepicker" name="start_date" [options]="myDatePickerOptions" [(ngModel)]="startModel" required></my-date-picker>
            </form>
          </div>
        </div>
        <div class="row">
          <label class="col-3 text-white sideNav-font">To</label>
          <div class="col-7">
            <form #myForm="ngForm" novalidate style="margin-top:5%;">
              <my-date-picker class="datepicker " name="end_date" [options]="myDatePickerOptions" [(ngModel)]="endModel" required></my-date-picker>
            </form>
          </div>
        </div>
        <div *ngIf="invalidDate" class="alert red-text">
          <h6>{{ invalidDateMessage }}</h6></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a *ngFor='let filter_name of filter_list'>
            <div class="row" (click)="onFilterClick(filter_name); filter_name.expand=!filter_name.expand;" style="cursor: pointer; cursor: hand;">
              <div class="col-3">
                <label>{{ filter_name.heading }}</label>
              </div>
              <div class="col-7">
                <label class="float-right">
                    <strong>{{filter_name.show_icon}}</strong>
                  </label>
              </div>
            </div>
            <div class="container" *ngIf="filter_name.expand">
              <div class="form-group row" [id]="filter_name.heading">
                <h6 class="col-sm-12">
                  <span class="checkbox">
                    <label><input id={{filter_name.heading}} type="checkbox" checked="checked" [(ngModel)]="filter_name.select_all" (change)="selectAll(filter_name)"> Select All</label>
                  </span>
                </h6>
                <div class="col-sm-12">
                  <input class="form-control" type="search" [(ngModel)]="filter_name.searchTerm" placeholder="Search {{filter_name.heading}}">
                </div>
              </div>
              <div>
                <perfect-scrollbar class="scrollBar">
                  <h6 *ngFor="let data of filter_name.element | search: 'value': filter_name.searchTerm">
                    <span class="checkbox">
                      <label><input id={{data.id}} type="checkbox" [(ngModel)]="data.checked" (change)="filter_name.changed = true"> {{data.value}}</label>
                    </span>
                  </h6>
                </perfect-scrollbar>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row white-text">
        <div class="col-sm-12">
          <div class="text-center">
            <button class="btn btn-sx" (click)="applyFilters()"
            [ngStyle]="{'background-color' : generalConfig.applyFilterButton}" >Apply Filters</button>
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>

<div class="container">
  <div style="-webkit-text-fill-color: white">
    <div class="float-right">
      <span style="cursor:pointer" (click)="openNav()">&#9776;</span>
    </div>
  </div>
</div>
