.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #424242;
  transition: 0.4s;
  padding-top: 20px;
  overflow-x: hidden;
}

.sidenav a {
  padding: 8px 8px 8px 12px;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.datepicker {
  -webkit-text-fill-color: black;
}

.form-control {
  height: 36px;
}

input {
  -webkit-text-fill-color: black;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.bg-white {
  background: #ffffff;
}

.text-white {
  padding: 8px 0px 0px 32px;
  -webkit-text-fill-color: white;
}

.parent-scrollbar {
  height: 100%;
}

.scrollBar {
  height: 300px;
}

.btn-success {
  background-color: #009688;
  border-color: #009688;
}

.red-text {
  -webkit-text-fill-color: red;
}
