<div id="mySidenav" #mySidenav class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href='#' *ngFor='let filter_name of filter_list'>{{filter_name.heading}}
      <h4 class="row" *ngFor="let data of filter_name.element">
        <span class="checkbox">
      <label><input id={{data.id}} type="checkbox" checked="checked" [(ngModel)]="data.checked">{{data.value}}->{{data.checked}}</label>
    </span>
  </h4>
    </a>
  <button class="btn btn-primary" (click)="applyFilters()">Apply Filters</button>
</div>

<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
