<div class="new_footer">
  <p style="text-align:center"><a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/2.5/in/"><img class="cc-site-logo" alt="Creative Commons" style="height:22px;width:22px;" src="https://mirrors.creativecommons.org/presskit/icons/cc.png" scale="0"><span class="text-white">Digital Green</span></a>&nbsp;|&nbsp;
    <a href="https://www.digitalgreen.org/privacy-policy" target="_blank"><span class="text-white privacy">Privacy Policy</span></a>&nbsp;|&nbsp;<a href="https://www.digitalgreen.org/terms-of-service" target="_blank"><span class="text-white terms-service">Terms of Service</span></a></p>
</div>
