{% extends "base_analytics.html" %}

{% block title %} Digital Green - Adoption Statistics  {% endblock %}

{% block cssfile %}  
    {{block.super}}   
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/production.css' />
{% endblock cssfile %}

{% block jsfile %}  
    {{block.super}}
     <script type="text/javascript" src="/media/Output/JS/Jexpandview.js"></script>          
{% endblock jsfile %}	


{% block analyticsbreadcrums %} 	
	{{block.super}}
	/ <span style='font-size:0.9em; font-weight:bold;'> Adoption Statistics </span>	
{% endblock analyticsbreadcrums %}


{% block contentbody %}
	{{block.super}}		
		<div id='contentstat'>	
			<div id='table1'>
				<div id='divstattitle'>
					<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
						<tr>
							<td class='divtitletablename'> <div id='divstattitlename'>Key Statistics</div> </td>
							<td class='divtitletableimg'>  </td>
						</tr>
					</table>								
				</div>
				<table id='table1stat' cellspacing='0' cellpadding='0'> 	
					<tr>
						<td class="table1statdesc">
							<div class="statdesc">
								<div class="statdescname">	Adoption Rate	</div>
								<div id="statdescimg"> 	
									<div id="statdescimg1" style="display: none;">	
										Farmers who have adopted an agricultural practice <br/>
										divided by 'Active' attendees i.e. farmers who have watched a DG video in last 60 days.					
									</div>								
								</div>
							</div>
							<div class="statnumber">
								<div class="statdesnumber">	{{adopt_rate|floatformat:2|default:"0"}} %</div>
							</div>																				
						</td>
						<td class="table1statdesc">
							<div class="statdesc">
								<div class="statdescname">Avg. adoption per active farmer </div>
								<div id="statdescimg"> 
									<div id="statdescimg1" style="display: none;">	
										Average number of adoptions per active farmer. Active farmer <br/>
										is the one still involved with DG system.			
									</div>								
								</div>
							</div>
							<div class="statnumber">
								<div class="statdesnumber">	{{avg_ado_per_farmer|floatformat:2|default:"0"}}</div>
							</div>													
						</td>
						<td class="table1statdesc">
							<div class="statdesc">
								<div class="statdescname">Avg. adoption per screening </div>
								<div id="statdescimg">
									<div id="statdescimg1" style="display: none;">	
										Average number of adoptions per screening			
									</div>									 									
								</div>																
							</div>
							<div class="statnumber">
								<div class="statdesnumber"> {{ avg_ado_per_scr|floatformat:2|default:"0" }} </div>
							</div>																			
						</td>
					</tr>				
					<tr>
						<td class="table1statdesc">
							<div class="statdesc">
								<div class="statdescname">	Total number of Adoptions	</div>
								<div id="statdescimg"> 	
									<div id="statdescimg1" style="display: none;">	
										The total number of Adoptions <br/>
										in a chosen geography & time period						
									</div>								
								</div>
							</div>
							<div class="statnumber">
								<div class="statdesnumber">	{{tot_ado}} Adoption{{tot_ado|pluralize}}</div>
							</div>																				
						</td>
						
						{% comment %}
						<td class="table1statdesc">
							<div class="statdesc">
								<div class="statdescname">Ratio of manifested expressed interests</div>
								<div id="statdescimg"> 
									<div id="statdescimg1" style="display: none;">	
										Farmers express interests for adopting a practice during Video screenings. <br\>
										This statistic indicates the ratio of interests that materialized into actual adoption.				
									</div>								
								</div>
							</div>
							<div class="statnumber">
								<div class="statdesnumber">{{ratio_exp_int|floatformat:2|default:"0"}} interests</div>
							</div>													
						</td>
						{% endcomment %}
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'> Avg. adoption per video</div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										Average number of adoptions <br/>
										per video
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'> {{ avg_ado_per_vid|floatformat:2|default:"0"}} adoptions/video</div>
							</div>													
						</td>	
						
						<td class="table1statdesc">
							<div class="statdesc">
								<div class="statdescname">Probability of Adoption by a farmer </div>
								<div id="statdescimg">
									<div id="statdescimg1" style="display: none;">	
										Total Adoptions divided by total viewings of Videos					
									</div>									 									
								</div>																
							</div>
							<div class="statnumber">
								<div class="statdesnumber">	{{adopt_prob|floatformat:2|default:"0"}} %</div>
							</div>																			
						</td>
						
					</tr>					
					
					<tr>						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total Unique Farmer adopting a Practice</div>
								<div id='statdescimg'> 	
									<div id='statdescimg1'>	
										Number of unique farmers <br/> 
										adopting any Agricultural Practice	
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>{{tot_farmers}} Farmer{{tot_farmers|pluralize}}</div>
							</div>																				
						</td>						
					
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total Unique Practices Adopted </div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										Number of Unique Agricultural<br/>
										Practices adopted
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>{{tot_prac}} Practice{{tot_prac|pluralize}}</div>
							</div>													
						</td>	
						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'> Ratio of farmers with Repeat Adoption </div>
								<div id='statdescimg'> 	
									<div id='statdescimg1'>	
										Ratio of farmers who repeated an adoption to the  
										number of farmers who made at least one adoption.
										Repeating an adoption is adopting the same agricultural
										practice again.
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>{{repeat_pract|floatformat:2|default:"0"}} %</div>
							</div>																				
						</td>					
					</tr>
					{% comment %}
					<tr>						
						<td class='table1statdesc'>
						</td>						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'> Avg. adoption per video</div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										Average number of adoptions <br/>
										per video
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'> {{ avg_ado_per_vid|floatformat:2|default:"0"}} adoptions/video</div>
							</div>													
						</td>	
						<td class='table1statdesc'>
						</td>					
					</tr>		
					{% endcomment %}				
				</table>				
			</div>					
		</div>
		
		<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>Graphs</div> </td>
					<td class='divtitletableimg'>  </td>
				</tr>
			</table>								
		</div>
				
		<div id='contenttable'>	
			<table cellpadding="0" cellspacing="0" border="0" id="graphtable">
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Geographic distribution of Adoptions</div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_geog_pie_chart,"Geographic distribution of Adoptions")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>
							</div>
							<div class="graphdiv1desc" id="javascript_geogwise_pie">								
							</div>												
						</div>
						
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Number of Adoptions per Month </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_monthwise_column_chart,"Number of Adoptions per Month")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>															
							</div>
							<div class="graphdiv1desc" id="javascript_monthwise_column">								
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1">Number of Adoptions over Time</div>

									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_total_line_chart,"Absolute Attendance & Interest Line Graph")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>	
							</div>
							<div class="graphdiv1desc" id = "javascript_total_line">						
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Adoptions per Practice </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_practice_bubble_chart,"Adoptions per Practice")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>									
							</div>
							<div class="graphdiv1desc" id = "javascript_practice_type_bubble" >
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1">Adoption Rate Line Graph</div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_percent_line_chart,"Adoption Rate Line Graph")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "javascript_percent_line" >
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Gender distribution of Persons adopting Agricultural Practice</div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_gender_pie_chart,"Gender distribution of Persons adopting Agricultural Practice")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "javascript_gender_pie" >
							</div>						
						</div>					
					</td>
				</tr>
			</table>				
		</div>

<div> 
    <div id="expandview1">        
    </div>       
    <div id="expandview3">    	
    	<div id="expandviewtitle"></div>
    	<div id="expandviewclosebtn" title="Close"></div>    
        <div class="expandviewchart" id="expandview4">        	
        </div>
        <br/>     
    </div>
</div> 

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/media/Output/JS/adoption_module.js"></script>

{% endblock contentbody %}