
{% extends "base.html" %}

{% block title %} Careers in digital Green  {% endblock %}

{% block cssfile %}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/career.css' />       
{% endblock cssfile %}

{% block jsfile %}
       <script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>
{% endblock jsfile %}

{% block content %}

<div id='careerbody'>

<div id='careerbodydiv1'>
	<div id='careernavpanel'>
		<div id='careertitleimg'> <img alt="Careers" src="/media/Output/Images/careericon4.png"/> </div>
		<div id='careertitledesc'>
			<div class='careertitledesca'> <a href="#"> Life @Digital Green </a>  </div>
			<div class='careertitledesca'> <a href="base_career_immediate.html"> Immediate Openings  </a>  </div>
			<div class='careertitledesca'> <a href="#"> Internships     </a>  </div>			
		</div>
	</div>	
</div>


<div id='careerbodydiv2'>
{% block careerbody %}
    <div id='contentheader'>
		<table id='contentheadertable'>						
			<tr>
				<td class='contentheadertitle'> 
					<div class='contentheadertitlediv'>Digital Green wants you! Actually, Digital Green needs you and wants to hire you assuming you are a 
					<span class='contentheadertitlediv1'>hard working, technically gifted, team-oriented, experienced rural development leader</span>. &nbsp; If you might be interested in joining us, please keep reading.</div>  
				</td>									
			</tr>
		</table>					
	</div>
	
	<div id='contentdiv1'>
		<table id='table1' cellspacing='0' cellpadding='5'>						
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0' > 
					<div class='contenttd1div'>
							Digital Green is actively hiring highly qualified and dedicated individuals. 
							Our hiring bar is unabashedly extreme, and we insist on keeping our team size small. 
							This means the person occupying each and every spot must be among the most gifted in his or her field. 
							Other hiring criteria include: 
							<ul>
								<li> You must have a genuine passion for rural development. Without passion, you will find what we're trying to do too difficult. There are much easier jobs. </li>
   								<li> You must want to work in a small non-profit/NGO. </li>
   							    <li> We are building the capacities of real people and real organizations. This must excite you.</li>								
							</ul>							
					</div>
				</td>
				<td class='contenttd2'> 
					<div class='contenttd2div'>
						<object height="220" width="350">
							<param value="http://www.youtube.com/v/_HTsrigrUQY?rel=1" name="movie">
							<param value="transparent" name="wmode">
							<embed height="220" width="350" wmode="transparent" type="application/x-shockwave-flash" src="http://www.youtube.com/v/_HTsrigrUQY?rel=1">
						</object>
					</div>  
				</td>									
			</tr>
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0' > 
					
				</td>
				<td class='contenttd2'> 
					<div class='contenttd2div3'>
						<span style="color:#5b6e1d; text-decoration:underline; ">An Orientation Boot Camp</span> that we organize to bring new team members on board
					</div>  
				</td>									
			</tr>
		</table>					
	</div>
    
    <div id='contentdiv2'>
    	<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>We are Hiring!</div> </td>
					<td class='divtitletableimg'> We have immediate openings for: </td>
				</tr>
			</table>								
		</div>
    	<table id='table2' cellspacing='0' cellpadding='5'>						
			<tr>												
				<td class='content2td' cellspacing='0' cellpadding='0' > 
					<div id='content2tdtitle1'>
						<table id='contenttitletable'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td id='contenttitletablename'> <div id='contenttitlename'>Assistant Development Managers</div>  </td>
								<td id='contenttitletableimg'> <div id='content2tdtitleimg'> 	</div> </td>
							</tr>
						</table>
						<table id='content2desc1'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td> 
									<div id='content2descclose'> </div> 									 
								</td>							
							</tr>
							<tr>
								<td> 
									<div id='content2descdiv'>
									
										Digital Green (DG) is a national NGO that seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. Working in close partnership with NGOs in each geographical area, the system improves the efficiency of extension programs by delivering targeted content to a wider audience enabling farmers to better manage their farming operations with reduced field support. 
										Based on its highly successful pilot research project supported by Microsoft Research, DG is currently involved in scaling up its operations in different parts of the country. This scale up of DG operations is supported by Bill & Melinda Gates Foundation.
										<br/>	
										Digital Green is inviting applications from development professionals for the positions of Assistant Development Managers (ADMs) to manage its front end operations. 
										Reporting to Regional Development Managers, ADMs will engage with stakeholders at the village level and collaborate with NGO partners to develop and disseminate good farming practices using information, communication and technology (ICT) resulting in better farm yield and livelihood for the small and marginal farmers. 
										<br/>
										<br/>
										Key Responsibilities:
											<ul>
												<li> Nurture and strengthen partnership with area specific NGOs and community groups  </li>
   												<li> Identify suitable farming practices and develop content for video production </li>
   							    				<li> Using ICT, disseminate good practices among the farmers and motivate them to adopt new practices </li>								
												<li> Using DG project management system, monitor project activities and report on activities, milestones and accomplishments in a timely fashion </li>
												<li> Identify concerns, issues and problems promptly, address and report them  
													<ul>
														<li> Liaise with partners and technical advisors </li>
														<li> Process necessary project approval and contractual documentation, ensuring any necessary ethical review </li>
													</ul>
														
												</li>
											</ul>
										Qualifications and skills:
											<ul>
												<li> Graduate degree in agriculture or related discipline with experience in project management for a national or international NGO in an administrative role  </li>
   												<li> Excellent interpersonal, verbal and written communication, including report writing, skills. </li>
   							    				<li> Demonstrated ability to manage data </li>								
												<li> Flexible, detail-oriented, organized, adaptable to changing priorities and ability to take the initiative and to meet strict deadlines </li>
												<li> Excellent computer skills using MS Office (particularly Word, PowerPoint and Excel) and familiarity with the Internet	</li>
												<li> Experience organizing meetings and/or workshops </li>
												<li> Ability to work within a team situation and with minimum supervision </li>
												<li> Demonstrated interest and passion about agriculture and livelihood issues </li>
											</ul> 	
									</div> 									 
								</td>							
							</tr>
						</table>
					</div>					
										
				</td>													
			</tr>
			<tr>												
				<td class='content2td'cellspacing='0' cellpadding='0' > 	
					<div id='content2tdtitle2'>
						<table id='contenttitletable'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td id='contenttitletablename'> <div id='contenttitlename'> System Engineers </div> </td>
								<td id='contenttitletableimg'> <div id='content2tdtitleimg'> 	</div> </td>								
							</tr>
						</table>
						<table id='content2desc2'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td> 
									<div id='content2descclose'> </div> 									 
								</td>							
							</tr>
							<tr>
								<td> 
									<div id='content2descdiv'>
									
										Digital Green (DG) is a national NGO that seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. Working in close partnership with NGOs in each geographical area, the system improves the efficiency of extension programs by delivering targeted content to a wider audience enabling farmers to better manage their farming operations with reduced field support. 
										Based on its highly successful pilot research project supported by Microsoft Research, DG is currently involved in scaling up its operations in different parts of the country. This scale up of DG operations is supported by Bill & Melinda Gates Foundation.
										<br/>	
										Digital Green is inviting applications from development professionals for the positions of Assistant Development Managers (ADMs) to manage its front end operations. 
										Reporting to Regional Development Managers, ADMs will engage with stakeholders at the village level and collaborate with NGO partners to develop and disseminate good farming practices using information, communication and technology (ICT) resulting in better farm yield and livelihood for the small and marginal farmers. 
										<br/>
										<br/>
										Digital Green is looking for a superstar software developer who has experience with:
											<ul>
												<li> Distributed systems (hands-on experience preferred, academic experience is OK)   </li>
   												<li> Database experience (optimizing SQL and writing software that uses SQL to access databases)  </li>
   							    				<li> LAMP (PHP, Python, Perl)  </li>								
												<li> Architecting and implementing production websites (HTML, CSS, XML, Javascript, etc.)  </li>
												<li> Building technology at the crossroads of back-end functionality and front-end design </li>
											</ul>
											
										You will: 
											<ul>
												<li> Play a key role in the building the technology that powers Digital Green   </li>
   												<li> Start with ideas, design products and features, architect a technical solution, then build, test, and launch it in the field  </li>
   							    				<li> Be an integral member of our team and help shape our future  </li>								
												<li> Help build and grow the team  </li>
											</ul>
											
										We will: 
											<ul>
												<li>  Be a group of the smartest, most trustworthy, passionate, and interesting people you know   </li>
   												<li> Make sure you have what you need to be happy and productive  </li>
   							    				<li> Compensate you with an exciting mixture of cash and developmental impact that you can by proud of  </li>								
												<li> Make great teammates united around a vision of improving the livelihoods of farmers using technology  </li>
											</ul>	 
									</div> 									 
								</td>							
							</tr>
						</table>
					</div>					
								
				</td>									
			</tr>
			<tr>												
				<td class='content2td'cellspacing='0' cellpadding='0' > 	
					<div id='content2tdtitle3'>
						<table id='contenttitletable'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td id='contenttitletablename'> <div id='contenttitlename'> Interface Designers </div> </td>
								<td id='contenttitletableimg'> <div id='content2tdtitleimg'> 	</div> </td>								
							</tr>
						</table>
						<table id='content2desc3'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td> 
									<div id='content2descclose'> </div> 									 
								</td>							
							</tr>
							<tr>
								<td> 
									<div id='content2descdiv'>									
										Digital Green (DG) is a national NGO that seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. Working in close partnership with NGOs in each geographical area, the system improves the efficiency of extension programs by delivering targeted content to a wider audience enabling farmers to better manage their farming operations with reduced field support. 
										Based on its highly successful pilot research project supported by Microsoft Research, DG is currently involved in scaling up its operations in different parts of the country. This scale up of DG operations is supported by Bill & Melinda Gates Foundation.
										<br/>	
										Digital Green is inviting applications from development professionals for the positions of Assistant Development Managers (ADMs) to manage its front end operations. 
										Reporting to Regional Development Managers, ADMs will engage with stakeholders at the village level and collaborate with NGO partners to develop and disseminate good farming practices using information, communication and technology (ICT) resulting in better farm yield and livelihood for the small and marginal farmers. 
										<br/>
										<br/>
										Digital Green is looking for an Interaction Designer who is adept at:
											<ul>
												<li> Creating clean, coherent, beautiful consumer websites    </li>
   												<li> Taking large amounts of information and presenting them in clean and simple ways   </li>
   							    				<li> HCI principles and UI best practices, and incorporating this experience into the concept development process   </li>								
												<li> Designing and implementing production websites (HTML, CSS, XML, etc.)  </li>												
											</ul>
										
										Ideally, you are also someone who has experience with:
											<ul>
    											<li>	Visual design </li>
    											<li>	Modern technologies used in creating innovating UI (e.g. AJAX, Flex/Actionscript/Flash) </li>
    											<li>	Building technology at the crossroads of back-end functionality and front-end design </li>
    											<li>	Integrating with APIs with white-label and open-source services (e.g., YouTube, Google Maps)  </li>	
											</ul>
											
										You will: 
											<ul>
												<li> Play a key role in the creation of the user interface for our products   </li>
   												<li> Start with ideas, design products and features, architect a technical solution, then build, test, and launch it in the field  </li>
   							    				<li> Be an integral member of our team and help shape our future  </li>								
												<li> Help build and grow the team  </li>
											</ul>
											
										We will: 
											<ul>
												<li>  Be a group of the smartest, most trustworthy, passionate, and interesting people you know   </li>
   												<li> Make sure you have what you need to be happy and productive  </li>
   							    				<li> Compensate you with an exciting mixture of cash and developmental impact that you can by proud of  </li>								
												<li> Make great teammates united around a vision of improving the livelihoods of farmers using technology  </li>
											</ul>	 
									</div> 									 
								</td>							
							</tr>
						</table>
					</div>					
								
				</td>									
			</tr>
			<tr>												
				<td class='content2td'cellspacing='0' cellpadding='0'>
					<div id='content2tdtitle4'>
						Digital Green offers highly dynamic and enabling work environment and provides competitive compensation based on experience and background. 
						Interested candidates should visit <a href="www.digitalgreen.org"> www.digitalgreen.org </a> to learn more about Digital Green and submit their application with a cover note, current CV 
						and at least three references to <a href="mailto:jobs@digitalgreen.org">jobs@digitalgreen.org</a>						
					</div>				 
				</td>
			</tr>							
		</table>
    </div>   
{% endblock careerbody %}
</div>
<div id='careerbodydiv3'> </div> 
</div>   
{% endblock content %}