
{% extends "base.html" %}

{% block title %} About Us Overview:: Digital Green {% endblock %}

{% block cssfile %}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/aboutusoverview.css' />       
{% endblock cssfile %}

{% block jsfile %}
       <script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>
{% endblock jsfile %}

{% block content %}

<div id='careerbody'>

<div id='careerbodydiv1'>
	<div id='careernavpanel'>
		<div id='careertitleimg'>  </div>
		<div id='careertitledesc'>
					
		</div>
	</div>	
</div>


<div id='careerbodydiv2'>
{% block careerbody %}
    	
	<div id='contentdiv2'>
    	<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>{% block teampagetitle %} About Us: Overview {% endblock teampagetitle %}</div> </td>
					<td class='divtitletableimg'>  </td>
				</tr>
			</table>								
		</div>
    	<table id='table2' cellspacing='0' cellpadding='5'>						
			<tr>												
				<td class='content2td' cellspacing='0' cellpadding='0' > 
					<div id='content2tdtitle1'></div>			
				</td>													
			</tr>
							
		</table>
    </div>
    
	<div id='contentdiv1'>		
		Digital Green is dedicated to improving the social, economic, and environmental sustainability of small farmer livelihoods. 
		We aim to raise the livelihoods of smallholder farmers across the developing world through the targeted production and 
		dissemination of agricultural information via participatory video and mediated instruction through grassroots-level partnerships. 
		<img alt="Careers" src="/media/Output/Images/overviewimg2.jpg" align='right'/>
		This work begins by disseminating targeted agricultural information to small and marginal farmers using a cost-realistic media 
		exchange that is supported by existing, people-based extension systems and local facilitators. 
		The unique components of Digital Green are a participatory process for content production, a locally generated digital video database, 
		human-mediated instruction for dissemination and training; and regimented sequencing to initiate a new community. 	
		<br>Unlike some systems that expect information or communication technology alone to deliver useful knowledge to marginal farmers, 
		Digital Green works with existing, people-based extension systems and aims to amplify their effectiveness. While video provides a point of focus, 
		it is people and social dynamics that ultimately make Digital Green work. Local social networks are tapped to connect farmers with experts, the thrill of 
		appearing <span style='font-weight:bold'>on TV</span> motivates farmers, and homophily is exploited to minimize the distance between teacher and learner. The Digital Green system still 
		requires the support of a grassroots-level extension system, but it magnifies its effectiveness by using relevant content and a local presence to 
		connect with farmers on a sustained basis. Indeed, Digital Green was shown to be <span style='font-weight:bold'>ten times more effective per dollar spent.</span>
		<br><br>Our work rests on a number of key principles: 
		<ul>
			<li>
				<span style='font-weight:bold'>Digital video:</span> Digital Green is enabled by recent advances in digital video technology, including low cost camcorders and PC solutions for editing digital video. 
				These advances greatly lower the cost of the system, and also allow local development of video content. 
			</li>
			<li>
				<span style='font-weight:bold'>Mediation:</span> Videotaped demonstrations are not a complete extension solution because they lack the interactivity that is the hallmark of good extension. 
				Digital Green relies on a local facilitator, whose role is to occasionally pause or repeat video in order to engage the audience with discussion and capture farmers feedback.
			</li>
			<li>
				<span style='font-weight:bold'>Gender:</span> Participants in Digital Green include facilitators, trainers, video and computing technicians, and support staff. Targets for female participation, such as local facilitators, 
				are determined and tracked. Particular attention is paid to the gender balance in recruiting women for video productions. Topics of relevance to women are included in the content, 
				especially topics related to crops that are grown by women. 
			</li>
			<li>
				<span style='font-weight:bold'>Target multiple levels of content production and consumption:</span> Digital Green includes instruction between institutional researchers and community-level organizations, 
				community-level organizations and farmers, farmers and other farmers. 
				A strength of the multi-level approach is that it links smallholder issues into broader agricultural education, research, and policy. 
			</li>
			<li>
				<span style='font-weight:bold'>Training:</span> It is not sufficient to simply produce materials. It is also necessary to help researchers, extension staff, and village facilitators to develop skills in the 
				social aspects of Digital Green to deliver the materials.
			</li>
			<li>
				<span style='font-weight:bold'>Content localization:</span> It is important that Digital Green content is relevant to local conditions (crops, climates, soils, farming practices). 
				The use of video provides opportunities for customization of materials. 
			</li>
			<li>
				<span style='font-weight:bold'>Partnerships:</span> The emphasis of Digital Green is on the development and delivery of digital content to improve the cost-effectiveness of organizations 
				involved in agricultural research and/or extension. The goal is to strengthen existing institutions and groups; not to create new ones.  
			</li>
			<li>
				<span style='font-weight:bold'>Community based content:</span> Digital Green has an open model for dissemination of content so that they are freely available, by everyone, for use.   
			</li>
			<li>
				<span style='font-weight:bold'>Cost realism:</span> To be successful and sustainable, Digital Green operates in environments with limited infrastructure and financial resources. 
				This means paying attention to costs at all levels, and limiting the investment in expensive equipment. High bandwidth internet connections are not necessary, 
				since one option for receiving the video content is by DVD.   
			</li>
			<li>
				<span style='font-weight:bold'>Feedback:</span> By enabling anyone to be a content producer and consumer, Digital Green empowers first-kilometer communities to have a voice. 
				Other types of audio and video-based mechanisms are used to support reporting and to build trust among virtual communities of participants.    
			</li>			
		</ul>
		Our goals are to extend the Digital Green system for agriculture extension through research- and community-level partners by bootstrapping on existing institutional capacity and 
		targeting investments in operational tools and processes, monitoring and evaluating progress with feedback and refinement support, providing a platform to share content amongst partners, 
		and enabling partners and farming communities to sustain and expand the program on their own. 
		
		<br/><br/>Our core values include: 
		<ul>
			<li>
				<span style='font-weight:bold'>Obsession for improving the sustainably of farmer livelihoods:</span> We start with the farmer and work backwards. 
			</li>
			<li>
				<span style='font-weight:bold'>Innovation:</span> If you don't listen to farmers you will fail. But if you only listen to farmers you will also fail. We seek to improve not 
				only the livelihoods of farmers or the efficacy of our partners, but also ourselves.
			</li>
			<li>
				<span style='font-weight:bold'>Bias for Action:</span> We live in a time of unheralded challenges and insurmountable opportunity, provided we make every minute count.
			</li>
			<li>
				<span style='font-weight:bold'>Ownership:</span> Ownership matters when you're building a great organization. Owners think long-term, plead passionately for their ideas, 
				and are empowered to respectfully challenge decisions.
			</li>
			<li>
				<span style='font-weight:bold'>High Hiring Bar:</span> When making a hiring decision we ask ourselves: "Will I admire this person? Will I learn from this person? Is this person a superstar?"
			</li>
			<li>
				<span style='font-weight:bold'>Frugality:</span> We spend money on things that really matter and believe that frugality breeds resourcefulness, sustainability, and invention!
			</li> 				
	</div>
    
    <div id='contentheader'>
		<table id='contentheadertable'>						
			<tr>
				<td class='contentheadertitle'> 
					  
				</td>									
			</tr>
		</table>					
	</div>   
{% endblock careerbody %}
</div>
<div id='careerbodydiv3'> </div> 
</div>   
{% endblock content %}