
{% extends "base.html" %}

{% block title %} Partner Selection:: Digital Green {% endblock %}

{% block cssfile %}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/partnerselection.css' />       
{% endblock cssfile %}

{% block jsfile %}
       <script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>
{% endblock jsfile %}

{% block content %}

<div id='careerbody'>

<div id='careerbodydiv1'>
	<div id='careernavpanel'>
		<div id='careertitleimg'> <img alt="Logo Partners" src="/media/Output/Images/teamlogo2.png"/>  </div>
		<div id='careertitledesc'>			
			<div class='careertitledesca'> <a href="../partner"> Our Partners </a>  </div>
			<div class='careertitledesca'> 
				<a href="/partnerselection"> Join hands with Us <br/> Be a Partner </a>  
			</div>		
		</div>
	</div>	
</div>


<div id='careerbodydiv2'>
{% block careerbody %}
    	
	<div id='contentdiv2'>
    	<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>{% block teampagetitle %} Partner Selection: Request for Applications (RFA) {% endblock teampagetitle %}</div> </td>
					<td class='divtitletableimg'>  </td>
				</tr>
			</table>								
		</div>
    	<table id='table2' cellspacing='0' cellpadding='5'>						
			<tr>												
				<td class='content2td' cellspacing='0' cellpadding='0' > 
					<div id='content2tdtitle1'></div>			
				</td>													
			</tr>
							
		</table>
    </div>
    
	<div id='contentdiv1'>		
		<span style='font-weight:bold'> This Request for Applications is being issued by Digital Green to invite proposals from eligible NGOs to partner with Digital Green to scale up a highly successful model of using ICT 
		to improve the efficiency of existing agriculture extension systems and affecting significant reduction in costs and enhanced farm productivity to improve livelihood of small and 
		marginal farmers in India.</span>
		<br><br>
		<span style='font-weight:bold'> NGOs interested in partnering with Digital Green on this RFA may please send their responses by courier and email as per the deadlines below to:</span>
		<br/>
		Mr. Rikin Gandhi <br/>
		Chief Executive Officer <br/>
		Digital Green <br/>
		2A, Corner Market <br/>
		Malviya Nagar <br/>	 	
		New Delhi  110017 <br/>
		India <br/><br/>
		
		Email: <a href="mailto:rikin@digitalgreen.org">rikin@digitalgreen.org</a>
		<br/><br/>
		
		<span id='index'> Table of Contents: </span> <br>
		<span style='font-weight:bold;'> 1.  <a href='#section1'> Project Background </a> </span> <br/>
		
		<span style='font-weight:bold;'> 2. </span> <a href='#section2'> Project Design and Implementation Plan </a> <br/>
		
		<span style='font-weight:bold;'> 3. </span> <a href='#section3'> Project phases and Partnership Arrangements </a> <br/>
		
		<span style='font-weight:bold;'> 4. </span> <a href='#section4'> Scope of Work </a> <br/>
		
		<span style='font-weight:bold;'> 5. </span> <a href='#section5'> Application Instructions </a> <br/> 
		
		
		
		
		<h3 id='section1' class='section'> 1. Project Background </h3>
		
		Digital Green is an international organizations dedicated to improving the social, economic, and environmental sustainability of small farmer livelihoods. We aim to raise the livelihoods 
		of smallholder farmers across the developing world through the targeted production and dissemination of agricultural information via participatory video and mediated instruction through 
		grassroots-level partnerships. <br/> <br/>
		
		We encourage adoption of improved farming systems by small and marginal farmers by disseminating targeted agricultural information using a cost-realistic ICT-based media exchange that is 
		supported by existing, people-based extension systems and local facilitators.  The unique components of Digital Green are (1) a participatory process for content production, 
		(2) a locally generated digital video database, (3) human-mediated instruction for dissemination and training, and (4) regimented sequencing to initiate a new community. 
		<br/> <br/>
		
		Unlike some systems that expect information or communication technology alone to deliver useful knowledge to marginal farmers, Digital Green works with existing, people-based extension 
		systems and aims to amplify their effectiveness. While video provides a point of focus, it is people and social dynamics that ultimately make Digital Green work. Local social networks are 
		tapped to connect farmers with experts; the thrill of appearing "on TV" motivates farmers; and homophily is exploited to minimize the distance between teacher and learner.

		<br/><br/>
		The Digital Green system still requires the support of a grassroots-level extension system, but it magnifies its effectiveness by using relevant content and a local presence to connect 
		with farmers on a sustained basis. Indeed, Digital Green was shown to be <span style='font-weight:bold'> ten times more effective per dollar spent.</span> 
		<br/><br/>
		Our work rests on a number of key principles: 		
		  		
		<ul>
			<li>
				<span style='font-weight:bold'>Digital video:</span> Digital Green is enabled by recent advances in digital video technology, including low cost camcorders and PC solutions for editing digital video. 
				These advances greatly lower the cost of the system, and also allow local development of video content. 
			</li>
			<li>
				<span style='font-weight:bold'>Mediation:</span> Videotaped demonstrations are not a complete extension solution because they lack the interactivity that is the hallmark of good extension. 
				Digital Green relies on a local facilitator, whose role is to occasionally pause or repeat video in order to engage the audience with discussion and capture farmers feedback.
			</li>
			<li>
				<span style='font-weight:bold'>Gender:</span> Participants in Digital Green include facilitators, trainers, video and computing technicians, and support staff. Targets for female participation, such as local facilitators, 
				are determined and tracked. Particular attention is paid to the gender balance in recruiting women for video productions. Topics of relevance to women are included in the content, 
				especially topics related to crops that are grown by women. 
			</li>
			<li>
				<span style='font-weight:bold'>Target multiple levels of content production and consumption:</span> Digital Green includes instruction between institutional researchers and community-level organizations, 
				community-level organizations and farmers, farmers and other farmers. 
				A strength of the multi-level approach is that it links smallholder issues into broader agricultural education, research, and policy. 
			</li>
			<li>
				<span style='font-weight:bold'>Training:</span> It is not sufficient to simply produce materials. It is also necessary to help researchers, extension staff, and village facilitators to develop skills in the 
				social aspects of Digital Green to deliver the materials.
			</li>
			<li>
				<span style='font-weight:bold'>Content localization:</span> It is important that Digital Green content is relevant to local conditions (crops, climates, soils, farming practices). 
				The use of video provides opportunities for customization of materials. 
			</li>
			<li>
				<span style='font-weight:bold'>Partnerships:</span> The emphasis of Digital Green is on the development and delivery of digital content to improve the cost-effectiveness of organizations 
				involved in agricultural research and/or extension. The goal is to strengthen existing institutions and groups; not to create new ones.  
			</li>
			<li>
				<span style='font-weight:bold'>Community based content:</span> Digital Green has an open model for dissemination of content so that they are freely available, by everyone, for use.   
			</li>
			<li>
				<span style='font-weight:bold'>Cost realism:</span> To be successful and sustainable, Digital Green operates in environments with limited infrastructure and financial resources. 
				This means paying attention to costs at all levels, and limiting the investment in expensive equipment. High bandwidth internet connections are not necessary, 
				since one option for receiving the video content is by DVD.   
			</li>
			<li>
				<span style='font-weight:bold'>Feedback:</span> By enabling anyone to be a content producer and consumer, Digital Green empowers first-kilometer communities to have a voice. 
				Other types of audio and video-based mechanisms are used to support reporting and to build trust among virtual communities of participants.    
			</li>			
		</ul>
		For more information, please visit <span style='font-weight:bold;'> <a href='http://www.digitalgreen.org' target=_blank> www.digitalgreen.org </a> </span> <br/>
		<br/>
		<br/>
		<span style='font-weight:bold;'>Project Description: </span>
		<br/>
		Digital Green project is supported by Bill and Melinda Gates Foundation to scale up its operations to cover 1200 villages in the next three years. 
		Over three years, Digital Green will demonstrate that its technology and social organization components can improve the cost-effectiveness of existing people-based extension 
		systems in field partners by a factor of 3 times, per dollar spent -- by improving operational efficiencies and increasing the rate at which farmers adopt better agricultural practices.
		<br/><br/>
		The project is guided by the following main objectives to achieve this vision of success with each partner.  A log-frame of these objectives, activities, outputs, and outcomes is 
		included as an appendix and described in narrative form as follows
		<br/><br/>
		
		<ul>
			<li>
				<span style='font-weight:bold; text-decoration:underline;'>Objective 1:</span>  
				Organizational Scale Up - To, support, and manage each field partners (NGO) to improve the cost effectiveness of 
				existing extension systems by a factor of 3 times, per dollar spent, in 1200 villages
			</li>
			<li>
				<span style='font-weight:bold; text-decoration:underline;'>Objective 2:</span> 
				Local Content Production and Global Sharing- To produce and catalog more than 3,000 videos
				that average 8-10 minutes in length featuring local smallholder farmers and experts, and to create an ICT platform for 
				global accessibility and local repurposing of video content.
			</li>
			<li>
				<span style='font-weight:bold; text-decoration:underline;'>Objective 3:</span> 
				Dissemination - To implement local screening capacity and protocols that enable 32,000 
				mediated instruction video screenings in 1200 villages, reaching 60,000 farmers that adopt a new practice or technology.
			</li>
		</ul>		
		<span style='font-weight:bold;'> <a href='#index'> Top ^ </a> </span>
		<br/> <br/>
		
		
		
			
		<h3 id='section2' class='section'> 2. Project Design and Implementation Plan </h3>
		
		Digital Green proposes to scale its model to new villages in partnership with local NGOs. The scale up will follow a phased 
		expansion plan. Both strategies along with objectives for each partner project are explained in this section.  
		<br/> <br/>
		
		
		<span style='font-weight:bold'>Partner project objectives:</span> Each successful partner project is expected to successfully introduce 
		Digital Green system in at least 150 villages covering nearly 5000 households. A brief description of the project and its objectives as 
		these relate to each successful partner will be required to implement are provided below. A log-frame of these objectives, activities, 
		outputs, and outcomes is included as an appendix and described in narrative form as follows
		<br/>
		<br/>
		<span style='font-weight:bold; text-decoration:underline;'>Objective 1:</span>  
		Organizational Scale Up - To introduce Digital Green system in 150 villages over a period of 3 years to improve the cost effectiveness of 
		existing extension systems by a factor of 3 times, per dollar spent. 
		<br/><br/>
		To assist the partners in achieving this objective, Digital Green will provide a "train the trainers" service to the extension staff of each partner to scale the 
		system to 150 villages in India by evolving the model to suit local conditions and develop processes to support an accelerated expansion of the model. 
		This will be done by (1) bootstrapping on existing institutional capacity and targeting investments in training, operational tools, and processes, 
		(2) monitoring and evaluating progress with feedback and refinement support, (3) providing a platform to share appropriate content amongst partners, and 
		(4) enabling partners to sustain and expand the program on their own.  
		
		<br/><br/>
		
		The process of understanding the operations of a new partner may require a Digital Green trainer to spend 3-4 months in the field with extension staff. 
		The trainer will travel to several partner locations over the course of these initial months to identify points of synergy between a partner's extension 
		system and Digital Green. For example, the trainer will experiment with methods of bootstrapping the content production and dissemination aspects of the 
		Digital Green system with a partner's team in several locations. This process includes: identifying potential locations for beginning a pilot of the Digital 
		Green system; organizing training programs at identified potential locations with field staff; launching pilots with selected sites and identified individuals; 
		on-going monitoring and evaluation; formulating case-studies to measure the impact of the Digital Green program with partner institution in comparison to control sites.
		<br/><br/>
		After this bootstrapping phase and assuming that the operations of a partner are somewhat standardized across their locations, 1-2 months will be required for each 
		block of 50 villages to train the extension staff on how the content production and dissemination aspects of the Digital Green system can be integrated within their 
		existing routine. We expect that these 1-2 months will not require the continuous support of a Digital Green trainer. Indeed, an important component of the training is 
		to give partners time to develop their capacities to perform the day-to-day operations of Digital Green system on their own. The Digital Green trainer will introduce 
		aspects of the model to multiple sites in a staggered manner and return to partner sites on a period basis to collect feedback and ensure the integrity of the system. 
		Once the model is integrated in 1-2 blocks of villages, we will have an understanding on how best to operate within the context of a partner's existing extension system.
		<br/><br/>	
		Local ownership is crucial to continuing the program when external support diminishes. The system should be deployed at the village-level through existing community-based 
		organizations (for example Self Help Groups) that will help manage the system's day-to-day operations and provide contributions to support recurring expenditures 
		(e.g., hardware maintenance and mediator honorariums) from participating members. 
		
		<br/><br/>
		
		
		<span style='font-weight:bold; text-decoration:underline;'>Objective 2:</span>  
		Local Content Production and Global Sharing- To produce and catalog more than 375 videos that average 8-10 minutes in length featuring local smallholder farmers and experts
		<br/><br/>
		It is important that educational materials are relevant to local conditions (crops, climates, soils, farming practices); the most effective content is intensively localized to 
		geography and language. Therefore, the more the overall extension ecosystem can produce localized content, the better. Digital Green is enabled by recent advances in digital 
		video technology, including low cost camcorders and PC solutions for editing digital video. These advances greatly lower the cost of the project, and also allow local development 
		of video content. The use of video provides opportunities for customization of materials. Digital Green follows an open model for dissemination of content so that they are freely 
		available, by everyone, for use.
		<br/><br/>
		Partner extension officers in blocks of 50 villages will be trained by Digital Green staff over 2-3 months on how to bootstrap the process of producing new content as a part of 
		their regular routine of periodically visiting farmers to conduct agricultural demonstrations, exposure visits, etc. One of the initial steps in this process will involve identifying 
		the local knowledge of farmers, community organizations, and other partners. In parallel, administrative capacities of each partner will be built to manage post-production video editing, 
		quality verification, and DVD distribution. Content quality will be evaluated on two dimensions: (1) social impact by featuring farmers and resource conditions that are familiar to 
		viewers and (2) technical impact by ensuring that the agricultural practices and technologies provide realizable benefits for viewers in a particular location. 
		
		<br/><br/>
		
		
		<span style='font-weight:bold; text-decoration:underline;'>Objective 3:</span>
		Dissemination - To implement local screening capacity and protocols that enable 32,000 mediated instruction video screenings in 150 villages, reaching 15,000 farmers that adopt a new practice or technology.
		<br/><br/>
		The end goal of any agriculture extension system is ultimately increased economic production for the farmer (note that this does not necessarily equal farm productivity, as oversupply can result in lower prices, 
		with little economic benefit to the farmer). Digital Green promotes the widespread adoption of agricultural practices and technologies that are appropriately validated for local conditions and that raise farmer 
		incomes for the long-term. Productivity is difficult to measure in the short-term. One proxy for productivity is adoption of better agricultural practices by farming households, based on the premise that if good 
		practices are being adopted, they will lead to greater productivity.
		<br/><br/>	
		Village mediators will be selected to showcase videos in an interactive learning format using a shared TV and DVD player in their communities. This has been further modernized by use of Pico projectors that 
		eliminates the need for TV, DVD player and batteries. Mediators will be chosen from the same village in which they will screen the videos, so that they can provide a local understanding of the needs and interests 
		of their communities and can give an understanding of a village's social dynamics to screen content at the appropriate locations and times to involve the largest portion of their community. During the on-demand 
		screenings, mediators will pause, rewind, and forward the videos to ensure that the audience grasps the content and remains interests. Mediators will be selected to balance genders and local language literacy and 
		will be provided a performance-based honorarium. Performance will be assessed based on the number meetings that a mediator conducts, the attendance of farmers, the interests and questions that the audience expresses, 
		and the adoption of practices in farmers' fields. Mediators will be supported and monitored by the existing extension system of Digital Green partners. This support will include: one weekly training session at the 
		local level (about 10 village mediators and 1 extension officer) and one monthly meeting at the block level (around 100 village mediators and 10 extension officers). The weekly training sessions will be used to 
		review progress and feedback from the prior week as well as provide "teacher training" exercises to build the capacities of mediators to become community resource person. Videos will be screened by village mediators 
		1-3 nights per week in small-group settings comprised of about 15-20 farmers. 
		<br/><br/>
		The impact of the Digital Green system will be monitored and evaluated in part by maintaining a farmers' database that captures the progress of farmers over the course of time as they participate in video screenings, 
		express interests or questions, adopt practices or technologies in their own field, and raise their household incomes. Baseline surveys will also be used to understand local socioeconomic and agro ecological conditions 
		and community assessments will be used to identify farmers' needs, interests, and capabilities. By analyzing this data and conducting participatory research trials, we intend to target the content to better address 
		farmer needs as well as efficiently scale the system to reach an even larger population of farmers. 
		
		<br/><br/>
		<span style='font-weight:bold;'>Partnership Extension: </span>
		<br/><br/>
		<span style='text-decoration:underline'>Partnership Extension: </span>
		An NGO's agricultural expert can record best practices in video.  The NGO hires a local mediator in the village to facilitate the screenings of these shows.  The mediator is there to facilitate the meeting, 
		record questions and to hand out materials that are talked about in the show.  The mediator then communicates with the NGO expert to better inform him of the needs of the local village.  The expert, when she visits the 
		village, can now better target her actions based on community feedback.
		<br/><br/>
		
		<span style='text-decoration:underline'>Encouraging content from the Farmers: </span>
		Progressive farmers can be the real experts of their profession. But these experts are few in number and dispersed geographically; reliable traditions are often lost. Training the local farmers on the use of video equipment, 
		entrusting the equipment to the local farmer-based organization as a public good, and having a way for them to transfer the recorded videos (either on cassettes or digitally) to a city center for processing will help make 
		information that currently resides only at the household level broadly available. 
		<br/><br/>
		Our selection of partners takes advantage of preexisting relationships among organizations that have established mutual understanding and trust.  In addition, there are possibilities for sharing some content across "hubs" 
		since there may be similarities in promoted techniques.  At each hub, Digital Green is integrated within the framework of a partner's existing infrastructure and human resource base.  Since the operations of each partner 
		may vary, the investments needed to ingrate Digital Green are also adaptable. 
		<br/><br/>		
		
		<span style='text-decoration:underline'>Phased Expansion: </span>
		Digital Green will be expanded in a phased manner based on both time- and event-based conditions.  To scale Digital Green, the first phase will take 7 months; the second phase will take 8 months; the third phase will take 9 months; 
		and the fourth phase is estimated to take 12 months. 
		<br/><br/>
		During Phases 1 to 3 (the first two years), Digital Green will focus on establishing partnerships with 5-6 NGOs with existing people-based extension systems.  These NGOs will be selected based on various factors, including scope, 
		scale, and community rapport, and may be an organization that is not involved exclusively in agricultural development.  Digital Green will launch pilots with these 5-6 NGOs to understand the modalities of integrating Digital Green 
		within their existing operations. By initiating multiple small-scale trials simultaneously, we plan to identify 3-4 core NGOs as viable partners for scaling Digital Green across a wider geographic area for Phases 4 and beyond.
		<br/><br/>
		These "trainers of trainers" will extend the Digital Green system by establishing a network of partnerships with other grassroots-level extension programs, including government and NGOs.  Bootstrapping the system into an existing 
		organization's operations will require time and resources; however, the experiences learned from our initial field deployment should allow the system to extend organically.  During Phase 2 (months 8 to 15 of the grant) we intend to 
		extend the Digital Green system to roughly 1,000 villages by establishing Digital Green "hubs" with our partner organizations.  Content will be localized to a disparate set of agricultural and socioeconomic conditions, and even the 
		local language or dialect may differ in some cases.  Finer-level hubs that motivate social learning between farmers may also be required based on the findings of our pilot expansion.
		<br/><br/>
		
		<span style='text-decoration:underline'>Sustainability: </span>
		Digital Green functions as a "trainer of trainers."  That is, Digital Green will seed financial and training investments to institutionalize the technology and social organization aspects of the model and will work with partners for 
		on-going monitoring and support. Digital Green does not plan to form a parallel organization to the existing extension systems of our NGO partners.  Rather, the tools and training provided by Digital Green are integrated within our 
		partner extension systems.  A primary criterion for selecting a partner is the strength of its existing extension system (funded through existing public and private sources).  Our partnership agreements will describe how recurring 
		costs will be shared among Digital Green, its NGO partners, and local farming communities and how Digital Green's percentage of contribution will reduce over the course of time 
		<br/><br/>
		
		
		<span style='text-decoration:underline'>Cost Sharing: </span>
		As Digital Green builds traction with each partner, modes for increasing partner and community ownership will be successively introduced.  In the first year, detailed business plans will be developed to bootstrap on the existing 
		operations partners and to negotiate terms of agreement for sharing financial and in-kind contributions. 
		<br/><br/>
		Partners will be selected to maximize existing infrastructure and processes to avoid the creation of a parallel institution.  As pilots gain traction, agreements with partners will have time-based and event-based conditions to 
		transfer a greater portion of ownership to stakeholders.  Generally, these cost-sharing agreements will follow the structure of the phased expansion of the Digital Green system.  
		
		<br/> <br/>
		<span style='font-weight:bold;'> <a href='#index'> Top ^ </a> </span>
		<br/> <br/>
		
		
		
			
		<h3 id='section3' class='section'> 3. Project phases and Partnership Arrangements  </h3>
		Digital Green intends to enter into partnerships with NGOs and negotiate agreements with partners for up to three years. This RFA seeks potential partners to work with Digital Green and to increase the cost effectiveness of 
		their existing agriculture systems, by at least a factor of 3 covering 1,200 villages and 60,000 households.  
		<br/><br/>
		The focus of our partnerships will be NGOs that have experience in community mobilization in the agriculture sector and who currently operate an agriculture extension system which stimulates community action in the take up of 
		better farming practices which improve the livelihood of small and marginal farmers.
		<br/><br/>
		Digital Green will support partners that will implement the project in at least 150 villages over a period of three years. 
		<br/><br/>
		Digital Green will provide technical assistance and capacity building support, training and/or audit and quality control roles.
		<br/><br/>
		Partner applicants must design and submit a proposal for a period of up to three years, to take place in a designated location - a district or site that has contiguous set of villages in which the Digital Green system can be extended. 
		As successful partner applicants will be required to conduct the project activities in four broad phases: Initiation, Coordination, Expansion and Sustainability.
		<br/><br/>
		
		<span style='text-decoration:underline'>Initiation: </span>
		Working with Digital Green staff, a successful partner will develop a good understanding of Digital Green system and get the project started in identified villages. 
		It would involve the following activities:
		<ul>
			<li>
				Identification of villages for project implementation and community resource persons (CRPs) in each village who would interface with existing community groups.
			</li>
			<li>
				Rapid assessments, participatory planning and initial community mobilization; 
			</li>
			<li>
				Comprehensive extension system situation analysis;
			</li>
			<li>
				Location-based visioning, strategy development and detailed planning based on Digital Green project purpose and objectives to achieve specified outcomes; and
			</li>
			<li>
				Implementation of project activities in a time-bound fashion. 
			</li>
		</ul>
		
		<span style='text-decoration:underline'>Coordination: </span>
		The partner staff will coordinate project activities village-level activities with community groups and community resource persons in close partnership with Digital Green.
		<br/><br/>
		
		<span style='text-decoration:underline'>Expansion: </span>
		The initiation and coordination phases will provide new learnings about the best way to implement project activities in the most effective way and this experience will help expanding 
		the project activities in other villages at a faster pace. 
		<br/><br/>
		
		<span style='text-decoration:underline'>Sustainability: </span>
		For the extension system to remain cost effective and meaningful, it is imperative that the new methods introduced by Digital Green approach continue to be deployed by small and marginal farmers. 
		Innovative efforts at both the project- and community-levels are required to assure sustainability of project activities.
		<br/><br/>
		Digital Green will provide financial and technical support for these activities as well as facilitating links amongst the partners in different locations for peer support.  	
		
		<br/><br/>
		Eligibility:
		<ul>
			<li>
				Partner applicants have to be Indian NGOs with a FCRA authorization to receive funds from a foreign source. 
			</li>
			<li>
				Applicants must have an average annual revenue and expenditure of 20 lakh rupees or more over the past three years, as reflected in externally audited annual accounts. 
			</li>
			<li>
				Applicant NGOs should possess experience in implementing agriculture extension systems, mobilization of community-based organizations, and direct rapport with rural communities.
			</li>
			<li>
				Organizations "black-listed" by the state and central level authorities, Charity commissioner / Registrar of Firms, Societies and Chits, or by a bilateral / multilateral 
				development assistance agency operating in India, will not be eligible.
			</li>
		</ul>
		
		<br/> <br/>
		<span style='font-weight:bold;'> <a href='#index'> Top ^ </a> </span>
		<br/><br/>
		
		
		
		
		<h3 id='section4' class='section'> 4. Scope of Work </h3>
		
		This request for applications relates to Digital Green scale up project in new locations.  Information provided below is on the anticipated implementation of the project 
		
		<br/><br/>
		Key Elements:
		<ul>
			<li> Program Planning -
				<br/>Situation analysis and participatory planning to refine strategies and activities based on the needs and potential among small and marginal farmers in identified locations, 
				resources and stakeholders in each location 
			</li>
			<li> Community behavior change and extension services -
				<br/>Promotion of better farming practices among the small and marginal farmers to assure cost effective agricultural system and improved farm productivity, demand for services, 
				and capacity building
				<br/><br/>
				Effecting behavior change through Digital Green approach using ICT in extension services and mediated through community resource persons   
			</li>
			<li> Partnership with local CBOs like self help groups for program implementation
			</li>
			<li> Convergence and Linkage -
				<br/>Linkage with existing extension service for i) enhancing utilization of existing services; ii) integrating Digital Green  efforts with existing extension system and seeking  
				complementarities; iii) sustainability and longer-term benefits of project investments/ efforts
			</li>
			<li> Expansion - 
				<br/>After the initiation of project activities in a few villages,  incorporate learnings and innovations to expand project activities in other villages
			</li>
			<li> Sustainability - 
				<br/>Linkage with appropriate agency for building community funds, SHGs etc.
				<br/><br/>
				Buy-in of community groups to new farming practices to assure that activities develop a momentum of their own and carried on a regular basis
			</li>			
			<li> Documentation and dissemination of lessons learnt of program processes 			
			</li>			
		</ul>
		<br/><br/>
		Eligible locations for project implementation::
		<br/>
		Locations within one or two districts having contiguous villages that have the potential of adopting Digital Green approach. We expect each NGO partner to work in about 150 villages.
		
		
		<br/><br/>
		Possible stages after award of Grant:
		<ul>
			<li> Project Initiation (up to 2-3 months) -
				<br/>This will include situational analysis, networking, planning and development of more detailed implementation plans. 
				In this phase the NGO partner in collaboration with Digital Green will map the existing extension system, potential resources, and services available in the villages. 
				<br/><br/>
				  Based on this in-depth understanding of the context of the location/ villages, the strategies will be fine-tuned and precise activity plans developed. 
				  The budget for the implementation phase will be revised if required at this stage.
			</li>
			<li> In partnership with Digital Green, develop the plan, tools and methods for a baseline indicator assessment that partners will be responsible for performing.   
			</li>
			<li> Development of monitoring system and data management system
			</li>
			<li> Training of functionaries and initiation of implementation
			</li>
			<li> Implementation, regular review and monitoring
			</li>
			<li> Though this is a three year project, a decision will be taken at the end of the first year with each partner to determine whether the partnership should continue.  
			This decision will be based on organizational and operational deliverables and an assessment of the sustainability of the system at the community-level.
			</li>			
		</ul>
		
		<br/> <br/>
		<span style='font-weight:bold;'> <a href='#index'> Top ^ </a> </span>
		<br/> <br/>
		
		
		
		
		<h3 id='section5' class='section'> 5. Application Instructions </h3>
		The first step to be a successful partner is to submit a concept note (not more than 3 pages) with an indicative budget. Based on the concept notes received, partners will 
		be shortlisted for submitting a full proposal. A consultative workshop of all shortlisted partners will be held (see deadlines at the beginning of the RFA) to provide 
		details of the project design, respond to questions that partners may have and provide guidelines / templates on budget submission.
		
		<br/><br/>
		Your full proposal application should be submitted in English and be set out in three main parts
		
		<br/><br/>  Part A - Executive Summary
		<br/><br/>  Part B - Technical
		<br/><br/>  Part C - Financial
		<br/><br/> 
		Parts A & B may be bound together but Part C must be bound separately to enable technical and commercial tenders to be evaluated independently.  
		Please do not include any price information in Part A or B.  No publicity material is required.
		
		<br/><br/>
		Digital Green accepts no responsibility for the premature opening of any incorrectly marked Applications.
		
		<br/><br/>
		<span style='font-weight:bold;'> Appendices: </span>
		<br/>
		<span style='font-weight:bold;'> Appendix A. Project Objectives </span>
		
		<br/><br/>
		<table id='table1' cellspacing='0' cellpadding='0'>			
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0' > 
					<div class='contenttd1div'>
						<br/>
					    <span style='font-weight:bold;'> Project Objective 1: Organizational </span>	
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0' colspan='2' > 
					<div class='contenttd1div'>
						<span style='font-weight:bold;'> Partner to improves the cost effectiveness of existing extension system integrated with 
						Digital Green system by a factor of 3 times, per dollar spent, in 150 villages	</span>	
					</div>
				</td>																
			</tr>
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>						
					    Activities
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Output		
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Outcomes (Short- and Long-Term)		
					</div>
				</td>																
			</tr>
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>						
					     1.1 Scaling up system.
					     <br/>
					      1.2 Monitoring and evaluation
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Y1, Q1: Business model finalized for extending the model with partner extension system and community-based organizations.	
						<br/><br/>
						Y2, Q2: Third-party measurement of project effectiveness in comparison to control groups.
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Y1, Q2: 50 villages operational.
						<br/><br/>
						Y2, Q2: 100 villages operational.
						<br/><br/>
						Y3, Q2: 150 villages operational.
						<br/><br/>
						Y3, Q4: 3 times improvement in the cost-effectiveness of existing extension system.						
						<br/><br/>								
					</div>
				</td>																
			</tr>
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0' > 
					<div class='contenttd1div'>
						<br/>
					    <span style='font-weight:bold;'> Project Objective 2: Content </span>	
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0' colspan='2' > 
					<div class='contenttd1div'>
						<span style='font-weight:bold;'> To produce and catalog more than 375 
						videos, averaging 8-10 minutes in length and featuring local smallholder 
						farmers and experts, and to create an ICT platform for global accessibility and 
						local repurposing of video content.	</span>	
					</div>
				</td>																
			</tr>
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>						
					    Activities
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Output		
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Outcomes (Short- and Long-Term)		
					</div>
				</td>																
			</tr>
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>						
					     2.1   Training partner organizations on video creation and localized repurposing 
					     <br/>
					      2.2  Review of content quality
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Y1, Q1: Content quality (social and technical) processes and metrics defined 	
						<br/><br/>
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Y1, Q2: Partner produces 15 localized videos
						<br/><br/>
						Y2, Q2: Partners produce 75 localized videos
						<br/><br/>
						Y3, Q2: Partners produce 250 localized videos
						<br/><br/>
						Y3, Q4: Partners produce 375 localized videos					
						<br/><br/>								
					</div>
				</td>																
			</tr>
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0' > 
					<div class='contenttd1div'>
						<br/>
					    <span style='font-weight:bold;'> Project Objective 3: Dissemination </span>	
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0' colspan='2' > 
					<div class='contenttd1div'>
						<span style='font-weight:bold;'> To implement local screening capacity 
						and protocols that enable 32,000 mediated instruction video screenings in 
						150 villages, with 15,000 farmers adopting a new agricultural practice or 
						technology.	</span>	
					</div>
				</td>																
			</tr>
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>						
					    Activities
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Output		
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Outcomes (Short- and Long-Term)		
					</div>
				</td>																
			</tr>
			<tr>												
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>						
					     3.1  Baseline cost-effectiveness of partner extension system 
					     <br/>
					     3.2   Select & train village mediators on video dissemination
					     <br/>
					     3.3   Village mediators regularly screen videos in their communities
					     <br/>
					     3.4   Farmers adopt better agricultural practices on their field
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Y1, Q2: Initial survey completed
						<br/><br/>
						Y1, Q2: 50 village mediators selected & trained; 6,000 mediated video screenings conducted
						<br/><br/>
						Y2, Q2: 100 village mediators selected & trained; 16,000 mediated video screenings conducted
						<br/><br/>
						Y3, Q2: Analysis of farmers database to evaluate the progress of individuals over time					
						<br/><br/>
						Y3, Q4: 150 village mediators selected & trained; 32,000 mediated video screenings conducted
					</div>
				</td>
				<td class='contenttd1'cellspacing='0' cellpadding='0'> 
					<div class='contenttd1div'>
						Y1, Q3: 625 farmers adopt a new practice
						<br/><br/>
						Y2, Q2: 3,750 farmers adopt a new practice
						<br/><br/>
						Y3, Q1: 10,000 farmers adopt a new practice 
						<br/><br/>
						Y3, Q4: 15,000 farmers adopt a new practice					
													
					</div>
				</td>																
			</tr>			
		</table>
		
		<br/> <br/>
		<span style='font-weight:bold;'> <a href='#index'> Top ^ </a> </span>
			
		
		<br/><br/>
		<br/><br/>
		<br/><br/>
		<br/><br/>	
	
	</div>
	
	
{% endblock careerbody %}
</div>
<div id='careerbodydiv3'> </div> 
</div>   
{% endblock content %}