<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Digital Green Analytics/Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
    
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/base.css' />   
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/StyleSheet.css' />
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/jquery.calendar.css'  media="screen" />        
              
    <script type="text/javascript" src="/media/Output/JS/jquery-1.3.2.min.js"></script>    
    <script type="text/javascript" src="/media/Output/JS/jquery-easing-1.3.pack.js"></script>
	<script type="text/javascript" src="/media/Output/JS/jquery-ui-1.7.2.custom.min.js"></script>		
	<script type="text/javascript" src="/media/Output/JS/JGridPage.js"></script>  
	<script type="text/javascript" src="/media/Output/JS/jquery.calendar.js"></script>
	<script type="text/javascript" src="/media/Output/JS/Jcorner.js"></script>
	<script type="text/javascript" src="/media/Output/JS/jquery.gradient.js"></script>
    <script type="text/javascript" src="/media/Output/JS/jquery.gradient.min.js"></script>
    <script type="text/javascript" src="/media/Output/JS/jquery.gradient.pack.js"></script>
    <script type="text/javascript" src="/media/Output/JS/jquery.tablesorter.min.js"></script>

	<script type="text/javascript">   
	
	//Function to Apply Dates in Date picker when the page loads	    
	function Default(){ 
			var month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
			
			{% if from_date and to_date %}
	        var from_date = new Date('{{from_date}}');
			var to_date = new Date('{{to_date}}');
			{% else %}
			var from_date = new Date('{{start_date}}');
			var to_date = new Date();
	        {% endif %}
			
			$("#datepicker1").html(month[from_date.getMonth()]+" "+from_date.getDate()+", "+from_date.getFullYear());
			$("#datepicker2").html(month[to_date.getMonth()]+" "+to_date.getDate()+", "+to_date.getFullYear());
	}
	
	//Function for apply button in date picker
	function Apply(){
	
		var date1 = document.getElementById('inlinedatepicker1').innerHTML;
		var date2 = document.getElementById('inlinedatepicker2').innerHTML;	        
		if(date1.length==40 || date2.length==40){	 
		   document.getElementById('inlinedatepickererrormsg').innerHTML = "You have not chosen the dates";          
										
		}
		else{
			
			window.location.href = '/output/overview/{{geog}}/{{id}}/?from_date='+date1+'&to_date='+date2;
		} // end else

	}
	
	//Function for Reset button in datepicker
	function Reset() {
	        var date1 = document.getElementById('inlinedatepicker1').innerHTML;
	        var date2 = document.getElementById('inlinedatepicker1').innerHTML;
	        if(date1.length!=null || date2.length!=null){	
	           //alert("hi"); 
	           document.getElementById('inlinedatepicker1').innerHTML = "";
	           document.getElementById('inlinedatepicker2').innerHTML = "";               	                        
	        }
	        
    }// end Reset function 	
		
	//<!-- For Search's drop-down list -->
	
	//Function called on clicking 'Go' button for region select drop-downs
	function regionSelect() {
		url = "./?state="+$("#stateId").val(){% if from_date and to_date %}+"&from_date={{from_date}}&to_date={{to_date}}"{%endif%};
		if(!($("#districtId").attr("disabled")))
			url += "&district="+$("#districtId").val();
		if(!($("#blockId").attr("disabled"))) 
			url += "&block="+$("#blockId").val();
		if(!($("#villageId").attr("disabled")))
			url += "&village="+$("#villageId").val();
			
		window.location.href = url;
	}
	
	//Function to enable/disable and fill option in Selects for region select drop downs
    function dochange(src, val) {
		$.ajax({ type: "GET", 
				url: "/output/dropdownval/?geog="+src+"&id="+val,
				success: function(html) {                    
              		var flag = false;
					$(".select").each(function() {
						if(flag == true)
							$(this).val(-1).attr('disabled','disabled');
						if (this.name == src)
							flag = true;
					
					});
				   $("#"+src+"Id").html(html).removeAttr('disabled');                   
              }
         });
        }

	</script>

</head>

<body id='mainbody' onload='Default()'>
<table>
	<tr>
		<td valign="top">
		<div id="navigation" style="-moz-border-radius: 10px 10px 10px 10px;">
		 	<div class="nav_1" style="margin-left:5px; margin-top:20px">
				<a href="/output/overview/{{geog}}/{{id}}{% if from_date and to_date %}/?from_date={{from_date}}&to_date={{to_date}}{%endif%}">Overview</font> </a>
			</div>
			<div class="nav_1" style="margin-left:5px;">
				<a href="/output/video/module/{{geog}}/{{id}}{% if from_date and to_date %}/?from_date={{from_date}}&to_date={{to_date}}{%endif%}"> Video </a>
			</div>
		</div>
		</td>
	<td>	

 <div id='tablegrid'> 	
	<!-- <div id='defaultheader'> </div>  -->	
	<div id='default'>		
		
		<div id='gridfooter'>
				<div id="dglogo">
				<a href="http://www.digitalgreen.org/"><img src="/media/Output/Images/dglogo1.png"  /> </a>		            
		        </div>		
		        <div id='timeline'>
					<div id='timelinedesc'>
					    <div id='datepicker1'/></div> 
						<div id='datepickergap'> &nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;&nbsp; </div>
						<div id='datepicker2'> </div>
						<div id='datepicker12reset'> <a id = 'resetdate' href='/output/overview/{{geog}}/{{id}}/'>Reset</a> </div>
						<div id='timelinedescfooter'>
							Above are the pre-chosen dates. Customize your own range of timeline  	
						</div>
						<div id='timelinedescfooter1'>												 			
						</div>										
				    </div>
        				    
				<div id='timelinedesc1'>
						    <div id='timelinedesc1btntop'>
							    hide &nbsp; &nbsp; 
						    </div>
						    <div id='timelinedesc1calender'>						        
						    </div>						    
						    <div id='inlinedatepickerheader'>
						        Choose the range of timeline<br />&nbsp;&nbsp;from the calenders at the left
						    </div>
						    <div id='inlinedatepicker1desc'>
						        from: 
						    </div>						
						    <div id='inlinedatepicker1'>						       												    				  							
						    </div>
						    <div id='inlinedatepicker1format'>
						        (dd-mm-yyyy) 
						    </div>						
						    <div id='inlinedatepicker2desc'>
						        to:
						    </div>													
						    <div id='inlinedatepicker2'>												    				  							
						    </div>
						    <div id='inlinedatepicker2format'>
						        (dd-mm-yyyy) 
						    </div>
						    <div id='inlinedatepickersubmitbtn'>
						        <input type="submit" value="Apply" onclick='Apply()'/>
						    </div>
						    <div id='inlinedatepickerresetbtn'>
						        <input type="reset" value="Reset" onclick='Reset()'/>
						    </div>
						    <div id='inlinedatepickererrormsg'>
						    </div>
						   
						    <div id='inlinedatepickerbg'>
						        <div id='inlinedatepicker1-container'>
						        </div>	
						        <div id='inlinedatepickerdiv'>
						            __
						        </div>					    
						        <div id='inlinedatepicker2-container'>
						        </div>
						    </div>								
				 </div>
	    </div>	
		
		<div id='searchbodytitle'> Customize your Search </div>
	    <div id='searchbodytitleimg'> </div>
		
		<div id='searchbody'>			
			<div id='searchlevel'>
			
			    <div class='searchbody1' id='state'>
				    <select class='select' name='state' id = 'stateId' onChange="dochange('district', this.value)">
					    <option value='-1' {% ifequal geog 'country' %}selected="selected"{% endifequal %}>Select State</option>
						{% for key,item in sel_val.0.items %}
						<option value='{{key}}' {% if item.1 %}selected="selected"{% endif %}>{{item.0}}</option>
						{%endfor%}
				    </select>				
				</div>
				<div class='searchbody1' id='district'>
				    <select class='select' name='district' id = 'districtId' onChange="dochange('block', this.value)" {% if not sel_val.1 %}disabled='disabled' {% endif %}>
					    <option value='-1'>Select District</option>
						{%if sel_val.1 %}
						{% for key,item in sel_val.1.items %}
						<option value='{{key}}' {% if item.2 %}selected="selected"{% endif %}>{{item.0}}</option>
						{%endfor%}
						{%endif%}
				    </select>	
				</div>
				<div class='searchbody1' id='block'>
				    <select class='select' name='block' id = 'blockId' onChange="dochange('village', this.value)"  {% if not sel_val.2 %}disabled='disabled' {% endif %}>
					    <option value='-1'>Select Block</option>
						{%if sel_val.2 %}
						{% for key,item in sel_val.2.items %}
						<option value='{{key}}' {% if item.2 %}selected="selected"{% endif %}>{{item.0}}</option>
						{%endfor%}
						{%endif%}
				    </select>				
				</div>			
				<div class='searchbody1' id='village'>
				    <select class='select' name='village' id = 'villageId'  {% if not sel_val.3 %}disabled='disabled' {% endif %}>
					    <option value='-1'>Select Village</option>
						{%if sel_val.3 %}
						{% for key,item in sel_val.3.items %}
						<option value='{{key}}' {% if item.2 %}selected="selected"{% endif %}>{{item.0}}</option>
						{%endfor%}
						{%endif%}
				    </select>					
				</div>
				<div id='searchbody5'>
					<input id='Submit1' type='submit' onclick="regionSelect()" value="GO">
				</div> 						
		</div>
	</div>				
		
		<div id='table1'>
		    <div id='table1div1'>
		        <div id='table1desc'>National  Video Productions</div> 
		        <div id='table1val'> {{country_data.tot_vid}}  </div>
		        
		    </div>
		    
		    <div id='table1div2'>
		        <div id='table1desc'>National  Disseminations</div> 
		        <div id='table1val'> {{country_data.tot_scr}}  </div>
		    </div>
		    
		    <div id='table1div3'>
		        <div id='table1desc'>National  Adoptions</div> 
		        <div id='table1val'> {{country_data.tot_ado}}  </div>
		    </div>
		    
		    <div id='table1div4'>
		        <div id='table1desc'>National  Agricultural Practices </div> 
		        <div id='table1val'> {{country_data.tot_pra}}  </div>
		    </div>
			
			<div id='table1div5'>
		        <div id='table1desc'>National  Person Groups </div> 
		        <div id='table1val'> {{country_data.tot_pg}}  </div>
		    </div>
			 
			<div id='table1div5'>
		        <div id='table1desc'>National  Villages </div>
		        <div id='table1val'> {{country_data.tot_vil}}  </div>
		    </div>
			
			 			
		</div>
		
		<div id='tabledynamic'>
		   		<table id='table2' cellpadding="0px" cellspacing="0px">
					<thead>
					<tr>
					    <th id='table2td3'>					        
					    </th>
						<th id='table2td2'>
							<div id='table2td2div'>
								{{geography|title}}
							</div>							
						</th>
						<th id='table2td'>
							<div id='table2tdv2'> Videos Produced 
							    <div id='table2tdv2desc'>
							        The total number of videos produced in a given location
							    </div>
							</div>
							<div id='table2tdv3'> <img id='sort' src='/media/Output/Images/table2tddefaultbg1.png' alt="temp"/> </div>							
						</th>
						
						<th id='table2td'>
						    <div id='table2tdv2'> Disseminations
							    <div id='table2tdv2desc'>
							        The total number of unique videos that have been screened 
							    </div>
							</div>
							<div id='table2tdv3'> <img id='sort' src='/media/Output/Images/table2tddefaultbg1.png' alt="temp"/> </div>
														
						</th>
						
						<th id='table2td'>
						    <div id='table2tdv2'> Farmer Adoptions
							    <div id='table2tdv2desc'>
							       Total number of farmers following/taking up practice as demonstrated in DG video
							    </div>
							</div>
							<div id='table2tdv3'> <img id='sort' src='/media/Output/Images/table2tddefaultbg1.png' alt="temp"/> </div>							
						</th>
						
						<th id='table2td'>
							<div id='table2tdv2'> Agricultural Practices
							    <div id='table2tdv2desc'>
							        The total number of agricultural practices followed 
							    </div>
							</div>
							<div id='table2tdv3'> 
								<img id='sort' src='/media/Output/Images/table2tddefaultbg1.png' alt="temp"/>  
							</div>
						</th>
						<th id='table2tdf'>
							<div id='table2tdv2'> Farmers 
							    <div id='table2tdv2desc'>
							        The total number of farmers associated 
							    </div>
							</div>
							<div id='table2tdv3'>  
								<img id='sort' src='/media/Output/Images/table2tddefaultbg1.png' alt="temp"/>	
							</div>
						</th>					
					</tr>				 
				 	</thead>
				 	
				 	{% for item in item_list %}
				 	<tbody>
				 	<tr>
				 	    <td id='table2td3'>
				 	        {{ forloop.counter }}
				 	    </td>
						<td id='table2td4'>
							
								{% ifnotequal item.id None %}
							{% ifnotequal geog  'village' %}
							<a href='/output/overview/{{geography}}/{{item.id}}{% if from_date and to_date %}/?from_date={{from_date}}&to_date={{to_date}}{%endif%}'>
							{{ item.name }} </a>
							{% else %}
							{{ item.name }}
							{% endifnotequal  %}
							{% else %}
							{{ item.name }}
							{% endifnotequal  %}
						</td>
						<td id='table2td1'> 
							
							<a href='/output/video/module/{{geography}}/{{item.id}}{% if from_date and to_date %}/?from_date={{from_date}}&to_date={{to_date}}{%endif%}'>
							{{ item.tot_pro }} </a> 
						</td>
						<td id='table2td1'> 
						    
							{{ item.tot_scr }} 
						</td>
						<td id='table2td1'> 
							
							{{ item.tot_ado }} 
						</td>
						<td id='table2td1'>
							
							{{ item.tot_pra }}
						</td>
						<td id='table2td5'>

							{{ item.tot_per }} 
						</td>																
				 	</tr>
				 	</tbody>				 	
				 	{% endfor %}
				 										 
				</table>					
			</div>
			
			<div id='totaltable'>
		        <table id='table3' cellpadding="0px" cellspacing="0px">
			        <tr>
			            <td id='table2td6'>					        
					    </td>
					    <td id='table2td7'>	
					        {% ifequal geog  'state' %}							
							<a href='/output/overview/country/1'>
							{{ par_geog.name }} </a>
							{%endifequal%}
							
							{% ifequal geog  'district' %}							
							<a href='/output/overview/state/{{par_id}}{% if from_date and to_date %}/?from_date={{from_date}}&to_date={{to_date}}{%endif%}'>
							{{ par_geog.name }} </a>
							{%endifequal%}
							
							{% ifequal geog  'block' %}							
							<a href='/output/overview/district/{{par_id}}{% if from_date and to_date %}/?from_date={{from_date}}&to_date={{to_date}}{%endif%}'>
							{{ par_geog.name }} </a>
							{%endifequal%}
							
							{% ifequal geog  'village' %}							
							<a href='/output/overview/block/{{par_id}}{% if from_date and to_date %}/?from_date={{from_date}}&to_date={{to_date}}{%endif%}'>
							{{ block_name }} </a>
							{% endifequal%}
							{% if par_geog.name %}
							{% else %}
								India
							{%endif%}				        
					    </td>
					    <td id='table2td1'>
						<a href='/output/video/module/{{geog}}/{{id}}{% if from_date and to_date %}/?from_date={{from_date}}&to_date={{to_date}}{%endif%}'>
							{{par_geog.tot_vid}}  </a>  
										        
					    </td>
					    <td id='table2td1'> 
					        {{ par_geog.tot_scr }}
					    </td>
					    <td id='table2td1'> 
						    {{ par_geog.tot_ado }} 
					    </td>
					    <td id='table2td1'>
					        {{ par_geog.tot_pra }} 
					    </td>
					    <td id='table2td5'>
					        {{ par_geog.tot_per }} 
					    </td>										
		            </tr>
			    </table>
		    </div>
		    
			
			<div id='baselinegraphtitle'>
			    Cumulative Graph View
			</div>
			<div id='baselinegraphtitleimg'>
			    
			</div>			    			    			
			<div id='baselinegraph'>
				<br/><!--< click me !>-->
			</div>
			<div id='baselinegraph1'>					
			        <div id="flashcontent">
						<strong>You need to upgrade your Flash Player</strong>
					</div>		        			        
			</div>	
    </div>  
</div>   
 </td></tr></table>
<!-- amline script--> 
	 <script type="text/javascript" src="/media/Output/amline/swfobject.js"></script>
	 
	 <script type="text/javascript">
	 		 
		// <![CDATA[		
		var so = new SWFObject("/media/Output/amline/amline.swf", "line_chart", "900", "400", "8", "#FFFFFF");
		
		so.addVariable("path", "/media/Output/amline/");
		so.addVariable("settings_file", encodeURIComponent("/media/Output/amline/amline_settings.xml"));
		so.addVariable("data_file",'/output/overview/line/{{geog}}/{{id}}/');
		so.addVariable("additional_chart_settings", encodeURIComponent('<settings><graphs> \
						<graph gid="1"><title>Total Video Production</title><color>#FFCC00</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="2"><title>Total Screening</title><color>#999999</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="3"><title>Total Adoptions</title><color>#3366FF</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="4"><title>Total Practices</title><color>#FF0000</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="5"><title>Total Persons</title><color>#000000</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						</graphs></settings>'))
		so.addVariable("chart_id", "line_chart");
		var from_date = null, to_date = null;
			{%if from_date and to_date %}
			function amChartInited(chart_id){	
			  flashMovie = document.getElementById(chart_id);	
			  
			  if(from_date!=null)
			  {
				//var arr = from_date.split('-');
				var zoom_from_date, zoom_to_date;
				
				if(new Date('{{from_date}}') > new Date(to_date))
					zoom_from_date = to_date
				else if(new Date(from_date) > new Date('{{from_date}}'))
					zoom_from_date = from_date;
				else 
					zoom_from_date = '{{from_date}}';
				
				if(new Date(to_date) < new Date('{{to_date}}'))
					zoom_to_date = to_date;
				else if(new Date('{{to_date}}') < new Date(from_date))
					 zoom_to_date = from_date;
				else
					zoom_to_date = '{{to_date}}';
			  
			    flashMovie.setZoom(zoom_from_date,zoom_to_date);
			  
			 }
			}
			function amGetZoom(chart_id, from, to, from_xid, to_xid){
			  if(from_date==null)
				from_date = from;
			  if(to_date==null)
				to_date = to;		      
			}
			{% endif %}
			
		
		so.write("flashcontent");
		
		// ]]>
	</script>
<!-- end of amline script -->
</body>
</html>
