{% extends "base_analytics.html" %}

{% block title %} Digital Green - Screening Statistics  {% endblock %}

{% block cssfile %}  
    {{block.super}}   
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/production.css' />
{% endblock cssfile %}

{% block jsfile %}  
    {{block.super}}
     <script type="text/javascript" src="/media/Output/JS/Jexpandview.js"></script>          
{% endblock jsfile %}	


{% block analyticsbreadcrums %} 	
	{{block.super}}
	/ <span style='font-size:0.9em; font-weight:bold;'> Screening Statistics </span>	
{% endblock analyticsbreadcrums %}


{% block contentbody %}
	{{block.super}}		
		<div id='contentstat'>	
			<div id='table1'>
				<div id='divstattitle'>
					<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
						<tr>
							<td class='divtitletablename'> <div id='divstattitlename'>Key Statistics</div> </td>
							<td class='divtitletableimg'>  </td>
						</tr>
					</table>								
				</div>
				<table id='table1stat' cellspacing='0' cellpadding='0'> 				
					<tr>
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total number of disseminations	</div>
								<div id='statdescimg'> 	
									<div id='statdescimg1'>	
										The total number of disseminations conducted <br/>
										in a chosen geography & time period						
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_scr}} disseminations</div>
							</div>																				
						</td>
						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total distinct persons attending disseminations	</div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										The total number of distinct persons <br/>
										who participated in any dissemination					
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_att}} persons	</div>
							</div>													
						</td>						
					</tr>
					<tr>
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Average disseminations per day</div>
								<div id='statdescimg'> 	
									<div id='statdescimg1'>	
										Average dissemination(s) happening <br/> 
										in a day 					
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{avg_scr|floatformat:2}} disseminations/day</div>
							</div>																				
						</td>
						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Average attendance per dissemination</div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										Average persons participating in <br/>
										a dissemination					
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{avg_att|floatformat:2}} persons/dissemination </div>
							</div>													
						</td>						
					</tr>					
				</table>				
			</div>					
		</div>
		
		<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>Graphs</div> </td>
					<td class='divtitletableimg'>  </td>
				</tr>
			</table>								
		</div>
				
		<div id='contenttable'>	
			<table cellpadding="0" cellspacing="0" border="0" id="graphtable">
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Geographic distribution of Disseminations</div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_geog_pie_chart,"Geographic distribution of Disseminations")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>
							</div>
							<div class="graphdiv1desc" id="javascript_geogwise_pie">								
							</div>												
						</div>
						
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Disseminations held per Month </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_monthwise_column_chart,"Disseminations held per Month")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>															
							</div>
							<div class="graphdiv1desc" id="javascript_monthwise_column">								
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1">Absolute Attendance & Interest Line Graph</div>

									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_total_line_chart,"Absolute Attendance & Interest Line Graph")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>	
							</div>
							<div class="graphdiv1desc" id = "javascript_total_line">						
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Disseminations per Practice </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_practice_bubble_chart,"Disseminations per Practice")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>									
							</div>
							<div class="graphdiv1desc" id = "javascript_practice_type_bubble" >
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1">Percentage Attendance & Interest Line Graph</div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_percent_line_chart,"Percentage Attendance & Interest Line Graph")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "javascript_percent_line" >
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Gender distribution of Persons attending Disseminations</div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_gender_pie_chart,"Disseminations per Gender")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "javascript_gender_pie" >
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv0" >
							<div id="graphdiv0title">
								<div id="graphdiv0titledesc1" style="width:100%;">	Number of Disseminations per day </div>
							</div>	
							<div class="graphdiv1desc" id = "javascript_day_line" style="border-color: #59AF04;   border-style: solid;  border-width: 0 1px 1px">
							</div>																														
						</div>					
					</td>
				</tr>
			</table>				
		</div>

<div> 
    <div id="expandview1">        
    </div>       
    <div id="expandview3">    	
    	<div id="expandviewtitle">	</div>
    	<div id="expandviewclosebtn" title="Close"></div>    
        <div class="expandviewchart" id="expandview4">        	
        </div>
        <br/>     
    </div>
</div> 


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/media/Output/JS/screening_module.js"></script>

{% endblock contentbody %}