{% extends "base_analytics.html" %}

{% block title %} Analytics Dashboard: Videos Screening  {% endblock %}

{% block cssfile %}  
    {{block.super}}   
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/production.css' />
{% endblock cssfile %}

{% block jsfile %}  
    {{block.super}}
     <script type="text/javascript" src="/media/Output/JS/Jexpandview.js"></script>          
{% endblock jsfile %}	

{% block contentheadertitle %}Screening Statistics {% endblock contentheadertitle %}
	{% block contentbody %}
		{{block.super}}		
		<div id='contentstat'>	
			<div id='table1'>
				<div id='divstattitle'>
					<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
						<tr>
							<td class='divtitletablename'> <div id='divstattitlename'>National Statistics</div> </td>
							<td class='divtitletableimg'>  </td>
						</tr>
					</table>								
				</div>
				<table id='table1stat' cellspacing='0' cellpadding='0'> 				
					<tr>
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total number of disseminations	</div>
								<div id='statdescimg'> 	
									<div id='statdescimg1'>	
										The total number of disseminations conducted <br/>
										in a chosen geography & time period						
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_scr}} disseminations</div>
							</div>																				
						</td>
						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total distinct persons attending disseminations	</div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										The total number of distinct persons <br/>
										who participated in any Digital Green dissemination					
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_att}} persons	</div>
							</div>													
						</td>						
					</tr>
					<tr>
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Average disseminations per day</div>
								<div id='statdescimg'> 	
									<div id='statdescimg1'>	
										Average dissemination(s) happening <br/> 
										in a day 					
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{avg_scr|floatformat:2}} disseminations/day</div>
							</div>																				
						</td>
						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Average attendance per dissemination</div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										Average persons participating in <br/>
										a dissemination					
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{avg_att|floatformat:2}} persons/dissemination </div>
							</div>													
						</td>						
					</tr>					
				</table>				
			</div>					
		</div>
		
		<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>Graphs</div> </td>
					<td class='divtitletableimg'>  </td>
				</tr>
			</table>								
		</div>
				
		<div id='contenttable'>	
			<table cellpadding="0" cellspacing="0" border="0" id="graphtable">
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Geographic distribution of Disseminations</div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(geog_wise_pie1,"Geographic distribution of Disseminations")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>
							</div>
							<div class="graphdiv1desc" id="flash_area_geogwise_pie">								
							</div>												
						</div>
						
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Disseminations held per Month </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(monthbar1,"Disseminations held per Month")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>															
							</div>
							<div class="graphdiv1desc" id="flash_area_monthwise_bar">								
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1">Tot Line Graph </div>

									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(tot_lines1,"Tot Line Graph")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>	
							</div>
							<div class="graphdiv1desc" id = "flash_area_tot_lines">						
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Disseminations per Practice </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(practice1,"Disseminations per Practice")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>									
							</div>
							<div class="graphdiv1desc" id = "flash_area_practice_type_scatter" >
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Avg Line graph </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(avg_lines1,"Avg Line graph")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "flash_area_avg_lines" >
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Gender distribution of Persons attending Disseminations</div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(male_female_pie1,"Disseminations per Gender")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "flash_area_mf_pie" >
							</div>						
						</div>					
					</td>
				</tr>
			</table>				
		</div>

<div> 
    <div id="expandview1">        
    </div>       
    <div id="expandview3">    	
    	<div id="expandviewtitle"></div>
    	<div id="expandviewclosebtn" title="Close"></div>    
        <div class="expandviewchart" id="expandview4">        	
        </div>
        <br/>     
    </div>
</div> 

<!-- amline script -->



<script type="text/javascript">	
	var geog_wise_pie1 = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", eochartwidth, eochartheight, "8", "#FFFFFF");
	geog_wise_pie1.addParam("wmode", "transparent");
	geog_wise_pie1.addVariable("path", "/media/Output/ampie/");
	geog_wise_pie1.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml")); 
	geog_wise_pie1.addVariable("data_file", escape('{% url dg.output.views.screeningAnalytics.screening_geog_pie_data geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}'));
	geog_wise_pie1.addVariable("additional_chart_settings", encodeURIComponent("<settings><legend><enabled>true</enabled></legend></settings>"));
	//geog_wise_pie1.write("flash_area_geogwise_pie1");
	
	var monthbar1 = new SWFObject("/media/Output/amcolumn/amcolumn.swf", "amcolumn", eochartwidth, eochartheight, "8", "#FFFFFF");
	monthbar1.addParam("wmode", "transparent");
	monthbar1.addVariable("path", "/media/Output/amcolumn/");
	monthbar1.addVariable("settings_file", encodeURIComponent("/media/Output/amcolumn/amcolumn_settings.xml"));

	var additional_chart_settings = '';
	var additional_chart_settings= $.ajax({ type: "GET", url: "{% url dg.output.views.screeningAnalytics.screening_monthwise_bar_settings geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}", async: false }).responseText;
	if(additional_chart_settings.length > 0)
		monthbar1.addVariable("additional_chart_settings", encodeURIComponent(additional_chart_settings));
		
	monthbar1.addVariable("data_file", escape('{% url dg.output.views.screeningAnalytics.screening_monthwise_bar_data geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}'));
	monthbar1.addVariable("preloader_color", "#999999");
	//monthbar1.write("flash_area_monthwise_bar1");
	
	
	var tot_lines1 = new SWFObject("/media/Output/amline/amline.swf", "video_line_chart", eochartwidth, eochartheight, "8", "#FFFFFF");
	tot_lines1.addParam("wmode", "transparent");
	tot_lines1.addVariable("path", "/media/Output/amline/");
	tot_lines1.addVariable("settings_file", encodeURIComponent("/media/Output/amline/amline_settings.xml"));
	tot_lines1.addVariable("data_file",escape('{% url dg.output.views.screeningAnalytics.screening_tot_lines geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}{% if get_req_url %}&{%else%}?{%endif%}type=prod'));
	tot_lines1.addVariable("additional_chart_settings", encodeURIComponent('<settings><graphs> \
						<graph gid="1"><title>Total Attendance</title><color>#FFCC00</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="2"><title>Total Expressed Interest</title><color>#999999</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="3"><title>Total Expressed Adoption</title><color>#3366FF</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="4"><title>Total Expressed Question</title><color>#FF0000</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						</graphs></settings>'))
	//tot_lines1.write("flash_area_tot_lines");
	
	var avg_lines1 = new SWFObject("/media/Output/amline/amline.swf", "video_line_chart", eochartwidth, eochartheight, "8", "#FFFFFF");
	avg_lines1.addParam("wmode", "transparent");
	avg_lines1.addVariable("path", "/media/Output/amline/");
	avg_lines1.addVariable("settings_file", encodeURIComponent("/media/Output/amline/amline_settings.xml"));
	avg_lines1.addVariable("data_file",escape('{% url dg.output.views.screeningAnalytics.screening_percent_lines geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}{% if get_req_url %}&{%else%}?{%endif%}type=prod'));
	avg_lines1.addVariable("additional_chart_settings", encodeURIComponent('<settings><graphs> \
						<graph gid="1"><title>Relative Attendance</title><color>#FFCC00</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="2"><title>Relative Expressed Interest</title><color>#999999</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="3"><title>Relative Expressed Adoption</title><color>#3366FF</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="4"><title>Relative Expressed Question</title><color>#FF0000</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						</graphs></settings>'))
	
	
	var practice1 = new SWFObject("/media/Output/amxy/amxy.swf", "amxy", eochartwidth, eochartheight, "8", "#FFFFFF");
	practice1.addParam("wmode", "transparent");
	practice1.addVariable("path", "/media/Output/amxy/");
	practice1.addVariable("settings_file", encodeURIComponent("/media/Output/amxy/amxy_settings.xml"));                    // you can set two or more different settings files here (separated by commas)
	practice1.addVariable("data_file", escape('{% url dg.output.views.screeningAnalytics.screening_practice_wise_scatter_data geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}')); 
	//practice1.write("flash_area_practice_type_scatter1");
	
	var male_female_pie1 = new SWFObject("/media/Output/ampie/ampie.swf", "mfratio_pie", "420", "300", "8", "#FFFFFF");
	male_female_pie1.addParam("wmode", "transparent");
	male_female_pie1.addVariable("path", "/media/Output/ampie/");
	male_female_pie1.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml"))
	male_female_pie1.addVariable("data_file", escape('{% url dg.output.views.screeningAnalytics.screening_mf_ratio geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}'));
	//male_female_pie1.write("flash_area_mf_ratio");
	
</script>


<script type="text/javascript">
		// <![CDATA[	
	
	var geog_wise_pie = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", "440", "390", "8", "#FFFFFF");
	geog_wise_pie.addParam("wmode", "transparent");
	geog_wise_pie.addVariable("path", "/media/Output/ampie/");
	geog_wise_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml")); 
	geog_wise_pie.addVariable("data_file", escape('{% url dg.output.views.screeningAnalytics.screening_geog_pie_data geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}'));
	geog_wise_pie.addVariable("additional_chart_settings", encodeURIComponent("<settings><legend><enabled>true</enabled></legend></settings>"));
	geog_wise_pie.write("flash_area_geogwise_pie");
	   
	var monthbar = new SWFObject("/media/Output/amcolumn/amcolumn.swf", "monthbar", "440", "390", "8", "#FFFFFF");
	monthbar.addParam("wmode", "transparent");
	monthbar.addVariable("path", "/media/Output/amcolumn/");
	monthbar.addVariable("settings_file", encodeURIComponent("/media/Output/amcolumn/amcolumn_settings.xml"));
	var additional_chart_settings = '';
	var additional_chart_settings= $.ajax({ type: "GET", url: "{% url dg.output.views.screeningAnalytics.screening_monthwise_bar_settings geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}", async: false }).responseText;
	if(additional_chart_settings.length > 0)
		monthbar.addVariable("additional_chart_settings", encodeURIComponent(additional_chart_settings));
	monthbar.addVariable("data_file", escape('{% url dg.output.views.screeningAnalytics.screening_monthwise_bar_data geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}'));
	monthbar.addVariable("preloader_color", "#999999");
	monthbar.write("flash_area_monthwise_bar");
	
	var tot_lines = new SWFObject("/media/Output/amline/amline.swf", "video_line_chart", "440", "390", "8", "#FFFFFF");
	tot_lines.addParam("wmode", "transparent");
	tot_lines.addVariable("path", "/media/Output/amline/");
	tot_lines.addVariable("settings_file", encodeURIComponent("/media/Output/amline/amline_settings.xml"));
	tot_lines.addVariable("data_file",escape('{% url dg.output.views.screeningAnalytics.screening_tot_lines geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}{% if get_req_url %}&{%else%}?{%endif%}type=prod'));
	tot_lines.addVariable("additional_chart_settings", encodeURIComponent('<settings><graphs> \
						<graph gid="1"><title>Total Attendance</title><color>#FFCC00</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="2"><title>Total Expressed Interest</title><color>#999999</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="3"><title>Total Expressed Adoption</title><color>#3366FF</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="4"><title>Total Expressed Question</title><color>#FF0000</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						</graphs></settings>'))
	tot_lines.write("flash_area_tot_lines");
	
	var avg_lines = new SWFObject("/media/Output/amline/amline.swf", "video_line_chart", "440", "390", "8", "#FFFFFF");
	avg_lines.addParam("wmode", "transparent");
	avg_lines.addVariable("path", "/media/Output/amline/");
	avg_lines.addVariable("settings_file", encodeURIComponent("/media/Output/amline/amline_settings.xml"));
	avg_lines.addVariable("data_file",escape('{% url dg.output.views.screeningAnalytics.screening_percent_lines geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}{% if get_req_url %}&{%else%}?{%endif%}type=prod'));
	avg_lines.addVariable("additional_chart_settings", encodeURIComponent('<settings><graphs> \
						<graph gid="1"><title>Relative Attendance</title><color>#FFCC00</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="2"><title>Relative Expressed Interest</title><color>#999999</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="3"><title>Relative Expressed Adoption</title><color>#3366FF</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						<graph gid="4"><title>Relative Expressed Question</title><color>#FF0000</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						</graphs></settings>'))
	avg_lines.write("flash_area_avg_lines");
	
	
	var practice = new SWFObject("/media/Output/amxy/amxy.swf", "amxy", "440", "390", "8", "#FFFFFF");
	practice.addParam("wmode", "transparent");
	practice.addVariable("path", "/media/Output/amxy/");
	practice.addVariable("settings_file", encodeURIComponent("/media/Output/amxy/amxy_settings.xml"));
	practice.addVariable("data_file", escape('{% url dg.output.views.screeningAnalytics.screening_practice_wise_scatter_data geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}'));
	practice.write("flash_area_practice_type_scatter");
	
	var male_female_pie = new SWFObject("/media/Output/ampie/ampie.swf", "mfratio_pie", "440", "390", "8", "#FFFFFF");
	male_female_pie.addParam("wmode", "transparent");
	male_female_pie.addVariable("path", "/media/Output/ampie/");
	male_female_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml"))
	male_female_pie.addVariable("data_file", escape('{% url dg.output.views.screeningAnalytics.screening_mf_ratio geog=search_box_params.cur_geog id=search_box_params.cur_id %}{{get_req_url|safe}}'));
	male_female_pie.write("flash_area_mf_pie");
	
	</script>

<!-- end of amline script -->

{% endblock contentbody %}