{% extends "base_analytics.html" %}

{% block title %} Analytics Dashboard: Videos Screening  {% endblock %}

{% block cssfile %}  
    {{block.super}}   
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/production.css' />
{% endblock cssfile %}

{% block jsfile %}  
    {{block.super}}
     <script type="text/javascript" src="/media/Output/JS/Jexpandview.js"></script>          
{% endblock jsfile %}	

{% block contentheadertitle %}Screening Statistics {% endblock contentheadertitle %}
	{% block contentbody %}
		{{block.super}}		
		<div id='contentstat'>	
			<div id='table1'>
				<div id='divstattitle'>
					<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
						<tr>
							<td class='divtitletablename'> <div id='divstattitlename'>National Statistics</div> </td>
							<td class='divtitletableimg'>  </td>
						</tr>
					</table>								
				</div>
				<table id='table1stat' cellspacing='0' cellpadding='0'> 				
					<tr>
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total number of screenings	</div>
								<div id='statdescimg'> 	
									<div id='statdescimg1'>	
										The total number of videos that have been <br/>
										produced across in a chosen geography						
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_video}} videos	</div>
							</div>																				
						</td>
						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total distinct persons attending Screenings	</div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										The total number of videos that have <br/>
										been screened to the farmer groups						
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_screening}} videos	</div>
							</div>													
						</td>						
					</tr>
					<tr>
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Average Screenings per day	</div>
								<div id='statdescimg'> 	
									<div id='statdescimg1'>	
										The total number of videos that have<br/> 
										been screened 					
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_video}} videos	</div>
							</div>																				
						</td>
						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Average attendance per Screenings	</div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										The total number of videos that have <br/>
										been screened to the farmer groups						
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_screening}} videos	</div>
							</div>													
						</td>						
					</tr>					
				</table>				
			</div>					
		</div>
		
		<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>Graphs</div> </td>
					<td class='divtitletableimg'>  </td>
				</tr>
			</table>								
		</div>
				
		<div id='contenttable'>	
			<table cellpadding="0" cellspacing="0" border="0" id="graphtable">
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Geographic distribution of Videos </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(geog_wise_pie1,"Geographic distribution of Videos")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>
							</div>
							<div class="graphdiv1desc" id="flash_area_geogwise_pie">								
							</div>												
						</div>
						
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos Produced per Month </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(monthbar1,"Videos Produced per Month")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>															
							</div>
							<div class="graphdiv1desc" id="flash_area_monthwise_bar">								
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos Produced over Time </div>

									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(videoprod_line1,"Videos Produced over Time")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>	
							</div>
							<div class="graphdiv1desc" id = "flash_area_vid_prod_time">						
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos per Practice </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(practice1,"Videos per Practice")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>									
							</div>
							<div class="graphdiv1desc" id = "flash_area_practice_type_scatter" >
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos per Language </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(language1,"Videos per Language")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "flash_area_language_scatter" >
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos per Type </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(type_wise_pie1,"Videos per Type")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "flash_area_video_type_pie" >
							</div>						
						</div>					
					</td>
				</tr>
			</table>				
		</div>

<div> 
    <div id="expandview1">        
    </div>       
    <div id="expandview3">    	
    	<div id="expandviewtitle"></div>
    	<div id="expandviewclosebtn" title="Close"></div>    
        <div class="expandviewchart" id="expandview4">        	
        </div>
        <br/>     
    </div>
</div> 

<!-- amline script -->

<script type="text/javascript" src="/media/Output/ampie/swfobject.js"></script>
<script type="text/javascript" src="/media/Output/amcolumn/swfobject.js"></script>

<script type="text/javascript">	
	var geog_wise_pie1 = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", eochartwidth, eochartheight, "8", "#FFFFFF");
	geog_wise_pie1.addParam("wmode", "transparent");
	geog_wise_pie1.addVariable("path", "/media/Output/ampie/");
	geog_wise_pie1.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml")); 
	{% if from_date and to_date %}
		geog_wise_pie1.addVariable("data_file", encodeURIComponent("/output/video/geogpie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		geog_wise_pie1.addVariable("data_file", encodeURIComponent("/output/video/geogpie/{{geog}}/{{id}}/"));
	{% endif %}
	geog_wise_pie1.addVariable("additional_chart_settings", encodeURIComponent("<settings><legend><enabled>true</enabled></legend></settings>"));
	//geog_wise_pie1.write("flash_area_geogwise_pie1");
	
	var monthbar1 = new SWFObject("/media/Output/amcolumn/amcolumn.swf", "amcolumn", eochartwidth, eochartheight, "8", "#FFFFFF");
	monthbar1.addParam("wmode", "transparent");
	monthbar1.addVariable("path", "/media/Output/amcolumn/");
	monthbar1.addVariable("settings_file", encodeURIComponent("/media/Output/amcolumn/amcolumn_settings.xml"));
	var additional_chart_settings = '';

	{% if from_date and to_date %}
		var additional_chart_settings= $.ajax({ type: "GET", url: "/output/video/monthbar/settings/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}", async: false }).responseText;
	{% else %}
		var additional_chart_settings= $.ajax({ type: "GET", url: "/output/video/monthbar/settings/{{geog}}/{{id}}/", async: false }).responseText;
	{% endif %}
	if(additional_chart_settings.length > 0)
		monthbar1.addVariable("additional_chart_settings", encodeURIComponent(additional_chart_settings));
		
	{% if from_date and to_date %}
		monthbar1.addVariable("data_file", encodeURIComponent("/output/video/monthbar/data/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		monthbar1.addVariable("data_file","/output/video/monthbar/data/{{geog}}/{{id}}/");
	{% endif %}	
	monthbar1.addVariable("preloader_color", "#999999");
	//monthbar1.write("flash_area_monthwise_bar1");
	
	
	var videoprod_line1 = new SWFObject("/media/Output/amline/amline.swf", "video_line_chart", eochartwidth, eochartheight, "8", "#FFFFFF");
	videoprod_line1.addParam("wmode", "transparent");
	videoprod_line1.addVariable("path", "/media/Output/amline/");
	videoprod_line1.addVariable("settings_file", encodeURIComponent("/media/Output/amline/amline_settings.xml"));  // you can set two or more different settings files here (separated by commas)
	videoprod_line1.addVariable("data_file",'/output/overview/line/{{geog}}/{{id}}/?type=prod');
	videoprod_line1.addVariable("additional_chart_settings", encodeURIComponent('<settings><graphs> \
						<graph gid="1"><title>Total Videos Produced</title><color>#FFCC00</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						</graphs></settings>'))
	videoprod_line1.addVariable("chart_id", "video_line_chart");
	var from_date = null, to_date = null;
		{%if from_date and to_date %}
		function amChartInited(chart_id){	
		  flashMovie = document.getElementById(chart_id);	
		  
		  if(from_date!=null)
		  {
			//var arr = from_date.split('-');
			var zoom_from_date, zoom_to_date;
			
			if(new Date('{{from_date}}') > new Date(to_date))
				zoom_from_date = to_date
			else if(new Date(from_date) > new Date('{{from_date}}'))
				zoom_from_date = from_date;
			else 
				zoom_from_date = '{{from_date}}';
			
			if(new Date(to_date) < new Date('{{to_date}}'))
				zoom_to_date = to_date;
			else if(new Date('{{to_date}}') < new Date(from_date))
				 zoom_to_date = from_date;
			else
				zoom_to_date = '{{to_date}}';
		  
			flashMovie.setZoom(zoom_from_date,zoom_to_date);
		  
		 }
		}
		function amGetZoom(chart_id, from, to, from_xid, to_xid){
		  if(chart_id != 'video_line_chart')
			return;			
		  if(from_date==null)
			from_date = from;
		  if(to_date==null)
			to_date = to;		      
		}
		{% endif %}		
	//videoprod_line1.write("flash_area_vid_prod_time1");
	
	
	var practice1 = new SWFObject("/media/Output/amxy/amxy.swf", "amxy", eochartwidth, eochartheight, "8", "#FFFFFF");
	practice1.addParam("wmode", "transparent");
	practice1.addVariable("path", "/media/Output/amxy/");
	practice1.addVariable("settings_file", encodeURIComponent("/media/Output/amxy/amxy_settings.xml"));                    // you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}
		practice1.addVariable("data_file", encodeURIComponent("/output/video/practicescatter/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		practice1.addVariable("data_file", encodeURIComponent("/output/video/practicescatter/{{geog}}/{{id}}/"));
	{% endif %}
	//practice1.write("flash_area_practice_type_scatter1");
	
	var language1 = new SWFObject("/media/Output/amxy/amxy.swf", "amxy", eochartwidth, eochartheight, "8", "#FFFFFF");
	language1.addParam("wmode", "transparent");
	language1.addVariable("path", "/media/Output/amxy/");
	language1.addVariable("settings_file", encodeURIComponent("/media/Output/amxy/amxy_settings.xml"));                    // you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}
		language1.addVariable("data_file", encodeURIComponent("/output/video/languagescatter/data/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		language1.addVariable("data_file", encodeURIComponent("/output/video/languagescatter/data/{{geog}}/{{id}}/"));
	{% endif %}
	//language1.write("flash_area_language_scatter");
	
	var type_wise_pie1 = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", eochartwidth, eochartheight, "8", "#FFFFFF");
	type_wise_pie1.addParam("wmode", "transparent");
	type_wise_pie1.addVariable("path", "/media/Output/ampie/");
	type_wise_pie1.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml")); 
	{% if from_date and to_date %}
		type_wise_pie1.addVariable("data_file", encodeURIComponent("/output/video/typepie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		type_wise_pie1.addVariable("data_file", encodeURIComponent("/output/video/typepie/{{geog}}/{{id}}/"));
	{% endif %}
	//type_wise_pie1.write("flash_area_video_type_pie");
	
</script>


<script type="text/javascript">
		// <![CDATA[	
	   
	var monthbar = new SWFObject("/media/Output/amcolumn/amcolumn.swf", "amcolumn", "420", "390", "8", "#FFFFFF");
	monthbar.addParam("wmode", "transparent");
	monthbar.addVariable("path", "/media/Output/amcolumn/");
	monthbar.addVariable("settings_file", encodeURIComponent("/media/Output/amcolumn/amcolumn_settings.xml"));
	var additional_chart_settings = '';

	{% if from_date and to_date %}
		var additional_chart_settings= $.ajax({ type: "GET", url: "/output/video/monthbar/settings/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}", async: false }).responseText;
	{% else %}
		var additional_chart_settings= $.ajax({ type: "GET", url: "/output/video/monthbar/settings/{{geog}}/{{id}}/", async: false }).responseText;
	{% endif %}
	if(additional_chart_settings.length > 0)
		monthbar.addVariable("additional_chart_settings", encodeURIComponent(additional_chart_settings));
		
	{% if from_date and to_date %}
		monthbar.addVariable("data_file", encodeURIComponent("/output/video/monthbar/data/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		monthbar.addVariable("data_file","/output/video/monthbar/data/{{geog}}/{{id}}/");
	{% endif %}	
	monthbar.addVariable("preloader_color", "#999999");
	monthbar.write("flash_area_monthwise_bar");
	
	

	var language = new SWFObject("/media/Output/amxy/amxy.swf", "amxy", "420", "390", "8", "#FFFFFF");
	language.addParam("wmode", "transparent");
	language.addVariable("path", "/media/Output/amxy/");
	language.addVariable("settings_file", encodeURIComponent("/media/Output/amxy/amxy_settings.xml"));                    // you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}
		language.addVariable("data_file", encodeURIComponent("/output/video/languagescatter/data/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		language.addVariable("data_file", encodeURIComponent("/output/video/languagescatter/data/{{geog}}/{{id}}/"));
	{% endif %}
	language.write("flash_area_language_scatter");
	
	
	
	var geog_wise_pie = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", "440", "390", "8", "#FFFFFF");
	geog_wise_pie.addParam("wmode", "transparent");
	geog_wise_pie.addVariable("path", "/media/Output/ampie/");
	geog_wise_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml")); 
	{% if from_date and to_date %}
		geog_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/geogpie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		geog_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/geogpie/{{geog}}/{{id}}/"));
	{% endif %}
	geog_wise_pie.addVariable("additional_chart_settings", encodeURIComponent("<settings><legend><enabled>true</enabled></legend></settings>"));
	geog_wise_pie.write("flash_area_geogwise_pie");
	
	
	
	var type_wise_pie = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", "440", "390", "8", "#FFFFFF");
	type_wise_pie.addParam("wmode", "transparent");
	type_wise_pie.addVariable("path", "/media/Output/ampie/");
	type_wise_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml")); 
	{% if from_date and to_date %}
		type_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/typepie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		type_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/typepie/{{geog}}/{{id}}/"));
	{% endif %}
	type_wise_pie.write("flash_area_video_type_pie");
	
	
	
	var practice = new SWFObject("/media/Output/amxy/amxy.swf", "amxy", "440", "390", "8", "#FFFFFF");
	practice.addParam("wmode", "transparent");
	practice.addVariable("path", "/media/Output/amxy/");
	practice.addVariable("settings_file", encodeURIComponent("/media/Output/amxy/amxy_settings.xml"));                    // you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}
		practice.addVariable("data_file", encodeURIComponent("/output/video/practicescatter/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		practice.addVariable("data_file", encodeURIComponent("/output/video/practicescatter/{{geog}}/{{id}}/"));
	{% endif %}
	practice.write("flash_area_practice_type_scatter");
	
	
	
	var videoprod_line = new SWFObject("/media/Output/amline/amline.swf", "video_line_chart", "420", "390", "8", "#FFFFFF");
	videoprod_line.addParam("wmode", "transparent");
	videoprod_line.addVariable("path", "/media/Output/amline/");
	videoprod_line.addVariable("settings_file", encodeURIComponent("/media/Output/amline/amline_settings.xml"));                // you can set two or more different settings files here (separated by commas)
	videoprod_line.addVariable("data_file",'/output/overview/line/{{geog}}/{{id}}/?type=prod');
	videoprod_line.addVariable("additional_chart_settings", encodeURIComponent('<settings><graphs> \
						<graph gid="1"><title>Total Video Production</title><color>#FFCC00</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						</graphs></settings>'))
	videoprod_line.addVariable("chart_id", "video_line_chart");
	var from_date = null, to_date = null, from_date_str = '', to_date_str = '';
			{%if from_date and to_date %}
			function amChartInited(chart_id){	
			  flashMovie = document.getElementById(chart_id);	
			  
			  if(from_date!=null)
			  {
				//var arr = from_date.split('-');
				var zoom_from_date, zoom_to_date;
				from_date_arr = '{{from_date}}'.split('-');
				new_from_date = new Date(parseInt(from_date_arr[0]),parseInt(from_date_arr[1],10)-1,parseInt(from_date_arr[2]));
				
				to_date_arr = '{{to_date}}'.split('-');
				new_to_date = new Date(parseInt(to_date_arr[0]),parseInt(to_date_arr[1],10)-1,parseInt(to_date_arr[2]));
				
				if(new_from_date > to_date)
					zoom_from_date = to_date_str
				else if(from_date > new_from_date)
					zoom_from_date = from_date_str;
				else 
					zoom_from_date = '{{from_date}}';
				
				if(to_date < new_to_date)
					zoom_to_date = to_date_str;
				else if(new_to_date < from_date)
					 zoom_to_date = from_date_str;
				else
					zoom_to_date = '{{to_date}}';
				flashMovie.setZoom(zoom_from_date,zoom_to_date);
			  
			 }
			}
			function amGetZoom(chart_id, from, to, from_xid, to_xid){			
			  if(chart_id != "video_line_chart")
				return;
			  if(from_date==null) {
				from_date = from.split('-');
				from_date = new Date(parseInt(from_date[0],10),parseInt(from_date[1],10)-1,parseInt(from_date[2],10));
				
				from_date_str = from;
			 }
			  if(to_date==null) {
				to_date = to.split('-');
				to_date = new Date(parseInt(to_date[0],10),parseInt(to_date[1],10)-1,parseInt(to_date[2],10));
				
				to_date_str = to;
			}
				
			}
			{% endif %}	
	
			videoprod_line.write("flash_area_vid_prod_time");
			
			
			
	var male_female_pie = new SWFObject("/media/Output/ampie/ampie.swf", "mfratio_pie", "420", "300", "8", "#FFFFFF");
	male_female_pie.addParam("wmode", "transparent");
	male_female_pie.addVariable("path", "/media/Output/ampie/");
	male_female_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml"))	// you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}// you can set two or more different settings files here (separated by commas)
		male_female_pie.addVariable("data_file", encodeURIComponent("/output/video/mfpie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		male_female_pie.addVariable("data_file", encodeURIComponent("/output/video/mfpie/{{geog}}/{{id}}/"));
	{% endif %}
	male_female_pie.write("flash_area_mf_ratio");
	
	
	
	var actor_wise_pie = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", "420", "300", "8", "#FFFFFF");
	actor_wise_pie.addParam("wmode", "transparent");
	actor_wise_pie.addVariable("path", "/media/Output/ampie/");
	actor_wise_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml"));  // you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}// you can set two or more different settings files here (separated by commas)
		actor_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/actorpie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		actor_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/actorpie/{{geog}}/{{id}}/"));
	{% endif %}
	actor_wise_pie.write("flash_area_actor_ratio");
	
	</script>

<!-- end of amline script -->

{% endblock contentbody %}

	