{% extends "base_analytics_target.html" %}

{% block title %} Digital Green - Targets Table {% endblock %}

{% block cssfile %}
	{{block.super}}   
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/analytics.css' />
{% endblock cssfile %}

{% block analyticsbreadcrums %} 	
	{{block.super}}
	/ <span style='font-weight:bold;'> Targets Table </span>	
{% endblock analyticsbreadcrums %}


{% block contentbody %}
{{block.super}}  
	
<div>
<table id="targettable" cellspacing='0' cellpadding='0'>
    <tr>
        <td colspan='3' id='targettableheader'> &nbsp;{{achieved_vals.geog_name}}</td>
    </tr>
    <tr>
    	<th class='targettableth'>Targets</th>
        <th class='targettableth'>Planned</th>
        <th class='targettableth'>Achieved</th>
    </tr>
    <tr>
        <td class='targettabletd'>Villages Identified</td>
        <td class='targettabletd'>{{target_vals.tot_clusters|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.vil_identified|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>DG Concept shared with community</td>
        <td class='targettabletd'>{{target_vals.tot_dg_sharing|default_if_none:"NA"}}</td>
        <td class='targettabletd'>--</td>
    </tr>
    <tr>
        <td class='targettabletd'>CSP Identified</td>
        <td class='targettabletd'>{{target_vals.tot_csp_identified|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.csp_identified|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Dissemination Set Deployed</td>
        <td class='targettabletd'>{{target_vals.tot_deployment|default_if_none:"NA"}}</td>
        <td class='targettabletd'>--</td>
    </tr>
    <tr>
        <td class='targettabletd'>Village operationalized</td>
        <td class='targettabletd'>{{target_vals.tot_vil_op|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.village_operational|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Videos Uploaded</td>
        <td class='targettabletd'>{{target_vals.tot_vid_upl|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.vids_uploaded|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Video Produced</td>
        <td class='targettabletd'>{{target_vals.tot_vid_pro|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.video_production|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Storyboard Prepared</td>
        <td class='targettabletd'>{{target_vals.tot_story|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.storyboard|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Number of Videos shot</td>
        <td class='targettabletd'>{{target_vals.tot_vid_shoot|default_if_none:"NA"}}</td>
        <td class='targettabletd'>--</td>
    </tr>
    <tr>
        <td class='targettabletd'>Number of Videos edited</td>
        <td class='targettabletd'>{{target_vals.tot_vid_edit|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.video_edited|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Video Quality Check</td>
        <td class='targettabletd'>{{target_vals.tot_vid_qual|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.quality_check|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Total Disseminations</td>
        <td class='targettabletd'>{{target_vals.tot_diss|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.disseminations|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Average Attendance per Dissemination</td>
        <td class='targettabletd'>{{target_vals.avg_att|floatformat:2|default:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.att_per_diss|floatformat:2|default:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Expressed Interest per Dissemination</td>
        <td class='targettabletd'>{{target_vals.exp_int|floatformat:2|default:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.inter_per_dissemination|floatformat:2|default:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Adoption per Dissemination</td>
        <td class='targettabletd'>{{target_vals.ado_dis|floatformat:2|default:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.avg_adoption|floatformat:2|default:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>CRPs Training</td>
        <td class='targettabletd'>{{target_vals.tot_crp|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.new_crp_training|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>CRPs Refresher Training</td>
        <td class='targettabletd'>{{target_vals.tot_crp_ref|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.refresher_crp_traing|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>CSPs Training</td>
        <td class='targettabletd'>{{target_vals.tot_csp|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.new_csp_training|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>CSPs Refreshing Training</td>
        <td class='targettabletd'>{{target_vals.tot_csp_ref|default_if_none:"NA"}}</td>
        <td class='targettabletd'>{{achieved_vals.refresher_csp_traing|default_if_none:"NA"}}</td>
    </tr>
    <tr>
        <td class='targettabletd'>Editors Training</td>
        <td class='targettabletd'>{{target_vals.tot_editor|default_if_none:"NA"}}</td>
        <td class='targettabletd'>--</td>
    </tr>
    <tr>
        <td class='targettabletd'>Editors Refresher Training</td>
        <td class='targettabletd'>{{target_vals.tot_editor_ref|default_if_none:"NA"}}</td>
        <td class='targettabletd'>--</td>
    </tr>
	<tr>
        <td class='targettabletd'>Village Certification</td>
        <td class='targettabletd'>{{target_vals.tot_vil_cert|default_if_none:"NA"}}</td>
        <td class='targettabletd'>--</td>
    </tr>
</table>
</div>
{% endblock contentbody %}
    