
{% extends "base.html" %}

{% block title %} Press:: DigitalGreen {% endblock %}

{% block cssfile %}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/press.css' />       
{% endblock cssfile %}

{% block jsfile %}
       
{% endblock jsfile %}

{% block content %}

<div id='careerbody'>

<div id='careerbodydiv1' style='border-right:0px solid'>
	
</div>


<div id='careerbodydiv2'>
{% block careerbody %}
    	
	<div id='contentdiv2'>
    	<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>{% block teampagetitle %} COCO - Connect Online | Connect Offline {% endblock teampagetitle %}</div> </td>
					<td class='divtitletableimg'>   </td>
				</tr>
			</table>								
		</div>
    	<table id='table2' cellspacing='0' cellpadding='5'>						
			<tr>												
				<td class='content2td' cellspacing='0' cellpadding='0' > 
					<div id='content2tdtitle1'></div>			
				</td>													
			</tr>
							
		</table>
    </div>
    
	<div id='contentdiv1'>
		<div style='margin-left:10px; width:60%; text-align:left; margin-top:5px; '> 
			<a href='/technology/coco' style='color:Gray; font-weight:bold; text-decoration:none; font-size:1.2em' onMouseOver='this.style="color:Black;"'> Click here to try it now </a> 
		</div>
		<img  style='padding-top:5px; padding-left:10px; ' src='/media/Output/Images/cocoscreenshot1.png' align='left'>
						
	</div>
    
      
{% endblock careerbody %}
</div>
<div id='careerbodydiv3'> </div> 
</div>   
{% endblock content %}