<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title> Video Analytics </title>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">   
    
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/base.css' />   
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/StyleSheet.css' />
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/jquery.calendar.css'  media="screen" />        
    <link type="text/css" rel="stylesheet" href="/media/Output/CSS/video_analytics.css">
     <link type="text/css" rel="stylesheet" href="/media/Output/CSS/navigation.css">         
    <script type="text/javascript" src="/media/Output/JS/jquery-1.3.2.min.js"></script>    
    <script type="text/javascript" src="/media/Output/JS/jquery-easing-1.3.pack.js"></script>
	<script type="text/javascript" src="/media/Output/JS/jquery-ui-1.7.2.custom.min.js"></script>		
	<script type="text/javascript" src="/media/Output/JS/JGridPage.js"></script>  
	<script type="text/javascript" src="/media/Output/JS/jquery.calendar.js"></script>
	<script type="text/javascript" src="/media/Output/JS/Jcorner.js"></script>
	<script type="text/javascript" src="/media/Output/JS/jquery.gradient.js"></script>
    <script type="text/javascript" src="/media/Output/JS/jquery.gradient.min.js"></script>
    <script type="text/javascript" src="/media/Output/JS/jquery.gradient.pack.js"></script>
    
    <script type="text/javascript" src="/media/Output/ampie/swfobject.js"></script>
    <script type="text/javascript" src="/media/Output/amcolumn/swfobject.js"></script>


	<script type="text/javascript">
	    

		function Default(){
		
			// for default from - date 
	        var startdate = '{{start_date}}';
			//alert(startdate);
	        var sd= startdate.indexOf('-'); // calculate index value for first hyphen(-)
	        var sdyear = startdate.substring(0, sd); // get the year for the date1
	        var sd1 = startdate.substring(sd+1, startdate.length);
	        var sd2= sd1.indexOf('-');
	        var sdmonth = sd1.substring(0, sd2); // get the month for date1
	        var sddate = sd1.substring(sd2+1, sd1.length);
	        
	        if(sdmonth=="01"){ sdmonth="January"; }
	        if(sdmonth=="02"){ sdmonth="February"; }
	        if(sdmonth=="03"){ sdmonth="March"; }
	        if(sdmonth=="04"){ sdmonth="April"; }
	        if(sdmonth=="05"){ sdmonth="May"; }
	        if(sdmonth=="06"){ sdmonth="June"; }
	        if(sdmonth=="07"){ sdmonth="July"; }
	        if(sdmonth=="08"){ sdmonth="August"; }	            
	        if(sdmonth=="09"){ sdmonth="September"; }
	        if(sdmonth=="10"){ sdmonth="October"; }
	        if(sdmonth=="11"){ sdmonth="November"; }
	        if(sdmonth=="12"){ sdmonth="December"; }        
	        
			var newdate = new Date();
	        var currentmonth = newdate.getMonth();
	        var month_name=new Array(12);
            month_name[0]="January"
            month_name[1]="February"
            month_name[2]="March"
            month_name[3]="April"
            month_name[4]="May"
            month_name[5]="June"
            month_name[6]="July"
            month_name[7]="August"
            month_name[8]="September"
            month_name[9]="October"
            month_name[10]="November"
            month_name[11]="December"
            today_month = month_name[currentmonth];
            today_date = newdate.getDate(); 
            today_year = newdate.getFullYear();
                         
            {% if from_date and to_date %}
				date1 = '{{from_date}}';
				date2 = '{{to_date}}';
	            var d11= date1.indexOf('-');
	            var date1day = date1.substring(0, d11); // get the day for the date1
	            var date1str1 = date1.substring(d11+1, date1.length);
	            var d12= date1str1.indexOf('-');
	            var date1month = date1str1.substring(0, d12); // get the month for date1
	            
	            if(date1month=="01"){ date1month="January"; }
	            if(date1month=="02"){ date1month="February"; }
	            if(date1month=="03"){ date1month="March"; }
	            if(date1month=="04"){ date1month="April"; }
	            if(date1month=="05"){ date1month="May"; }
	            if(date1month=="06"){ date1month="June"; }
	            if(date1month=="07"){ date1month="July"; }
	            if(date1month=="08"){ date1month="August"; }	            
	            if(date1month=="09"){ date1month="September"; }
	            if(date1month=="10"){ date1month="October"; }
	            if(date1month=="11"){ date1month="November"; }
	            if(date1month=="12"){ date1month="December"; }
	            
	            var date1str1 = date1str1.substring(d12+1, date1.length);
	            var d13= date1str1.length;
	            var date1year = date1str1.substring(0, d13);	// get the year for the date1
	            
	            var d21= date2.indexOf('-');
	            var date2day = date2.substring(0, d21); // get the day for the date2
	            var date2str1 = date2.substring(d21+1, date2.length);
	            var d22= date2str1.indexOf('-');
	            var date2month = date2str1.substring(0, d22); // get the month for date2            
	            
	            if(date2month=="01"){ date2month="January"; }
	            if(date2month=="02"){ date2month="February"; }
	            if(date2month=="03"){ date2month="March"; }
	            if(date2month=="04"){ date2month="April"; }
	            if(date2month=="05"){ date2month="May"; }
	            if(date2month=="06"){ date2month="June"; }
	            if(date2month=="07"){ date2month="July"; }
	            if(date2month=="08"){ date2month="August"; }	            
	            if(date2month=="09"){ date2month="September"; }
	            if(date2month=="10"){ date2month="October"; }
	            if(date2month=="11"){ date2month="November"; }
	            if(date2month=="12"){ date2month="December"; }	            
	            
	            var date2str1 = date2str1.substring(d22+1, date2.length);
	            var d23= date2str1.length;
	            var date2year = date2str1.substring(0, d23);	// get the year for the date2  
	            document.getElementById('datepicker1').innerHTML = date1month +" "+ date1year + "," + " " + date1day;
	            document.getElementById('datepicker2').innerHTML = date2month +" "+ date2year + "," + " " + date2day;
			{% else %}
				document.getElementById('datepicker2').innerHTML = today_month + " " + today_date + "," + " " + today_year; //datepicker2
				//document.getElementById('datepicker1').innerHTML = '{{start_date}}'; //datepicker1
				document.getElementById('datepicker1').innerHTML = sdmonth + " " + sddate + "," + " " + sdyear; // datepicker1
			{% endif %}
			
            	    
	    }	
			
		//<!-- For Search's drop-down list -->
	
	function Inint_AJAX() {
        try { return new ActiveXObject("Msxml2.XMLHTTP");  } catch(e) {} //IE
        try { return new ActiveXObject("Microsoft.XMLHTTP"); } catch(e) {} //IE
        try { return new XMLHttpRequest();          } catch(e) {} //Native Javascript
        alert("XMLHttpRequest not supported");
        return null;
        };
       
	function regionSelect() {
		url = "./?state="+$("#stateId").val(){% if from_date and to_date %}+"&from_date={{from_date}}&to_date={{to_date}}"{%endif%};
		if(!($("#districtId").attr("disabled"))) {
			url += "&district="+$("#districtId").val();
		}
		if(!($("#blockId").attr("disabled"))) {
			url += "&block="+$("#blockId").val();
		}
		if(!($("#villageId").attr("disabled"))) {
			url += "&village="+$("#villageId").val();
		}
			
		window.location.href = url;
	}
	
	
	    function Apply(){
	    
	        var date1 = document.getElementById('inlinedatepicker1').innerHTML;
	        var date2 = document.getElementById('inlinedatepicker2').innerHTML;	        
	        if(date1.length==40 || date2.length==40){	 
	           document.getElementById('inlinedatepickererrormsg').innerHTML = "You have not chosen the dates";          
	             	                        
	        }
	        else{
	            
				window.location.href = '/output/video/module/{{geog}}/{{id}}/?from_date='+date1+'&to_date='+date2;
	        } // end else

	    }
		
		
		 function dochange(src, val) {
        var req = Inint_AJAX();
        req.onreadystatechange = function () {
         if (req.readyState==4) {
              if (req.status==200) {
              		elemId = src+"Id"
              		var flag = false;
					$(".select").each(function() {
						if(flag == true){
							this.value = -1
							this.disabled = true;
						}
						if (this.name == src) {
							flag = true;
						}
					
					});
				   document.getElementById(elemId).disabled = false;
                   document.getElementById(elemId).innerHTML=req.responseText; //retuen value
              }
         }
        };
        req.open("GET", "/output/dropdownval/?geog="+src+"&id="+val); //make connection
        req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=iso-8859-1"); // set Header
        req.send(null); //send value
        }
       
        window.onLoad=dochange('state', -1);         // value in first dropdown
	</script>
</head>

<body id='mainbody' onload='Default()'>
<table>
	<tr>
		<td valign="top">
		<div id="navigation" style="-moz-border-radius: 10px 10px 10px 10px;">
		 	<div class="nav_1" style="margin-left:5px; margin-top:20px">
				<a href="">Overview</font> </a>
			</div>
			<div class="nav_1" style="margin-left:5px;">
				<a href=""> Video analytics </a>
			</div>
		</div>
		</td>
	<td>	
 <div id='tablegrid'> 	
	<!-- <div id='defaultheader'> </div>  -->
	

	
	<div id='default'>		
		
		<div id='gridfooter'>
		        <div id="dglogo"> 		            
		        </div>		        		
		        <div id='timeline'>
					<div id='timelinedesc'>
					    <div id='datepicker1'/></div>
						<div id='datepickergap'> &nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;&nbsp; </div>
						<div id='datepicker2'> </div>
						<div id='datepicker12reset'> <a id = 'resetdate' href='/output/video/module/{{geog}}/{{id}}/'>Reset</a> </div>
						<div id='timelinedescfooter'>
							Above are the pre-chosen dates. Customize your own range of timeline  	
						</div>
						<div id='timelinedescfooter1'>												 			
						</div>
				</div>					
				        				    
				<div id='timelinedesc1'>
						    <div id='timelinedesc1btntop'>
							    hide &nbsp; &nbsp; 
						    </div>
						    <div id='timelinedesc1calender'>						        
						    </div>						    
						    <div id='inlinedatepickerheader'>
						        Choose the range of timeline<br />&nbsp;&nbsp;from the calenders at the left
						    </div>
						    <div id='inlinedatepicker1desc'>
						        from: 
						    </div>						
						    <div id='inlinedatepicker1'>						       												    				  							
						    </div>
						    <div id='inlinedatepicker1format'>
						        (dd-mm-yyyy) 
						    </div>						
						    <div id='inlinedatepicker2desc'>
						        to:
						    </div>													
						    <div id='inlinedatepicker2'>												    				  							
						    </div>
						    <div id='inlinedatepicker2format'>
						        (dd-mm-yyyy) 
						    </div>
						    <div id='inlinedatepickersubmitbtn'>
						        <input type="submit" value="Apply" onclick='Apply()'/>
						    </div>
						    <div id='inlinedatepickerresetbtn'>
						        <input type="reset" value="Reset" onclick='Reset()'/>
						    </div>
						    <div id='inlinedatepickererrormsg'>
						    </div>
						   
						    <div id='inlinedatepickerbg'>
						        <div id='inlinedatepicker1-container'>
						        </div>	
						        <div id='inlinedatepickerdiv'>
						            __
						        </div>					    
						        <div id='inlinedatepicker2-container'>
						        </div>
						    </div>								
				</div>
	    </div>	
		
		<div id='searchbodytitle'> Customize your Search </div>
	    <div id='searchbodytitleimg'> </div>
		
		<div id='searchbody'>			
			<div id='searchlevel'>
			
			    <div class='searchbody1' id='state'>
				    <select class='select' name='state' id = 'stateId' onChange="dochange('district', this.value)">
					    <option value='-1'>Select State</option>
				    </select>				
				</div>

				<div class='searchbody1' id='district'>
				    <select class='select' name='district' id = 'districtId' onChange="dochange('block', this.value)">
					    <option value='-1'>Select District</option>
				    </select>	
				</div>

				<div class='searchbody1' id='block'>
				    <select class='select' name='block' id = 'blockId' onChange="dochange('village', this.value)">
					    <option value='-1'>Select Block</option>
				    </select>				
				</div>			

				<div class='searchbody1' id='village'>
				    <select class='select' name='village' id = 'villageId'>
					    <option value='-1'>Select Village</option>
				    </select>					
				</div>

				<div id='searchbody5'>
					<input id='Submit1' type='submit' onclick="regionSelect()" value="GO">
				</div> 						
		    </div> <!-- search level-->
	    </div>	<!-- searchbody-->		    
	    
	    <div id="analyticstitle"> Video Analytics </div>
	    <div id='table1'>
		    <div id='table1div1'>
		        <div id='table1desc'>Total Number of Videos Produced </div> 
		        <div id='table1val'>  {{tot_video}} videos </div>
		        
		    </div>
		    
		    <div id='table1div2'>
		        <div id='table1desc'>Total Number of distinct Videos Screened</div> 
		        <div id='table1val'> {{tot_screening}} videos  </div>
		    </div>
		    
		    <div id='table1div3'>
		        <div id='table1desc'>Average Time Taken to Produce a Video</div> 
		        <div id='table1val'> {{tot_average}} days</div>
		    </div>  		    		
		</div>	   
	    				
		<table cellpadding="0px" cellspacing="0px" border="0" id="graphtable">
			<tr>
				<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" > Videos per Geography </div>
							</div>
							<div class="graphdiv1desc" id="flash_area_geogwise_pie">								
							</div>												
						</div>
						
						<div id="graphdiv1">
							<div id="graphdiv1title"> <div id="graphdiv1titledesc" >  Video Production per Month</div>	
							</div>
							<div class="graphdiv1desc" id="flash_area_monthwise_bar">								
							</div>						
						</div>					
				</td>
			</tr>
			<tr>
				<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >	Video Production over Time </div>	
							</div>
							<div class="graphdiv1desc" id = "flash_area_vid_prod_time">						
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >   Videos per Practice </div>	
							</div>
							<div class="graphdiv1desc" id = "flash_area_practice_type_scatter" >
							</div>						
						</div>					
				</td>
			</tr>
			<tr>
				<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">	
								<div id="graphdiv1titledesc" >	Videos per Language  </div>
							</div>
							<div class="graphdiv1desc" id = "flash_area_language_scatter" >
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >	Videos per Type</div>
							</div>
							<div class="graphdiv1desc" id = "flash_area_video_type_pie" >
							</div>						
						</div>					
				</td>
			</tr>
		</table>
		
		<table cellpadding="0px" cellspacing="0px" border="0" id="graphtable0">
			<tr>
				<td id="graphtabletd0">
					<div id="graphdiv0">
							<div id="graphdiv0title">
								<div id="graphdiv0titledesc1" >	Videos per Gender </div>
								<div id="graphdiv0titledesc2" > </div>
								<div id="graphdiv0titledesc3" >	Videos per Actor </div>
							</div>	
							<div id="graphdiv0desc">
								<div class="subgraphdiv0desc1" id="flash_area_mf_ratio" > </div>
								<div class="subgraphdiv0desc2" > </div>
								<div class="subgraphdiv0desc3" id="flash_area_actor_ratio"> </div>								
							</div>																													
					</div>				
				</td>
			</tr>			
		</table>
				    	    	
    </div>	<!-- default-->				
</div>  <!-- tablegrid-->
 </td></tr></table>
<script type="text/javascript">
		// <![CDATA[		
	
	var male_female_pie = new SWFObject("/media/Output/ampie/ampie.swf", "mfratio_pie", "420", "300", "8", "#FFFFFF");
	male_female_pie.addVariable("path", "/media/Output/ampie/");
	male_female_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml"))	// you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}// you can set two or more different settings files here (separated by commas)
		male_female_pie.addVariable("data_file", encodeURIComponent("/output/video/mfpie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		male_female_pie.addVariable("data_file", encodeURIComponent("/output/video/mfpie/{{geog}}/{{id}}/"));
	{% endif %}
	
	male_female_pie.write("flash_area_mf_ratio");
			
	
	var actor_wise_pie = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", "420", "300", "8", "#FFFFFF");
	actor_wise_pie.addVariable("path", "/media/Output/ampie/");
	actor_wise_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml"));                // you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}// you can set two or more different settings files here (separated by commas)
		actor_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/actorpie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		actor_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/actorpie/{{geog}}/{{id}}/"));
	{% endif %}
	actor_wise_pie.write("flash_area_actor_ratio");
	
	var monthbar = new SWFObject("/media/Output/amcolumn/amcolumn.swf", "amcolumn", "420", "300", "8", "#FFFFFF");
	monthbar.addVariable("path", "/media/Output/amcolumn/");
	monthbar.addVariable("settings_file", encodeURIComponent("/media/Output/amcolumn/amcolumn_settings.xml"));
	var additional_chart_settings = '';

	{% if from_date and to_date %}
		monthbar.addVariable("data_file", encodeURIComponent("/output/video/monthbar/data/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		monthbar.addVariable("data_file","/output/video/monthbar/data/{{geog}}/{{id}}/");
	{% endif %}

	{% if from_date and to_date %}
		var additional_chart_settings= $.ajax({ type: "GET", url: "/output/video/monthbar/settings/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}", async: false }).responseText;
	{% else %}
		var additional_chart_settings= $.ajax({ type: "GET", url: "/output/video/monthbar/settings/{{geog}}/{{id}}/", async: false }).responseText;
	{% endif %}

	monthbar.addVariable("additional_chart_settings", encodeURIComponent(additional_chart_settings));
	monthbar.addVariable("preloader_color", "#999999");
	monthbar.write("flash_area_monthwise_bar");

	var language = new SWFObject("/media/Output/amxy/amxy.swf", "amxy", "420", "400", "8", "#FFFFFF");
	language.addVariable("path", "/media/Output/amxy/");

	language.addVariable("settings_file", encodeURIComponent("/media/Output/amxy/amxy_settings.xml"));                    // you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}
		language.addVariable("data_file", encodeURIComponent("/output/video/languagescatter/data/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		language.addVariable("data_file", encodeURIComponent("/output/video/languagescatter/data/{{geog}}/{{id}}/"));
	{% endif %}

	language.write("flash_area_language_scatter");
	
	var geog_wise_pie = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", "420", "350", "8", "#FFFFFF");
	geog_wise_pie.addVariable("path", "/media/Output/ampie/");
	geog_wise_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml")); 
	{% if from_date and to_date %}
		geog_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/geogpie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		geog_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/geogpie/{{geog}}/{{id}}/"));
	{% endif %}
	geog_wise_pie.addVariable("additional_chart_settings", encodeURIComponent("<settings><legend><enabled>true</enabled></legend></settings>"));
	geog_wise_pie.write("flash_area_geogwise_pie");
	
	var type_wise_pie = new SWFObject("/media/Output/ampie/ampie.swf", "actor_pie", "420", "400", "8", "#FFFFFF");
	type_wise_pie.addVariable("path", "/media/Output/ampie/");
	type_wise_pie.addVariable("settings_file", encodeURIComponent("/media/Output/ampie/ampie_settings.xml")); 
	{% if from_date and to_date %}
		type_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/typepie/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		type_wise_pie.addVariable("data_file", encodeURIComponent("/output/video/typepie/{{geog}}/{{id}}/"));
	{% endif %}
	type_wise_pie.write("flash_area_video_type_pie");
	
	var practice = new SWFObject("/media/Output/amxy/amxy.swf", "amxy", "420", "400", "8", "#FFFFFF");
	practice.addVariable("path", "/media/Output/amxy/");

	practice.addVariable("settings_file", encodeURIComponent("/media/Output/amxy/amxy_settings.xml"));                    // you can set two or more different settings files here (separated by commas)
	{% if from_date and to_date %}
		practice.addVariable("data_file", encodeURIComponent("/output/video/practicescatter/{{geog}}/{{id}}/?from_date={{from_date}}&to_date={{to_date}}"));
	{% else %}
		practice.addVariable("data_file", encodeURIComponent("/output/video/practicescatter/{{geog}}/{{id}}/"));
	{% endif %}

	practice.write("flash_area_practice_type_scatter");
	
	var videoprod_line = new SWFObject("/media/Output/amline/amline.swf", "video_line_chart", "420", "400", "8", "#FFFFFF");
	
	videoprod_line.addVariable("path", "/media/Output/amline/");
	videoprod_line.addVariable("settings_file", encodeURIComponent("/media/Output/amline/amline_settings.xml"));                // you can set two or more different settings files here (separated by commas)
	videoprod_line.addVariable("data_file",'/output/overview/line/{{geog}}/{{id}}/?type=prod');
	videoprod_line.addVariable("additional_chart_settings", encodeURIComponent('<settings><graphs> \
						<graph gid="1"><title>Total Video Production</title><color>#FFCC00</color><balloon_text><![CDATA[{value}]]></balloon_text></graph> \
						</graphs></settings>'))
	videoprod_line.addVariable("chart_id", "video_line_chart");
	var from_date = null, to_date = null;
		{%if from_date and to_date %}
		function amChartInited(chart_id){	
		  flashMovie = document.getElementById(chart_id);	
		  
		  if(from_date!=null)
		  {
			//var arr = from_date.split('-');
			var zoom_from_date, zoom_to_date;
			
			if(new Date('{{from_date}}') > new Date(to_date))
				zoom_from_date = to_date
			else if(new Date(from_date) > new Date('{{from_date}}'))
				zoom_from_date = from_date;
			else 
				zoom_from_date = '{{from_date}}';
			
			if(new Date(to_date) < new Date('{{to_date}}'))
				zoom_to_date = to_date;
			else if(new Date('{{to_date}}') < new Date(from_date))
				 zoom_to_date = from_date;
			else
				zoom_to_date = '{{to_date}}';
		  
			flashMovie.setZoom(zoom_from_date,zoom_to_date);
		  
		 }
		}
		function amGetZoom(chart_id, from, to, from_xid, to_xid){
		  if(from_date==null)
			from_date = from;
		  if(to_date==null)
			to_date = to;		      
		}
		{% endif %}
		
	
	videoprod_line.write("flash_area_vid_prod_time");

	
</script>

</body>
</html>
