{% extends "base_video.html" %}

{% block title %} DigitalGreen - Video Page{% endblock title%}


		{% block bodycontent%}
			<div id='contentdivtitle'>
				Vegetable Nursery Bed Preparation
			</div>
			<div id='partnertitle'>
				Access Development Services
			</div>
			<div id='contentdivleft'>
				<div id='novideoembed'>
					<div id='novideoembeddesc'>						 
						<img src='/media/Output/Images/novideoicon1.png' align="left"> 
						<div>Sorry! Video has not been uploaded yet.</div>						
					</div>
				</div>				
				<div id='videoembed'>					
					<script type="text/javascript">
						document.write("<table id='videoembedtable' cellspacing='0px' cellpadding='0'>");
							document.write("<tr><td id='videoembedtd'>");							
								document.write("<object width='100%' height='100%'>");
									document.write("<param value='http://www.youtube.com/v/sEhsp2Je9XQ?fs=1&amp;hl=en_US' name='movie'>");
									document.write("<param value='transparent' name='wmode'>");
									document.write("<param value='true' name='allowFullScreen'>"); 
									document.write("<param value='always' name='allowscriptaccess'>");
									document.write("<embed width='100%' height='400px' src='http://www.youtube.com/v/sEhsp2Je9XQ?fs=1&amp;hl=en_US' wmode='transparent' allowfullscreen='true' allowscriptaccess='always' type='application/x-shockwave-flash'>");
								document.write("</object>");							
							document.write("</tr></td>");	
						document.write("</table>");						 
					</script>
				</div>
				
				<table id='videodatadiv1' cellspacing='0px' cellpadding='0'>
					<tr>
						<td id='videodatadiv1td'>
							<div id='videodatadiv1div'>
								<span class='numberstyle'> {{tot_vid_scr}} </span> Dissemination{{tot_vid_scr|pluralize}}
								<div id='videodatadiv1help'>
									Total number of screenings of the video
								</div>
							</div>								
						</td>
						
						<td class='videodatadiv1tdspace'>							
						</td>
						
						<td id='videodatadiv1td'>
							<div id='videodatadiv1div'>
								<span class='numberstyle'> {{tot_vid_viewer}} </span> Viewer{{tot_vid_viewer|pluralize}}
								<div id='videodatadiv1help'>
									Total number of farmers who watched the video
								</div>
							</div>														
						</td>
						
						<td class='videodatadiv1tdspace'>							
						</td>
						
						<td id='videodatadiv1td'>
							<div id='videodatadiv1div'>
								<span class='numberstyle'> {{tot_vid_adopt}} </span> Adoption{{tot_vid_adopt|pluralize}}	
								<div id='videodatadiv1help'>
									Total number of adoptions caused by the video
								</div>								
							</div>															
						</td>						
					</tr>					
				</table>
				
				
				<table id='videodatadiv2' cellspacing='0px' cellpadding='0'>
					<tr>
						<td id='videodatadiv2td' onclick="javascript:displaydesc(1)">
							<div id='videodatadiv2div'>								
									Video Details  <img class='imgright' src='/media/Output/Images/videodetail1.png' alt='Video Details'>	</a> 								
							</div>								
						</td>
						
						<td class='videodatadiv2tdspace'>							
						</td>
						
						<td id='videodatadiv2td' onclick="javascript:displaydesc(2)">
							<div id='videodatadiv2div'>
								Pratices Shown  <img class='imgright' src='/media/Output/Images/practice1.png' alt='Video Details'> </a>								
							</div>														
						</td>
						
						<td class='videodatadiv2tdspace'>							
						</td>
						
						<td id='videodatadiv2td' onclick="javascript:displaydesc(3)">
							<div id='videodatadiv2div'>
								Video Summary <img class='imgright' src='/media/Output/Images/summary1.png' alt='Video Details'> </a>							
							</div>															
						</td>						
					</tr>
					<tr>
						<td colspan='5' id='videodatadiv2td1'>
							<div id='videodatadiv2divdesc'>
								<script type="text/javascript">	
									
									window.onload = function(){										
										var languagename = "{{vid.language.language_name}}";
										var villagename = "{{vid.village.village_name}}";
										var distname = "{{vid.village.block.district.district_name}}";
										var statename = "{{vid.village.block.district.state.state_name}}";
										var prodtime = "22 days";
										var prodenddate = "{{ vid.video_production_end_date|date:"d M Y" }}";	
										var practiceshown = "Seed Plantation";
										var summary = "The video content summary goes here"; 									
										displaynumstat(languagename,villagename,distname,statename,prodtime,prodenddate,practiceshown,summary);	
																																					
									}								
								</script>
								
								<div id='videodatadiv2divdesctop'></div>	
								<table id='videoinfotable' cellspacing='0px' cellpadding='0'>
									<tr>
										<td class='videoinfotd1'> Video Language: {{vid.language.language_name}} </td>
										<td class='videoinfotd2'> Village: {{vid.village.village_name }} </td>
									</tr>
									<tr>
										<td class='videoinfotd1'> District: {{vid.village.block.district.district_name}} </td>
										<td class='videoinfotd2'> State: {{vid.village.block.district.state.state_name}} </td>
									</tr>
									<tr>
										<td class='videoinfotd1'> Production Duration: 22 days </td>
										<td class='videoinfotd2'> Produced On: {{ vid.video_production_end_date|date:"d M Y" }} </td>
									</tr>									
								</table>															
							</div>													
						</td>
					</tr>					
				</table>				
				
				<table id='videodatadiv3' cellspacing='0px' cellpadding='0'>
					<tr>
						<td id='videodatadiv3td1'>
							<div id='videodatadiv2div'>								
									Production Stat  <img class='imgright' src='/media/Output/Images/bargraphicon1.png' alt='Video Details'>							
							</div>								
						</td>	
						<td id='videodatadiv3td2'>
							<div id='videodatadiv3div'>	
								Bar Graph showing month wise production of the Video 
							</div>
						</td>										
					</tr>
					<tr>
						<td id='videodatadiv3td3' colspan='2'>
							<div id='videodatadiv3divdesc'>								
									{% for actor in actors.actors %}{{actor.person_name}}<br>{% endfor %}
							</div>								
						</td>
					</tr>									
				</table>
								
				<table id='videodatadiv3' cellspacing='0px' cellpadding='0'>
					<tr>
						<td id='videodatadiv3td1'>
							<div id='videodatadiv2div'>								
									Farmer Actors  <img class='imgright' src='/media/Output/Images/farmeractor1.png' alt='Video Details'>							
							</div>								
						</td>	
						<td id='videodatadiv3td2'>
							<div id='videodatadiv3div'>	
								{{actors.tot_actors}} farmer{{actors.tot_actors|pluralize:" is,s are"}} featured in the video: &nbsp; &nbsp;{% if actors.M %}{{ actors.M }} Male{{actors.M|pluralize}}{%if actors.F %} and {% endif %}{% endif %}{% if actors.F %}{{ actors.F }} Female{{actors.F|pluralize}}{% endif %}
							</div>
						</td>										
					</tr>
					<tr>
						<td id='videodatadiv3td3' colspan='2'>
							<div id='videodatadiv3divdesc'>								
									{% for actor in actors.actors %}{{actor.person_name}}<br>{% endfor %}
							</div>								
						</td>
					</tr>									
				</table>
				<table id='videodatadiv3' cellspacing='0px' cellpadding='0'>
					<tr>
						<td id='videodatadiv3td1'>
							<div id='videodatadiv2div'>								
									Questions Asked  <img class='imgright' src='/media/Output/Images/question1.png' alt='Video Details'>							
							</div>								
						</td>	
						<td id='videodatadiv3td2'>
							<div id='videodatadiv3div'>	
								{{ques|length}} Question{{ques|length|pluralize}} asked in total
							</div>
						</td>										
					</tr>
					<tr>
						<td id='videodatadiv3td3' colspan='2'>
							<div id='videodatadiv3divdesc'>								
									{% for que in ques %}{{ forloop.counter }}.&nbsp;{{que.1}}<br/><br/>{%endfor%} 																
							</div>								
						</td>
					</tr>									
				</table>
				
				<table id='videodatadiv4' cellspacing='0px' cellpadding='0'>
					<tr>
						<td>
							
						</td>
					</tr>					
				</table>				
			</div>
			
			<div id='contentdivright'>
				<div id='contentdivrighttitle'>
					Suggestions
				</div>
				<div id='contentdivrightdesc'>
					<script type="text/javascript">
						var count = 8;
						var i;
						var prac="Plantation";
						document.write("<table id='contentdivrighttable' cellspacing='0' cellpadding='0'>");
							for(i=0;i<count;i++) 
							{
								document.write("<tr><td id='contentdivrighttd'  cellspacing='0' cellpadding='0'>");
									document.write("<div id='contentdivrighttddiv1'>");
										document.write("<a href='#'>" + "<img src='/media/Output/Images/videothumbnail2.png' alt='' width='90px' height='70px'>" + "</a>");
									document.write("</div>");
									document.write("<div id='contentdivrighttddiv2'>");
										document.write("<div id='contentdivrighttddiv21'>");
											document.write("<a class='videotitlelinks' href='#'>" + "Vegetable Nursery Padding" + "</a>");
										document.write("</div>");											
										document.write("<div id='contentdivrighttddiv22'>");
											document.write(prac);
										document.write("</div>");
										document.write("<div id='contentdivrighttddiv22'>");
											document.write("2200 viewers");
										document.write("</div>");				
									document.write("</div>");						
								document.write("</td></tr>");
							}
						document.write("</table>");
						
					</script>
				</div>
			</div>			
		{% endblock bodycontent%}
