{% extends "base_analytics.html" %}

{% block title %} Digital Green  - Production Statistics{% endblock %}

{% block cssfile %}  
    {{block.super}}   
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/production.css' />
{% endblock cssfile %}

{% block jsfile %}  
    {{block.super}}
    <script type="text/javascript" src="/media/Output/ampie/swfobject.js"></script>
	<script type="text/javascript" src="/media/Output/amcolumn/swfobject.js"></script>
	<script type="text/javascript" src="/media/Output/amxy/swfobject.js"></script>
    <script type="text/javascript" src="/media/Output/JS/Jexpandview.js"></script>          
{% endblock jsfile %}	

{% block analyticsbreadcrums %} 	
	{{block.super}}
	/ <span style='font-size:0.9em; font-weight:bold;'> Production Statistics </span>	
{% endblock analyticsbreadcrums %}

	{% block contentbody %}
		{{block.super}}		
		<div id='contentstat'>	
			<div id='table1'>
				<div id='divstattitle'>
					<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
						<tr>
							<td class='divtitletablename'> <div id='divstattitlename'>Key Statistics</div> </td>
							<td class='divtitletableimg'>  </td>
						</tr>
					</table>								
				</div>
				<table id='table1stat' cellspacing='0' cellpadding='0'> 				
					<tr>
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total number of videos produced	</div>
								<div id='statdescimg'> 	
									<div id='statdescimg1'>	
										The total number of videos that have been <br/>
										produced across in a chosen geography						
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_video}} videos	</div>
							</div>																				
						</td>
						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Total number of distinct videos screened	</div>
								<div id='statdescimg'> 
									<div id='statdescimg1'>	
										The total number of videos that have <br/>
										been screened to the farmer groups						
									</div>								
								</div>
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_vids_screened}} videos	</div>
							</div>													
						</td>
						
						<td class='table1statdesc'>
							<div class='statdesc'>
								<div class='statdescname'>	Average time taken to produce a video	</div>
								<div id='statdescimg'>
									<div id='statdescimg1'>	
										Average time takento produce a<br/> 
										video in a particular geography	 					
									</div>									 									
								</div>																
							</div>
							<div class='statnumber'>
								<div class='statdesnumber'>	{{tot_average|floatformat:2|default:'0'}} days	</div>
							</div>																			
						</td>
						
					</tr>
					
				</table>				
			</div>					
		</div>
		
		<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>Graphs</div> </td>
					<td class='divtitletableimg'>  </td>
				</tr>
			</table>								
		</div>
				
		<div id='contenttable'>	
			<table cellpadding="0" cellspacing="0" border="0" id="graphtable">
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Geographic distribution of Videos </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_geog_pie_chart,"Geographic distribution of Videos")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>
							</div>
							<div class="graphdiv1desc" id="javascript_geogwise_pie">								
							</div>												
						</div>
						
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos Produced per Month </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_monthwise_column_chart,"Videos Produced per Month")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>															
							</div>
							<div class="graphdiv1desc" id="javascript_monthwise_column">								
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos Produced over Time </div>

									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_total_line_chart,"Videos Produced over Time")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>	
							</div>
							<div class="graphdiv1desc" id = "javascript_total_line">						
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title"> 
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos per Practice </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_practice_bubble_chart,"Videos per Practice")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	

								</div>									
							</div>
							<div class="graphdiv1desc" id = "javascript_practice_bubble" >
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos per Language </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_language_bubble_chart,"Videos per Language")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "javascript_language_bubble" >
							</div>						
						</div>
						<div id="graphdiv1">
							<div id="graphdiv1title">
								<div id="graphdiv1titledesc" >									
									<div id="subgraphdiv1titledesc1"> Videos per Type </div>
									<div id="subgraphdiv1titledesc2"> <a href='javascript:zoomIn(exp_type_pie_chart,"Videos per Type")'> <img src="/media/Output/Images/zoomicon1.png" title='Zoom In'> </a> </div>	
								</div>								
							</div>
							<div class="graphdiv1desc" id = "javascript_type_pie" >
							</div>						
						</div>					
					</td>
				</tr>
				<tr>
					<td id="graphtabletd">					
						<div id="graphdiv0">
							<div id="graphdiv0title">
								<div id="graphdiv0titledesc1" >	Videos per Gender </div>
								<div id="graphdiv0titledesc2" > </div>
								<div id="graphdiv0titledesc3" >	Videos per Actor </div>
							</div>	
							<div id="graphdiv0desc">
								<div class="subgraphdiv0desc1" id="javascript_gender_pie" > </div>
								<div class="subgraphdiv0desc2" > </div>
								<div class="subgraphdiv0desc3" id="javascript_actor_pie"> </div>								
							</div>																													
						</div>					
					</td>
				</tr>
			</table>				
		</div>

<div> 
    <div id="expandview1">        
    </div>       
    <div id="expandview3">    	
    	<div id="expandviewtitle"></div>
    	<div id="expandviewclosebtn" title="Close"></div>    
        <div class="expandviewchart" id="expandview4">        	
        </div>
        <br/>     
    </div>
</div> 

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/media/Output/JS/video_module.js"></script>

{% endblock contentbody %}

	