{% extends "base_video.html" %}

{% block jsfile %}
    <script> function init_box_params() {} </script>
    {{ block.super }}
{% endblock jsfile %}

{% block pagetitle %}{{block.super}} Video Page{% endblock pagetitle %}

{% block videobreadcrums %}
	<a href='/analytics/video_search'>Search Videos</a> / 
	<span style="font-weight: bold;"> Video Page</span>			
{% endblock videobreadcrums %}	

{% block title %} DigitalGreen - Video Page{% endblock title%}

{% block videobodycontent%}
			<div id='contentdivtitle'>
				{{vid.title}}
			</div>
			<div id='partnertitle'>
				{{vid.village.block.district.partner.partner_name}}
			</div>
			<div id='contentdivleft'>
			    {% if vid.youtubeid %}
				<div id='videoembed'>                   
                    <script type="text/javascript">
                        document.write("<table id='videoembedtable' cellspacing='0px' cellpadding='0'>");
                            document.write("<tr><td id='videoembedtd'>");                           
                                document.write("<object width='100%' height='100%'>");
                                    document.write("<param value='http://www.youtube.com/v/{{vid.youtubeid}}?fs=1&amp;hl=en_US' name='movie'>");
                                    document.write("<param value='transparent' name='wmode'>");
                                    document.write("<param value='true' name='allowFullScreen'>"); 
                                    document.write("<param value='always' name='allowscriptaccess'>");
                                    document.write("<embed width='100%' height='400px' src='http://www.youtube.com/v/{{vid.youtubeid}}?fs=1&amp;hl=en_US' wmode='transparent' allowfullscreen='true' allowscriptaccess='always' type='application/x-shockwave-flash'>");
                                document.write("</object>");                            
                            document.write("</tr></td>");   
                        document.write("</table>");                      
                    </script>
                </div>
                {% else %}
				<div id='novideoembed'>
					<div id='novideoembeddesc'>					 
						<div>Sorry! Video has not been uploaded yet.</div>						
					</div>
				</div>				
				{% endif %}
				<div id='videodatadiv0'>
					<span class='smallfont'>{{vid.village.block.district.partner.partner_name}}  &nbsp; | &nbsp; {{ vid.video_production_end_date|date:"d M Y" }} </span>
				</div>
				
				<table id='videodatadiv1' cellspacing='0px' cellpadding='0'>
					<tr>
						<td id='videodatadiv1td'>
							<div id='videodatadiv1div'>
								<span class='numberstyle'> {{tot_vid_scr}} </span> Dissemination{{tot_vid_scr|pluralize}}
								<div id='videodatadiv1help'>
									Total number of screenings of the video
								</div>
							</div>								
						</td>
						
						<td class='videodatadiv1tdspace'>							
						</td>
						
						<td id='videodatadiv1td'>
							<div id='videodatadiv1div'>
								<span class='numberstyle'> {{vid.viewers}} </span> Viewer{{vid.viewers|pluralize}}
								<div id='videodatadiv1help'>
									Total number of farmers who watched the video
								</div>
							</div>														
						</td>
						
						<td class='videodatadiv1tdspace'>							
						</td>
						
						<td id='videodatadiv1td'>
							<div id='videodatadiv1div'>
								<span class='numberstyle'> {{tot_vid_adopt}} </span> Adoption{{tot_vid_adopt|pluralize}}	
								<div id='videodatadiv1help'>
									Total number of adoptions caused by the video
								</div>								
							</div>															
						</td>						
					</tr>					
				</table>
				
				
				<table id='videodatadiv2' cellspacing='0px' cellpadding='0'>
					<tr>
						<td id='videodatadiv2td' onclick="javascript:displaydesc(1)">
							<div id='videodatadiv2div'>								
									Video Details  <img class='imgright' src='/media/Output/Images/videodetail1.png' alt='Video Details'>	</a> 								
							</div>								
						</td>
						
						<td class='videodatadiv2tdspace'>							
						</td>
						
						<td id='videodatadiv2td' onclick="javascript:displaydesc(2)">
							<div id='videodatadiv2div'>
								Video Summary <img class='imgright' src='/media/Output/Images/summary1.png' alt='Video Summary'> </a>																
							</div>														
						</td>
						
						<td class='videodatadiv2tdspace'>							
						</td>
						
						<td id='videodatadiv2td'>
							<div id='videodatadiv2div'>															
							</div>															
						</td>						
					</tr>
					<tr>
						<td colspan='5' id='videodatadiv2td1'>
							<div id='videodatadiv2divdesc'>
								<script type="text/javascript">	
									
									window.onload = function(){										
										var languagename = "{{vid.language.language_name}}";
										var villagename = "{{vid.village.village_name}}";
										var distname = "{{vid.village.block.district.district_name}}";
										var statename = "{{vid.village.block.district.state.state_name}}";
										var prodtime = "{{vid.prod_duration.days}} day{{vid.prod_duration.days|pluralize}}";
										var prodenddate = "{{ vid.video_production_end_date|date:"d M Y" }}";
										var farmerquant = "Farmer" + "{{actors.tot_actors|pluralize}}";
										var farmeractor = "{% for actor in actors.actors %}{{actor.person_name.upper}} {% endfor %}";	
										var practiceshown = "{%for prac in vid.related_agricultural_practices.all%}{{prac.practice_name}}{%if not forloop.last%}, {%endif%}{%endfor%}.";
										practiceshown = practiceshown.toUpperCase(practiceshown);
										var summary = "{{vid.summary|escapejs}}"; 	
										summary = summary.toUpperCase(summary);								
										displaynumstat(farmerquant,languagename,villagename,distname,statename,prodtime,prodenddate,farmeractor,practiceshown,summary);	
																																					
									}								
								</script>
								
								<div id='videodatadiv2divdesctop'></div>	
								<table id='videoinfotable' cellspacing='0px' cellpadding='0'>
									<tr>
										<td class='videoinfotd1span' colspan='2'> Farmer{{actors.tot_actors|pluralize}}: {% for actor in actors.actors %}{{actor.person_name.upper}} {% endfor %}      </td>										
									</tr>
									<tr>
										<td class='videoinfotd1span' colspan='2'> Practices Shown: {%for prac in vid.related_agricultural_practices.all%}{{prac.practice_name.upper}}{%if not forloop.last%}, {%endif%}{%endfor%} </td>
									</tr>
									<tr>
										<td class='videoinfotd1'> Language: {{vid.language.language_name}} </td>
										<td class='videoinfotd2'> Village: {{vid.village.village_name }} </td>
									</tr>
									<tr>
										<td class='videoinfotd1'> District: {{vid.village.block.district.district_name}} </td>
										<td class='videoinfotd2'> State: {{vid.village.block.district.state.state_name}} </td>
									</tr>
									<tr>

										<td class='videoinfotd1'> Production Duration: {{vid.prod_duration.days}} day{{vid.prod_duration.days|pluralize}} </td>

										<td class='videoinfotd2'> Produced On: {{ vid.video_production_end_date|date:"d M Y" }} </td>
									</tr>
									<tr>

										<td class='videoinfotd1'> Camera Operator: {{vid.cameraoperator.name}} </td>

										<td class='videoinfotd2'> Facilitator: {{vid.facilitator.name}} </td>
									</tr>																		
								</table>															
							</div>													
						</td>
					</tr>					
				</table>				
				
				<table id='videodatadiv3' cellspacing='0px' cellpadding='0'>
					<tr>
						<td id='videodatadiv3td1'>
							<div id='videodatadiv2div'>								
									Screening Stats  <img class='imgright' src='/media/Output/Images/bargraphicon1.PNG' alt='Video Details'>							
							</div>								
						</td>	
						<td id='videodatadiv3td2'>
							<div id='videodatadiv3div'>	
								Bar Graph showing month wise screening of the Video 
							</div>
						</td>										
					</tr>
					<tr>
						<td id='videodatadiv3td3' colspan='2'>
							<div id='bar_graph'>
							</div>								
						</td>
					</tr>									
				</table>
				
				<table id='videodatadiv3' cellspacing='0px' cellpadding='0'>
					<tr>
						<td id='videodatadiv3td1'>
							<div id='videodatadiv2div'>	
								Questions Asked  <img class='imgright' src='/media/Output/Images/question1.png' alt='Video Details'>							
							</div>								
						</td>	
						<td id='videodatadiv3td2'>
							<div id='videodatadiv3div'>	
								{{ques|length}} Question{{ques|length|pluralize}} asked in total
							</div>
						</td>										
					</tr>
					<tr>
						<td id='videodatadiv3td3' colspan='2'>
							<div id='videodatadiv3divdesc'>
								<table id='questiontable' cellspacing='0px' cellpadding='0'>
									{% for que in ques %}									 
										<tr class="{% cycle row1,row2 %}">
											<td id='questiontabletd1'>	
												{{que.1.person__person_name.upper}} &nbsp;|&nbsp; {{que.1.screening__date|date:"d M Y"}}																		
											</td>
											<td id='questiontabletd2' rowspan='2'>												
												{{que.1.expressed_question}}																					
											</td>
										</tr>
										<tr class="{% cycle row1,row2 %}">
											<td id='questiontabletd1'>																								
												<span class='smallfont'> {{que.1.person__village__block__district__district_name}}, {{que.1.person__village__block__district__state__state_name}} </span>
																									
											</td>
										</tr>
										<tr class="{% cycle row1,row2 %}">
											<td id='questiontabletd3' colspan='2'>
												<div id='questiontabletd3div'>
												</div>
											</td>
										</tr>
									{%endfor%}
								</table>
							</div>								
						</td>
					</tr>									
				</table>
				
				<table id='videodatadiv4' cellspacing='0px' cellpadding='0'>
					<tr>
						<td>
							
						</td>
					</tr>					
				</table>				
			</div>
			
			<div id='contentdivright'>
				<div id='contentdivrighttitle'>
					Suggestions
				</div>
				<div id='contentdivrightdesc'>
				    <table id='contentdivrighttable' cellspacing='0' cellpadding='0'>
						{% for v in rel_vids %}
						      <tr><td id='contentdivrighttd'  cellspacing='0' cellpadding='0'>
                                    <div id='contentdivrighttddiv1'>
                                        <a href='../video/?id={{v.id}}'>{% if v.youtubeid %}<img src='http://img.youtube.com/vi/{{v.youtubeid}}/default.jpg' class="videothumbnail">{%else%}<img src='/media/Output/Images/videothumbnail2.png' alt='' width='90px' height='70px'>{%endif%}</a>
                                    </div>
                                    <div id='contentdivrighttddiv2'>
                                        <div id='contentdivrighttddiv21'>
                                            <a class='videotitlelinks' href='../video/?id={{v.id}}'>{{v.title|title}}</a>
                                        </div>                                           
                                        <div id='contentdivrighttddiv22'>
                                           {%for prac in v.related_agricultural_practices.all%}{{prac.practice_name}}{%if not forloop.last%}, {%endif%}{%endfor%};
                                        </div>
                                        <div id='contentdivrighttddiv22'>
                                            {{v.viewers}} viewer{{v.viewers|pluralize}}
                                        </div>               
                                    </div>                       
                                </td></tr>
                         {%empty%}
                            <tr><td>None</td></tr>
                         {%endfor%}
					</table>
				</div>
			</div>
			
	<script type="text/javascript" src="/media/Output/JS/jsapi.js"></script>			
	<script>
    	google.load("visualization", "1", {packages:["corechart"]});
    	google.setOnLoadCallback(bar_chart);
    	function bar_chart() {
    		$.getJSON('/analytics/video_screening_month_bar_data/?id={{vid.id}}', function(json){
    			var data = google.visualization.arrayToDataTable(json,false);

    			var column_options={colors: ['#ced916','#7edc32','#26d52f','#05f866','#f9c423','#3bfaab'],
    					bar : {groupWidth: '80%'}};

    			var chart = new google.visualization.ColumnChart(document.getElementById('bar_graph'));
    			chart.draw(data, column_options);
    		});
    	}

    </script>
    
{% endblock videobodycontent%}
