<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to the Digital Green</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
       
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/StyleSheet.css' />
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/jquery.calendar.css'  media="screen" />        
    
           
    <script type="text/javascript" src="/media/Output/JS/jquery-1.3.2.min.js"></script>    
    <script type="text/javascript" src="/media/Output/JS/jquery-easing-1.3.pack.js"></script>
	<script type="text/javascript" src="/media/Output/JS/jquery-ui-1.7.2.custom.min.js"></script>		
	<script type="text/javascript" language="javascript" src="/media/Output/JS/JGridPage.js"></script>  
	<script type="text/javascript" src="/media/Output/JS/jquery.calendar.js"></script>
	<script type="text/javascript" src="/media/Output/amline/swfobject.js"></script>
	
	<script type="text/javascript">
	    
	    function Default(){
	        var newdate = new Date();
	        var currentmonth = newdate.getMonth();
	        var month_name=new Array(12);
            month_name[0]="January"
            month_name[1]="February"
            month_name[2]="March"
            month_name[3]="April"
            month_name[4]="May"
            month_name[5]="June"
            month_name[6]="July"
            month_name[7]="August"
            month_name[8]="September"
            month_name[9]="October"
            month_name[10]="November"
            month_name[11]="December"
            today_month = month_name[currentmonth];
            today_date = newdate.getDate(); 
            today_year = newdate.getFullYear();
                         
            document.getElementById('datepicker2').innerHTML = today_month + " " + today_date + "," + " " + today_year; // default date for datepicker2
            	    
	    }	
	
	    function Apply(){
	    
	        var date1 = document.getElementById('inlinedatepicker1').innerHTML;
	        var date2 = document.getElementById('inlinedatepicker2').innerHTML;	        
	        if(date1.length==40 || date2.length==40){	 
	           document.getElementById('inlinedatepickererrormsg').innerHTML = "You have not chosen the dates";          
	             	                        
	        }
	        else{
	            var d11= date1.indexOf('-');
	            var date1day = date1.substring(0, d11); // get the day for the date1
	            var date1str1 = date1.substring(d11+1, date1.length);
	            var d12= date1str1.indexOf('-');
	            var date1month = date1str1.substring(0, d12); // get the month for date1
	            
	            if(date1month=="01"){ date1month="January"; }
	            if(date1month=="02"){ date1month="February"; }
	            if(date1month=="03"){ date1month="March"; }
	            if(date1month=="04"){ date1month="April"; }
	            if(date1month=="05"){ date1month="May"; }
	            if(date1month=="06"){ date1month="June"; }
	            if(date1month=="07"){ date1month="July"; }
	            if(date1month=="08"){ date1month="August"; }	            
	            if(date1month=="09"){ date1month="September"; }
	            if(date1month=="10"){ date1month="October"; }
	            if(date1month=="11"){ date1month="November"; }
	            if(date1month=="12"){ date1month="December"; }
	            
	            var date1str1 = date1str1.substring(d12+1, date1.length);
	            var d13= date1str1.length;
	            var date1year = date1str1.substring(0, d13);	// get the year for the date1
	            
	            var d21= date2.indexOf('-');
	            var date2day = date2.substring(0, d21); // get the day for the date2
	            var date2str1 = date2.substring(d21+1, date2.length);
	            var d22= date2str1.indexOf('-');
	            var date2month = date2str1.substring(0, d22); // get the month for date2            
	            
	            if(date2month=="01"){ date2month="January"; }
	            if(date2month=="02"){ date2month="February"; }
	            if(date2month=="03"){ date2month="March"; }
	            if(date2month=="04"){ date2month="April"; }
	            if(date2month=="05"){ date2month="May"; }
	            if(date2month=="06"){ date2month="June"; }
	            if(date2month=="07"){ date2month="July"; }
	            if(date2month=="08"){ date2month="August"; }	            
	            if(date2month=="09"){ date2month="September"; }
	            if(date2month=="10"){ date2month="October"; }
	            if(date2month=="11"){ date2month="November"; }
	            if(date2month=="12"){ date2month="December"; }	            
	            
	            var date2str1 = date2str1.substring(d22+1, date2.length);
	            var d23= date2str1.length;
	            var date2year = date2str1.substring(0, d23);	// get the year for the date2  
	            document.getElementById('datepicker1').innerHTML = date1month +" "+ date1day + "," + " " + date1year;
	            document.getElementById('datepicker2').innerHTML = date2month +" "+ date2day + "," + " " + date2year;
	            timelinedesc1close();
	            	           
	        } // end else
	    } // end Apply function
	    
	//<!-- For Search's drop-down list -->
	
	function Inint_AJAX() {
        try { return new ActiveXObject("Msxml2.XMLHTTP");  } catch(e) {} //IE
        try { return new ActiveXObject("Microsoft.XMLHTTP"); } catch(e) {} //IE
        try { return new XMLHttpRequest();          } catch(e) {} //Native Javascript
        alert("XMLHttpRequest not supported");
        return null;
        };
       
        function dochange(src, val) {
        var req = Inint_AJAX();
        req.onreadystatechange = function () {
         if (req.readyState==4) {
              if (req.status==200) {
              		elemId = src+"Id"
              		var flag = false;
					$(".select").each(function() {
						if(flag == true){
							this.value = -1
							this.disabled = true;
						}
						if (this.name == src) {
							flag = true;
						}
					
					});
				   document.getElementById(elemId).disabled = false;
                   document.getElementById(elemId).innerHTML=req.responseText; //retuen value
              }
         }
        };
        req.open("GET", "/output/dropdownval/?geog="+src+"&id="+val); //make connection
        req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=iso-8859-1"); // set Header
        req.send(null); //send value
        }
       
        window.onLoad=dochange('state', -1);         // value in first dropdown
    
	</script>

</head>

<body id='mainbody' onload='Default()'>
	<div id='tablegrid'> 				
		
	<div id='defaultheader'>
	</div>	
	<div id='default'>		
		
		<div id='gridfooter'>		
				<div id='timeline'>
					<div id='timelinedesc'>
						<div id='datepicker1'/> </div> 
						<div id='datepickergap'> &nbsp;&nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;&nbsp; </div>
						<div id='datepicker2'> </div>
						<div id='timelinedescfooter'>
							Above are the pre-chosen dates. Customize your own range of timeline  	
						</div>
						<div id='timelinedescfooter1'>												 			
						</div>
					</div>					
				</div>
				<div id='timelinedesc1'>
						    <div id='timelinedesc1btntop'>
							    hide &nbsp; &nbsp; 
						    </div>
						`   <div id='timelinedesc1calender'>						        
						    </div>						    
						    <div id='inlinedatepickerheader'>
						        Choose the range of timeline<br />&nbsp;&nbsp;from the calenders at the left
						    </div>
						    <div id='inlinedatepicker1desc'>
						        from: 
						    </div>						
						    <div id='inlinedatepicker1'>						       												    				  							
						    </div>
						    <div id='inlinedatepicker1format'>
						        (dd-mm-yyyy) 
						    </div>						
						    <div id='inlinedatepicker2desc'>
						        to:
						    </div>													
						    <div id='inlinedatepicker2'>												    				  							
						    </div>
						    <div id='inlinedatepicker2format'>
						        (dd-mm-yyyy) 
						    </div>
						    <div id='inlinedatepickersubmitbtn'>
						        <input type="submit" value="Apply" onclick='Apply()'/>
						    </div>
						    <div id='inlinedatepickererrormsg'>
						    </div>
						   
						<div id='inlinedatepickerbg'>
						    <div id='inlinedatepicker1-container'>
						    </div>	
						    <div id='inlinedatepickerdiv'>
						        __
						    </div>					    
						    <div id='inlinedatepicker2-container'>
						    </div>
						</div>								
				 </div>
		</div>
		
		
		<div id='searchbody'>
			<div id='searchbodytitle'>
				Customize your Search
			</div>
			<form id='levelsearch' action="" method="get">
				<div class='dropdown' id='state'>
				<select class='select' name='state' id = 'stateId' onChange="dochange('district', this.value)">
					<option value='-1'>Select State</option>
				</select>				
				</div>
				<div class='dropdown' id='district'>
				<select class='select' name='district' id = 'districtId' onChange="dochange('block', this.value)">
					<option value='-1'>Select District</option>
				</select>	
				</div>
				<div class='dropdown' id='block'>
				<select class='select' name='block' id = 'blockId' onChange="dochange('village', this.value)">
					<option value='-1'>Select Block</option>
				</select>				
				</div>			
				<div class='dropdown' id='village'>
				<select class='select' name='village' id = 'villageId'>
					<option value='-1'>Select Village</option>
				</select>					
				</div>
				<div id='searchbody5'>
					<input id='searchsubmitbtn' type="submit" value="GO">
				</div>
			</form>	
		</div>			
			
		
		<div id='table1'>
			<div id='table1td1'>
				
			</div>
			<div id='table1td2'>
				<div id='table1td2div1'>
				</div>
				<div id='table1td2div2'>
				</div>
				<div id='table1td2div3'>
					Total number of Videos -  
				</div>					
			</div>
			<div id='table1td3'>
				<div id='table1td3div1'>
				</div>
				<div id='table1td3div2'>
					Total number of -
				</div>
			</div>			
		</div>
		<div id='tabledynamic'>
		   		<table id='table2' cellpadding="0px" cellspacing="0px">
					<tr>
						<td id='table2td2'>
							{{geography|title}}
						</td>
						<td id='table2td'>
							Produced
						</td>
						<td id='table2td'>
							Screened
						</td>
						<td id='table2td'>
							Adoptions
						</td>
						<td id='table2td'>
							Practices
						</td>
						<td id='table2td'>
							Persons
						</td>					
					</tr>
					
					{% for item in item_list %}
				 	<tr>
						<td id='table2td1'>
							<a href='/output/overview/{{geography}}/{{item.id}}'>
							{{ item.name }} </a>
						</td>
						<td id='table2td1'> 
							<a href=''>
							{{ item.tot_pro }} </a>
						</td>
						<td id='table2td1'> 
						    <a href=''>
							{{ item.tot_scr }} </a>
						</td>
						<td id='table2td1'> 
							<a href=''>
							{{ item.tot_ado }} </a>
						</td>
						<td id='table2td1'>
							<a href=''>
							{{ item.tot_pra }} </a>
						</td>
						<td id='table2td1'>
							<a href=''>
							{{ item.tot_per }} </a>
						</td>										
				 	</tr>
					{% endfor %}
									 
				</table>					
			</div>
			<div id='baselinegraph'>
			    <div id='baselinegraphtitle'>
				    Baseline Graph View
			    </div>			    			    			
			</div>
			<div id='baselinegraph1'>
			        <div id="flashcontent">
						<strong>You need to upgrade your Flash Player</strong>
					</div>
			        			        
			</div>    
		
	</div>
	<div id='defaultfooter'>
	</div>	
	 
<!-- amline script--> 
	 <script type="text/javascript">
		// <![CDATA[		
		var so = new SWFObject("/media/Output/amline/amline.swf", "amline", "900", "400", "8", "#FFFFFF");
		so.addVariable("path", "/media/Output/amline/");
		so.addVariable("settings_file", encodeURIComponent("/media/Output/amline/amline_settings.xml"));                // you can set two or more different settings files here (separated by commas)
		so.addVariable("data_file",'/output/overview/line/{{flash_geog}}/{{id}}/');
		so.write("flashcontent");
		// ]]>
	</script>
<!-- end of amline script -->


</body>
</html>
