<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to the Digital Green</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
       
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/StyleSheet.css' />        
    <link type='text/css' rel='stylesheet' href='/media/Output/CSS/jquery-ui-1.7.2.custom.css' />        
    <script type="text/javascript" src="/media/Output/JS/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/media/Output/JS/jquery-easing-1.3.pack.js"></script>
	<script type="text/javascript" src="/media/Output/JS/jquery-ui-1.7.2.custom.min.js"></script>	
	<script type="text/javascript" src="/media/Output/JS/jquery-easing-compatibility.1.2.pack.js"></script>
	<script type="text/javascript" language="javascript" src="/media/Output/JS/JGridPage.js"></script>  

</head>

<body id='mainbody'>
	<div id='tablegrid'> 				
		<div id='tableheader'>
				<div id='tableheaderleft'>
					Default View 			
				</div>
				<div id='tableheaderright'> 
					OverView
				</div>
		</div>
		
	<div id='default'>	
		
		<div id='defaultheader'>
		</div>
		<div id='searchbody'>
		</div>
		
		
		<div id='tablebody'>
		   <table id='table1' cellpadding="0px" cellspacing="0px">
		   	<tr>
				<td id='table1td1'>
					{{ geography}}
				</td>
				<td id='table1td2'>
					Number of Videos -
				</td>
				<td id='table1td3'>
					Number of -
				</td>			
			</tr>
		   </table>
			<table id='table2' cellpadding="0px" cellspacing="0px">
				<tr>
					<td id='table2td'>
					</td>
					<td id='table2td'>
						produced
					</td>
					<td id='table2td'>
						screened
					</td>
					<td id='table2td'>
						Adoptions
					</td>
					<td id='table2td'>
						Persons
					</td>
					<td id='table2td'>
						Practices
					</td>					
				 </tr>
				 {% for item in item_list %}
				 	<tr>
						<td id='table2td1'>
							<a href='/output/{{geography}}/{{item.id}}'>
							{{ item.name }} </a>
						</td>
						<td id='table2td1'> 
							<a href=''>
							{{ item.tot_vid }} </a>
						</td>
						<td id='table2td1'> 
						    <a href=''>
							{{ item.tot_screen }} </a>
						</td>
						<td id='table2td1'> 
							<a href=''>
							{{ item.tot_adopt }} </a>
						</td>
						<td id='table2td1'>
						<a href=''>
							{{ item.tot_per }} </a>
							
						</td>
						<td id='table2td1'>
							<a href=''>
							{{ item.tot_prac }} </a>
						</td>										
				 	</tr>
				{% endfor %}					 
				</table>					
			</div>
		
			<div id='gridfooter'>		
				<div id='timeline'>
					<div id='timelinedesc'>
						<form action="" method="get">
							from: <input id="datepicker1" name='from_date' type="text"> &nbsp;&nbsp; to: <input id="datepicker2" name='to_date' type="text"> <input id='submitbtn' type="submit" value="GO">
						</form>
						<div id='timelinedescfooter'>
							Choose the range of the timeline. Dates are in(dd/mm/yyyy) format
						</div>
					</div>
				</div>
			</div>
	 </div> 	 
	</div>
</body>
</html>
