 {% include "includes/header_for_deo.html" %}

   <section id="main" role="main" class="wrapper">
        <div class="inner-wrapper">

		<h2 class="hdg-a hdg-source-lt layout-vr-md">Setup</h2>

            <div class="featured layout-vr-xlg">
                <div class="grid js-featured-collection-wrapper">
                
                <div class="grid-col grid-size2of4">
                        <div class="grid-pad-lt-sm">
                           <h3 class="hdg-green hdg-c layout-vr-sm" style="text-align:center;">Set Partner</h3>
                           
                        </div>
                        <div style="text-align:center;">
	                       <a class="btn">SET</a>
	                       <a class="btn">RESET</a>
                       </div>

                </div>
                    
                    
                <div class="grid-col grid-size2of4">
                        <div class="grid-pad-lt-sm">
                           <h3 class="hdg-green hdg-c layout-vr-sm"style="text-align:center;">Set District</h3>
                           
                        </div>
                        <div style="text-align:center;">
	                       <a class="btn">SET</a>
	                       <a class="btn">RESET</a>
                       </div>
                </div>              
                <div style="text-align:center;">
                	<a href="{% url 'mainpage' %}" class="btn">GO</a>
                	<!-- <a href="mainpage.html" class="btn">GO</a> -->
                </div>
            </div> <!-- End .featured -->
        </div> <!-- End .inner-wrapper -->
    </section> <!-- End .wrapper -->
    
{% include "includes/footer_for_deo.html"%}