 {% include "includes/header_for_deo.html" %}
 
 <section id="main" role="main" class="wrapper">
 
 	<div class="inner-wrapper">
 	
 	   <div class="featured layout-vr-xlg layoutclass">
 	   
 	   		<div class="my-select js-custom-select leftrelative">

                <div class="my-select-container" onclick="partnersetter();">
                    <div class="my-icon"></div>
                    <div id="partnername" class="selected-item-label js-selected-item-label">Choose Partner</div>
	                             
                    <ul id="partnerlist" class="options js-options nodisplay yscroll listheight">
                    
                    </ul>                  
                </div>
            </div>

 	   		<div class="my-select js-custom-select leftrelative">

                <div class="my-select-container" onclick="districtsetter();">
                    <div class="my-icon"></div>
                    <div id="districtname" class="selected-item-label js-selected-item-label">Choose District</div>
	                             
                    <ul id="districtlist" class="options js-options nodisplay yscroll listheight">
                    
                    </ul>                  
                </div>
            </div>
            
 	   		<div class="my-select js-custom-select leftrelative">

                <div class="my-select-container">
                    <div class="my-icon"></div>
                    <div id="deoname" class="selected-item-label js-selected-item-label" onclick="deosetter();">Choose DEOs</div>
	                             
                    <ul id="deolist" class="options js-options nodisplay yscroll listheight">
                    
                    </ul>                  
                </div>
            </div>
		        	        
        <div class="fright">
	      <a id="gobutton" class="btn" onclick="goclicked()">GO</a>
        </div>  
        
        <ul class="filterOptions hdg-upper copy clearfix js-most-filters fright listpadding">
           <li><a href="#" class="js-most-filter" onclick="makeactive(1); settheday();" id="daily"><span><span class="icon"></span>Daily</span></a></li>
           <li><a href="#" class="js-most-filter active" onclick="makeactive(2); settheweek();" id="weekly"><span><span class="icon"></span>Weekly</span></a></li>
           <li><a href="#" class="js-most-filter" onclick="makeactive(3); setthemonth();" id="monthly"><span><span class="icon"></span>Monthly</span></a></li>
		</ul>
         
		<div id="maindiv">
		
		    <ul id="deobox" class="filterOptions hdg-upper copy clearfix js-most-filters hidden listpadding">
		        
		    </ul>
	         			
	        <div id="thegrid" class="grid hidden">
				
				<div class="gridleft">
				
					<div id="photobox" class="boxdesign">
						<img class="fleft" src="{{STATIC_URL}}assets/images/face.png">				
					</div>		
							    
				    <div id="databox" class="boxdesign">		         	
			         	<p class="fontforbox" id="screenings"></p>
			         	<p class="fontforbox" id="adoptions"></p>
			         	<p class="fontforbox" id="persons"></p>
			         	<p class="fontforbox" id="s-lag"></p>
			         	<p class="fontforbox" id="a-lag"></p>			         	
			        </div>
				</div>
				
				<div class="gridright">	
					        	    
				   	<div class="outer-center">
	       				<div class="inner-center fontforbox">   				
				         	<img class="fleft makecursor" src="{{STATIC_URL}}assets/images/carousel-arrow-lt.png" onclick="moveprev()">
				         		<div class="fleft" id="dateshow"></div>
				         	<img class="fleft makecursor" src="{{STATIC_URL}}assets/images/carousel-arrow-rt.png" onclick="movenext()">  						               				
	       				</div>
   					</div>
   					
					<div id="chartcontainer"></div>
				</div>	         	
	        </div>
		</div>
     </div>
	</div>
</section>   
 
 {% include "includes/footer_for_deo.html"%}