 {% include "includes/header_for_deo.html" %}
 
 <section id="main" role="main" class="wrapper">
 
 	<div class="inner-wrapper">
 	
 	   <div class="featured layout-vr-xlg" style="background:white; padding-top:50px;">
 	   
 	   		<div class="custom-select-container leftrelative">
 	   		<div class="icon"></div>
 	   		<!-- <div class="selected-item-label js-selected-item-label">Choose Partner</div>  -->
			<select id = "partnerlist" onchange="districtfilter();">			
               <option value='' selected='selected'>Choose Partner</option>
               {% for pa in partners%} 
                 <option value = "{{pa.id}}">{{pa.partner_name}}</option>
               {% endfor %}
            </select>
            </div>

 	   		<div class="custom-select-container leftrelative">
 	   		<div class="icon"></div>
			<select id = "districtlist" onchange="deofilter()">			
               <option value='' selected='selected'>Choose District</option>     
	        </select>
	        </div>
	        
 	   		<div class="custom-select-container leftrelative">
 	   		<div class="icon"></div>	        
	        <select id = "deolist" multiple>			
               <option value='' selected='selected'>Choose DEOs</option>                        
	        </select>     
	        </div>
	        
        <div style="float:right;">
	      <a id="gobutton" class="btn" onclick="goclicked()">GO</a>
        </div>       
         
        <ul class="filterOptions hdg-upper copy clearfix js-most-filters" style="float:right; padding:0 10px;">
           <li><a href="#" class="js-most-filter active" onclick="makeactive(1); settheday();" id="daily"><span><span class="icon"></span>Daily</span></a></li>
           <li><a href="#" class="js-most-filter" onclick="makeactive(2); settheweek();" id="weekly"><span><span class="icon"></span>Weekly</span></a></li>
           <li><a href="#" class="js-most-filter" onclick="makeactive(3); setthemonth();" id="monthly"><span><span class="icon"></span>Monthly</span></a></li>
        </ul>
		
		<div style="margin-top:100px">
		        <div class="grid" style="width:100%;background: #e1ded9; padding-bottom:20px; padding-left:10px;">
					<div class="grid-col js-filters-wrapper" style="padding-top:20px; width:25%">
		                <div class="sorting">
		                    <ul id="deobox" class="sorting-list v-list js-filters-container">  
		                                                                                      
						   </ul>
		               </div> <!-- End .sorting -->
		         	</div>
		         
		         	<div class="grid-size3of4" style="float:left; padding-top:20px; width:70%">
		         	
		         	<div id="datepanel" style="width:40%; margin: 0 auto;">
				         	<button id="pbtn" class="fleft "type="previous" onclick="moveprev()">Prev</button>
				         		<div id="dateshow" style="float:left;"></div>
				         	<button id="nbtn" class="fleft" type="next" onclick="movenext()">Next</button>
				    </div>
				    
				    
				     <div id="databox" style="width:28%">
		         		<p id="screenings"></p>
		         		<p id="adoptions"></p>
		         		<p id="persons"></p>
		         		<p id="videos"></p>
		         	 </div>
					
					 <div id="chartcontainer" style="width: 55%; float: left; margin: 10px; padding: 10px; height: 400px;"></div>
		         	</div>
		         </div>
		 </div>
     </div>
	</div>
</section>    
 
 <script>
 // JavaScript Document
 
   function onbodyload()
   {
	  var today = new Date();
	  setdate(0, today);
   }

	$('#gobutton').click(function(){
		//e.preventDefault();

	    });

   function settheday()
   {
	   var userdate = document.getElementById('dateshow').innerHTML;
	   var first = userdate.split(" ");

	   if (first[0] == parseInt(first[0])) //coming to DAILY view from WEEKLY view
	   {
		   dates = userdate.split("-");
		   date1 = getdateonscreenforweek(1, dates[0]);		   
		   setdate(0, date1);
	   }
	   else if (first[0] == "Jan" || first[0] == "Feb" || first[0] == "Mar" || first[0] == "Apr" || first[0] == "May" || 
			   first[0] == "Jun" || first[0] == "Jul" || first[0] == "Aug" || first[0] == "Sep" || first[0] == "Oct" || 
			   first[0] == "Nov" || first[0] == "Dec") 
		   //coming to DAILY from MONTHLY			   
	   {
		   d = getfirstdateofselectedmonth(1);
		   
		   var day = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
		   var dayofweek = day[d.getDay()];
		   console.log("day is: " + dayofweek);

			var month = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
			var mon = month[d.getMonth()];
		   
		   d = dayofweek+' '+ d.getDate() +' '+mon+' '+d.getFullYear();
		   $("div#dateshow").html(d);		   
	   }
   }
   
	function settheweek()
 	{
 	   var userdate = document.getElementById('dateshow').innerHTML;
	   var first = userdate.split(" ");
	   
	   if (first[0] == "Sun" || first[0] == "Mon" || first[0] == "Tue" || first[0] == "Wed" || first[0] == "Thu"
		   || first[0] == "Fri" || first[0] == "Sat") //coming to WEEKLY view from DAILY view	   
	   {
			var mydate = getdateonscreen(1);	
			setweekfromsingledate(mydate);
	   }
	   else if (first[0] == "Jan" || first[0] == "Feb" || first[0] == "Mar" || first[0] == "Apr" || first[0] == "May" || 
			   first[0] == "Jun" || first[0] == "Jul" || first[0] == "Aug" || first[0] == "Sep" || first[0] == "Oct" || 
			   first[0] == "Nov" || first[0] == "Dec") //coming to WEEKLY from MONTHLY view
	   {
		   d = getfirstdateofselectedmonth(1);	   
		   setweekfromsingledate(d);
	   }
 	}
	
	function setthemonth()
	{
	   var userdate = document.getElementById('dateshow').innerHTML;
	   var first = userdate.split(" ");

	   if (first[0] == "Sun" || first[0] == "Mon" || first[0] == "Tue" || first[0] == "Wed" || first[0] == "Thu"
		   || first[0] == "Fri" || first[0] == "Sat") //coming to MONTHLY view from DAILY view
	   {
			var mydate = getdateonscreen(1);
			setmonthfromdate(mydate);
	   }
	   else if (first[0] == parseInt(first[0])) //coming to MONTHLY view from WEEKLY view
	   {
		   dates = userdate.split("-");
		   date2 = getdateonscreenforweek(1, dates[1]);		   
		   setmonthfromdate(date2);
	   }		
	}
	
	function getfirstdateofselectedmonth(cn)
	{
	   var data = document.getElementById('dateshow').innerHTML;
	   var usermonth = data.split(" ");
	   
	   d = new Date (usermonth[1], getmonthnofromname(usermonth[0]), '01');
	   
       if (cn == 2)
		 {    	   
    	   mm = d.getMonth() + 1;
		   d = d.getFullYear()+'-'+mm+'-'+d.getDate();
		 }   
	   return d;
	}
	
	function getlastdateofselectedmonth()
	{
		var d = getfirstdateofselectedmonth(1);
		
		var ld = new Date(d.getFullYear(), d.getMonth()+1, 0);
		
		ldmm = ld.getMonth() + 1;
		ld = ld.getFullYear()+'-'+ldmm+'-'+ld.getDate();
		
		return ld;
		
	}
	function setmonthfromdate(d)
	{
		var month = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
		var mon = month[d.getMonth()];
		
		var yyyy = d.getFullYear();

   	    d = mon +' '+ yyyy;
		$("div#dateshow").html(d);
	}
	
 	function setdate(counter, d)
 	{
 	   if (counter == -1)  {d.setDate(d.getDate() - 1);}
 	   else if (counter == 1)  {d.setDate(d.getDate() + 1);}
 	   
	   var dd = d.getDate();
	   
	   var day = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
	   var month = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

	   var day = day[d.getDay()];
	   var mon = month[d.getMonth()];

	   var yyyy = d.getFullYear();

	   if(dd<10) {dd='0'+dd} 

	   d = day+' '+ dd+' '+mon+' '+yyyy;
	   $("div#dateshow").html(d);
 	}
 
 	function getdateonscreen(cn)
 	{
 	   var userdate = document.getElementById('dateshow').innerHTML; 
	   datesplitted = userdate.split(" ");

	   var dd = datesplitted[1];
	   
	   var yyyy = datesplitted[3];
	   var mm = getmonthnofromname(datesplitted[2]);
   
	   if (cn == 2) {mm = mm+1}
	   if(mm<10) {mm='0'+mm}
   
	   if (cn==1)
		 {
		   dateformatted = new Date (yyyy, mm, dd);		   
		 }
	   else if (cn == 2)
		 {
		   dateformatted = yyyy+'-'+mm+'-'+dd;
		 }
	   else if (cn == 3)
		 {
		   dateformatted = new Date (yyyy, mm, dd);
		   dateformatted.setDate(dateformatted.getDate() + 1);
		   
		   yyyy = dateformatted.getFullYear();
		   mm = dateformatted.getMonth() + 1;
		   if(mm<10) {mm='0'+mm}
		   dd = dateformatted.getDate();
		   
		   dateformatted = yyyy+'-'+mm+'-'+dd;
		 }
	   return dateformatted;
 	}
 	
	
 	function setweekfromsingledate(d)
 	{
 	  var day = d.getDay();

 	  var startweek = new Date(d);
 	  var endweek = new Date(d);
 	  
 	  if (day == 0) {startweek.setDate(d.getDate() - 6); endweek.setDate(d.getDate());}
 	  else if (day == 1) {startweek.setDate(d.getDate()); endweek.setDate(d.getDate() + 6);}
 	  else if (day == 2) {startweek.setDate(d.getDate() - 1); endweek.setDate(d.getDate() + 5);}
 	  else if (day == 3) {startweek.setDate(d.getDate() - 2); endweek.setDate(d.getDate() + 4);}
 	  else if (day == 4) {startweek.setDate(d.getDate() - 3); endweek.setDate(d.getDate() + 3);}
 	  else if (day == 5) {startweek.setDate(d.getDate() - 4); endweek.setDate(d.getDate() + 2);}
 	  else if (day == 6) {endweek.setDate(d.getDate() + 1); startweek.setDate(d.getDate() - 5);}
 	  
	  setweekfromtwodates(0, startweek, endweek)
 	}

 	function setweekfromtwodates(counter, startweek, endweek)
 	{
 		
  	  if (counter == -1)  {startweek.setDate(startweek.getDate() - 7); endweek.setDate(endweek.getDate() - 7);}
 	  else if (counter == 1)  {startweek.setDate(startweek.getDate() + 7); endweek.setDate(endweek.getDate() + 7);}
  	   
 	  var month = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
 	  var startweekmon = month[startweek.getMonth()];
 	  var endweekmon = month[endweek.getMonth()];
 	 
	  var yrstartweek = startweek.getFullYear();
	  var yrendweek = endweek.getFullYear();

	  d = startweek.getDate()+ ' ' + startweekmon + ' ' + yrstartweek + '-'+ endweek.getDate() +' '+ endweekmon + ' '+ yrstartweek;  

	  $("div#dateshow").html(d);	
 	}
 	
 	function getdateonscreenforweek(cn, rdate)
 	{
	   date = rdate.split(" ");
	   
	   var dd = date[0];	   
	   var yyyy = date[2];
	   var mm = getmonthnofromname(date[1]);
	   if (cn == 2) {mm = mm+1}
	   if(mm<10) {mm='0'+mm}
   
	   if (cn==1)
		 {
		   dateformatted = new Date (yyyy, mm, dd);		   
		 }
	   else if (cn == 2)
		 {
		   dateformatted = yyyy+'-'+mm+'-'+dd;
		 }	
	   return dateformatted;
 	}
 	
 	function getmonthnofromname(mon)
 	{
 	   if (mon == "Jan") {mm = 0;}
	   else if (mon == "Feb") {mm = 1;}
	   else if (mon == "Mar") {mm = 2;}
	   else if (mon == "Apr") {mm = 3;}
	   else if (mon == "May") {mm = 4;}
	   else if (mon == "Jun") {mm = 5;}
	   else if (mon == "Jul") {mm = 6;}
	   else if (mon == "Aug") {mm = 7;}
	   else if (mon == "Sep") {mm = 8;}
	   else if (mon == "Oct") {mm = 9;}
	   else if (mon == "Nov") {mm = 10;}
	   else if (mon == "Dec") {mm = 11;}
 
	   return mm;
 	}
 	
   function movenext()
   {

	   if ($("#daily").hasClass("active") == true)
	   {
			setdate(1, getdateonscreen(1));	   
	   }
	   else if ($("#weekly").hasClass("active") == true)
	   {
	  	   var userdate = document.getElementById('dateshow').innerHTML; 
		   dates = userdate.split("-");
		   
		   date1 = getdateonscreenforweek(1, dates[0]);
		   date2 = getdateonscreenforweek(1, dates[1]);
		   
		   setweekfromtwodates(1, date1, date2);
	   }
	   else if ($("#monthly").hasClass("active") == true)
	   {
		   var d = getfirstdateofselectedmonth(1);	   
		   console.log("First date of selected month: " + d);
		   d.setMonth(d.getMonth() + 1);		   
		   console.log("Date after incrementing month: " + d);
		   setmonthfromdate(d);		   
	   }	   
   }

   function moveprev()
   {
	   if ($("#daily").hasClass("active") == true)
	   {
			setdate(-1, getdateonscreen(1));	   
	   }
	   else if ($("#weekly").hasClass("active") == true)
	   {
	  	   var userdate = document.getElementById('dateshow').innerHTML; 
		   dates = userdate.split("-");
		   
		   date1 = getdateonscreenforweek(1, dates[0]);
		   date2 = getdateonscreenforweek(1, dates[1]);

		   setweekfromtwodates(-1, date1, date2);
	   }	
	   else if ($("#monthly").hasClass("active") == true)
	   {
		   var d = getfirstdateofselectedmonth(1);	   
		   d.setMonth(d.getMonth() - 1);	
		   console.log ("Date after -1month: "+d)
		   setmonthfromdate(d);		   
	   }
   }
   
   function districtfilter()
   {
           
      console.log("Function districtfilter entered...");
      
      var e = document.getElementById('partnerlist');
      var partnerval = e.options[e.selectedIndex].value;

      console.log("The selected partner is: " + partnerval);  
      
      $.ajax(
         {
            type:'GET',
            data:{ 
            'partner': partnerval,
            },
            url: window.location.origin + "/deo/api/getdistrict",
            
            success: function(data){

                var options = '';
                for (var i = 0; i < data.length; i++) 
                {
                  options += '<option value="' + data[i].district_name+  '">' + data[i].district_name + '</option>';
                }
                $("select#districtlist").html(options);
            },
            error: function(data){
                    console.log("ERRORIS:" + data);
                    alert("There was an error in recording your input!");
            }
         });
   }

   function deofilter()
   {
           
      console.log("Function deofilter entered...");
      
      var e = document.getElementById('partnerlist');
      var partnerval = e.options[e.selectedIndex].value;
      console.log("The selected partner is: " + partnerval);
      
      var f = document.getElementById('districtlist');
      var districtval = f.options[f.selectedIndex].value;           
      console.log("The selected district is: " + districtval);  
      
      $.ajax(
         {
            type:'GET',
            data:{ 
            'partner': partnerval,
            'district': districtval,
            },
            url: window.location.origin + "/deo/api/getdeo",
            
            success: function(data){

                var options = '';
                for (var j = 0; j < data.length; j++) 
                {
                  options += '<option value="' + data[j].deo_name+  '">' + data[j].deo_name + '</option>';
                }
                $("select#deolist").html(options);
            },
            error: function(data){
                   console.log("ERRORIS:" + data);
                   alert("There was an error in recording your input!");
           }
         });
   }
 
   function goclicked()
   {
       console.log("Function goclicked entered...");
       
       var values = $('#deolist').val();
       console.log(values); 

       var list = '';
       for (var j = 0; j < values.length; j++) 
       {
    	   htmlline = '<li id =' + j + ' ' + 'onclick="'+ 'analyzedeo(this); makedeoactive(' + values.length + ',' + j + ');">' + '<div class="' + "categorylabelunselected js-filter-category-label" + '">' + values[j] + '</div></li>';
       	   list += htmlline;
       }
       $("ul#deobox").html(list);
      
   }

   function makedeoactive(total, val)
   {
       for (var j = 0; j < total; j++) 
       {	  
    	   if (j == val)
    	   {
    		   document.getElementById(j).classList.remove('categorylabelunselected');
    		   document.getElementById(j).classList.add('categorylabelselected');   		   
    	   }
    	   else
    	  {
    		   document.getElementById(j).classList.add('categorylabelunselected');
    		   document.getElementById(j).classList.remove('categorylabelselected');    		   
    	  }   
       }
       //document.getElementById('0').style.background = "#c2c1bc";
	   //document.getElementById('1').style.background = "#c2c1bc";
	   //document.getElementById('2').style.background = "#c2c1bc";
   }
   
   function analyzedeo(deoname_element)
   {	
   	console.log("Analyze deo entered...");
	   
   	deoname = deoname_element.innerText.trim();
   	
   	var mode;
   	var s_list = [];
   	var datelist = [];
   	var month = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
   	
   	if ($("#daily").hasClass("active") == true)
    { 
   		mode = 1;
   	   	start_date = getdateonscreen(2);
   	 	end_date = getdateonscreen(3);
   	 	
   	    s_list.push(0);
   	    
   	 	date_for_datelist = getdateonscreen(1);

		date = date_for_datelist.getDate();		   
		mon = month[date_for_datelist.getMonth()];
		
		k = date + " "+ mon;
		console.log(k);
		
		datelist.push(k);	
    }
   	
   	else if ($("#weekly").hasClass("active") == true) 
   	{ 
   		mode = 2;
	  	var userdate = document.getElementById('dateshow').innerHTML; 
		dates = userdate.split("-");
		   
		start_date = getdateonscreenforweek(2, dates[0]);
		end_date = getdateonscreenforweek(2, dates[1]);		
		
		start_date_for_datelist = getdateonscreenforweek(1, dates[0]);
	   
		for (var i = 0; i <= 6; i++) 
		{
			s_list.push(0);
					
			date = start_date_for_datelist.getDate();		   
			mon = month[start_date_for_datelist.getMonth()];
			
			k = date + " "+ mon;
			console.log(k);
			
			datelist.push(k);	
			
			start_date_for_datelist.setDate(start_date_for_datelist.getDate() + 1);
		}	
		console.log(datelist);
   	}
   	else if ($("#monthly").hasClass("active") == true) 
   	{ 
   		mode = 3;
   		start_date = getfirstdateofselectedmonth(2);
   		end_date = getlastdateofselectedmonth();

   		lastdate = end_date.split("-")[2];
   				
		for (var i = 1; i <= lastdate; i++) 
		{
			datelist.push(i);
			s_list.push(0);
		}
   	}
  	
    $.ajax(
            {
               type:'GET',
               data:{ 
               'deo': deoname,
               'sdate': start_date,
               'edate': end_date,
               'mode': mode,
               },
               url:window.location.origin + "/deo/api/getthedeo",
               
               success: function(data){

            	   var sumscreenings = 0;
            	   if (mode == 1)
           		   {
  						for (var key in data.screenings)
   						{
	 					   s_list[0] = data.screenings[key];
	 					   sumscreenings += data.screenings[key];
	 					   console.log("Daily s list: " + s_list);
   						}
           		   }
            	   if (mode == 2)
        		   {
   						for (var key in data.screenings)
   						{
		 					console.log(key+': '+data.screenings[key]);
		 				    keydate = key.split("-")[2];
		 					keydate = keydate.replace(/^0+/, '');
		 					console.log(keydate);
		 					
		 					for (var i = 0; i <= 6; i++)
		 					{
		 						if (datelist[i].split(" ")[0] == keydate)
	 							{
	 								s_list[i] = data.screenings[key];
	 							}
		 					}			 					
		 					sumscreenings += data.screenings[key];
		 					console.log("Weekly s list: " + s_list);	   							
   						}
        		   }            	   
            	   if (mode == 3)
            		   {
		   					for (var key in data.screenings) 
		   					{
		 					   console.log(key+': '+data.screenings[key]);
		 					   keydate = key.split("-")[2];
		 					   keydate = keydate.replace(/^0+/, '');
		 					   console.log(keydate);
		 					   s_list[keydate-1] = data.screenings[key];
		 					   sumscreenings += data.screenings[key];
		 					   console.log("Monthly s list: " + s_list);
		 					}            		   
            		   }
					
            	   lin1 = "No. of screenings entered: " + sumscreenings;
            	   lin2 = "No. of adoptions entered : " + data.adoptions;
            	   lin3 = "No. of persons entered   : " + data.persons;
            	   lin4 = "No. of videos entered    : " + data.videos;
            	   $("p#screenings").html(lin1);
            	   $("p#adoptions").html(lin2);
            	   $("p#persons").html(lin3);
            	   $("p#videos").html(lin4);
            	   makechart(datelist,s_list);
               },
               error: function(data){
                      console.log("ERRORIS:" + data);
                      alert("There was an error in recording your input!");
              }
            });
   }
   
   function makechart(datelist,s_list)
   {
    	var chart1 = new Highcharts.Chart({	    	
        chart: {
            renderTo: 'chartcontainer'
         },
          title: {
               text: 'DEO Performance',
               x: -20 //center
           },
           xAxis: {
               categories: datelist
           },
           yAxis: {
               title: {
                   text: 'Entries made'
               },
               plotLines: [{
                   value: 0,
                   width: 1,
                   color: '#808080'
               }]
           },
           //tooltip: {
           //    valueSuffix: 'C'
           //},
           //legend: {
               //layout: 'vertical',
               //align: 'right',
               //verticalAlign: 'middle',
               //borderWidth: 0
           //},
           series: [{
               name: 'Screenings',
               data: s_list
           }]
           //,
           //{
           //   name: 'Adoptions',
           //   data: [0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
           //}
           //, {
           //    name: 'Berlin',
           //    data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
           //}, {
           //    name: 'London',
           //    data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
           //}
           //
    	});	   
	  
   }
   
   function makeactive(num)
   {
	   if (num==1)
	   {
		   document.getElementById('daily').classList.add('active');
		   document.getElementById('weekly').classList.remove('active');
		   document.getElementById('monthly').classList.remove('active');
	   }
	   else if (num==2)
	   {
		   document.getElementById('weekly').classList.add('active');
		   document.getElementById('daily').classList.remove('active');
		   document.getElementById('monthly').classList.remove('active');
	   }
	   else if (num==3)
	   {
		   document.getElementById('monthly').classList.add('active');
		   document.getElementById('weekly').classList.remove('active');
		   document.getElementById('daily').classList.remove('active');
	   }	   
   }
</script>   
 
 {% include "includes/footer_for_deo.html"%}