
/* main content */
#maintitlediv								{ clear:both; margin-top:0px; width:900px; background-color:none; }
#titlediv									{ margin-top:0px; border-left:6px solid #62980c; text-align:left; padding-left:0px; color:#5B6E1D; font-family:Georgia,'Times New Roman',Serif; font-size:1.4em; font-weight:normal; }
#title										{ margin:0px; width:100%; background-color:#e7f7cf; height:27px; }

#breadcrums									{ margin-bottom:10px; height:15px; padding-left:18px; text-align:left; color:Gray; font-family:Arial,Helvetica,Sans-Serif; font-size:0.8em; font-weight:normal; }
#breadcrums	a								{ text-decoration:none; color:Gray; font-family:Arial,Helvetica,Sans-Serif; font-size:0.9em; font-weight:normal; }
#breadcrums	a:hover							{ text-decoration:underline; color:Black; } 


#contentdiv									{ margin-top:0px; background-color:none; width:100%; left:0%; }
#mainbodytable								{ margin-top:0px; background-color:none; width:100%; left:0%; border:0; min-width:1024px; }
.mainbodytd1								{ margin-top:0px; width:100%; margin-left:0%; padding-top:0px; }
.mainbodytd									{ padding-top:0px; margin-top:0px; width:100%; margin-left:0%; padding-top:0px; }

#mainbodycontent							{ clear:both; margin-top:0px; width:900px; }



/* Main Body Content floating Left */
#mainbodycontentleft						{ float:left; width:626px; margin-bottom:80px; background-color:none; border-top:4px solid #cae699;  border-right:4px solid #cae699; }

#mainbodycontentright						{ float:left; margin-left:0px; margin-bottom:50px; width:270px; background-color:none; border-top:4px solid #cae699; }	
.pagetitle									{ clear:both; margin-left:1px; margin-top:15px; margin-bottom:0px; text-align:left; color:#5B6E1D; font-family:Georgia,'Times New Roman',Serif; font-size:1.4em; font-weight:normal; }

.imagelink									{ margin-left:0px; margin-top:20px; width:266px; }

/* Footer Div */
#footertop									{ clear:both; margin-top:20px; width:59px; height:17px; background:url("/media/Output/Images/footertopbg5.png"); background-position:center; background-repeat:none; }
#footerdivleft								{ margin-top:0px; width:900px; border-top:10px solid #c0e481; height:100px; background:url("/media/Output/Images/footerbg2.png"); background-repeat:x-repeat; }		
#footerquicklinkdiv ul						{ margin-top:-10px; margin-left:-32px; }
#footerquicklinkdiv ul li					{ float:left; list-style:none; font-size:12px; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Gray; }
.footerquicklinkgap							{ margin-left:10px; margin-right:10px; }
.footerquicklink							{ margin-left:5px; text-decoration:none; font-size:12px; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Gray;}	
.footerquicklink:hover						{ text-decoration:underline; color:#fbae0c; }
.footerquicklink img						{ float:right; margin-right:15px; }	
.licenselink								{ text-align:right; width:230px;}
#footerdivright								{ float:right; margin-right:5px; }	

#footerdivlicence							{ clear:both; margin-top:15px; width:888px; text-align:left; margin-left:12px; }
#footerdivlicence	a						{ text-decoration:none; font-size:12px; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Gray; }
#footerdivlicence	a:hover					{ text-decoration:underline; }						


/*  Mailing Links */

.maillinks							{ text-decoration:none; font-size:13px; font-family:Sans-Serif; font-weight:normal; color:Gray; }
.maillinks:hover					{ text-decoration:underline; color:#fbae0c; }		

.quicklinks							{ text-decoration:none; font-size:13px; font-family:Sans-Serif; font-weight:bold; color:#5B6E1D; }
.quicklinks:hover					{ text-decoration:underline; color:#fbae0c; }		


/* Site Map */
#explorediv							{ clear:both; width:264px; margin-top:3px; border:1px solid #abd268; text-align:center; }
#explorediv1						{ background:url("/media/Output/Images/divbg4.png"); background-repeat:y-repeat; clear:both; width:264px; margin-top:20px; border:1px solid #abd268; text-align:center; }
#exploretitle						{ width:100%; height:8px; border-bottom:0px solid #abd268; font-size:1em; font-family:Serif; font-weight:bold; color:#cdbf5e; }
#exploreheader      				{ padding-bottom:5px; text-align:left; margin-left:10px; margin-right:10px; margin-top:0px; width:238px; font-size:1.2em; font-family:Arial,Helvetica,Sans-Serif; font-weight:bold; color:#cdbf5e; border-bottom:2px solid #e2d39a; }
.exploredescdiv                     { padding-bottom:10px; text-align:left; width:264px; }
.exploredesctitle					{ width:100%; font-size:1.2em; font-family:Arial,Helvetica,Sanserif; font-weight:normal; color:#E7F7CF; background-color:#62980C; }
.exploredescmain1					{ margin-left:0px; width:238px; margin-top:10px; background-color:none; }
a.exploredescmainlink1				{ float:left; margin-right:11px; text-decoration:none; font-size:13px; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Gray; }
a.exploredescmainlink1:hover		{ text-decoration:underline; color:#fbae0c; }
a.exploredescmainlink1 img			{ float:left; display:block; border:none; margin-right:2px; }

.exploredescmain					{ margin-left:0px; width:238px; margin-top:10px; background-color:none; }	
.exploredescmainlink				{ margin-left:10px; margin-top:10px;  clear:both; line-height:15px; display:block; text-decoration:none; font-size:13px; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Gray; }
.exploredescmainlink:hover			{ text-decoration:underline; color:#fbae0c; }
.exploredescmainlink:active			{ text-decoration:underline; color:Gray; }
.exploredescmainlink img			{ float:left; display:block; border:none; margin-right:10px; }	

.exploredescmainlink2				{ margin-left:10px; margin-top:10px;  clear:both; line-height:15px; display:block; text-decoration:none; font-size:13px; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Gray; }
.exploredescmainlink2 img			{ float:left; display:block; border:none; margin-right:10px; }

.exploredescdivgap					{ margin:10px; margin-top:20px; width:238px; height:1px; border-top:1px solid #e1cf53  }


/* Updates Sign Up  */
.signupdiv							{ margin-left:0px; width:99%; margin-top:10px; font-size:0.8em; font-family:Arial,Helvetica,Sanserif; font-weight:normal; color:Black; }


/* Quote Div  */
.quotediv							{ width:266px; height:277px; margin-top:20px; background:url("/media/Output/Images/quotebg1.jpg"); background-repeat:no-repeat; }
.quotedivdesc1						{ padding-top:20px; width:240px; margin-left:8px; font-size:1.2em; font-family:Cambria Math; font-weight:normal; color:#3f270b; text-align:left; line-height:24px; }	
.quotedivdesc2						{ width:240px; margin-left:8px; margin-top:20px; text-align:left; font-size:1.0em; font-family:Cambria Math; font-weight:normal; color:#3f270b; line-height:200%; }		
.designation						{ font-size:0.75em; line-height:120%; }

.regionname				{ margin-left:10px;margin-right:10px; margin-bottom:10px; margin-top:10px;  float:left; line-height:15px; display:block; text-decoration:none; font-size:13px; font-family:Arial,Helvetica,Sans-Serif; font-weight:normal; color:Gray; }