<!DOCTYPE HTML>
<!-- manifest="/media/coco/coco-offline.appcache" -->
<html xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <title>DataUpload COCO</title>
  <link rel="stylesheet" href="/media/coco/app/scripts/libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet"  href="/media/coco/app/styles/css/coco.css">
  
  <link rel="stylesheet"  href="/media/coco/app/styles/css/faq.css">
  <meta name="robots" content="NONE,NOARCHIVE">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="/media/coco/app/scripts/libs/jquery.min.js"></script>
  <script src="/media/coco/app/scripts/libs/bootstrap/js/bootstrap.min.js"></script>
  <style type="text/css">
    .errorlist{
      color: red;
    }
  </style>
</head>
<body  data-spy="scroll" data-target=".faq-sidebar">
    <div class="container">
        <div class="row global-header">
          <h1 class="coco-brand" style="text-align:center;"><a href="/coco">COCO</a></h1>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
              <div id="setup"></div><h3 class="topic">Data Upload Form</h3>

				        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
				        	{% csrf_token %}
								  <div class="control-group">
								    <label class="control-label" for="datafile">DataFile</label>
								    {% if form.datafile.errors %}<p class="errorlist">{{ form.datafile.errors }}</p>{% endif %}
								    <div class="controls">
								      {{ form.datafile }}
								    </div>
								  </div>
								  <br>
								  <br>
								  <div class="control-group">
								    <div class="controls">
								      <button type="submit" class="btn">Sign in</button>
								    </div>
								  </div>
								</form>
        			</div>

    </div>

</body>
</html>