{% extends "dataexport/base.html" %}

<style type="text/css">
  .errorlist{
    color: red;
  }
  .error{
    color: red;
  }
</style>

{% block sidebar %}
{% endblock %}
{% block content %}

  <div id="page-content-wrapper">
    <div class="container-fluid p-d-r">
      <div class="card">
        <h5 class="card-header">Please read the instructions for uploading the data.</h5>
        <div class="card-body">
          <p class="alert alert-dark" role="alert">1. <a href="{% url 'getfileheader' %}" id="header-download" class="btn btn-primary" style="line-height: 1rem">Download the sample file</a>. Fill in the data according to the format prescribed in the sheet. Please do not change the format.</p>
          <p class="alert alert-dark" role="alert">2. You should get Partner ID and District ID from COCO Admin. If they don't exist in COCO, you will need to create one.</p>
          <p class="alert alert-dark" role="alert">3. If you are entering data for a Block/Village/Group which already exist in COCO, ensure you use the exact same name as in COCO, e.g. Use Oromia instead of Oromiya. If they don't exist, this tool will create them.</p>
          <p class="alert alert-dark" role="alert">4. In case of error, email system@digitalgreen.org.</p>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <div class="card-title"><h4>COCO - Upload Data<h4></div>
        </div>
      
        <form id="data-upload" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        <div class="card-body">
          
          <!-- <a href="{% url 'getfileheader' %}" id="header-download" class="btn btn-primary float-right">Download Sample File</a> -->
          {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="errorlist alert alert-success" role="alert">
                  {{ message }}
              </div>
            {% else %}
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
            
              {% csrf_token %}
              <div class="control-group">
                {% if form.datafile.errors %}{{ form.datafile.errors}}{% endif %}
                <label class="control-label col-sm-2" for="datafile"></label>
                <div {% if form.datafile.errors %} class="col-sm-8" {% else %} class="col-sm-8" {% endif %} style="margin-top: 7px;">
                  {{ form.datafile }}
                </div>
              </div>
        </div>
        <div class="card-footer text-muted">
          <button type="submit" id="upload" class="btn btn-success">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  



{% endblock %}
