
{% extends "base_all.html" %}

{% block title %} Digital Green - Annual Reports{% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/annualreport.css' />       
{% endblock cssfile %}

{% block jsfile %}       
{% endblock jsfile %}

{% block pagetitle %} {{ block.super }}
	{% block reportpagetitle %} Annual Reports {% endblock reportpagetitle %} 
{% endblock pagetitle %}

{% block breadcrums %}  
	{{ block.super }}	
	{% block partnerbreadcrums %} 	 
	 <span style='font-size:0.9em; font-weight:bold;'> Annual Reports </span>
	{% endblock partnerbreadcrums %}	  
{% endblock breadcrums %}


{% block mainbodycontent %}	
	
    <div id='contentdiv1'>
    	<img src="/media/Output/Images/headerimg.jpg" />   	     
    </div>
    
    <table id='annualreporttable' cellspacing="0" cellpadding="0">
    	<tr>
    		<td class='annualreporttd'>
    			<div class='pagetitle'>
					Annual Reports
				</div>
				<div id='reportintro'>
					Digital Green works to share the latest qualitative and quantitative information on our progress with the partners and communities that we work with in the field in the most timely manner.  
					We invite you to read our annual reports from 2009 till date.
				</div>	
    			<div class='pastreport'>
    				<a href='/annualreport09'> <img src='/media/Output/Images/annualreportlinkimg2.jpg' > </a>
    			</div>  
    			
    			<div class='pastreport'>
    				<a href='/annualreport10'> <img src='/media/Output/Images/annualreportlinkimg3.jpg' > </a>
    			</div> 
    			  			
    		</td>
    	</tr>
    </table>		
{% endblock mainbodycontent %}	