
{% extends "annualreports.html" %}

{% block title %} Digital Green - Annual Report 2010-11{% endblock %}

{% block cssfile %}
	{{ block.super }}	  
{% endblock cssfile %}

{% block reportpagetitle %} Annual Report 2010-11{% endblock reportpagetitle %} 


{% block partnerbreadcrums %} 
	 <a href='/annualreports'> Annual Reports </a>/ 
	 <span style='font-size:0.9em; font-weight:bold;'> Annual Report 2010-11</span>
{% endblock partnerbreadcrums %}	  



{% block mainbodycontent %}	
	
    <div id='contentdiv1'>
    	<img src="/media/Output/Images/annualreportimg10.jpg" />
    	
    	<table id='annualreporttable' cellspacing="0" cellpadding="0">
    		<tr>
    			<td class='annualreporttd10'>
    				<div class='annualreportdiv11'>
    					<a href='/annualletter10'> <img src='/media/Output/Images/letter1.jpg' alt="" /> </a>
    					<div class='annualreportdesc11'>
    						<a class='annualreporttitlelink' href='/annualletter10'> INTRODUCTION </a>    						
    						Digital Green started as an idea that became a research project and now is scaling up. 
    					</div>	
    				</div>
    				
    				<div class='divgap'> </div>
    				
    				<div class='annualreportdiv11'>
    					<a href='/projectprogress10'> <img src='/media/Output/Images/progress10.jpg' alt="" /> </a>
    					<div class='annualreportdesc11'>
    						<a class='annualreporttitlelink' href='/projectprogress10'> PROGRESS </a>    						
    						We have established a foundation to exceed the impact that we had originally envisioned. 
    					</div>	
    				</div>
    				
    				<div class='divgap'> </div>
    				
    				<div class='annualreportdiv11'>
    					<a href='/challenge10'> <img src='/media/Output/Images/challenge-1.jpg' alt="" /> </a>
    					<div class='annualreportdesc11'>
    						<a class='annualreporttitlelink' href='/challenge10'> LEARNINGS & CHALLENGES</a>    						
    						We expect our collaboration to provide an opportunity for both scale and sustainability.
    					</div>	
    				</div>  
    	  		</td>
    	  	</tr>	
    	  	<tr>	
    	  		<td class='annualreporttd10'>    	  			
    				<div class='annualreportdiv11'>
    					<a href='/partnerexecutive'> <img src='/media/Output/Images/partnersimg4.jpg' alt="" /> </a>
    					<div class='annualreportdesc11'>
    						<a class='annualreporttitlelink' href='/partnerexecutive'> PARTNERS</a>    						
    						Partnership remains fundamental to our approach.
    					</div>	
    				</div>	
    				
    				<div class='divgap'> </div>
    				
    				<div class='annualreportdiv11'>
    					<a href='/financial10'> <img src='/media/Output/Images/financials.png' alt="" /> </a>
    					<div class='annualreportdesc11'>
    						<a class='annualreporttitlelink' href='/financial10'> FINANCIALS </a>    						
    						Extension services for smallholder farmers should primarily be considered a public good.
    					</div>	
    				</div>
    				
    				<div class='divgap'> </div>
    				
    				<div class='annualreportdiv11'>
    					<a href='/wondervillagegame' target='_blank'> <img src='/media/Output/Images/wondervillage10.jpg' alt="" /> </a>
    					<div class='annualreportdesc11'>
    						<a class='annualreporttitlelink' href='/wondervillagegame' target='_blank'> WONDER VILLAGE </a>    						
    						Visit Wonder Village, a social game that our technology team launched on Facebook.
    					</div>	
    				</div>    				    	  			
    	  		</td>    	  			  		
    	  	</tr> 	  		
    	</table>
    	
    	
    	<table id='annualreporttable1' cellspacing="0" cellpadding="0">
    		<tr>
    			<td class='annualreporttable1td'>  					
    					<div class='titlediv'>    						
    						MEDIA COVERAGE
    					</div>
    					
    					<script type="text/javascript">
							var xmlDoc=null;
           				 	if (window.XMLHttpRequest){
             					xhttp=new XMLHttpRequest();
            				}
            				else {
            	 				xhttp=new ActiveXObject("Microsoft.XMLHTTP");
            				}
            				xhttp.open("GET","/media/Output/press.xml",false);
            				xhttp.send();
            				xmlDoc=xhttp.responseXML;
							/*
							if (window.ActiveXObject)
							{// code for IE
    							xmlDoc=new ActiveXObject("Microsoft.XMLDOM");
							}
							else if (document.implementation.createDocument)
							{// code for Mozilla, Firefox, Opera, etc.
    							xmlDoc=document.implementation.createDocument("","",null);
							}
							else
							{
								alert('Your browser cannot handle this script');
							}
							*/
							if (xmlDoc!=null) 
							{
								//xmlDoc.async=false;
								//xmlDoc.load("/media/Output/press.xml");
								//alert("hello");
								
								var PressString = new Array();							
								var x=xmlDoc.getElementsByTagName("TEAM");
								
								document.write("<table id='spotlighttable' cellspacing='0px' cellpadding='0'>");				
								for (i=0;i<2;i++)
 								{
 									PressString[i] = (x[i].getElementsByTagName("DESC")[0].childNodes[0].nodeValue);
 									//alert(PressString[i]);
 									
  									document.write("<tr><td class='spotlighttd' cellspacing='0px' cellpadding='0'>");  					
  									
  									document.write("<div class='spotlightdivtitle'>");
  										document.write("<span style='font-family:Georgia,Times New Roman,Serif; font-size:1.0em; color:#5B6E1D; font-weight:normal;'>"  + (x[i].getElementsByTagName("TITLE")[0].childNodes[0].nodeValue)+ ": " + "</span>"+ "<a class='mainlinks' href='" + (x[i].getElementsByTagName("REFERENCE")[0].childNodes[0].nodeValue) + "'>" + (x[i].getElementsByTagName("HEADLINE")[0].childNodes[0].nodeValue) + "</a>");
  										document.write("<br/>");
  										document.write("<span style='font-family:Arial,Helvetica,Sans-Serif; font-size:0.8em; color:Gray;'>" +(x[i].getElementsByTagName("PRESSDATE")[0].childNodes[0].nodeValue) + "</span>");
  									document.write("</div>");
  									document.write("<div class='spotlightdivdesc'>");
  										document.write(PressString[i].substring(1,120)+" ..." +"<a class='viewmore' href='" + (x[i].getElementsByTagName("REFERENCE")[0].childNodes[0].nodeValue)  + "' target='_blank'>Read more</a>" );
  										document.write("<br/>");
  										//document.write("<a class='viewmore' style='margin-left:0px;' href='/press'> View more <img src='/media/Output/Images/learnmoreicon2.png' alt='Updates' float='right'></a>");
  									document.write("</div>"); 						
  									document.write("</td></tr>");
  								}
  								
  								document.write("<tr><td class='spotlighttd' cellspacing='0px' cellpadding='0'>");  					
  									document.write("<div class='viewmorediv'>");
  										document.write("<a class='viewmore' style='margin-left:0px;' href='/press'> View more Media Coverage <img src='/media/Output/Images/learnmoreicon2.png' alt='Updates' float='right'></a>");
  									document.write("</div>"); 						
  								document.write("</td></tr>");
  								
  								document.write("</table>");	
  							}		
				
						</script>
    			</td>
    			
    	  	</tr>
    	</table>	  
    	     
    </div>
{% endblock mainbodycontent %}	