
{% extends "base_annualreport10.html" %}

{% block title %} Digital Green - Annual Reports 2010-11 - Introduction{% endblock %}

{% block cssfile %}
	{{ block.super }}
{% endblock cssfile %}

{% block jsfile %}       
{% endblock jsfile %}

{% block reportpagetitle %} Introduction {% endblock reportpagetitle %}

{% block breadcrums %}
	{% block partnerbreadcrums %}
		<a href='/'> Home </a>/
		<a href='/annualreports'> Annual Reports </a>/
		<a href='/annualreport10'> Annual Report 2010-11 </a>/ 
		<span style='font-size:0.9em; font-weight:bold;'> Introduction </span>	
	{% endblock partnerbreadcrums %}	  
{% endblock breadcrums %}


{% block mainbodycontentleft %}
	{% block mainbodycontentleftimg %}		
		<div class='mainbodycontentleftimg'>	
			<img src='/media/Output/Images/letter10.jpg' />
		</div>
	{% endblock mainbodycontentleftimg %}
	
	
    <div id='contentdiv2'>
    		<br/><br/>
    		Digital Green is evolving: It started as an idea that became a research project that was evaluated and then extended and now is scaling up.  In some ways, we have crossed from one stepping-stone to the next in sequence.  In other ways, the journey has been more iterative and cyclical.  
    		<br/><br/>
    		I recently visited Mahabubnagar, Andhra Pradesh to meet a group of eleven women from the surrounding area who were getting introduced to filmmaking for the very first time.  They had never held a camera nor been on camera before and, though I couldn't understand a word of the Telugu that they spoke, they were clearly engrossed in learning how to do so. In less than two and a half days, these women were developing storyboards, shooting videos in the field, editing them on a computer, and sharing tips with one another on how they could make them better. Check out a 3-minute highlight reel of the women in action <a class='quicklinks' href='http://www.youtube.com/watch?v=Zk9VRn6bT6U' target='_blank'>here</a> 
    		<br/><br/>
    		Of course, this was just a beginning for the women - and for us.  That training program marked the beginning of our partnership with the Government of India's National Rural Livelihoods Mission, <a class='quicklinks' href='http://go.worldbank.org/BSS10ZFQG0'>one of the world's largest poverty reduction initiatives</a>, in which we will be looking to connect with over 1 million farmers across 10,000 villages over the next three years.  It' an exciting opportunity for scale and sustainability, but the magnitude of such numbers is difficult to fathom.  Just as we <a class='quicklinks' href='/update' target='_blank'>started</a> in 2006 and the <a class='quicklinks' href='http://www.youtube.com/watch?v=_HTsrigrUQY' target='_blank'> boot camp</a> that launched the Digital Green team in 2009, it's a process that will involve one farmer, one village at a time. 
    		<br/><br/>
    		Together with our <a class='quicklinks' href='/partnerexecutive' target='_blank'>partners</a>, we're working to help build and support the aspirations that individuals seek to achieve.  Our network of <a class='quicklinks' href='/teammember' target='_blank'>team members</a> and <a class='quicklinks' href='/partnerexecutive' target='_blank'>partners</a> has <a class='quicklinks' href='/projectprogress10' target='_blank'>developed our capabilities considerably</a> over the last five years. Seven NGO partners now work with us in over 900 villages across 6 states in India and have produced over 1,800 videos that have been screened more than 45,000 times to over 60,000 farmers. In a rough assessment in Orissa, we found that the cost-effectiveness of two of our partners' existing interventions increased by a factor of 4-5x and had resulted in gains of around US$ 242 per farmer in the first year of our work together.
    		<br/><br/>
    		We're humbled to see that sort of impact and plan to work with <a class='quicklinks' href='http://www.poverty-action.org' target='_blank'>Innovations for Poverty Action</a> for a more rigorous assessment.  We also continue to capture, analyze, and share data on the progress we're making in near real-time on our <a class='quicklinks' href='http://analytics.digitalgreen.org' target='_blank'>analytics dashboards</a>. I'd also encourage you (and your friends!) to play our Facebook game, <a class='quicklinks' href='http://apps.facebook.com/wondervillage' target='_blank'>Wonder Village</a>, developed in-house by our technology team, and join the over 17,000 people who are building their own villages and connecting with real ones.
    		<br/><br/>
    		We have much farther to go and we've been reflecting on <a class='quicklinks' href='/challenge10' target='_blank'>how we can do things better</a>.  Most especially, nurturing our partnerships with organizations and communities: listening to what's going well, what's not, and how we can improve our work together.   We're iterating our <a class='quicklinks' href='/sop' target='_blank'>standard operating procedures</a> based on the learnings and challenges that we're encountering in the field and have drafted a broader <a class='quicklinks' href='/qualityassurance' target='_blank'>framework for ensuring quality</a> as we go to scale.  We're increasing our focus not just on the efficiency gains of combining technology with social organizations, but also the ultimate impact that it makes in the lives of individuals.
    		<br/><br/>
    		Though our work has focused on agricultural development, the <a class='quicklinks' href='http://digitalgreen.org/analytics/video_search' target='_blank'>videos</a> feature a diverse range of issues: from accessing inputs to organizing self-help groups to facilitating microcredit and savings to improving production techniques to linking with markets and government programs.  As we work with the Government of India's Ministry of Rural Development and others, we'll be leveraging the platform to integrate initiatives in public health and nutrition and primary school education.
    		<br/><br/>    		
            We're also in the process of extending to other part of South Asia and East Africa through franchisees who are committed and able to drive the model forward.  Over the last year, our team visited groups in Bangladesh, Ethiopia, Kenya, and the Philippines and several of these groups returned the favor by visiting us in India to check out the action in the field.
    		<br/><br/>
    		As you can imagine, our <a class='quicklinks' href='/teammember' target='_blank'>team</a> and <a class='quicklinks' href='/boardmember' target='_blank'>board</a> is growing.  We're looking for a few good men and women to join us as we accelerate our scaling up in India and beyond.  We're recruiting engineers, trainers, designers, managers, and more.  Please do pass the word and the link to our careers page: <a class='quicklinks' href='/career'>http://digitalgreen.org/career/</a>. 
    		<br/><br/>   			
    		For more, I'd invite you to visit our <a class='quicklinks' href='/' target='_blank'>website</a>, <a class='quicklinks' href='/contact' target='_blank'>our offices</a>, <a class='quicklinks' href='http://analytics.digitalgreen.org' target='_blank'>field sites</a>, or <a class='quicklinks' href='http://apps.facebook.com/wondervillage' target='_blank'>Wonder Village</a> today.
    		 
    		<br/><br/>
    		<br/><br/>
    		<img src='/media/Output/Images/rikinsign2.jpg' /><br/>
    		Rikin Gandhi <br/>
    		CEO, Digital Green    	
    	    	     
    </div>
     
{% endblock mainbodycontentleft %}


{% block mainbodycontentright %}		
	{{ block.super }}	
	
	<div style='margin-top:15px;'>					
		<a href="/teammember">
			<img src="/media/Output/Images/dgteamlinkimg1.jpg" />
		</a>		
	</div>	
	
	<div id="explorediv3">	
		<div style='text-align:left; font-style:Sans-Serif; color:Gray;'>Past Annual Reports</div>				
		<a href="/annualreport09">
			<img src="/media/Output/Images/annualreportlinkimg1.jpg" />
		</a>		
	</div>	
{% endblock mainbodycontentright %}	