
{% extends "base_all.html" %}

{% block title %} Digital Green - Annual Report{% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/annualreport.css' />       
{% endblock cssfile %}

{% block jsfile %}       
{% endblock jsfile %}

{% block pagetitle %} {{ block.super }}
	{% block reportpagetitle %} Annual Report {% endblock reportpagetitle %} 
{% endblock pagetitle %}

{% block breadcrums %}  
	{{ block.super }}	
	{% block partnerbreadcrums %} 	 
	 <span style='font-size:0.9em; font-weight:bold;'> Annual Report </span>
	{% endblock partnerbreadcrums %}	  
{% endblock breadcrums %}


{% block mainbodycontentleft %}
    
{% endblock mainbodycontentleft %}


{% block mainbodycontentright %}		
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp; Annual Report </div>
			<div class='exploredescmain'> 
				<a class="exploredescmainlink" href="/annualletter"><img src="/media/Output/Images/linkimg2.png" alt="">Introduction</a>
				<a class="exploredescmainlink" href="/scalability" title='Progress Dashboard'><img src="/media/Output/Images/linkimg2.png" alt="">Field Developments</a>
				<a class="exploredescmainlink" href="/projectprogress"><img src="/media/Output/Images/linkimg2.png" alt="">Progress</a>			
				<a class="exploredescmainlink" href="/lessonlearned"><img src="/media/Output/Images/linkimg2.png" alt="">Learnings</a>
				<a class="exploredescmainlink" href="/team"><img src="/media/Output/Images/linkimg2.png" alt="">Our Team</a>
				<a class="exploredescmainlink" href="/partnerexecutive"><img src="/media/Output/Images/linkimg2.png" alt="">Our Partners</a>
				<a class="exploredescmainlink" href="/budgetprogress"><img src="/media/Output/Images/linkimg2.png" alt="">Financials</a>
				
				
			</div> 
		</div>			
	</div>		
	
	<div id="explorediv1">		
		<div class="exploredescdiv">			
			<div class="exploredescmain"> 
				<a class="exploredescmainlink" href="/press">
					<span style="font-weight: bold;">Press Room </span>
					<br/>
					Find new updates, press releases
				</a>						
			</div> 			
		</div>			
	</div>	
	
	
	<div id="explorediv3">					
		<a href="/tech">
			<img src="/media/Output/Images/techresearch4.jpg" />
		</a>		
	</div>	

{% endblock mainbodycontentright %}	