{% extends "base_career.html" %}

{% block careerbody %}

    <div id='contentdiv2'>
    	<div id='divstattitle'>
			<table id='divtitletable'  cellspacing='0' cellpadding='0'>						
				<tr>
					<td class='divtitletablename'> <div id='divstattitlename'>We are Hiring!</div> </td>
					<td class='divtitletableimg'> We have immediate openings for: </td>
				</tr>
			</table>								
		</div>
    	<table id='table2' cellspacing='0' cellpadding='5'>						
			<tr>												
				<td class='content2td' cellspacing='0' cellpadding='0' > 
					<div id='content2tdtitle1'>
						<table id='contenttitletable'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td id='contenttitletablename'> <div id='contenttitlename'>Assistant Development Manager</div>  </td>
								<td id='contenttitletableimg'> <div id='content2tdtitleimg'> 	</div> </td>
							</tr>
						</table>
						<table id='content2desc1'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td> 
									<div id='content2descclose'> </div> 									 
								</td>							
							</tr>
							<tr>
								<td> 
									<div id='content2descdiv'>
									
										Digital Green (DG) is a national NGO that seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. Working in close partnership with NGOs in each geographical area, the system improves the efficiency of extension programs by delivering targeted content to a wider audience enabling farmers to better manage their farming operations with reduced field support. 
										Based on its highly successful pilot research project supported by Microsoft Research, Digital Green is currently involved in scaling up its operations in different parts of the country. This scale up of Digital Green operations is supported by Bill & Melinda Gates Foundation.
										<br/>	
										Digital Green is inviting applications from development professionals for the positions of Assistant Development Managers (ADMs) to manage its front end operations. 
										Reporting to Regional Development Managers, ADMs will engage with stakeholders at the village level and collaborate with NGO partners to develop and disseminate good farming practices using information, communication and technology (ICT) resulting in better farm yield and livelihood for the small and marginal farmers. 
										<br/>
										<br/>
										Key Responsibilities:
											<ul>
												<li> Nurture and strengthen partnership with area specific NGOs and community groups  </li>
   												<li> Identify suitable farming practices and develop content for video production </li>
   							    				<li> Using ICT, disseminate good practices among the farmers and motivate them to adopt new practices </li>								
												<li> Using Digital Green project management system, monitor project activities and report on activities, milestones and accomplishments in a timely fashion </li>
												<li> Identify concerns, issues and problems promptly, address and report them  
													<ul>
														<li> Liaise with partners and technical advisors </li>
														<li> Process necessary project approval and contractual documentation, ensuring any necessary ethical review </li>
													</ul>
														
												</li>
											</ul>
										Qualifications and skills:
											<ul>
												<li> Graduate degree in agriculture or related discipline with experience in project management for a national or international NGO in an administrative role  </li>
   												<li> Excellent interpersonal, verbal and written communication, including report writing, skills. </li>
   							    				<li> Demonstrated ability to manage data </li>								
												<li> Flexible, detail-oriented, organized, adaptable to changing priorities and ability to take the initiative and to meet strict deadlines </li>
												<li> Excellent computer skills using MS Office (particularly Word, PowerPoint and Excel) and familiarity with the Internet	</li>
												<li> Experience organizing meetings and/or workshops </li>
												<li> Ability to work within a team situation and with minimum supervision </li>
												<li> Demonstrated interest and passion about agriculture and livelihood issues </li>
											</ul> 	
									</div> 									 
								</td>							
							</tr>
						</table>
					</div>					
										
				</td>													
			</tr>
			<tr>												
				<td class='content2td'cellspacing='0' cellpadding='0' > 	
					<div id='content2tdtitle2'>
						<table id='contenttitletable'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td id='contenttitletablename'> <div id='contenttitlename'> System Engineer </div> </td>
								<td id='contenttitletableimg'> <div id='content2tdtitleimg'> 	</div> </td>								
							</tr>
						</table>
						<table id='content2desc2'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td> 
									<div id='content2descclose'> </div> 									 
								</td>							
							</tr>
							<tr>
								<td> 
									<div id='content2descdiv'>
									
										Digital Green (DG) is a national NGO that seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. Working in close partnership with NGOs in each geographical area, the system improves the efficiency of extension programs by delivering targeted content to a wider audience enabling farmers to better manage their farming operations with reduced field support. 
										Based on its highly successful pilot research project supported by Microsoft Research, Digital Green is currently involved in scaling up its operations in different parts of the country. This scale up of Digital Green operations is supported by Bill & Melinda Gates Foundation.
										<br/>
										<br/>
										Digital Green is looking for a superstar software developer who has experience with:
											<ul>
												<li> Distributed systems (hands-on experience preferred, academic experience is OK)   </li>
   												<li> Database experience (optimizing SQL and writing software that uses SQL to access databases)  </li>
   							    				<li> LAMP (PHP, Python, Perl)  </li>								
												<li> Architecting and implementing production websites (HTML, CSS, XML, Javascript, etc.)  </li>
												<li> Building technology at the crossroads of back-end functionality and front-end design </li>
											</ul>
											
										You will: 
											<ul>
												<li> Play a key role in the building the technology that powers Digital Green   </li>
   												<li> Start with ideas, design products and features, architect a technical solution, then build, test, and launch it in the field  </li>
   							    				<li> Be an integral member of our team and help shape our future  </li>								
												<li> Help build and grow the team  </li>
											</ul>
											
										We will: 
											<ul>
												<li>  Be a group of the smartest, most trustworthy, passionate, and interesting people you know   </li>
   												<li> Make sure you have what you need to be happy and productive  </li>
   							    				<li> Compensate you with an exciting mixture of cash and developmental impact that you can by proud of  </li>								
												<li> Make great teammates united around a vision of improving the livelihoods of farmers using technology  </li>
											</ul>	 
									</div> 									 
								</td>							
							</tr>
						</table>
					</div>					
								
				</td>									
			</tr>
			<tr>												
				<td class='content2td'cellspacing='0' cellpadding='0' > 	
					<div id='content2tdtitle3'>
						<table id='contenttitletable'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td id='contenttitletablename'> <div id='contenttitlename'> Interaction Designer </div> </td>
								<td id='contenttitletableimg'> <div id='content2tdtitleimg'> 	</div> </td>								
							</tr>
						</table>
						<table id='content2desc3'  cellspacing='0' cellpadding='0'>						
							<tr>
								<td> 
									<div id='content2descclose'> </div> 									 
								</td>							
							</tr>
							<tr>
								<td> 
									<div id='content2descdiv'>									
										Digital Green (DG) is a national NGO that seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. Working in close partnership with NGOs in each geographical area, the system improves the efficiency of extension programs by delivering targeted content to a wider audience enabling farmers to better manage their farming operations with reduced field support. 
										Based on its highly successful pilot research project supported by Microsoft Research, Digital Green is currently involved in scaling up its operations in different parts of the country. This scale up of Digital Green operations is supported by Bill & Melinda Gates Foundation.
										<br/>
										<br/>
										Digital Green is looking for an Interaction Designer who is adept at:
											<ul>
												<li> Creating clean, coherent, beautiful consumer websites    </li>
   												<li> Taking large amounts of information and presenting them in clean and simple ways   </li>
   							    				<li> HCI principles and UI best practices, and incorporating this experience into the concept development process   </li>								
												<li> Designing and implementing production websites (HTML, CSS, XML, etc.)  </li>												
											</ul>
										
										Ideally, you are also someone who has experience with:
											<ul>
    											<li>	Visual design </li>
    											<li>	Modern technologies used in creating innovating UI (e.g. AJAX, Flex/Actionscript/Flash) </li>
    											<li>	Building technology at the crossroads of back-end functionality and front-end design </li>
    											<li>	Integrating with APIs with white-label and open-source services (e.g., YouTube, Google Maps)  </li>	
											</ul>
											
										You will: 
											<ul>
												<li> Play a key role in the creation of the user interface for our products   </li>
   												<li> Start with ideas, design products and features, architect a technical solution, then build, test, and launch it in the field  </li>
   							    				<li> Be an integral member of our team and help shape our future  </li>								
												<li> Help build and grow the team  </li>
											</ul>
											
										We will: 
											<ul>
												<li>  Be a group of the smartest, most trustworthy, passionate, and interesting people you know   </li>
   												<li> Make sure you have what you need to be happy and productive  </li>
   							    				<li> Compensate you with an exciting mixture of cash and developmental impact that you can by proud of  </li>								
												<li> Make great teammates united around a vision of improving the livelihoods of farmers using technology  </li>
											</ul>	 
									</div> 									 
								</td>							
							</tr>
						</table>
					</div>					
								
				</td>									
			</tr>
			<tr>												
				<td class='content2td'cellspacing='0' cellpadding='0'>
					<div id='content2tdtitle4'>
						Digital Green offers highly dynamic and enabling work environment and provides competitive compensation based on experience and background. 
						Interested candidates should visit <a href="www.digitalgreen.org"> www.digitalgreen.org </a> to learn more about Digital Green and submit their application with a cover note, current CV 
						and at least three references to <a href="mailto:jobs@digitalgreen.org">jobs@digitalgreen.org</a>						
					</div>				 
				</td>
			</tr>							
		</table>
    </div>

{% endblock careerbody %}