

{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Farmers {% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Farmers </span>	
{% endblock breadcrumsmore %}

{% block overviewrightlink %}{% endblock overviewrightlink %}

{% block pagetitle %} &nbsp; Farmers {% endblock pagetitle %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/farmersimg1.jpg" alt='Dr. Nagagouda giving Lessons'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Farmers 
	</div>
	
	<div id='contentdiv1'>		
		India is primarily an agricultural country. Over 60% of the population relies on agriculture for its livelihood. 
		Though a generational vocation, farming has been unable to maintain its traditional heritage because of social, economic, and environmental change.
		<br/> <br/>
		The livelihoods of small and marginal farmers are in jeopardy in fragmented agricultural systems such as the one in India. 
		Increasing debt and declining returns have led many to make desperate choices, which include selling their land below market rates and sometimes even taking their own lives. 
		Farmers perceive that their options are limited because agricultural knowledge is often protected by the interests of chemical and seed manufacturers and market access is restricted by middle-men. 
		Government extension officers are usually unable to visit with farmers for various reasons and agricultural broadcast programs lack relevancy. 
		<br/> <br/>
		Farmers tend to find refuge in their own intuition and the hearsay of fellow villagers, which sometimes results in a downward spiral of poor decision-making. 
		NGOs have attempted to fill this information gap with extension staffs that train farmers and visit fields to promote better practices. 
		A farmer's "conventional" operations may be transformed to reflect the following characteristics of sustainable agriculture: 
	</div>
{% endblock mainbodycontentleft %}	

