

{% extends "base_aboutusoverview.html" %}

{% block title %} Scalability:: Digital Green {% endblock %}

{% block breadcrumsmore %} 
	<span style='font-size:0.9em; font-weight:bold;'> Our Work - Scalability </span>	
{% endblock breadcrumsmore %}

{% block overviewrightlink %}{% endblock overviewrightlink %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/scalabilityimg1.jpg" alt='Scalability'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Scalability 
	</div>
	
	<div id='contentdiv1'>	 
		The Digital Green database is not intended to be a physically centralized system. Instead, Digital Green is designed to work as a decentralized network of hubs and spokes. 
		Each hub is a demonstration village, which is transformed into a center of excellence through the concerted efforts of NGOs and experts, and the hubs themselves are "networked" together. 
		The spokes are typically neighboring villages that also need help, but which are difficult to reach because of a lack in expert resources. 
		Each hub is responsible for expert content production for the local region, content distribution in its local neighborhood, teacher training, and interactions with other hubs. 
		Recording hubs in which field extension activities are concentrated provide a sequential stream of new content that can be screened to surrounding hubs and spokes.
		<br/><br/>
		The hubs-and-spokes model is how we may effectively scale up the Digital Green system. The applicability horizon of localized content depends on its type. 
		Whereas an expert demonstration may be relevant to a wide geographical area (e.g., radius of around 20 km) beyond a hub, the motivation afforded by a farmer testimonial may be restricted to 
		the immediate vicinity of where the farmer and village are known personally by the audience (e.g., radius of around 2 km). Spoke villages also participate in the content generation process 
		for both internal and external consumption; however, the principal beneficiaries of the content will be the immediate peers of those farmers that are recorded. 
		Content generated in spoke villages tends to be of lesser quality because experts are unavailable to support its production; however, worthy indigenous or innovative practices may be 
		circulated for wider distribution as appropriate.  
		<br/><br/>
	</div>
{% endblock mainbodycontentleft %}	

