{% extends "base_team.html" %}

{% block title %}Digital Green - Team - Accountants & Lawyers {% endblock %}

{% block breadcrumsmore %} 	
	<a href='/team'> Team </a>/ 
	<span style='font-size:0.9em; font-weight:bold;'> Accountants & Lawyers </span>	
{% endblock breadcrumsmore %} 
	 

{% block mainbodycontentleft %}
	<div class='pagetitle'>
		Accountants & Lawyers 
	</div>	
    <div id='contentdiv1'>
		
		<table id='table1' cellspacing='0px' cellpadding='0'>
 			<tr>
 				<td class='boardtd1' cellspacing='0px' cellpadding='0'>  					
  					<div class='boardtd1div1'>
  							<div class='boardtd1div1name'>
  								Accountants  								
  							</div>	
  					</div>  					
  					<div class='boardtd1div2'>
  							<div class='boardtd1div2title'>
  								<ul class='boardtd1div2ul'>
  									<li> 
  										Ajit & Vivek Chartered Accountants,	
  									</li>
  									<li> 
  										India  										
  									</li>									
  								</ul>  								  								
  							</div>
  							<div class='boardtd1div2desc'> 								
  								<ul class='boardtd1div2ul'> 									
  									<li>
  									</li>  									
  								</ul> 									  									
  							</div>
  					</div>
  				</td>
  			</tr>
  			<tr>
 				<td class='boardtd1' cellspacing='5px' cellpadding='0'>  					
  					<div class='boardtd1div1'>
  							<div class='boardtd1div1name'>
  								Lawyers 								
  							</div>	
  					</div>  					
  					<div class='boardtd1div2'>
  							<div class='boardtd1div2title'>
  								<ul class='boardtd1div2ul'>
  									<li> 
  										Amarchand Mangaldas Advocates and Solictors,	
  									</li>
  									<li> 
  										India  										
  									</li>									
  								</ul>  								  								
  							</div>
  							<div class='boardtd1div2desc'> 								
  								<ul class='boardtd1div2ul'> 									
  									<li>
  									</li>  									
  								</ul> 									  									
  							</div>
  					</div>
  				</td>
  			</tr>
  		</table>					
	</div>
	<br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> 
	
	
{% endblock mainbodycontentleft %}
	
		