
{% extends "base_all.html" %}

{% block title %} Digital Green  - Media Coverage{% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/press.css' />       
{% endblock cssfile %}

{% block jsfile %}
       <script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>
{% endblock jsfile %}


{% block pagetitle %} {{ block.super }}Media Coverage {% endblock pagetitle %}

{% block breadcrums %}  

	{{ block.super }}
	 <span style='font-size:0.9em; font-weight:bold;'> Media Coverage </span>
	 
{% endblock breadcrums %}

{% block mainbodycontentleft %}

    <div class='mainbodycontentleftimg'>
		{% block mainbodycontentleftimg %}
			<img src="/media/Output/Images/pressimg1.jpg" alt='Women on the field'>
		{% endblock mainbodycontentleftimg %}
	</div>
    
    <div class='pagetitle'>
		Media Coverage 
	</div>
	
	<div id='contentdiv1'>
		
		<script type="text/javascript">
			var xmlDoc=null;
			var fromindex;
			var toindex;
            if (window.XMLHttpRequest){
             xhttp=new XMLHttpRequest();
            }
            else {
             xhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xhttp.open("GET","/media/Output/press.xml",false);
            xhttp.send();
            xmlDoc=xhttp.responseXML;
			
			if (xmlDoc!=null) 
			{
				var x = xmlDoc.getElementsByTagName("TEAM");

				//alert(x.length);				
			document.write("<table id='outertable1' cellspacing='0' cellpadding='0'>");	
				document.write("<tr><td id='outercontenttd1' cellspacing='0' cellpadding='0'>");	
				//document.write("<div id='table1div'");	
				document.write("<table id='table1' cellspacing='0' cellpadding='0'>");				
				for (i=0;i<6;i++)
 					{
  					document.write("<tr><td class='contenttd1' cellspacing='0' cellpadding='0'>");  					
  						document.write("<div class='contenttd1div1'>");
  							document.write("<ul class='contenttd1div2titleul'>");  								
  								document.write("<li>"); 
  									document.write("<a href='" + (x[i].getElementsByTagName("REFERENCE")[0].childNodes[0].nodeValue) + "'>" + (x[i].getElementsByTagName("HEADLINE")[0].childNodes[0].nodeValue) + "</a>");
  								document.write("</li>");  									
  							document.write("</ul>");
  							
  							document.write("<ul class='contenttd1div1descul'>");
  								document.write("<li>"); 
  									document.write(x[i].getElementsByTagName("TITLE")[0].childNodes[0].nodeValue);	
  								document.write("</li>");
  								document.write("<li>"); 
  									document.write("|" );	
  								document.write("</li>");
  								document.write("<li>"); 
  									document.write(x[i].getElementsByTagName("PRESSDATE")[0].childNodes[0].nodeValue);
  								document.write("</li>");  									
  							document.write("</ul>");  							
  						document.write("</div>");
  					
  						document.write("<div class='contenttd1div2'>");  							
  							document.write("<div class='contenttd1div2desc'>");
  								document.write("<p>");
  									document.write( "<span class='pstyle'>" + (x[i].getElementsByTagName("PLACE")[0].childNodes[0].nodeValue)+ ":&nbsp;" + "</span>" + (x[i].getElementsByTagName("DESC")[0].childNodes[0].nodeValue) );
  								document.write("</p>");
  							document.write("</div>");
  						document.write("</div>");
  						
  						document.write("<div class='contenttd1div3'>");
  							document.write("<ul class='contenttd1div3descul'>");
  								document.write("<li>"); 
  									document.write("<a href='" + (x[i].getElementsByTagName("REFERENCE")[0].childNodes[0].nodeValue) + "'>"); 
  										document.write("Full Coverage");	
  									document.write("</a>"); 
  								document.write("</li>");  									
  							document.write("</ul>");
  						document.write("</div>");
  					document.write("</td></tr>");
  					}
  				document.write("</table>");
  				//document.write("</div>");
  				document.write("</td></tr>");
  			document.write("</table>");
  			
  			var pagecount = Math.ceil(x.length/6); // calculating the numebr of page indexes to be used  				
  			//alert("Number of pages to be printed" + pagecount);
  			document.write("<div id='pagingdiv'>");  					
  				document.write("<ul id='pagingdivul'>");  
  					for(i=1; i<=pagecount; i++)
  					{
  						document.write("<li id='pagingdivli'>");								  						
  							document.write(i);  								
  						document.write("</li>"); 		
  					}
  				document.write("</ul>");	
  			document.write("</div>"); 	
            
			
			$("#pagingdivul li").click(function() {             	
            	//$("div#table1div").hide();
            	$("#pagingdivul li").css("background-color","#E7F7CF");
            	$(this).css("background-color","#C0E481");
            	var indexstr = $(this).html();            	
            	var num = parseInt(indexstr);
            	//alert(num);	
            	fromindex = 6*( num-1 );
            	toindex = ( num*6 )-1;
            	var refstring, headlineref, titlestring, pressdate;            	
            	
            	//alert(num + "--"+ fromindex + "--" + toindex); 
            	
            	var Stringhtml1 = "<table id='table1' cellspacing='0' cellpadding='0'>";
            	var Stringhtml2; 
            	var Stringhtml3 = "</table>";
            	$("td#outercontenttd1").html(Stringhtml1);
            	for (i=fromindex;i<=toindex;i++)
 					{
 						refstring = (x[i].getElementsByTagName("REFERENCE")[0].childNodes[0].nodeValue);
            			headlineref = (x[i].getElementsByTagName("HEADLINE")[0].childNodes[0].nodeValue);
            			titlestring = (x[i].getElementsByTagName("TITLE")[0].childNodes[0].nodeValue);
            			pressdate = (x[i].getElementsByTagName("PRESSDATE")[0].childNodes[0].nodeValue); 						
 						placestring = (x[i].getElementsByTagName("PLACE")[0].childNodes[0].nodeValue);
 						descstring = (x[i].getElementsByTagName("DESC")[0].childNodes[0].nodeValue);
 						Stringhtml2 = "<tr><td class='contenttd1' cellspacing='0' cellpadding='0'><div class='contenttd1div1'><ul class='contenttd1div2titleul'><li><a href='" + refstring + "'>" + headlineref + "</a></li></ul><ul class='contenttd1div1descul'><li>"+titlestring+"</li><li>|</li><li>" + pressdate + "</li></ul></div><div class='contenttd1div2'><div class='contenttd1div2desc'><p><span class='pstyle'>" + placestring + ":</span>" + descstring + "</p></div></div><div class='contenttd1div3'><ul class='contenttd1div3descul'><li><a href='" + refstring + "'>Full Coverage</a></li></ul></div></td></tr>";
 						$("td#outercontenttd1").append(Stringhtml2);
 					
 					}
 				$("td#outercontenttd1").append(Stringhtml3);	
            });
  			
  			
  			}	//end of if(xmldoc!=null)	
                       
		</script>
					
	</div>

{% endblock mainbodycontentleft %}	

{% block mainbodycontentright %}	
	
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp; Sign Up for Updates </div>
			<div class='signupdiv'> 
				<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>   					
		    		<form action="http://groups.google.co.in/group/digitalgreenfriends/boxsubscribe">
            			<tr><td style="padding-left: 5px;"> 
            				<input type=text name=email value='Email Address' onfocus="this.value=''"> <input type=submit name="sub" value="Subscribe">
            			</td></tr>
            		</form>					
				</table>
			</div> 
		</div>			
	</div>
	
	<div class='pressvideo'>
		<div class='quotediv'>						
			<div class='quotedivdesc1'>				 
				"Our effort is <br/> ten times more effective  <br/>per dollar spent in converting farmers to better farming practices than more traditional approaches."
			</div>
			<div class='quotedivdesc2'> 				
				Rikin Gandhi
				<br/>
				<span class='designation'>	
					CEO
				</span>	
			</div>	
		</div>		
	</div>
	
	
		
{% endblock mainbodycontentright %}	