{% extends "base_career.html" %}

{% block title %} Digital Green - Careers - State Managers{% endblock %}

{% block partnerbreadcrums %} 	 
	 <a href='/career'>Careers</a> /
	 <span style='font-size:0.9em; font-weight:bold;'> State Managers </span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		State Managers
	</div>
	
	<div id='content2descdiv'>
									
		Digital Green (DG) is an international, non-profit development organization that builds and deploys information and communication technology to amplify the effectiveness of development efforts to affect sustained, social change.  The Digital Green system combines technology and social organization to improve the cost-effectiveness and broaden the community participation in existing best practices. It is supported by Bill and Melinda Gates Foundation, Ford Foundation, and Government of India. Digital Green's India country office is located in New Delhi with state offices in Bhopal, Bhubaneswar and Bengaluru. It currently works in five states in India, including Bihar, Jharkhand, Orissa, Madhya Pradesh, and Karnataka, in collaboration with a number of partners, like PRADAN and BAIF.  It is poised to begin its operations in Andhra Pradesh and expand its work in other states as well.
		<br/>
		<br/>
		DG is seeking applications from experienced professionals for the positions of State Managers to head state operations in Hyderabad and Patna. The State Managers will report to Chief Operating Officer / Chief Strategist.
		<br/>
		<br/>
		Key Responsibilities:
		<ul>
			<li> Responsible for strategic planning, relationship building and representation in the state   </li>
   			<li> Working with the national team, responsible for driving state work plans and ensuring their timely execution </li>
   			<li> Liaise with governmental authorities, and other national and international institutions </li>								
			<li> Responsible for administrative, financial and contractual matters within the state </li>
			<li> Lead the state team consisting of Deputy State Manager, Program Managers and administrative staff </li>
			<li> Mentor, inspire and model the team for optimum performance using DG HR systems </li>
			<li> Responsible for  creation of strategic partnerships and implementation of the resource mobilization strategy</li>
			<li> Familiarity with the region an asset</li>
		</ul>
						
		Qualification and Skills:
		<ul>
			<li> University degree in Rural Development, Management or  Social Sciences   </li>
   			<li> Seven years of relevant experience in project/ programme formulation and implementation at national and international levels   </li>
   			<li> Previous leadership experience in managing a multi-disciplinary team to deliver high quality deliverables  </li>								
			<li> Excellent leadership, interpersonal, coordination and information management skills  </li>
			<li> Demonstrated analytical skills applied on a wide range of factors, parameters, policies and priorities for the assessment and resolution of complex situations </li>
			<li> Personal commitment, drive for results, efficiency and flexibility  </li>
			<li> Ability to work effectively and harmoniously in a team and with colleagues from varied cultures and professional backgrounds </li>
		</ul>
		
		All positions carry competitive salaries with fringe benefits comparable to leading national level development sector organizations. Desirous candidates should apply with a cover note that highlights their motivation to apply and suitability for the position applied, current CVs and three references to <a class='maillinks' href="mailto:jobs@digitalgreen.org">jobs@digitalgreen.org</a>		 
	</div>
	
{% endblock mainbodycontentleft %}