{% extends "base_career.html" %}

{% block title %} Digital Green - Careers - Executive Secretary{% endblock %}

{% block partnerbreadcrums %} 	 
	 <a href='/career'>Careers</a> /
	 <span style='font-size:0.9em; font-weight:bold;'> Executive Secretary </span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		Executive Secretary
	</div>
	
	<div id='content2descdiv'>
									
		Digital Green is an international, non-profit development organization that builds and deploys information and communication technology to amplify the effectiveness of development efforts to affect sustained, social change.  The organization is supported by Bill and Melinda Gates Foundation, Ford Foundation, and Government of India.  Digital Green's India headquarters is located in New Delhi with state offices in Bhopal, Bhubaneswar, Bangalore, Hyderabad, and Patna.  Over the next 3.5 years, Digital Green plans to scale its operations to over 10,000 villages across India and extend its work to Africa.
		<br/>
		<br/>
		Location: New Delhi; <br/> Job family: Operations; <br/>Reports to: Chief Operating Officer; 
		<br/>
		<br/>
				
		Key Responsibilities:
		<ul>
			<li>Maintain an accurate and efficient filing system</li>
			<li>Maintain records </li>
			<li>Assist in preparing correspondence, reports, notices, bids and contracts</li>
			<li>Set up and coordinate meetings and conferences</li>
			<li>Look after all the secretarial functions related to the concerned officer.</li>
			<li>Maintain Calendars/Setting Appointments/Briefing him each day on the schedule.</li>
			<li>Arrange board rooms/conference rooms for meetings.</li>
			<li>Handle E-Mails/Reply internet browsing as and when required.</li>
			<li>Handle Travel Arrangements/Hotel/Visa/Car Booking for Domestic/International Visits.</li>
			<li>Take Dictation, prepare letters, filing and maintaining confidential matters/records</li>
			<li>Attend and screen incoming calls</li>
			<li>Effective coordination & communication with various departments in order to ensure smooth functioning</li>
			<li>Other miscellaneous functions and work assigned by the Supervisor</li>
			<li>Prepare minutes of the meeting</li>
			<li>Daily Correspondence & Follow Ups.</li>
			<li>Prepare letters and other documents as instructed by the Supervisor</li>
			<li>Ensure payment of credit cards , mobile bills on time and maintaining their records</li>
			<li>Perform other related duties as required </li>
		</ul>
						
		Qualification and Skills:
		<ul>
			<li>Minimum Bachelor's degree but preference will be given to those having Post Graduate qualifications in secretarial course</li>
			<li>Three to four years of relevant experience in assisting chief/ Director/ Sr. Management of the national/ international development sector organisation</li>
			<li>Good writing, communication, time management and prioritizing of work skills </li>
			<li>Ability to prepare clear and concise reports </li>
			<li>Demonstrate good analytical skills</li>
			<li>Personal commitment, drive for results, efficiency and flexibility </li>
			<li>Proficient in MS Office-Word, Excel, Power Point</li>
		</ul>
		
		All positions carry competitive salaries with fringe benefits comparable to leading national level development sector organizations. Desirous candidates should apply with a cover note that highlights their motivation to apply and suitability for the position applied, current CVs and three references to <a class='maillinks' href="mailto:jobs@digitalgreen.org">jobs@digitalgreen.org</a>		 
	</div>
	
{% endblock mainbodycontentleft %}