{% extends "base_all.html" %}

{% block title %} Digital Green - Careers{% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/career.css' />       
{% endblock cssfile %}


{% block pagetitle %} {{ block.super }}Careers {% endblock pagetitle %}

{% block breadcrums %}  
	{{ block.super }}	
	{% block partnerbreadcrums %} 	 
	 <span style='font-size:0.9em; font-weight:bold;'> Careers </span>
	{% endblock partnerbreadcrums %}	  
{% endblock breadcrums %}

{% block mainbodycontentleft %}
	<div id='careerrole'>
		<div class='keyrole'>
			<img src="/media/Output/Images/keyroleimg1.jpg">
			<p class='keyrolep'>You must have a genuine passion for rural development. Without passion, you will find what we're trying to do too difficult. There are much easier jobs.  </p>							
		</div>
		<div class='keyrolegap'>								
		</div>								
		<div class='keyrole'>	
			<img src="/media/Output/Images/keyroleimg2.jpg">
			<p class='keyrolep'>You must want to work in a small non-profit/NGO. </p>							
		</div>
		<div class='keyrolegap'>								
		</div>
		<div class='keyrole'>
			<img src="/media/Output/Images/keyroleimg3.jpg">
			<p class='keyrolep'>We are building the capacities of real people and real organizations. This must excite you.	</p>							
		</div>						
	</div>
	
	<div class='pagetitle'>
		Careers 
	</div>
	
	<div id='contentdiv1'>							
			Digital Green wants you!  <br/><br/> 
			Actually, Digital Green needs you and wants to hire you assuming you are a 
			'hard working, technically gifted, team-oriented, experienced rural development leader' &nbsp; 
			<br/> <br/>
			If you are interested in joining us, please keep reading.
			Digital Green is actively hiring highly qualified and dedicated individuals. 
			Our hiring bar is unabashedly high, and we insist on keeping our team size small. 
			This means the person occupying each and every spot must be among the most gifted in his or her field. 
			<br/> <br/>					
			Digital Green offers highly dynamic and enabling work environment, and provides competitive compensation based on experience and background. 
			Interested candidates should visit <a class='maillinks' href="/"> www.digitalgreen.org </a> to learn more about Digital Green and submit their application with a cover note, current CV 
			and at least three references to <a class='maillinks' href="mailto:jobs@digitalgreen.org">jobs@digitalgreen.org</a>. If you are student, you can apply for an internship position.			
			<br/><br/>								
	</div>
	
{% endblock mainbodycontentleft %} 



{% block mainbodycontentright %}
		
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp; Immediate Openings  </div>
			<div class='exploredescmain'>		
				<a class="exploredescmainlink" href="/careernpc"><img src="/media/Output/Images/linkimg2.png" alt="">National Project Coordinator</a>
				<a class="exploredescmainlink" href="/careernm"><img src="/media/Output/Images/linkimg2.png" alt="">Nutrition Program Manager - Odisha</a>
				<a class="exploredescmainlink" href="/careersm"><img src="/media/Output/Images/linkimg2.png" alt="">State Managers</a>
				<a class="exploredescmainlink" href="/careerpm"><img src="/media/Output/Images/linkimg2.png" alt="">Program Managers - Bihar, Odisha</a>
				<a class="exploredescmainlink" href="/careerqam"><img src="/media/Output/Images/linkimg2.png" alt="">Quality Assurance Manager</a>
				<a class="exploredescmainlink" href="/careerts"><img src="/media/Output/Images/linkimg2.png" alt="">Training Specialists</a>
				<a class="exploredescmainlink" href="/careerid"><img src="/media/Output/Images/linkimg2.png" alt="">Interaction Designer</a>
				<a class="exploredescmainlink" href="/careerrse"><img src="/media/Output/Images/linkimg2.png" alt="">System Engineer</a>
                <a class="exploredescmainlink" href="/careerpca"><img src="/media/Output/Images/linkimg2.png" alt="">Program Coordinator - Africa</a>
              <!--  <a class="exploredescmainlink" href="/careerpma"><img src="/media/Output/Images/linkimg2.png" alt="">Program Managers - Africa</a>-->
			</div> 
		</div>			
	</div>
	
	<div id='explorediv1'>		
		<div class='exploredescdiv'>						
			<div class='quotedivdesc1'>				 
				"Working with Digital Green was a great learning experience for me. I had good mentors who helped me to nurture my talents and knowledge. I also enjoyed two adventurous trips with the team." </div>
			<div class='quotedivdesc2'> 
				Parth Nagar
				<br/>
				<span class='designation'>
					Systems Engineer Intern
					<br/>
					January, 2010 - June, 2010
				</span>
			</div>	
		</div>		
	</div>
	
{% endblock mainbodycontentright %}		
