
{% extends "base_all.html" %}

{% block title %} Digital Green - Overview{% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/aboutusoverview.css' />       
{% endblock cssfile %}

{% block jsfile %}
       <script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>
{% endblock jsfile %}

{% block pagetitle %} {{ block.super }} Overview {% endblock pagetitle %}

{% block breadcrums %}
	{{ block.super }}
	{% block breadcrumsmore %} 	 
	 <span style='font-size:0.9em; font-weight:bold;'> Overview </span>
	{% endblock breadcrumsmore %}	  
{% endblock breadcrums %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/overviewimg3.jpg" alt='An old lady working'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
    
    <div class='pagetitle'>
		Overview  
	</div>
	
	<div id='contentdiv1'>		
		Digital Green seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. The Digital Green system sustains relevancy in a community by developing a framework for participatory learning. 
		The system includes a digital video database, which is produced by farmers and experts. The content within this repository is of various types, and sequencing enables farmers to progressively become better farmers. 
		<br/> <br/>
		Content is produced and distributed over a hub and spokes-based architecture in which farmers are motivated and trained by the recorded experiences of local peers and extension staff. 
		In contrast to traditional extension systems, we follow two important principles: (1) cost realism, essential if we are to scale the system up to a significant number of villages and farmers; 
		and (2) building systems that solve end-to-end agricultural issues with interactivity that develops relationships between people and content.
		<br/> <br/>
		
		The Digital Green system provides structure to a traditional, informally-trained vocation. The system improves the efficiency of extension programs by delivering targeted content to a wider audience and enabling farmers to better manage their farming operations with reduced field support.
		<br/> <br/>		
		<br/><br/>				
	</div>
    
{% endblock mainbodycontentleft %}

{% block mainbodycontentright %}
	
 {% block overviewrightlink %}			
 {% endblock overviewrightlink %}
   
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp;Related Links </div>
			<div class='exploredescmain'> 
				<a class="exploredescmainlink" href="/overviewfarmer"><img src="/media/Output/Images/linkimg2.png" alt="">Farmers</a>
				<a class="exploredescmainlink" href="/overviewdatabase"><img src="/media/Output/Images/linkimg2.png" alt="">Database</a>
				<a class="exploredescmainlink" href="/overviewproduction"><img src="/media/Output/Images/linkimg2.png" alt="">Production</a>
				<a class="exploredescmainlink" href="/overviewdistribution"><img src="/media/Output/Images/linkimg2.png" alt="">Distribution</a>			
				<a class="exploredescmainlink" href="/overviewsequence"><img src="/media/Output/Images/linkimg2.png" alt="">Sequencing</a>
				<a class="exploredescmainlink" href="/overviewdiffusion"><img src="/media/Output/Images/linkimg2.png" alt="">Diffusion</a>
				<a class="exploredescmainlink" href="/overviewscalability"><img src="/media/Output/Images/linkimg2.png" alt="">Scalability</a>
			</div> 
		</div>			
	</div>
	
	<div id="explorediv1">		
		<div class="exploredescdiv">			
			<div class="exploredescmain"> 
				<a href="/workprocedure" class="exploredescmainlink"><span style='font-weight:bold;'>Digital Green </span><br/>Standard Operating Procedures</a>						
			</div> 			
		</div>			
	</div>	
	
{% endblock mainbodycontentright %}