{% extends "base_career.html" %}

{% block partnerbreadcrums %} 	 
	 <a href='/career'>Careers</a> /
	 <span style='font-size:0.9em; font-weight:bold;'> Assistant Development Manager</span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		Assistant Development Managers 
	</div>
	
	<div id='content2descdiv'>
								
		Digital Green (DG) is a national NGO that seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. Working in close partnership with NGOs in each geographical area, the system improves the efficiency of extension programs by delivering targeted content to a wider audience enabling farmers to better manage their farming operations with reduced field support. 
		Based on its highly successful pilot research project supported by Microsoft Research, Digital Green is currently involved in scaling up its operations in different parts of the country. This scale up of Digital Green operations is supported by Bill & Melinda Gates Foundation.
		<br/>	
		Digital Green is inviting applications from development professionals for the positions of Assistant Development Managers (ADMs) to manage its front end operations. 
		Reporting to Regional Development Managers, ADMs will engage with stakeholders at the village level and collaborate with NGO partners to develop and disseminate good farming practices using information, communication and technology (ICT) resulting in better farm yield and livelihood for the small and marginal farmers. 
		<br/>
		<br/>
		Key Responsibilities:
		<ul>
			<li> Nurture and strengthen partnership with area specific NGOs and community groups  </li>
   			<li> Identify suitable farming practices and develop content for video production </li>
   			<li> Using ICT, disseminate good practices among the farmers and motivate them to adopt new practices </li>								
			<li> Using Digital Green project management system, monitor project activities and report on activities, milestones and accomplishments in a timely fashion </li>
			<li> Identify concerns, issues and problems promptly, address and report them  
				<ul>
					<li> Liaise with partners and technical advisors </li>
					<li> Process necessary project approval and contractual documentation, ensuring any necessary ethical review </li>
				</ul>									
			</li>
		</ul>
		Qualifications and skills:
		<ul>
			<li> Graduate degree in agriculture or related discipline with experience in project management for a national or international NGO in an administrative role  </li>
   			<li> Excellent interpersonal, verbal and written communication, including report writing, skills. </li>
   			<li> Demonstrated ability to manage data </li>								
			<li> Flexible, detail-oriented, organized, adaptable to changing priorities and ability to take the initiative and to meet strict deadlines </li>
			<li> Excellent computer skills using MS Office (particularly Word, PowerPoint and Excel) and familiarity with the Internet	</li>
			<li> Experience organizing meetings and/or workshops </li>
			<li> Ability to work within a team situation and with minimum supervision </li>
			<li> Demonstrated interest and passion about agriculture and livelihood issues </li>
		</ul> 	
	</div> 	
	
{% endblock mainbodycontentleft %}