

{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Diffusion{% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Diffusion </span>	
{% endblock breadcrumsmore %}

{% block overviewrightlink %}{% endblock overviewrightlink %}

{% block pagetitle %} &nbsp; Diffusion {% endblock pagetitle %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/diffusionimg1.jpg" alt='Azola Pracitce'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Diffusion 
	</div>
	
	<div id='contentdiv1'>	 
		In an outdoors screening environment, villagers decide whether to remain in the audience with their feet. Extension staff monitors the dynamics of an audience, sometimes by directly posing questions, to maintain a farmer's engagement. 
		Extension workers use the programming as a tool to disseminate content to a larger audience while maintaining personalized support. That is, extension workers will typically reiterate concepts between each clipping, pose questions to 
		gauge interest, and announce follow-up visits and subsequent screenings. Extension workers encourage farmers to attempt processes on their own, and announce their availability to individually visit farmer plots as required. 
		Extension workers sometimes provide farmers with the required ingredients or tools during the screenings of certain processes.		
		<br/><br/>
		Farmers may choose to avoid a practice if they need to purchase its ingredients from a distant store. During one screening, 16 farmers were introduced to a simple method of cultivating Azola. 
		Twelve of the farmers expressed interest and were provided plastic sheets and culture to attempt the method on their own. The remaining 4 claimed the technique was either not applicable or not understandable to them. 
		Of the 12 interested farmers, 6 farmers required the full-time supervision of extension staff, 3 farmers began the process on their own but requested follow-up support to validate their work, and 3 farmers successfully completed 
		the process without any field support. Interestingly, the farmers requested the same content to be shown 5 times during a single screening to build sufficient confidence to embark on attempting the procedure. 		 
		<br/> <br/>
		The opportunity to repeat an expert demonstration multiple times in such a manner would be infeasible without video. Digital Green content can motivate farmers to adopt relevant new techniques with clarity and completeness, particularly when 
		they observe their peers benefiting from them. Still, the availability of extension staff is crucial to ensure that the farmers are able to participate in the content generation process, are engaged during TV screenings, and are 
		provided follow-up support in the field. 
	</div>
{% endblock mainbodycontentleft %}	

