{% extends "base_career.html" %}

{% block title %} DigitalGreen - Careers - Interface Designers{% endblock %}

{% block partnerbreadcrums %} 	 
	 <a href='/career'>Careers</a> /
	 <span style='font-size:0.9em; font-weight:bold;'> Interface Designers</span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		Interface Designers 
	</div>
	
	<div id='content2descdiv'>
									
		Digital Green (DG) is a national NGO that seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. Working in close partnership with NGOs in each geographical area, the system improves the efficiency of extension programs by delivering targeted content to a wider audience enabling farmers to better manage their farming operations with reduced field support. 
		Based on its highly successful pilot research project supported by Microsoft Research, Digital Green is currently involved in scaling up its operations in different parts of the country. This scale up of Digital Green operations is supported by Bill & Melinda Gates Foundation.
		<br/>	
		<br/>
		Digital Green is looking for an Interaction Designer who is adept at:
		<ul>
			<li> Creating clean, coherent, beautiful consumer websites    </li>
   			<li> Taking large amounts of information and presenting them in clean and simple ways   </li>
   			<li> HCI principles and UI best practices, and incorporating this experience into the concept development process   </li>								
			<li> Designing and implementing production websites (HTML, CSS, XML, etc.)  </li>												
		</ul>
		
		Ideally, you are also someone who has experience with:
		<ul>
    		<li>	Visual design </li>
    		<li>	Modern technologies used in creating innovating UI (e.g. AJAX, Flex/Actionscript/Flash) </li>
    		<li>	Building technology at the crossroads of back-end functionality and front-end design </li>
    		<li>	Integrating with APIs with white-label and open-source services (e.g., YouTube, Google Maps)  </li>	
		</ul>
						
		You will: 
		<ul>
			<li> Play a key role in the building the technology that powers Digital Green   </li>
   			<li> Start with ideas, design products and features, architect a technical solution, then build, test, and launch it in the field  </li>
   			<li> Be an integral member of our team and help shape our future  </li>								
			<li> Help build and grow the team  </li>
		</ul>
		
									
		We will: 
		<ul>
			<li> Be a group of the smartest, most trustworthy, passionate, and interesting people you know   </li>
   			<li> Make sure you have what you need to be happy and productive  </li>
   			<li> Compensate you with an exciting mixture of cash and developmental impact that you can by proud of  </li>								
			<li> Make great teammates united around a vision of improving the livelihoods of farmers using technology  </li>
		</ul>
			 
	</div>
	
{% endblock mainbodycontentleft %}