
{% extends "base_all.html" %}

{% block title %} Digital Green - Contact Us{% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/contact.css' />       
{% endblock cssfile %}

{% block jsfile %}
    <script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>
{% endblock jsfile %}


{% block pagetitle %} {{ block.super }}Contact Us {% endblock pagetitle %}

{% block breadcrums %}  

	{{ block.super }}
	{% block partnerbreadcrums %} 	 
		<span style='font-size:0.9em; font-weight:bold;'> Contact Us </span>
	{% endblock partnerbreadcrums %}
	  
{% endblock breadcrums %}

{% block mainbodycontentleft %}
	<div id='sitemapdiv'>		
		<iframe width="620" height="277" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=106808336718977769759.00047f50e369b043ed32d&amp;source=embed&amp;ll=24.327077,80.068359&amp;spn=11.076499,27.202148&amp;z=5&amp;output=embed"></iframe>
		<br />		
	</div>	
		
	<div class='pagetitle'>
		Contact Us 
	</div>
	
	<div class='mainbodycontentleftdesc'>				
		Do connect with us! You can help us identify and set up collaborations with partners. You can help set up the Digital Green system in other places. 
		You can help contribute content. You can help with other technical aspects of Digital work (such as setting up a community radio extension of Digital Green, or developing software, or working on novel electricity-generation solutions). 
		<br/><br/>
		You can experiment with applying the similar Digital Green approach to other areas of work (such as education, health care, and political activism). You can contribute money. You can help connect us with funders. 
		You can help spread awareness of Digital Green by word of mouth.
		<br/><br/>
		Subscribe to our 'Friends of Digital Green' mailing list by sending a request to <a class='maillinks' href='mailto:contact@digitalgreen.org'> contact@digitalgreen.org </a> Updates are sent once a quarter. We encourage you to join our mailing list to learn more about our activities 
		and participate in a global exchange of ideas on how we can better design and develop the Digital Green system. 
	</div>
	
	<div class='contactaddress'>
		<div class='contactaddressleft'>
			<span class='contactaddresstitle'> Head Office </span> <br/>
			Digital Green <br/>
			D6 and E6, Clarion Collection(The Qutab),  <br/>
			Shaheedjeet Singh Marg, <br/>
			New Delhi - 110016, <br/> 
			India <br/>
			(t)+91-11-41881037/38  <br/>
		</div>
		<div class='contactaddressright'>
			<span class='contactaddresstitle'> US Address (Registered) </span> <br/>
			Digital Green <br/>
			2342 Shattuck Ave., #151, <br/>
			Berkeley, CA 94704, <br/>
			USA <br/>
		</div>
		
	</div>
	
	<div class='contactaddress'>
		<div class='contactaddressright'>
			<span class='contactaddresstitle'> India Address (Registered) </span> <br/>
			Digital Green <br/>
			Flat No. T4, 4th Floor, <br/>
			#33	Race Course Road, <br/>
			Swiss Complex, <br/>
			Bangalore - 560001, <br/>
			Karnataka, <br/> 
			India  <br/>
			(t)+91-80-41527080  <br/>
		</div>
		<div class='contactaddressleft'>
			<span class='contactaddresstitle'> South India Office</span> <br/>
			Digital Green <br/>
			House No. 8-2-672\1\C\A\1, <br/>
			135 Ave 2, Road No 13, <br/>
			Next to Taj Banjara Staff Entrance, <br/>
			Banjara Hills, <br/>
			Hyderabad - 500034,<br/>
			Andhra Pradesh, <br/> 
			India  <br/>
			(t)+91-40-66664958 <br/>	
		</div>
	</div>
	
	<div class='contactaddress'>
		<div class='contactaddressright'>
			<span class='contactaddresstitle'> Central India Office </span> <br/>
			Digital Green <br/>
			TH-27, Akash Ganga, <br/>
			E-8, Arera Colony, <br/>
			Bhopal - 462039, <br/>
			Madhya Pradesh, <br/>
			India <br/>
			(t)+91-755-4078142 <br/>
		</div>
		<div class='contactaddressleft'>
			<span class='contactaddresstitle'> Eastern India Office-Odisha </span> <br/>
			Digital Green <br/>
			Plot No- N3/18, <br/>
			Ranjita Appartment, <br/>
			Flat No-401, <br/>
			IRC Village, <br/>
			Bhubaneswar-751015 <br/>
			Odisha <br/>			
			India <br/>
			(t)+91- 674-3266937 <br/>
		</div>
	</div>
	
	<div class='contactaddress'>
		<div class='contactaddressright'>
			<span class='contactaddresstitle'> Eastern India Office- Bihar </span> <br/>
			Digital Green <br/>
			Plot No 18, A/1 & A/2, <br/>
			Near Patliputra Golambar Circle, <br/>
			Patliputra Colony, <br/>
			Patna (Bihar) - 800013, <br/>
			India <br/>
			(t)+91-612-2271950 <br/>
		</div>		
	</div>
	
	
{% endblock mainbodycontentleft %}



{% block mainbodycontentright %}
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp; Sign Up for Updates </div>
			<div class='signupdiv'> 
				<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>   					
		    		<form action="http://groups.google.co.in/group/digitalgreenfriends/boxsubscribe">
            			<tr><td style="padding-left: 5px;"> 
            				<input type=text name=email value='Email Address' onfocus="this.value=''"> <input type=submit name="sub" value="Subscribe">
            			</td></tr>
            		</form>					
				</table>
			</div> 
		</div>			
	</div>
	
	
	<div id='explorediv1'>		
		<div class='exploredescdiv'>			
			<div class='exploredescmain'> 
				<a class="exploredescmainlink" href="/career"><img src="/media/Output/Images/searchimg2.png" alt="">Join the Digital Green team Learn about our latest career opportunities</a>						
			</div> 
			
		</div>			
	</div>
	
{% endblock mainbodycontentright %}