

{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Sequencing{% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Sequencing </span>	
{% endblock breadcrumsmore %}

{% block overviewrightlink %}{% endblock overviewrightlink %}

{% block pagetitle %}&nbsp; Sequencing {% endblock pagetitle %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/sequenceimg1.jpg" alt='Children Listening to a Class in a Village'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Sequencing 
	</div>
	
	<div id='content2descdiv'>
		Introducing a village to new practices does not occur over a single night screening. The screening of content should follow a sequence that prompts interest and leads to adoption. 
		Several sequences were attempted with focus audiences. The following approach works well when entering a new village: 				
		<ul>
			<li> Entertaining clippings, such as a women group singing folk songs, to attract an audience   </li>
   			<li> Testimonials and interviews with progressive farmers that disclose the concepts and experiences associated with the practices   </li>
   			<li> 3-5 minute highlights of a broad spectrum of the practices that will be promoted   </li>								
			<li> Comparative demonstrations with progressive farmers that visibly (perhaps, to a humorous extent) show the benefits of the practices </li>	
			<li> Familiar farmers from the local vicinity (preferably, the same village) attempting the practices </li>
			<li> Experts detailing concepts and step-by-step instructions for the practices  </li>											
		</ul>
	</div>
	<div id='contentdiv1'>	 
		As farmers increase in exposure to the practices being promoted, greater concentration can be placed on the content of types later in the sequence. 
		<br/><br/>
		Small groups that will regular participate in the recording and screening of Digital Green content may be founded within formal structures of local farmer cooperatives and federations or can be initiated by the Digital Green system itself. 
		For instance, communities may be approached in the following manner: (1) organize a village gathering in a central location to showcase highlights of the services that will be provided, (2) identify interested farmers, 
		(3) record extension staff introducing a particular practice to these farmers on the field, (4) informally screen content of peer farmers and experts demonstrating practices to various areas of a village, 
		(5) establish small groups of interested farmers with a regular schedule of content screenings, and (6) motivate community participation by generating a local competition to learn, adopt, and innovate better agricultural processes.  
	</div>
{% endblock mainbodycontentleft %}	

