
{% extends "base_all.html" %}

{% block title %} Digital Green - Team {% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/team.css' />  
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/team_board.css' />       
{% endblock cssfile %}

{% block jsfile %}
       <script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>
{% endblock jsfile %}


{% block pagetitle %} {{ block.super }}Team {% endblock pagetitle %}

{% block breadcrums %}  

	{{ block.super }}
	 {% block breadcrumsmore %}  <span style='font-size:0.9em; font-weight:bold;'> Team </span> {% endblock breadcrumsmore %} 
	 
{% endblock breadcrums %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/teamimg1.jpg" alt='Dr. Nagagouda giving Lessons'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Team 
	</div>
	
	<div class='teamcontent'>
		The Digital Green team is a unique, diverse group of individuals from all corners of India and the World.  Working towards a common mission, this fusion of individuals are not only some of the brightest in their respected fields but also encompass strong character.   
		<br/><br/>
		At Digital Green, we are focused on creating an environment in which all employees learn to develop and grow the skills they attain by interacting with an array of professionals, partners, and other employees.  To learn about these dynamic individuals please look at their respected profiles. 						
		<br/><br/> <br/><br/> <br/> <br/><br/> <br/> <br/>
	</div>
{% endblock mainbodycontentleft %}	


{% block mainbodycontentright %}
		
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp; Team </div>
			<div class='exploredescmain'> 
				<a class="exploredescmainlink" href="/teammember"><img src="/media/Output/Images/linkimg2.png" alt="">Team Members</a>
				<a class="exploredescmainlink" href="/teamboard"><img src="/media/Output/Images/linkimg2.png" alt="">Board Members</a>
				<a class="exploredescmainlink" href="/teamadviser"><img src="/media/Output/Images/linkimg2.png" alt="">Advisers</a>
				<a class="exploredescmainlink" href="/teamacclaw"><img src="/media/Output/Images/linkimg2.png" alt="">Accountants & Lawyers</a>
				<a class="exploredescmainlink" href="/teamalumni"><img src="/media/Output/Images/linkimg2.png" alt="">Alumni</a>
			</div> 
		</div>			
	</div>
	
	<div id='explorediv1'>		
		<div class='exploredescdiv'>			
			<div class='quotedivdesc1'> 
				"I've had many enriching and humbling life experiences during the last 6 months that I have spent in Digital Green's field location at a tribal village in Neemad region, a dry-belt in Madhya Pradesh's Dewas district." <br/>						
			</div> 
			<div class="quotedivdesc2" > 
				Indrani Medhi, Trustee
				<br/>
				<span class='designation'>On Secondment from
				<br/>
				Microsoft Research India</span>
			</div>
			<br/>
		</div>			
	</div>
	
	
	
{% endblock mainbodycontentright %}		
	