
{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Core Values{% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Core Values </span>	
{% endblock breadcrumsmore %}

{% block pagetitle %} &nbsp; Core Values {% endblock pagetitle %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/corevalueimg1.jpg" alt='Corevalues'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Core Values
	</div>
	
	<div id='contentdiv1'>		
		Our goals are to extend the Digital Green system for agriculture extension through research- and community-level partners by bootstrapping on existing institutional capacity and 
		targeting investments in operational tools and processes, monitoring and evaluating progress with feedback and refinement support, providing a platform to share content amongst partners, 
		and enabling partners and farming communities to sustain and expand the program on their own.
		<br/><br/>
		Core Values: 
		<ul>
			<li>
				<span style='font-weight:bold'>Obsession for improving the sustainably of farmer livelihoods:</span> We start with the farmer and work backwards. 
			</li>
			<li>
				<span style='font-weight:bold'>Innovation:</span> If you don't listen to farmers you will fail. But if you only listen to farmers you will also fail. We seek to improve not 
				only the livelihoods of farmers or the efficacy of our partners, but also ourselves.
			</li>
			<li>
				<span style='font-weight:bold'>Bias for Action:</span> We live in a time of unheralded challenges and insurmountable opportunity, provided we make every minute count.
			</li>
			<li>
				<span style='font-weight:bold'>Ownership:</span> Ownership matters when you're building a great organization. Owners think long-term, plead passionately for their ideas, 
				and are empowered to respectfully challenge decisions.
			</li>
			<li>
				<span style='font-weight:bold'>High Hiring Bar:</span> When making a hiring decision we ask ourselves: "Will I admire this person? Will I learn from this person? Is this person a superstar?"
			</li>
			<li>
				<span style='font-weight:bold'>Frugality:</span> We spend money on things that really matter and believe that frugality breeds resourcefulness, sustainability, and invention!
			</li> 
		</ul>	
		<br/><br/>
	</div>
{% endblock mainbodycontentleft %}	

