{% extends "base_career.html" %}

{% block title %} Digital Green - Careers - Program Coordinator - Africa{% endblock %}

{% block partnerbreadcrums %} 	 
	 <a href='/career'>Careers</a> /
	 <span style='font-size:0.9em; font-weight:bold;'> Program Coordinator - Africa </span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
        Program Coordinator - Africa
	</div>
	
	<div id='content2descdiv'>
        Digital Green is an international, non-profit development organization that builds and deploys
        information and communication technology (ICT) to amplify the effectiveness of development efforts to
        affect sustained, social change. The Digital Green system combines technology and social organization
        to improve the cost-effectiveness and broaden the community participation in existing best practices.
        Digital Green is supported by Bill and Melinda Gates Foundation, Department for International
        Development (DFID), Ford Foundation, and Government of India. Digital Green's India country office
        is located in New Delhi with state offices in Bhopal, Bhubaneswar, Patna, Hyderabad and Bengaluru.
        It currently works in collaboration with local partners in seven states in India (Andhra Pradesh, Bihar,
        Jharkhand, Karnataka, Orissa, Madhya Pradesh, and Uttar Pradesh), and is currently extending its
        operations in Ethiopia, Ghana, and other parts of Sub-Saharan Africa.
        <br/>
        <br/>
        To coordinate and provide leadership to its efforts in Africa, Digital Green is inviting applications for the
        position of Program Coordinator - Africa based in Addis Ababa. The Program Coordinator – Africa will
        oversee the design and implementation of a set of agriculture, health, and livelihood-related projects in
        partnership with government departments and civil society organizations across the continent.
        <br/>
        <br/>
        This position is open to Ethiopian nationals or those who have a right to work in Ethiopia.
        <br/>
        <br/>
        Position Summary:
        
        <ul>
            <li>
        Provide strategic direction, management, and coordination of the development, successful
        implementation, and monitoring of Digital Green's agriculture, livelihood and health programs
        across Africa (starting with a focus in Ethiopia)</li>
            <li>
                 Drive the establishment of partnerships between relevant institutions to define project objectives,
        work plans, budgets, and institutional arrangements.</li>
            <li>
        Liaison with Digital Green’s senior management, quality assurance, and monitoring and evaluation
        directorates in India to share learnings and customize as appropriate</li>
            <li>
        Supervise, monitor and coordinate the work of Digital Green’s staff, consultants, and technical
        advisory committee across the continent</li>
            <li>
         Lead and support new project design and development across Africa</li>
        </ul>
        Key Responsibilities:
        
        <ul>
        
        <li>Identify, evaluate and seize opportunities to engage with government departments, donors, and
        civil society organizations and other stakeholders to develop projects and drive them</li>
            <li>
        Drive partnerships between relevant institutions to define project objectives, work plans, budgets,
        and institutional arrangements.</li>
            <li>        Develop and manage a portfolio of complex partnerships requiring high-level management skills,
        and monitoring and evaluation.</li>
            <li>
        Manage partnerships with government, research, and other stakeholders at a national- and
        international-levels</li>
        
            <li>Communicate strategies internally and externally to manage progress, respond to midcourse
        corrections, and deliver on key milestones, outputs, and outcomes on a timely basis</li>
        <li>Integrate inputs of programmatic and training leads to effectively and efficiency manage project
        activities</li>
            </ul>

        Experience and Skills:

        <ul>
        <li>Master's degree in rural management, development, and/or communications</li>
        <li>10-12 years of experience in program development, implementation, and management of
        agricultural, health, and rural development activities in Ethiopia</li>
        <li>Established rapport with Ministries of Agriculture and Health and relevant stakeholders in Ethiopia
        and other African countries</li>
        <li>Understanding of government structures, agricultural extension policies, protocols and guidelines</li>
        <li>Rigorous capacity to think through, evaluate, justify, and make major decisions to manage projects</li>
        <li>Established skills in guiding and providing technical assistance to government and civil
        society partnerships working on development programs, particularly around information and
        communication technologies and behavior change communication.</li>
        <li>Able representative of organization in high-level meetings with donors, partners, and other
        stakeholders</li>
        <li>Experience developing, managing, and implementing project strategies and the negotiation,
        execution, conduct, and managing of performance-based contracts</li>
        <li>Adept to work with global, regional, and country partners</li>
        <li>Record of working well with others in teams; sense of humor and humility</li>
        <li>Ability to travel frequently across Africa</li>
        
        </ul>
        All positions carry competitive salaries with fringe benefits comparable to leading national level development sector organizations. Desirous candidates should apply with a cover note that highlights their motivation to apply and suitability for the position applied, current CVs and three references to jobs@digitalgreen.org

	</div>
	
{% endblock mainbodycontentleft %}