{% extends "base_career.html" %}

{% block title %} Digital Green - Careers - Human Resources Manager{% endblock %}

{% block partnerbreadcrums %} 	 
	 <a href='/career'>Careers</a> /
	 <span style='font-size:0.9em; font-weight:bold;'> Human Resources Manager </span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		Human Resources Manager
	</div>
	
	<div id='content2descdiv'>
									
		Digital Green is an international, non-profit development organization that builds and deploys information and communication technology to amplify the effectiveness of development efforts to affect sustained, social change.  The organization is supported by Bill and Melinda Gates Foundation, Ford Foundation, and Government of India.  Digital Green's India headquarters is located in New Delhi with state offices in Bhopal, Bhubaneswar, Bangalore, Hyderabad, and Patna.  Over the next 3.5 years, Digital Green plans to scale its operations to over 10,000 villages across India and extend its work to Africa.
		<br/>
		<br/>
		The human resources manager will lead and serve as the strategic partner and internal consultant to Digital Green. S/he will drive the strategies needed to develop and support an environment of HR operational excellence. Digital Green is currently based in India but is scaling up its global mission.  All this has implications for talent, compensation, performance management, and organizational strategies - as well as the organization's culture. The human resources team partners with programmatic leaders and regional managers to design and implement effective and comprehensive people strategies that enable Digital Green to achieve its mission.
		<br/>
		<br/>
		The HR manager will drive the evolution of cultural changes for the organization. As the leader of the HR function, s/he will be uniquely positioned to be well informed about the organization's culture and help lead cross-organizational work relating to cultural priorities. In addition, s/he will partner with senior leaders, providing consultation regarding the support of Digital Green's initiatives and how best to create and implement practices to develop a culture that continues to support ongoing growth, evolution, and impact. The HR manager will report to the chief operating officer.
		<br/>
		<br/>
		Key Responsibilities:
		<ul>
			<li> Lead an innovative HR function and team that serves Digital Green by:
				<ul>
				<li>Providing vision, goal development, decision-making, and leadership prioritization, and accountability.</li>
				<li>Build capacity within the HR function; developing talent to maximize effort and contribution; and providing recognition and/or redirection, as necessary.</li>
				<li>Lead the HR function's strategic direction and continued execution against its 3.5-year plan while ensuring alignment with client priorities and organizational capacity. </li>
				</ul>
			</li>
   			<li>Drive performance management system, develop and maintain key metrics and success measures. Identify risks and midcourse corrections in HR strategy as the organization matures. </li>
   			<li>Ensure deep focus on talent management. As Digital Green continues to grow in India and Africa, attract and recruit the best and brightest in the places where it operates. </li>								
			<li>Strengthen HR role as champions, master coaches/facilitators, and consultants for change at Digital Green.</li>
			<li>Create ongoing organizational-wide communication mechanisms to highlight the road to impact.</li>
			<li>Serve as an advisor to the chief operating officer and management committee for greater organizational-wide impact. Partner with programmatic and regional leaders to translate strategies and project priorities into human resource capabilities.</li>
			<li>Collaborate with key operational leaders in the development of shared-priorities and strategies to mitigate risk and create an environment of good stewardship across HR, legal, and finance.</li>
			<li>Provide strategic leadership to evolve recruiting processes, organizational structures, leadership and professional development initiatives, compensation and benefits programs, and culture, enabling Digital Green to attract, engage and develop the talent necessary to achieve its mission.</li>
			<li>Further develop HR as a "sensor" on the pulse of the organization. Identify and partner with others to address an array of workforce needs.</li>
		</ul>
						
		Qualification and Skills:
		<ul>
			<li> Experienced human resources executive possessing a minimum of 5-10 years of HR or a commensurate mix of business and HR leadership roles</li>
   			<li> Proven mastery of HR competencies at the strategic level, with a special emphasis on organizational design, change management, building HR operational excellence, and continuing a cohesive connection between HR and strategy.</li>
   			<li> Experience in leading  HR function in an organization during significant transition and change, with a strong emphasis on project management.  </li>								
			<li> Ability to successfully drive a vision and achieve difficult, demanding goals in an evolving environment.</li>
			<li> Demonstrated strong analytical, interpersonal, written, and oral communication skills in situations requiring communication with broad and diverse audiences.</li>
			<li> A reputation for leading by example. Experience managing a highly effective and proactive HR teams with an obvious commitment to the development and engagement of that team.</li>
			<li> A history of success in roles requiring logical, systematic thinking, while managing multiple priorities in a highly dynamic environment. </li>
			<li> A bachelor's degree is required; a master's degree with specialization in HR is preferred.</li>
		</ul>
		
		All positions carry competitive salaries with fringe benefits comparable to leading national level development sector organizations. Desirous candidates should apply with a cover note that highlights their motivation to apply and suitability for the position applied, current CVs and three references to <a class='maillinks' href="mailto:jobs@digitalgreen.org">jobs@digitalgreen.org</a>		 
	</div>
	
{% endblock mainbodycontentleft %}