
{% extends "base_team.html" %}

{% block title %}Digital Green - Team - Retreat 2011 {% endblock %}

{% block breadcrumsmore %} 	
	<a href='/team'> Team </a>/ 
	<span style='font-size:0.9em; font-weight:bold;'> Retreat 2011 </span>	
{% endblock breadcrumsmore %} 
	 

{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		Retreat 2011
	</div>
	
	<div id='contentdiv1'>		
		
		<iframe class="scribd_iframe_embed" 
		src="http://www.scribd.com/embeds/77221783/content?start_page=1&view_mode=list&access_key=key-1er36ptoeb75zvactrky "
		data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_23203" width="620" height="700" 
		frameborder="0"></iframe>
		<script type="text/javascript">(function() { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "http://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();</script>

		<br/><br/>
	</div>
{% endblock mainbodycontentleft %}

