
{% extends "base_all.html" %}

{% block title %} DigitalGreen - Partners - Executive Partners{% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/partner.css' />       
{% endblock cssfile %}

{% block jsfile %}
       <script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>
{% endblock jsfile %}


{% block pagetitle %} {{ block.super }} Partners {% endblock pagetitle %}

{% block breadcrums %}  

	{{ block.super }}
	{% block partnerbreadcrums %} 	 
	 <span style='font-size:0.9em; font-weight:bold;'> Partners </span>
	{% endblock partnerbreadcrums %}
	  
{% endblock breadcrums %}

{% block mainbodycontentleft %}
    		    
	{% block mainbodycontentleftdesc %}			
	{% endblock mainbodycontentleftdesc %}

{% endblock mainbodycontentleft %}	




{% block mainbodycontentright %}
	
	<div id='explorediv'>
		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp; Partners </div>
			<div class='exploredescmain'> 
				<a class="exploredescmainlink" href="/partnerexecutive"><img src="/media/Output/Images/linkimg2.png" alt="">Executive Partners</a>
				<a class="exploredescmainlink" href="/partnerresearch"><img src="/media/Output/Images/linkimg2.png" alt="">Research Partners</a>
				<a class="exploredescmainlink" href="/partnerinvestor"><img src="/media/Output/Images/linkimg2.png" alt="">Investors</a>
				<a class="exploredescmainlink" href="/partnersupporter"><img src="/media/Output/Images/linkimg2.png" alt="">Supporters</a>				
			</div> 
		</div>
			
	</div>
	
	{% block mainbodycontentrightquote %}
		<div class='pressvideo'>
			<a href='/rfa'> <img src="/media/Output/Images/partnerselectionimg2.png" alt='Digital Green, Apply to be a Partner'> </a>
		</div>		
		
	{% endblock mainbodycontentrightquote %}
	
{% endblock mainbodycontentright %}	