
{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Database {% endblock %}

{% block breadcrumsmore %} 	
	<span style='font-size:0.9em; font-weight:bold;'> Database </span>	
{% endblock breadcrumsmore %}

{% block overviewrightlink %}{% endblock overviewrightlink %}

{% block pagetitle %} &nbsp; Database {% endblock pagetitle %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/databaseimg1.jpg" alt='Chunks of Sacks containing Wheat Grains'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	
    <div class='pagetitle'>
		Database  
	</div>
		
	
	<div id='contentdiv1'>		
		The Digital Green content repository is video-centric. This is important for a developing and predominantly rural country like India, which, by optimistic estimates, has an adult literacy rate of less than 60%. 
		In farming communities, the literacy rate is substantially lower. The video based approach has several important advantages to traditional forms of agricultural content, which is typically not in the local language, 
		intended for a literate audience, uses expert terminology, lacks grassroots level practicalities, and remains inaccessible in a sea of scattered media. Farmers, by the nature of their occupation, rely on their auditory 
		and visual senses and video, though not perfect, comes closest to capturing the scene in detail. Video creation tends to be faster and less expensive than other types of media, as advanced preparation in "lesson"-planning can minimize post-production editing. 
		<br/> <br/>
		Farmers are most receptive to adopt new practices through demonstrative exhibition. That is, farmers must see the additional benefits of a new method in relation to the control results of the conventional approach. 
		Fertilizer companies have used this strategy by covertly visiting a farmer's field in the night, applying a dosage of their product on a small patch of land, and returning in the day to highlight the change. 
			 
		<br/> <br/>
		Sustainable agricultural practices require a longer term cost-benefit analysis; however, video can compress the time needed to reveal the change. Visiting every farmer's plot to demonstrate a particular method requires unattainable human resources and transporting 
		every farmer to a demonstration plot at a collectively acceptable place and time is culturally and logistically impractical. Video provides a means of bringing relevant demonstrations into the homes of farmers. 
	</div>
{% endblock mainbodycontentleft %}	

