

{% extends "base_aboutusoverview.html" %}

{% block title %} Production:: Digital Green {% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Our Work - Production </span>	
{% endblock breadcrumsmore %}

{% block overviewrightlink %}{% endblock overviewrightlink %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/overviewproductionimg1.jpg" alt='Video produced'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Production 
	</div>
	<div id='content2descdiv'>
		Video recordings encourage the coalescence of scattered information into a systematic and comprehensive format with a localized context. For example, demonstrations of a particular agriculture technique typically follow the structure of:
				
		<ul>
			<li> A brief verbal overview of the entire process   </li>
   			<li> An itemization of the required resources and associated costs  </li>
   			<li> Step-by-step instructions in the field   </li>								
			<li> A showcase of the uses and benefits  </li>	
			<li> Interactions with farmers to address common questions and concerns  </li>											
		</ul>
	</div>
	<div id='contentdiv1'>	 
		The recordings in the Digital Green database are made by teachers of agriculture at the grassroots level. This includes scientists from government institutions, NGO experts, field staff, progressive farmers, and other enthusiastic volunteers from inside and outside the local community. 
		Expert reviewers ensure the accuracy, clarity, and completeness of the content, and guide the construction of a time- and location-sensitive video-based curriculum.
		<br/><br/>
		To ensure this goal, through research is conducted to formulate a cost-benefit analysis that assures the sustainability of promoted agricultural methods given local conditions. Since local agronomic and environmental resources may vary from farmer to farmer and from season to season, 
		content producers tend to focus on techniques that are robust to change or present possible alternatives. 
	</div>
{% endblock mainbodycontentleft %}	

