 {% extends "base_team.html" %} {% block title %}Digital Green - Team -
Board Members {% endblock %} {% block breadcrumsmore %}
<a href='/team'> Team </a>
/
<span style='font-size: 0.9em; font-weight: bold;'> Board Members
</span>
{% endblock breadcrumsmore %} {% block mainbodycontentleft %}
<div id="mainbodycontentleft">

	<div class="pagetitle">USA Board Members</div>

	<div id="contentdiv1">
		<table id="table1" cellspacing="0px" cellpadding="0">
			<tbody>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Rajesh Veeraraghavan</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Doctoral Candidate,</li>
									<li>University of California, Berkeley School of
										Information</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a href="http://people.ischool.berkeley.edu/~rajesh/"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Srikant Vasan</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>President,</li>
									<li> MyCollege Foundation</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a href="http://digitalgreen.org/srikantvasan/"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Melissa Ho</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Specialist in Agricultural Policy,</li>
									<li>U.S. Congress</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a href="http://digitalgreen.org/melissaho/"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Kentaro Toyama</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Visiting Senior Researcher,</li>
									<li>University of California, Berkeley School of
										Information</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a href="http://www.kentarotoyama.org/"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Eric Walker</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Vice President, Corporate Services,</li>
									<li>PATH</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a
										href="/eric"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0">


						<div class="pagetitle">India Board Members</div>
						<div style="border: solid 1px #ECECEC"></div> </br>
						<div class="boardtd1div1">

							<div class="boardtd1div1name">G.N.S Reddy</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Vice President,</li>
									<li>BAIF Research Development Foundation</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a
										href="http://timesfoundation.indiatimes.com/articleshow/1022481.cms"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Soumen Biswas</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Programme Director,</li>
									<li>PRADAN</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a href="http://in.linkedin.com/in/soumenbiswas"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Aishwarya Ratan</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Director, the Global Financial Inclusion (GFI)
										Initiative,</li>
									<li>Yale University and Innovations for Poverty Action</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a href="http://digitalgreen.org/aishwaryaratan/"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Indrani Medhi</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Associate Researcher,</li>
									<li>Microsoft Research India</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a
										href="http://research.microsoft.com/en-us/people/indranim/default.aspx"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td class="boardtd1" cellspacing="0px" cellpadding="0"><div
							class="boardtd1div1">
							<div class="boardtd1div1name">Tejesh Shah</div>
						</div>
						<div class="boardtd1div2">
							<div class="boardtd1div2title">
								<ul class="boardtd1div2ul">
									<li>Director,</li>
									<li>Topos Developers</li>
								</ul>
							</div>
							<div class="boardtd1div2desc">
								<ul class="boardtd1div2ul">
									
									<li><a
										href="http://www.facebook.com/digitalgreenorg#!/profile.php?id=4803921&amp;ref=ts"
										target="_blank">View Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br> <br>

</div>

{% endblock mainbodycontentleft %}
