{% extends "base_career.html" %}

{% block partnerbreadcrums %} 	 
	 <a href='/career'>Careers</a> /
	 <span style='font-size:0.9em; font-weight:bold;'> Research Software Engineers </span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		Research System Engineers
	</div>
	
	<div id='content2descdiv'>
									
		Digital Green (DG) is a national NGO that seeks to disseminate targeted agricultural information to small and marginal farmers in India through digital video. Working in close partnership with NGOs in each geographical area, the system improves the efficiency of extension programs by delivering targeted content to a wider audience enabling farmers to better manage their farming operations with reduced field support. 
		Based on its highly successful pilot research project supported by Microsoft Research, Digital Green is currently involved in scaling up its operations in different parts of the country. This scale up of Digital Green operations is supported by Bill & Melinda Gates Foundation.
		<br/>	
		Digital Green is inviting applications from development professionals for the positions of Assistant Development Managers (ADMs) to manage its front end operations. 
		Reporting to Regional Development Managers, ADMs will engage with stakeholders at the village level and collaborate with NGO partners to develop and disseminate good farming practices using information, communication and technology (ICT) resulting in better farm yield and livelihood for the small and marginal farmers. 
		<br/>
		<br/>
		Digital Green is looking for a superstar software developer who has experience with:
		<ul>
			<li> Distributed systems (hands-on experience preferred, academic experience is OK)   </li>
   			<li> Database experience (optimizing SQL and writing software that uses SQL to access databases)  </li>
   			<li> LAMP (PHP, Python, Perl)  </li>								
			<li> Architecting and implementing production websites (HTML, CSS, XML, Javascript, etc.)  </li>
			<li> Building technology at the crossroads of back-end functionality and front-end design </li>
		</ul>
						
		You will: 
		<ul>
			<li> Play a key role in the building the technology that powers Digital Green   </li>
   			<li> Start with ideas, design products and features, architect a technical solution, then build, test, and launch it in the field  </li>
   			<li> Be an integral member of our team and help shape our future  </li>								
			<li> Help build and grow the team  </li>
		</ul>
									
		We will: 
		<ul>
			<li> Be a group of the smartest, most trustworthy, passionate, and interesting people you know   </li>
   			<li> Make sure you have what you need to be happy and productive  </li>
   			<li> Compensate you with an exciting mixture of cash and developmental impact that you can by proud of  </li>								
			<li> Make great teammates united around a vision of improving the livelihoods of farmers using technology  </li>
		</ul>
			 
	</div>
	
{% endblock mainbodycontentleft %}