<html>
<head>
<style type="text/css">
#bookmarklet {
   	background: blue;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
    cursor: move;
    float: left;
    font-size: 18px;
    line-height: 1em;
    margin-right: 18px;
    padding: 11px 15px;
    text-align: center;
}
a {
    color: #221919;
    font-weight: bold;
    text-decoration: none;
}
</style>
</head>
<body> <h1>It works!</h1>
<div>
	Drag this bookmark <a id="bookmarklet" href="javascript:void(imgs=document.images);for(i=0;i<imgs.length;i++)
{void(imgs[i].style.border='medium solid green');}">Bookmarklet</a>
		to your Bookmarks Bar. 
</div>

</body></html>