
{% extends "base_annualreport.html" %}

{% block title %} Digital Green - Annual Report - Financials{% endblock %}

{% block cssfile %}
	{{ block.super }}
{% endblock cssfile %}

{% block jsfile %}       
{% endblock jsfile %}

{% block reportpagetitle %} Financials {% endblock reportpagetitle %}

{% block breadcrums %}
	{% block partnerbreadcrums %}
		<a href='/'> Home </a>/
		<a href='/annualreports'> Annual Reports </a>/
		<a href='/annualreport09'> Annual Report 2009-10 </a>/ 
		<span style='font-size:0.9em; font-weight:bold;'> Financials </span>	
	{% endblock partnerbreadcrums %}	  
{% endblock breadcrums %}


{% block mainbodycontentleft %}
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/budgetimg2.jpg" alt='Budget Progress and Results'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Financials 
	</div>
	
    <div id='contentdiv2'>    	
    		Digital Green's chartered accountants and auditors have developed a financial management system that defines how we maintain and administer our accounts within and between the countries in which Digital Green operates.  We generally are on target with fund utilization.
    		<br/>
    		<br/>
    		
    </div>
     
{% endblock mainbodycontentleft %}


{% block mainbodycontentright %}		
	{{ block.super }}	
{% endblock mainbodycontentright %}	