
{% extends "base_annualreport10.html" %}

{% block title %} Digital Green - Annual Report 2010-11: Financials{% endblock %}

{% block cssfile %}
	{{ block.super }}
{% endblock cssfile %}

{% block jsfile %}       
{% endblock jsfile %}

{% block reportpagetitle %} Financials {% endblock reportpagetitle %}

{% block breadcrums %}
	{% block partnerbreadcrums %}
		<a href='/'> Home </a>/
		<a href='/annualreport'> Annual Reports </a>/
		<a href='/annualreport10'> Annual Report 2010-11 </a>/ 
		<span style='font-size:0.9em; font-weight:bold;'> Financials </span>	
	{% endblock partnerbreadcrums %}	  
{% endblock breadcrums %}


{% block mainbodycontentleft %}
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<img src="/media/Output/Images/budgetimg10.jpg" alt='Budget Progress and Results'>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	<div class='pagetitle'>
		Financials 
	</div>
	
    <div id='contentdiv2'>    	
    	Digital Green as an organization is increasingly being commissioned by government agencies, like India's Ministry of Rural Development, and research organizations, like the International Rice Research Institute (IRRI), to provide technology development and technical support services.  
    	Though still preliminary, our Facebook game, Wonder Village, has the potential to finance some of our initiatives going forward.  In addition, we plan to pursue opportunities to build a base of core funding to better allow our organization to establish a lean, high-performance team and to 
    	develop our technology and training platform to support a greater variety and scale of collaborators that may pursue elements of the model by working together with or independently of Digital Green around the world.
    	<br/> <br/>
    	
    	<span class='subheaders'> Budget </span> <br/><br/>
    	
    	<table width='100%' align='center' cellspacing="0" cellpadding="0">
    		<tr>
    			<td width='60%' height='40px'style='background-color:#392e15; padding-left:5px; text-align:left; color:White; font-weight:bold;'>
    				Budget Line Items
    			</td>
    			
    			<td width='40%' style='background-color:#8a7543; padding-left:5px; text-align:left; color:White; font-weight:bold;'>
    				Actual Spent (US$)
    			</td>    		 
    		</tr>
    		<tr>
    			<td class='financialtd1'>
    				Total Personal
    			</td>
    			
    			<td class='financialtd2'>
    				481,006
    			</td>    		 
    		</tr>
    		<tr>
    			<td class='financialtd1'>
    				Total Fringe Benefits
    			</td>
    			
    			<td class='financialtd2'>
    				22,183
    			</td>    		 
    		</tr>
    		<tr>
    			<td class='financialtd1'>
    				Total Travel
    			</td>
    			
    			<td class='financialtd2'>
    				31,134
    			</td>    		 
    		</tr>
    		<tr>
    			<td class='financialtd1'>
    				Total Consultants
    			</td>
    			
    			<td class='financialtd2'>
    				18,710
    			</td>    		 
    		</tr>
    		<tr>
    			<td class='financialtd1'>
    				Supplies
    			</td>
    			
    			<td class='financialtd2'>
    				2,000
    			</td>    		 
    		</tr>
    		<tr>
    			<td class='financialtd1'>
    				Total Contracted Services
    			</td>
    			
    			<td class='financialtd2'>
    				20,546
    			</td>    		 
    		</tr>
    		<tr>
    			<td class='financialtd1'>
    				Total Sub-grants to Other Organizations
    			</td>
    			
    			<td class='financialtd2'>
    				220,600
    			</td>    		 
    		</tr>
    		<tr>
    			<td class='financialtd1'>
    				Total Equipment
    			</td>
    			
    			<td class='financialtd2'>
    				35,363
    			</td>    		 
    		</tr>
    		
    	</table> 
    		
    </div>
     
{% endblock mainbodycontentleft %}


{% block mainbodycontentright %}		
	{{ block.super }}	
{% endblock mainbodycontentright %}	