{% extends "base_partner.html" %}

{% block title %} Digital Green - Partners - Request for Applications{% endblock %}

{% block partnerbreadcrums %} 	 
	 <span style='font-size:0.9em; font-weight:bold;'> Partner Selection</span>
{% endblock partnerbreadcrums %}


{% block mainbodycontentleft %}
    		
	<div class='pagetitle'>
		Partner Selection - Request for Applications 
	</div>			
	
    
  {% block mainbodycontentleftdesc %}	
	<div id='contentdiv1'>
		 <object id="doc_639950824492854" name="doc_639950824492854" height="720" width="620" type="application/x-shockwave-flash" data="http://d1.scribdassets.com/ScribdViewer.swf" style="outline:none;" >		<param name="movie" value="http://d1.scribdassets.com/ScribdViewer.swf">		<param name="wmode" value="opaque"> 		<param name="bgcolor" value="#ffffff"> 		<param name="allowFullScreen" value="true"> 		<param name="allowScriptAccess" value="always"> 		<param name="FlashVars" value="document_id=38383240&access_key=key-1mos5g52vzw2hnt2jrey&page=1&viewMode=list"> 		<embed id="doc_639950824492854" name="doc_639950824492854" src="http://d1.scribdassets.com/ScribdViewer.swf?document_id=38383240&access_key=key-1mos5g52vzw2hnt2jrey&page=1&viewMode=list" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" height="720" width="620" wmode="opaque" bgcolor="#ffffff"></embed> 	</object>			
		 <br/><br/>
	</div>
		
  {% endblock mainbodycontentleftdesc %}

{% endblock mainbodycontentleft %}	
