{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Key Principles{% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Photos </span>	
{% endblock breadcrumsmore %}

{% block pagetitle %} &nbsp; Photos {% endblock pagetitle %}

{% block mainbodycontentleft %}
	<a class="exploredescmainlink" href="http://www.state.gov/secretary/rm/2012/05/189466.htm" target="_blank">
			Rikin Gandhi (CEO, Digital Green) explaining our model to Secretary of State Hillary Clinton at Taj Palace Hotel in New Delhi, India
On May 8, 2012.</a>
	<div style="margin-bottom:20px;margin-top:10px;"><img src="/media/Output/Images/hillary_1.png" alt=''></div>
	
	<div><img src="/media/Output/Images/hillary_2.png" alt=''></div>
		
{% endblock mainbodycontentleft %}	