

{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Quality Assurance{% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Quality Assurance </span>	
{% endblock breadcrumsmore %}

{% block pagetitle %} &nbsp;Quality Assurance {% endblock pagetitle %}

{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		Quality Assurance
	</div>
	
	<div id='contentdiv1'>		
		
		<iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/61110453/content?start_page=1&view_mode=list&access_key=key-g1xo8hnlnm17tde1v7c" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_23203" width="620" height="700" frameborder="0"></iframe>
		<script type="text/javascript">(function() { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "http://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();</script>

		<br/><br/>
	</div>
{% endblock mainbodycontentleft %}	


{% block mainbodycontentright %}
	
 {% block overviewrightlink %}			
 {% endblock overviewrightlink %}
   
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp;Related Links </div>
			<div class='exploredescmain'> 
				<a class="exploredescmainlink" href="/overviewfarmer"><img src="/media/Output/Images/linkimg2.png" alt="">Farmers</a>
				<a class="exploredescmainlink" href="/overviewdatabase"><img src="/media/Output/Images/linkimg2.png" alt="">Database</a>
				<a class="exploredescmainlink" href="/overviewproduction"><img src="/media/Output/Images/linkimg2.png" alt="">Production</a>
				<a class="exploredescmainlink" href="/overviewdistribution"><img src="/media/Output/Images/linkimg2.png" alt="">Distribution</a>			
				<a class="exploredescmainlink" href="/overviewsequence"><img src="/media/Output/Images/linkimg2.png" alt="">Sequencing</a>
				<a class="exploredescmainlink" href="/overviewdiffusion"><img src="/media/Output/Images/linkimg2.png" alt="">Diffusion</a>
				<a class="exploredescmainlink" href="/overviewscalability"><img src="/media/Output/Images/linkimg2.png" alt="">Scalability</a>
			</div> 
		</div>			
	</div>
	
	<div id="explorediv1">		
		<div class="exploredescdiv">			
			<div class="exploredescmain"> 
				<a href="/sop" class="exploredescmainlink"><span style='font-weight:bold;'>Digital Green </span><br/>Standard Operating Procedures</a>						
			</div> 			
		</div>			
	</div>	
	
{% endblock mainbodycontentright %}