{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Key Principles{% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Videos </span>	
{% endblock breadcrumsmore %}

{% block pagetitle %} &nbsp; Videos {% endblock pagetitle %}

{% block mainbodycontentleft %}	
	<div style="margin-bottom:10px;margin-top:10px;float:left;">
		<iframe width="300" height="200" src="http://www.youtube.com/embed/D5kNtdiCPjA" frameborder="0" allowfullscreen></iframe>
		<div style="margin-top:5px;font-size: 13px;font-weight: 200;text-shadow: 0 1px 0 white;color: #555555;">
			<span>Vinay Kumar of Digital Green -- YSI Pitch Session</span>	
		</div>
	</div>
	
	<div style="margin-bottom:10px;margin-top:10px;">
		<iframe width="300" height="200" src="http://www.youtube.com/embed/gjisDlubuu0" frameborder="0" allowfullscreen></iframe>
		<div style="margin-top:5px;font-size: 13px;font-weight: 200;text-shadow: 0 1px 0 white;color: #555555;">
			<span>4th NCSE @ XLRI - Vinay Kumar of Digital Green</span>	
		</div>
	</div>
	
	<div style="margin-bottom:10px;margin-top:10px;float:left;">
		<iframe width="300" height="200" src="http://www.youtube.com/embed/WmqarrWL9kw" frameborder="0" allowfullscreen></iframe>
		<div style="margin-top:5px;font-size: 13px;font-weight: 200;text-shadow: 0 1px 0 white;color: #555555;">
			<span>TEDx Nagpur- RikinGandhi- Indian Idol For Farmers</span>	
		</div>
	</div>
	
	<div style="margin-bottom:10px;margin-top:20px;">
		<iframe width="300" height="200" src="http://www.youtube.com/embed/Jz8O1GGwo-Y" frameborder="0" allowfullscreen></iframe>
		<div style="margin-top:5px;font-size: 13px;font-weight: 200;text-shadow: 0 1px 0 white;color: #555555;">
			<span>Methodology of work (Vinay Kumar)</span>	
		</div>
	</div>
		
{% endblock mainbodycontentleft %}	