
{% extends "base_all.html" %}

{% block title %} Digital Green - WonderVillage {% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/team.css' />  
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/team_board.css' />
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/wondervillage.css' />       
{% endblock cssfile %}

{% block jsfile %} 
	<script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>      
{% endblock jsfile %}

{% block breadcrums %}
	{{ block.super }}
	{% block partnerbreadcrums %} 	 
		<span style='font-size:0.9em; font-weight:bold;'> WonderVillage </span>
	{% endblock partnerbreadcrums %}	  
{% endblock breadcrums %}

{% block pagetitle %} &nbsp; Wonder Village Game {% endblock pagetitle %}

{% block mainbodycontentleft %}
	
	{% block mainbodycontentleftimg %}
		<div class='mainbodycontentleftimg'>	
			<a href='http://www.facebook.com/apps/application.php?id=180609021958564' target='_blank'><img src="/media/Output/Images/wondergame1.png" alt='Wonder Village Game'></a>
		</div>	
	{% endblock mainbodycontentleftimg %}
	
	
    <div class='pagetitle'>
		Credits
	</div>
		
	
	<div id='contentdiv1' style='width:99%; background-color:#ffead1'>
		
		<table class='wonderteamtable'>
			<tr>
				<td colspan='2' class='wondertitle'> Architect & Concept </td>
			</tr>
			<tr>
				<td class='wondername'> Saureen Shah
					<br/>
					<a href="mailto:saureen@digitalgreen.org" class="maillinks">saureen@digitalgreen.org</a>
				</td>
				<td class='wonderimg'> <img src="/media/Output/Images/saureen_w1.png"> </td>
			</tr>						
		</table>
		
		
		
		<table class='wonderteamtable'>
			<tr>
				<td colspan='2' class='wondertitle'> Engineers </td>
			</tr>
			<tr>
				<td class='wondername'> Saureen Shah
					<br/>
					<a href="mailto:saureen@digitalgreen.org" class="maillinks">saureen@digitalgreen.org</a>
				</td>
				<td class='wonderimg'> <img src="/media/Output/Images/saureen_w1.png"> </td>
			</tr>
			
			<tr>				
				<td class='wondername'> Apurva Joshi
					<br/>
					<a href="mailto:apurva@digitalgreen.org" class="maillinks">apurva@digitalgreen.org</a>
				</td>
				<td class='wonderimg'> <img src="/media/Output/Images/apurva_w1.png"> </td>
			</tr>
			
			<tr>
				<td class='wondername'> Rahul Agarwal
					<br/>
					<a href="mailto:rahul@digitalgreen.org" class="maillinks">rahul1@digitalgreen.org</a>
				</td>
				<td class='wonderimg'> <img src="/media/Output/Images/rahul_w1.png"> </td>
			</tr>
			
			<tr>
				<td class='wondername'> G. Sreenivasula Reddy
					<br/>
					<a href="mailto:sreenivasula@digitalgreen.org" class="maillinks">sreenivasula@digitalgreen.org</a>
				</td>
				<td class='wonderimg'> <img src="/media/Output/Images/sreenu_w1.png"> </td>
			</tr>			
		</table>
		
		
		
		<table class='wonderteamtable'>
			<tr>
				<td colspan='2' class='wondertitle'> Designers </td>
			</tr>
			<tr>
				<td class='wondername'> Praveen Shekhar
					<br/>
					<a href="mailto:praveen@digitalgreen.org" class="maillinks">praveen@digitalgreen.org</a>
				</td>
				<td class='wonderimg'> <img src="/media/Output/Images/praveen_w1.png"> </td>
			</tr>
			
			<tr>
				<td class='wondername'> Murtuza Ali
					<br/>
					<a href="mailto:murtuza@digitalgreen.org" class="maillinks">murtuza@digitalgreen.org</a>
				</td>
				<td class='wonderimg'> <img src="/media/Output/Images/saureen_w1.png"> </td>
			</tr>
		</table>
			
	</div>
	
	<br/>
	<br/>
	
    <div class='pagetitle'>
		The Game: Wonder Village
	</div>		
	
	<div style='color: Black; font-family: Arial,Helvetica,Sans-Serif; font-size: 0.8em; font-weight: normal; margin-left: 4px; margin-top: 0; text-align: left;'>		
		The Digital Green content repository is video-centric. This is important for a developing and predominantly rural country like India, which, by optimistic estimates, has an adult literacy rate of less than 60%. 
		In farming communities, the literacy rate is substantially lower. The video based approach has several important advantages to traditional forms of agricultural content, which is typically not in the local language, 
		intended for a literate audience, uses expert terminology, lacks grassroots level practicalities, and remains inaccessible in a sea of scattered media. Farmers, by the nature of their occupation, rely on their auditory 
		and visual senses and video, though not perfect, comes closest to capturing the scene in detail. Video creation tends to be faster and less expensive than other types of media, as advanced preparation in "lesson"-planning can minimize post-production editing. 
		<br/> <br/>
		Farmers are most receptive to adopt new practices through demonstrative exhibition. That is, farmers must see the additional benefits of a new method in relation to the control results of the conventional approach. 
		Fertilizer companies have used this strategy by covertly visiting a farmer's field in the night, applying a dosage of their product on a small patch of land, and returning in the day to highlight the change. 
			 
		<br/> <br/>
		Sustainable agricultural practices require a longer term cost-benefit analysis; however, video can compress the time needed to reveal the change. Visiting every farmer's plot to demonstrate a particular method requires unattainable human resources and transporting 
		every farmer to a demonstration plot at a collectively acceptable place and time is culturally and logistically impractical. Video provides a means of bringing relevant demonstrations into the homes of farmers. 
		<br/> <br/>
		<br/> <br/>
		<br/> <br/>
	</div>
{% endblock mainbodycontentleft %}

{% block mainbodycontentright %}		
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp;Wonder Village</div>
			<div class='exploredescmain'> 
				<a class="exploredescmainlink" href="mailto:labs@digitalgreen.org"><img src="/media/Output/Images/linkimg2.png" alt="">Contact Technology Team</a>
				<a class="exploredescmainlink" href="/analytics/overview_module?geog=country&id=1" title='Wonder Village team members'><img src="/media/Output/Images/linkimg2.png" alt="">Wonder Village Team</a>
			</div> 
		</div>			
	</div>
	
{% endblock mainbodycontentright %}		

