

{% extends "base_aboutusoverview.html" %}

{% block title %} Digital Green - Standard Operating Procedures{% endblock %}

{% block breadcrumsmore %}
	<span style='font-size:0.9em; font-weight:bold;'> Standard Operating Procedures </span>	
{% endblock breadcrumsmore %}

{% block pagetitle %} &nbsp;Standard Operating Procedures {% endblock pagetitle %}

{% block mainbodycontentleft %}
	
	<div class='pagetitle'>
		Standard Operating Procedures 
	</div>
	
	<div id='contentdiv1'>		
		<object id="doc_146344870490219" name="doc_146344870490219" height="720" width="620" type="application/x-shockwave-flash" data="http://d1.scribdassets.com/ScribdViewer.swf" style="outline:none;" >		<param name="movie" value="http://d1.scribdassets.com/ScribdViewer.swf">		<param name="wmode" value="opaque"> 		<param name="bgcolor" value="#ffffff"> 		<param name="allowFullScreen" value="true"> 		<param name="allowScriptAccess" value="always"> 		<param name="FlashVars" value="document_id=38382777&access_key=key-22sp9v6zm86m063twxcs&page=1&viewMode=list"> 		<embed id="doc_146344870490219" name="doc_146344870490219" src="http://d1.scribdassets.com/ScribdViewer.swf?document_id=38382777&access_key=key-22sp9v6zm86m063twxcs&page=1&viewMode=list" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" height="720" width="620" wmode="opaque" bgcolor="#ffffff"></embed> 	</object>
		<br/><br/>
	</div>
{% endblock mainbodycontentleft %}	