            <div class="follow">
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <div class="hdg-follow">
                            <h3 class="hdg-a hdg-source-lt">Follow Us</h3>
                        </div>
                        <ul class="social" role="navigation">
                            <li><a href="#"><h4 class="social-icon icon-fb">Facebook</h4> <h5 class="sub-text hdg-c">1, 185 <span>Like</span></h5></a></li>
                            <li><a href="#"><h4 class="social-icon icon-twitter">Twitter</h4> <h5 class="sub-text hdg-c">1, 064 <span>Followers</span></h5></a></li>
                            <li><a href="#"><h4 class="social-icon icon-youtube">You Tube</h4> <h5 class="sub-text hdg-c">2, 541 <span>Videos</span></h5></a></li>
                            <li><a href="#"><h4 class="social-icon icon-linkedin">Linked In</h4> <h5 class="sub-text hdg-c">34 <span>Contacts</span></h5></a></li>
                        </ul>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
            </div> <!-- End .follow -->
            
            <footer>
                <div class="footer" role="contentinfo">
                    <div class="wrapper">
                        <div class="inner-wrapper">
                            <nav role="navigation">
                                <ul class="copy-lt hdg-upper copy footer-links">
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </nav>
                            <a class="footer-btn" href="#">Coco</a>
                        </div>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <div class="copyright copy">
                            &copy; 2013 Digital Green
                        </div>
                    </div>
                </div>  <!-- End .wrapper -->
            </footer>
        </div>
        <!-- End Main Wrapper -->

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="{{STATIC_URL}}social_website/scripts/libs/external/requirejs/require.js"></script>
        <script type="text/javascript" src="{% url mainjs %}"></script>

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "5e0ffe84-d022-4b7d-88e1-a273f081e67e", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    </body>
</html>