.filter-table th, .filter-table td {
	padding: 0px;
	margin-top: 0px;
	padding-left: 5px;
}
.filter-table td label, .filter-table th label {
	margin-top:7px;
}

.bold>a {
    font-weight: bold;
}
#logo-container {
    height: 57px;
    margin-bottom: 32px;
}
nav.top-nav {
    height: 122px;
    box-shadow: none;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}
a.button-collapse.top-nav.full {
    line-height: 122px;
}
@media only screen and (max-width: 600px) {
    a.button-collapse.top-nav {
    left: 5%}
}@media only screen and (max-width: 992px) {
    nav .nav-wrapper {
    text-align: center;
}
nav .nav-wrapper a.page-title {
    font-size: 36px;
}
}@media only screen and (min-width: 993px) {
    .container {
    width: 85%}
}ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}
ul.side-nav.fixed li.logo:hover {
    background-color: transparent;
}
ul.side-nav.fixed {
    overflow: hidden;
}
ul.side-nav.fixed li {
    line-height: 25px;
}
ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05);
}
ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
}
ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #FFF;
}
ul.side-nav.fixed:hover {
    overflow-y: auto;
}
#nav-mobile li.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;
}
#nav-mobile li.search:hover {
    background-color: #fff;
}
#nav-mobile li.search .search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}
#nav-mobile li.search .search-wrapper.focused {
    margin: 0;
}
#nav-mobile li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
#nav-mobile li.search .search-wrapper input#search:focus {
    outline: none;
}
#nav-mobile li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#nav-mobile li.search .search-results {
    margin: 0;
    border-top: 1px solid #e9e9e9;
    background-color: #fff;
}
#nav-mobile li.search .search-results a {
    font-size: 12px;
    white-space: nowrap;
}
#nav-mobile li.search .search-results a:hover, #nav-mobile li.search .search-results a.focused {
    background-color: #eee;
    outline: none;
}
header, main, footer {
    padding-left: 240px;
}
@media only screen and (max-width: 992px) {
    header, main, footer {
    padding-left: 0;
}