<!DOCTYPE html>
<html><head>
	<title>Xl_Import</title>
	<style type="text/css">
    h1.detail { color:black;font-weight:bold;font-size:40 }
    span.name { color:green;font-weight:bold;font-size:40 }
    
    </style></head>
    	
	<body>
	    <header>
	    <h1 class="detail"> <center> digital<span class="name">GREEN </center> </span></h1><hr>
	    </header>
		<h3>File should be in following format:</h3>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.Should be in .csv/.xls/.xlsx form </h4>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.Should have the following fields </h4>
	
	<style type="text/css">
		table.tableizer-table {
		border: 2px solid Black; font-family: Arial, Helvetica, sans-serif
		font-size: 12px;
		} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 2px solid Black;
		}
	.tableizer-table th {
		padding: 8px;
		background-color:White; 
		color: Black;
		font-weight: bold;
		border: 2px solid Black;
		}
		
	</style>
	<table class="tableizer-table">
	<tr class="tableizer-firstrow"><th>village_name</th><th>shg_name</th><th>Member_Name</th><th>Member_Surname</th><th>Husband_Father_Name</th><th>Husband_Father_Surname</th></tr>
	<tr class="tableizer-firstrow"><th></th><th></th><th></th><th></th><th></th><th></th></tr>
	<tr class="tableizer-firstrow"><th></th><th></th><th></th><th></th><th></th><th></th></tr>
	<tr class="tableizer-firstrow"><th></th><th></th><th></th><th></th><th></th><th></th></tr>
	</table>
	

		<!-- Upload form. Note enctype attribute! -->
	<div id="myDiv">
	<center><form action="/xl_import/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<p>{{ form.non_field_errors }}</p> 
			<p>{{   form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" onclick= /></p>
		</form></center>
	</div>
	</div>

	</body>

</html> 