.filter-table th,
.filter-table td {
    padding: 0px;
    margin-top: 0px;
    padding-left: 5px;
}
.filter-table td label,
.filter-table th label {
    margin-top: 7px;
}
.bold>a {
    font-weight: bold;
}
#logo-container {
    height: 57px;
    margin-bottom: 32px;
}
.nav_row {
  margin-bottom: 0px !important;
}
/*nav.top-nav {
    height: 122px;
    box-shadow: none;
}
nav.top-nav a.page-title  {
    line-height: 122px;
    font-size: 48px;
}*/

a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}
/*a.button-collapse.top-nav.full {
    line-height: 122px;
}*/

@media only screen and (max-width: 600px) {
    a.button-collapse.top-nav {
        left: 5%
    }
}
@media only screen and (max-width: 992px) {
    nav .nav-wrapper {
        text-align: center;
    }
    nav .nav-wrapper a.page-title {
        font-size: 36px;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        width: 95%
    }
}
.container {
    padding-top: 35px;
    max-width: 100%
}
#container2 {
    padding: 50px;
}
ul.side-nav.fixed li.logo {
    text-align: center;
    /*margin-top: 32px;*/

    margin-bottom: 80px;
}
ul.side-nav.fixed li.logo:hover {
    background-color: transparent;
}
ul.side-nav.fixed {
    overflow: hidden;
}
ul.side-nav.fixed li {
    line-height: 25px;
}
ul.side-nav.fixed li:hover,
ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05);
}
ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
}
ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #FFF;
}
ul.side-nav.fixed:hover {
    overflow-y: auto;
}
#nav-mobile li.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;
}
#nav-mobile li.search:hover {
    background-color: #fff;
}
#nav-mobile li.search .search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}
#nav-mobile li.search .search-wrapper.focused {
    margin: 0;
}
#nav-mobile li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
#nav-mobile li.search .search-wrapper input#search:focus {
    outline: none;
}
#nav-mobile li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#nav-mobile li.search .search-results {
    margin: 0;
    border-top: 1px solid #e9e9e9;
    background-color: #fff;
}
#nav-mobile li.search .search-results a {
    font-size: 12px;
    white-space: nowrap;
}
#nav-mobile li.search .search-results a:hover,
#nav-mobile li.search .search-results a.focused {
    background-color: #eee;
    outline: none;
}
/*#recent_main {
    height: 10px;
}*/

h5 {
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 10px;
}
h4 {
    font-size: 26px;
    font-weight: 400;
}
hr {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.indicator {
    margin-left: 20px!important;
    /*margin-right: 20px!important;*/
}
.tabs .active {
    font-weight: bold;
    background-color: aliceblue;
    margin-left: 20px !important;
    /*margin-right: 20px !important;*/
}
.card .card-title {
    font-size: 18px;
}
.sparkline_graph {
    padding-left: 10px;
}
.card .card-content {
    padding: 0 !important;
}
@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}
.a-customfont {
    font-size: 12px;
}
.row.vdivide [class*='col']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}
.help-tip {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #424242;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 24px;
    cursor: default;
}
.help-tip:before {
    content: '?';
    font-weight: bold;
    color: #fff;
}
.help-tip:hover p {
    display: block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}
.help-tip p {
    /* The tooltip */

    display: none;
    text-align: left;
    background-color: #BCDBEA;
    color: #fff;
    padding: 10px;
    width: 150px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    /*right: -4px;*/

    font-size: 13px;
    line-height: 1.4;
    position: absolute;
    z-index: 1;
}
.help-tip p:before {
    /* The pointer of the tooltip */

    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #007676;
    /*right:10px;*/

    left: 0px;
    top: -12px;
}
.help-tip p:after {
    /* Prevents the tooltip from being hidden */

    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}
/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
#language .select-wrapper span.caret,
#country .select-wrapper span.caret {
    top: 3px !important;
}
#language .select-wrapper input.select-dropdown,
#recent_graphs .select-wrapper input.select-dropdown,
#country .select-wrapper input.select-dropdown {
    border-bottom: none;
}
.disable-button {
    pointer-events: none;
    cursor: default;
    color:rgba(0,0,0,0.3);
}
.modal {
    width: 80%;
    overflow-y: hidden !important;
}
.modal-close {
    position: absolute;
    cursor: pointer;
    top: 10px;
}
.login_modal {
  width: 30% !important;
}
table.dataTable tr.odd td.sorting_1 {
    background-color: #f9f9f9;
}
table.dataTable tr.even td.sorting_1 {
    background-color: #FFFFFF;
}
#farmer_submit_modal,
#aggregator_submit_modal,
#gaddidar_submit_modal,
#transportation_submit_modal {
    background-color: #169b8b;
    color: #FFFFFF;
    margin: 2px;
}
#farmer_reset_modal,
#aggregator_reset_modal,
#gaddidar_reset_modal,
#transportation_reset_modal {
    background-color: #d1d1d2;
    color: #FFFFFF;
    margin: 2px;
}
#farmer_close img,
#aggregator_close img,
#gaddidar_close img,
#transportation_close img {
    height: 18px;
    width: 18px;
    margin-top: 20px;
}
#aggregator_modal input[disabled],
#farmer_modal input[disabled],
#gaddidar_modal input[disabled],
#transportation_modal input[disabled] {
    border-bottom: none;
    color: #169b8b;
}
#aggregator_modal form,
#farmer_modal form,
#gaddidar_modal form,
#transportation_modal form {
    margin-bottom: -50px;
}
#aggregator_header,
#farmer_header,
#gaddidar_header,
#transportation_header {
    background-color: #223237;
    padding: 2px;
    margin-bottom: 3px;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
}
#aggregator_modal h5,
#farmer_modal h5,
#gaddidar_modal h5,
#transportation_modal h5 {
    color: #FFFFFF;
}
#aggregator_disabled_elements,
#farmer_disabled_elements,
#gaddidar_disabled_elements,
#transportation_disabled_elements {
    color: #3E4551;
    margin-bottom: -30px;
    padding: 5px;
}
.editedcell{
    background-color:#B8E986;
    font-weight:bold;
    color: #009;
}
.editedcelledge {
    background-color: #F8C6B8;
    font-weight: bold;
    color: #009;
}
.editcolumn{
    background-color: #E2E2E2;
}
