.filter-table th, .filter-table td {
    padding: 0px;
    margin-top: 0px;
    padding-left: 5px;
}
.filter-table td label, .filter-table th label {
    margin-top:7px;
}

.bold>a {
    font-weight: bold;
}
#logo-container {
    height: 57px;
    margin-bottom: 32px;
}
nav.top-nav {
    height: 65px;
}
nav.top-nav a.page-title {
    line-height: 80px;
    font-size: 36px;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}
a.button-collapse.top-nav.full {
    line-height: 122px;
}
footer {
    padding-left: 240px;
}
html {
    background-color: #efefef;
}
.row {
  background-color: #ffffff;
}

#top_box.row {
  background-color: #ffffff;
  padding-top:1.5%;

}
#bottom_box.row {
    margin-top: -1%;

}
.bold_large_font{
    font-weight: bold;
    font-size: 200%;
}

.bold_medium_font{
    font-weight: bold;
    font-size: 150%;
}

@media only screen and (max-width: 992px) {
    main, footer {
    padding-left: 0;
}

#get_data
{
    margin-top: 10%;
}
