.container-box {
  box-shadow: 0 0 8px grey;
  padding: 15px 15px 15px 15px;
  margin: 8px 0px 8px 25px;
}

.box-size-half {
  width: 550px;
  height:360px;
}
.box-size-full {
  width: 900px;
  height:700px;
}