<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarLevelOne" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">LOOP</a>
  <div class="collapse navbar-collapse" id="navbarLevelOne" [collapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let nav of toggleNavKeys();">
        <a class="nav-link" data-toggle="collapse" routerLinkActive="active" data-target="nav" (click)="setNav(nav)">{{nav}}</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let subNav of navsSecond">
        <a class="nav-link" href="#" id="">{{subNav}}</a>
      </li>
    </ul>
  </div>
</nav>
