<div class="btn-group float-right" dropdown>
  <button dropdownToggle type="button" class="btn dropdown-toggle">
  {{country}} <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let item of Dropdownitems" role="menuitem">
      <button class="dropdown-item" (click) = "updateDropdown(item)" >{{item.value}}</button>
    </li>
  </ul>
</div>


<div class="btn-group" dropdown [autoClose]="false">
    <button dropdownToggle type="button" class="btn dropdown-toggle">
      {{country}} <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li *ngFor="let item of Dropdownitems"  role="menuitem" dropdown placement="right" container="body">
        <button dropdownToggle class="dropdown-item dropdown-toggle"
           (click)="updateDropdown(item)"> {{item.value}} <span class="caret"></span></button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let subItem of item.dropDownData" role="menuitem">
            <button class="dropdown-item" href="#/dropdowns#nested">{{subItem.value}}</button></li>
        </ul>
      </li>
    </ul>
  </div>