<html>
<head></head>
<body>
{% load humanize %}
<div class="modal-body" style="padding: 3px; border: 5px solid #666666;">
<div id="content" style="width: 710px;">
<div class='vil_left_panel' style="margin-left: 0px; height: 550px;">
<div class="left_panel_top">
<div id="district_label" >
	{% for state in left_panel_stats.assigned_states %}
		{{state|lower|capfirst}}{% if not forloop.last %}|  {% endif%}
	{% endfor %}
</div>
	<div id="name_label">
		<center><a href={{left_panel_stats.site_link}}  target='_blank' > {{ left_panel_stats.partner_details.0.1 }}</a></center>
	</div>
	<div id="district_label" ><center>
	{% for v in left_panel_stats.assigned_districts %}
		{{v|lower|capfirst}}{% if not forloop.last %}|  {% endif%}
	{% endfor %}</center>
	</div>
	
	<center><a href={{left_panel_stats.site_link}}  target='_blank' ><img id="img_container" src={{left_panel_stats.photo_link}}></a></center>
	{% if  left_panel_stats.partner_details.0.4 %}
	<div class="group_label" > <center> Started: {{ left_panel_stats.partner_details.0.4|date:"M d, Y" }}</center></div>
	{% endif %}
	<div id="progress_bar_label" style="margin-right:5px;"><center>Screenings per Month</center></div>
		<div class="progress progress-striped">
			<div class="bar "  style="width: {{left_panel_stats.pbar_width|floatformat:1 }}% ;"><p> {{ left_panel_stats.rate|floatformat:1 }}</p></div>
		</div>
		<table style="width:250px;">		
			<tr>
				<td align="left">{{ left_panel_stats.partner_details.0.4|date:"M Y" }}</td>
				<td align="center">{{ left_panel_stats.Screenings|intcomma  }}</td>
				<td align="center"> {{ left_panel_stats.total_adoptions|intcomma}}</td>
			</tr>
			<tr>
				<td align="left"><b><div style="margin-left:8px;">Joined</div></b></td>
				<td align="center"><b>Screenings</b></td>
				<td align="center"><b>Adoptions</b></td>
			</tr>
		</table>	
</div>
<div class="left_panel_bottom" style="padding-top: 0px;">
<div class='horizontal_line'></div>
<div class='statsLabel'>Villages</div>
<div class='statsValue'>{{left_panel_stats.number_villages|intcomma  }}</div>
<div class='horizontal_line'></div>
<div class='statsLabel'>Farmers</div>
<div class='statsValue'>{{left_panel_stats.farmers|intcomma  }}</div>
<div class='horizontal_line'></div>
<!--
<div class='statsLabel'>Screenings</div>
<div class='statsValue'>{{ left_panel_stats.Screenings|intcomma  }}</div>
<div class='horizontal_line'></div>
<div class='statsLabel'>Adoptions</div>
<div class='statsValue'>{{ left_panel_stats.total_adoptions|intcomma  }}</div>
<div class='horizontal_line'></div>		
-->
</div>
</div>

<div class='content_top' style="margin-left: 255px;">
<div id="closeButton"
	style="float: right; margin-top: -5px; margin-left: 5px;">
	<a class="close" data-dismiss="modal">x</a>
</div>
<div id="tabs">
	<div id='toptabs'>
		<ul>
			<li id='tabsli' class='giftsli'>
			<span>Top Villages</span></a>
		</li>
	</ul>
</div>
</div>
<div class='vil_tabcontent' id="top_tabcontent"
	style="height: 190px;" style='width:100%; margin:0px;'>
<div class="carousel slide span8" id="myCarousel"
	style="width: 710px; margin-bottom: 0px;">
	{% if top_vill %}
	<div class="carousel-inner">
		{% for village in top_vill %} 
		{% if forloop.counter0|divisibleby:"5" %}
		<div class="item{% if forloop.first %} active{%endif%}">
			<ul class="thumbnails" style="margin-left: 28px; margin-top: 5px;">
				{% endif%}
				<li class="vidsWatchedItem">
							<div class="thumbnail">
								<a href="javascript:void(0);" onclick="villageClick({{ village.0 }})" target='_blank'>
								<img rel="custompopover" data-content="Screenings :  <b>{{village.2}}</b>"  src="http://s3.amazonaws.com/dg_farmerbook/village/{{village.0}}.jpg" alt="">
								</a>
							</div>
							{% if village.2 %}
									<div style=' margin-top:-20px;position:absolute;'>
										<span class='label label-info' >
											<i class='icon-facetime-video icon-white'></i> {{ village.2 }}  
										</span> 
									</div>
							{% endif %}
							<div class='csp_name'>
							<a href="javascript:void(0);" onclick="villageClick({{ village.0 }})"><center>{{ village.1}}</center></a>
							</div></center>
							
						</li>
				 {% if forloop.counter|divisibleby:"5" and not forloop.first or forloop.last %}
		</div>
		</ul>
		{% endif%}
		 {% endfor %}
	</div>
	<a data-slide="prev" href="#myCarousel"
		class="left carousel-control" style="margin-left: -40px;"><</a>
	<a data-slide="next" href="#myCarousel" class="carousel-control"
		style="margin-left: 650px !important">></a>
	</div>
	{% else %}
		<div style="margin-top:20px;font-size:23px;"><center>We did not find any villages.</center></div>
	{% endif %}
</div>
<div style="height: 1px;"></div>
	<div class='related_farmer'>
			<div class="section_title"> <span style="font-size:90%; margin-left:-5px;margin-top:-20px; color:#6D9D30">Other Partners</span> </div>
			<div style='border-bottom:3px solid #009E0F;'></div>
			<div style='border: 1px solid #009E0F;height:311px;'>
<div class="carousel slide span8" id="lbCarousel"
	style="width: 710px;">
	<div class="carousel-inner" style="height: 300px;">
		{% for partner in partner_stats %} {% if forloop.counter0|divisibleby:"3" %}
		<div class="item{% if forloop.first %} active{%endif%}">
			<ul class="thumbnails" style="margin-left: 24px; margin-top: 1px; height: 310px;">
				{% endif%}
				<li style="margin-left: 2px; margin-top: -9px;">
					<div class='farmer_details_container'>
					<center><a href="javascript:void(0);" onclick="partnerClick({{ partner.id }})">
					<img src={{partner.photo_link}}>
					</a>
						<div class='csp_name'>
							<a href="javascript:void(0);" onclick="partnerClick({{ partner.id }})">{{ partner.name }}</a>
						</div>
					</center>
					<div id="progress_bar_label" style="margin-right:5px;"><center>Screenings per Month</center></div>
					<div class="progress progress-striped">
						 <div class="bar "  style="width: {{partner.ratewidth|floatformat:1 }}% ;"><p> {{ partner.rate|floatformat:1 }}</p></div>
					</div>
						
					<table style="width:200px;">		
						<tr>
							<td align="left">{{ partner.start_date|date:"M Y" }}</td>
							<td align="center"> {{ partner.screenings|intcomma}}</td>
							<td align="center"> {{ partner.adoptions|intcomma}}</td>
						</tr>
						<tr>
							<td align="left"><b><div style="margin-left:8px;">Joined</div></b></td>
							<td align="center"><b>Screenings</b></td>
							<td align="center"><b>Adoptions</b></td>
						</tr>
					</table>		
					</div>
				</li> {% if forloop.counter|divisibleby:"3" and not forloop.first or forloop.last %}
		</div>
		</ul>
		{% endif%} 
		{% endfor %}
	</div>
	<a data-slide="prev" href="#lbCarousel" class="left carousel-control" style="margin-left: -34px;"><</a>
	<a data-slide="next" href="#lbCarousel" class="carousel-control" style="margin-left: 650px !important">></a>
			</div>

		</div>
</div>


	</div>
</div>
<script type="text/javascript">
			$(function(){
			   $("[rel=custompopover]").custompopover();
			});
</script
</div>
</body>
</html>



