{% load humanize %}
{% load customtags%}
<html>
<head></head>
<body>
<div class="modal-body" style="padding:3px; border:5px solid #666666;">
<div id = "content" >
<div class='left_panel' style="height:540px;">
	<div class="left_panel_top" >
		<div id="district_label" >{{ left_panel_stats.farmer_details.0.5 }} | {{ left_panel_stats.farmer_details.0.6 }}</div>
			<center><img id="img_container" src='https://s3.amazonaws.com/dg_farmerbook/2/{{ left_panel_stats.farmer_details.0.0 }}.jpg'></center>
		<div id="name_label" > {{ left_panel_stats.farmer_details.0.1 }}</div>
		<div class="group_label" > <a href="javascript:void(0)" onclick="groupClick({{ left_panel_stats.farmer_details.0.9 }})">
			{{ left_panel_stats.farmer_details.0.3 }} </a> </div>
		<div class="group_label" > 
			<a href="javascript:void(0)" onclick="villageClick({{ left_panel_stats.farmer_details.0.8 }})">{{ left_panel_stats.farmer_details.0.4 }}</a>
		</div>
		<center>
		{% if left_panel_stats.subscribed %}
			<a id='follow' href="javascript:void(0)" class='btn btn-primary disabled'>Subscribed</a>
		{% else %}			
			<a id='follow' href="javascript:void(0)" 
				onclick='followClick("{{left_panel_stats.farmer_details.0.0}}",
								 "{{person_last_adopted_details.2}}", 
								 "{{person_last_adopted_details.3|date:"M Y"}}", 
								 "{{ left_panel_stats.farmer_details.0.1 }}")' 
			 		class='btn btn-primary'>Subscribe</a>
		{% endif %}
		</center>
		<div id="progress_bar_label" > Adoption Rate </div>
		<div class="progress progress-striped">
			<div class="bar "  style="width: {{ left_panel_stats.views_adoptions.2 }}%; "><p> 
				{{ left_panel_stats.views_adoptions.2|floatformat:0 }}%</p></div>
		</div>
		<div id = 'progress_bar_content'>
			<table style="width:250px;">	
				<tr>
					<td align="left">{{left_panel_stats.farmer_details.0.7|date:"M Y" }}</td>
					<td align="center"> {{left_panel_stats.views_adoptions.0}}</td>
					<td align="center"> {{left_panel_stats.views_adoptions.1}}</td>
				</tr>
				<tr>
					<td align="left"><b> <div style="margin-left:8px;">Joined</div></b></td>
					<td align="center"><b> Views</b></td>
					<td align="center"><b>Adopted</b></td>
				</tr>
			</table>		
		</div>
	</div>
	<div class="left_panel_bottom" style='padding-top:0px;'>
		<div class='horizontal_line'> </div>
		{% if left_panel_stats.questions_asked %}
			<div class= 'statsLabel'> Questions Asked</div>
			<div class = 'statsValue'> {{ left_panel_stats.questions_asked }} </div>
			<div class='horizontal_line'> </div>
		{% endif %}
		<div class='service_provider_container'>
		<div class = "section_title" style="width:100px;float:left"><span style="font-size:75%; margin-left:-7px;color:#6D9D30">Service Provider </span></div>
		<div class = "section_title" style="width:100px;float:right"><span style="font-size:75%; margin-left:-7px;color:#6D9D30">Partner</span></div>
		
			<div style='width:100px;float:left;'>
				<div  style= "width:100px; height:70px; margin-left: 2px;border: 1px solid green;"src=''>
					<a href='javascript:void(0);' onclick="cspClick({{left_panel_stats.service_provider.0.0}})">
					<img  style= "float:left; width:100px; height:70px;" src="http://s3.amazonaws.com/dg_farmerbook/csp/{{left_panel_stats.service_provider.0.0}}.jpg"></a>
				</div>
				<div style="width:100px; overflow:hidden;">
					<a href='javascript:void(0);' onclick="cspClick({{left_panel_stats.service_provider.0.0}})"><center>{{ left_panel_stats.service_provider.0.1 }}</center></a>
				</div>				
			</div>
			<div style='width:100px;float:right;'>
				<div style= "width:100px; height:70px; margin-right: 10px; margin-left:-30px; border: 1px solid green;"src=''>
					<a href='javascript:void(0);' onclick="partnerClick({{left_panel_stats.partner.0.0}})">
					<img  style= "float:left; width:100px; height:70px;" src="http://s3.amazonaws.com/dg_farmerbook/partner/{{left_panel_stats.partner.0.0}}.jpg"></a>
				</div>
				<div style="width:100px; overflow:hidden; margin-left:-30px;">
					<a href='javascript:void(0);' onclick="partnerClick({{left_panel_stats.partner.0.0}})"><center>{{ left_panel_stats.partner.0.1 }}</center></a>
				</div>
			</div>
		</div>	
		<div style='clear:both;'></div>
	</div>
</div>

<div class='content_top' style="margin-left:255px;">
	<div id="closeButton" style="float:right; margin-top:0px;margin-left:0px;">  <a class="close" data-dismiss="modal">X</a> </div>
	<div id="tabs">
		<div id='toptabs'> 
			<ul>
				<li id='tabsli' class='playli tabsliselect' onClick="ajax_tab_click('videos_watched', {{ left_panel_stats.vil_details.0.0 }} )">
				 <span>Videos Watched ( {{ left_panel_stats.videos_watched }} )</span></a> </li>
				{% if left_panel_stats.videos_produced%}
				<li id='tabsli' class='giftsli' onClick="ajax_tab_click('videos_produced', {{ left_panel_stats.vil_details.0.0 }} )" > 
					<span>Videos Produced ( {{ left_panel_stats.videos_produced }} )</span></a> 
				</li>
				{% endif %}				
			</ul>
		</div>
		<div class='vil_tabcontent' id="top_tabcontent" style="height:180px;" style='width:100%; margin:0px;'>
			{% if videos_watched_stats %}
			<div class="carousel slide span8" id="myCarousel" style="width:710px;margin-bottom:10px;">
				<div class="carousel-inner" style='height:180px;'>				
				{% for vid in videos_watched_stats %}
						{% if forloop.counter0|divisibleby:"5" %}				    
							<div class="item{% if forloop.first %} active{%endif%}">							
							<ul class="thumbnails" style="margin-left:28px; margin-top:5px;">										
						{% endif%}
						<li class="vidsWatchedItem">
							<div class="thumbnail" style="border: 1px solid green;">
								<a href="http://digitalgreen.org/video/?id={{ vid.id }}" target='_blank'>
									<img rel="custompopover" data-content="{{vid.fulltext}}"  src="http://img.youtube.com/vi/{{ vid.youtubeid }}/2.jpg" alt="">
								</a>
							</div>
							{% if vid.adopted %}
									<div style="margin-top:-20px;margin-left:100px"><span class='label label-success' ><i class='icon-ok-sign icon-white'></i></span></div>
							{% endif %}
							{% if vid.interested %}
							    <div style="margin-top:-20px;position:absolute;"><span class='label label-warning' >
								<i class='icon-exclamation-sign icon-white'></i></span>
								</div>
							{% endif %}
							{% if vid.question %}
								{% if vid.interested %}
									<div style="margin-top:-45px;"><span class='label label-important' rel="custompopover" data-content="{{vid.question}}">
										<i class='icon-question-sign icon-white'></i></span>
									</div>
									<div style="height:25px;"></div>
								{% else %}
									<div style="margin-top:-20px;"><span class='label label-important' rel="custompopover" data-content="{{vid.question}}">
										<i class='icon-question-sign icon-white'></i></span>
									</div>
								{% endif %}
							{% endif %}
							<div class="video_title" style="margin-top:0px;" >
								<a href="http://digitalgreen.org/analytics/video/?id={{ vid.id }}" target='_blank' >{{ vid.title|lower|capfirst|truncchar:30 }}</a> 
							</div>
							{% if vid.last_seen_date %}
								<div class="question" style="margin-top:0px;">Last seen on <br>{{ vid.last_seen_date|date:"M d, Y" }} </div>
							{% endif %}					
						</li>
						{% if forloop.counter|divisibleby:"5" and not forloop.first or forloop.last %}						    
							</div>							
						</ul>										
						{% endif%}
				{% endfor %}					
				</div>
				<a data-slide="prev" href="#myCarousel" class="left carousel-control" style="margin-left:-40px;"><</a>
				<a data-slide="next" href="#myCarousel" class="carousel-control" style="margin-left:650px !important">></a>
			</div>
			{% else %}	
			   <div style="margin-top:20px;font-size:23px;"><center>We did not find any Videos.</center></div>
			{% endif %}
    	</div>
		<div style="height:1px;"> </div>		
		
		<div class='related_farmer'>
			<div class="section_title"> <span style="font-size:90%; margin-left:-5px;color:#6D9D30">Related Farmers</span> </div>
			<div style='border-bottom:3px solid #009E0F;'></div>
			<div style='border: 1px solid #009E0F;height:304px;'>
			{% if top_adopters_stats %}								
			<div class="carousel slide span8" id="lbCarousel" style="width:710px;">
				<div class="carousel-inner" style="height:300px;">				
				{% for person in top_adopters_stats %}
						{% if forloop.counter0|divisibleby:"3" %}				    
								<div class="item{% if forloop.first %} active{%endif%}">							
								<ul class="thumbnails" style="margin-left:24px; margin-top:1px;height:310px;">										
						{% endif%}
						<li style="margin-left:2px;margin-top:-9px;">
							<div  class= 'farmer_details_container'>
							<center><a href="javascript:void(0);" onclick="personClick({{ person.id }})">
								<img  src="https://s3.amazonaws.com/dg_farmerbook/2/{{ person.id }}.jpg"></center>	</a>					
							<div class='farmer_name'> 
								<a href="javascript:void(0);" onclick="personClick({{ person.id }})">
									<center>{{ person.name }}</center></a> 
							</div>
							{% if person.title %}
							<div class='last_adopted' style="height: 36px; overflow:hidden;"> 
								Last adopted {{ person.title|lower|capfirst|truncchar:28 }} on {{ person.date_of_adoption|date:"M d,Y" }}
							</div>
							{% endif %}
							<div id="progress_bar_label" style="margin-right:5px;"> Adoption Rate </div>
							<div class="progress progress-striped"  style="margin-bottom:5px;">
							  <div class="bar "  style="width: {{ person.adoption_rate|floatformat:0 }}%; "><p> {{ person.adoption_rate|floatformat:0 }}%</p></div>
							</div>
							<div id = 'progress_bar_content'>
								<table width="200">		
									<tr>
										<td align="left">{{ person.date_of_joining|date:"M Y"|default:"Not started"}}</td>
										<td align="center"> {{ person.views|intcomma}}</td>
										<td align="center"> {{ person.adoptions|intcomma}}</td>
									</tr>
									<tr>
										<td align="left"><b><div style="margin-left:8px;">Joined</div></b></td>
										<td align="center"><b>Screenings</b></td>
										<td align="center"><b>Adoptions</b></td>
									</tr>
								</table>								
							</div>
							</div>
						</li>
						{% if forloop.counter|divisibleby:"3" and not forloop.first or forloop.last %}						    
							</div>							
							</ul>										
						{% endif%}
				{% endfor %}					
				</div>
				<a data-slide="prev" href="#lbCarousel" class="left carousel-control" style="margin-left:-34px;"><</a>
				<a data-slide="next" href="#lbCarousel" class="carousel-control" style="margin-left:650px !important">></a>
			</div>
			{% else %}
				<div style="margin-top:20px;font-size:23px;"><center>We did not find any related farmers.</center></div>
			{% endif %}
			</div>
		</div>			
    </div>		
  </div>
</div>

</div>
</div>
<script type='text/javascript'>
$(function(){
	$("[rel=custompopover]").custompopover();
});

</script>
</body>
</html>
