{% include "includes/header.html" %}
	
	<section id="Static Data Upload" class="about-bg">
		        	<div class="wrapper">
		        		<div class="inner-wrapper">
		        			<h2 class="hdg-a hdg-source-lt layout-vr-md">Static Data Upload - Status</h2>
		        			<div class="media layout-vr-xlg">
						
		        				<div class="bd">
		
									<center>
										<form action="/data_upload/" method="POST">
											{% csrf_token %}
											<h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Your file was successfully uploaded</h3>
											<input type="submit" value="Go Back" >
										</form>
									</center>
	
								</div>
							</div>
						</div>
					</div>
	</section>
{% include "includes/footer.html" %}