
{% extends "base_all.html" %}

{% block title %} Digital Green - Home  {% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/home.css' />
{% endblock cssfile %}

{% block jsfile %}
    <script type="text/javascript" src="/media/Output/JS/Jhome.js"></script>
{% endblock jsfile %}

{% block bodytitle %}
<div style="font-family:Arial,Helvetica,Sans-Serif">
	<h3>
		<b>
			The page you requested does not exist.<br>
		</b>
	</h3>
</div>
{% endblock bodytitle %}

{% block content %}
{% endblock content %}


