<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
                
                    <form method="post" action="{{ app_path }}">
                    {% csrf_token %}
                    
                    	{{ form.username.label_tag }}
                    	{{ form.username }}
                    	{{ form.password.label_tag }}
                    	{{ form.password }}
                    	<input type="submit" value="Login" class="btn btn-large btn-primary" />
                    {% if next %}
                    	<input type="hidden" name="next" value="{{next}}" />
                    {% else %}
                    	<input type="hidden" name="next" value="/" />
                    {% endif %}
                    </form>
                    
                    {{next}}
                    <a href="{% url 'social:begin' 'facebook' %}?next={{next}}" class="btn btn-facebook">Facebook</a>
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{next}}" class="btn btn-google-plus">Google</a>
    </body>
</html>