{% include "includes/header.html" %}
        {% include "includes/partials/mainCarousel.html" %}

        <section id="about" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <center>
                        <p class="hdg-e layout-vr-sm"> <strong>Our Vision</strong> is a world where all individuals live a life of dignity.</p>
                        <p class="hdg-e layout-vr-sm"> <strong>Our Mission</strong> is to integrate innovative technology with global development efforts to improve human well being.</p>
                        <p class="hdg-e layout-vr-sm"> <strong>Our Values</strong> include Humility, Excellence, Accountability, Empathy and Integrity.</p>
                        <br>
                        <br>
                    </center>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="about" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">About Us</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/about.jpg" alt="" />
                        </div>
                        <div class='bd'>
                            <p class="copy"> Digital Green is a not for profit international development organization that uses an innovative digital platform for community engagement to improve lives of rural communities across South Asia and Sub-Saharan Africa. We partner with local public, private and civil society organizations to share knowledge on improved agricultural practices, livelihoods, health, and nutri1on, using locally produced videos and human mediated dissemination. In a controlled evaluation, the approach was found to be 10 times more cost-effective and uptake of new practices seven times higher compared to traditional extension services.</p>
                            <p class="copy">Till date, we have produced over 2,800 videos in more than 20 languages, reached 3,000 villages and over 330,000 farmers. We currently implement projects in seven states in India and in select areas in Ethiopia, Ghana, Mozambique and Tanzania in Africa in partnership with over 20 partners.</p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="values" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Our Approach</h2>    
                    <div class='media layout-vr-xlg'>
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/our_approach.jpg" alt="" />
                        </div>
                        <div class='bd'>
                            <p class="copy"> We engage with and empower rural communities to produce participatory localized videos, leveraging pre-existing group structures to disseminate these videos through human mediation. These videos are of the community, by the community and for the community.</p>
                            <p class="copy"> The approach includes: (1) a participatory process for video production on improved livelihood prac1ces, (2) a human-mediated learning model for video dissemination and training, (3) a hardware and software technology plaform for data management customized to limited or intermittent Internet and electrical grid connectivity, and (4) an iterative model to progressively address the needs and interests of the community with analytical tools.</p>
                            <p class="copy"> Our data management software called Connect Online | Connect Offline (COCO) and Analytics dashboard suite customized to low resource settings are used to collect and analyze near real-time data on dissemination, adoption, and community interest. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Learn More About Our Organization</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/more_about.jpg" alt="" />
                        </div>
                        <div class='bd'>
<!--                             <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Our mission is to integrate innovative technology with global development efforts to improve human well being.
                            </h3> -->
                            <div class="grid-col grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="{% url 'board' %}">Our Board</a></li>
                                    <li><a href="{% url 'team' %}">Our Team</a></li>
                                    <li><a href="{% url 'connect' %}">Our Partners</a></li>
                                    <li><a href="{% url 'ourwork' %}">Our Work</a></li>
                                    <li><a href="{% url 'resources' %}">Resources</a></li>
                                </ul>
                            </div>
                            <div class="grid-rt grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="{% url 'events' %}">Events</a></li>
                                    <li><a href="{% url 'press' %}">Digital Green in the News</a></li>
                                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    <li><a href="{% url 'donate' %}">Donate</a></li>
                                    <li><a href="/blog/">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>        
        
{% include "includes/footer.html" %}