{% include "includes/header.html" %}
        
        
        <section id="annualreport09" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Annual Report 2009-2010</h2>
                    <div class="media layout-vr-xlg">
                        <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Letter from the CEO</h3>
                        <div class='grid layout-vr-lg'>
                            <div class='grid-col grid-size2of4'>
                                <div>
                                    <p class="copy copy-para">Digital Green works to build technologies and to serve as a resource agency to maximize the potential of the partners and the communities that we work with. The last year has been one of great learning and progress in the field and as a team.
                                    </p>
                                    
                                    <p class="copy copy-para">
                                        We spun-out of <a href='http://research.microsoft.com/en-us/um/india/projects/digitalgreen/' target='_blank'>Microsoft Research</a> and came together as the Digital Green team for our first <a href='http://www.youtube.com/watch?v=_HTsrigrUQY'/ target='_blank'>orientation boot camp</a> in May 2009.  Our operations team laid the groundwork by working closely with our partners: understanding local contexts, cultivating relationships, and developing a framework for ensuring quality.
                                        Initially, our team members were embedded in the field offices of our partners.  This proved useful in providing on-site training for our partners as well as ourselves.  As the work gained traction in the field, we entered into new partnerships through a rigorous due diligence process that emphasized our role as "trainer of trainers" and focused on improving the cost-effectiveness of our partners.  
                                        Our team transitioned to this model by relocating to offices in the state capitals of Madhya Pradesh, Orissa, and Karnataka and providing support to our partners from these hubs.
                                    </p>
                                    
                                    <p class="copy copy-para">
                                        The Digital Green system now extends to over 400 villages and involves over 26,000 farmers.  During the last year, over 700 videos have been produced of farmers, by farmers, and for farmers; 8,000 mediated screenings of videos have taken place in these villages; and 6,500 better agricultural techniques have been taken up by farmers on their fields.  As the system has scaled, we have encountered challenges and gained some important <a href=#learnings>learnings</a> .  A key focus area is quality assurance.  We have developed standard operating procedures and are strengthening mechanisms for internal audits and third-party certification reviews. 
                                    </p>
                                    
                                    <p class="copy">
                                        Our technology team has built the software platform that powers Digital Green with an open-source data management framework, called COCO, which enables rural areas that often have limited Internet connectivity to exchange data with the world and an Analytics suite of dashboards to better coordinate our operations and to analyze our progress across the country based on time and location.  We also launched a new website and an interface to sort through the expanding library of videos that our network of partners and communities is producing.  And in the field, we replaced bulky and expensive camcorders, TVs, and DVD players with low-cost, high definition pocket video cameras to capture videos and increasingly brighter, battery-operated pico projectors to disseminate them.
                                    </p>
                                </div>
                            </div>
                            <div class='grid-col grid-size2of4'>
                                <div class='grid-pad-lt'>
                                    <p class="copy copy-para">
                                        We are collaborating with researchers from UC Berkeley to design a large-scale evaluation of the Digital Green system and are piloting an interactive voice response system accessible by phone which supports the community members involved in our work.
                                    </p>
                                    
                                    <p class="copy copy-para">
                                        The Digital Green team has grown to nearly five-hundred people supporting our efforts on the ground.  Our eighteen core team members now work with seven partners across four states in India.  Eighty-one staff members of our partners run the Digital Green system with the four-hundred members of the community who create and distribute locally relevant videos on a day-to-day basis.  We have learned and shared much with one another and are gearing up for our second partners' meet and team retreat next month.
                                    </p>
                                    
                                    <p class="copy copy-para">
                                        Along the way, we have generated some buzz in the media, garnered awards from MIT's Technology Review and Fortune Magazine, published a paper on COCO at the ACM Symposium on Computing for Development, and connected with networks like TED and Ashoka.  We even had the extraordinary opportunity to share Digital Green with President Obama during his recent visit to India. 
                                    </p>
                                    
                                    <p class="copy copy-para">
                                        We are exploring collaboration possibilities with several civil, private, and public sector organizations to extend our work - geographically in India and Africa, in sectors like public health and skills development, and in forums of mass and social media to engage different audiences.
                                    </p>
                                    
                                    <p class="copy copy-para">
                                        We are excited by the progress that we've made so far and look forward to bringing about an even greater change.
                                    </p>
                                    <img src='{{STATIC_URL}}social_website/content/rikinsign2.jpg'/>
                                    <p class="copy">
                                        Rikin Gandhi <br/>
                                        CEO, Digital Green
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Field Developments</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects img-size-lg">
                            <img class="imgDim" src="{{STATIC_URL}}social_website/content/scalabilityimg2.jpg" alt="" />
                        </div>
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Browse these links to know our on Field Developments</h3>
                            
                            <ul class="link-list">
                                <li><a href="{% url annualreport09fields %}#partnership">Partnership</a></li>
                                <li><a href="{% url annualreport09fields %}#sop">Standard Operating Procedure</a></li>
                                <li><a href="{% url annualreport09fields %}#moneval">Monitoring and Evaluation</a></li>
                                <li><a href="{% url annualreport09fields %}#villagecerti">Village Certification</a></li>
                            </ul>                       
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Progress</h2>
                    <div class="media layout-vr-xlg">
                        <div class='grid-col grid-size2of4'>
                            <div>
                                <p class="copy copy-para">Digital Green transitioned from a learning and planning phase to a scaling-up execution phase. This involved a transformation of our role as an organization that would jointly execute activities in the field with our partners to that of a technology development and support provider to existing agricultural extension systems. Our operations expanded from a small-scale research pilot in one state and with one partner to operations that extended to four states in India, including Karnataka, Orissa, Jharkhand and Madhya Pradesh, with seven partners.
                                </p>
                                
                                <p class="copy copy-para">
                                    The learning and planning phase provided opportunities for our team to assess the contexts in which we operate and to bootstrap the integration of the Digital Green system with our partners - from identifying packages best agronomic practices to ultimately improving the livelihoods of smallholder farmers on a sustained basis. To this end, Digital Green's partnerships were competitively selected and formally defined to build upon established foundations of domain expertise, scale of operations, and community-level rapport to accelerate the scaling-up of the system.
                                </p>
                                
                                <p class="copy copy-para">
                                    We focused on initiating project activities with our partners, developed institutional backstopping measures to support these partnerships, and refined and standardized the Digital Green system based on the experience of working with a variety of partners and communities. We worked closely with partners to ensure that the system was grounded with strong linkages at the village-level, like with Self Help Groups, at the block level, like with agro dealers, and at district- and national-levels, like with government officials and schemes, that would provide sustain the interest and the livelihoods of smallholder farmers throughout the year. To support these interventions, we built a novel monitoring and evaluation system to track and analyze progress across the distributed rural areas in which we operate.     
                                </p>
                                
                                <p class="copy copy-para">
                                    The Digital Green team was formed in May 2009 and, by September 2009, project activities had been initiated with four partners. The initial planning phase involved the development of detailed execution strategies; definitions of roles and responsibilities for Digital Green, our partners, and community members; implementation timelines and deliverables; framework for best practices and quality standards; and linkages with key institutions at village-, block-, district-, and nation-levels. Together, this blueprint provided the structure to accelerate the scaling-up of the Digital Green system. 
                                </p>
                                
                                <p class="copy copy-para">
                                    Digital Green's team of trainers worked closely with its partners and community groups to enable them to integrate and execute the components of the Digital Green system within the framework of their existing extension systems. Most partners began with limited to no experience in using information and communication technologies in their operations, so our team conducted numerous training programs, workshops to share best of practices and tools, and direct support in the field. Over 165 workshops were organized on a variety of subjects with a diverse set of stakeholders across our operational areas. 
                                </p>
                                
                                <p class="copy copy-para">
                                    The agricultural practices and technologies that are exchanged across the Digital Green network vary based on the local needs and interests of the communities that our partners are working with, but we work together using the data that we capture to focus on those practices provide long-term socioeconomic gains to farmers that adopt them for themselves. For each practice, checklists are used by select members of the community and our partner staff to verify the adoptions of practices by farmers in the field. For example, for a video on chemical treatment of tomato seedlings in a nursery bed (see: YouTube video), an adoption of that practice might considered if the dimensions of the nursery bed are maintained, a drainage system is used, and the chemical is applied in the correct quantity and manner.
                                </p>
                            </div>
                        </div>
                        <div class='grid-col grid-size2of4'>
                            <div class='grid-pad-lt media'>
                                <div class="imgExt img-marginLg-lt img-effects img-size-lg copy-para">
                                    <img src='{{STATIC_URL}}social_website/content/projectprogressimg2.jpg' alt="" />
                                </div>
                                <p class="copy copy-para">
                                    We defined a standard operating procedures and internal control system to assure quality throughout our interventions and instituted a robust monitoring and evaluation system to track and analyze progress on a daily basis as well as to capture learnings and best practices for further replication. Through the Agricultural Technology Adoption Initiative (ATAI), researchers from the University of California, Berkeley and Yale University initiated consultations and field visits in preparations for a large-scale, randomized controlled trial evaluation of the Digital Green system in comparison to the traditional extension approaches practiced by our partners. 
                                </p>
                                
                                <p class="copy copy-para">
                                    To manage the volume and variety of activities, Digital Green evolved from its startup beginnings to a maturing organization with enabling systems and practices in program operations, talent development, financial management and administration. With its senior management and systems engineering team based in New Delhi, Digital Green also established three regional offices in Bhubaneswar, Orissa; Bhopal, Madhya Pradesh; and Bangalore, Karnataka to develop and support partnerships in those geographies.
                                </p>
                                
                                <p class="copy copy-para">
                                    Thus far, the project has produced over 700 videos, operationalized over 400 villages, screened over 8,000 videos and reached over 26,000 farmers. Over 300 of these videos are available on our website on a Creative Commons license: Digital Green Videos. Some of the most popular videos include azolla cultivation and feeding, maize seed treatment, soil testing, girdle beetle pest management, cattle vaccination, system of rice intensification, and soyabean seed germination test.  Please refer to our Analytics dashboards for the latest statistics on videos produced and screening conducted.  Digital Green's systems engineering team has developed a robust management information system that tracks these aggregate indicators as well as more detailed qualitative and quantitative metrics in geographic-, time-, and partner-based dimensions.
                                </p>
                                
                                <p class="copy">
                                    To manage our operations in areas with limited to no Internet connectivity, our team developed an open-source data management framework, called COCO (Connect Online, Connect offline). This platform enables us, our partners, and anyone in the world to analyze our progress and to target our interventions in near real-time using the dashboards in our Analytics suite:<a href='http://analytics.digitalgreen.org'>http://analytics.digitalgreen.org</a>.  We have also introduced an interactive voice response (IVR) system to complement our existing efforts to capture and analyze feedback to progressively better address the needs and interests of the community in a timely manner.
                                </p>
                            </div>
                        </div>      
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id='learnings' class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Learnings</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects img-size-lg">
                            <img src='{{STATIC_URL}}social_website/content/lessonlearnedimg1.jpg' alt="" />
                        </div>
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Browse these links to know what we learnt in the last year</h3>
                            
                            <ul class="link-list">
                                <li><a href="{% url annualreport09learnings %}#orgdev">Organizational Development</a></li>
                                <li><a href="{% url annualreport09learnings %}#partnership">Partnership</a></li>
                                <li><a href="{% url annualreport09learnings %}#qualityassurance">Quality Assurance</a></li>
                                <li><a href="{% url annualreport09learnings %}#sustainability">Sustainability</a></li>
                                <li><a href="{% url annualreport09learnings %}#technology">Technology</a></li>
                                <li><a href="{% url annualreport09learnings %}#feedback">Feedback Mechanism</a></li>
                            </ul>                       
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Financials</h2>
                    <div class="media layout-vr-xlg">
                        <div class="bd">
                            <div class="imgExt img-marginLg-lt img-effects img-size-lg copy-para">
                                <img src='{{STATIC_URL}}social_website/content/financials09.jpg' alt="" />
                            </div>
                            <div class='bd'>
                                <p class="copy">Digital Green's chartered accountants and auditors have developed a financial management system that defines how we maintain and administer our accounts within and between the countries in which Digital Green operates. We generally are on target with fund utilization. 
                                </p>        
                            </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
{% include "includes/footer.html" %}