{% include "includes/header.html" %}
               
        <section id="usboard" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">BOARD MEMBERS - DIGITAL GREEN FOUNDATION</h2>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size2of4">
                            <div class="grid-col grid-size1of3">
                                <img class="grid-pad-lt-tiny" src="{{STATIC_URL}}social_website/content/board/kentaro.jpg" alt="Kentaro Toyama" title="Kentaro Toyama" height="150" width="140"/>
                                <div class="grid-pad-lt-tiny">Kentaro Toyama</div>
                                <div class="hdg-d hdg-source-bold grid-pad-lt-tiny"><a>CHAIR</a></div>
                            </div>
                            <div class="grid-col grid-size2of3">
                                <div class="grid-pad-lt-sm grid-pad-rt-md">
                                Kentaro is W. K. Kellogg Associate Professor at the University of Michigan School of Information, a fellow of the Dalai Lama Center for Ethics and Transformative Values at MIT, and author of Geek Heresy: Rescuing Social Change from the Cult of Technology.
                                Until 2009, Kentaro was assistant managing director of Microsoft Research India, which he co-founded in 2005. At MSR India, he started the Technology for Emerging Markets research group, which conducts interdisciplinary research to understand how the world's poorest communities interact with electronic technology and to invent new ways for technology to support their socio-economic development. It was there that Digital Green started as a research project.
                                Prior to his time in India, Kentaro did computer vision and multimedia research and taught mathematics at Ashesi University in Accra, Ghana. He graduated from Yale with a PhD in Computer Science and from Harvard with a bachelor’s degree in Physics.
                                </div>
                            </div>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <div class="grid-col grid-size1of3">
                                <img class="grid-pad-lt-tiny" src="{{STATIC_URL}}social_website/content/board/eric.jpg" alt="Eric Walker" title="Eric Walker" height="150" width="140"/>
                                <div class="grid-pad-lt-tiny">Eric Walker</div>
                                <div class="hdg-d hdg-source-bold grid-pad-lt-tiny"><a>TREASURER</a></div>
                            </div>
                            <div class="grid-col grid-size2of3">
                                <div class="grid-pad-lt-sm grid-pad-rt-md">
                                    Eric has more than 30 years of experience in leadership, financial and operations management, institutional capacity building and systems development in international nonprofit organizations. He has served on executive teams of multiple international NGOs working across the international development sector, including his long-term role as finance and operations leader of the global health NGO, PATH. Eric continues as a senior advisor to PATH’s CEO.
                                    In 1980, he co-founded InsideNGO, a global operations membership association where he continues to serve as a senior advisor. As part of it, he has led training sessions around the world on USAID rules and regulations, indirect costs, organizational effectiveness measurement, and field operations. 
                                    Eric serves on advisory panels for Charity Navigator and the Charity Defense Council; serves on multiple NGO boards. He also co-teaches “Global Health Project Life Cycle - Managing for Success”—a graduate level course in the School of Global Health, at the University of Washington. 
                                    Eric earned his master’s degree from Georgetown University in 1978.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size1of4">
                            <ul class="link-list">
                                <img src="{{STATIC_URL}}social_website/content/board/melissa.jpg" alt="Melissa Ho" title="Melissa Ho" height="150" width="140"/>
                                <img src="{{STATIC_URL}}social_website/content/board/srikant.jpg" alt="Srikant Vasan" title="Srikant Vasan" height="150" width="140"/>
                                <img src="{{STATIC_URL}}social_website/content/board/rajesh.jpg" alt="Rajesh Veeraraghavan" title="Rajesh Veeraraghavan" height="150" width="140"/>
                                <img src="{{STATIC_URL}}social_website/content/board/soumen.jpeg" alt="Soumen Biswas" title="Soumen Biswas" height="150" width="140"/>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="indiaboard" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">BOARD MEMBERS - DIGITAL GREEN TRUST</h2>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size2of4">
                            <div class="grid-col grid-size1of3">
                                <img class="grid-pad-lt-tiny" src="{{STATIC_URL}}social_website/content/board/tejesh.jpg" alt="Tejesh Shah" title="Tejesh Shah" height="150" width="140"/>
                                <div class="grid-pad-lt-tiny">Tejesh Shah</div>
                                <div class="hdg-d hdg-source-bold grid-pad-lt-tiny"><a>CHAIR</a></div>
                            </div>
                            <div class="grid-col grid-size2of3">
                                <div class="grid-pad-lt-sm grid-pad-rt-md">
                                    His Bio. Blah blah!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size1of4">
                            <ul class="link-list">
                                <img src="{{STATIC_URL}}social_website/content/board/aishwarya.jpg" alt="Aishwarya Ratan" title="Aishwarya Ratan" height="150" width="140"/>
                                <img src="{{STATIC_URL}}social_website/content/board/gnsreddy.png" alt="GNS Reddy" title="GNS Reddy" height="150" width="140"/>
                                <img src="{{STATIC_URL}}social_website/content/board/indrani.jpg" alt="Indrani" title="Indrani" height="150" width="140"/>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
               
{% include "includes/footer.html" %}
