{% include "includes/header.html" %}
               
        <section id="usboard" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Board Members - Digital Green Foundation</h2>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/kentaro.jpg" alt="Kentaro Toyama" title="Kentaro Toyama" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Kentaro Toyama</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Kentaro is W. K. Kellogg Associate Professor at the University of Michigan School of Information, a fellow of the Dalai Lama Center for Ethics and Transformative Values at MIT, and author of Geek Heresy: Rescuing Social Change from the Cult of Technology.
                            <br>
                            Until 2009, Kentaro was assistant managing director of Microsoft Research India, which he co-founded in 2005. At MSR India, he started the Technology for Emerging Markets research group, which conducts interdisciplinary research to understand how the world's poorest communities interact with electronic technology and to invent new ways for technology to support their socio-economic development. It was there that Digital Green started as a research project.
                            <br>
                            Prior to his time in India, Kentaro did computer vision and multimedia research and taught mathematics at Ashesi University in Accra, Ghana. He graduated from Yale with a PhD in Computer Science and from Harvard with a bachelor’s degree in Physics.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/melissa.jpg" alt="Melissa Ho" title="Melissa Ho" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Melissa Ho</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Having over 20 years of experience in agricultural development, policy, and research in the United States, sub-Saharan Africa, South and South East Asia, and Latin America, Melissa currently serves as Technical Division Director & Senior Policy Advisor with the Bureau of Food Security of USAID. Prior to this she has served as a Program Officer in the Agricultural Development Program at the Bill & Melinda Gates Foundation as well as with U.S. Congress in varying roles, including as a Specialist in Agricultural Policy for the Congressional Research Service and as the Agriculture Policy Advisor to then Senator Hillary Rodham Clinton. 
                            <br>
                            Melissa currently leads a team of technical experts in the Bureau for Food Security at the USAID, who cover cross-cutting issues related to global food security. 
                            Melissa has a B.Sc in Environmental Systems from Cornell University, an M.Sc. in Soil Science from the University of California, Davis, and a Ph.D. in Plant Physiology from the Pennsylvania State University. She received a Rotary Fellowship, allowing her to work at an international agricultural research center in East Africa. Melissa has received grant funding from the U.S. National Science Foundation, USAID, and the U.S. Department of Defense. She has taught numerous undergraduate and graduate courses and authored over a dozen peer-reviewed articles, reports and technical papers.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/srikant.jpg" alt="Srikant Vasan" title="Srikant Vasan" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Srikant Vasan</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Srikant is the founder and CEO of SkillStore, which builds people skills for professional success with a quick, easy-to-use and effective mobile platform. Earlier, he was the founder and President of Portmont College at Mount St. Mary’s, a non-profit college that helps low income Americans gain quality college degrees more affordably. Srikant was the first Entrepreneur-in-Residence and a Senior Program Officer at the Bill & Melinda Gates Foundation. Prior to Gates, Srikant was the co-founder & CEO of StorePerform Technologies (the leading provider of retail performance management software), co-founder and CEO of KBkids (a leading e-commerce company), a founding team member and director of business development of MediaOne (which was sold to AT&T for $62 billion), and a consultant at McKinsey & Co.
                            <br>
                            Srikant is an advisor to Grameen Technology Center and a member of the Strategic Planning Task Force of the Denver Museum of Nature & Science. He has an MBA from the Wharton School and a BS (Electrical Engineering) from the Indian Institute of Technology, Delhi.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                    </div>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/rajesh.jpg" alt="Rajesh Veeraraghavan" title="Rajesh Veeraraghavan" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Rajesh Veeraraghavan</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Rajesh is currently a Fellow at the Berkman Center for Internet and Society at Harvard University and also a Research Fellow at the Transparency and Accountability Initiative at the Open Society Foundation. 
                            <br>
                            Having previously worked with Microsoft Research India to design and deploy technology to complement efforts that help amplify intent of the groups that are working to alleviate poverty, Rajesh has also worked as a software developer at Microsoft for several years and been an active volunteer with the Association for India's Development.
                            Rajesh has a Masters degree in Computer Science from Clemson University and Economics from Cleveland State University; and Bachelor's degrees in Economics and Management from Birla Institute of Technology & Science, Pilani, India.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/soumen.jpg" alt="Soumen Biswas" title="Soumen Biswas" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Soumen Biswas</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Soumen is currently a consultant with the Ministry of Rural Development, Government of India. He is a former Executive Director of Professional Assistance for Development Action (PRADAN) and has nearly 28 years of experience in the development sector.  
                            <br>
                            While in PRADAN, Soumen worked in various capacities to promote livelihoods for indigenous communities and also involved in its institution building processes. He has advised various state governments and Government of India on issues related to civil society organizations, poverty alleviation and rural development.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="indiaboard" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Board Members - Digital Green Trust</h2>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size2of4">
                            <div class="grid-col grid-size1of3">
                                <img class="grid-pad-lt-tiny" src="{{STATIC_URL}}social_website/content/board/tejesh.jpg" alt="Tejesh Shah" title="Tejesh Shah" height="150" width="130"/>
                            </div>
                            <div class="grid-col grid-size2of3">
                                <div class="hdg-source-semibold hdg-e grid-pad-rt-md layout-vr-sm">Tejesh Shah</div>
                                <p class="grid-pad-rt-md layout-vr-tiny js-intro line-clamp board-line-clamp">
                                    Tejesh Shah has diverse interests that range from real estate to organic farming.  In 2005, Tejesh started a biodiesel venture in India which led him to discover the potential for sustainable agricultural development.  Tejesh is one of Digital Green's earliest champions. He has a bachelor's degree in chemistry from Carnegie Mellon University.
                                </p>
                                <a href="#" class="grid-pad-rt-md js-show-more hdg-green">Show More</a>
                            </div>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <div class="grid-col grid-size1of3">
                                <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/gns.jpg" alt="GNS Reddy" title="GNS Reddy" height="150" width="130"/>
                            </div>
                            <div class="grid-col grid-size2of3">
                                <div class="hdg-source-semibold hdg-e grid-pad-rt-md layout-vr-sm">GNS Reddy</div>
                                <p class="grid-pad-rt-md layout-vr-tiny js-intro line-clamp board-line-clamp">
                                    Dr. Reddy is Managing Director for Akshayakalpa Farms and Foods Pvt Ltd, an automated dairy farm specializing in organic milk production. Dr. Reddy is also currently in-charge of BAIF Programmes in Andhra Pradesh and Karnataka where he holds additional responsibility of an Executive Vice Chairman. He has completed his Bachelor of Veterinary Science from Bangalore Veterinary College with Advanced Training in Large Herd Management and Oestrous Synchronization from Institut national de la recherche agronomique (INRA), France.
                                    <br>
                                    Dr. Reddy was honoured with best Veterinarian award instituted by the Karnataka Veterinary Association in 1998, DesaSnehi Award from India Development Foundation in 2008 and has also received Indira Gandhi Paryavaran Puraskar from the Government of India on behalf of BAIF Institute for Rural Development-Karnataka.
                                </p>
                                <a href="#" class="grid-pad-rt-md js-show-more hdg-green">Show More</a>
                            </div>
                        </div>
                    </div>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size2of4">
                            <div class="grid-col grid-size1of3">
                                <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/indrani.jpg" alt="Indrani" title="Indrani Medhi Thies" height="150" width="130"/>
                            </div>
                            <div class="grid-col grid-size2of3">
                                <div class="hdg-source-semibold hdg-e grid-pad-rt-md layout-vr-sm">Indrani Medhi Thies</div>
                                <p class="grid-pad-rt-md layout-vr-tiny js-intro line-clamp board-line-clamp">
                                    An Architect, Researcher and Innovator, Indrani is currently researching the area of User Experience Design, in the Technology for Emerging Markets Group at Microsoft Research India in Bangalore. Indrani’s work focuses on designing text-free interfaces that could help non-literate and semi-literate people and new technology users find jobs, get medical information and use cell-phone-based banking services.
                                    <br>
                                    Indrani studied Architecture from VNIT Nagpur, and acquired a Master’s degree in Design from Institute of Design, Illinois Institute of Technology (IIT-ID), Chicago, USA. She is currently pursuing a Ph.D. at the Industrial Design Centre, Indian Institute of Technology, (IIT Bombay), India.
                                    <br>
                                    In 2010, Indrani was listed in the MIT Technology Review’s ‘World’s Top 35 innovators under the age 35′ and also featured in the list of 50 Smartest People in Technology by Fortune magazine and received the ‘Young Indian Leader’ award from CNN-IBN, the same year.
                                </p>
                                <a href="#" class="grid-pad-rt-md js-show-more hdg-green">Show More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
               
{% include "includes/footer.html" %}
