{% include "includes/header.html" %}
        
        
        <section id="main" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">US board</h2>
                    <div class="grid layout-vr-lg">
                        <div class="grid-col grid-size2of5">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Our board comprises of:</h3>
                            <ul class="link-list">
                            <li><a href="#Melissa Ho">Melissa Ho</a></li>
                            <li><a href="#Srikant Vasan">Srikant Vasan</a></li>
                            <li><a href="#Eric Walker">Eric Walker</a></li>
                            <li><a href="#Kentaro Toyama">Kentaro Toyama</a></li>
                            <li><a href="#Rajesh Veeraraghavan">Rajesh Veeraraghavan</a></li>
                            <li><a href="#Soumen Biswas">Soumen Biswas</a></li>
                            </ul>
                        </div>
                        <div class="grid-col grid-size3of5">
                            <ul class="h-list layout-vr-sm">
                                <li class="img-effects img-board">
                                    <a href="#Melissa Ho"><img src="/media/Output/Images/board/melissa.jpg" alt="" title="Melissa Ho"/></a>
                                </li>
                                <li class="img-effects img-board">
                                    <a href="#Srikant Vasan"><img src="/media/Output/Images/board/srikant.jpg" alt="" title="Srikant Vasan"/></a>
                                </li>
                                <li class="img-effects img-board">
                                    <a href="#Eric Walker"><img src="/media/Output/Images/board/eric.jpg" alt="" title="Eric Walker"/></a>
                                </li>
                            </ul>
                            <ul class="h-list layout-vr-lg">
                                <li class="img-effects img-board">
                                    <a href="#Kentaro Toyama"><img src="/media/Output/Images/board/kentaro.jpg" alt="" title="Kentaro Toyama"/></a>
                                </li>
                                <li class="img-effects img-board">
                                    <a href="#Rajesh Veeraraghavan"><img src="/media/Output/Images/board/rajesh.jpg" alt="" title="Rajesh Veeraraghavan"/></a>
                                </li>
                                <li class="img-effects img-board">
                                    <a href="#Soumen Biswas"><img src="/media/Output/Images/board/soumen.jpg" alt="" title="Soumen Biswas"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">India Board</h2>
                    <div class="grid layout-vr-lg">
                        <div class="grid-col grid-size3of5">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Our board comprises of:</h3>
                            <ul class="link-list">
                            <li><a href="#Aishwarya Ratan">Aishwarya Ratan</a></li>
                            <li><a href="#GNS Reddy">G.N.S Reddy</a></li>
                            <li><a href="#Indrani Medhi">Indrani Medhi</a></li>
                            <li><a href="#Tejesh Shah">Tejesh Shah</a></li>
                            </ul>
                        </div>
                        <div class="grid-col grid-size2of5">
                            <ul class="h-list layout-vr-sm">
                                <li class="img-effects img-board">
                                    <a href="#Aishwarya Ratan"><img src="/media/Output/Images/board/aishwarya.jpg" alt="" title="Aishwarya Ratan"/></a>
                                </li>
                                <li class="img-effects img-board">
                                    <a href="#GNS Reddy"><img src="/media/Output/Images/board/gnsreddy.jpg" alt="" title="GNS Reddy"/></a>
                                </li>
                            </ul>
                            <ul class="h-list layout-vr-lg">
                                <li class="img-effects img-board">
                                    <a href="#Indrani Medhi"><img src="/media/Output/Images/board/indrani.jpg" alt="" title="Indrani"/></a>
                                </li>
                                <li class="img-effects img-board">
                                    <a href="#Tejesh Shah"><img src="/media/Output/Images/board/tejesh.jpg" alt="" title="Tejesh Shah"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id='Melissa Ho' class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">Melissa Ho</h2>
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
                            <p class="copy copy-para"></p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='Srikant Vasan' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Srikant Vasan</h2>
                    <div class="media layout-vr-xlg">
                        
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
                            <p class="copy copy-para"></p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
                
        <section id='Eric Walker' class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Eric Walker</h2>
                    <div class="media layout-vr-xlg">
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='Kentaro Toyama' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Kentaro Toyama</h2>
                    <div class="media layout-vr-xlg">
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='Rajesh Veeraraghavan' class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Rajesh Veeraraghavan</h2>
                    <div class="media layout-vr-xlg">
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='Soumen Biswas' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Soumen Biswas</h2>
                    <div class="media layout-vr-xlg">
                        <div class="bd">
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='Aishwarya Ratan' class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Aishwarya Ratan</h2>
                    <div class="media layout-vr-xlg">
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='GNS Reddy' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">G.N.S Reddy</h2>
                    <div class="media layout-vr-xlg">
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='Indrani Medhi' class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Indrani Medhi</h2>
                    <div class="media layout-vr-xlg">
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='Tejesh Shah' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Tejesh Shah</h2>
                    <div class="media layout-vr-xlg">
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm"></h3>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
               
{% include "includes/footer.html" %}
