{% include "includes/header.html" %}
{% autoescape off %}
        <section id="career" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Join Us</h2>
                    <div class="grid layout-vr-xlg"> 
                        <div class='grid-col grid-size2of4 copy layout-vr-sm'>
                            <p class='copy-para grid-pad-rt-sm'>Digital Green is an international non-profit development organization that builds and deploys information and communication technologies to amplify the effectiveness of development efforts for sustained social change, globally. Our approach combines technology and social organization to improve the cost-effectiveness and broaden community participation in existing best practices. We partner with public and private organizations across domains such as agriculture, livelihood, health and nutrition.
                            </p>
                            <p class='copy-para grid-pad-rt-sm'>We are headquartered in New Delhi, India with regional offices in Andhra Pradesh, Bihar, Jharkhand, Karnataka, Madhya Pradesh and Odisha. We have a country office in Addis Ababa, Ethiopia.
                            </p>
                            <p class='copy-para grid-pad-rt-sm'>We are looking for highly qualified and passionate individuals to be part of our movement to ensure communities worldwide live with dignity. We offer a dynamic and enabling work environment and competitive compensation, based on experience and qualifications, comparable to leading national level development sector organizations. If you would like to be part of the Digital Green family, email your application with a cover note and resume to <a href="mailto:jobs@digitalgreen.org">jobs@digitalgreen.org</a>. If you are student, you can also apply for an internship position.
                            </p>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <div class="grid-pad-lt-sm layout-vr-md">
                                <iframe width="450" height="300" src="https://www.youtube.com/embed/EzLOCulWXjk">
                                </iframe>
                            </div>
                            <div class="grid-pad-lt-sm layout-vr-sm">
                                <ul class="link-list">
                                    <li><a href="/resources/" target="_blank">Learn more about our work</a></li>
                                    <li><a href="/team/">Get to know our team</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Current Openings</h2>
                    {% regroup job_list by geography.name as jobs %}
                    {% for location_jobs in jobs %}
                    <a href="#{{location_jobs.grouper}}" class="hdg-f hdg-bold layout-vr-sm">{{location_jobs.grouper}}</a>
                    <ul class='link-list grid-pad-lt-sm layout-vr-md'>
                        {% for job in location_jobs.list %}
                            <li><a href="#{{job.title|slugify}}">{{job.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </section>
        
{% for job in job_list %}
    {% ifchanged job.geography %}        
        <section id='{{job.geography.name}}' class="{% cycle 'about-bg about-bg-white' 'about-bg' as section_background %}">
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">{{ job.geography.name }}</h2>
                        <div class='layout-vr-xlg'>
                            <p class='copy copy-para'>
                                {{ job.geography.description }}
                            </p>
                        </div>
                    </div>
                </div> 
        </section>
    {% endifchanged %}

        <section id='{{job.title|slugify}}' class="{% cycle section_background %}">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">{{job.title}}</h2>
                    <div class='layout-vr-xlg'>
                        <p class='copy copy-para'>{{job.description}}
                        </p>
                        {% if job.keyresponsibility_set.all or job.key_res_content %}
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Key Responsibilities</h3>
                            {% if job.key_res_content %}
                            <div class="class='bullet-list copy copy-para" style="padding-left:35px;">{{ job.key_res_content }}</div>
                            {% endif %}
                            
                            <ul class='bullet-list copy copy-para'>
                                {% for keyres in job.keyresponsibility_set.all %}
                                    <li>{{keyres}}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if job.experiencequalification_set.all %}
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Qualification and Skills</h3>
                            <ul class='bullet-list copy copy-para'>
                                {% for exp in job.experiencequalification_set.all %}
                                    <li>{{exp}}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <p class='copy'>{{job.conclusion}}
                        </p>
                    </div>
                </div>
            </div>
        </section>

{% endfor %}

{% endautoescape %}
{% include "includes/footer.html" %}

