{% include "includes/header.html" %}
{% autoescape off %}
        <section id="career" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Join Us</h2>
                    <div class="grid layout-vr-xlg">
                        <div class='grid-col grid-size1of3'>
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Current Openings</h3>
                            {% regroup job_list by geography as jobs %}
                            
                            {% for location_jobs in jobs %}
                            <a href="#{{ location_jobs.grouper }}" class="hdg-f hdg-bold">{{location_jobs.grouper }}</a>
                            <ul class='link-list'>
                                {% for job in location_jobs.list %}
                                    <li><a href="#{{job.title}}">{{job.title}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </div>  
                        <div class='grid-col grid-size2of3 copy'>
                            <p class='copy-para'>We are looking for highly qualified and passionate individuals to be part of our movement to ensure communities worldwide live with dignity.
                            </p>
                            <p class='copy-para'>We offer a dynamic and enabling work environment and competitive compensation, based on experience and qualifications, comparable to leading national level development sector organizations. 
                            </p>
                            <p>If you would like to be part of the Digital Green family, submit your application with a cover note, current CV and at least three references to jobs@digitalgreen.org. If you are student, you can also apply for an internship position.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        {% for location_jobs in jobs %}
        <section id='{{location_jobs}}' class="{% cycle 'about-bg' 'about-bg about-bg-white' %}">
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">{{ geographies.(location_jobs.grouper) }}</h2>
                        <div class='layout-vr-xlg'>
                            <p class='copy copy-para'>
                                {{location_jobs.geography_description}}
                            </p>
                        </div>
                    </div>
                </div> 
        </section>
        {% endfor%}
        
        {% for job in job_list %}
            <section id='{{job.title}}' class="{% cycle 'about-bg' 'about-bg about-bg-white' %}">
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">{{job.title}}</h2>
                        <div class='layout-vr-xlg'>
                            <p class='copy copy-para'>{{job.description}}
                            </p>
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Key Responsibilities</h3>
                            <ul class='bullet-list copy copy-para'>
                                {% for keyres in job.keyresponsibility_set.all %}
                                    <li>{{keyres}}
                                    </li>
                                {% endfor %}
                            </ul>
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Qualification and Skills</h3>
                            <ul class='bullet-list copy copy-para'>
                                {% for exp in job.experiencequalification_set.all %}
                                    <li>{{exp}}
                                    </li>
                                {% endfor %}
                            </ul>
                            <p class='copy'>{{job.conclusion}}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
{% endautoescape %}
{% include "includes/footer.html" %}

