{% include "includes/header.html" %}

			<div class="grid layout-vr-lg">
				<h1 class="hdg-a hdg-source-lt layout-vr-md" style="text-align:center;">COCO FAQ
				<hr></h1>
				<div class="grid-col grid-size1of4">
					<ul>
						<li> DASHBOARD</li>
						<ul>
							<li style="padding-left:10px"> templates </li>
						</ul>
					</ul>
				</div>
				<div class="grid-col grid-size3of4 img-effects">
					<img src="http://placehold.it/220x155" alt="" />
				</div>
			</div>


{% include "includes/footer.html" %}