<!DOCTYPE HTML>
<!-- manifest="/media/coco/coco-offline.appcache" -->
<html xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>COCO FAQ</title>
    <link rel="stylesheet" href="/media/coco/app/scripts/libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet"  href="/media/coco/app/styles/css/coco.css">
    
    <link rel="stylesheet"  href="/media/coco/app/styles/css/faq.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/media/coco/app/scripts/libs/jquery.min.js"></script>
    <script src="/media/coco/app/scripts/libs/bootstrap/js/bootstrap.min.js"></script>
</head>
<body  data-spy="scroll" data-target=".faq-sidebar">
    <div class="container">
        <div class="row global-header">
            <h1 class="coco-brand" style="text-align:center;"><a href="/coco">COCO</a></h1>
        </div>
        <div class="row">
            <!-- <nav class="navbar navbar-default col-sm-3 faq-sidebar" role="navigation" data-spy="affix" data-offset-top="57">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-for-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>  
                </div>
                <div class="row">
                    <div class="">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#c1">COCO Setup</a></li>
                            <li><a href="#c2">Syncing</a></li>
                            <li><a href="#c3">Database</a></li>
                            <li><a href="#c4">Offline and Online Modes</a></li>
                            <li><a href="#c5">Login</a></li>
                            <li><a href="#data">Data Entry, Listing and Modification</a></li>
                            <li><a href="#troubleshoot">Troubleshooting</a></li>
                        </ul>
                    </div>
                </div>
            </nav> -->

            <nav class="navbar navbar-default faq-sidebar col-sm-3" data-spy="affix">
                <div class="row">
                    <div class="col-xs-6 col-sm-12" >
                        <a class="navbar-header faq-navbar" href="#" >
                             <div id="coco_faq">
                                <a href="/coco/" id="heading">COCO FAQ </a>
                            </div>
                        </a>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-for-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>      
                </div>
                <div class="row">
                    <div class"collapse navbar-collapse" id="nav-for-toggle">
                        <ul class="nav nav-stacked">
                           <li><a href="#entity_name"> entity_name</a></li>
                                <li><a href="#rest_api_url"> rest_api_url</a></li>
                                <li><a href="#dashboard_display"> dashboard_display</a></li>
                                <li><a href="#page_header"> page_header</a></li>
                                <li><a href="#list_elements"> list_elements</a></li>
                                <li><a href="#sort_field"> sort_field</a></li>
                                <li><a href="#add_template_name"> add_template_name</a></li>
                                <li><a href="#edit_template_name"> edit_template_name</a></li>
                                <li><a href="#form_field_validation"> form_field_validation</a></li>
                                <li><a href="#unique_together_fields"> unique_together_fields</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-sm-8 col-sm-push-4">
                <div id="setup"></div><h2 class="topic">WELCOME TO COCO.js</h2>

                    <ul class="faq-wrap">
                        <li><h3><a name="browsers"></a>3 steps to COCO.js</h3></li>
                        <ol>
                            <li>Copy main.js, config.js and dashboard.html from the COCO repository into your code.</li>
                            <li>Design your forms and put them in dashboard.html. Freely use Bootstrap, mustache/handlebars, chosen, underscore and your own JavaScript to include complex functionality.</li>
                            <li>Configure your application in configs.js using this documentation.</li>
                            <li>Create a REST API, and some COCO specific APIs over your database on your server.</li>
                            </ol><h2>

                    </ul>

                    <ul class="faq-wrap">
                        <li><h3><a name="browsers"></a> Write Your Configs.js file</h3></li>
                        <ol>

<p>We configure an entity through configs.js for forms that need to be populated through COCO. To configure an entity:</p>

<pre><code>var person_configs = {
    'entity_name': 'person',
    'rest_api_url': '/coco/api/v1/person/',
    'page_header': 'Person',
    'add_template_name': 'person_add_edit_template',
    'edit_template_name': 'person_add_edit_template',
    'form_field_validation': {
    // jQuery validation for form inputs
        rules: {
                name: {
                        required: true,
                        }
                },
     },
};
</code></pre>

<p>The following is the description of the above attributes:</p>

<table>
<thead><tr>
<th>Attribute Name</th>
<th>Type</th>
<th>Description</th>
</tr></thead>
<tbody>
<tr>
<td>entity_name</td>
<td>String</td>
<td>Name of the object in indexed DB. It is used for accessing this object.</td>
</tr>
<tr>
<td>rest_api_url</td>
<td>String</td>
<td>The REST URL for this entity</td>
</tr>
<tr>
<td>page_header</td>
<td>String</td>
<td>The name that needs to shown in headers (on dashboard as well as list view)</td>
</tr>
<tr>
<td>dashboard_display</td>
<td>Object</td>
<td>Configures how this shows up on the COCO dashboard</td>
</tr>
<tr>
<td>dashboard_display.list</td>
<td>Boolean</td>
<td>Determines whether the list page is to be enabled or not.</td>
</tr>
<tr>
<td>dashboard_display.add</td>
<td>Boolean</td>
<td>Determines whether add and edit is allowed or not.</td>
</tr>
<tr>
<td>dashboard_display.enable_months</td>
<td>Array of numbers</td>
<td>Index of months for which add should be enabled. (Starts from 1)</td>
</tr>
<tr>
<td>add_template_name</td>
<td>String: Id of HTML template</td>
<td>The id of template in dashboard.html used to add data.</td>
</tr>
<tr>
<td>edit_template_name</td>
<td>String: Id of HTML template</td>
<td>The id of template in dashboard.html used to edit data.</td>
</tr>
<tr>
<td>form_field_validation</td>
<td>Object</td>
<td>Validation check on the form.</td>
</tr>
<tr>
<td>unique_together_field</td>
<td>List of strings</td>
<td>This combination of values is checked for uniqueness within the table. It is similar to the unique_together attribute in Django models.</td>
</tr>
<tr>
<td>foreign_entities</td>
<td>Object</td>
<td>Configuration of the foreign elements used by this entity.</td>
</tr>
<tr>
<td>sort_field</td>
<td>String</td>
<td>When this is a foreign entity, the name of the field in the json object stored in the database on which the data is sorted.</td>
</tr>
</tbody>
</table><p>To define foreign entities to be references within this entity, add the following object:</p>
<pre><code>foreign_entities : {
    foreign_entity_name:{ 
        attribute_name_in _json:{
        }
    }
}
</code></pre>

<p>Here foreign_entity_name is the entity_name of the foreign element and attribute_name_in_json is the attribute name of this foreign element in json. The attribut_name_in_json has the following attributes:</p>

<table>
<thead><tr>
<th>Attribute Name</th>
<th>Type</th>
<th>Description</th>
</tr></thead>
<tbody>
<tr>
<td>placeholder</td>
<td>String</td>
<td>The id of the element in form's html (in dashboard.html) where the dropdown of this foreign entity is inserted.</td>
</tr>
<tr>
<td>name_field</td>
<td>String</td>
<td>the attribute name in f_entity's json which needs to be shown in its dropdown</td>
</tr>
<tr>
<td>dependency</td>
<td>list</td>
<td>The choices available in this foreign key are included if the value of an attribute is the same as the value selected earlier in the form.</td>
</tr>
<tr>
<td>filter</td>
<td>dictionary</td>
<td>whether to filter the objects of foreign entity before rendering into dropdown</td>
</tr>
<tr>
<td>id_field</td>
<td>String</td>
<td>The name of id field for this foreign entity in denormalised json</td>
</tr>
</tbody>
</table><p>dependency attribute of foreign field have following attributes. Syntax:
<pre><code>    'dependency': [{
        'source_form_element': 'village',
        'dep_attr': 'village'
        'src_attr' : 'village'
    }],
</code></pre>
</p>

<table>
<thead><tr>
<th>Attribute Name</th>
<th>Type</th>
<th>Description</th>
</tr></thead>
<tbody>
<tr>
<td>source_form_element</td>
<td>String</td>
<td>attribute name of source element in json</td>
</tr>
<tr>
<td>dep_attr</td>
<td>String</td>
<td>the attribute name in json of dependent foreign entity which refers to source foreign entity</td>
</tr>
<tr>
<td>src_attr</td>
<td>String</td>
<td>to compare dep_attr of dependent element with a particular attribute in source foreign entity</td>
</tr>
</tbody>
</table><p>filter attribute of foreign field have following attributes. Syntax:</p>

<p>'filter': {</p>

<pre><code>    'filter': {
        attr: 'group', //the attribute name in f_entity's json to filter on
        value: null //desired value of the attr
    },      
</code></pre>

<table>
<thead><tr>
<th>Attribute Name</th>
<th>Type</th>
<th>Description</th>
</tr></thead>
<tbody>
<tr>
<td>attr</td>
<td>String</td>
<td>the attribute name in f_entity's json to filter on</td>
</tr>
<tr>
<td>value</td>
<td>String</td>
<td>desired value of the attr</td>
</tr>
</tbody>
</table><p>If separate foreign entities are needed for add and edit view, then those foreign entities can be put inside add : {} or edit : {}</p>

<p>There can be cases where we need an inline form or a bulk form.</p>

<h3>
Special forms: Inline forms</h3>

<p>If we want to include some other entity's form inline inside our current entity's form, then we use inline attribute of the entity.</p>

<p>Syntax:</p>

<pre><code>'inline': {
    'entity': 'person',
    'default_num_rows': 10,
    "template": "person_inline",
    "joining_attribute": {
        'host_attribute': ["id", "group_name"],
        'inline_attribute': "group"
    },
    "header": "person_inline_header",
    'borrow_attributes': [{
        'host_attribute': 'village',
        'inline_attribute': 'village'
    }],
    foreign_entities: { //used at convert_namespace, denormalize
        only village: {
            village: {
                placeholder: 'id_village', name_field: 'village_name'
            },
        },
        group: {
            group: {
                placeholder: 'id_group', name_field: 'group_name'
            }
        }
    }
},
</code></pre>
<table>
<thead><tr>
<th>Attribute Name</th>
<th>Type</th>
<th>Description</th>
</tr></thead>
<tbody>
<tr>
<td>entity</td>
<td>String</td>
<td>the name of the entity which needs to be inserted into current entity.</td>
</tr>
<tr>
<td>default_num_rows</td>
<td>number</td>
<td>number of rows to be shown by default to the user.</td>
</tr>
<tr>
<td>template</td>
<td>HTML</td>
<td>The  id  of  the  template  used  inside template   dashboard.html for this form.</td>
</tr>
<tr>
<td>joining_attribute</td>
<td>dictionary</td>
<td>It denotes the attribute that joins the inline entity with the main entity.</td>
</tr>
<tr>
<td>header</td>
<td>HTML Template</td>
<td></td>
</tr>
<tr>
<td>borrow_attributes</td>
<td>dictionary</td>
<td>It denotes the attribute that the inline form's entity needs to borrow from the main entity.</td>
</tr>
</tbody>
</table><p>The borrow_attributes and joining_attribute has two attributes:<br>
1. host_attribute - The list of single attribute from the host entity. <br>
2. inline_attribute - The attribute corresponding to host_attribute for inline entity. </p>
<h3>Special forms - bulk forms</h3>

<p>Bulk forms are used when multiple objects of the entity can be saved through its add form. Bulk form is usually written inside add: {}
All the fields which are required inside the bulk form are added inside the braces of 'bulk':{}</p>

<p>Syntax:</p>

<pre><code>'add' : {
    'bulk': {
        foreign_fields: { //foreign fields in the individual objects 
            "video": {
                video: {
                    'name_field': 'title'
                }
            },
            "person": {
                person: {
                    'name_field': 'person_name'
                }
            },
            village: {
                village:{
                    'name_field': 'village_name'
                }
            },
            group: {
                group:{
                    'name_field': 'group_name'
                }
            }
        },
        borrow_fields: ['village', 'group']
    }
},
</code></pre>

<p>If the fields in bulk form are dependent on values of fields in form, then we use borrow_fields attribute.</p>

<h3>Validations:</h3>

<p>Validations can be done inside each entity using same syntax as that of jquery validation.</p>
 </ol><h2>
</ul>

 <ul class="faq-wrap">
    
<h2>How to setup COCO with a server:</h2>
<ol>
<li>Design your database models</li>
<li>Setup a REST api</li>
<li>Write the views required by COCO on the server-side.</li>
<li>Ensure that the dashboard.html file is rendered when the url is accessed. </li>
<li>Ensure that the path of main.js file (in coco/dist directory) and path of configs.js are specified correctly in dashboard.html file. </li>
</ol><p>COCO communicates with the server using the following urls:</p>

<ol class="task-list">
<li> <strong>/coco/login/ :</strong> COCO sends 'username' and 'password' parameters using POST to the URL /coco/login/ and it expects "1" as a response in case the authentication is successful otherwise it expects "0". </li>
<li> <strong>/coco/logout/ :</strong> COCO sends a POST request to the URL /coco/logout/ and on success, it logs out the user. </li>
<li> <strong>/api/api_name/ :</strong> In order to communicate with the database using RESTful service, the url for the REST API needs to be specified in the configs.js file in the parameter 'rest_api_url'. Its not compulsory to use /api/ URL, but it is recommended. </li>
<li> <strong>/coco/reset_database_check/ :</strong> This URL can be changed in configs file. COCO sends a get request to this url with a parameter 'lastdownloadtimestamp'. The server sends "1" as a response if it wants the client to download the database again. </li>
<li> <strong>/coco/record_full_download_time/ :</strong> The URL can be changed in configs file. COCO sends a post request to this URL with start_time and end_time as the parameters. These parameters are useful for recording total database download time. </li>
<li> <strong>/get_log/ :</strong> User can change this URL in configs.misc.inc_download_url. COCO sends a get request to this URL along with last_download_timestamp as a parameter. The server should send the data having timestamp later than the timestamp received from the client. </li>
</ol><h2>
                        </ol><h2>

                    </ul>
                </div> 
            </div>   
        </div>

    </div>

</body>
</html>