{% include "includes/header.html" %}

			<div class="grid layout-vr-lg">
				<h1 class="hdg-a hdg-source-lt layout-vr-md" style="text-align:center;">COCO FAQ
				<hr></h1>
				<div class="grid-col grid-size1of4">
					<ul>
						<li> DASHBOARD</li>
						<ul>
							<li style="padding-left:10px"> templates </li>
						</ul>
						<li> CONFIGS</li>
						<ul>
							<li style="padding-left:10px"><a href="#c1"> configs docs</a></li>
						</ul>
					</ul>
				</div>
				<div class="grid-col grid-size3of4">
					<div id="configs">
						<div id = "entitiy_name">
							<h2> entity_name </h2>
							<div> TYPE : String</div> 
							<div> Description : Name of the object in indexed DB. It is used for accessing this object.</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "rest_api_url">
							<h2> rest_api_url </h2>
							<div> TYPE : Sting </div> 
							<div> Description : The REST url for this entity</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "dashboard_display">
							<h2> dashboard_display </h2>
							<div> TYPE : Dictionary </div> 
							<div> Description : Determine if list view and add view of this entity is required or not. By default everything in dictionary is true.</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "page_header">
							<h2> page_header </h2>
							<div> TYPE : String </div> 
							<div> Description : The name that needs to shown in headers (on dashboard as well as list view)</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "list_elements">
							<h2> list_elements </h2>
							<div> TYPE : List </div> 
							<div> Description : The name and values that needs to shown in list views.</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "sort_field">
							<h2> sort_field </h2>
							<div> TYPE : String </div> 
							<div> Description : The default field for sorting data when this entity is used as a foreign key in some other entity's form</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "add_template_name">
							<h2> add_template_name </h2>
							<div> TYPE : HTML Template </div> 
							<div> Description : The id of template in dashboard.html used to add data.</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "edit_template_name">
							<h2> edit_template_name </h2>
							<div> TYPE : HTML Template </div> 
							<div> Description : The id of template in dashboard.html used to edit data.</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "form_field_validation">
							<h2> form_field_validation </h2>
							<div> TYPE : dictionary </div> 
							<div> Description : Validation check on form</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "unique_together_fields">
							<h2> unique_together_fields </h2>
							<div> TYPE : List of Strings </div> 
							<div> Description : The name of the attributes whose combination should be unique. This thing is checked when user clicks on submit in a form.</div>
							<div> Example: </div>
							<hr>
						</div>

					</div>
				</div>
			</div>


{% include "includes/footer.html" %}