{% include "includes/header.html" %}

			<div class="grid layout-vr-lg">
				<h1 class="hdg-a hdg-source-lt layout-vr-md" style="text-align:center;">COCO FAQ
				<hr></h1>
				<div class="grid-col grid-size1of4">
					<ul>
						<li> DASHBOARD</li>
						<ul>
							<li style="padding-left:10px"> templates </li>
						</ul>
						<li> CONFIGS</li>
						<ul>
							<li style="padding-left:10px"><a href="#c1"> configs docs</a></li>
						</ul>
					</ul>
				</div>
				<div class="grid-col grid-size3of4">
					<div id="configs">
						<div id = "entitiy_name">
							<h2> entity_name </h2>
							<div> TYPE : String</div> 
							<div> Description : Name of the object in indexed DB. It is used for accessing this object.</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "rest_api_url">
							<h2> rest_api_url </h2>
							<div> TYPE : Sting </div> 
							<div> Description : The REST url for this entity</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "dashboard_display">
							<h2> dashboard_display </h2>
							<div> TYPE : Dictionary </div> 
							<div> Description : Determine if list view and add view of this entity is required or not. By default everything in dictionary is true.</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "page_header">
							<h2> page_header </h2>
							<div> TYPE : String </div> 
							<div> Description : The name that needs to shown in headers (on dashboard as well as list view)</div>
							<div> Example: </div>
							<hr>
						</div>
						<div id = "s">
							<h2> page_header </h2>
							<div> TYPE : String </div> 
							<div> Description : The name that needs to shown in headers (on dashboard as well as list view)</div>
							<div> Example: </div>
							<hr>
						</div>
					</div>
				</div>
			</div>


{% include "includes/footer.html" %}