
{% include "internal-tools/header_community_video.html" %}
    {% include "includes/partials/search.html" %}
    
    <!-- Main page content -->
    <div class="connectorModal">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter you email to get data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Email:</label>
                    <input type="gmail" class="form-control" id="recipient-name">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="getConnector()"  type="button" class="btn btn-primary">Get Data</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <section id="main" role="main" class="wrapper">
        <div class="inner-wrapper js-collections-wrapper" data-searchstring="{{searchString}}" data-country={{country}} data-partner="{{partner}}" data-title="{{title}}" data-state="{{state}}" data-language="{{language}}" data-category="{{category}}" data-subcategory="{{subcategory}}" data-topic="{{topic}}" data-subject="{{subject}}" data-order="{{order}}">
            <header class="clearfix layout-vr-lg">
                <div class="grid-col">
                    <h1 class="hdg-a hdg-source-lt"></h1>
                </div>
                <div class="grid-rt">
                    {% include "includes/partials/mostFilters.html" %}
                </div>
            </header> <!-- End .grid -->
            <div class="clearfix">

                <!-- Filter bar -->
                {% include "includes/partials/filterBar.html" %}
                
                <div class="grid-col grid-size3of4">
                    <div class="layout-vr-md borderBottom">
                        <ul class="results-info h-list h-list-sm js-filter-breadcrumbs">
                            
                            <!-- Dynamic filter breadcrumbs content here -->

                        </ul>
                    </div>
                    <div class="grid" >
                        <div class="grid-lt">
                            <span class="loading-indicator-video js-loading-indicator">Loading...</span>
                        </div>
                        <div class="grid-rt js-pagination">

                            <!-- Dynamic Pagination Here -->

                        </div>
                    </div>
                    <ul class="blocks blocks-3-up clearfix js-collections-container">
                        
                        <!-- Dynamic Collections Content Here -->

                    </ul>
                     <div class="grid layout-vr-lg">
                        <div class="grid-rt js-pagination">

                            <!-- Dynamic Pagination Here -->

                        </div>
                    </div>
                </div> <!-- End .grid-size3of4 -->
            </div>
        </div> <!-- End .inner-wrapper -->
    </section> <!-- End .wrapper -->

{% include "internal-tools/footer_community_video.html" %}