{% include "includes/header.html" %}
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Our Partners - India</h2>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'PRADAN' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/pradan.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'BRLPS' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/jeevika.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'SERP' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/serp.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'ICRISAT' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/icrisat.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'ASA' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/asa.png" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'ACCESS' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/access.png" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'DPIP' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/dpip.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'PRAGATI' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/pragati.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'VARRAT' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/varrat.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'BAIF' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/baif.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'SPRING' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/spring.png" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'PATH' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/path.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'SPS' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/sps.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'RMNT' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/rmnt.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'PANI-JJ' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/pani.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'PANI' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/pani.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'PCI' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/pci.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'Department of Agriculture, Government of Odisha' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/doa-odisha.png" alt="" />
                            </a>
                        </li>
                    </ul>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Our Partners - Africa</h2>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'WCF' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/wcf.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'OA-SAA' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/oxfam.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'OA-SAA' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/saa.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'IDE' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/ide.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url 'partner' 'AGRA' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/agra.png" alt="" />
                            </a>
                        </li>
                    </ul>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Research and Technology Partners</h2>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="http://www.africarice.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/africarice.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.ifpri.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/ifpri.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="https://sites.google.com/site/csisaportal/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/csisa.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.iicd.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/iicd.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://berkeley.edu/index.html" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/ucb.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <img src="{{STATIC_URL}}social_website/content/partners/mkisan.png" alt=""/>
                        </li>
                        <li class="img-effects ">
                            <a href="http://wiki.agroknow.gr/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/agro_know.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.d-rev.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/d-rev.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.greenconserve.com/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/green.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://awaaz.de/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/awaz_de.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="http://research.microsoft.com/en-us/labs/india/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/msr.png" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://dsh.cs.washington.edu/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/digital.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.ompt.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/ompt.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://google.com/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/google.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Investors</h2>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-xxxlg key">
                        <li class="img-effects ">
                            <a href="http://www.gatesfoundation.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/bmgf.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="https://www.gov.uk/government/organisations/department-for-international-development" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/dfid.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://rural.nic.in/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/mrd.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-xxxlg key">
                        <li class="img-effects ">
                            <a href="http://www.fordfoundation.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/ford.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.vodafone-foundation.in/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/vodafone.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.deshpandefoundation.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/deshpande.png" alt="" />
                            </a>
                        </li>
                    </ul>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
{% include "includes/footer.html" %}
