{% include "includes/header.html" %}
        
        <section class="about-bg">
        	<div class="wrapper">
        		<div class="inner-wrapper media">
        			<h2 class="hdg-a hdg-source-lt layout-vr-md">Our Partners - India</h2>
        			<ul class="h-list layout-vr-lg img-size-logo h-list-sm">
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/PRADAN.jpg" alt=""/>
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/jeevika.jpg" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/SERP.jpg" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/ICRISAT.jpg" alt="" />
        				</li>
						<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/ASA.png" alt="" />
        				</li>
        			</ul>
					<ul class="h-list layout-vr-lg img-size-logo h-list-sm">
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/ACCESS.png" alt=""/>
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/DPIP.png" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/PRAGATI.png" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/VARRAT.jpg" alt="" />
        				</li>
						<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/BAIF.jpg" alt="" />
        				</li>
        			</ul>
					<ul class="h-list layout-vr-lg img-size-logo h-list-sm">
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/SPRING.png" alt=""/>
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/PATH.png" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/SERP.jpg" alt="" />
        				</li>
        			</ul>
        		</div> <!-- End .inner-wrapper -->
        	</div> <!-- End .wrapper -->
        </section>
		
		<section class="about-bg about-bg-white">
        	<div class="wrapper">
        		<div class="inner-wrapper media">
        			<h2 class="hdg-a hdg-source-lt layout-vr-md">Our Partners - Africa</h2>
        			<ul class="h-list layout-vr-lg img-size-logo h-list-xxlg">
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/WCF.jpg" alt=""/>
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/OXFAM.jpg" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/SAA.png" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/IDE.jpg" alt="" />
        				</li>
        			</ul>
        		</div> <!-- End .inner-wrapper -->
        	</div> <!-- End .wrapper -->
        </section>
		
		<section class="about-bg">
        	<div class="wrapper">
        		<div class="inner-wrapper media">
        			<h2 class="hdg-a hdg-source-lt layout-vr-md">Research and Technology Partners</h2>
        			<ul class="h-list layout-vr-lg img-size-logo h-list-sm">
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/AfricaRice.jpg" alt=""/>
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/IFPRI.jpg" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/CSISA.jpg" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/IICD.jpg" alt="" />
        				</li>
						<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/AGRA.png" alt="" />
        				</li>
        			</ul>
					<ul class="h-list layout-vr-lg img-size-logo h-list-sm">
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/Mkisan.png" alt=""/>
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/AGRO_KNOW.png" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/D-REV.png" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/GREEN.png" alt="" />
        				</li>
						<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/AWAZ_DE.jpg" alt="" />
        				</li>
        			</ul>
					<ul class="h-list layout-vr-lg img-size-logo h-list-sm">
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/MSR.png" alt=""/>
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/DIGITAL.png" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/UCB.jpg" alt="" />
        				</li>
        			</ul>
        		</div> <!-- End .inner-wrapper -->
        	</div> <!-- End .wrapper -->
        </section>
		
		<section class="about-bg about-bg-white">
        	<div class="wrapper">
        		<div class="inner-wrapper media">
        			<h2 class="hdg-a hdg-source-lt layout-vr-md">Investors</h2>
        			<ul class="h-list layout-vr-lg img-size-logo h-list-xxxlg key">
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/BMGF.jpg" alt=""/>
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/DFID.jpg" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/MRD.jpg" alt="" />
        				</li>
        			</ul>
					<ul class="h-list layout-vr-lg img-size-logo h-list-xxxlg key">
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/FORD.jpg" alt=""/>
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/VODAFONE.jpg" alt="" />
        				</li>
        				<li class="img-effects ">
        					<img src="{{STATIC_URL}}social_website/content/partners/deshpande.png" alt="" />
        				</li>
        			</ul>
        		</div> <!-- End .inner-wrapper -->
        	</div> <!-- End .wrapper -->
        </section>
        
{% include "includes/footer.html" %}
