{% include "includes/header.html" %}
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Our Partners - India</h2>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="{% url partner 'PRADAN' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/PRADAN.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <img src="{{STATIC_URL}}social_website/content/partners/jeevika.jpg" alt="" />
                        </li>
                        <li class="img-effects ">
                            <a href="{% url partner 'SERP' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/SERP.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <img src="{{STATIC_URL}}social_website/content/partners/ICRISAT.jpg" alt="" />
                        </li>
                        <li class="img-effects ">
                            <a href="{% url partner 'ASA' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/ASA.png" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="{% url partner 'ACCESS' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/ACCESS.png" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url partner 'DPIP' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/DPIP.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url partner 'DPIP' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/PRAGATI.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url partner 'VARRAT' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/VARRAT.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url partner 'BAIF' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/BAIF.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <img src="{{STATIC_URL}}social_website/content/partners/SPRING.png" alt=""/>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url partner 'PATH' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/PATH.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="{% url partner 'SPS' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/SPS.png" alt="" />
                            </a>
                        </li>
                    </ul>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Our Partners - Africa</h2>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-xxlg">
                        <li class="img-effects ">
                            <a href="{% url partner 'WCF' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/WCF.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                                <img src="{{STATIC_URL}}social_website/content/partners/OXFAM.jpg" alt="" />
                        </li>
                        <li class="img-effects ">
                                <img src="{{STATIC_URL}}social_website/content/partners/SAA.png" alt="" />
                        </li>
                        <li class="img-effects ">
                            <a href="{% url partner 'IDE' %}">
                                <img src="{{STATIC_URL}}social_website/content/partners/IDE.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Research and Technology Partners</h2>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="http://www.africarice.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/AfricaRice.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.ifpri.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/IFPRI.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="https://sites.google.com/site/csisaportal/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/CSISA.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.iicd.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/IICD.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.agra.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/AGRA.png" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <img src="{{STATIC_URL}}social_website/content/partners/Mkisan.png" alt=""/>
                        </li>
                        <li class="img-effects ">
                            <a href="http://wiki.agroknow.gr/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/AGRO_KNOW.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.d-rev.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/D-REV.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.greenconserve.com/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/GREEN.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://awaaz.de/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/AWAZ_DE.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-sm">
                        <li class="img-effects ">
                            <a href="http://research.microsoft.com/en-us/labs/india/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/MSR.png" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://dsh.cs.washington.edu/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/DIGITAL.png" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://berkeley.edu/index.html" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/UCB.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Investors</h2>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-xxxlg key">
                        <li class="img-effects ">
                            <a href="http://www.gatesfoundation.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/BMGF.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="https://www.gov.uk/government/organisations/department-for-international-development" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/DFID.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://rural.nic.in/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/MRD.jpg" alt="" />
                            </a>
                        </li>
                    </ul>
                    <ul class="h-list layout-vr-lg img-size-logo h-list-xxxlg key">
                        <li class="img-effects ">
                            <a href="http://www.fordfoundation.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/FORD.jpg" alt=""/>
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.vodafone-foundation.in/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/VODAFONE.jpg" alt="" />
                            </a>
                        </li>
                        <li class="img-effects ">
                            <a href="http://www.deshpandefoundation.org/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/partners/deshpande.png" alt="" />
                            </a>
                        </li>
                    </ul>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
{% include "includes/footer.html" %}
