{% include "includes/header.html" %}
    
        <section id="contact" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Contact Us</h2>
                    <div class="media layout-vr-xlg">
                        <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Do connect with us!</h3>
                        <div class='bd copy'>
                            <p class="copy-para">You can help us identify and set up collaborations with partners. You can help set up the Digital Green system in other places. You can help contribute content. You can help with other technical aspects of Digital work (such as setting up a community radio extension of Digital Green, or developing software, or working on novel electricity-generation solutions).
                            </p>
                            <p class="copy-para">You can experiment with applying the similar Digital Green approach to other areas of work (such as education, health care, and political activism). You can contribute money. You can help connect us with funders. You can help spread awareness of Digital Green by word of mouth.
                            </p>
                            <p class="copy">To get in touch, email us at <a href='mailto:contact@digitalgreen.org'>contact@digitalgreen.org</a>.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="offices" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Our Offices</h2>
                    <ul class="grid layout-vr-md">
                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">Digital Green Foundation (San Francisco)</h3>
                                <p class="hdg-f hdg-source-reg">600 California St, 13th Floor,</p>
                                <p class="hdg-f hdg-source-reg">San Francisco,</p>
                                <p class="hdg-f hdg-source-reg">CA 94109</p>
                                <p class="hdg-f hdg-source-reg">United States of America</p>
                            </div> 
                        </li>
                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">Digital Green Foundation (Berkeley)</h3>
                                <p class="hdg-f hdg-source-reg">2342 Shattuck Ave., #151</p>
                                <p class="hdg-f hdg-source-reg">Berkeley</p>
                                <p class="hdg-f hdg-source-reg">CA 94704</p>
                                <p class="hdg-f hdg-source-reg">United States of America</p>
                            </div> 
                        </li>
                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">Digital Green Trust (Bangalore)</h3>
                                <p class="hdg-f hdg-source-reg">Flat No. T4, 4th Floor</p>
                                <p class="hdg-f hdg-source-reg">#33 Race Course Road</p>
                                <p class="hdg-f hdg-source-reg">Swiss Complex</p>
                                <p class="hdg-f hdg-source-reg">Bangalore - 560001</p>
                                <p class="hdg-f hdg-source-reg">Karnataka, India</p>
                                <p class="hdg-f hdg-source-reg">+91 80 41527080</p>
                            </div> 
                        </li>
                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">Head Office (Delhi)</h3>
                                <p class="hdg-f hdg-source-reg">S-26 to 28, 3rd Floor,</p>
                                <p class="hdg-f hdg-source-reg">Green Park Extension Market,</p>
                                <p class="hdg-f hdg-source-reg">New Delhi - 110016</p>
                                <p class="hdg-f hdg-source-reg">India</p>
                                <p class="hdg-f hdg-source-reg">+91 11 41881037</p>
                            </div> 
                        </li>
                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">Washington DC, USA</h3>
                                <p class="hdg-f hdg-source-reg">641 S St. NW, 3rd Floor</p>
                                <p class="hdg-f hdg-source-reg">Washington</p>
                                <p class="hdg-f hdg-source-reg">DC 20001</p>
                                <p class="hdg-f hdg-source-reg">United States of America</p>
                            </div> 
                        </li>
                    </ul>

                    <ul class="grid layout-vr-md">
                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">Ethiopia</h3>
                                <p class="hdg-f hdg-source-reg">Waryt Building</p>
                                <p class="hdg-f hdg-source-reg">Subcity - Yeka</p>
                                <p class="hdg-f hdg-source-reg">Wereda - 07</p>
                                <p class="hdg-f hdg-source-reg">House No: 934/01</p>
                                <p class="hdg-f hdg-source-reg">Haile G/Silassie Avenue,</p>
                                <p class="hdg-f hdg-source-reg">Addis Ababa, Ethiopia</p>
                                <p class="hdg-f hdg-source-reg">+251 116 672960</p>                                 
                            </div>
                        </li>
                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black">Andhra Pradesh</h3>
                                 <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">& Telangana</h3>
                                <p class="hdg-f hdg-source-reg">House No. 8-2-672\1\C\A\1</p>
                                <p class="hdg-f hdg-source-reg">135 Ave 2, Road No 13</p>
                                <p class="hdg-f hdg-source-reg">Banjara Hills</p>
                                <p class="hdg-f hdg-source-reg">Hyderabad - 500034</p>
                                <p class="hdg-f hdg-source-reg">Andhra Pradesh, India</p>
                                <p class="hdg-f hdg-source-reg">+91 40 66664958</p>
                            </div> 
                        </li>
                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">Bihar</h3>
                                <p class="hdg-f hdg-source-reg">46, 2nd floor</p>
                                <p class="hdg-f hdg-source-reg">A.N. Path</p>
                                <p class="hdg-f hdg-source-reg">North Sri Krishna Puri</p>
                                <p class="hdg-f hdg-source-reg">Boring Road</p>
                                <p class="hdg-f hdg-source-reg">Patna - 800013</p>
                                <p class="hdg-f hdg-source-reg">Bihar, India</p>
                                <p class="hdg-f hdg-source-reg">+91 612 2571950</p>
                            </div>
                        </li>
                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">Odisha</h3>
                                <p class="hdg-f hdg-source-reg">Plot No - N3/18</p>
                                <p class="hdg-f hdg-source-reg">Ranjita Appartment</p>
                                <p class="hdg-f hdg-source-reg">Flat No-401</p>
                                <p class="hdg-f hdg-source-reg">IRC Village</p>
                                <p class="hdg-f hdg-source-reg">Bhubaneswar - 751015</p>
                                <p class="hdg-f hdg-source-reg">Odisha, India</p>
                                <p class="hdg-f hdg-source-reg">+91 674 6009800</p>
                            </div> 
                        </li>

                        <li>
                            <div class="grid-col grid-size1of5">
                                <h3 class="hdg-source-semibold hdg-e hdg-black layout-vr-sm">Jharkhand</h3>
                                <p class="hdg-f hdg-source-reg">268/c, 1st floor,</p>
                                <p class="hdg-f hdg-source-reg">Road no: 1/B, Ashok Nagar,</p>
                                <p class="hdg-f hdg-source-reg">Argoda, Ranchi - 834002</p>
                                <p class="hdg-f hdg-source-reg">Jharkhand, India</p>
                                <p class="hdg-f hdg-source-reg">+91 651 2245817</p>
                            </div> 
                        </li>
                    </ul>  
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}
