{% include "includes/header.html" %}
    
    
        <section id="contact" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Contact Us</h2>
                    <div class="media layout-vr-xlg">
                       <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/connect.jpg" alt="" />
                        </div> 
                        <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Do connect with us!</h3>
                        <div class='bd copy'>
                            <p class="copy-para">You can help us identify and set up collaborations with partners. You can help set up the Digital Green system in other places. You can help contribute content. You can help with other technical aspects of Digital work (such as setting up a community radio extension of Digital Green, or developing software, or working on novel electricity-generation solutions).
                            </p>
                            <p class="copy-para">You can experiment with applying the similar Digital Green approach to other areas of work (such as education, health care, and political activism). You can contribute money. You can help connect us with funders. You can help spread awareness of Digital Green by word of mouth.
                            </p>
                            <p class="copy">To get in touch, email us at <a href='mailto:contact@digitalgreen.org'>contact@digitalgreen.org</a>.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="offices" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Our Offices</h2>
                    <ul class="grid layout-vr-md">
                        <li>
                            <div class="grid-col grid-size1of4">
                                <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Head Office</h3>
                                <p class="copy">D6 and E6, Clarion Collection</p>
                                <p class="copy">Shaheed Jeet Singh Marg</p>
                                <p class="copy">New Delhi 110016</p>
                                <p class="copy">India</p>
                                <p class="copy">+91 11 41881037</p>
                                <p class="copy">+91 11 41881038</p>
                            </div> 
                        </li>
                        <li >
                            <div class="grid-col grid-size1of4">
                                <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">US Address</h3>
                                <p class="copy">2342 Shattuck Ave., #151</p>
                                <p class="copy">Berkeley</p>
                                <p class="copy">CA 94704</p>
                                <p class="copy">USA </p>
                            </div> 
                        </li>
                        <li >
                            <div class="grid-col grid-size1of4">
                                <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">India Address</h3>
                                <p class="copy">Flat No. T4, 4th Floor</p>
                                <p class="copy">#33 Race Course Road</p>
                                <p class="copy">Swiss Complex</p>
                                <p class="copy">Bangalore 560001</p>
                                <p class="copy">Karnataka</p>
                                <p class="copy">India</p>
                                <p class="copy">+91 80 41527080</p>
                            </div> 
                        </li>
                    </ul>
                    
                    <ul class="grid layout-vr-md">
                        <li >
                            <div class="grid-col grid-size1of4">
                                <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Madhya Pradesh</h3>
                                <p class="copy">TH-27, Akash Ganga</p>
                                <p class="copy">E-8, Arera Colony</p>
                                <p class="copy">Bhopal 462039</p>
                                <p class="copy">Madhya Pradesh</p>
                                <p class="copy">India</p>
                                <p class="copy">+91 755 4078142</p>
                            </div> 
                        </li>
                        <li >
                            <div class="grid-col grid-size1of4">
                                <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Bihar </h3>
                                <p class="copy">2nd floor, 46, A.N. Path</p>
                                <p class="copy">North Sri Krishna Puri</p>
                                <p class="copy">Boring road</p>
                                <p class="copy">Patna 800013</p>
                                <p class="copy">Bihar</p>
                                <p class="copy">India</p>
                                <p class="copy">+91 612 2571950</p>
                            </div>
                        </li>
                        <li >
                            <div class="grid-col grid-size1of4">
                                <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Odisha</h3>
                                <p class="copy">Plot No- N3/18</p>
                                <p class="copy">Ranjita Appartment</p>
                                <p class="copy">Flat No-401</p>
                                <p class="copy">IRC Village</p>
                                <p class="copy">Bhubaneswar 751015</p>
                                <p class="copy">Odisha</p>
                                <p class="copy">India</p>
                                <p class="copy">+91 674 6009800</p>
                            </div> 
                        </li>
                        <li>
                            <div class="grid-col grid-size1of4">
                                <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Andhra Pradesh</h3>
                                <p class="copy">House No. 8-2-672\1\C\A\1</p>
                                <p class="copy">135 Ave 2, Road No 13</p>
                                <p class="copy">(Next to Taj Banjara Staff Entrance)</p>
                                <p class="copy">Banjara Hills</p>
                                <p class="copy">Hyderabad 500034</p>
                                <p class="copy">Andhra Pradesh</p>
                                <p class="copy">India</p>
                                <p class="copy">+91 40 66664958</p>
                            </div> 
                        </li>
                    </ul>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}
