{% include "includes/header.html" %}
 
<section id="main" role="main" class="wrapper">
    <div class="inner-wrapper">
        <div class="js-analytics-outer-wrapper">
            <div class="featured layout-vr-xlg layoutclass">
                <div class="layout-vr-lg" style="clear: both">
                <div class="my-select js-custom-select leftrelative">
                    <label class="copy hdg-bold layout-vr-tiny hdg-green">PARTNER</label>
                        <select id = "partnerlist" class="chosen-select js-partnerlist">
                            <option value=''>---------</option>
                            {% for pa in partner%} 
                            <option value = "{{pa.id}}">{{pa.partner_name}}</option>
                            {% endfor %}
                        </select>
                </div>

                <div class="my-select js-custom-select leftrelative">
                    <label class="copy hdg-bold layout-vr-tiny hdg-green">DISTRICT</label>
                    <div class="js-district-container"></div>
                </div>
            
                <div class="my-select js-custom-select leftrelative">
                    <label class="copy hdg-bold layout-vr-tiny hdg-green">USERNAME</label>
                    <div class="js-deo-container"></div>
                </div>
                            
                <div class="fright">
                    <input type="submit" value="GO" class="btn js-go-btn"/>
                </div>  
                <ul class="filterOptions hdg-upper copy clearfix js-most-filters fright listpadding">
                    <li><a href="#" class="js-daily-tab" id="daily"><span><span class="icon"></span>Daily</span></a></li>
                    <li><a href="#" class="js-weekly-tab active" id="weekly"><span><span class="icon"></span>Weekly</span></a></li>
                    <li><a href="#" class="js-monthly-tab" id="monthly"><span><span class="icon"></span>Monthly</span></a></li>
                </ul>
                </div>
         
                <div id="maindiv">
                    <ul id="deobox" class="filterOptions hdg-upper copy clearfix js-deo-tab-container hidden listpadding">
                    </ul>
                        
                    <div id="thegrid" class="grid hidden">
                        <div class="outer-center">
                            <div class="inner-center hdg-e">                
                                <img class="fleft makecursor js-prev-pointer" src="{{STATIC_URL}}assets/images/carousel-arrow-lt.png">
                                    <div class="fleft" id="dateshow"></div>
                                <img class="fleft makecursor js-next-pointer" src="{{STATIC_URL}}assets/images/carousel-arrow-rt.png">                                                     
                            </div>
                        </div>
                
                        <div class="gridleft">
                            <div id="databox" class="boxdesign">                    
                                <p class="hdg-f hdg-black">No. of screenings</p>
                                <p class="bigfontsize" id="screenings"></p>
                                <br>
                                <p class="hdg-f hdg-black">No. of adoptions</p>
                                <p class="bigfontsize" id="adoptions"></p>
                                <br>
                                <p class="hdg-f hdg-black">No. of persons</p>
                                <p class="bigfontsize" id="persons"></p>
                                <br>
                                <p class="hdg-f hdg-black">Average screening lag</p>
                                <p class="bigfontsize" id="s-lag"></p>
                                <br>
                                <p class="hdg-f hdg-black">Average adoption lag</p>
                                <p class="bigfontsize" id="a-lag"></p>                      
                            </div>
                        </div>

                        <div class="gridright"> 
                            <div id="chartcontainer"></div>
                        </div>              
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>   
 
 {% include "includes/footer.html" %}