{% include "includes/header.html" %}
        
        <section class="about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">DLEC</h2>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DigitalGreen_USAIDFeedtheFutureDLECSummaryandConsortium.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/fof.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLECIntroduction.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/dlec_into.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}
