{% include "includes/header.html" %}
        
        <section class="about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">DLEC</h2>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLEC Factsheet-general-population.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/project_summary.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm" style="text-align: center">
                                    <a>DLEC Factsheet</a>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLECIntroduction.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/dlec_into.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm" style="text-align: center">
                                    <a>Introduction to DLEC</a>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLEC-Nigeria-In-Depth-Assessment-Extension-Final.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/nigeria.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm" style="text-align: center">
                                    <a>Nigeria: DLEC Assessment</a>
                                </div>
                            </div>
                            
                        </div>

                        
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLEC-Honduras-In-Depth-Assessment-Final.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/h-english.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm" style="text-align: center">
                                    <a>Honduras: DLEC assessment (English)</a>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLEC-Honduras-In-Depth-Assessment-Final Español.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/h-spanish.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm" style="text-align: center">
                                    <a>Honduras: DLEC assessment (Spanish)</a>
                                </div>
                            </div>

                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/Bangladesh Launch Document.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/bangladesh.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm" style="text-align: center">
                                    <a>Launching Loop in Bangladesh</a>
                                </div>
                            </div>

                        
                            
                        
                            
                        </div>

                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLEC-Bangladesh-Desk-Study-Extension-Final.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/lat.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm" style="text-align: center">
                                    <a>Bangladesh: DLEC Desk Study</a>
                                </div>
                            </div>

                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLEC-Malawi_Desk Study_final.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/malawai.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm" style="text-align: center">
                                    <a>Malawi: DLEC Desk Study </a>
                                </div>
                            </div>

                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLEC-Liberia_Desk-Study_final.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/liberia.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm" style="text-align: center">
                                    <a>Liberia: DLEC Desk Study </a>
                                </div>
                            </div>
                        </div>

                        


                    </div>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}
