{% include "includes/header.html" %}
{% load app_tags %}
        <section id="logos" class="about-bg">
            <div class="inner-wrapper">
                <div class="grid">
                    
                    <div class="grid-col grid-size1of4" style="margin-bottom: 0px;height: 150px;">
                        <a href="https://www.usaid.gov/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/USAID_logo.png" alt="USAID_logo.png" style="width: 150px;" />
                            </div>
                        </a>
                    </div>
                    
                    <div class="grid-col grid-size1of4" style="margin-bottom: 0px;height: 150px;">
                        <a href="{% url 'home' %}" target="_blank">
                            <div class="img-usaid-right" style="margin-top: 36px;">
                                <img src="{{STATIC_URL}}social_website/content/usaid/dg.png" alt="dg.png" style="width: 210px; height: 35px;margin-top: 10px;" />
                            </div>
                        </a>
                    </div>

                    <div class="grid-col grid-size1of4" style="margin-bottom: 0px;height: 150px;">
                        <a href="http://www.care.org/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/Care_logo.png" alt="Care_logo" style="width: 80px;height: 80px;margin-top: 22px;margin-left: 100px;"/>
                            </div>
                        </a>
                    </div>
                    <div class="grid-col grid-size1of4" style="margin-bottom: 0px;height: 150px;">
                        <a href="https://www.ifpri.org/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/IFPRI.png" alt="IFPRI_logo.pmg" style="width: 140px; height: 90px;margin-top: 15px;margin-left: 65px;"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="digitalintegration" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <img src="{{STATIC_URL}}social_website/content/usaid/FTF_logo.png" alt="FTF_logo" style="width: 70%; margin-left: 55px;" />
                            <h2 class="hdg-e hdg-source-reg layout-vr-md"><b style="margin-left: 85px;">Developing Local Extension Capacity</b></h2>
                            <p class="copy layout-vr-sm">USAID’s Bureau for Food Security (BFS) and Digital Green have launched the five-year <i style="font-style: italic">Feed the Future Developing Local Extension Capacity (DLEC)</i> project, in partnership with the International Food Policy Research Institute (IFPRI), CARE International, and multiple resource partners. DLEC operates under a five-year Leader with Associates Cooperative Agreement. </p>
                            <p class="copy layout-vr-sm">DLEC will partner with country stakeholders and USAID missions to raise incomes and increase resilience of smallholder farmers and their families by scaling and improving locally-relevant, cost-effective, and pluralistic agricultural extension systems that bring together information technologies and community-based organizations. By collaborating with USAID missions, host country governments, public and private extension advisory service (EAS) providers, rural civil society organizations, and host country research institutes, DLEC will help host-country extension systems become more effective, accountable, scalable, and sustainable.</p>
                            <p class="copy layout-vr-sm">
                                Do you work in extension-related programs, research, or the delivery of EAS? If so--or if you want to learn more about how EAS can support your ongoing work--we'd like to keep in touch. Please sign up for our Community of Practice on the nearby link.
                            </p>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <div class="imgExt img-marginLg-lt img-effects img-size-usaid grid-pad-rt-md" style="margin-bottom: 24px;">
                                <img src="{{STATIC_URL}}social_website/content/usaid/DLEC_page.jpg" alt="" style="margin-right: -23px;width: 450px;" />
                            </div>
                        <div style="margin-top: 45px;">
                            <a href="http://tinyurl.com/dlec-cop" target="_blank" style="margin-left: 40px;font-size: 14;font-weight: bold;">
                            {% comment %}Join our Community of Practice (CoP) now!{% endcomment %}
                            Join our Community of Practice (CoP) to share, learn and stay connected!
                            
                                <img src="/media/social_website/content/usaid/SignUp.png" style="margin-top: 10px;margin-left: 185px;">
                            </a>
                        </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="resources" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-sm">Resources</h2>
                            <div class="grid">
                                <div class="grid-col grid-size2of4 img-size-logo">
                                    <a href="{% url 'dlec-resource' %}" target="_blank"><img src="{{STATIC_URL}}social_website/content/usaid/reports.jpg" alt="Reports" /></a>
                                    <p class="hdg-bold">Reports</p>
                                </div>
                                <div class="grid-col grid-size2of4 img-size-logo">
                                    <a href="https://flic.kr/s/aHskMadwb9" target="_blank"><img src="{{STATIC_URL}}social_website/content/usaid/Photo_Gallery_DLEC.jpg" alt="Image Gallery" />
                                    </a>
                                    <p class="hdg-bold">Photo Gallery</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-sm">Events</h2>
                                <ul class="link-list">
                                    <li><a href="https://agrilinks.org/events/climate-smart-agriculture-global-learning-and-evidence-exchange-csa-glee-cambodia-1?amp;elqTrack=true&utm_campaign=BFS%202016_11_15%20GLEE%20Reminder&utm_medium=email&utm_source=Eloqua" class="link2" target="_blank" class="link2">Climate-Smart Agriculture Global Learning and Evidence Exchange (CSA-GLEE), </a></li>
                                    <li><a href="http://ingenaes.illinois.edu/2017symposium/" target="_blank">INGENAES Global Symposium and Learning Exchange</a></li>
                                    <li><a href="https://agrf.org/" target="_blank"> African Green Revolution Forum 2016</a></li>
                                    

                                </ul>
                        </div>
                        
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="aboutusaid" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">About USAID</h2>
                            <p class="copy layout-vr-sm grid-pad-rt-sm">The United States Agency for International Development (USAID) works to end extreme poverty and promote resilient, democratic societies, through programs managed by country-based missions in developing countries and Washington, DC-based offices. Feed the Future is the U.S. Government’s global hunger and food security initiative, working through USAID, the US Department of Agriculture and other agencies to address food security and nutrition challenges in 19 countries in Africa, Asia and Latin America.</p>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">About DG</h2>
                            <p class="copy layout-vr-sm">Digital Green (DG) is a not for profit international development organization that uses an innovative digital platform for community engagement to improve livelihoods, health and nutrition of rural communities across South Asia and Sub-Saharan Africa.</p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="usboard" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Team Members</h2>
                    <div class="grid layout-vr-xlg">
                        <a href="http://www.ifpri.org/profile/kristin-davis" target="_blank">
                        <div class="grid-col grid-size1of4">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/dlecteam/KristinDavis.png" alt="Kristin Davis" title="Kristin Davis" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Kristin Davis</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Project Director, DLEC
                            </p>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Senior Reseach Fellow, IFPRI
                            </p>
                        </div>
                        </a>
                        <div class="grid-col grid-size1of4">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/dlecteam/Alex_Dunlop_cropped.JPG" alt="Alex Dunlop" title="Alex Dunlop" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Alex Dunlop</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Deputy Director, DLEC
                            </p>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Director, Business Development, Digital Green
                            </p>
                        </div>
                        <div class="grid-col grid-size1of4">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/dlecteam/suprita.jpg" alt="Suprita Kudesia" title="Suprita Kudesia" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Suprita Makh</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Program Manager, DLEC
                            </p>
                        </div>
                        <a href="{% url 'team' %}">
                        <div class="grid-col grid-size1of4">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/dlecteam/RikinGandhi.jpg" alt="Rikin Gandhi" title="Rikin Gandhi" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Rikin Gandhi</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Technical Advisor, DLEC
                            </p>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            CEO, Digital Green
                            </p>
                        </div>
                        </a>
                    </div>
                    <div class="grid layout-vr-xlg">
                        <a href="https://www.ifpri.org/profile/david-spielman" target="_blank">
                        <div class="grid-col grid-size1of4">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/dlecteam/spielman_david.jpg" alt="David Spielman" title="David Spielman" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">David Spielman</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Technical Advisor, DLEC
                            </p>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Senior Research Fellow, IFPRI
                            </p>
                            
                        </div>
                        </a>
                        <div class="grid-col grid-size1of4">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/dlecteam/NAS.jpg" alt="Scott Merrill" title="Nurul Amin" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Nurul Amin Siddiquee</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Technical Advisor, DLEC
                            </p>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Technical Advisor for Sustainable Agriculture, CARE
                            </p>

                        </div>
                        <div class="grid-col grid-size1of4">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/dlecteam/Karin_Lion_smile_color.jpg" alt="David Spielman" title="David Spielman" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Karin Lion</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Technical Advisor, DLEC
                            </p>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Director of Global Agriculture Strategy, Digital Green
                            </p>
                        </div>
                        <div class="grid-col grid-size1of4">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/dlecteam/eva.jpg" alt="Eva Cantrell" title="Eva Cantrell" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Eva Cantrell</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Advocacy and Communications Manager, DLEC
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}
