{% include "includes/header.html" %}
{% load app_tags %}
        <section id="logos" class="about-bg">
            <div class="inner-wrapper">
                <div class="grid">
                    
                    <div class="grid-col grid-size1of4" style="margin-bottom: 0px;height: 150px;">
                        <a href="https://www.usaid.gov/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/USAID_logo.png" alt="USAID_logo.png" style="width: 150px;" />
                            </div>
                        </a>
                    </div>
                    
                    <div class="grid-col grid-size1of4" style="margin-bottom: 0px;height: 150px;">
                        <a href="{% url 'home' %}" target="_blank">
                            <div class="img-usaid-right" style="margin-top: 36px;">
                                <img src="{{STATIC_URL}}social_website/content/usaid/dg.png" alt="dg.png" style="width: 210px; height: 35px;margin-top: 10px;" />
                            </div>
                        </a>
                    </div>

                    <div class="grid-col grid-size1of4" style="margin-bottom: 0px;height: 150px;">
                        <a href="http://www.care.org/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/Care_logo.png" alt="Care_logo" style="width: 80px;height: 80px;margin-top: 22px;margin-left: 100px;"/>
                            </div>
                        </a>
                    </div>
                    <div class="grid-col grid-size1of4" style="margin-bottom: 0px;height: 150px;">
                        <a href="https://www.ifpri.org/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/IFPRI.png" alt="IFPRI_logo.pmg" style="width: 140px; height: 90px;margin-top: 15px;margin-left: 65px;"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="digitalintegration" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <img src="{{STATIC_URL}}social_website/content/usaid/FTF_logo.png" alt="FTF_logo" style="width: 70%; margin-left: 55px;" />
                            <h2 class="hdg-e hdg-source-reg layout-vr-md"><b style="margin-left: 85px;">Developing Local Extension Capacity</b></h2>
                            <p class="copy layout-vr-sm">USAID’s Bureau for Food Security (BFS) and Digital Green have launched the five-year <i style="font-style: italic">Feed the Future Developing Local Extension Capacity (DLEC)</i> project, in partnership with the International Food Policy Research Institute (IFPRI), CARE International, and multiple resource partners. DLEC operates under a five-year Leader with Associates Cooperative Agreement. </p>
                            <p class="copy layout-vr-sm">DLEC will partner with country stakeholders and USAID missions to raise incomes and increase resilience of smallholder farmers and their families by scaling and improving locally-relevant, cost-effective, and pluralistic agricultural extension systems that bring together information technologies and community-based organizations. By collaborating with USAID missions, host country governments, public and private extension advisory service (EAS) providers, rural civil society organizations, and host country research institutes, DLEC will help host-country extension systems become more effective, accountable, scalable, and sustainable.</p>
	                    </div>
                        <div class="grid-col grid-size2of4">
                            <div class="imgExt img-marginLg-lt img-effects img-size-usaid grid-pad-rt-md" style="margin-bottom: 24px;">
                                <img src="{{STATIC_URL}}social_website/content/usaid/DLEC_page.jpg" alt="" style="margin-right: -23px;width: 450px;" />
                            </div>
                        <div style="margin-top: 45px;">
                            <a href="http://tinyurl.com/dlec-cop" target="_blank" style="margin-left: 40px;font-size: 14;font-weight: bold;">
                            {% comment %}Join our Community of Practice (CoP) now!{% endcomment %}
                            Join our Community of Practice (CoP) to share, learn and stay connected!
                            
                                <img src="/media/social_website/content/usaid/SignUp.png" style="margin-top: 10px;margin-left: 185px;">
                            </a>
                        </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="resources" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-sm">Resources</h2>
                            <div class="grid">
                                <div class="grid-col grid-size2of4 img-size-logo">
                                    <a href="{% url 'dlec-research' %}" target="_blank"><img src="{{STATIC_URL}}social_website/content/usaid/reports.jpg" alt="Reports" /></a>
                                    <p class="hdg-bold">Reports</p>
                                </div>
                                <div class="grid-col grid-size2of4 img-size-logo">
                                    <a href="https://flic.kr/s/aHskMadwb9" target="_blank"><img src="{{STATIC_URL}}social_website/content/usaid/Photo_Gallery_DLEC.jpg" alt="Image Gallery" />
                                    </a>
                                    <p class="hdg-bold">Photo Gallery</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-sm">Events</h2>
                                <ul class="link-list">
                                    <li><a href="https://agrilinks.org/events/climate-smart-agriculture-global-learning-and-evidence-exchange-csa-glee-cambodia-1?amp;elqTrack=true&utm_campaign=BFS%202016_11_15%20GLEE%20Reminder&utm_medium=email&utm_source=Eloqua" class="link2" target="_blank" class="link2">Climate-Smart Agriculture Global Learning and Evidence Exchange (CSA-GLEE), </a></li>
                                    <li><a href="http://ingenaes.illinois.edu/2017symposium/" target="_blank">INGENAES Global Symposium and Learning Exchange</a></li>
                                    <li><a href="https://agrf.org/" target="_blank"> African Green Revolution Forum 2016</a></li>
                                    

                                </ul>
                        </div>
                        
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="aboutusaid" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">About USAID</h2>
                            <p class="copy layout-vr-sm grid-pad-rt-sm">The United States Agency for International Development (USAID) works to end extreme poverty and promote resilient, democratic societies. USAID partners with the Government of India and the private sector to eliminate preventable child and maternal deaths, create an AIDS- and tuberculosis(TB)-free generation, and achieve universal health coverage.</p>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">About DG</h2>
                            <p class="copy layout-vr-sm">Digital Green (DG) is a not for profit international development organization that uses an innovative digital platform for community engagement to improve livelihoods, health and nutrition of rural communities across South Asia and Sub-Saharan Africa.</p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        

        <section class="about-bg">
            <div class="wrapper layout-vr-md">
            <!-- AWARDS-->
            <div class="inner-wrapper">
                <h2 class="hdg-a hdg-source-lt layout-vr-md">Team Members Options 1</h2>
                <div class="awards-container">
                    <div class="js-awards-left-arrow awards-left-arrow">
                        <img src="{{STATIC_URL}}assets/images/awards-ticker-left.png" alt="Left" height="20" width="12">
                    </div>
                    <div class="awards-ticker layout-vr-md">
                        <ul class="js-awards-ticker h-list">
                            <li data='1' class="js-description"> 
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/NT-100.png" alt="Nominet Trust 100" title="Nominet Trust 100, 2015" height="130" width="130"/> 
                            </li>
                            <li data='2' class="js-description"> 
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/eNGO-challenge.png" alt="4th eNGO Challenge" title="4th eNGO Challenge" height="130" width="130"/> 
                            </li>
                            <li data='3' class="js-description"> 
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/google-impact-challenge.png" alt="Google Impact Challenge" title="Google Impact Challenge" height="130" width="130"/> 
                            </li>
                            <li data='4' class="js-description">
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/fortune.png" alt="Fortune" title="Fortune" height="130" width="130"/>
                            </li>
                            <li data='5' class="js-description">
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/ashoka-india-fellowship.png" alt="Ashoka India Fellowship" title="Ashoka India Fellowship" height="130" width="130"/>
                            </li>
                            <li data='6' class="js-description">
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/MIT-innovators.png" alt="MIT Tech Review" title="MIT Tech Review" height="130" width="130"/>
                            </li>
                            <li data='7' class="js-description">
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/stockholm-challenge.png" alt="Stockholm Challenge" title="Stockholm Challenge" height="130" width="130"/>
                            </li>
                            <li data='8' class="js-description">
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/TED-fellows.png" alt="Ted Fellow" title="Ted Fellow" height="130" width="130"/>
                            </li>
                            <li data='9' class="js-description">
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/IFA-norman-borlaug.png" alt="IFA Norman Borlaug" title="IFA Norman Borlaug Award - 2012" height="130" width="130"/>
                            </li>
                            <li data='10' class="js-description">
                                <img class="awards-shadow" src="{{STATIC_URL}}social_website/content/awards/manthan.png" alt="Manthan" title="The Manthan Award - South Asia 2010" height="130" width="130"/>
                            </li>
                        </ul>
                    </div>
                    <div class="js-awards-right-arrow awards-right-arrow">
                        <img src="/media/assets/images/awards-ticker-right.png" alt="Right" height="20" width="12">
                    </div>
                </div>
                <div class="hdg-f hdg-source-reg">
                    <div class="awards-description js-awards-description js-awards-description-show" data='1'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny" target="_blank" href="http://socialtech.org.uk/projects/digital-green/">Nominet Trust 100, 2015</a>
                        <p>Digital Green was named among the 100 most inspiring tech-for-good ventures from around the world. <a class="hdg-source-semibold" target="_blank" href="http://socialtech.org.uk/projects/digital-green/">Read more</a></p>
                    </div>
                    <div class="awards-description js-awards-description" data='2'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny" target="_blank" href="http://engochallenge.org">eNGO Challenge, 2015</a>
                        <p>Digital Green won the 4th eNGO Challenge in 2015 for Innovative use of eContent. <a class="hdg-source-semibold" target="_blank" href="http://engochallenge.org">Read more</a></p>
                    </div>
                    <div class="awards-description js-awards-description" data='3'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny" target="_blank" href="https://impactchallenge.withgoogle.com/india2013#/digitalgreen">Google Impact Challenge, 2013</a>
                        <p>Digital Green won the Google Impact Challenge in 2013. <a class="hdg-source-semibold" target="_blank" href="https://impactchallenge.withgoogle.com/india2013#/digitalgreen">Read more</a></p>
                    </div>
                    <div class="awards-description js-awards-description" data='4'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny" target="_blank" href="http://archive.fortune.com/galleries/2010/fortune/1006/gallery.global_forum_visionaries.fortune/4.html">Fortune’s Global Forum Visionaries in Agriculture, 2010</a>
                        <p>Digital Green’s founder and CEO, Rikin Gandhi was selected as Fortune’s Global Forum Visionary in 2010. <a class="hdg-source-semibold" target="_blank" href="http://archive.fortune.com/galleries/2010/fortune/1006/gallery.global_forum_visionaries.fortune/4.html">Read more</a></p>
                    </div>
                    <div class="awards-description js-awards-description" data='5'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny" target="_blank" href="http://india.ashoka.org/fellow/rikin-gandhi">Ashoka Fellow</a>
                        <p>Digital Green’s founder and CEO, Rikin Gandhi is an Ashoka Fellow since 2010. <a class="hdg-source-semibold" target="_blank" href="http://india.ashoka.org/fellow/rikin-gandhi">Read more</a></p>
                    </div>
                    <div class="awards-description js-awards-description" data='6'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny" target="_blank" href="http://www2.technologyreview.com/tr35/profile.aspx?TRID=969">Innovator under 35 by MIT Technology Review, 2010</a>
                        <p>Digital Green’s founder and CEO, Rikin Gandhi was selected as an innovator under 35 by MIT’s Tech Review in 2010.<a class="hdg-source-semibold" target="_blank" href="http://www2.technologyreview.com/tr35/profile.aspx?TRID=969">Read more</a></p>
                    </div>
                    <div class="awards-description js-awards-description" data='7'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny" target="_blank" href="http://blogs.msdn.com/b/microsoft-green/archive/2008/07/09/digital-green-wins-award-in-the-stockholm-challenge-2008.aspx">Stockholm Challenge, 2008</a>
                        <p>Digital Green won the Stockholm Challenge in 2008. <a class="hdg-source-semibold" target="_blank" href="http://blogs.msdn.com/b/microsoft-green/archive/2008/07/09/digital-green-wins-award-in-the-stockholm-challenge-2008.aspx">Read more</a></p>
                    </div>
                    <div class="awards-description js-awards-description" data='8'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny" target="_blank" href="http://www.ted.com/profiles/299130/fellow">TED Fellow</a>
                        <p>Digital Green’s founder and CEO, Rikin Gandhi is a TED Fellow (Agricultural Tech Innovator) <a class="hdg-source-semibold" target="_blank" href="http://www.ted.com/profiles/299130/fellow">Read more</a></p>
                    </div>
                    <div class="awards-description js-awards-description" data='9'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny" target="_blank" href="http://www.fertilizer.org//En/Media/Press_Releases_Detailed/20_April_2012.aspx">IFA Norman Borlaug Award, 2012</a>
                        <p>Digital Green's founder and CEO, Rikin Gandhi received the IFA Norman Borlaug Award in 2012. <a class="hdg-source-semibold" target="_blank" href="http://www.fertilizer.org//En/Media/Press_Releases_Detailed/20_April_2012.aspx">Read more</a></p>
                    </div>
                    <div class="awards-description js-awards-description" data='10'>
                        <a class="hdg-green hdg-source-bold layout-vr-tiny">Manthan Award South Asia in Environment, 2008</a>
                        <p>Digital Green won the Manthan Award South Asia in 2008 in the category Environment.</p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section id="usboard" role="main" class="about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Team Members Option2</h2>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/kentaro.jpg" alt="Kentaro Toyama" title="Kentaro Toyama" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Kentaro Toyama</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Kentaro is W. K. Kellogg Associate Professor at the University of Michigan School of Information, a fellow of the Dalai Lama Center for Ethics and Transformative Values at MIT, and author of Geek Heresy: Rescuing Social Change from the Cult of Technology.
                            <br>
                            Until 2009, Kentaro was assistant managing director of Microsoft Research India, which he co-founded in 2005. At MSR India, he started the Technology for Emerging Markets research group, which conducts interdisciplinary research to understand how the world's poorest communities interact with electronic technology and to invent new ways for technology to support their socio-economic development. It was there that Digital Green started as a research project.
                            <br>
                            Prior to his time in India, Kentaro did computer vision and multimedia research and taught mathematics at Ashesi University in Accra, Ghana. He graduated from Yale with a PhD in Computer Science and from Harvard with a bachelor’s degree in Physics.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/eric.jpg" alt="Eric Walker" title="Eric Walker" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Eric Walker</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Eric has more than 30 years of experience in leadership, financial and operations management, institutional capacity building and systems development in international nonprofit organizations. He has served on executive teams of multiple international NGOs working across the international development sector, including his long-term role as finance and operations leader of the global health NGO, PATH. Eric continues as a senior advisor to PATH’s CEO.
                            <br>
                            In 1980, he co-founded InsideNGO, a global operations membership association where he continues to serve as a senior advisor. As part of it, he has led training sessions around the world on USAID rules and regulations, indirect costs, organizational effectiveness measurement, and field operations. 
                            <br>
                            Eric serves on advisory panels for Charity Navigator and the Charity Defense Council; serves on multiple NGO boards. He also co-teaches “Global Health Project Life Cycle - Managing for Success”—a graduate level course in the School of Global Health, at the University of Washington.
                            <br> 
                            Eric earned his master’s degree from Georgetown University in 1978.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/melissa.jpg" alt="Melissa Ho" title="Melissa Ho" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Melissa Ho</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Having over 20 years of experience in agricultural development, policy, and research in the United States, sub-Saharan Africa, South and South East Asia, and Latin America, Melissa currently serves as Technical Division Director & Senior Policy Advisor with the Bureau of Food Security of USAID. Prior to this she has served as a Program Officer in the Agricultural Development Program at the Bill & Melinda Gates Foundation as well as with U.S. Congress in varying roles, including as a Specialist in Agricultural Policy for the Congressional Research Service and as the Agriculture Policy Advisor to then Senator Hillary Rodham Clinton. 
                            <br>
                            Melissa currently leads a team of technical experts in the Bureau for Food Security at the USAID, who cover cross-cutting issues related to global food security. 
                            Melissa has a B.Sc in Environmental Systems from Cornell University, an M.Sc. in Soil Science from the University of California, Davis, and a Ph.D. in Plant Physiology from the Pennsylvania State University. She received a Rotary Fellowship, allowing her to work at an international agricultural research center in East Africa. Melissa has received grant funding from the U.S. National Science Foundation, USAID, and the U.S. Department of Defense. She has taught numerous undergraduate and graduate courses and authored over a dozen peer-reviewed articles, reports and technical papers.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                    </div>
                    <div class="grid layout-vr-xlg">
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/srikant.jpg" alt="Srikant Vasan" title="Srikant Vasan" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Srikant Vasan</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Srikant is the founder and CEO of SkillStore, which builds people skills for professional success with a quick, easy-to-use and effective mobile platform. Earlier, he was the founder and President of Portmont College at Mount St. Mary’s, a non-profit college that helps low income Americans gain quality college degrees more affordably. Srikant was the first Entrepreneur-in-Residence and a Senior Program Officer at the Bill & Melinda Gates Foundation. Prior to Gates, Srikant was the co-founder & CEO of StorePerform Technologies (the leading provider of retail performance management software), co-founder and CEO of KBkids (a leading e-commerce company), a founding team member and director of business development of MediaOne (which was sold to AT&T for $62 billion), and a consultant at McKinsey & Co.
                            <br>
                            Srikant is an advisor to Grameen Technology Center and a member of the Strategic Planning Task Force of the Denver Museum of Nature & Science. He has an MBA from the Wharton School and a BS (Electrical Engineering) from the Indian Institute of Technology, Delhi.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/rajesh.jpg" alt="Rajesh Veeraraghavan" title="Rajesh Veeraraghavan" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Rajesh Veeraraghavan</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Rajesh is currently a Fellow at the Berkman Center for Internet and Society at Harvard University and also a Research Fellow at the Transparency and Accountability Initiative at the Open Society Foundation. 
                            <br>
                            Having previously worked with Microsoft Research India to design and deploy technology to complement efforts that help amplify intent of the groups that are working to alleviate poverty, Rajesh has also worked as a software developer at Microsoft for several years and been an active volunteer with the Association for India's Development.
                            Rajesh has a Masters degree in Computer Science from Clemson University and Economics from Cleveland State University; and Bachelor's degrees in Economics and Management from Birla Institute of Technology & Science, Pilani, India.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                        <div class="grid-col grid-size1of3">
                            <img class="grid-pad-lt-tiny layout-vr-sm" src="{{STATIC_URL}}social_website/content/board/soumen.jpg" alt="Soumen Biswas" title="Soumen Biswas" height="150" width="130"/>
                            <div class="hdg-source-semibold hdg-e grid-pad-lt-tiny layout-vr-sm">Soumen Biswas</div>
                            <p class="grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-tiny js-intro line-clamp board-line-clamp">
                            Soumen is currently a consultant with the Ministry of Rural Development, Government of India. He is a former Executive Director of Professional Assistance for Development Action (PRADAN) and has nearly 28 years of experience in the development sector.  
                            <br>
                            While in PRADAN, Soumen worked in various capacities to promote livelihoods for indigenous communities and also involved in its institution building processes. He has advised various state governments and Government of India on issues related to civil society organizations, poverty alleviation and rural development.
                            </p>
                            <a href="#" class="grid-pad-lt-tiny grid-pad-rt-tiny js-show-more hdg-green">Show More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">DLEC Resources</h2>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DigitalGreen_USAIDFeedtheFutureDLECSummaryandConsortium.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/fof.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/research/DLECIntroduction.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/dlec_into.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}
