{% include "includes/header.html" %}
        
        <section id="donate" role="main" class="about-bg about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="grid layout-vr-md">
                        <div class="media layout-vr-sm">
                            <div class="grid-col grid-size2of4">
                                <div class="bd">
                                    <br>
                                    <p class="copy copy-para">At Digital Green, we strive to help spread the knowledge of new and innovative techniques to smallholder and marginalized farming communities for their improved livelihood and well being. 
                                    </p>
                                    <p class="copy copy-para">You can help support us to widen our reach and impact more lives. Your contribution could help equip one of our several rural teams across India and Sub-Saharan Africa with the requisite technology to document and share best practices.
                                    </p>
                                    <br>
                                    <div class="centered layout-vr-md">
                                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=FJ82E82MVR4CS " target='_blank' class="btn">Donate</a>
                                    </div>
                                    <br>
                                    <p class="copy copy-para">We are a registered 501(c)3 non-profit in the U.S. a Section 12A/80G charitable trust in India. 
                                    </p>
                                    <p class="copy copy-para"> All donations are tax-deductible. We use PayPal so you can be assured that your contribution by credit card, debit card, or check will be processed safely.
                                    </p>
                                    <p class="copy copy-para">If you need any further information, please contact us at: 
                                        <a href='mailto:contact@digitalgreen.org'> contact@digitalgreen.org</a>.
                                    </p>
                                </div>
                            </div>
                            <div class="grid-col grid-size2of4">
                                <div class="img-effects img-size-lg grid-pad-lt">
                                    <img src="{{STATIC_URL}}social_website/content/donate.jpg" alt="" />
                                </div>
                                <div class="copy copy-margin grid-pad-lt">
                                    <br>
                                    <div class="hdg-c hdg-source-lt layout-vr-sm hdg-bold">More about Digital Green
                                    </div>
                                    <ul>    
                                        <li><a href="/resources/#annualreport13" target="_blank">Latest Annual Report</a></li>
                                        <li><a href="/about/ourwork/" target="_blank">Our Work</a></li>
                                        <li><a href="/media/docs/Digital-Green-Key-Facts.pdf" target="_blank">Key Facts</a></li>
                                        <li><a href="/press/" target="_blank">Media Coverage</a></li>
                                        <li><a href="/contact/" target="_blank">Our Offices</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="donate" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="grid layout-vr-md">
                        <div class="media layout-vr-sm">                 
                            <div class="grid-col grid-size2of4">
                                <div class="bd">
                                    <p class="copy copy-para">The video-based approach is bringing about big changes in small rural communities in India and Africa.
                                    </p>
                                    <p class="copy copy-para">Watch this video to know how…
                                    </p>
                                </div>
                            </div>
                            <div class="grid-col grid-size2of4">
                                <div class="copy copy-margin">
                                    <p class="copy copy-para">Sugan Bai had to back up her income as a farmer by migrating for work with their children in tow, but a handheld projector changed all that.
                                    </p>
                                    <p class="copy copy-para">Watch this video to know how…
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="grid layout-vr-md">
                        <div class="media layout-vr-md">                            
                            <div class="grid-col grid-size2of4">
                                <div>
                                    <iframe width="465" height="325" src="http://www.youtube.com/embed/JYkaf4ucaSc">
                                    </iframe> 
                                </div>
                            </div>
                            <div class="grid-col grid-size2of4">
                                <div>
                                    <iframe width="465" height="325" src="http://www.youtube.com/embed/6xNeefPvNDQ">
                                    </iframe> 
                                </div>     
                            </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
