{% include "includes/header.html" %}
        
        
        <section id="main" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Donate</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects">
                            <img src="http://placehold.it/463x283" alt="" />
                        </div>
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Thanks for visiting the Digital Green website and learning more about us.</h3>
                            
                            	
                            <p class="copy copy-margin">Digital Green is a work in progress and we would value you joining with us to achieve our shared vision for using the tools of technology and social organization to make poverty history. We would appreciate it if you would consider making a contribution from the button below.
                            </p>
                            
                            <p class="copy copy-margin">We are a registered 501(c)3 non-profit in the U.S. a Section 12A/80G charitable trust in India. All donations are tax-deductible. We use PayPal so you can be assured that your contribution by credit card, debit card, or check will be processed safely. 
                            </p>
                            
                            <p class="copy">Your contribution will fund a variety of components in our system such as video cameras being used by community members to produce localized video content or pico projectors used in disseminating the videos produced. We value your help and support, and we hope you will keep track of our progress for the years to come. 
                        	</p>
                        	
                        	<div class="centered layout-vr-lg">
                        		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=FJ82E82MVR4CS " target='_blank' class="btn">Donate</a>
                    		</div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
{% include "includes/footer.html" %}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
