{% include "includes/header.html" %}
        
        <section id="donate" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="grid layout-vr-md">
                        <div class="media layout-vr-sm">
                            <div class="grid-col grid-size2of4">
                                <div class="bd ">
                                    <h2 class="hdg-b hdg-source-lt layout-vr-md hdg-bold">Make a Contribution!</h1>
                                    <p class="copy copy-para grid-pad-rt-tiny">Digital Green supports rural communities to produce videos for themselves to exchange sustainable agricultural and health practices across South Asia and Sub-Saharan Africa. 
                                    </p>
                                    <p class="copy copy-para grid-pad-rt-tiny layout-vr-md">To support rural communities to learn through video, please join hands with us and donate today.
                                    </p>
                                    <div class="centered layout-vr-md grid-pad-rt-tiny">
                                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=FJ82E82MVR4CS " target='_blank' class="btn">Donate</a>
                                    </div>
                                    <p class="copy copy-para grid-pad-rt-tiny">No gift is too big or small. On behalf of the partners and communities that we work with, we are grateful for your generous support. 
                                    </p>
                                    <p class="copy copy-para grid-pad-rt-tiny"> We use PayPal so you can be assured that your contribution by credit card, debit card, or check will be processed safely. Donations made through our website are tax deductible in the U.S.
                                    </p>
                                    <p class="copy copy-para grid-pad-rt-md">For further information, please contact us at:  
                                        <a href='mailto:contact@digitalgreen.org'> contact@digitalgreen.org</a>.
                                    </p>
                                </div>
                            </div>

                            <div class="grid-col grid-size2of4">
                                <div class="grid-pad-lt layout-vr-sm">
                                    <iframe width="425" height="285" src="http://www.youtube.com/embed/RBTmn1ZtdVA">
                                    </iframe>
                                </div>
                                <div class="copy copy-margin grid-pad-lt">
                                    <div class="hdg-c hdg-source-lt layout-vr-sm hdg-bold">More about Digital Green
                                    </div>
                                    <ul>    
                                        <li><a href="/resources/#annualreport13" target="_blank">Latest Annual Report</a></li>
                                        <li><a href="/about/ourwork/" target="_blank">Our Work</a></li>
                                        <li><a href="/media/docs/Digital-Green-Key-Facts.pdf" target="_blank">Key Facts</a></li>
                                        <li><a href="/press/" target="_blank">Media Coverage</a></li>
                                        <li><a href="/contact/" target="_blank">Our Offices</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
