<!--<style type="text/css">
@font-face {
    font-family: gothambook;
    src: url(Gotham-Book.otf);
}
</style>

<!--<style type="text/css">
.myclip{
	position: absolute;
	clip: rect(10px,0px,10px,50px);
}
</style>-->


<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6042196/6512992/css/fonts.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<table><tr>
<!-- <td valign="middle" style="padding:0 0 0 0;"><img src="logo.jpg" width="120" height="auto" clip: rect(0px,0px,0px,10px);/></td> -->

<td valign="middle" style="font-size:75%;font-family:'Gotham',sans-serif;">

<div><span><span style="font-size:1.2em;color:#3D3D3F;">Vivek Nayan</span>&nbsp;</span></div>
<div><span><span style="font-size:0.9em;color:#3D3D3F">Sr. Mgr. - Technology</span>&nbsp;</span></div>&nbsp;&nbsp;

<div>
<span><span style="font-size:0.9em;color:#6eff00;">p:&nbsp;</span><span style="font-size:0.9em;color:#3D3D3F;">+91.1141881037</span>&nbsp;</span>
<span><span style="font-size:0.9em;color:#6eff00;">m:&nbsp;</span><span style="font-size:0.9em;color:#3D3D3F">+91.8826280343</span>&nbsp;</span>
</div>

<div>
<span>
<span style="font-size:0.9em;color:#6eff00;">w:&nbsp;</span>
<span><a href="www.digitalgreen.org" target="_blank" style="text-decoration:none;font-size:0.9em;color:#3D3D3F;">www.digitalgreen.org</a></span>&nbsp;
</span>
<span><span style="font-size:0.9em;color:#6eff00;">e:&nbsp;</span><span><a href="mailto:vivek@digitalgreen.org" target="_blank" style="font-size:0.9em;text-decoration:none;color:#3D3D3F;">vivek@digitalgreen.org</a></span>&nbsp;</span>
<span><span style="font-size:0.9em;color:#6eff00;">s:&nbsp;</span><span><a href="skype:high180" target="_blank" style="font-size:0.9em;text-decoration:none;color:#3D3D3F;">high180</a></span>&nbsp;</span>
</div>

<div>
<span style="font-size:0.9em;color:#6eff00;">a:&nbsp;</span>
<span style="font-size:0.9em;color:#3D3D3F">S-26 to 28, 3rd Floor, Green Park Extension Market, New Delhi-110016, India</span>
</div>&nbsp;

<!-- <div>
<span><a href="http://digitalgreen.org"><img src="logo.jpg" style="position:auto;clip:rect(10px,0px,10px,30px);" width="200" height="auto"/></a></span>&nbsp;
</div> -->

<div style="vertical-align:middle;">
<span><a href="http://digitalgreen.org"><img src="{{STATIC_URL}}Output/Images/email_signature/logo1.jpg" width="120" height="auto"/></a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span><a href="https://twitter.com/digitalgreenorg"><img src="{{STATIC_URL}}Output/Images/email_signature/twitter.png" width="15" height="auto" style="padding:0 0 11 0;"/></a></span>&nbsp;
<span><a href="https://www.facebook.com/digitalgreenorg/"><img src="{{STATIC_URL}}Output/Images/email_signature/facebook.png" width="15" height="auto" style="padding:0 0 11 0;"/></a></span>&nbsp;
<span><a href="https://www.linkedin.com/company-beta/619071/"><img src="{{STATIC_URL}}Output/Images/email_signature/linkedin.png" width="15" height="auto" style="padding:0 0 11 0;"/></a></span>&nbsp;
<span><a href="https://www.instagram.com/digitalgreenorg/"><img src="{{STATIC_URL}}Output/Images/email_signature/instagram.png" width="15" height="auto" style="padding:0 0 11 0;"/></a></span>&nbsp;
<span><a href="https://plus.google.com/+DigitalgreenOrg_DG"><img src="{{STATIC_URL}}Output/Images/email_signature/google.png" width="15" height="auto" style="padding:0 0 11 0;"/></a></span>
</div>

<div style="line-height:1em;font-size:1em;">&nbsp;</div></td></tr></table>
