{% include "includes/header.html" %}
    {% include "includes/partials/mainCarousel.html" %}
        
        <section id="about" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Events</h2>
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="#workshop_toc" class="link2">Addis Ababa, Ethiopia - 5-6 February, 2015</a></li>
                                    <li><a href="#workshop_agnu" class="link2">New Delhi, India - 10 November, 2014</a></li>
                                    <li><a href="#workshop_delhi" class="link2">New Delhi, India - 6-7 March, 2014</a></li>
                                    <li><a href="#workshop_addis" class="link1">Addis Ababa, Ethiopia - 7 February, 2014</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="workshop_toc" class='about-bg'>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Digital integration to amplify agricultural extension in Ethiopia: Theory of Change Workshop</h2>    
                    <div class='media layout-vr-xlg'>
                        <div class="grid-lt grid-size1of3 ">
                            <img src="{{STATIC_URL}}social_website/content/toc_workshop.jpg" alt="Scaling up Digital Green in Ethiopia">
                        </div>
                        <div class="grid-lt grid-size2of3">
                            <p class="layout-vr-md">The workshop was designed to build a common understanding of the project, consortium partners, and current ground realities. The workshop provided participants with the opportunity to develop a common theory of change for various technologies to contribute to the public extension system.</p>
                            <ul class="v-list list-icons-business">
                                <li class="cal"><a href="javascript:void(0);">November 5-6, 2015 at Friendship Hotel, Addis Ababa, Ethiopia</a></li>
                                <li class="pdf"><a href="{{STATIC_URL}}docs/events/Workshop_Report_TOC.pdf" target="_blank">Workshop Report</a></li>
                                <li class="pdf"><a href="{{STATIC_URL}}docs/events/DG Ethiopia Workshop Report(appendices).pdf" target="_blank">Appendices</a></li>
                                <li class="mail"><a href="mailto:events@digitalgreen.org">events@digitalgreen.org</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="workshop_agnu" class='about-bg about-bg-white'>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Agriculture-Nutrition Knowledge Sharing Workshop</h2>    
                    <div class='media layout-vr-xlg'>
                        <div class="grid-lt grid-size1of3 ">
                            <img src="{{STATIC_URL}}social_website/content/workshop.jpg" alt="Scaling up Digital Green in Ethiopia">
                        </div>
                        <div class="grid-lt grid-size2of3">
                            <p class="layout-vr-md">Consultative workshop to share learnings of using the Digital Green approach for reaching the grassroots and informing agricultural curricula</p>
                            <ul class="v-list list-icons-business">
                                <li class="cal"><a href="javascript:void(0);">November 10, 2014 at India International Centre (Annexe), New Delhi</a></li>
                                <li class="pdf"><a href="{{STATIC_URL}}docs/events/Agenda_Agriculture Nutrition Knowledge Sharing workshop.pdf" target="_blank">Agenda</a></li>
                                <li class="pdf"><a href="{{STATIC_URL}}docs/events/Workshop Report_Agriculture Nutrition Knowledge Sharing Workshop.pdf" target="_blank">Workshop Report</a></li>
                                <li class="pdf"><a href="#presentations">Presentations</a></li>
                                <li><a href="http://www.digitalgreen.org/blog/workshop-gallery/" target="_blank">Photo Gallery</a></li>
                                <li class="spk"><a href="#videos">Video Gallery</a></li>
                                <li class="mail"><a href="mailto:events@digitalgreen.org">events@digitalgreen.org</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
              
        <section id="workshop_delhi" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Effectiveness of ICT for rural development</h2>
                    <div class='media layout-vr-xlg'>
                        <div class="grid-lt grid-size1of3">
                            <img src="{{STATIC_URL}}social_website/content/rice_farming.jpg" alt="Effectiveness of ICT for rural developement">
                        </div>
                        <div class="grid-lt grid-size2of3">
                            <p class="layout-vr-md">Consultative workshop to share experiences on using ICT for rural development and build a community of learning based on the Digital Green approach.</p>
                            <ul class="v-list list-icons-business">
                                <li class="cal">
                                    <a href="http://www.claridges.com/the-claridges-newdelhi/overview.asp" target="_blank">March 6-7, 2014 at Hotel Claridges, New Delhi</a>
                                </li>
                                <li class="pdf">
                                    <a href="{{STATIC_URL}}docs/events/Agenda_DigitalGreen_Workshop_March6-7,2014.pdf" target="_blank">Agenda</a>
                                </li>
                                <li class="pdf"><a href="{{STATIC_URL}}docs/events/Workshop_Report_India_March7.pdf" target="_blank">Workshop Report</a></li>
                                <li class="spk">
                                    <a href="{{STATIC_URL}}docs/events/List of Participants.pdf" target="_blank">List of Participants</a>
                                </li> 
                                <li class="faq">
                                    <a href="{{STATIC_URL}}docs/events/Frequently Asked Questions.pdf" target="_blank">FAQs</a>
                                </li>
                                <li><a href="https://www.facebook.com/media/set/?set=a.10152222264280219.1073741882.197117485218&type=3" target="_blank">Photo Gallery</a></li>
                                <li class="spk"><a href="#interviews-india">Video Interviews</a></li>
                                <!-- <li class="reg js-register-button" data-csrf-input="{% csrf_token %}">
                                    <a href="#">Register Now</a>
                                </li> -->
                                <li class="mail">
                                    <a href="mailto:events@digitalgreen.org">events@digitalgreen.org</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="workshop_addis" class='about-bg about-bg-white'>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Scaling up Digital Green in Ethiopia</h2>    
                    <div class='media layout-vr-xlg'>
                        <div class="grid-lt grid-size1of3">
                            <img src="{{STATIC_URL}}social_website/content/video_production_africa.jpg" alt="Scaling up Digital Green in Ethiopia">
                        </div>
                        <div class="grid-lt grid-size2of3">
                            <p class="layout-vr-md">Consultative workshop to share experiences and collaboratively source insights for strengthening the Digital Green approach in Ethiopia.</p>
                            <ul class="v-list list-icons-business">
                                <li class="cal"><a href="javascript:void(0);">February 7, 2014 at ILRI Campus, Addis Ababa, Ethiopia</a></li>
                                <li class="pdf"><a href="{{STATIC_URL}}docs/events/Scaling up Digital Green in Ethiopia - workshop agenda.pdf" target="_blank">Agenda</a></li>
                                <li class="pdf"><a href="{{STATIC_URL}}docs/events/Workshop_Report_Ethiopia_February7.pdf" target="_blank">Workshop Report</a></li>
                                <li><a href="https://www.facebook.com/media/set/?set=a.10152166539410219.1073741875.197117485218&type=3" target="_blank">Photo Gallery</a></li>
                                <li class="spk"><a href="#interviews-ethiopia">Video Interviews</a></li>
                                <li class="mail"><a href="mailto:events@digitalgreen.org">events@digitalgreen.org</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="interviews-ethiopia" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Partner Interviews from Workshop in Ethiopia, February 2014</h2>
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="https://www.youtube.com/watch?v=7OVgQbf_Vv0&feature=youtu.be"  target="_blank">Berhanu Gezahegn, Ministry of Agriculture</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=IzVHycqKHpM"  target="_blank">Chimdo Anchala, Oxfam America</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=VanVGQlR0Ew&feature=youtu.be"  target="_blank">Dr Berga Lemaga, Agricultural Transformation Agency</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=NYENzAEua6A"  target="_blank">Dr. Valsala Kumari, Kudumbashree</a></li>
                                    <li><a href="http://youtu.be/L6YkUhnJuLQ"  target="_blank">Julia Lowe, BMGF</a></li>
                                    <li><a href="http://youtu.be/4jpge0NcjyM"  target="_blank">Tim Conway, DFID</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="interviews-india" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Partner Interviews from Workshop in India, March 2014</h2>
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="https://www.youtube.com/watch?v=CdFB0MgDVXM"  target="_blank">Habtu Assefa, SAA</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=uckcc1GuxkM"  target="_blank">Michelle Desmond, PATH</a></li>
                                    <li><a href="http://youtu.be/GlVlI8e-B94"  target="_blank">Myra Wopereis, Africa Rice</a></li>
                                    <li><a href="http://youtu.be/X8Ltv5lw4ag"  target="_blank">Noordin Qureish, AGRA</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=bi3D3ATma_I"  target="_blank">Paolo Ficarelli, BMGF</a></li>
                                    <li><a href="http://youtu.be/clI_bXdy02I"  target="_blank">Ricky Majette, USAID</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=I8hw-7MIDdI"  target="_blank">Vijay Kumar, NRLM</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="presentations" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Presentations from Workshop in India, November 2014</h2>
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="{{STATIC_URL}}docs/events/Presentation by Rikin Gandhi on Digital Green approach.pdf"  target="_blank">Digital Green Approach by Rikin Gandhi</a></li>
                                    <li><a href="{{STATIC_URL}}docs/events/Presentation on SPRING-DG Collaboration & Feasibility Study by Peggy Koniz Booher.pdf"  target="_blank">SPRING-DG Collaboration & Feasibility Study by Peggy Koniz Booher</a></li>
                                    <li><a href="{{STATIC_URL}}docs/events/Presentation on learnings of SAFANSI pilot project with JEEViKA by Anila Samuel.pdf"  target="_blank">Learnings of SAFANSI pilot project by Anila Samuel,JEEViKA</a></li>
                                    <li><a href="{{STATIC_URL}}docs/events/Strategy for nutrition in extension capacity by Dr. Suresh Babu.pdf"  target="_blank">Strategy for nutrition in extension capacity by Dr. Suresh Babu</a></li>
                                    <li><a href="{{STATIC_URL}}docs/events/Opportunities for Nutrition Extension through ATMA and MANAGE 10-11-2014_Dr. Uma Rani.pdf"  target="_blank">Opportunities for Nutrition Extension through ATMA by Dr.Uma Rani</a></li>
                                    <li><a href="{{STATIC_URL}}docs/events/Agriculture Nutrition Knowledge Sharing - Andhrapradesh Perspective by Dr. Hymavathi.pdf"  target="_blank">Presentation by Dr.Hymavathi,P.J.T.S. Agricultural University, Hyderabad </a></li>
                                    <li><a href="{{STATIC_URL}}docs/events/Presentation by Dr. Meera Singh on review of nutrition course  at Rajendra Agricultural University.pdf"  target="_blank">Presentation by Dr. Meera Singh, Rajendra Agricultural University, Bihar</a></li>
                                    <li><a href="{{STATIC_URL}}docs/events/Presentation by Dr. G.G. Kavitha Shree on Tamil Nadu Agricultural University.pdf"  target="_blank">Presentation by Dr. G.G. Kavitha Shree, Tamil Nadu Agricultural University</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="videos" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Videos from Workshop in India, November 2014</h2>
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="http://www.digitalgreen.org/blog/safansi-pilot-in-bihar/"  target="_blank">SAFANSI Pilot in Bihar</a></li>
                                    <li><a href="http://www.digitalgreen.org/blog/safansi-jeevika-topics/"  target="_blank">SAFANSI JEEViKA Topics</a></li>
                                    <li><a href="http://www.digitalgreen.org/blog/spring-overview/"  target="_blank">SPRING Overview</a></li>
                                    <li><a href="http://www.digitalgreen.org/blog/basantis-story-spring/"  target="_blank">Basanti's Story</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class='about-bg'>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Contact</h2>    
                    <div class='layout-vr-xlg'>
                        <p>For further information please write to us at</p><br/>
                        <a href="mailto:events@digitalgreen.org">events@digitalgreen.org</a>
                    </div>
                </div>
            </div>

        </section>

{% include "includes/footer.html" %}