{% include "includes/header.html" %}
        {% include "includes/partials/mainCarousel.html" %}
        
        <section id="about" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Events</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            
                        </div>
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="#" class="link1">Addis Ababa, Ethiopia - 7th February 2014</a></li>
                                    <li><a href="#" class="link2">New Delhi, India - 6/7 March, 2014</a></li>
                                </ul>
                            </div>
                            <div class="grid-rt grid-size2of4">
                               
                            </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="values" class='about-bg'>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Scaling up Digital Green in Ethiopia</h2>    
                    <div class='layout-vr-xlg'>
                        <div class="grid-lt grid-size1of3">
                               <img src="images/img1.jpg" alt="Scaling up Digital Green in Ethiopia">
                            </div>
                            <div class="grid-lt grid-size2of3">
                            <p>Consultative workshop to share experiences and collaborativelyrce insights for strengthening the Digital Green approach in Ethiopia.</p>
                            <ul class="new-list">
                            <li class="cal"><a href="javascript:void(0);">Feb 7, 2014 in ILRI Campus, Addis Ababa, Ethiopia</a></li>
                            <li class="pdf"><a href="images/docs/Scaling up Digital Green in Ethiopia - workshop agenda.pdf" target="_blank">Agenda</a></li>
                            <li class="spk"><a href="javascript:void(0);">List of Speakers</a></li>
                            <li class="mail"><a href="mailto:events@digitalgreen.org">events@digitalgreen.org</a></li>
                            </ul>
                            </div>
                            <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </section>
        
        
        <section id="ict" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Effectiveness of ICT for rural developement</h2>
                    <div class='layout-vr-xlg'>
                        <div class="grid-lt grid-size1of3">
                               <img src="images/img2.jpg" alt="Effectiveness of ICT for rural developement">
                            </div>
                            <div class="grid-lt grid-size2of3">
                            <p>Consultative workshop to share experiences on using ICT for rural developement and build a community of learning based on the Digital Green approach.</p>
                            <ul class="new-list">
                            <li class="cal"><a href="javascript:void(0);">March 6,7 2014 in Claridges, New Delhi</a></li>
                            <li class="pdf"><a href="javascript:void(0);">Agenda</a></li>
                            <li class="spk"><a href="javascript:void(0);">List of Speakers</a></li>
                            <li class="faq"><a href="images/docs/Frequently Asked Questions.pdf" target="_blank";>FAQs</a></li>
                            <li class="reg"><a href="#" data-val="0">Register Now</a></li>
                            <li class="mail"><a href="mailto:events@digitalgreen.org">events@digitalgreen.org</a></li>
                            </ul>
                            </div>
                            <div class="clearfix"></div>
                    </div>
                    
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="values" class='about-bg'>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Contact</h2>    
                    <div class='layout-vr-xlg'>
                        <p>For further information please write to us at</p><br/>
                        <a href="mailto:events@digitalgreen.org">events@digitalgreen.org</a>
                            
                            <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </section>
            <div class="follow">	
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <div class="hdg-follow">
                            <h3 class="hdg-a hdg-source-lt">Follow Us</h3>
                        </div>
                        <ul class="social" role="navigation">
						
                                                <li><a target='_blank' href="http://www.facebook.com/digitalgreenorg">
                                                    <h4 class="social-icon icon-fb">Facebook</h4>
                                                    <h5 class="sub-text hdg-c" id="fb-likes">4,363 <span>Likes</span></h5>
                                                </a></li>
                                                <li><a target='_blank' href="https://twitter.com/digitalgreenorg">
                                                    <h4 class="social-icon icon-twitter">Twitter</h4>
                                                    <h5 class="sub-text hdg-c">1,161 <span>Followers</span></h5>
                                                </a></li>
                                                <li><a target='_blank' href="http://www.youtube.com/user/digitalgreenorg">
                                                    <h4 class="social-icon icon-youtube">You Tube</h4>
                                                    <h5 class="sub-text hdg-c">2,944 <span>Videos</span></h5>
                                                </a></li>
                                                <li><a target='_blank' href="http://www.linkedin.com/company/619071">
                                                    <h4 class="social-icon icon-linkedin">Linked In</h4>
                                                    <h5 class="sub-text hdg-c">377                                                 <span>Followers</span></h5></a></li>
                                                <li><a target="_blank" href="https://plus.google.com/102360151388546073924/posts">
                                                    <h4 class="social-icon icon-gplus grid-pad-rt-tiny">Google Plus</h4>
                                                    <h5 class="sub-text hdg-c">112<span>Followers</span></h5>
                                                </a></li>
                       
                        </ul>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
            </div> <!-- End .follow -->
            
            <footer>
                <div class="footer" role="contentinfo">
                    <div class="wrapper">
                        <div class="inner-wrapper">
                            <nav role="navigation">
                                <ul class="copy-lt hdg-upper copy footer-links">
                                    <li><a href="/careers/">Careers</a></li>
                                    <li><a href="/press/">Press</a></li>
                                    <li><a href="/donate/">Donate</a></li>
                                    <li><a href="/contact/">Contact Us</a></li>
                                </ul>
                            </nav>
                            <a class="footer-btn" href="/coco/v2" target="_blank">Coco</a>
                        </div>
                    </div> <!-- End .inner-wrapper -->
                </div>  <!-- End .wrapper -->
                <div class="wrapper">
                    <div class="inner-wrapper">
                        <div class="copyright copy">
                            <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/in/"> (cc) 2013 Digital Green</a>
                        </div>
                    </div>
                </div>  <!-- End .wrapper -->
            </footer>
        </div>
        <!-- End Main Wrapper -->
        <!-- JAVASCRIPT -->

		
<script id="form-template" type="form/template">
<section class='about-bg' id="form-box">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Resources</h2> 
                    <ul class="new-tabs">
                    <li><a href="#" id="delhi" class="active">Within Delhi</a></li>
                    <li><a href="#" id="india">Rest of India</a></li>
                    <li><a href="#" id="international">International</a></li>
                    </ul>   
                    <div class="clearfix"></div>
					 

					<div class='layout-vr-xlg form-box' id="delhi-tab">
					<form name="form1" id="form1" method="post" enctype="multipart/form-data" >
						<div class="grid-lt grid-size2of3">
							<div id="result_area" style="color: #3EA441; font-weight:bold; font-size:18px" align="center"></div><br/>
							<div class="form-row">
							<div class="form-txt"><p>Prefix:</p></div><input type="text" id="Prefix" name="Prefix" />
							<!--end form-row --></div>
							<div class="form-row">
							<div class="form-txt"><p>Name:</p></div><input type="text" id="Name" name="Name"  />

							<!--end form-row --></div>
							<div class="form-row">
							<div class="form-txt"><p>Organization:</p></div><input type="text" id="Organization" name="Organization" required />

							<!--end form-row --></div>
							<div class="form-row">
							<div class="form-txt"><p>Designation:</p></div><input type="text" id="Designation" name="Designation"  />
							<!--end form-row --></div>
							<div class="form-row">
							<div class="form-txt"><p>Business Phone:</p></div><input type="text" id="Business_Phone" name="Business_Phone"  />
							<!--end form-row --></div>
							<div class="form-row">
							<div class="form-txt"><p>Mobile Number:</p></div><input type="text" id="Mobile_Number" name="Mobile_Number"  />
							<!--end form-row --></div>
							<div class="form-row">
							<div class="form-txt"><p>Business Address:</p></div><input type="text" id="Business_Address" name="Business_Address"  />
							<!--end form-row --></div>
							<div class="form-row">
							<div class="form-txt"><p>Email Address:</p></div><input type="text" id="email" name="email"  />
							<!--end form-row --></div>
							<div class="form-row">
							<div class="form-txt"><p>Rsvp:</p></div><input type="text" id="Rsvp" name="Rsvp"  />
							<!--end form-row --></div>
							<div class="form-row">
							<div class="form-txt"><p>&nbsp;</p></div> <!-- <input type="submit" class="new_btn" id="Submit1" name="Submit1" value="Submit" onclick="chekval();"/>-->
							<input type="button" name="Submit1" id="Submit1" value="Submit" class="new_btn" />
							<!--<button type="reset" class="new_btn">Reset</button>-->
							<input type="reset" name="Reset1" id="Reset1" value="Reset" class="new_btn" />
							<!--end form-row --></div>
						  
						</div>	
					</form>
		

                            <div class="clearfix"></div>
							
		
                    </div>
					
					
                    <div class='layout-vr-xlg form-box' id="india-tab">
					<form name="form2" id="form2" method="post" enctype="multipart/form-data" >
                    <div class="grid-lt grid-size3of3">
					<div id="result_area1" style="color: #3EA441; font-weight:bold; font-size:18px" align="center"></div><br/>
                        <div class="form-row">
                        <div class="form-txt"><p>Prefix:</p></div><input type="text" name="Prefix" id="Prefix"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Name:</p></div><input type="text" name="Name" id="Name"/>
						
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Organization:</p></div><input type="text" name="Organization" id="Organization"/>
						
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Designation:</p></div><input type="text" name="Designation" id="Designation"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Business Phone:</p></div><input type="text" name="Business_Phone" id="Business_Phone"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Mobile Number:</p></div><input type="text" name="Mobile_Number" id="Mobile_Number"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Business Address:</p></div><input type="text" name="Business_Address" id="Business_Address"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Email Address:</p></div><input type="text" name="email" id="email"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Rsvp:</p></div><input type="text" name="Rsvp" id="Rsvp"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Hotel:</p></div><input type="text" name="Hotel" id="Hotel"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Check in:</p></div><input type="text" name="Check_in" id="Check_in"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Check out:</p></div><input type="text" name="Check_out" id="Check_out"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Flight Information:</p></div><input type="text" name="Flight_Information" id="Flight_Information"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>First Name:</p></div><input type="text" name="First_Name" id="First_Name"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Middle Name:</p></div><input type="text" name="Middle_Name" id="Middle_Name"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Last Name:</p></div><input type="text" name="Last_Name" id="Last_Name"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Gender:</p></div><input type="text" name="Gender" id="Gender"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Day of Birth (Example 21):</p></div><input type="text" name="Day_of_Birth" id="Day_of_Birth"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Month of Birth (Example January):</p></div><input type="text" name="Month_of_Birth" id="Month_of_Birth"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Year of Birth (Example 1971):</p></div><input type="text" name="Year_of_Birth" id="Year_of_Birth" />
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Home Airport:</p></div><input type="text" name="Home_Airport" id="Home_Airport"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Departing Date Preference:</p></div><input type="text" name="Departing_Date_Preference" id="Departing_Date_Preference"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Departing Time Preference:</p></div><input type="text" name="Departing_Time_Preference" id="Departing_Time_Preference"/>
                        <!--end form-row --></div>
                          <div class="form-row">
                        <div class="form-txt"><p>Return Date Preference:</p></div><input type="text" name="Special_Meal" id="Special_Meal"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Return Time Preference:</p></div><input type="text" name="Return_Time_Preference" id="Return_Time_Preference"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Seat Preference:</p></div><input type="text" name="Seat_Preference" id="Seat_Preference"/>
                        <!--end form-row --></div>
                        <div class="form-row">

                        <div class="form-txt"><p>Special Meal:</p></div><input type="text" name="Special_Meal" id="Special_Meal"/>
                        <!--end form-row --></div>
                          <div class="form-row">
                        <div class="form-txt"><p>Airline Comments/Requirements:</p></div><input type="text" name="Airline_Comments_Requirements" id="Airline_Comments_Requirements"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>&nbsp;</p></div>  <!--<button type="submit" class="new_btn">Submit</button>
                        <button type="reset" class="new_btn">Reset</button>-->
						<input type="button" name="Submit2" id="Submit2" value="Submit"  class="new_btn"/>
							<!--<button type="reset" class="new_btn">Reset</button>-->
							<input type="reset" name="Reset2" id="Reset2" value="Reset" class="new_btn" />
                        <!--end form-row --></div>
                      
                         </div>   
						 </form>
                            <div class="clearfix"></div>
                    </div>
					
					
                    <div class='layout-vr-xlg form-box' id="international-tab">
					<form name="form3" id="form3" method="post" enctype="multipart/form-data" >
                    <div class="grid-lt grid-size3of3">
					<div id="result_area2" style="color: #3EA441; font-weight:bold; font-size:18px" align="center"></div><br/>
                        <div class="form-row">
                        <div class="form-txt"><p>Prefix:</p></div><input type="text" name="Prefix" id="Prefix"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Name:</p></div><input type="text" name="Name" id="Name"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Email Address:</p></div><input type="text" name="email" id="email"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Organization:</p></div><input type="text" name="Organization" id="Organization"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Business Address:</p></div><input type="text" name="Business_Address" id="Business_Address"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Business Phone:</p></div><input type="text" name="Business_Phone" id="Business_Phone"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Mobile Phone:</p></div><input type="text" name="Mobile_Phone" id="Mobile_Phone"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Emergency Contact:</p></div><input type="text" name=">Emergency_Contact" id=">Emergency_Contact"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Assistant Contact Name &amp; Email Address:</p></div><input type="text" name="Assistant_Contact_Name" id="Assistant_Contact_Name" />
                        <!--end form-row --></div>
                        
                       
                        
                        <div class="form-row">
                        <div class="form-txt"><p>Personal Needs: Dietary Needs:</p></div><input type="text" name="Personal_Needs" id="Personal_Needs"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Any other personal needs or special assistance required? </p></div><input type="text" name="other_personal_needs" id="other_personal_needs"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Hotel:</p></div><input type="text" name="Hotel" id="Hotel" />
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Check in:</p></div><input type="text" name="Check_in" id="Check_in"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Check out:</p></div><input type="text" name="Check_out" id="Check_out"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Hotel Notes:</p></div><input type="text" name="Hotel_Notes" id="Hotel_Notes"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Travel Information:</p></div><input type="text" name="Travel_Information" id="Travel_Information"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>International Travel:</p></div><input type="text" name="International_Travel" id="International_Travel"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Passport:</p></div><input type="text" name="Passport" id="Passport"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Exp Date:</p></div><input type="text" name="Exp_Date" id="Exp_Date"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Country of Issuance:</p></div><input type="text" name="Country_of_Issuance" id="Country_of_Issuance"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Flight Information:</p></div><input type="text" name="Flight_Information" id="Flight_Information"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>First Name:</p></div><input type="text" name="First_Name" id="First_Name"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Middle Name:</p></div><input type="text" name="Middle_Name" id="Middle_Name"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Last Name:</p></div><input type="text" name="Last_Name" id="Last_Name"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Country of Citizenship:</p></div><input type="text" name="Country_of_Citizenship" id="Country_of_Citizenship"/>
                        <!--end form-row --></div>
                          <div class="form-row">
                        <div class="form-txt"><p>Gender:</p></div><input type="text" name="Gender" id="Gender" />
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Day of Birth (Example 21):</p></div><input type="text"   name="Day_of_Birth" id="Day_of_Birth"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Month of Birth (Example January):</p></div><input type="text"  name="Month_of_Birth" id="Month_of_Birth" />
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Year of Birth (Example 1971):</p></div><input type="text"  name="Year_of_Birth" id="Year_of_Birth"/>
                        <!--end form-row --></div>
                          <div class="form-row">
                        <div class="form-txt"><p>Home Airport:</p></div><input type="text"   name="Home_Airport" id="Home_Airport"/>
                        <!--end form-row --></div>
                          <div class="form-row">
                        <div class="form-txt"><p>Departing Date Preference:</p></div><input type="text"   name="Departing_Date_Preference" id="Departing_Date_Preference"/>
                        <!--end form-row --></div>
                          <div class="form-row">
                        <div class="form-txt"><p>Departing Time Preference:</p></div><input type="text"   name="Departing_Time_Preference" id="Departing_Time_Preference"/>
                        <!--end form-row --></div>
                          <div class="form-row">
                        <div class="form-txt"><p>Return Date Preference:</p></div><input type="text"  name="Return_Date_Preference" id="Return_Date_Preference"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Return Time Preference:</p></div><input type="text"  name="Return_Time_Preference" id="Return_Time_Preference"/>
                        <!--end form-row --></div>
                         <div class="form-row">
                        <div class="form-txt"><p>Seat Preference:</p></div><input type="text"  name="Seat_Preference" id="Seat_Preference"/>
                        <!--end form-row --></div>
                             <div class="form-row">
                        <div class="form-txt"><p>Special Meal:</p></div><input type="text" name="Special_Meal" id="Special_Meal"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>Airline Comments/Requirements:</p></div><input type="text"  name="Airline_Comments_Requirements" id="Airline_Comments_Requirements"/>
                        <!--end form-row --></div>
                        <div class="form-row">
                        <div class="form-txt"><p>&nbsp;</p></div>  <!--<button type="submit" class="new_btn">Submit</button>
                        <button type="reset" class="new_btn">Reset</button>-->
						<input type="button" name="Submit3" id="Submit3" value="Submit" class="new_btn" />
							<!--<button type="reset" class="new_btn">Reset</button>-->
							<input type="reset" name="Reset3" id="Reset3" value="Reset" class="new_btn" />
                        <!--end form-row --></div>
                      
                         </div> 
						</form>						 
                            <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </section>
{% include "includes/footer.html" %}