{% include "includes/header.html" %}
{% include "includes/partials/search.html" %}
{% load app_tags %}

<section class="gradientBg">
    <div id="main" role="main" class="wrapper">
        <div class="inner-wrapper" id="collection-view">
            <div class="grid layout-vr-sm">
                <div class="grid-col grid-size4of5">
                    <h1 class="hdg-bold hdg-a layout-vr-tiny">{{ object.title}} in {{ object.state}}</h1>
                </div>
                <div class="grid-col grid-size1of5">
                    {% for group in user.groups.all %}
                    {% if group.name == 'Collection Czars' %}
                    <ul class="filterOptions hdg-upper copy clearfix js-most-filters grid-rt">
                        <li><a href="{% url 'edit_collection' object.uid %}" class="icon-coll-edit icon-addedit" title="Edit this Collection"></a></li>
                    </ul>
                    {% endif %}
                    {% endfor %}
            </div> 
        </div>
    </div>
</section>

<section class="layout-vr-lg">
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="grid layout-vr-md">
                <div class="grid-col grid-size1of4 layout-vr-lg">
                    <div class="featured-collection-ul grid-margin-rt-sm layout-vr-lg">

                        <div class="featured-ft-videoDetails" data-collection-count='{{ object.videos.all|length }}' data-video-uid='{{video.uid}}' data-collection-id='{{object.uid}}'>
                            <ul class="h-list h-list-sm h-list-divided hdg-source-lt hdg-e">
                                <li>{{ object.videos.all|length }} Videos</li>
                                <li>{{ collection_duration|seconds_to_duration }}</li>
                            </ul>
                        </div>
                        <ul>
                            {% for carousel_video in video_list %}
                            <li class="featured-collection-li js-featured-collection-li {% if forloop.counter == video_index %} now-playing {% endif %}">
                                <a href="{% url 'collection_video_page' object.partner.name object.state object.language object.title forloop.counter %}" >
                                    <div class="featured-collection-indicator"></div>
                                    <div class="featured-collection-title">
                                        {{ carousel_video.title }}
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        <ul>
                    </div>
                    <h2 class="hdg-a hdg-source-lt layout-vr-sm">More Collections</h2>
                    <ul class="v-list">               
                        {% for related in related_collections %}
                        <li>
                            <div class="vid-cat-selected">
                                <div class="vid-cat">
                                    <a href="{{related.url}}">
                                        <img height=124  width=217 src={{related.thumbnailURL}} />
                                    </a>
                                    <div class="vid-star">
                                    </div>
                                    <div class="vid-flag">
                                        <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                                            <li>{{related.videos|length}} Videos</li>
                                            <li>{{related.duration|seconds_to_duration}}</li>
                                        </ul>
                                    </div>
                                    <div class="vid-cat-inner">
                                        <div class="vid-cat-hd">
                                            <h3 class="hdg-green hdg-f hdg-bold">{{related.title}}</h3>
                                        </div>
                                        <div class="vid-cat-bd">
                                            <p class="copy copy-sm layout-vr-tiny">{{related.state}} | {{related.language}}</p>
                                            <p class="copy copy-sm">By: {{related.partner}}</p>
                                        </div>
                                        <div class="vid-cat-ft">
                                            <ul class="h-list h-list-sm copy-sm copy-lt vid-cat-list">
                                                <li class="like"><span class="text-hide">Likes</span> {{related.likes}}</li>
                                                <li class="view"><span class="text-hide">Viewed</span> {{related.views}}</li>
                                                <li class="check"><span class="text-hide">Adopted</span> {{related.adoptions}}</li>
                                            </ul>
                                        </div>
                                    </div> <!-- End .vid-inner -->
                                </div> <!-- End .vid-cat -->
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="grid-col grid-size3of4 layout-vr-sm">
                    <div class="grid-pad-lt-md">
                        <div class="media">
                            <div class="img img-size-sq-small">
                                <a href="{% url 'partner' object.partner.name %}"><img src="{{ object.partner.logoURL.url }}" alt="" /></a>
                                <h2 class="copy hdg-bold"><a href="{% url 'partner' object.partner.name %}">{{ object.partner.name }}</a></h2>
                            </div>
                            <div class="hdg-source-reg hdg-f">{{object.description|safe}}</div>
                        </div> <!-- End .media -->
                        


                        <div class="media">
                            <div class="featured-video-wrapper layout-vr-tiny" data-slide="{{video_index}}">
                                <h2 class="hdg-c hdg-source-semibold layout-vr-tiny">{{video.title}}</h2>
                                <!-- Implementation Note: include the youtube video id and video uid in the data tag below -->
                                <div id="video-target" data-video-id="{{video.youtubeID}}" data-video-uid="{{video.uid}}">
                                    You need Flash player 8+ and JavaScript enabled to view this video.
                                </div> 
                            </div>
                        </div>

                        <div class="grid layout-vr-md">
                            <div class="grid-col hdg-f hdg-source-reg grid-size4of5 ">
                                {{video.description}}
                            </div>
                            <div class= "grid-col grid-size1of5">
                                <div class="grid-rt">
                                    <div class="layout-vr-sm">
                                        <!-- Implementation Note: the data attribute on the button below must be present on page load for like functionality to work -->
                                        {% if not request.user.is_authenticated %}
                                        <a class="btn like-btn" href="/login/?next={{request.path|urlencode}}"><div class="icon"></div><span class="label">Like</span></a>
                                        {% else %}
                                        <a class="btn like-btn js-like-button" data-video-uid="{{video.uid}}"><div class="icon"></div><span class="label">Like</span></a>
                                        {% endif %}
                                    </div>
                                    <a class="btn share-btn"><div class="icon"></div>
                                        <span class="label">Share</span>
                                        <div class="sharethis-wrapper">
                                            <div class='st_facebook_hcount' displayText='Facebook'></div>
                                            <div class='st_twitter_hcount' displayText='Tweet'></div>
                                            <div class='st_linkedin_hcount' displayText='LinkedIn'></div>
                                            <div class='st_email_hcount' displayText='Email'></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="grid layout-vr-sm push-top-md">
                            <div class="grid-col grid-size1of3 grid-lt">
                                <!-- Video Stats -->
                                <div class="collection-stats featured-collection-stats">
                                    <div class="stat-bar-wrapper clearfix js-stat-bar-wrapper">
                                        <div class="icon adopted"></div>
                                        <div class="stat-bar-container">
                                            <!-- <div class="left-value js-left-value"></div> -->
                                            <div class="right-value js-right-value"></div>
                                            <div class="stat-bar js-stat-bar" data-left-value="0" data-right-value="{{video.adoptions}}">
                                                <div class="stat-indicator js-stat-indicator"></div>
                                            </div>
                                            <div class="right-stat-label">Adopted</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3">
                                <div class="collection-stats featured-collection-stats">
                                    <div class="stat-bar-wrapper clearfix js-stat-bar-wrapper">
                                        <div class="icon views"></div>
                                        <div class="stat-bar-container">
                                            <div class="left-value js-left-value"></div>
                                            <div class="right-value js-right-value"></div>
                                            <div class="stat-bar js-stat-bar" data-left-value="{{video.onlineViews}}" data-right-value="{{video.offlineViews}}">
                                                <div class="stat-indicator js-stat-indicator"></div>
                                            </div>
                                            <div class="left-stat-label">Online Views</div>
                                            <div class="right-stat-label">Offline Views</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 grid-rt">
                                <div class="collection-stats featured-collection-stats">
                                    <div class="stat-bar-wrapper clearfix js-stat-bar-wrapper">
                                        <div class="icon likes"></div>
                                        <div class="stat-bar-container">
                                            <div class="left-value js-left-value"></div>
                                            <div class="right-value js-right-value"></div>
                                            <div class="stat-bar js-stat-bar" data-left-value="{{video.onlineLikes}}" data-right-value="{{video.offlineLikes}}">
                                                <div class="stat-indicator js-stat-indicator"></div>
                                            </div>
                                            <div class="left-stat-label">Online Likes</div>
                                            <div class="right-stat-label">Offline Likes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hdg-a hdg-source-lt layout-vr-sm">
                            <span class="js-comment-count"></span> Comments
                        </div>
                        
                        <div class="js-comments-feed-wrapper commentBox">
                            <div class="commentBox-form">
                                <div class="media commentLeft-border">
                                    <div class="img">
                                        {% if "facebook" == request.user.social_auth.all.0.provider %}
                                        <img src="https://graph.facebook.com/{{request.user.social_auth.all.0.uid}}/picture">
                                        {% elif "google-oauth2" == request.user.social_auth.all.0.provider %}
                                        <img  src=" {{request.user.social_auth.all.0.extra_data.picture}}?sz=60">
                                        {% endif %}

                                    </div>
                                    <div class="bd">
                                        <form>
                                            <label for="comment" class="text-hide">Comment</label>
                                            <textarea class="comment-text" id="comment"></textarea>
                                            {% if not request.user.is_authenticated %}
                                            <div class="layout-vr-md"></div>
                                            <div class="centered layout-vr-sm">
                                                <a class="comment-btn" href="/login/?next={{request.path|urlencode}}">Add a Comment</a>
                                            </div>
                                            {% else %}
                                            <div class="grid layout-vr-tiny">

                                                <div class="grid-rt">
                                                    <p class="copy">Posting as {{request.user.first_name}} {{request.user.last_name}} </p>
                                                </div>
                                            </div>
                                            <div class="centered">
                                                <input type="submit" value="Add a Comment" class="comment-btn js-comment-btn" />
                                            </div>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                                <div class="js-comment-wrapper"  data-video-uid='{{video.uid}}'>
                                    <ol class="comment-list js-comment-list">
                                        <!-- dynamic comments content here -->
                                    </ol>
                                </div>
                                <div class="centered layout-vr-sm">
                                    <a class="btn js-comments-show-more-btn" href="#">Show More</a>
                                </div>
                            </div> <!-- End .commentBox-form -->
                        </div> <!-- End .commentBox -->
                    </div>
                </div><!-- End .grid-col -->
            </div>
        </div>
    </div>                         
</section>

{% include "includes/footer.html" %}
