{% include "includes/header.html" %}
    
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">Voices from the Field</h2>
                        <ul class="link-list">
                            <li><a href="#voicesmarch">Voices from the Field (Ethiopia) - February, 2015</a></li>
                            <li><a href="#voices">Voices from the Field - March, 2014</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section  id="voicesmarch" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Voices from the Field - March, 2014</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456081/content?start_page=1&view_mode=scroll&access_key=key-pDjqCpRIahd1ixuowgs6&show_recommendations=true" data-auto-height="false" data-aspect-ratio="0.7022603273577552" scrolling="no" id="doc_88153" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/success_stories/Voices-Ethiopia-February-2015.pdf" target="_blank"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="voices" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Voices from the Field</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456128/content?start_page=1&view_mode=scroll&access_key=key-CXBtBOOsoAU6QrWlL26N&show_recommendations=true" data-auto-height="false" data-aspect-ratio="0.7044566067240031" scrolling="no" id="doc_67186" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/success_stories/Voices.pdf" target="_blank"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}