{% include "includes/header.html" %}
    {% include "includes/partials/mainCarousel.html" %}
	{% load app_tags %}
    <section id="main" role="main" class="wrapper">
        <div class="inner-wrapper">
            <header class="grid">
                <div class="grid-col grid-size1of3">
                    <div class="grid-pad-rt-md">
                        <h2 class="hdg-b hdg-source-lt layout-vr-sm">Who we are</h2>
                        <p class="copy">A not-for-profit organization, using an innovative digital platform to improve agriculture, livelihoods and health
						</p>
                        <a  href="{% url 'about' %}" class="btn">About us</a>   
					</div>
                </div>
                <div class="grid-col grid-size1of3">
                    <div class="borderLt grid-pad-rt-md">
                        <h2 class="hdg-b hdg-source-lt layout-vr-sm">What we do</h2>
                        <p class="copy">Engaging with rural communities to produce localized videos disseminated through human mediation</p>
						<a  href="{% url 'ourwork' %}" class="btn">Our Work</a>
                    </div>
                </div>
                <div class="grid-col grid-size1of3">
                    <div class="borderLt  grid-pad-rt-tiny">
                        <h2 class="hdg-b hdg-source-lt layout-vr-sm">Who we work with</h2>
                        <p class="copy">Prominent public, private and civil society organizations in the rural health and development space</p>
						<a href="{% url 'connect' %}" class="btn">Our Partners</a>
                    </div>
                </div>
            </header>
            <!--div class="featured layout-vr-xlg">
                <div class="grid js-featured-collection-wrapper">
                </div>
            </div> <!-- End .featured -->
        </div> <!-- End .inner-wrapper -->
    </section> <!-- End .wrapper -->
    
    <section class="mainBg-gradient">
        <div class="wrapper">
            <div class="inner-wrapper js-collections-wrapper">
                <header class="clearfix layout-vr-lg">
                    <div class="grid-col">
                        <h1 class="hdg-a hdg-source-lt">Videos <h3 class="hdg-e hdg-source-lt"> Produced by our network of partners and rural communities</h3></h1> 
                    </div>
                    <div class="grid-rt">
                        {% include "includes/partials/mostFilters.html"%}
                    </div>
                </header> <!-- End .clearfix -->
                <ul class="blocks blocks-4-up clearfix js-collections-container">

                        <!-- Dynamic Collections Content Here -->

                </ul>
                <div class="gradientBg-ft ">
                    <!--div class="pagination-wrapper js-pagination">
                    </div-->
                    <div class="gradientBg-ft-btn">
                        <a href="{% url 'discover' %}" class="btn">See All Videos</a>
                    </div>
                </div>
            </div> <!-- End .inner-wrapper -->
        </div> <!-- End .wrapper -->
    </section>
    
    <section class="wrapper mainBg-white">
        <div class="grid inner-wrapper js-news-feed-wrapper">
            <div class="grid-col grid-size2of4">
                <h2 class="hdg-a hdg-source-lt layout-vr-md">News</h2>
                <ul class="v-list-md js-news-feed-container">
                    <!-- Dynamic News Feed Content Here -->
                </ul>
            </div>
            <div class="grid-col grid-size2of4">
                <div class="borderLt">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Resources</h2>
                    <ul class="v-list-md">
                        <li class="js-news-feed-item">
                            <article class="media">
                                <div class="bd">
                                    <div class="layout-vr-sm"> <!-- bd-text  -->
                                        <div class="grid">
                                            <div class="grid-col grid-size1of3">
                                                <a href="{% url 'resources' %}#annualreport13"><img src="/media/social_website/content/homepage/annualreport.png" target="{% url 'resources' %}#annualreport13"></a>
                                            </div>
                                            <div class="grid-col grid-size2of3">
                                                <a href="{% url 'resources' %}#annualreport13"><h3 class="hdg-green copy layout-vr-tiny hdg-bold">Annual Report 2013</h3></a>
                                                <p class="copy">
                                                    A comprehensive description of Digital Green’s activities throughout the preceding year(2012-2013)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End .bd -->
                            </article>
                        </li>
                        <li class="js-news-feed-item">
                            <article class="media">
                                <div class="bd">
                                    <div class="layout-vr-sm"> <!-- bd-text  -->
                                        <div class="grid">
                                            <div class="grid-col grid-size1of3">
                                                <a href="{{STATIC_URL}}docs/Digital-Green-Key-Facts.pdf"><img src="/media/social_website/content/homepage/keyfacts.png" target="_blank"></a>
                                            </div>
                                            <div class="grid-col grid-size2of3">
                                                <a href="{{STATIC_URL}}docs/Digital-Green-Key-Facts.pdf"><h3 class="hdg-green copy layout-vr-tiny hdg-bold">Key Facts</h3></a>
                                                <p class="copy">
                                                    A quick introduction to Digital Green’s process, approach and field of activities across South Asia and Sub-Saharan Africa.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End .bd -->
                            </article>
                        </li>
                        <li class="js-news-feed-item">
                            <article class="media">
                                <div class="bd">
                                    <div class="layout-vr-sm"> <!-- bd-text  -->
                                        <div class="grid">
                                            <div class="grid-col grid-size1of3">
                                                <a href="{{STATIC_URL}}docs/success_stories/Voices.pdf"><img src="/media/social_website/content/homepage/voices.png" target="_blank"></a>
                                            </div>
                                            <div class="grid-col grid-size2of3">
                                               <a href="{{STATIC_URL}}docs/success_stories/Voices.pdf"><h3 class="hdg-green copy layout-vr-tiny hdg-bold">Voices from the Field</h3></a>
                                                <p class="copy">
                                                    A compilation of stories of some of the many lives Digital Green has touched in different ways.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- End .bd -->
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- End .inner-wrapper -->
    </section>
    <section class="mainBg-gradient">
        <div class="wrapper layout-vr-xlg">

            <!-- Quotes from known people-->
            <div class="inner-wrapper grid">
                <h2 class="hdg-a hdg-source-lt layout-vr-md">What they are saying</h2>
                <div class="grid-col grid-size3of5">
                    <div class="grid">
                        <div class="grid-col grid-size1of3">
                            <a href="http://www.fastcoexist.com/1681756/the-4-ideas-that-melinda-gates-thinks-are-changing-the-world"><img src="/media/social_website/content/homepage/melindagates.png" height="120px"></img></a>
                            <p class="hdg-e grid-pad-lt-tiny">Melinda Gates</p>
                        </div>
                        <div class="grid-col grid-size2of3">
                            <p class="hdg-f copy-italic">"There's a technology called Digital Green in India that started on a very small scale, and it's now spreading very broadly in a number of communities," Gates says. "It allows you to go into a local community with a tiny little projector — basically the size of a recording device these days — set it up, and let the farmers record themselves about the new agricultural [best practices] they've learned."</p>
                        </div>
                    </div>
                </div>
                <div class="grid-col grid-size1of5">
                    <article class="media">
                        <div class="bd">
                            <a href="http://opinionator.blogs.nytimes.com/2013/04/03/where-youtube-meets-the-farm/?_php=true&_type=blogs&_r=0"><img src="/media/social_website/content/homepage/nyt.png" height="100px" class="grid-rt grid-pad-rt-tiny"></img></a>
                            <a href="https://blogs.worldbank.org/endpovertyinsouthasia/digital-libraries-poor"><img src="/media/social_website/content/homepage/wb.png" height="100px" class="grid-rt grid-pad-rt-tiny push-top-tiny"></img></a>
                        </div>
                    </article>
                </div>
                <div class="grid-col grid-size1of5">
                    <article class="media">
                        <div class="bd">
                            <a href="http://yourstory.com/2014/03/vodafone-yourstory-agriculture-meetup-digital-green/"><img src="/media/social_website/content/homepage/ys.png" height="100px"></img></a>
                            <a href="http://www.bbc.com/news/technology-23867132"><img src="/media/social_website/content/homepage/bbctech.jpeg" height="100px"></img></a>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>

{% include "includes/footer.html"%}