{% include "includes/header.html" %}
    {% include "includes/partials/mainCarousel.html" %}
	{% load app_tags %}
    <section id="main" role="main" class="wrapper">
        <div class="inner-wrapper layout-vr-xlg">
            <header class="grid">
                <div class="grid-col grid-size1of3">
                    <div class="grid-pad-rt-md">
                        <h2 class="hdg-c hdg-source-lt layout-vr-sm">Who we are</h2>
                        <p>We are an international not-for-profit organization, using an innovative digital platform for community engagement to improve livelihoods of rural communities across South Asia and Sub-Saharan Africa.
						</p>
						<a href="" class="hdg-green copy hdg-bold">Know more about us</a>
                    </div>
                </div>
                <div class="grid-col grid-size1of3">
                    <div class="borderLt grid-pad-rt-md">
                        <h2 class="hdg-c hdg-source-lt layout-vr-sm">What we do</h2>
                        <p>We engage with and empower rural communities to produce participatory localized videos on improved agricultural, livelihood, health, and nutrition practices and disseminate these videos through human mediation. These videos are of the community, by the community and for the community.</p>
						<a href="" class="hdg-green copy hdg-bold">Know more about our work</a>
                    </div>
                </div>
                <div class="grid-col grid-size1of3">
                    <div class="borderLt  grid-pad-rt-tiny">
                        <h2 class="hdg-c hdg-source-lt layout-vr-sm">Who we work with</h2>
                        <p>Our partners include prominent public, private and civil society organizations in the fields of rural development, research and technology. The Ministry of Rural Development (Government of India), Bill & Melinda Gates Foundation, and Department for International Development are some of our key supporters.</p>
						<a href="" class="hdg-green copy hdg-bold">Know more about our partners and investors</a>
                    </div>
                </div>
            </header>
            <!--div class="featured layout-vr-xlg">
                <div class="grid js-featured-collection-wrapper">
                </div>
            </div> <!-- End .featured -->
        </div> <!-- End .inner-wrapper -->
    </section> <!-- End .wrapper -->
    
    <section class="gradientBg">
        <div class="wrapper">
            <div class="inner-wrapper js-collections-wrapper">
                <header class="clearfix layout-vr-lg">
                    <div class="grid-col">
                        <h1 class="hdg-a hdg-source-lt">Collections</h1>
                    </div>
                    <div class="grid-rt">
                        {% include "includes/partials/mostFilters.html"%}
                    </div>
                </header> <!-- End .clearfix -->
                <ul class="blocks blocks-4-up clearfix js-collections-container">

                        <!-- Dynamic Collections Content Here -->

                </ul>
                <div class="gradientBg-ft ">
                    <!--div class="pagination-wrapper js-pagination">
                    </div-->
                    <div class="gradientBg-ft-btn">
                        <a href="{% url 'discover' %}" class="btn">See All Collections</a>
                    </div>
                </div>
            </div> <!-- End .inner-wrapper -->
        </div> <!-- End .wrapper -->
    </section>
    
    <section class="wrapper layout-vr-xlg">
        <div class="grid inner-wrapper js-news-feed-wrapper">
            <div class="grid-col grid-size2of4">
                <h2 class="hdg-a hdg-source-lt layout-vr-md">News</h2>
                <ul class="v-list-md js-news-feed-container">
                    <!-- Dynamic News Feed Content Here -->
                </ul>
            </div>
            <div class="grid-col grid-size2of4">
                <div class="borderLt">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Resources</h2>
                    <ul class="v-list-md">
    <li class="js-news-feed-item">
                            <article class="media">
                                <div class="bd">
                                    <div class="bd-text layout-vr-sm">
                                        <div class="copy copy-lt layout-vr-sm">May 05, 2014</div>
                                        <a href="https://www.facebook.com/digitalgreenorg/posts/10152334409865219"><h3 class="hdg-green copy layout-vr-tiny hdg-bold">Digital Green</h3></a>
                                        <p class="copy">
                                            More innovations from VARRAT, our partner in the Indian state of Odisha! A low cost tracking tripod dolly kit which helps capture smooth tracking shots and Chinese LED lanterns used as low cost alternative for lighting during video shoots.
                                        </p>
                                    </div>
                                    <div class="grid js-assets-container">
                                        <ul class="h-list layout-vr-md">
                                            <li>
                                                <a href="https://www.facebook.com/digitalgreenorg/photos/pcb.10152334409865219/10152334408630219/?type=1&amp;relevant_count=3"><img src="/media/social_website/uploads/facebook/10152334409865219.jpg" target="_blank" height="112px" width="170px" alt="Image from Facebook"></a>
                                            </li>
                                        </ul>

                                    </div> <!-- End .grid -->
                                </div> <!-- End .bd -->
                            </article>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- End .inner-wrapper -->
    </section>

{% include "includes/footer.html"%}