<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Digital Green</title>
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/screen.css" />
    </head>
    
    <body>
        <div class="wrapper-main wrapper wrapper-responsive">
            <div class="wrapper-responsive">
                <div class="clearfix">
                    <header class="global-nav">
                        <div class="wrapper wrapper-responsive">
                            <nav class="inner-nav">
                                <ul class="nav">
                                    <li class="logo"><a href="{% url 'home'%}">Green Digital</a></li>
                                </ul>
                            </nav> <!-- End .inner-nav -->
                        </div>  <!-- End .wrapper -->
                    </header> <!-- End .global-nav -->
                </div>
            </div>
            <section class="about-bg login-bg section-dim">
                <div class="wrapper wrapper-responsive">
                    <div class="inner-wrapper">
                        <div class="auth-box">
                            <h2 class="hdg-a hdg-white layout-vr-md push-top-md">Sign In<span class="hdg-f auth-mrg-lt"><a href="{% url 'signup'%}" class="hdg-white hdg-bold">Sign Up</a></span></h2>
                            <div class="media layout-vr-xlg">
                                <div class="social-wrap">
                                    <a href="{% url 'social:begin' 'facebook' %}?next={{next}}"><button class="facebook">Sign up with Facebook</button></a>
                                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{next}}"><button class="googleplus">Sign up with Google</button></a>
                                </div>
                                
                                <p class="hdg-e hdg-lt hdg-white key auth-mrg-top">OR</p>
                                
                                    {% if form.errors %}
                                        {% for error in form.non_field_errors %}
                                            <p class="hdg-source-reg hdg-white auth-err-msg auth-err-box"> Wrong Username and Password</p>
                                        {% endfor %}
                                    {% endif %}
                                
                                {% load app_tags %}
                                <form method="post" action="/login/" class="auth-mrg-top">
                                    {% csrf_token %}
                                    <div class="auth hdg-source-reg hdg-white">
                                        {{ form.username|placeholder:"Email address/Username" }}
                                        {% if form.username.errors %}
                                            <div class="auth-err-box">
                                                {{ form.username.errors }}
                                            </div>
                                        {% endif %}
                                        {{ form.password|placeholder:form.password.label }}
                                        {% if form.password.errors %}
                                            <div class="auth-err-box">
                                                {{ form.password.errors }}
                                            </div>
                                        {% endif %}
                                        <!-- <a href="" class="hdg-white">Forgot your password?</a> -->
                                    </div>
                                    <input type="submit" value="Sign In" class="comment-btn auth-btn"/>
                                    {% if next %}
                                        <input type="hidden" name="next" value="{{next}}" />
                                    {% else %}
                                        <input type="hidden" name="next" value="/" />
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div> <!-- End .inner-wrapper -->
                </div> <!-- End .wrapper -->
            </section>
        </div>
        {% include "includes/auth-js.html" %}
    </body>
</html>