{% include "includes/header.html" %}
    
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-a hdg-source-lt layout-vr-md">Working Across Geographies</h2>
                            <ul class="link-list">
                                <li><a href="#nrlm">Partnership with India’s National Rural Livelihood Mission</a></li>
                                <li><a href="#dgafrica">Digital Green in Africa</a></li>
                                <li><a href="#dgethiopia">Digital Green in Ethiopia</a></li>
                                <li><a href="#dgghana">Digital Green in Ghana</a></li>
                            </ul>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-a hdg-source-lt layout-vr-md">Working to Create Change</h2>
                            <ul class="link-list">
                                <li><a href="#health">Improving Health Behaviours in India</a></li>
                                <li><a href="#ict">Facilitating ICT-enabled Improvements in Food Security and Health Outcomes in India</a></li>
                                <li><a href="#impact">Ensuring Quality of Processes and Content for Optimized Impact</a></li>
                                <li><a href="#capacity">Capacity Building for Community Empowerment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="nrlm" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Partnership with India’s National Rural Livelihood Mission</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/231938099/content?start_page=1&view_mode=scroll&show_recommendations=false" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_38757" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report13.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="dgafrica" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Digital Green in Africa</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/157647606/content?start_page=1&view_mode=scroll&show_recommendations=false" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_38757" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report12.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="dgethiopia" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Digital Green in Ethiopia</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/79824595/content?start_page=1&amp;view_mode=scroll&show_recommendations=false" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_98872" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report10-11.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section  id="dgghana" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Digital Green in Ghana</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260457074/content?start_page=1&view_mode=scroll&access_key=key-ZFt4EakR9TcAJ1O41RzF&show_recommendations=true" data-auto-height="false" data-aspect-ratio="1.420472440944882" scrolling="no" id="doc_63101" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report09-10.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="health" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Improving Health Behaviours in India</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/231938099/content?start_page=1&view_mode=scroll&show_recommendations=false" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_38757" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report13.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="ict" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Facilitating ICT-enabled Improvements in Food Security and Health Outcomes in India</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/157647606/content?start_page=1&view_mode=scroll&show_recommendations=false" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_38757" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report12.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="impact" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Ensuring Quality of Processes and Content for Optimized Impact</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/79824595/content?start_page=1&amp;view_mode=scroll&show_recommendations=false" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_98872" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report10-11.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section  id="capacity" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Capacity Building for Community Empowerment</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260457074/content?start_page=1&view_mode=scroll&access_key=key-ZFt4EakR9TcAJ1O41RzF&show_recommendations=true" data-auto-height="false" data-aspect-ratio="1.420472440944882" scrolling="no" id="doc_63101" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report09-10.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}