{% include "includes/header.html" %}
        
        <section id="ourwork" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Our Work</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/our_work.jpg" alt="" />
                        </div>
                        <div>
                            <p class="copy copy-para">We work with existing, people-based extension systems, aiming to amplify their effectiveness through our ICT-enabled approach. Our model combines technology and social organization to maximize the potential of building the capacity of community members on improved, sustainable agriculture, livelihood and health interventions.
                            </p>
                            <p class="copy copy-para">We also facilitate knowledge exchange between community engagement for partners looking to learn, contribute and connect on social innovation practices toward improving lives in rural communities. We work with partners throughout the entire experience to share knowledge and capture feedback with supported technologies that allow partners to locally produce and share videos in villages all around the world.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="principles" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Key Principles</h2>
                    <div class="media layout-vr-xlg">
                
                        <div class="bd copy">
                            <p class="copy">The key principles driving our work are:</p>
                            <ul class="copy-para bullet-list"> <!-- created css class for bullet points. Named as bullet-list-->
                                <li>Partnership: Our focus is primarily on developing and delivering digital content to improve the cost-effectiveness and efficacy of organizations involved in agricultural and   livelihood research and/or extension.</li>                                
                                <li>Community ownership: Our goal is the adoption of our knowledge exchange model by communities for their improved well-being. By enabling them to be content producers and consumers, we empower communities to have a voice.</li>                                
                                <li>Localization: A human-centered and contextual design approach remains at the core of our work, which helps us in successfully customizing our approach to suit diverse contexts and stakeholders.</li>
                                <li>Cost realism: We often operate in environments with limited infrastructure and financial resources, which entails paying attention to costs at all levels, and limiting the investment in expensive equipment.</li>
                                <li>Mediation: Videotaped demonstrations per se are not a complete extension solution since they lack the interactivity expected of good extension. Our approach relies on a local facilitator, who occasionally pauses or repeats video to engage the audience with discussion and capture feedback.</li>
                                <li>Training: We build the capacity of our partners, extension staff, and village facilitators in the social aspects of our approach for effective delivery of key messages.</li>
                                <li>Gender: Targets for participation of women in the intervention, for instance as local facilitators, are determined and tracked. Particular attention is paid to the gender balance in recruiting women for video production. Topics of relevance to women are included in the content, especially topics related to crops grown by women.</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='model' class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">About Our Model</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/model.jpg" alt="" />
                        </div>
                        <div class='bd copy'>
                            <p class="copy-para">Village-level mediators, trained by us and our partners, produce and share videos on locally relevant agronomic, health and livelihood practices to motivate and educate community members. The equipment used for video production and dissemination are low cost, durable and easy to use, and adaptive to diverse environments.
                            </p>
                            <p class="copy-para">A community video production team of four to six individuals in each district creates videos, averaging eight to 10 minutes in length, which are screened for small community groups twice a week using battery-operated pico projectors.
                            </p>
                            <p class="copy-para">A facilitator from the community mediates a discussion around the video screenings by pausing, rewinding, asking questions, and responding to feedback.
                            </p>
                            <p>Regular adoption verification visits are scheduled for gauging the impact of the dissemination on actual practices.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='impact' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Our Impact</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/impact.jpg" alt="" />
                        </div>
                        <div class='copy'>
                            <p class="copy-para">Since 2008, we have:</p>
                            <ul class="copy-para bullet-list">
                                <li>Reached 7,448 villages across India, Ethiopia and Ghana
                                </li>
                                <li>Produced more than 3,731 videos in over 20 different languages
                                </li>
                                <li>Improved lives of more than 640,000 community members in India and Sub-Saharan Africa (70% of them women)
                                </li>
                                <li>Increased the cost-effectiveness of development efforts by 10 times
                                </li>
                            </ul>
                            <p>We aim to reach 1 million households over 11,000 villages in India and other parts of South Asia and Sub Saharan Africa, enabling the communities we reach to live with dignity.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
{% include "includes/footer.html" %}
