{% include "includes/header.html" %}
    
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-a hdg-source-lt layout-vr-md">Working Across Geographies</h2>
                            <ul class="link-list">
                                <li><a href="#nrlm">Partnership with India’s National Rural Livelihood Mission</a></li>
                                <li><a href="#dgafrica">Digital Green in Africa</a></li>
                                <li><a href="#dgethiopia">Digital Green in Ethiopia</a></li>
                                <li><a href="#dgghana">Digital Green in Ghana</a></li>
                            </ul>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-a hdg-source-lt layout-vr-md">Working to Create Change</h2>
                            <ul class="link-list">
                                <li><a href="#health">Improving Health Behaviours in India</a></li>
                                <li><a href="#ict">Facilitating ICT-enabled Improvements in Food Security and Health Outcomes in India</a></li>
                                <li><a href="#impact">Ensuring Quality of Processes and Content for Optimized Impact</a></li>
                                <li><a href="#capacity">Capacity Building for Community Empowerment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="nrlm" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Partnership with India’s National Rural Livelihood Mission</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456421/content?start_page=1&view_mode=scroll&access_key=key-DfbTwyJLpbfcgVDKfURI&show_recommendations=true" data-auto-height="false" data-aspect-ratio="0.7080062794348508" scrolling="no" id="doc_16033" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/digital_green/NRLM-Partnership.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="dgafrica" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Digital Green in Africa</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456440/content?start_page=1&view_mode=scroll&access_key=key-ZEsk7YxGCPcNh2ferXFo&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.7080062794348508" scrolling="no" id="doc_45693" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/digital_green/Africa.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="dgethiopia" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Digital Green in Ethiopia</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456434/content?start_page=1&view_mode=scroll&access_key=key-eIvXV7RGDF2hlT0UL4vP&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.7080062794348508" scrolling="no" id="doc_28185" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/digital_green/Ethiopia.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section  id="dgghana" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Digital Green in Ghana</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456415/content?start_page=1&view_mode=scroll&access_key=key-9WeQnHMFEE0HVYV6DvcY&show_recommendations=true" data-auto-height="false" data-aspect-ratio="0.7080062794348508" scrolling="no" id="doc_20029" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/digital_green/Ghana.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="health" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Improving Health Behaviours in India</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456781/content?start_page=1&view_mode=scroll&access_key=key-DmZ9qeSpKSZMUMjzThcY&show_recommendations=true" data-auto-height="false" data-aspect-ratio="0.7080062794348508" scrolling="no" id="doc_50139" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/digital_green/Health.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="ict" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Facilitating ICT-enabled Improvements in Food Security and Health Outcomes in India</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456761/content?start_page=1&view_mode=scroll&access_key=key-g3Y5ljkwnvrXDoY2n3dz&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.7080062794348508" scrolling="no" id="doc_64929" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/digital_green/DFID-ICT.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="impact" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Ensuring Quality of Processes and Content for Optimized Impact</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456767/content?start_page=1&view_mode=scroll&access_key=key-LhDHs5oUa2FzyM1FoOFF&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.7080062794348508" scrolling="no" id="doc_81429" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/digital_green/Quality-Assurance.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section  id="capacity" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Capacity Building for Community Empowerment</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/260456777/content?start_page=1&view_mode=scroll&access_key=key-5AwVcYHp4eyyJ0t0KEd4&show_recommendations=false" data-auto-height="false" data-aspect-ratio="0.7080062794348508" scrolling="no" id="doc_30347" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/digital_green/Capacity-Building.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}