{% extends "responsive/base_auth.html" %}
{% block content %}
                        <h2 class="hdg-a hdg-white layout-vr-md push-top-md">
                            Change Password
                        </h2>
                        <div class="media layout-vr-xlg">
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <p class="hdg-source-reg hdg-white auth-err-msg auth-err-box">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                            
                            {% load app_tags %}
                            <form method="post" action="/password_change/">
                                {% csrf_token %}
                                <div class="auth hdg-source-reg hdg-white">
                                    {{ form.old_password|placeholder:form.old_password.label }}
                                {% if form.old_password.errors %}
                                    <div class="auth-err-box">
                                        {{ form.old_password.errors }}
                                    </div>
                                {% endif %}
                                    {{ form.new_password1|placeholder:form.new_password1.label }}
                                    {{ form.new_password2|placeholder:"Confirm Password" }}
                                {% if form.new_password2.errors %}
                                    <div class="auth-err-box">
                                        {{ form.new_password2.errors }}
                                    </div>
                                {% endif %}
                                </div>
                                <input type="submit" value="Change" class="comment-btn auth-btn-lg" />
                            {% if next %}
                                <input type="hidden" name="next" value="{{next}}" />
                            {% else %}
                                <input type="hidden" name="next" value="/" />
                            {% endif %}
                            </form>
                        </div>
{% endblock %}
