<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}
                
        <form method="post" action="/password_change/">
            {% csrf_token %}
                    
            {% if form.errors %}{{ form.old_password.errors }}{% endif %}
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {% if form.errors %}{{ form.new_password2.errors }}{% endif %}
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            <input type="submit" value="Change" class="btn btn-large btn-primary" />
            {% if next %}
                <input type="hidden" name="next" value="{{next}}" />
            {% else %}
                <input type="hidden" name="next" value="/" />
            {% endif %}
        </form>
        
