<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Digital Green</title>
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/screen.css" />
    </head>
    
    <body>  
        <div class="wrapper-main wrapper wrapper-res">
            <div class="wrapper-res">
                <div class="clearfix">
                    <header class="global-nav">
                        <div class="wrapper wrapper-res">
                            <nav class="inner-nav">
                                <ul class="nav">
                                    <li class="logo"><a href="{% url 'home'%}">Green Digital</a></li>
                                </ul>
                            </nav> <!-- End .inner-nav -->
                        </div>  <!-- End .wrapper -->
                    </header> <!-- End .global-nav -->
                </div>
            </div>
            <section class="about-bglogin-bg section-dim">
                <div class="wrapper wrapper-res">
                    <div class="inner-wrapper">
                        <div class="auth-box">
                            <h2 class="hdg-a hdg-white layout-vr-md push-top-md">Change Password</h2>
                            <div class="media layout-vr-xlg">
                                    {% if form.errors %}
                                        {% for error in form.non_field_errors %}
                                            <div class="auth-err-box">{{error}}</div>
                                        {% endfor %}
                                    {% endif %}
                                {% load app_tags %}
                                
                                <form method="post" action="/password_change/" class="auth-mrg-top">
                                    {% csrf_token %}
                                    <div class="auth hdg-source-reg hdg-white">
                                        {{ form.old_password|placeholder:form.old_password.label }}
                                        {% if form.old_password.errors %}
                                            <div class="auth-err-box">
                                                {{ form.old_password.errors }}
                                            </div>
                                        {% endif %}
                                        {{ form.new_password1|placeholder:form.new_password1.label }}
                                        {{ form.new_password2|placeholder:"Confirm Password" }}
                                        {% if form.new_password2.errors %}
                                            <div class="auth-err-box">
                                                {{ form.new_password2.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <input type="submit" value="Change" class="comment-btn auth-btn-su" />
                                    {% if next %}
                                        <input type="hidden" name="next" value="{{next}}" />
                                    {% else %}
                                        <input type="hidden" name="next" value="/" />
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div> <!-- End .inner-wrapper -->
                </div> <!-- End .wrapper -->
            </section>
        </div>
        {% include "includes/auth-js.html" %}
    </body>
</html>
        
