<!DOCTYPE html>
<html lang="en">
    <head>
        <meta property="fb:app_id" content="149405231925556" />
        <!-- META DATA -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta http-equiv="imagetoolbar" content="no" />
        <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

        <!-- SEO -->
        <title>Digital Green</title>
        <meta name="description" content=" Digital Green is an international non-profit development organization that supports rural communities across South Asia and Sub-Saharan Africa to produce and share videos on sustainable agricultural and health practices" />
        <meta name="author" content="" />

        <!-- HTML5 SHIV -->
        <!--[if lt IE 9]><script type="text/javascript" src="{{STATIC_URL}}assets/scripts/html5shiv.js"></script><![endif]-->

        <!-- ICONS -->
        <link rel="shortcut icon" type="image/ico" href="{{STATIC_URL}}assets/images/favicon.ico" />

        <!-- STYLESHEETS -->
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/screen.css" />
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/jquery-ui.css" />
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/deoanalytics.css" />
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/NCarousel.css" />
        <link rel="stylesheet" media="print" href="{{STATIC_URL}}assets/styles/print.css" />
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/jquery.dataTables.css" />
        <link rel="stylesheet" media="screen, projection" href="{{STATIC_URL}}assets/styles/dataTables.tableTools.css" />
        <link rel="stylesheet" media="screen" href="{{STATIC_URL}}assets/styles/select2.css" />
         <!--[if IE 9]><link rel="stylesheet" type="text/css" media="screen, projection" href="{{STATIC_URL}}assets/styles/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" type="text/css" media="screen, projection" href="{{STATIC_URL}}assets/styles/ie8.css" /><![endif]-->
        <!--[if lte IE 7]><link rel="stylesheet" type="text/css" media="screen, projection" href="{{STATIC_URL}}assets/styles/ie7.css" /><![endif]-->
    </head>
    <!--
        =======================
        | Implementation Note |
        =======================

        The body needs to have this "data-controller" attribute 
        on it to control which JS controller is loaded.

        Current list includes:
            Home
            About
            Collections
            ViewCollections
            Profile
    -->
    <!-- Implementation Note: the user-id data attribute on the body below must be present on page load for like functionality to work -->
    <body data-controller="{% if header.jsController %}{{header.jsController}}{% else %}DigitalGreenPage{% endif %}" data-user-id={{request.user.id}}>
        <!-- Begin Main Wrapper -->
        <div class="wrapper-main wrapper">
            <div class="user-dropdown-div">
                <div class="user-dropdown js-user-dropdown">
                    <ul>
                        <li class="user-dropdown-option"><a class="hdg-black">{{request.user.username}}</a></li>
                        {% if not request.user.social_auth.all.0 %}
                            <li class="user-dropdown-option">
                                <a href="{% url 'change_password' %}">Change Password</a>
                            </li>
                        {% endif %}
                        <li class="user-dropdown-option"><a href="{% url 'logout' %}">Sign Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-fixed">
                <div class="header-wrapper clearfix">
                    <header class="global-nav">
                        <a class="skip-to-content" href="#main">Skip to content</a>
                        <div class="wrapper">
                            <nav class="inner-nav" role="navigation">
                                <ul class="nav">
                                    <!-- Indicate the current active nav item by adding the "selected" class to a li element below -->
                                    <li class="logo"><a href="{% url 'home' %}">Green Digital</a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'About' %} selected {% endif %}"><a href="{% url 'about' %}">About Us <span class="nav-sub hdg-f menu-subitem">and our approach</span></a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'Discover' %} selected {% endif %}"><a href="{% url 'discover' %}">Discover <span class="nav-sub hdg-f menu-subitem">great videos</span></a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'Connect' %} selected {% endif %}" ><a href="{% url 'connect' %}">Connect <span class="nav-sub hdg-f menu-subitem">with our community</span></a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'Tools' %} selected {% endif %}"><a href="{% url 'tools' %}">Tools <span class="nav-sub hdg-f menu-subitem">to catalyze change</span></a></li>
                                    <li class="nav-pipe nav-size hdg-e menu-item {% if header.currentPage = 'Careers' %} selected {% endif %}"><a href="{% url 'career' %}">Work<span class="nav-sub hdg-f menu-subitem">with us</span></a></li>
                                    
                                    {% if not request.user.is_authenticated %}
                                        <li class="nav-pipe"><a class="btn-sign-in" href="/login/?next={{request.path}}">Sign in</a></li>
                                    {% else %}
                                        <li class="grid-rt nav-pipe" style="padding-left:51px; padding-bottom:0px;">
                                            <div class="media grid-rt">
                                                <div class="img">
                                                    {% if "facebook" == request.user.social_auth.all.0.provider %}
                                                    <div class="img-effects">
                                                        <img src="https://graph.facebook.com/{{request.user.social_auth.all.0.uid}}/picture" class="user-image js-user-image">
                                                    </div>
                                                    {% elif "google-oauth2" == request.user.social_auth.all.0.provider %}
                                                    <div class="img-effects">
                                                        <img src=" {{request.user.social_auth.all.0.extra_data.picture}}?sz=40s" class="user-image js-user-image">
                                                    </div>
                                                    {% else %}
                                                    <div class="img-effects">
                                                        <img src="{{STATIC_URL}}social_website/content/default.png" class="user-image js-user-image">
                                                    </div>
                                                    {% endif %}
                                                    <img src="{{STATIC_URL}}social_website/content/dropdown.png" class="user-dropdown-arrow js-user-dropdown-arrow">
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav> <!-- End .inner-nav -->
                        </div>  <!-- End .wrapper -->
                    </header> <!-- End .global-nav -->
                </div>
            </div>
            <div class="header-margin"></div>
        {% autoescape off %}                             
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper ">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Media Coverage</h2>        
                    <ul class="v-list-lg v-list-divided v-list-divided-dk">
                    {% for med in media %}
                        <li>
                            <div class="media layout-vr-md">
                                <!-- <div class="img img-lg">
                                    <img src="{{STATIC_URL}}assets/images/favicon-white.png" alt="" />
                                </div> -->
                                <div class="bd">
                                    <div class="layout-vr-sm">
                                        <div class="copy copy-lt layout-vr-sm">
                                            {{med.pub_date|date:"b d, Y"|title}}
                                        </div>
                                        <a href={{med.link}} target='_blank' ><h2 class="hdg-green hdg-e layout-vr-tiny hdg-bold">{{med.title}}</h2></a>
                                        <p class="copy">
                                            {{med.content}}
                                        </p>
                                        <br>
                                        <p class="copy">
                                            <iframe  width="944" height="420" sandbox="" src={{med.link}}>
                                            </iframe>   
                                        </p>
                                    </div>
                                </div> <!-- End .bd -->
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="centered layout-vr-xlg">
                        <span>
                            {% if media.has_previous %}
                                <a class="hdg-bold hdg-green" href="?page={{ media.previous_page_number }}">Previous  
                                </a>
                            {% endif %}
                            <span>
                                Page {{ media.number }} of {{ media.paginator.num_pages }}
                            </span>    
                            {% if media.has_next %}
                                <a class="hdg-bold hdg-green" href="?page={{ media.next_page_number }}">  Next</a>
                            {% endif %}
                        </span>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div>
        </section>    
{% endautoescape %} 
{% include "includes/footer.html" %}
