{% include "includes/header.html" %}

<section id="privacy_policy" role="main" class="about-bg about-bg-white">
    <div class="wrapper">
        <div class="inner-wrapper">
            <h2 class="hdg-a hdg-source-lt layout-vr-md">Privacy Policy</h2>
            We collect data through our tools like COCO and LOOP and all the data is kept under high security.
            <br/>
            We don't share any private data with any 3rd party without user's consent.
            <br/>
            <br/>

        </div>
    </div>
</section>


{% include "includes/footer.html" %}