{% include "includes/header.html" %}

<section id="privacy_policy" role="main" class="about-bg about-bg-white">
    <div class="wrapper">
        <div class="inner-wrapper">
            <h2 class="hdg-a hdg-source-lt layout-vr-md">Privacy Policy</h2>
            Ohh damn!! We don't have any policy, forget about privacy policy
            <div class="media">
            We don't know which department is responsible to make one.
            </div>

        </div>
    </div>
</section>


{% include "includes/footer.html" %}