{% include "includes/header.html" %}
    {% include "includes/partials/search.html" %}
        
        <div id="main" role="main" class="wrapper">
            <div class="inner-wrapper">
                <div class="media layout-vr-md">
                {% if partner.location_image %}
                <div class="img-size-partner-location">
                    <img src="{{partner.location_image.url}}" alt="" />
                </div>
                {% endif %}
                    <div class="bd">
                        <div class="grid">
                            <div class="grid-col grid-size2of3">
                                <div class="media">
                                    <a href="{{partner.websiteURL}}" target="_blank">
                                        <div class="img img-size-sq-small ">
                                            <img src="{{partner.logoURL.url}}" alt="" />
                                        </div>
                                        <div class="bd">
                                            <h1 class="hdg-b hdg-bold push-top-sm">{{partner.full_name}}</h1>
                                        </div>
                                    </a>
                                </div>
                                <h2 class="copy hdg-bold layout-vr-tiny">{{partner.location}}</h2>
                                <h3 class="layout-vr-sm copy">Member since {{partner.joinDate}}</h3>
                                <p class="copy">{{partner.description|safe}}</p>
                            </div>
                            {% if partner.video_count or partner.views or partner.likes or partner.adoptions %}
                            <div class="grid-col grid-size1of3">
                                <div class="borderLt grid-margin-lt-lg">
                                    <ul class="v-list-md stats-list">
                                        {% if partner.video_count %}<li><a class="hdg-c hdg-bold hdg-lt stats-watch" title="Videos"><span class="text-hide">Videos</span> {{partner.video_count}}</a></li>{% endif %}
                                        {% if partner.views %}<li><a class="hdg-c hdg-bold hdg-lt stats-view" title="Views"><span class="text-hide">Viewed</span> {{partner.views}}</a></li>{% endif %}
                                        {% if partner.likes %}<li><a class="hdg-c hdg-bold hdg-lt stats-like" title="Likes"><span class="text-hide">Liked</span> {{partner.likes}}</a></li>{% endif %}
                                        {% if partner.adoptions %}<li><a class="hdg-c hdg-bold hdg-lt stats-adopt" title="Adoptions"><span class="text-hide">Adopted</span> {{partner.adoptions}}</a></li>{% endif %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        </div> <!-- End .grid -->
                    </div> <!-- End .bd -->
                </div> <!-- End .media -->
                <div class="js-partner-farmers-carousel-container-outer ele-hide">
                <h3 class="hdg-upper hdg-source-semibold hdg-upper hdg-extra-lt hdg-f layout-vr-sm">Farmers</h3>
                <div class="box-list partner-farmers js-partner-farmers-carousel-container layout-vr-xlg">
                    <ul class="js-partner-farmers-pages-container" data-partnerID="{{partner.uid}}">
                        <!-- dynamic farmer content here-->
                    </ul>
                    <a href="#" class="arrow-left js-prev-partner-farmers-page">Previous</a>
                    <a href="#" class="arrow-right js-next-partner-farmers-page">Next</a>
                </div>
                </div>
            </div> <!-- End .inner-wrapper -->
        </div> <!-- End .wrapper -->
        
    <section class="gradientBg js-collections-wrapper-outer ele-hide">
        <div class="wrapper">
            <div class="inner-wrapper js-collections-wrapper">
                <header class="clearfix layout-vr-lg">
                    <div class="grid-col">
                        <h1 class="hdg-a hdg-source-lt">Collections</h1>
                    </div>
                    <div class="grid-rt">
                        {% include "includes/partials/mostFilters.html"%}
                    </div>
                </header> <!-- End .clearfix -->
                <ul class="blocks blocks-4-up clearfix js-collections-container">

                        <!-- Dynamic Collections Content Here -->

                </ul>
                <div class="gradientBg-ft">
                    <div class="pagination-wrapper js-pagination">

                            <!-- Dynamic Pagination Here -->

                    </div>
                </div>
                <!--  
                <div class="centered layout-vr-lg profile-buttons">
                       <a href="#" class="btn js-show-more">Show More</a>
                       <a href="#" class="arrow-up js-hide-collections">Remove</a>
                </div>
                 -->
            </div> <!-- End .inner-wrapper -->
        </div> <!-- End .wrapper -->
    </section>
        
        <section class="wrapper layout-vr-lg js-activities-wrapper-outer ele-hide">
            <div class="activities-wrapper inner-wrapper js-activities-wrapper" data-partnerID="{{partner.uid}}">
                <h2 class="hdg-a hdg-source-lt layout-vr-md">Activities</h2>
                <ul class="js-activities-container">
                    
                    <!-- Dynamic activities content here -->

                </ul>
                <div class="timeline-fade"></div>
                <div class="centered layout-vr-lg profile-buttons">
                    <a href="#" class="btn js-activities-show-more-btn">Show More</a>
                </div>
            </div> <!-- End .inner-wrapper -->

        </section> <!-- End .wrapper -->

{% include "includes/footer.html"%}