{% include "includes/header.html" %}
        <section id="main" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Annual Report 2010-2011</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects">
                            <a href="/social/reports/2/">
                            	<img class="imgDim" src="/media/Output/Images/annualreportlinkimg3.jpg" alt="" />
                        	</a>
                        </div>
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Letter from the CEO</h3>
                            <p class="copy copy-margin">
                            	Digital Green is evolving: It started as an idea that became a research project that was evaluated and then extended and now is scaling up. In some ways, we have crossed from one stepping-stone to the next in sequence. In other ways, the journey has been more iterative and cyclical.
    		                </p>
    		                
    		                <a href="/social/reports/2/">Read More ...</a>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-lg">Annual Report 2009-2010</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects">
                            <a href="/social/reports/1/">
                            	<img class="imgDim" src="/media/Output/Images/annualreportlinkimg2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Letter from the CEO</h3>
                            <p class="copy copy-margin">
                            	Digital Green works to build technologies and to serve as a resource agency to maximize the potential of the partners and the communities that we work with. The last year has been one of great learning and progress in the field and as a team.
    		                </p>
    		                <a href="/social/reports/1/">Read More ...</a>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
                
{% include "includes/footer.html" %}