{% include "includes/header.html" %}
    
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">Reports, Papers and Case Studies</h2>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://itidjournal.org/itid/article/view/322" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/ITIDJournal.png" height="250" width="200" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Digital Green: Participatory Video and Mediated Instruction for Agricultural Extension </a> [ICTD2007]
                                    <div class="copy-italic">Contributors: Rikin Gandhi, Rajesh Veeraraghavan, Kentaro Toyama, Vanaja Ramprasad
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://ieeexplore.ieee.org/xpl/login.jsp?reload=true&tp=&arnumber=4548170&isnumber=4548155" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Stages-IEEE.png" height="250" width="200" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Stages of Design in Technology for Global Development </a> [IEEE]
                                    <div class="copy-italic">Author: Donner, J. (Microsoft Research India, Bangalore); Contributors: Gandhi, R.; Javid, P.; Medhi, I.; Ratan, A.; Toyama, K.; Veeraraghavan, R.
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://dl.acm.org/citation.cfm?id=1926189" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/ACM-COCO.png" height="250" width="200" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>COCO: a web-based data tracking architecture for challenged network environments </a> [ACM DEV '10]
                                    <div class="copy-italic">Contributors: Saureen Shah (Digital Green), Apurva Joshi (Digital Green)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://dl.acm.org/citation.cfm?id=2442935" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/ACM-Identification.png" height="250" width="200" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Identification of highly influential individuals in a rural social network </a> [ACM DEV '13]
                                    <div class="copy-italic">Contributors: Nandini Bhardwaj (Digital Green), Yash Seth (Digital Green)
                                    </div>
                                </div>
                            </div>
                             <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/meas_study_kerry_harwin.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/USAID-DG.png" height="250" width="200" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Lessons Learned from Locally Produced Videos – the Approach of Digital Green in India</a>
                                    <div class="copy-italic">Authors: Kerry Harwin
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/spring_community_led_video_miycn_india.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/USAID-SPRING.png" height="250" width="200" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Using a community-led video approach to promote maternal, infant, and young child nutrition in Odisha, India - Results from a pilot and feasibility study</a>
                                </div>
                            </div>
                        </div>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://www-wds.worldbank.org/external/default/WDSContentServer/WDSP/IB/2014/05/14/000442464_20140514114028/Rendered/PDF/880080BRI0P10400Series0vol010note01.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Digital-Libraries.png" height="250" width="200" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Digital Libraries for the Poor: Facilitating Bottom-Up Innovation through Video-based Learning Platform</a>
                                    <div class="copy-italic">Authors: Abhishek Gupta, Parmesh Shah & Priya Surya
                                    </div>
                                </div>
                            </div>                 
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/intellecap_case_study.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Intellecap.png" height="250" width="200" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>International Finance Corporation, World Bank Group and Intellecap - Corridors for Shared Prosperity: Case Studies</a>
                                </div>
                            </div> 
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/dasra-three_square_meals.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Dasra.png" height="250" width="200" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Dasra Report - Three Square Meals : A just diet for India’s adolescent girls</a>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}