{% include "includes/header.html" %}
    
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">Reports, Papers and Case Studies</h2>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://itidjournal.org/itid/article/view/322" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/ITIDJournal.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Digital Green: Participatory Video and Mediated Instruction for Agricultural Extension </a> [ICTD2007]
                                    <div class="copy-italic">Contributors: Rikin Gandhi, Rajesh Veeraraghavan, Kentaro Toyama, Vanaja Ramprasad
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://ieeexplore.ieee.org/xpl/login.jsp?reload=true&tp=&arnumber=4548170&isnumber=4548155" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Stages-IEEE.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Stages of Design in Technology for Global Development </a> [IEEE]
                                    <div class="copy-italic">Author: Donner, J. (Microsoft Research India, Bangalore); Contributors: Gandhi, R.; Javid, P.; Medhi, I.; Ratan, A.; Toyama, K.; Veeraraghavan, R.
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://dl.acm.org/citation.cfm?id=1926189" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/ACM-COCO.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>COCO: a web-based data tracking architecture for challenged network environments </a> [ACM DEV '10]
                                    <div class="copy-italic">Contributors: Saureen Shah (Digital Green), Apurva Joshi (Digital Green)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://dl.acm.org/citation.cfm?id=2442935" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/ACM-Identification.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Identification of highly influential individuals in a rural social network </a> [ACM DEV '13]
                                    <div class="copy-italic">Contributors: Nandini Bhardwaj (Digital Green), Yash Seth (Digital Green)
                                    </div>
                                </div>
                            </div>
                             <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/meas_study_kerry_harwin.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/USAID-DG.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Lessons Learned from Locally Produced Videos – the Approach of Digital Green in India</a>
                                    <div class="copy-italic">Authors: Kerry Harwin
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/spring_community_led_video_miycn_india.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/USAID-SPRING.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Using a community-led video approach to promote maternal, infant, and young child nutrition in Odisha, India - Results from a pilot and feasibility study</a>
                                </div>
                            </div>
                        </div>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://www-wds.worldbank.org/external/default/WDSContentServer/WDSP/IB/2014/05/14/000442464_20140514114028/Rendered/PDF/880080BRI0P10400Series0vol010note01.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Digital-Libraries.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Digital Libraries for the Poor: Facilitating Bottom-Up Innovation through Video-based Learning Platform</a>
                                    <div class="copy-italic">Authors: Abhishek Gupta, Parmesh Shah & Priya Surya
                                    </div>
                                </div>
                            </div>                 
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/intellecap_case_study.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Intellecap.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>International Finance Corporation, World Bank Group and Intellecap - Corridors for Shared Prosperity: Case Studies</a>
                                </div>
                            </div> 
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/dasra-three_square_meals.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Dasra.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Dasra Report - Three Square Meals : A just diet for India’s adolescent girls</a>
                                </div>
                            </div>
                        </div>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/rural_video_based_social_network.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Video-Social-Network.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>A Rural Video-Based Social Network for Farmer Training</a>
                                    <div class="copy-italic">Authors: Kerry Harwin and Rikin Gandhi
                                    </div>
                                </div>
                            </div> 
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/enabling_collective_process.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Learning-Rural-Development.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Enabling a Collective Process of Learning in Rural Development</a>
                                    <div class="copy-italic">Authors: Rikin Gandhi, Shreya Aggarwal and Remya Sasindaran
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/media-asia-e-journal.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Media-Asia.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Post-2015 development goals: Lacking a communication focus?</a>
                                </div>
                            </div>                
                        </div>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/video_based_learning.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Video-Based-Learning.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Digital Green: Video-based learning within rural networks [Alliance Magazine]</a>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/innovations_digital_inclusion.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Video-Based-Social-Network.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>A Rural Video-Based Social Network for Farmer Training</a>
                                    <div class="copy-italic">Authors: Kerry Harwin and Rikin Gandhi
                                    </div>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="http://dl.acm.org/purchase.cfm?id=2737895" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Cost-Analysis-Odisha.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a>Cost analysis of nutrition messaging intervention through community-led videos in Odisha</a> [ACM '15]
                                    <div class="copy-italic">Authors: Kriti Khurana, Ramesh Bhat, Peggy Koniz-Booher and Rikin Gandhi
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/ciat_ict_update.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/CIAT-ICT-Update.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a href="http://ictupdate.cta.int/Feature-Articles/Video-based-learning-for-rural-communities/(80)/1439919673" target="_blank">FAO's Success Stories on ICT for Agriculture & Rural Development: Digital Green: Leveraging social networks for agricultural extension</a>
                                </div>
                            </div>
                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/african_farmers_in_the_digital_age.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/Foreign-Affairs.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a class="layout-vr-tiny">Excerpts from Foreign Affairs: African Farmers in the Digital Age</a>
                                    <a>A Special Issue Curated by Kofi Annan, Sir Gordon Conway and Sam Dryden on Building Community at a Global Scale: Using Video to Improve Extension and Create Farmer Networks by Rikin Gandhi.</a>
                                </div>
                            </div>

                            <div class="grid-col grid-size1of3 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/publications/PLOS ONE_ Adapting Agriculture Platforms for Nutrition_ A Case Study of a Participatory, Video-Based Agricultural Extension Platform in India.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/research/plos.png" height="260" width="190" alt=""/>
                                    </div>
                                </a>
                                <div class="grid-pad-lt-sm">
                                    <a class="layout-vr-tiny">Adapting Agriculture Platforms for Nutrition: A Case Study of a Participatory, Video-Based Agricultural Extension Platform in India</a>
                                    <div class="copy-italic">Authors: Suneetha Kadiyala, Emily H. Morgan, Shruthi Cyriac, Amy Margolies, Terry Roopnaraine
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}
