{% include "includes/header.html" %}
    
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">Reports, Papers and Case Studies</h2>
                        <ul class="link-list">
                            <li><a href="http://itidjournal.org/itid/article/view/322"  target="_blank">Digital Green: Participatory Video and Mediated Instruction for Agricultural Extension</a></li>
                            <li><a href="http://ieeexplore.ieee.org/xpl/login.jsp?reload=true&tp=&arnumber=4548170&isnumber=4548155"  target="_blank">Stages of Design in Technology for Global Development</a></li>
                            <li><a href="http://dl.acm.org/citation.cfm?id=1926189" target="_blank">COCO: a web-based data tracking architecture for challenged network environments</a></li>
                            <li><a href="http://dl.acm.org/citation.cfm?id=2442935" target="_blank">Identification of highly influential individuals in a rural social network</a></li>
                            <li><a href="{{STATIC_URL}}docs/publications/meas_study_kerry_harwin.pdf" target="_blank">Lessons Learned from Locally Produced Videos – the Approach of Digital Green in India</a></li>
                            <li><a href="{{STATIC_URL}}docs/publications/spring_community_led_video_miycn_india.pdf" target="_blank">Using a community-led video approach to promote maternal, infant, and young child nutrition in Odisha, India - Results from a pilot and feasibility study</a></li>
                            <li><a href="http://www-wds.worldbank.org/external/default/WDSContentServer/WDSP/IB/2014/05/14/000442464_20140514114028/Rendered/PDF/880080BRI0P10400Series0vol010note01.pdf" target="_blank">Digital Libraries for the Poor: Facilitating Bottom-Up Innovation through Video-based Learning Platform </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}