{% include "includes/header.html" %}
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Resources</h2>   
                    <div class="media layout-vr-xlg">
                        <div class="grid-col grid-size3of5">
                            <div class="imgExt img-marginLg-lt img-effects img-size-lg grid-pad-rt-md">
                                <img src="{{STATIC_URL}}social_website/content/publications.jpg" alt="" />
                            </div>
                        </div>
                        <div class="grid-col grid-size2of5">
                            <h2 class="hdg-a hdg-source-lt layout-vr-md grid-pad-lt-md">Publications</h2>   
                            <ul class="link-list grid-pad-lt-md">
                                <li><a href="/resources/annual_reports/" target="_blank">Annual Reports</a></li>
                                <li><a href="{{STATIC_URL}}docs/Digital-Green-Key-Facts.pdf" target="_blank">Organizational Brochure</a></li>
                                <li><a href="/resources/our_programs/" target="_blank">Our Programs</a></li>
                                <li><a href="/resources/field_stories/" target="_blank">Voices from the Field</a></li>
                                <li><a href="/resources/sop/" target="_blank">Standard Operating Procedures</a></li>
                                <li><a href="/resources/research/" target="_blank">Reports, Papers and Case Studies</a></li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
       
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="centered layout-vr-xlg">
                        {% for x in resources %}
                        <h2 class="hdg-b hdg-source-reg layout-vr-sm">{{x.title}}</h2>
                            <iframe width="900" height="525" src="http://www.youtube.com/embed/{{x.youtubeID}}">
                            </iframe>
                        {% endfor %}
                    </div>
                    <div class="grid layout-vr-md">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-a hdg-source-lt layout-vr-md grid-pad-lt-md">Films</h2>
                            <ul class="link-list grid-pad-lt-md">
                                {% for film in film_list %}
                                    <li><a href="/resources/{{film.uid}}">{{film.title}}</a></li>
                                {% endfor %}
                            </ul>                                     
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-a hdg-source-lt layout-vr-md grid-pad-lt-md">Testimonials</h2>
                            <ul class="link-list grid-pad-lt-md">
                                {% for testimonial in testimonial_list %}
                                    <li><a href="/resources/{{testimonial.uid}}">{{testimonial.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Our Approach</div>
                                <ul class="link-list">
                                    <li><a href="#training">Capacity Building for Community Empowerment</a></li>
                                    <li><a href="{{STATIC_URL}}docs/Quality-Assurance.pdf"  target="_blank">Ensuring Quality of Processes and Content for Optimized Impact</a></li>
                                </ul>
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> General</div>
                                <ul class="link-list">
                                    <li><a href="{{STATIC_URL}}docs/success_stories/Voices.pdf"  target="_blank">Voices from the Field - March, 2014</a></li>
                                    <li><a href="{{STATIC_URL}}docs/success_stories/Voices-Ethiopia-February-2015.pdf"  target="_blank">Voices from the Field (Ethiopia) - February, 2015</a></li>
                                </ul>
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Themes</div>
                                <ul class="link-list">
                                    <li><a href="{{STATIC_URL}}docs/digital_green/Health.pdf"  target="_blank">Improving Health Behaviors in India</a></li>
                                    <li><a href="{{STATIC_URL}}docs/digital_green/DFID.pdf"  target="_blank">Facilitating ICT-enabled Improvements in Food Security and Health Outcomes in India</a></li>
                                </ul>
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Testimonials</div>
                                <ul class="link-list">
                                    <li><a href="http://vimeo.com/45912461"  target="_blank">Sugan Bai</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=aXh19WtHOxY"  target="_blank">Basanti's Story</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=Z_27oEcIAhE"  target="_blank">Jayanti Mahanta</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=E2SW0gniY3U"  target="_blank">Khairamani Mahanta</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=pUqTpZKnUeg"  target="_blank">Malati Majhi</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=IfYssZcYvBE"  target="_blank">The Initiative - Madhya Pradesh</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=IPPJTDcWNjI"  target="_blank">Keonjhar (Odisha) video production team</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=RBTmn1ZtdVA"  target="_blank">Dharmender Kumar</a></li>
                                </ul>
                            </div>
                            
                            <div class="grid-rt grid-size2of4">
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Regions</div>
                                <ul class="link-list">
                                     <li><a href="{{STATIC_URL}}docs/digital_green/NRLM-Partnership.pdf"  target="_blank">Partnership with India’s National Rural Livelihoods Mission</a></li>
                                    <li><a href="{{STATIC_URL}}docs/digital_green/Africa.pdf"  target="_blank">Digtal Green in Africa</a></li>
                                    <li><a href="{{STATIC_URL}}docs/digital_green/Ethiopia.pdf"  target="_blank">Digital Green in Ethiopia</a></li>
                                    <li><a href="{{STATIC_URL}}docs/digital_green/Ghana.pdf"  target="_blank">Digital Green in Ghana</a></li>
                                </ul>
                                
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Research Papers and Case Studies</div>
                                <ul class="link-list">
                                    <li><a href="http://itidjournal.org/itid/article/view/322"  target="_blank">Digital Green: Participatory Video and Mediated Instruction for Agricultural Extension</a></li>
                                    <li><a href="http://ieeexplore.ieee.org/xpl/login.jsp?reload=true&tp=&arnumber=4548170&isnumber=4548155"  target="_blank">Stages of Design in Technology for Global Development</a></li>
                                    <li><a href="http://dl.acm.org/citation.cfm?id=1926189" target="_blank">COCO: a web-based data tracking architecture for challenged network environments</a></li>
                                    <li><a href="http://dl.acm.org/citation.cfm?id=2442935" target="_blank">Identification of highly influential individuals in a rural social network</a></li>
                                    <li><a href="{{STATIC_URL}}docs/publications/meas_study_kerry_harwin.pdf" target="_blank">Lessons Learned from Locally Produced Videos – the Approach of Digital Green in India</a></li>
									<li><a href="{{STATIC_URL}}docs/publications/spring_community_led_video_miycn_india.pdf" target="_blank">Using a community-led video approach to promote maternal, infant, and young child nutrition in Odisha, India - Results from a pilot and feasibility study</a></li>
                                    <li><a href="http://www-wds.worldbank.org/external/default/WDSContentServer/WDSP/IB/2014/05/14/000442464_20140514114028/Rendered/PDF/880080BRI0P10400Series0vol010note01.pdf" target="_blank">Digital Libraries for the Poor: Facilitating Bottom-Up Innovation through Video-based Learning Platform </a></li>
                                </ul>
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Films</div>
                                <ul class="link-list">
                                    <li><a href="https://www.youtube.com/watch?v=JYkaf4ucaSc"  target="_blank">The Digital Green Story (November 2014)</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=fpNw1Hxt03E"  target="_blank">The Digital Green Story (June 2014)</a></li>
                                    <li><a href="http://vimeo.com/46156338"  target="_blank">Digital Green in Action (2012)</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=_bKHBHDRrWw"  target="_blank">SAFANSI Pilot in Bihar</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=sFKfOJgF3zw"  target="_blank">SAFANSI JEEViKA Topics</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=e-LVqhNtS4g"  target="_blank">SPRING/Digital Green Project</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=YbVbe6W0fPE"  target="_blank">Digital Green – CSISA Collaboration</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
        <section id="training" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Training</h2>
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="{{STATIC_URL}}docs/training/Brief.pdf"  target="_blank">Brief</a></li>
                                    <li><a href="{{STATIC_URL}}docs/training/Dissemination-Training-Manual.pdf"  target="_blank">Dissemination Training Manual</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}
