{% include "includes/header.html" %}
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Resources</h2>
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Annual Reports</div>
                                <ul class="link-list">
                                    <li><a href="#annualreport13">2013</a></li>
                                    <li><a href="#annualreport12">2012</a></li>
                                    <li><a href="#annualreport10-11">2010-2011</a></li>
                                    <li><a href="#annualreport09-10">2009-2010</a></li>
                                </ul>
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Our Approach</div>
                                <ul class="link-list">
                                    <li><a href="#sop">Standard Operating Procedures</a></li>
                                    <li><a href="#training">Capacity Building for Community Empowerment</a></li>
                                    <li><a href="{{STATIC_URL}}docs/Quality-Assurance.pdf"  target="_blank">Ensuring Quality of Processes and Content for Optimized Impact</a></li>
                                </ul>
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> General</div>
                                <ul class="link-list">
                                    <li><a href="{{STATIC_URL}}docs/Digital-Green-Key-Facts.pdf"  target="_blank">Key Facts</a></li>
                                    <li><a href="{{STATIC_URL}}docs/success_stories/Voices.pdf"  target="_blank">Voices from the Field- March, 2014</a></li>
                                </ul>
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Themes</div>
                                <ul class="link-list">
                                    <li><a href="{{STATIC_URL}}docs/digital_green/Health.pdf"  target="_blank">Improving Health Behaviors in India</a></li>
                                    <li><a href="{{STATIC_URL}}docs/digital_green/DFID.pdf"  target="_blank">Facilitating ICT-enabled Improvements in Food Security and Health Outcomes in India</a></li>
                                </ul>
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Testimonials</div>
                                <ul class="link-list">
                                    <li><a href="http://vimeo.com/45912461"  target="_blank">Sugan Bai</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=aXh19WtHOxY"  target="_blank">Basanti's Story</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=Z_27oEcIAhE"  target="_blank">Jayanti Mahanta</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=E2SW0gniY3U"  target="_blank">Khairamani Mahanta</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=pUqTpZKnUeg"  target="_blank">Malati Majhi</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=IfYssZcYvBE"  target="_blank">The Initiative - Madhya Pradesh</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=IPPJTDcWNjI"  target="_blank">Keonjhar (Odisha) video production team</a></li>
                                </ul>
                            </div>
                            
                            <div class="grid-rt grid-size2of4">
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Regions</div>
                                <ul class="link-list">
                                     <li><a href="{{STATIC_URL}}docs/digital_green/NRLM-Partnership.pdf"  target="_blank">Partnership with India’s National Rural Livelihoods Mission</a></li>
                                    <li><a href="{{STATIC_URL}}docs/digital_green/Africa.pdf"  target="_blank">Digtal Green in Africa</a></li>
                                    <li><a href="{{STATIC_URL}}docs/digital_green/Ethiopia.pdf"  target="_blank">Digital Green in Ethiopia</a></li>
                                    <li><a href="{{STATIC_URL}}docs/digital_green/Ghana.pdf"  target="_blank">Digital Green in Ghana</a></li>
                                </ul>
                                
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Research Papers</div>
                                <ul class="link-list">
                                    <li><a href="http://itidjournal.org/itid/article/view/322"  target="_blank">Digital Green: Participatory Video and Mediated Instruction for Agricultural Extension</a></li>
                                    <li><a href="http://ieeexplore.ieee.org/xpl/login.jsp?reload=true&tp=&arnumber=4548170&isnumber=4548155"  target="_blank">Stages of Design in Technology for Global Development</a></li>
                                    <li><a href="http://dl.acm.org/citation.cfm?id=1926189" target="_blank">COCO: a web-based data tracking architecture for challenged network environments</a></li>
                                    <li><a href="http://dl.acm.org/citation.cfm?id=2442935" target="_blank">Identification of highly influential individuals in a rural social network</a></li>
                                    <li><a href="{{STATIC_URL}}docs/publications/meas_study_kerry_harwin.pdf" target="_blank">Lessons Learned from Locally Produced Videos – the Approach of Digital Green in India</a></li>
									<li><a href="{{STATIC_URL}}docs/publications/spring_community_led_video_miycn_india.pdf" target="_blank">Using a community-led video approach to promote maternal, infant, and young child nutrition in Odisha, India - Results from a pilot and feasibility study</a></li>
                                </ul>
                                <div class="hdg-e hdg-source-reg layout-vr-sm"> Films</div>
                                <ul class="link-list">
                                    <li><a href="https://www.youtube.com/watch?v=JYkaf4ucaSc"  target="_blank">The Digital Green Story (November 2014)</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=fpNw1Hxt03E"  target="_blank">The Digital Green Story (June 2014)</a></li>
                                    <li><a href="http://vimeo.com/46156338"  target="_blank">Digital Green in Action (2012)</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=_bKHBHDRrWw"  target="_blank">SAFANSI Pilot in Bihar</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=sFKfOJgF3zw"  target="_blank">SAFANSI JEEViKA Topics</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=e-LVqhNtS4g"  target="_blank">SPRING/Digital Green Project</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=YbVbe6W0fPE"  target="_blank">Digital Green – CSISA Collaboration</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="annualreport13" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Annual Report 2013</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/231938099/content?start_page=1&view_mode=scroll&show_recommendations=false" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_38757" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report13.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="annualreport12" role="main" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Annual Report 2012</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/157647606/content?start_page=1&view_mode=scroll&show_recommendations=false" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_38757" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report12.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="annualreport10-11" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Annual Report 2010-2011</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/79824595/content?start_page=1&amp;view_mode=scroll&show_recommendations=false" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_98872" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report10-11.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="annualreport09-10" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Annual Report 2009-2010</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects img-size-lg">
                            <a href="{% url 'annualreport09' %}"><img src="{{STATIC_URL}}social_website/content/annualreportlinkimg2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Letter from the CEO</h3>
                            <p class="copy copy-para">Digital Green works to build technologies and to serve as a resource agency to maximize the potential of the partners and the communities that we work with. The last year has been one of great learning and progress in the field and as a team.</p>
                            <a href="{% url 'annualreport09' %}">Read More ...</a>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
		
        <section id="sop" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Standard Operating Procedures</h2>
                    <div class="media layout-vr-md">
                        <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/138870439/content?start_page=1&view_mode=scroll&access_key=key-1zs9aeh2bmtjd02jnpzi&amp;" data-auto-height="false" data-aspect-ratio="" scrolling="no" width="100%" height="600" frameborder="0" style="border: 0px;">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Standard-Operating-Procedures.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
		
        <section id="training" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Training</h2>
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                            <div class="grid-col grid-size2of4">
                                <ul class="link-list">
                                    <li><a href="{{STATIC_URL}}docs/training/Brief.pdf"  target="_blank">Brief</a></li>
                                    <li><a href="{{STATIC_URL}}docs/training/Dissemination-Training-Manual.pdf"  target="_blank">Dissemination Training Manual</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% include "includes/footer.html" %}
