{% include "includes/header.html" %}
        
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Resources</h2>
                    <div class="media layout-vr-xlg">
                        <div class='bd'>
                        <ul class="link-list">
                            <li>
                                <a href="#annualreport12-13">Annual Report 2012-2013
                                </a>
                            </li>
                            <li>
                                <a href="#annualreport10-11">Annual Report 2010-2011
                                </a>
                            </li>
                            <li>
                                <a href="#annualreport09-10">Annual Report 2009-2010
                                </a>
                            </li>
                            <li>
                                <a href="#keyfacts">Key Facts
                                </a>
                            </li>
                            <li>
                                <a href="#sop">Standard Operating Procedures
                                </a>
                            </li>
                            <li>
                                <a href="#qaf">Quality Assurance Framework
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="annualreport12-13" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Annual Report 2012-2013</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/157647606/content?start_page=1&view_mode=scroll&show_recommendations=true" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_38757" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report12-13.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="annualreport10-11" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Annual Report 2010-2011</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="http://www.scribd.com/embeds/79824595/content?start_page=1&amp;view_mode=list&amp;access_key=2o3sj0xp50qyqozod4bi" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_98872" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Annual-Report10-11.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="annualreport09-10" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Annual Report 2009-2010</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects img-size-lg">
                            <a href="{% url annualreport09 %}"><img src="{{STATIC_URL}}social_website/content/annualreportlinkimg2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="bd">
                            <h3 class="hdg-source-semibold hdg-c hdg-black layout-vr-sm">Letter from the CEO</h3>
                            <p class="copy copy-para">Digital Green works to build technologies and to serve as a resource agency to maximize the potential of the partners and the communities that we work with. The last year has been one of great learning and progress in the field and as a team.</p>
                            <a href="{% url annualreport09 %}">Read More ...</a>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
		
        <section id="keyfacts" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Key Facts</h2>
                    <div class="layout-vr-md">
                        <iframe src="http://www.scribd.com/embeds/154431570/content?start_page=1&view_mode=list&access_key=key-2ar3evhh0h53iyxgz6of" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_23203" width="944" height="500" frameborder="0" seamless></iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Key-Facts.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
		
        <section id="sop" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Standard Operating Procedures</h2>
                    <div class="media layout-vr-md">
                        <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/77226898/content?view_mode=list&amp;start_page=1&amp;access_key=key-1mwfczx5dthstdcu14k0&amp;" data-auto-height="false" data-aspect-ratio="" scrolling="no" width="100%" height="600" frameborder="0" style="border: 0px;">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Standard-Operating-Procedures.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
		
        <section id="qaf" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Quality Assurance Framework</h2>
                    <div class="media layout-vr-md">
                        <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/77227319/content?start_page=1&view_mode=list&access_key=key-1vvdkztjcuy5zv44q65n" data-auto-height="true" data-aspect-ratio="0.706697459584296" scrolling="no" id="doc_23203" width="944" height="500" frameborder="0"></iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Quality-Assurance-Framework.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}
