{% include "includes/header.html" %}
    
        <section id="contact" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Site Map</h2>
                    <div class="media layout-vr-xlg">
                        <h3><a class="hdg-source-reg hdg-c layout-vr-sm" href="/">Homepage</a></h3>
                        <h3><a class="hdg-source-reg hdg-c layout-vr-sm" href="/about/">About Us and Our Approach</a></h3>
                        <div class="layout-vr-sm grid-pad-lt-md">
                            <ul class='link-list'>
                                <li><a href="/about/">Our Vision, Mission & Values</a></li>
                                <li><a href="/about/#about">About Us</a></li>
                                <li><a href="/about/#approach">Our Approach</a></li>
                                <li><a href="/about/board/">Our Board</a></li>
                                <li><a href="/team/">Our Team</a></li>
                                <li><a href="/connect/">Our Partners</a></li>
                                <li><a href="/about/ourwork">Our Work</a></li>
                                <li><a href="/resources/">Resources</a></li>
                                <li><a>Resources</a>
                                    <ul class='link-list grid-pad-lt-md'>
                                        <li><a href="/resources/annual_reports/">Annual Reports</a></li>
                                        <li><a href="{{STATIC_URL}}docs/Digital-Green-Key-Facts.pdf" target="_blank">Organizational Brochure</a></li>
                                        <li><a href="/resources/our_programs/">Our Programs</a></li>
                                        <li><a href="/resources/field_stories/">Voices from the Field</a></li>
                                        <li><a href="/resources/sop/">Standard Operating Procedures</a></li>
                                        <li><a href="/resources/research/">Reports, Papers and Case Studies</a></li>
                                    </ul>
                                </li>
                                <li><a href="/events/">Events</a></li>
                                <li><a href="/press/">Digital Green in the News</a></li>
                                <li><a href="/contact/">Contact Us</a></li>
                                <li><a href="/donate/">Donate</a></li>
                                <li><a href="/blog/">Blog</a></li>
                            </ul>
                        </div>
                        <h3><a class="hdg-source-reg hdg-c layout-vr-sm" href="/discover/">Discover Great Videos</a></h3>
                        <div class='layout-vr-sm grid-pad-lt-md'>
                            <ul class='link-list'>
                                <li><a>Community Videos</a></li>
                            </ul>
                        </div>
                        <h3><a class="hdg-source-reg hdg-c layout-vr-sm" href="/connect/">Connect With Our Community</a></h3>
                        <div class='layout-vr-sm grid-pad-lt-md'>
                            <ul class='link-list'>
                                <li><a href="/connect/#india">Our Partners – India</a></li>
                                <li><a href="/connect/#africa">Our Partners – Africa</a></li>
                                <li><a href="/connect/#research">Research and Technology Partners</a></li>
                                <li><a href="/connect/#investors">Investors</a></li>
                            </ul>
                        </div>
                        <h3><a class="hdg-source-reg hdg-c layout-vr-sm" href="/tools/">Tools to Catalyze Change</a></h3> 
                        <div class='layout-vr-sm grid-pad-lt-md'>
                            <ul class='link-list'>
                                <li><a href="/tools/#coco">COCO – Data Management Framework</a></li>
                                <li><a href="/tools/#features">Features of COCO</a></li>
                                <li><a href="/tools/#analytics">Analytics Dashboard</li>
                                <li><a href="/tools/#farmerbook">Farmerbook
                                <li><a href="/tools/#wondervillage">Wonder Village: Facebook Game</li>
                            </ul>
                        </div>
                        <h3><a class="hdg-source-reg hdg-c layout-vr-sm" href="/careers/">Work With Us</a></h3> 
                        <h3><a class="hdg-source-reg hdg-c layout-vr-sm" href="http://creativecommons.org/licenses/by-nc-sa/2.5/in/" target="_blank">Copyright</a></h3> 
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}