{% include "includes/header.html" %}
    
        <section id="contact" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Site Map</h2>
                    <div class="media layout-vr-xlg">
                        <h3><a class="hdg-source-semibold hdg-c hdg-black layout-vr-sm" href="/" target="_blank">HOMEPAGE</a></h3>
                        <div class='bd copy'>
                            <ul class='bullet-list copy copy-para'>
                                    <li><a href="/about/" target="_blank">About Us and Our Approach</a></li>
                                    <li>Our Vision, Mission & Values</li>
                                    <li>About Us</li>
                                    <li>Our Approach</li>
                                    <li><a href="/about/board/" target="_blank">Our Board</a></li>
                                    <li><a href="/team/" target="_blank">Our Team</a></li>
                                    <li><a href="/connect/" target="_blank">Our Partners</a></li>
                                    <li><a href="/about/ourwork" target="_blank">Our Work</a></li>
                                    <li><a href="/resources/" target="_blank">Resources</a></li>
                                    <li><a href="/events/" target="_blank">Events</a></li>
                                    <li><a href="/press/" target="_blank">Digital Green in the News</a></li>
                                    <li><a href="/contact/" target="_blank">Contact Us</a></li>
                                    <li><a href="/donate/" target="_blank">Donate</a></li>
                                    <li><a href="/blog/" target="_blank">Blog</a></li>
                            </ul>
                        </div>
                        <h3><a class="hdg-source-semibold hdg-c hdg-black layout-vr-sm" href="/discover/" target="_blank">Discover Great Videos</a></h3>
                        <div class='bd copy'>
                            <ul class='bullet-list copy copy-para'>
                                    <li>Community Videos</li>
                            </ul>
                        </div>
                        <h3><a class="hdg-source-semibold hdg-c hdg-black layout-vr-sm" href="/connect/" target="_blank">Connect With Our Community</a></h3>               
                        <div class='bd copy'>
                            <ul class='bullet-list copy copy-para'>
                                    <li>Our Partners – India</li>
                                    <li>Our Partners – Africa</li>
                                    <li>Research and Technology Partners</li>
                                    <li>Investors</li>
                            </ul>
                        </div>
                        <h3><a class="hdg-source-semibold hdg-c hdg-black layout-vr-sm" href="/" target="_blank">Tools to Catalyze Change</a></h3> 
                        <div class='bd copy'>
                            <ul class='bullet-list copy copy-para'>
                                    <li><a href="http://sandbox.digitalgreen.org/coco/#login" target="_blank">COCO – Data Management Framework</a> (User Name: guestuser | Password: digitalgreen)</li>
                                    <li>Features of COCO</li>
                                    <li><a href="/analytics/overview_module" target="_blank">Analytics Dashboard</li>
                                    <li><a href="/farmerbook/" target="_blank">Farmerbook
                                    <li><a href="http://apps.facebook.com/wondervillage/" target="_blank">Wonder Village: Facebook Game</li>
                            </ul>
                        </div>
                        <h3><a class="hdg-source-semibold hdg-c hdg-black layout-vr-sm" href="/careers/" target="_blank">Work With Us</a></h3> 

                        <h3><a class="hdg-source-semibold hdg-c hdg-black layout-vr-sm" href="http://creativecommons.org/licenses/by-nc-sa/2.5/in/" target="_blank">Copyright</a></h3> 
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}
