{% include "includes/header.html" %}
    
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">Standard Operating Procedures</h2>
                        <ul class="link-list">
                            <li><a href="#sop">Standard Operating Procedures v4.0 - 2013</a></li>
                            <li><a>Standard Operating Procedures - Tools</a>
                                <ul class="link-list" style="margin-left:20px">
                                    <li><a href="{{STATIC_URL}}docs/SOP_tools/COCO_Data_Verification.pdf" target="_blank">COCO Data Verification</a></li>
                                    <li><a href="{{STATIC_URL}}docs/SOP_tools/D&A_Combined_Forms.pdf" target="_blank">D&A Combined Forms</a></li>
                                    <li><a href="{{STATIC_URL}}docs/SOP_tools/Dissemination_Observation-Sep_2014.pdf" target="_blank">Dissemination Observation - Sep 2014</a></li>
                                    <li><a href="{{STATIC_URL}}docs/SOP_tools/Dissemination_Score Sheet-09102014.xlsx" target="_blank">Dissemination Score Sheet (Excel) - Sep 2014</a></li>
                                    <li><a href="{{STATIC_URL}}docs/SOP_tools/Storyboard-Feb_2014.pdf" target="_blank">Storyboard - Feb 2014</a></li>
                                    <li><a href="{{STATIC_URL}}docs/SOP_tools/Video_Production_Checklist.pdf" target="_blank">Video Production Checklist</a></li>
                                    <li><a href="{{STATIC_URL}}docs/SOP_tools/Video_Review_and_Approval_Form-Jan_2015.pdf" target="_blank">Video Review and Approval Form - Jan 2015</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="sop" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Standard Operating Procedures v4.0 - 2013</h2>
                    <div class="media layout-vr-md">
                        <iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/138870439/content?start_page=1&view_mode=scroll&access_key=key-1zs9aeh2bmtjd02jnpzi&amp;" data-auto-height="false" data-aspect-ratio="" scrolling="no" width="100%" height="600" frameborder="0" style="border: 0px;">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/Standard-Operating-Procedures.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}