{% include "includes/header.html" %}
        
        
        <section id="coco" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">COCO - Connect Online | Connect Offline</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/coco.jpg" alt="" />
                        </div>
                        <div class="bd copy">
                            <p class="copy-para">A data management framework, COCO, forms the foundation of our technology stack. COCO captures data related to key processes of our model: video production (e.g., practices featured, farmers involved, seasonality), dissemination (e.g., videos screened, attendance, interests expressed, questions), and adoption of practices (e.g., components of practices physically observed on farm, regularity of uptake).
                            </p>
                            <p>COCO's singular feature is its ability to operate offline in low and limited bandwidth locations, with uninterrupted usage in the browser. The application is designed to support up to 100,000 users located anywhere in the world and requires Internet connectivity only when a user is ready to synchronize their data with our global repository. Built as a robust standalone application in the Internet browser, COCO requires no additional software installation or maintenance. The system is designed in an open-source, customizable framework that can be deployed easily without the assistance of IT/engineering staff.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id='analytics' class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Analytics Dashboard</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/analytics.jpg" alt="" />
                        </div>    
                        <div class="bd copy">
                            <p> Built on the COCO database, our Analytics suite of dashboards provides near real-time information on field operations, performance targets, and other metrics relevant to the organization. The system is freely available and accessible online.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id='farmerbook' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Farmerbook</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/farmerbook.jpg" alt="" />
                        </div>
                        <div class="bd copy">
                            <p class='copy-para'>Farmerbook is developed to connect global audience with farmers and can be accessed at <a href="http://www.digitalgreen.org/farmerbook/">farmerbook</a>. It features profiles of the farmers we work with displaying videos watched with data about practices adopted and questions asked layered over it. It also links to profiles of self-help group he/she belongs to and the village he/she inhabits.
                            </p>
                            <p class="copy-para">We have captured the photographs of around 10,000.
                            </p>
                            <p class="copy-para">This has been integrated with Facebook to enable online users to follow farmers just as they follow online users. It has also been made accessible through Wonder Village to urban online users to get some exposure to real farmers and the technologies and practices which are making a difference.
                            </p>
                            <p>In the future, we plan to redevelop the user interface for farmerbook to seamlessly integrate Farmerbook into our new website, employing timeline metaphors and other social media concepts to improve ease-of-use.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
               
        <section id='wondervillage' class="about-bg ">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Wonder Village: Game</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects img-size-lg">
                            <img src="{{STATIC_URL}}social_website/content/wonder_village.jpg" alt="" />
                        </div>
                        <div class="copy bd">
                            <p class="copy-para">To see how our core work in the field can connect with external audiences who could learn and engage in issues related to rural development, we have created a social game, Wonder Village, which is hosted on Facebook. Through the game, players set up a simulated village economy and have opportunities to relate with actual farmers in the field. Players are placed in a resource-constrained setting and pursue quests like setting up small farms of paddy and maize and supplying raw materials to farmers' markets. The game follows a "freemium" model, which allows users to play for free and allows users to purchase virtual currency to advance more quickly.
                            </p>
                            <p>With over 80 million users playing games on Facebook every month for an average of 15 minutes a day, Wonder Village has the potential to be an effective awareness-building and fundraising tool for the development sector.
							</p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='opensourcecode' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Open-source Code</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <img src="http://octodex.github.com/images/original.jpg" alt="" />
                        </div>
                        <div>
                            <p class="copy">Our code is open source. Please feel free to fork any code available in our Github repository.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
{% include "includes/footer.html" %}
