{% include "includes/header.html" %}
        
        
        <section id="coco" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">COCO - Connect Online | Connect Offline</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <a href="/coco/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/coco_v2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="bd copy">
                            <p class="copy-para">A data management framework, COCO, forms the foundation of our technology stack. COCO captures data related to key processes of our model: video production (e.g., practices featured, farmers involved, seasonality), dissemination (e.g., videos screened, attendance, interests expressed, questions), and adoption of practices (e.g., components of practices physically observed on farm, regularity of uptake).
                            </p>
                            <p  class="copy-para">COCO's singular feature is its ability to operate offline in low and limited bandwidth locations, with uninterrupted usage in the browser. The application is designed to support up to 100,000 users located anywhere in the world and requires Internet connectivity only when a user is ready to synchronize their data with our global repository. Built as a robust standalone application in the Internet browser, COCO requires no additional software installation or maintenance.
                            </p>
                            <p>You can try it out <a href="http://sandbox.digitalgreen.org/coco/v2/" target="_blank">here</a>. Please use the following credentials:<br>
                            username : guestuser<br>
                            password : digitalgreen
                            </p>
                            
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id='analytics' class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Analytics Dashboard</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects img-size-lg">
                            <a href="/analytics/overview_module?geog=country&id=1" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/analytics.jpg" alt="" />
                            </a>
                        </div>
                        <div class="bd copy">
                            <p class="copy-para"> Built on the COCO database, our Analytics suite of dashboards provides near real-time information on field operations, performance targets, and other metrics relevant to the organization. The system is freely available and accessible online.
                            </p>
                            <p>Visit our Analytics dashboards <a href="/analytics/overview_module?geog=country&id=1" target="_blank">here</a>.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id='farmerbook' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Farmerbook</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <a href="/farmerbook/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/farmerbook.jpg" alt="" />
                            </a>
                        </div>
                        <div class="bd copy">
                            <p class='copy-para'>Farmerbook is an open-access platform which displays detailed timeline-based activities of each farmer we work with along with the villages plotted on Google Map. The application highlights the integrated nature of the practices that individual farmers adopt on their fields as well as stimulates healthy competition among partners, village facilitators, and community members through the sharing of performance data and community feedback. Use of Farmerbook also supports transparency and accountability in existing extension systems and enables the development of non-monetary incentive structures among stakeholders participating in them through mechanisms like leaderboards. 
                            </p>
                            <p>Visit Farmerbook at <a href="/farmerbook/" target="_blank">farmerbook.digitalgreen.org</a>.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
               
        <section id='wondervillage' class="about-bg ">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Wonder Village: Game</h2>
                    <div class="media layout-vr-xlg">
                        <div class="img img-marginLg-rt img-effects img-size-lg">
                            <a href="https://apps.facebook.com/wondervillage/" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/wonder_village.jpg" alt="" />
                            </a>
                        </div>
                        <div class="copy bd">
                            <p class="copy-para">To see how our core work in the field can connect with external audiences who could learn and engage in issues related to rural development, we have created a social game, Wonder Village, which is hosted on Facebook. Through the game, players set up a simulated village economy and have opportunities to relate with actual farmers in the field. Players are placed in a resource-constrained setting and pursue quests like setting up small farms of paddy and maize and supplying raw materials to farmers' markets. The game follows a "freemium" model, which allows users to play for free and allows users to purchase virtual currency to advance more quickly.
                            </p>
                            <p class="copy-para">With over 80 million users playing games on Facebook every month for an average of 15 minutes a day, Wonder Village has the potential to be an effective awareness-building and fundraising tool for the development sector.
                            </p>
                            <p>Play WonderVillage at <a href="https://apps.facebook.com/wondervillage/" target="_blank">apps.facebook.com/wondervillage/</a>.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id='opensourcecode' class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Open-source Code</h2>
                    <div class="media layout-vr-xlg">
                        <div class="imgExt img-marginLg-lt img-effects img-size-lg">
                            <a href="https://github.com/digitalgreenorg/dg" target="_blank">
                                <img src="{{STATIC_URL}}social_website/content/github.jpg" alt="" />
                            </a>
                        </div>
                        <div>
                            <p class="copy-para copy">Our code is open source. Please feel free to fork any code available in our Github repository.
                            </p>
                            <p class="copy">You can try it out <a href="https://github.com/digitalgreenorg/dg" target="_blank">here</a>.
                            </p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
{% include "includes/footer.html" %}
