{% include "includes/header.html" %}

<div class="grid" id="tabs">                                 
    <div style="width: 600px;float: left">
      <ul class="nav" style="border: 1px solid #EEEEEE;background: #f3f2eb;color: #047D0A;font-weight: bold;margin: 0;padding: .2em 1.2em 0;">
        <li><a href="#tabs-1" class="selected"><span>Production</span></span></a></li>
        <li><a href="#tabs-2"><span><span>Dissemination</span></span></a></li>
      </ul>
    </div>
    <div style="margin-left:200px;margin-top:4px;background: #f3f2eb" class="nav">
    <select style="border: 1px solid #ffffff;background: #ffffff; height: 32px; width: 400px; color: #047D0A;font-weight: bold;" id="id_language" name="language" class="nav" onchange="handleChange()">
      <option value="/about/training/en/" {% if request.get_full_path == "/about/training/en/"  or  request.get_full_path == "/about/training/en/" %} selected="true"{% endif %}>English</option>
      <option value="/about/training/hi/" {% if request.get_full_path == "/about/training/hi/" %} selected="true"{% endif %}>Hindi</option>
      <option value="/about/training/fr/" {% if request.get_full_path == "/about/training/fr/" %} selected="true"{% endif %}>French</option>
    </select>
    </div>
  
    
  <div id="tabs-1" class="active" style="margin-left: -21px;background: #f3f2eb">
    <!-- second div  -->
    <div class="wrapper about-bg">
      <div class="inner-wrapper">
        <div class="media layout-vr-xlg">
          <h2 class="hdg-a hdg-source-lt layout-vr-md">Materials Required</h2>
          <div class="hdg-f hdg-source-reg grid">
            
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Moon Tent Activity Sheet A5 Size.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/moontent.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Activity Sheet</div>
              </a>
            </div>

            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Moon Tent -Written Instructions-Hindi.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Moon Tent -Written Instructions-Hindi.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Written Instructions</div>
              </a>
            </div>

            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Moon-Tent-with-Illustrations-and-Instructions-Hindi" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Moon-Tent-with-Illustrations-and-Instructions-Hindi.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Illustration</div>
              </a>
            </div>

              <div class="grid-col grid-size1of4 layout-vr-lg">
                  <a href="{{STATIC_URL}}docs/training/Digital-Green-photo-story-(Hindi)" target="_blank">
                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                      <img src="{{STATIC_URL}}docs/training/Digital-Green-photo-story-(Hindi).png" height="260" width="190" alt=""/>
                    </div>
                    <div class="centered">DG photo story</div>
                  </a>
              </div>
          </div>
          <div class="hdg-f hdg-source-reg grid">
            <div class="media layout-vr-xlg">
            <div>
              <ul class="h-list h-list-lg">
                <li>
                  <div class="vid-cat-selected">
                    <div class="vid-cat">
                      <a href="http://www.youtube.com/watch?v=r5ECWQ6L1s4" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/r5ECWQ6L1s4/default.jpg"><img height=124 width=217 src="http://i.ytimg.com/vi/r5ECWQ6L1s4/default.jpg" /></a>
                      <div class="vid-flag">
                        <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                          <li>1 Video</li>
                          <li>4:29</li>
                        </ul>
                      </div>
                        <div class="vid-cat-inner">
                          <div class="vid-cat-hd">
                            <h3 class="hdg-green hdg-f hdg-bold">Moon Tent - Video</h3>
                          </div>
                          <div class="vid-cat-bd">
                            <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                          </div>
                          <div class="vid-cat-ft">
                            <p>For more information and related videos visit us on http://www.digitalgreen.org/</p>
                          </div>
                        </div> <!-- End .vid-inner -->
                    </div> <!-- End .vid-cat -->
                  </div>
                </li>

                <li>
                  <div class="vid-cat-selected">
                    <div class="vid-cat">
                      <a href="http://www.youtube.com/watch?v=0-jUyhv5RIA" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/0-jUyhv5RIA/default.jpg"><img height=124 width=217 src="http://i.ytimg.com/vi/0-jUyhv5RIA/default.jpg" /></a>
                      <div class="vid-flag">
                        <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                          <li>1 Video</li>
                          <li>15:18</li>
                        </ul>
                      </div>
                        <div class="vid-cat-inner">
                          <div class="vid-cat-hd">
                            <h3 class="hdg-green hdg-f hdg-bold">DG Production team's work</h3>
                          </div>
                          <div class="vid-cat-bd">
                            <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                          </div>
                          <div class="vid-cat-ft">
                            <p>For more information and related videos visit us on http://www.digitalgreen.org/</p>
                          </div>
                        </div> <!-- End .vid-inner -->
                    </div> <!-- End .vid-cat -->
                  </div>
                </li>

              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} Video Based Sessions {% endcomment %}
      
    <div class="wrapper about-bg-white" style="margin-top: -57px">
      <div class="inner-wrapper">
        <div class="media layout-vr-xlg">
          <h2 class="hdg-a hdg-source-lt layout-vr-md">Video Based Sessions</h2>
          <div class="hdg-f hdg-source-reg grid">
            <div class="hdg-f hdg-source-reg grid">
            <div class="media layout-vr-xlg">
            <div>
              <ul class="h-list h-list-lg">
                <li>
                  <div class="vid-cat-selected">
                    <div class="vid-cat">
                      <a href="http://www.youtube.com/watch?v=3x3t51I5Wos" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/3x3t51I5Wos/default.jpg"><img height=124 width=217 src="http://i.ytimg.com/vi/3x3t51I5Wos/default.jpg" /></a>
                      <div class="vid-flag">
                        <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                          <li>1 Video</li>
                          <li>12:48</li>
                        </ul>
                      </div>
                        <div class="vid-cat-inner">
                          <div class="vid-cat-hd">
                            <h3 class="hdg-green hdg-f hdg-bold">Types of Shots</h3>
                          </div>
                          <div class="vid-cat-bd">
                            <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                          </div>
                          <div class="vid-cat-ft">
                            <p>For more information and related videos visit us on http://www.digitalgreen.org/</p>
                          </div>
                        </div> <!-- End .vid-inner -->
                    </div> <!-- End .vid-cat -->
                  </div>
                </li>

                <li>
                  <div class="vid-cat-selected">
                    <div class="vid-cat">
                      <a href="http://www.youtube.com/watch?v=0-jUyhv5RIA" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/IuJk-Ka6tZ0/default.jpg"><img height=124 width=217 src="http://i.ytimg.com/vi/IuJk-Ka6tZ0/default.jpg" /></a>
                      <div class="vid-flag">
                        <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                          <li>1 Video</li>
                          <li>4:02</li>
                        </ul>
                      </div>
                        <div class="vid-cat-inner">
                          <div class="vid-cat-hd">
                            <h3 class="hdg-green hdg-f hdg-bold">How to construct a scene</h3>
                          </div>
                          <div class="vid-cat-bd">
                            <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                          </div>
                          <div class="vid-cat-ft">
                            <p>For more information and related videos visit us on http://www.digitalgreen.org/</p>
                          </div>
                        </div> <!-- End .vid-inner -->
                    </div> <!-- End .vid-cat -->
                  </div>
                </li>

              </ul>
            </div>
          </div>
          </div>
          </div>
      </div>
    </div>
    {% comment %} Video Based Sessions end {% endcomment %}
  </div>
  </div>

    {% comment %} Second tab {% endcomment %}
    <div id="tabs-2" class="active" style="margin-left: -21px;background: #f3f2eb">
      {% comment %} Second tab 2 div  start {% endcomment %}
      <div class="wrapper about-bg">
        <div class="inner-wrapper">
          <div class="media layout-vr-xlg">
            <h2 class="hdg-a hdg-source-lt layout-vr-md">Materials Required</h2>
            <div class="hdg-f hdg-source-reg grid">
              
              <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Moon Tent Activity Sheet A5 Size.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/moontent.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Activity Sheet</div>
              </a>
            </div>

            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Moon Tent -Written Instructions-Hindi.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Moon Tent -Written Instructions-Hindi.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Written Instructions</div>
              </a>
            </div>

            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Moon-Tent-with-Illustrations-and-Instructions-Hindi" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Moon-Tent-with-Illustrations-and-Instructions-Hindi.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Illustration</div>
              </a>
            </div>

              <div class="grid-col grid-size1of4 layout-vr-lg">
                  <a href="{{STATIC_URL}}docs/training/Digital-Green-photo-story-(Hindi)" target="_blank">
                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                      <img src="{{STATIC_URL}}docs/training/Digital-Green-photo-story-(Hindi).png" height="260" width="190" alt=""/>
                    </div>
                    <div class="centered">DG photo story</div>
                  </a>
              </div>

              <div class="grid-col grid-size1of4 layout-vr-lg">
                <ul class="h-list h-list-lg">
                  <li>
                    <div class="vid-cat-selected">
                      <div class="vid-cat">
                        <a href="http://www.youtube.com/watch?v=GxepC_1YSNk" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/GxepC_1YSNk/default.jpg"><img height=124 width=217 src="http://i.ytimg.com/vi/GxepC_1YSNk/default.jpg" /></a>
                        <div class="vid-flag">
                          <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                            <li>1 Video</li>
                            <li>3:17</li>
                          </ul>
                        </div>
                          <div class="vid-cat-inner">
                            <div class="vid-cat-hd">
                              <h3 class="hdg-green hdg-f hdg-bold">Dharmendra's Story</h3>
                            </div>
                            <div class="vid-cat-bd">
                              <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                            </div>
                            <div class="vid-cat-ft">
                              <p>For more information and related videos visit us on http://www.digitalgreen.org/</p>
                            </div>
                          </div> <!-- End .vid-inner -->
                      </div> <!-- End .vid-cat -->
                    </div>
                  </li>
                </ul>
              </div>


              <div class="grid-col grid-size1of4 layout-vr-lg">
                <a href="{{STATIC_URL}}docs/traning/Pico-Scoresheet-Hindi-2015-05-07.pdf" target="_blank">
                  <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                      <img src="{{STATIC_URL}}docs/training/Pico-Scoresheet-Hindi-2015-05-07.png" height="260" width="190" alt=""/> 
                  </div>
                  <div class="centered">Pico Scoresheet</div>
                </a>
              </div>

              <div class="grid-col grid-size1of4 layout-vr-lg">
                <a href="{{STATIC_URL}}docs/traning/Dissemination-Process-cards.pdf" target="_blank">
                  <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                      <img src="{{STATIC_URL}}docs/training/Dissemination-Process-cards.png" height="260" width="190" alt=""/> 
                  </div>
                  <div class="centered">Dissemination Process Card</div>
                </a>
              </div>

              <div class="grid-col grid-size1of4 layout-vr-lg">
                <a href="{{STATIC_URL}}docs/training/Non-negotiable-card.pdf" target="_blank">
                  <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                      <img src="{{STATIC_URL}}docs/training/Non-negotiable-card.png" height="260" width="190" alt=""/> 
                  </div>
                  <div class="centered">Non-negotiable card</div>
                </a>
              </div>
              <div class="grid-col grid-size1of4 layout-vr-lg">
                <a href="{{STATIC_URL}}docs/traning/Training-Feedback-Hindi-2015-05-14.pdf" target="_blank">
                  <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                      <img src="{{STATIC_URL}}docs/training/training_hindi.png" height="260" width="190" alt=""/> 
                  </div>
                  <div class="centered">Training Feedback</div>
                </a>
              </div>

              <div class="grid-col grid-size1of4 layout-vr-lg">
              <ul class="h-list h-list-lg">
                <li>
                  <div class="vid-cat-selected">
                    <div class="vid-cat">
                      <a href="http://www.youtube.com/watch?v=r5ECWQ6L1s4" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/r5ECWQ6L1s4/default.jpg"><img height=124 width=217 src="http://i.ytimg.com/vi/r5ECWQ6L1s4/default.jpg" /></a>
                      <div class="vid-flag">
                        <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                          <li>1 Video</li>
                          <li>4:29</li>
                        </ul>
                      </div>
                        <div class="vid-cat-inner">
                          <div class="vid-cat-hd">
                            <h3 class="hdg-green hdg-f hdg-bold">Moon Tent - Video</h3>
                          </div>
                          <div class="vid-cat-bd">
                            <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                          </div>
                          <div class="vid-cat-ft">
                            <p>For more information and related videos visit us on http://www.digitalgreen.org/</p>
                          </div>
                        </div> <!-- End .vid-inner -->
                    </div> <!-- End .vid-cat -->
                  </div>
                </li>
              </ul>
            </div>
          </div>

            </div>


          </div>
        </div>



      <div class="wrapper about-bg-white style="margin-top: -57px"">
        <div class="inner-wrapper">
            <div class="media layout-vr-xlg">
                <h2 class="hdg-a hdg-source-lt layout-vr-md">Training Modules</h2>
                <div>
                    <ul class="h-list h-list-lg">
                        <li>
                            <div class="vid-cat-selected">
                                <div class="vid-cat">
                                    <a href="{% url 'picoseekho' %}">
                                        <img height=124 width=217 src="{{STATIC_URL}}docs/training/picoseekho_module.png" />
                                    </a>
                                    <div class="vid-flag">
                                            <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                                                <li>6 Videos</li>
                                                <li>15:35</li>
                                            </ul>
                                    </div>
                                    <div class="vid-cat-inner">
                                        <div class="vid-cat-hd">
                                            <h3 class="hdg-green hdg-f hdg-bold">Pico Seekho</h3>
                                        </div>
                                        <div class="vid-cat-bd">
                                            <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                                        </div>
                                        <div class="vid-cat-ft">
                                            <p>During video dissemination, a low-cost battery-operated pico projector is used to show the videos. This course comprises of a set of vide ...</p>
                                        </div>
                                    </div> <!-- End .vid-inner -->
                                </div> <!-- End .vid-cat -->
                            </div>
                        </li>
                        <li>
                            <div class="vid-cat-selected">
                                <div class="vid-cat">
                                    <a href="{% url 'disseminationprep' %}">
                                        <img height=124 width=217 src="{{STATIC_URL}}docs/training/disseminationprep_module.jpg" />
                                    </a>
                                    <div class="vid-flag">
                                            <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                                                <li>2 Videos</li>
                                                <li>7:17</li>
                                            </ul>
                                    </div>
                                    <div class="vid-cat-inner">
                                        <div class="vid-cat-hd">
                                            <h3 class="hdg-green hdg-f hdg-bold">Preparing for Dissemi ...</h3>
                                        </div>
                                        <div class="vid-cat-bd">
                                            <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                                        </div>
                                        <div class="vid-cat-ft">
                                            <p>Training is an essential element in the Digital Green approach, since much of our work is centered on enhancing the capacities of our ...</p>
                                        </div>
                                    </div> <!-- End .vid-inner -->
                                </div> <!-- End .vid-cat -->
                            </div>
                        </li>
                        <li>
                            <div class="vid-cat-selected">
                                <div class="vid-cat">
                                    <a href="{% url 'disseminationform' %}">
                                        <img height=124 width=217 src="{{STATIC_URL}}docs/training/disseminationform_module.png" />
                                    </a>
                                    <div class="vid-flag">
                                            <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                                                <li>4 Videos</li>
                                                <li>10:51</li>
                                            </ul>
                                    </div>
                                    <div class="vid-cat-inner">
                                        <div class="vid-cat-hd">
                                            <h3 class="hdg-green hdg-f hdg-bold">Dissemination process ...</h3>
                                        </div>
                                        <div class="vid-cat-bd">
                                            <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                                        </div>
                                        <div class="vid-cat-ft">
                                            <p>We train community people in both video production and video dissemination. This course is in Hindi, on how to conduct a dissem ...</p>
                                        </div>
                                    </div> <!-- End .vid-inner -->
                                </div> <!-- End .vid-cat -->
                            </div>
                        </li>
                        <li>
                            <div class="vid-cat-selected">
                                <div class="vid-cat">
                                    <a href="{% url 'adoptionverification' %}">
                                        <img height=124 width=217 src="{{STATIC_URL}}docs/training/adoptionverification_module.png" />
                                    </a>
                                    <div class="vid-flag">
                                            <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                                                <li>3 Videos</li>
                                                <li>12:31</li>
                                            </ul>
                                    </div>
                                    <div class="vid-cat-inner">
                                        <div class="vid-cat-hd">
                                            <h3 class="hdg-green hdg-f hdg-bold">Adoption Verification ...</h3>
                                        </div>
                                        <div class="vid-cat-bd">
                                            <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                                        </div>
                                        <div class="vid-cat-ft">
                                            <p>Much of our work is centered on enhancing the capacities of our partners as well as the community. This is a course on how to conduct ...</p>
                                        </div>
                                    </div> <!-- End .vid-inner -->
                                </div> <!-- End .vid-cat -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



              {% comment %} Second tab 2 div  end {% endcomment %}

</div>



</div>
  <script type="text/javascript">
  $(document).ready(function () {
    $("#tabs").tabs();
  });
  </script>
  <script type="text/javascript">
        function handleChange() {
            var arr = document.getElementById( 'id_language' ) ;
            window.location = arr.value ;
        } 
        </script>
  <script type="text/javascript">
    var html5lightbox_options = {
        watermark: "",
        watermarklink: ""
    };
</script>

  

{% include "includes/footer.html" %}
