{% include "includes/header.html" %}

<style>

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #76b16a;
  text-decoration: none;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #047d0a;
  text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active {
    border: 1px solid #359123;
    background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
    font-weight: bold;
    color: #359123;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited{
  color: #359123;
  text-decoration: none;
  border: 1px solid #359123;
  background: #d2e7be;
}



</style>

<div class="grid" id="tabs">                                 
    <div style="width: 600px;float: left">
      <ul class="nav" style="border: 1px solid #EEEEEE;background: #EEEEEE;color: #047D0A;font-weight: bold;margin: 0;padding: .2em 1.2em 0;">
        <li><a href="#tabs-1" {% if class == "ui-state-active" %} style="font-weight: bold;
  color: #057d0a;border: 1px solid #057d0a;"{% endif %}><span>Production</span></span></a></li>
        <li><a href="#tabs-2"><span><span>Dissemination</span></span></a></li>
      </ul>
    </div>
    <div style="margin-left:200px;margin-top:4px;" class="nav">
    <select style="border: 1px solid #ffffff;background: #ffffff; height: 32px; width: 400px; color: #047D0A;font-weight: bold;" id="id_language" name="language" class="nav" onchange="handleChange()">
      <option value="/about/training/en/" {% if request.get_full_path == "/about/training/en/"  or  request.get_full_path == "/about/training/en/" %} selected="true"{% endif %}>English</option>
      <option value="/about/training/hi/" {% if request.get_full_path == "/about/training/hi/" %} selected="true"{% endif %}>Hindi</option>
      <option value="/about/training/fr/" {% if request.get_full_path == "/about/training/fr/" %} selected="true"{% endif %}>French</option>
    </select>
    </div>
  
  <div id="tabs-1" class="active" style="margin-left: -21px;">

    {% comment %} Manual {% endcomment %}
    <div class="wrapper about-bg-white">
      <div class="inner-wrapper">
        <div class="media layout-vr-xlg">
          <h2 class="hdg-a hdg-source-lt layout-vr-md">Manual</h2>
          <div class="hdg-f hdg-source-reg grid">
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Manual-Video Production Training -2015 - FR.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Manual-Video Production Training -2015 - FR.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Video Production Training Manual - 2015</div>
              </a>
            </div>
            {% comment %}
            <div class="grid-col grid-size1of4 layout-vr-lg">
                <a href="{{STATIC_URL}}docs/training/ToT Manual - Video Production (Trad FR).pdf" target="_blank">
                  <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                    <img src="{{STATIC_URL}}docs/training/ToT Manual - Video Production (Trad FR).png" height="260" width="190" alt=""/> 
                  </div>
                  <div class="centered">ToT Manual - Video Production (Trad FR)</div>
                </a>
              </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    {% comment %} End Manual {% endcomment %}

    {% comment %} Materials Required  {% endcomment %}
    <div class="wrapper about-bg" style="margin-top: -57px">
      <div class="inner-wrapper">
        <div class="media layout-vr-xlg">
          <h2 class="hdg-a hdg-source-lt layout-vr-md">Materials Required</h2>
          <div class="hdg-f hdg-source-reg grid">
          
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Check list for shooting preparation-fr.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Check list for shooting preparation-fr.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Activity Sheet</div>
              </a>
            </div>
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/HandoutsVideoProductionTraining-French.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/HandoutsVideoProductionTraining-French.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Written Instructions</div>
              </a>
            </div>
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Storyboard format-FR.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Storyboard format-FR.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Illustration</div>
              </a>
            </div>
            <div>
              <ul class="h-list h-list-lg">
                <li>
                  <div class="vid-cat-selected">
                    <div class="vid-cat">
                      <a href="https://youtu.be/L0g2VQ6X1pU" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/L0g2VQ6X1pU/default.jpg"><img height=124 width=217 src="http://i.ytimg.com/vi/L0g2VQ6X1pU/default.jpg" /></a>
                      <div class="vid-flag">
                        <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                          <li>1 Video</li>
                          <li>3:05</li>
                        </ul>
                      </div>
                        <div class="vid-cat-inner">
                          <div class="vid-cat-hd">
                            <h3 class="hdg-green hdg-f hdg-bold">Moon Tent - Video</h3>
                          </div>
                          <div class="vid-cat-bd">
                            <p class="copy copy-sm layout-vr-tiny">Bihar</p>
                          </div>
                          <div class="vid-cat-ft">
                            <p>For more information and related videos visit us on http://www.digitalgreen.org/</p>
                          </div>
                        </div> <!-- End .vid-inner -->
                    </div> <!-- End .vid-cat -->
                  </div>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} End Materials Required {% endcomment %}
    
    {% comment %} Handouts {% endcomment %}
    <div class="wrapper about-bg-white">
      <div class="inner-wrapper">
        <div class="media layout-vr-xlg">
          <h2 class="hdg-a hdg-source-lt layout-vr-md">Handouts</h2>
          <div class="hdg-f hdg-source-reg grid">
          
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Check list for shooting preparation-fr.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Check list for shooting preparation-fr.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Checklist for shooting prep</div>
              </a>
            </div>
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/HandoutsVideoProductionTraining-French.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/HandoutsVideoProductionTraining-French.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Video Production - Technical Tips</div>
              </a>
            </div>
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Storyboard format-FR.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Storyboard format-FR.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Storyboard Format</div>
              </a>
            </div>
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/video review form-FR.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/video review form-FR.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Video Review Form</div>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} EndHandouts {% endcomment %}


  





  </div>
  <div id="tabs-2" class="active" style="margin-left: -21px;">

    {% comment %} Manual {% endcomment %}
    <div class="wrapper about-bg-white">
      <div class="inner-wrapper">
        <div class="media layout-vr-xlg">
          <h2 class="hdg-a hdg-source-lt layout-vr-md">Manual</h2>
            <div class="hdg-f hdg-source-reg grid">
            
                  <div class="grid-col grid-size1of4 layout-vr-lg">
                    <a href="{{STATIC_URL}}docs/training/Manual-Dissemination-Training-2016-French.pdf" target="_blank">
                      <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                        <img src="{{STATIC_URL}}docs/training/Manual-Dissemination-Training-2016-French.png" height="260" width="190" alt=""/> 
                      </div>
                      <div class="centered">Dissemination Training Manual - 2016</div>
                    </a>
                  </div>
                </div>
        </div>
      </div>
    </div>
    {% comment %} EndManuals {% endcomment %}


    


    {% comment %} Material Required {% endcomment %}
    <div class="wrapper about-bg" style="margin-top: -57px">
      <div class="inner-wrapper">
        <div class="media layout-vr-xlg">
          <h2 class="hdg-a hdg-source-lt layout-vr-md">Materials Required</h2>
          <div class="hdg-f hdg-source-reg grid">
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Moon Tent Activity Sheet A5 Size.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/moontent.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Activity Sheet</div>
              </a>
            </div>

            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Moon_tent_written_instruction.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Moon_tent_written_instruction.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Written Instructions</div>
              </a>
            </div>

            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/MoonTent-2_traduit-Illustration.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/MoonTent-2_traduit-Illustration.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Moon Tent - Illustration</div>
              </a>
            </div>

            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Mediation-Observation-Form_French.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Mediation-Observation-Form_French.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Mediation Observation Form</div>
              </a>
            </div>

            

          </div>

          <div class="media layout-vr-xlg">
            <div>
              <ul class="h-list h-list-lg">
                <li>
                  <div class="vid-cat-selected">
                    <div class="vid-cat">
                      <a href="https://youtu.be/L0g2VQ6X1pU" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/L0g2VQ6X1pU/default.jpg"><img height=124 width=217 src="http://i.ytimg.com/vi/L0g2VQ6X1pU/default.jpg" /></a>
                      <div class="vid-flag">
                        <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                          <li>1 Video</li>
                          <li>3:05</li>
                        </ul>
                      </div>
                        <div class="vid-cat-inner">
                          <div class="vid-cat-hd">
                            <h3 class="hdg-green hdg-f hdg-bold">Moon Tent - Video</h3>
                          </div>
                          <div class="vid-cat-bd">
                            <p class="copy copy-sm layout-vr-tiny">Bihar</p>
                          </div>
                          <div class="vid-cat-ft">
                            <p>For more information and related videos visit us on http://www.digitalgreen.org/</p>
                          </div>
                        </div> <!-- End .vid-inner -->
                    </div> <!-- End .vid-cat -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} End Material Required {% endcomment %}

    {% comment %} Handouts {% endcomment %}
    <div class="wrapper about-bg-white">
      <div class="inner-wrapper">
        <div class="media layout-vr-xlg">
          <h2 class="hdg-a hdg-source-lt layout-vr-md">Handouts</h2>
          <div class="hdg-f hdg-source-reg grid">
          
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Dissemination and verification form-Health-French.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Dissemination and verification form-Health-French.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Dissemination and verification form -Health</div>
              </a>
            </div>
            <div class="grid-col grid-size1of4 layout-vr-lg">
              <a href="{{STATIC_URL}}docs/training/Dissemination-Checklist-translated-FINAL.pdf" target="_blank">
                <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                  <img src="{{STATIC_URL}}docs/training/Dissemination Checklist translated FINAL.png" height="260" width="190" alt=""/> 
                </div>
                <div class="centered">Dissemination Checklist</div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% comment %} EndHandouts {% endcomment %}

  </div>
  

  
  </div>
</div>
  <script type="text/javascript">
  $(document).ready(function () {
    $("#tabs").tabs();
  });
  </script>
  <script type="text/javascript">
        function handleChange() {
            var arr = document.getElementById( 'id_language' ) ;
            window.location = arr.value ;
        } 
        </script>
  <script type="text/javascript">
    var html5lightbox_options = {
        watermark: "",
        watermarklink: ""
    };
</script>

  

{% include "includes/footer.html" %}
