{% include "includes/header.html" %}

        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">Training Modules</h2>
                        <div>
                            <ul class="h-list h-list-xlg">
                                <li>
                                    <div class="vid-cat-selected">
                                        <div class="vid-cat">
                                            <a href="{% url 'picoseekho' %}">
                                                <img height=124 width=217 src="{{STATIC_URL}}docs/training/picoseekho_module.png" />
                                            </a>
                                            <div class="vid-flag">
                                                    <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                                                        <li>6 Videos</li>
                                                        <li>15:35</li>
                                                    </ul>
                                            </div>
                                            <div class="vid-cat-inner">
                                                <div class="vid-cat-hd">
                                                    <h3 class="hdg-green hdg-f hdg-bold">Pico Seekho</h3>
                                                </div>
                                                <div class="vid-cat-bd">
                                                    <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                                                </div>
                                                <div class="vid-cat-ft">
                                                    <p>During video dissemination, a low-cost battery-operated pico projector is used to show the videos. This course is in Hindi, on learning the...</p>
                                                </div>
                                            </div> <!-- End .vid-inner -->
                                        </div> <!-- End .vid-cat -->
                                    </div>
                                </li>
                                <li>
                                    <div class="vid-cat-selected">
                                        <div class="vid-cat">
                                            <a href="{% url 'documentation' %}">
                                                <img height=124 width=217 src="{{STATIC_URL}}docs/training/documentation_module.png" />
                                            </a>
                                            <div class="vid-flag">
                                                    <ul class="copy-sm copy-white h-list h-list-sm h-list-divided">
                                                        <li>3 Videos</li>
                                                        <li>29:03</li>
                                                    </ul>
                                            </div>
                                            <div class="vid-cat-inner">
                                                <div class="vid-cat-hd">
                                                    <h3 class="hdg-green hdg-f hdg-bold">Documentation</h3>
                                                </div>
                                                <div class="vid-cat-bd">
                                                    <p class="copy copy-sm layout-vr-tiny">Bihar | Hindi</p>
                                                </div>
                                                <div class="vid-cat-ft">
                                                    <p>Training is an essential element in the Digital Green approach, since much of our work is centered on enhancing the capacities of our...</p>
                                                </div>
                                            </div> <!-- End .vid-inner -->
                                        </div> <!-- End .vid-cat -->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">Training Resources</h2>
                        <div class="hdg-f hdg-source-reg grid">
                            <div class="grid-col grid-size1of4 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/training/Dissemination-Training-Manual-June-2015.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/training/dissemination_training.png" height="260" width="190" alt=""/> 
                                    </div>
                                    <div class="centered">Dissemination Training Manual</div>
                                </a>
                            </div>
                            <div class="grid-col grid-size1of4 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/training/Video-Production-Training-Manual-2015.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/training/production_training.png" height="260" width="190" alt=""/>
                                    </div>
                                    <div class="centered">Video Production Training Manual</div>
                                </a>
                            </div>
                            <div class="grid-col grid-size1of4 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/pico_seekho/Pico_Training_Manual.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/pico_seekho/manual.png" height="260" width="190" alt=""/>
                                    </div>
                                    <div class="centered">Pico Training Manual</div>
                                </a>
                            </div>
                            <div class="grid-col grid-size1of4 layout-vr-lg">
                                <a href="{{STATIC_URL}}docs/training/Training-App-Guide.pdf" target="_blank">
                                    <div class="img-connect grid-pad-lt-tiny grid-pad-rt-tiny layout-vr-sm centered">
                                        <img src="{{STATIC_URL}}docs/training/training_app.png" height="260" width="190" alt=""/> 
                                    </div>
                                    <div class="centered">Training App Guide</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "includes/footer.html" %}
