{% include "includes/header.html" %}
    
        <section class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="media layout-vr-xlg">
                        <h2 class="hdg-a hdg-source-lt layout-vr-md">Training Resources</h2>
                        <ul class="link-list">
                            <li><a href="#dissemination">Dissemination Training Manual</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="dissemination" role="main" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper">
                    <h2 class="hdg-a hdg-source-lt layout-vr-md">Dissemination Training Manual</h2>
                    <div class="media layout-vr-sm">
                        <iframe class="copy-margin" src="https://www.scribd.com/embeds/281535700/content?start_page=1&view_mode=scroll&show_recommendations=true" data-auto-height="false" data-aspect-ratio="0.7080062794348508" scrolling="no" id="doc_50139" width="944" height="500" frameborder="0" seamless="">
                        </iframe>
                    </div>
                    <div class="centered layout-vr-xlg">
                        <a class="btn" data-toggle="modal" href="{{STATIC_URL}}docs/training/Dissemination-Training-Manual-June-2015.pdf"><span class="label">DOWNLOAD</span></a>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}
