{% include "includes/header.html" %}

        <section id="logos" class="about-bg">
            <div class="inner-wrapper">
                <div class="grid">
                     <div class="grid-col grid-size2of4">
                        <a href="https://www.usaid.gov/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/usaid.png" alt=""/>
                            </div>
                        </a>
                    </div>
                    <div class="grid-col grid-size2of4">
                        <a href="{% url 'home' %}">
                            <div class="img-usaid-right">
                                <img src="{{STATIC_URL}}social_website/content/usaid/dg.png" alt=""/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="digitalintegration" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">DIGITAL INTEGRATION TO SCALE GENDER-SENSITIVE NUTRITIONAL SOCIAL & BEHAVIOR CHANGE COMMUNICATION</h2>
                            <p class="copy layout-vr-sm">Digital Green is applying its low-cost, community-based video approach for enhanced peer-to-peer learning to address Reproductive, Maternal, Newborn, Child, and Adolescent health (RMNCH+A) nutritional goals. This four-year, USAID-funded project Digital Integration to Scale Gender- Sensitive Nutrition Social and Behavior Change Communication (SBCC) promotes a participatory approach using locally relevant content created by, of and for the communities.</p>
                            <p class="copy layout-vr-sm">As part of the project Digital Green will explore complementary ICT platforms that can ensure the most effective way to reach the target populations with focused nutrition messaging.</p>
	                    </div>
                        <div class="grid-col grid-size2of4">
                            <div class="imgExt img-marginLg-lt img-effects img-size-usaid grid-pad-rt-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/impact.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="resources" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-sm">Resources</h2>
                            <div class="grid">
                                <div class="grid-col grid-size2of4 img-size-logo">
                                    <a href="{% url 'resources' %}"><img src="{{STATIC_URL}}social_website/content/usaid/reports.jpg" alt="Reports" /></a>
                                    <p class="hdg-bold">Reports</p>
                                </div>
                                <div class="grid-col grid-size2of4 img-size-logo">
                                    <a href="https://www.flickr.com/photos/digitalgreenorg/albums" target="_blank"><img src="{{STATIC_URL}}social_website/content/usaid/photos.jpg" alt="Image Gallery" />
                                    </a>
                                    <p class="hdg-bold">Photo Gallery</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-sm">Events</h2>
                                <ul class="link-list">
                                    <li><a href="{% url 'events' %}#launch_jsnm_sept_meet" class="link2">Consultative Meeting with Nutrition Stakeholders</a></li>
                                    <li><a href="{% url 'events' %}#launch_jsnm" class="link2">Launch of Jharkhand State Nutrition Mission & Digital Green Partnership</a></li>
                                    <li><a href="{% url 'events' %}#workshop_rmnch" class="link2">Workshop on Nutrition for RMNCH+A and SBCC Strategy Study for Digital Green</a></li>

                                </ul>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>


        <section id="resources" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <div class="grid">
                              <div class="grid-col grid-size2of4 img-size-logo">
                                <a target="_blank" href="https://www.youtube.com/watch?v=l8Bsq7HIgaw&feature=youtu.be" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/l8Bsq7HIgaw/default.jpg"><img height="124" width="217" src="http://i.ytimg.com/vi/l8Bsq7HIgaw/default.jpg"></a>
                                <p class="hdg-bold">Beneficiary of Health Videos in Bihar</p>
                              </div>
                              <div class="grid-col grid-size2of4 img-size-logo">
                                <a target="_blank" href="https://www.youtube.com/watch?v=vM2ZgTF2HOs&feature=youtu.be" class="html5lightbox" data-width="480" data-height="320" data-thumbnail="http://i.ytimg.com/vi/vM2ZgTF2HOs/default.jpg"><img height="124" width="217" src="http://i.ytimg.com/vi/vM2ZgTF2HOs/default.jpg"></a>
                                <p class="hdg-bold">Change Makers on the Ground</p>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>



        <section id="aboutusaid" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">About USAID</h2>
                            <p class="copy layout-vr-sm grid-pad-rt-sm">The United States Agency for International Development (USAID) works to end extreme poverty and promote resilient, democratic societies. USAID partners with the Government of India and the private sector to eliminate preventable child and maternal deaths, create an AIDS- and tuberculosis(TB)-free generation, and achieve universal health coverage.</p>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">About DG</h2>
                            <p class="copy layout-vr-sm">Digital Green (DG) is a not for profit international development organization that uses an innovative digital platform for community engagement to improve livelihoods, health and nutrition of rural communities across South Asia and Sub-Saharan Africa.</p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}
