{% include "includes/header.html" %}
        <style type="text/css">
            .disc {

            }
        </style>
        <section id="logos" class="about-bg">
            <div class="inner-wrapper">
                <div class="grid">
                    
                    <div class="grid-col grid-size1of5" style="margin-bottom: 0px;height: 150px;">
                        <a href="https://www.usaid.gov/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/USAID_logo.png" alt="USAID_logo.png" style="width: 150px;" />
                            </div>
                        </a>
                    </div>
                    
                    <div class="grid-col grid-size1of5" style="float: left;margin-bottom: 0px;height: 150px;">
                        <a href="https://www.awaaz.de/" target="_blank">
                            <div class="img-usaid-left">
                                <img src="{{STATIC_URL}}social_website/content/usaid/Awaaz_De.png" alt="Awaaz_De.jpg" style="width: 100px; height: 95px;margin-top: 10px;" />
                            </div>
                        </a>
                    </div>

                    <div class="grid-col grid-size1of5" style="margin-bottom: 0px;height: 150px;">
                        <a href="http://www.dimagi.com/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/Dimagi.png" alt="Dimagi.png" style="width: 135px;height: 135px;"/>
                            </div>
                        </a>
                    </div>
                    <div class="grid-col grid-size1of5" style="margin-bottom: 0px;height: 150px;">
                        <a href="http://www.farmradio.org/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/FRI.png" alt="FRI.png" style="width: 100px;height: 115px;"/>
                            </div>
                        </a>
                    </div>
                    <div class="grid-col grid-size1of5" style="margin-bottom: 0px;height: 150px;margin-left: -40px;">
                        <a href="https://solutions.digitalgreen.org/" target="_blank">
                            <div class="img-usaid-left layout-vr-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/dg.png" alt="dg.pmg" style="width: 225px; height: 45px;margin-top: 35px;"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="digitalintegration" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">New Alliance ICT Extension Challenge Fund in Ethiopia</h2>
                            <p class="copy layout-vr-sm">Digital Green and its partners, Awaaz.De, Dimagi, and Farm Radio International (FRI), in close partnership with the Government of Ethiopia’s Ministry of Agriculture and Natural Resources (MoANR), Regional Bureaus of Agriculture (RBoAs), and extension agents locally known as Development Agents (DAs) are working to achieve the Government of Ethiopia’s aims under the New Alliance Scaling Seeds and Technologies Partnership (SSTP) and the country’s Comprehensive Africa Agriculture Development Program (CAADP) Policy and Investment Framework.</p>
                            <p class="copy layout-vr-sm">The project develops a comprehensive knowledge exchange system by working across multiple media channels in order to reach a broad target audience of over one million smallholder farmers and provide greater depth of information on key extension topics including agronomic practices and nutrition behaviors. These will be in alignment with the New Alliance ICT Extension Challenge Fund goals and objectives and center on strengthening value-chain interventions within SSTP target crops, including teff, wheat, maize, and chickpea.</p>
                            <p class="copy layout-vr-sm" style="font-weight: bold; font-style: italic;">
                            The three key objectives of the project are:
                            </p>
                            <p class="copy layout-vr-sm">&bull;At least one million smallholder farmers access information about agronomic practices such as improved seeds, fertilizers, other New Alliance priority technologies, and related good agricultural practices (GAPs), in alignment with SSTP goals, using ICT-enabled services.</p>
                            
                            <p class="copy layout-vr-sm">&bull;At least 250,000 smallholder farmers adopt improved agronomic practices through ICT-supported, human-mediated knowledge exchange platforms</p>
                            <p class="copy layout-vr-sm">
                            &bull;The project builds evidence on the cost-effectiveness and efficacy of an integrated ICT-supported extension system at scale.</p> 
                        
                            
	                    </div>
                        <div class="grid-col grid-size2of4" style="margin-top: 100px;">
                            <div class="imgExt img-marginLg-lt img-effects img-size-usaid grid-pad-rt-md">
                                <img src="{{STATIC_URL}}social_website/content/usaid/USAIDEthwebpage.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>
        
        <section id="resources" class="about-bg">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-sm">Resources</h2>
                            <div class="grid">
                                <div class="grid-col grid-size2of4 img-size-logo">
                                    <a href="{% url 'resources' %}"><img src="{{STATIC_URL}}social_website/content/usaid/reports.jpg" alt="Reports" /></a>
                                    <p class="hdg-bold">Reports</p>
                                </div>
                                <div class="grid-col grid-size2of4 img-size-logo">
                                    <a href="https://www.flickr.com/photos/digitalgreenorg/albums/72157652387207751" target="_blank"><img src="{{STATIC_URL}}social_website/content/usaid/USAID-Eth-gallerypic.jpg" alt="Image Gallery" />
                                    </a>
                                    <p class="hdg-bold">Photo Gallery</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-sm">Events</h2>
                                <ul class="link-list">
                                    <li><a href="{% url 'events' %}" class="link2">Digital integration to amplify agricultural extension: Theory of Change Workshop</a></li>
                                    <li><a href="javascript:void(0)" class="link2">Workshop for Representatives from Regional Bureaus of Agriculture</a></li>
                                    <li><a href="javascript:void(0)" class="link2">Consortium Indicator Workshop</a></li>
                                    <li>
                                        <a href="{% url 'events' %}#launch_addis_ababa" target="_blank">New Alliance ICT Extension Challenge Learning Workshop in Addis Ababa.</a>
                                    </li>

                                </ul>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

        <section id="aboutusaid" class="about-bg about-bg-white">
            <div class="wrapper">
                <div class="inner-wrapper media">
                    <div class="grid">
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">About USAID</h2>
                            <p class="copy layout-vr-sm grid-pad-rt-sm">The United States Agency for International Development (USAID) works to end extreme poverty and promote resilient, democratic societies. USAID partners with the Government of India and the private sector to eliminate preventable child and maternal deaths, create an AIDS- and tuberculosis(TB)-free generation, and achieve universal health coverage.</p>
                        </div>
                        <div class="grid-col grid-size2of4">
                            <h2 class="hdg-e hdg-source-reg layout-vr-md">About DG</h2>
                            <p class="copy layout-vr-sm">Digital Green (DG) is a not for profit international development organization that uses an innovative digital platform for community engagement to improve livelihoods, health and nutrition of rural communities across South Asia and Sub-Saharan Africa.</p>
                        </div>
                    </div>
                </div> <!-- End .inner-wrapper -->
            </div> <!-- End .wrapper -->
        </section>

{% include "includes/footer.html" %}
