{% include "includes/header.html" %}

<section id="main" role="main" class="wrapper">
    <div class="inner-wrapper">

        <div class="js-analytics-outer-wrapper">
            <div class=" layoutclass">
                <div class="layout-vr-xlg">
                    <div class="my-select leftrelative">
                        <label class="copy hdg-bold layout-vr-tiny hdg-green">FROM</label>
                        <input class="search search-input-wrapper input-block-level js-startperiod" id="sdate" type="month" placeholder="Start Date" />
                    </div>
                    <div class="my-select leftrelative">
                        <label class="copy hdg-bold layout-vr-tiny hdg-green">TO</label>
                        <input class="search search-input-wrapper input-block-level js-endperiod" id="edate" type="month" name="edate"/>
                    </div>
                </div>

                <div class="push-top-sm layout-vr-xlg">
                    <div class="my-select js-custom-select leftrelative">
                        <label class="copy hdg-bold layout-vr-tiny hdg-green">PARTNER</label>
                        <select id = "partnerlist" class="chosen-select js-partnerlist">
                            <option value=''>---------</option>
                            {% for pa in partner%}
                            <option value = "{{pa.id}}">{{pa.partner_name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="my-select leftrelative">
                        <label class="copy hdg-bold layout-vr-tiny hdg-green">DISTRICT</label>
                        <div class="js-district-container"></div>
                    </div>

                    <div class="my-select js-custom-select leftrelative">
                        <label class="copy hdg-bold layout-vr-tiny hdg-green">BLOCK</label>
                        <div class="js-block-container"></div>
                    </div>

                    <div class="fright">
                        <input type="submit" value="GO" class="btn js-go-btn"/>
                    </div>
                </div>

                <div class="push-top-md layout-vr-lg hidden js-explanation">
                    <p>* Successful Screening: Screening with equal to or more than 60% attendance.</p>
                    <p>** Successful Videos Adoption: Videos adopted by equal to or more than 30% people of attendees for particular screening.</p>
                </div>

                <div class="layout-vr-sm">
                    <table class="display" id="paymenttable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

 {% include "includes/footer.html" %}

