                                    <select id = "blocklist" class="chosen-select js-video-criteria js-blocklist">
                                        <option value='' selected='selected'>---------</option>
                                        {{#block}}
                                        <option value = {{id}}>{{block_name}}</option>
                                        {{/block}}
                                    </select>
                                    
                                    
                                    
                                    