<li class="vidDrawer-video show-playing js-vidDrawer-video" id="{{uid}} " data-title="{{ title }}">
                                                <div class="vidDrawer-image">
                                                    <img src="{{ thumbnailURL }}" class="vidDrawer-image cursor-move" alt="{{title}}" />
                                                </div>
                                                <div class="video-remove"></div>
                                                <br>
                                                <div class="vidDrawer-hd copy-dk">
                                                    <span class="copy-extra-lt">{{ title }}</span>
                                                </div>
                                            </li>