<h2 class="hdg-e hdg-black hdg-bold layout-vr-sm copy-margin">Practice Mapping</h2>
<div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Category</label>
                                    <select id = "catlist" class="chosen-select">
                                    <option value='' selected='selected'>---------</option>
                                    {{#category}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/category}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Subcategory</label>
                                    <select id = "subcatlist" class="chosen-select">
                                    <option value='' selected='selected'>---------</option>
                                    {{#subcategory}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/subcategory}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Topic</label>
                                    <select id = "topiclist" class="chosen-select">
                                    <option value='' selected='selected'>---------</option>
                                    {{#topic}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/topic}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Subtopic</label>
                                    <select id = "subtopiclist" class="chosen-select">
                                    <option value='' selected='selected'>---------</option>
                                    {{#subtopic}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/subtopic}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Subject</label>
                                    <select id = "subjectlist" class="chosen-select">
                                    <option value='' selected='selected'>---------</option>
                                    {{#subject}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/subject}}
                                    </select>
                                </div>