					<div class="grid-col grid-size3of4">
                    	<a href="{{link}}">
                    		<img src="{{collageURL}}" width=642 height=321 alt="">
                    	</a>
                    </div>
                    <div class="grid-col grid-size1of4">
                        <div class="grid-pad-lt-sm">
                           <h3 class="hdg-green hdg-c layout-vr-sm">{{title}}</h3>
                            <h4 class="copy hdg-bold"> {{state}}, {{country}}</h4>
                            <h5 class="copy layout-vr-sm">{{language}}</h5>
                            <p class="layout-vr-md"></p>
                            <div class="featured-logo copy layout-vr-md">
                            	<a href={{partner_url}}>
                            		<img class="" src="{{partner_logo}}" height=41 width=39 alt="" /> 
                               	</a>
                                {{partner_name}}
                            </div>
                            <div class="featured-ft">
                                <div class="featured-ft-videoDetails">
                                   <ul class="h-list h-list-sm h-list-divided copy copy-white">
                                       <li>{{video_count}} Videos</li>
                                       <li>{{duration}}</li>
                                   </ul>
                                </div>
                                <ul class="h-list h-list-sm copy-sm copy-dk vid-cat-list-dk">
                                    <li class="like"><span class="text-hide">Likes</span>{{likes}}</li>
                                    <li class="view"><span class="text-hide">Viewed</span> {{views}}</li>
                                    <li class="check"><span class="text-hide">Adopted</span> {{adoptions}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>