<h2 class="hdg-e hdg-black hdg-bold layout-vr-sm copy-margin">Practice Mapping</h2>
<div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Category</label>
                                    <select id = "catList" class="chosen-select js-catlist">
                                    <option value='' selected='selected'>---------</option>
                                    {{#category}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/category}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Subcategory</label>
                                    <select id = "subcatList" class="chosen-select js-subcatlist">
                                    <option value='' selected='selected'>---------</option>
                                    {{#subcategory}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/subcategory}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Practices</label>
                                    <select id = "practices" class="chosen-select js-practiceslist">
                                    <option value='' selected='selected'>---------</option>
                                    {{#practices}}
                                        <option value = "{{practices.id}}">{{.}}</option>
                                    {{/practices}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Tags</label>
                                    <select id = "tags" class="chosen-select js-subtopiclist">
                                    <option value='' selected='selected'>---------</option>
                                    {{#tags}}
                                        <option value = "{{}}">{{.}}</option>
                                    {{/tags}}
                                    </select>
                                </div>
                               <!--  <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Subject</label>
                                    <select id = "subjectlist" class="chosen-select js-subjectlist">
                                    <option value='' selected='selected'>---------</option>
                                    {{#subject}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/subject}}
                                    </select>
                                </div> -->
<!-- <option value = "{{pa.uid}}">{{pa.name}}</option> -->