<h2 class="hdg-e hdg-black hdg-bold layout-vr-sm copy-margin">Practice Mapping</h2>
<div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Category</label>
                                    <select id = "catlist" class="chosen-select js-catlist">
                                    <option value='' selected='selected'>---------</option>
                                    {{#category}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/category}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Subcategory</label>
                                    <select id = "subcatlist" class="chosen-select js-subcatlist">
                                    <option value='' selected='selected'>---------</option>
                                    {{#subcategory}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/subcategory}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Video Practices</label>
                                    <select id = "topiclist" class="chosen-select js-topiclist" multiple>
                                    {{#topic}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/topic}}
                                    </select>
                                </div>
                                <div class="grid-size1of5 grid-col">
                                    <label class="copy layout-vr-tiny">Tags</label>
                                    <select id = "subtopiclist" class="chosen-select js-subtopiclist" multiple>
                                    {{#tags}}
                                        <option value = "{{.}}">{{.}}</option>
                                    {{/tags}}
                                    </select>
                                </div>
                                
