/* You can add global styles to this file, and also import other style files */


/* @import url('https://fonts.google.com/selection?selection.family=Montserrat'); */

body, html {
  font-family: 'Montserrat', sans-serif;
}

.dg_logo {
  height: 40px;
  margin-right: 10px;
}

.bg-inverse {
  background: #3D3D3F !important;
}

/*Highchart exporting option with menuItem containing a dropDown of items to changes graph content*/
.highcharts-menu {
  overflow: auto;
  height: 200px;
}

.customClass.active > a {
  background-color: #656566 !important;
}

.customClass > a {
  background-color: #9AA0A7 !important;
}
.customClass>a {
  color: white !important;
}
.nav-tabs .nav-item {
  margin-left: 1px;
  margin-right: 0.5px;
}

.customClass > a:hover {
  background-color: #9e9e9f !important;
}

.customClass.active > a:hover {
  background-color: #656566 !important;

}

/* .nav-justified .nav-item {
flex:0 1 50%;
} */
